@import "./app/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
#contents_wrap{padding: 0;}
.campaign_activechill{

    .btn{
        display: inline-block;
        width: 250px;
        text-align: center;
        color:#fff;
        font:400 18px/60px 'NotoSansKR';
        border:1px solid #fff;
        background: rgba(0,0,0,0);
        transition: all 0.5s;
        -webkit-transition: all 0.5s;

        &:hover{
            background: rgba(0,0,0,0.4);
        }
    }
    .main_visual{
        position: relative;
        height: 824px;

        &.active{

            .masthead{
                opacity: 1;
                -webkit-opacity: 1;
            }
        }
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left: -960px;
        }
        .masthead{
            position: relative;
            padding: 235px 0 0 0;
            text-align: center;
            opacity: 0;
            -webkit-opacity: 0;
            transition: all 0.8s;
            -webkit-transition: all 0.8s;
            text-align: center;
            h2{
                font: 81px 'DINWebPro-CondMedium';
                color: #fff;
                text-align: center;
            }
            p{
                padding: 0 0 2rem;
                font:300 1.4rem 'DINWebPro-Cond';
                color:#ab2328;
                letter-spacing: 0.4rem;
                text-align: center;
            }
            a.btn-buy{
                position: relative;
                display: inline-block;
                width: 200px;
                height: 50px;
                font: 400 16px/50px 'NotoSansKR';
                color: #fff;
                border: 1px solid #fff;
                text-align: center;
            }
            a.play-video{
                position: relative;
                display: block;
                width: 60px;
                height: 60px;
                border: 2px solid #fff;
                box-sizing: border-box;
                margin: 50px auto 0;
                &.btn-play-video{
                    font: 18px/60px 'NotoSansKR';
                    margin: 0 4px;
                    padding-right: 25px;
                    .ico-video{
                        position: absolute;
                        top: 17px;
                        right: 35px;
                        display: inline-block;
                        width: 25px;
                        height: 25px;
                        background: url('http://image.reebok.co.kr/images/reebok/event/about/always/ico-video.png') 0 0 no-repeat;
                    }
                }
            }
        }
    }

    .products_collection{
        width: 100%;
        height: 930px;      
        position: relative;       
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left: -960px;
        }
        h3{
            position: relative;
            padding: 65px 0 50px;
            text-align: center;
            font: 70px 'DINWebPro-CondMedium';
            color: #e9e9d9;
            text-transform: uppercase;
        }
        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:640px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            .arrow-prev{
                position: absolute;
                top:50%;
                left:50%;
                margin-left: -491px;

                z-index: 2;
                width: 26px;
                height: 26px;
            }
            .arrow-next{
                position: absolute;
                top:50%;
                left:50%;
                margin-left:479px;

                z-index: 2;
                width: 26px;
                height: 26px;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 640px;
                li{
                    width: 970px;
                    position: relative;
                    float: left;
                    text-align: center;
                    @include opacity(0.6);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                    img{
                        position: relative;
                        display: inline-block;
                    }
                }
                li.active{
                    @include opacity(1);
                    img{
                        &.over{
                            @include opacity(1);

                        }
                    }
                }
            }
        }
        .slider-btn{
            width: 100%;
            position: relative;
            padding: 30px 0;
            text-align: center;
            a{
                display: inline-block;
                width: 12px;
                height: 10px;
                padding-top: 2px;
                text-align: center;
                margin-right: 8px;
                background: #fff;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                color: #fff;
                opacity: .4;
                &.on{
                    opacity: 1;
                }
            }
        }
    }

    .products_collection2{
        width: 100%;
        height: auto;
        position: relative;
        transition: 0.8s;    
        background: #000;
        ul{
            overflow: hidden;
            li{
                position: relative;
                float: left;
                width: 25%;               
                img{
                    width: 100%;
                }
                .box_effect{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.6); 
                    text-align: center;  
                    transition: 1s;
                    opacity: 0;                    
                    &.on {
                        opacity: 1;
                    }               
                }
                a{
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 52%;
                    transform: translate(-50%, -50%);
                    background: none;
                    border: none;
                    color: #fff;
                    font-size: 18px;
                    cursor: pointer;
                    text-align: center;
                    span{
                        display: block;
                        padding: 25px 0 20px;
                        font: 300 26px 'DINWebPro-CondMedium';
                        color: #e9e9d9;
                        text-align: center;
                        &::before, &::after {
                            content:"";
                            width:1px;
                            height:0;
                            position: absolute;
                            transition: all 0.2s linear;
                            background: #fff;
                        }
                    }
                    &:focus{
                        outline:0 !important;
                    }
                    &::before, &::after{
                        content:"";
                        width: 0;
                        height: 1px;
                        position: absolute;
                        transition: all 0.2s linear;
                        background: #fff;
                    }
                    &.on{
                        &::before, &::after{
                            width: 100%;
                        }
                        span{
                            &::before, &::after {
                                height: 100%;
                            }
                        }
                    }
                }
                .btn-now {
                    &::before {
                        left: 50%;
                        top: 0;                        
                        transition-duration: 0.4s;
                    }
                    &::after {
                        left: 50%;
                        bottom: 0;                        
                        transition-duration: 0.4s;
                    }
                    span {
                        &::before {
                            left: 0;
                            top: 50%;                            
                            transition-duration: 0.4s;
                        }
                        &::after {
                            right: 0;
                            top: 50%;                            
                            transition-duration: 0.4s;
                        }
                    }
                    &.on {
                        &::before, &::after {
                            left: 0;
                        }
                        span {
                            &::before, &::after {
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
