@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
.campaign_floatride{
    .visual_video{
        background: #000;
        h2{
            height: inherit;
            text-indent: 0;
            background:none;
            font:85px/90px 'QStencil';
            text-transform: uppercase;
            span{
                font:25px/45px 'QStencil';
                vertical-align: top;
            }
        }
        .desc_eng{
            font:24px/24px 'DINWebPro-CondMedium';
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .desc_eng2{
            margin-bottom: 55px;
            font:22px/28px 'NotoSansKRRegular','Nanum Gothic';
        }

        .bg{
            @include opacity(0);
            @include prefix-css3(transition ,opacity 1.2s ease-in);
        }

        .masthead{
            @include opacity(0);
            @include prefix-css3(transition ,opacity 1s ease-in);
            &.active{
                @include opacity(1);
            }
        }

        &.active{
            .bg{
                @include opacity(1);
            }
        }

        .video_bg{
            &.ended{
                @include opacity(0);
                @include prefix-css3(transition ,opacity 1.6s ease-in);
            }
        }
        .masthead{
            @include opacity(0);
            @include prefix-css3(transition,opacity 0.6s ease 1.5s);

            &.active{
                top:52%;
                @include opacity(1);
                h2{
                    margin:0 auto 24px;
                }
                .desc_eng{
                    color:#fff;
                }
            }
        }
    }

    .main{
        position: relative;
        .bg{
            img{
                position: absolute;
                top:0;
                left:50%;
                margin-left: -990px;
            }
        }
        .content{
            position: relative;
            width: 889px;
            height: 650px;
            margin:0 auto;
            .right{
                position: absolute;
                top:115px;
                right: 0;
                a.buy{
                    position: absolute;
                    top:368px;
                    right:50%;
                    width: 223px;
                    text-align: center;
                    // width: 240px;
                    margin-right: -156px;
                    border:2px solid #fff;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;

                    &:hover{
                        .bg{
                            @include opacity (0.5);
                        }
                    }
                    p{
                        position: relative;
                        top:-1px;
                        display: inline-block;
                        text-align: center;
                        color:#fff;
                        font:22px/60px 'NotoSansKRRegular';
                        z-index: 3;
                    }
                    .bg{
                        position: absolute;
                        top:0;
                        left:0;
                        width: 100%;
                        height: 100%;
                        background: #000;
                        @include opacity (0.0);
                        z-index: 2;
                    }
                }
            }
            .left{
                position: absolute;
                top: 25px;
                left: -158px;
                .box{
                    position: absolute;
                    top:0;
                    left:0;
                    @include opacity(0);
                    @include prefix-css3(transition,opacity 0.6s ease 1.5s);
                    img{
                        @include prefix-css3(transition,all 0.6s ease 1.5s);
                    }
                    &.on{
                        @include opacity(1);
                        img{
                            transform: scale(0.9);
                        }

                    }
                }

            }
        }
    }

    .perform{
        min-width: 1200px;
        position: relative;
        // width: 107%;
        height: 820px;
        overflow: hidden;
        @media screen and (max-width: 1850px){
            height: 800px;
            .bg{
                img{
                    // width: 107%;
                }
            }

        }

        .bg{
            position: absolute;
            left:50%;
            margin-left: -990px;
            transition:all 0.3s ease-out;
            img{
                position: relative;
                top:-2px;
                // width:105%;
                @media screen and (max-width: 1630px){
                    // width: 120%;
                }


            }
        }
        .bg_shoe{
            position: absolute;
            top: 260px;
            right: 50%;
            margin-right: -364px;
            transition:all 0.1s ease-out;
            -webkit-transition:all 0.1s ease-out;

        }
        .txt_wrapper{
            position: relative;
            top: 55px;
            width: 419px;
            margin: 0 auto;
            z-index: 10;
            .txt_box{
                text-align: center;
                .main_txt{
                    display: inline-block;
                }
                .main_txt:hover img{
                    opacity: 1;
                }


                a.buy{
                    position: absolute;
                    top:161px;
                    right:50%;
                    margin-right: -156px;
                    border:2px solid #423e3c;

                    &:hover{
                        .bg{
                            @include opacity (0.5);
                        }
                    }
                    p{
                        position: relative;
                        padding:2px 78px 0 78px;
                        color:#231f20;
                        font:22px/56px 'DINWebPro-Cond','NotoSansKR';
                        z-index: 3;
                    }
                    .bg{
                        position: absolute;
                        top:0;
                        left:0;
                        width: 100%;
                        height: 100%;
                        background: #fff;
                        @include opacity (0.2);
                        z-index: 2;
                    }
                }
            }
        }

        .spot{
            .target1{
                    position: relative;
                    display: inline-block;
                    width: 46px;
                    height: 46px;
                    background:url('http://image.reebok.co.kr/images/reebok/event/about/floatride/target2.png') 50% 100% no-repeat;
                    transition:all 0.2s ease-out;
                    z-index: 5;
                    a{
                        position: absolute;
                        top:50%;
                        left:50%;
                        margin-left: -7px;
                        margin-top: -7px;
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        background:url('http://image.reebok.co.kr/images/reebok/event/about/floatride/icon.png') 50% 100% no-repeat;
                        background-position:0px 0;

                    }
                    &:hover{
                        background: #aa4398;
                        a{
                            // background-position:-28px 0;
                        }
                    }
                    &.active{
                        background: #aa4398;
                        a{
                            background-position:-28px 0;
                        }
                    }


                }

            .content1{
                visibility: hidden;
                margin-left: -265px;
                margin-top: -170px;
                transition:all 0.6s ease-out;
                -webkit-transition:all 0.6s ease-out;
                .con_img{
                    width: 320px;
                    @include prefix-css3(transform,scale(0));
                    @include prefix-css3(transform-origin,center right);
                    @include prefix-css3(transition,all 0.5s);
                }
                .text{

                    @include prefix-css3(transition,all 0.2s ease-out);
                    @media screen and (max-width: 1585px){
                        // margin-top:-203px;
                    }

                    .heading{
                        display: inline-block;
                        padding-right: 80px;
                        margin-bottom: 10px;
                        color:#fff;
                        opacity: 0;
                        border-bottom:1px solid #aa4398;
                        font:600 26px/48px  'NotoSansKR','Nanum Gothic';
                        @include prefix-css3(transform,translate3d(20px,0,0));
                        transition:all 0.5s ease-out;

                        }
                    .desc{
                        color:#fff;
                        opacity: 0;
                        font:600 15px/20px  'NotoSansKRLight','Nanum Gothic';
                        @include prefix-css3(transform,translate3d(20px,0,0));
                        transition:all 0.5s ease-out;

                        }
                    }
                }

                &.active{
                    .con_img{
                        @include prefix-css3(transform,scale(1));
                        @media screen and (max-width: 1890px){
                            @include prefix-css3(transform,scale(0.8));
                        }
                        @media screen and (max-width: 1780px){
                            @include prefix-css3(transform,scale(0.8));
                        }
                        @media screen and (max-width: 1480px){
                            @include prefix-css3(transform,scale(0.6));
                        }
                    }
                    .text{

                        .heading{
                            opacity: 1;
                            @include prefix-css3(transform,translate3d(0,0,0));
                            @include prefix-css3(transition-delay,0.5s);
                        }
                        .desc{
                            opacity: 1;
                            @include prefix-css3(transform,translate3d(0,0,0));
                            @include prefix-css3(transition-delay,0.8s);
                        }
                    }

                }
            &.point1{
                position: absolute;
            top: 83%;
            right: 48%;
                @media screen and (max-width: 1780px){
                    // top:80%;
                }


                .content1{
                    .text{
                        margin-left:-265px;
                        margin-top:-218px;
                        @media screen and (max-width: 1480px){
                            margin-left: -160px;
                        }
                    }
                }
            }
            &.point2{
                position: absolute;
                top:64%;
                right:32%;
                @media screen and (max-width: 1787px){
                    top:70%;
                }
                @media screen and (max-width: 1780px){
                    top:70%;
                }
                @media screen and (max-width: 1580px){
                    // top:44%;
                    right:28%;
                }
                @media screen and (max-width: 1280px){
                    // top:44%;
                    right:22%;
                }

                .content1{
                    position: relative;
                    width: 318px;
                    top:3px;
                    left:50%;
                    margin-left: -291px;
                    .con_img{
                        @include prefix-css3(transform-origin,center right);
                    }
                    .text{
                        width: 100%;
                        position: absolute;
                        top:99%;
                        left:0;
                        @media screen and (max-width: 1890px){
                            top:87%;
                        }
                        @media screen and (max-width: 1585px){
                            // margin-top: -7px;
                        }
                        @media screen and (max-width: 1480px){
                            // margin-top: -59px;
                        }
                    }
                }



            }
            &.point3{
                height: 40px;
                position: absolute;
                top: 40%;
                right:58%;
                @media screen and (max-width: 1585px){
                }
                @media screen and (max-width: 1780px){
                    // top:25%;
                    // right:62%;
                }
                @media screen and (max-width: 1480px){
                    // top:25%;
                    // right:68%;
                }

                .content1{
                    position: relative;
                    margin-left: -265px;
                    margin-top: -174px;
                    .con_img{
                        @include prefix-css3(transform-origin,center right);
                    }
                    .text{
                        margin-left: 0px;
                        margin-top:14px;
                        @media screen and (max-width: 1585px){
                            margin-top: -53px;
                        }
                        @media screen and (max-width: 1780px){
                            margin-top: -47px;
                        }
                        @media screen and (max-width: 1480px){
                            margin-top: -97px;
                        }
                    }
                }
            }

        }
    }


    .products_collection{
        width: 100%;
        // height: 100%;
        // height: 1135px;
        position: relative;
        background: #323232;
        // background:url('http://image.reebok.co.kr/images/reebok/event/about/printsmooth/gal_bg.jpg?v=1') no-repeat;
        background-size: 100% 100%;

        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left:-990px;
            }
        h4{
            position: relative;
            padding:37px 0 14px;
            z-index: 1;
            font:50px/90px 'QStencil';
            text-align: center;
            color:#fff;
            }
        p.title{
            position: relative;
            padding-bottom: 44px;
            width: 100%;
            font:18px/25px 'NotoSansKRlight';
            text-align: center;
            color:#fff;
        }
        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:550px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            background: #000;
            .arrow-prev{
                position: absolute;
                top:50%;
                left:50%;
                margin-left: -420px;
                background-position: -125px -80px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            .arrow-next{
                position: absolute;
                top:50%;
                left:50%;
                margin-left:420px;
                background-position: -125px -125px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 550px;
                li{
                    width: 765px;
                    position: relative;
                    float: left;
                    @include opacity(0.4);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);

                }
                li.active{
                    @include opacity(1);
                }
            }

        }
        .prodlist_wrap{
            position: relative;
            height: 330px;
            background: #ebeaee;
            overflow: inherit;
            z-index: 2;
            border-bottom-width: 0;
            // margin-bottom: 100px;
            .arrow{
                position: absolute;
                left:50%;
                top:-21px;
                margin-left: -21px;
                background-position: -140px 0;
                width: 43px;
                height: 21px;
            }
            .prodlist_box{
                width: 980px;
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -500px;
                display: none;
                h5{
                    position: absolute;
                    top:36px;
                    text-align: center;
                    width: 100%;
                }
                .product-list{
                    &:after{
                        content: '';
                        display: block;
                        height: 0;
                        clear: both;
                    }
                    .item{
                        width: 25%;
                        float: left;
                        // float:none;
                        margin:0 auto;
                        text-align: center;
                        .img{
                            height: 203px;
                            // padding-top: 70px;
                            img{
                                margin-top: 65px;
                            }
                        }
                        .tit{
                            margin-bottom: 5px;
                        }
                        .ctgr{
                            font:16px 'DINWebPro-CondBold';
                            span{
                                &.men{
                                    color:#6d9c12;
                                }
                                &.women{
                                    color:#aa4398;
                                }
                            }
                        }
                    }
                }
            }
            .prodlist_box.last{
                ul{
                    li{
                        .img{
                            img{
                                margin-top: 23px !important;
                            }
                        }
                    }
                }
            }
            .slider-btn{
                width: 100%;
                position: absolute;
                bottom: -48px;
                left:0;
                text-align: center;
                a{
                    margin-right: 15px;
                }
            }
        }
    }

    .banner_area{
        width:100%;
        height:100%;
        position: relative;
        .bg{
            position: absolute;
        }
        .inner{
            text-align: center;
        }
    }
}
/* floatride end */
