@import "./front/css/adidas/scss/common/mixin.scss";
@import "./front/css/adidas/scss/common/common.scss";

#ivypark {
  section {
    position: relative;
    margin: 0 auto;
    min-width: 1250px;
  }
  // span, p{
  // 	white-space: nowrap;
  // }
  // h3, h4, p{
  // 	text-align: center;
  // 	color: #000;
  // }
  // p{
  // 	font: 400 21px/35px $noto;
  // }
  .heads {
    font: 40px/40px $adinBld;
    color: #000;
    text-align: center;
  }
  .visuals {
    $val: 464px;
    @include auto($val);
    // .visuals__figure{
    // 	@include center(0, auto, 50%, $ctX);
    // }
  }
  .visuals__text{
    text-align: center;
    padding: 55px 0;
    .btn_default {
      margin: 0;
    }
  }
  .models {
    > img {
      width: 100%;
    }
  }
  .carousel__container {
    &.carousel01 {
      h3 {
        padding: 70px 0;
        letter-spacing: 1px;
      }
    }
    &.carousel02 {
      .slider__nav {
        top: 50%;
      }
      .slick-dots {
        margin-bottom: 65px;
      }
    }
    .slick-list {
      width: 75%;
      margin: 0 auto;
      overflow: visible;
      .slick-track {
        .item {
          img {
            width: 98.5%;
            margin: 0 auto;
          }
        }
      }
    }
    .slick-dots {
      text-align: center;
      padding: 30px 0;
      li {
        display: inline-block;
        margin: 4px 3px;
        width: 18px;
        background: #747474;
        height: 1px;
        vertical-align: bottom;
        &:hover {
          height: 4px;
          transition: 0.1s cubic-bezier(0.3, 0, 0.45, 1);
        }
        &.slick-active {
          height: 4px;
          background: #000;
        }
        button {
          border: 0;
          background: none;
          text-indent: -9999px;
        }
      }
    }
    .slider__nav {
      @include center(59%, auto, 50%, $ctct);
      width: 1200px;
      margin: 0 auto;
      @media screen and (max-width: 1250px) {
        width: 1000px;
      }

      .prev-button {
        float: left;
      }
      .next-button {
        float: right;
        transform: rotate(180deg);
      }
    }
  }
  .events {
    > div {
      width: 580px;
      margin: 0 auto;
      text-align: center;
      padding: 50px 0 95px 0;
    }
    h4 {
      line-height: 45px;
    }
    p {
      font: 400 20px/27px $noto;
      color: #000;
      text-align: center;
      margin: 15px 0 50px 0;
    }
    > img {
    }
  }
  .bottoms {
    $val: 713px;
    @include auto($val);
    .btn_default {
      position: absolute;
      top: 365px;
      left: 50%;
      margin-left: -570px;
    }
  }
}
