@import "./front/css/reebok/scss/about.scss";

/* common */
#wrap{
    overflow: hidden;
    min-width: 1160px;
}
#contents_wrap{padding: 0;}
.button_area_v2{
	display: inline-block;
	&:hover{
		>div{
			// .bg{
			// 	box-shadow: inset 0 0 0 1px #fff!important;
			// 	-webkit-box-shadow: inset 0 0 0 1px #fff!important;
			// 	// @include css3(transition, all 0.5s);
			// }
			a{
				color: #767677!important;
				background: #fff!important;
				span{
					background: #767677!important;
					em{
						background: #767677!important;
					}
				}

			}
		}
	}
	div{
		position: relative;
		&.white{
			.bg{
				box-shadow: inset 0 0 0 1px #fff;
				-webkit-box-shadow: inset 0 0 0 1px #fff;
			}
			a{
				color: #000;background: #fff;
				.arrow{
					background: #000;
					em{
						background: #000;
					}
				}
			}
		}
		.bg{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translate(3px,3px);
			-webkit-transform: translate(3px,3px);
			box-shadow: inset 0 0 0 1px #000;
			-webkit-box-shadow: inset 0 0 0 1px #000;
			z-index:1;
		}
		a{
			position: relative;
			display: block;
			text-align: center;
			height: 50px;
			font: 500 15px/49px 'NotoSansKR';
			color: #fff;
			background: #000;
			z-index: 2;
			letter-spacing: 1px;
			padding:0 20px;
			.arrow{
				position: relative;
				top:-1px;
				display: inline-block;
				margin-left: 20px;
				width: 25px;
				height: 2px;
				background: #fff;
				vertical-align: middle;
					em{
						position: absolute;
						right: 0;
						width: 8px;
						height: 3px;
						background: #fff;
						transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						&.top{
							top:-3px;
						}
						&.bottom{
							bottom: -3px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);
						}
					}

			}
		}
	
	}
}

.rel{
	position: relative;
}
.bt21{
	background:#000;
	.main__wrapper{
		position: relative;
		// height: 1080px;
		>video{
			// position: absolute;
			// top:0;
			// left:50%;
			// transform: translateX(-50%);
			z-index: 0;
			width:100%;
			source{
			}
		}
		>img{
			position: absolute;
			top:0;
			left:50%;
			transform: translateX(-50%);
			z-index: 0;
		}
		
		.txt{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -100%);
			text-align: center;
			a{
				img{
					width:125%;
				}
			}
		}
	}
	.article__wrapper{
		height:510px;
		.wrapper{
			position: relative;
			top:90px;
			width:955px;
			min-width:870px;
			margin: 0 auto;		
			text-align: center;
			&::after{
				display: block;
				clear: both;
				content: '';
			}
			div{
				float: left;
				h1{
					color:#fff;
					font: 900 44px/44px 'neueplak';
					margin:28px 0 0 0;
					span{
						font: 500 28px/50px "NotoSansKR";
						color: #fff;
					}
				}
				p{
					font: 300 18px/28px "NotoSansKR";
					color: #fff;
					margin:8px 0 0 0;

				}
				.button_area_v2{
					margin: 45px 0 0 0;
				}
				&:nth-child(2){
					margin: 0 0 0 100px;
					img{

					}
				}
			}
		}
	}
	.section__container{
		height:930px;
		.deco01{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -640px;
			z-index:0;
		}
		.deco02{
			position: absolute;
			bottom: 15px;
			left: 50%;
			margin-left: -62px;
			z-index:0;
		}
		.section__wrapper{
			position: absolute;
			top: 190px;
			left: 50%;
			margin-left: -510px;
			z-index:1;
			>div{
				width: 960px;
				.slide{
					z-index: 1;
					position: absolute;
					top: 17px;
					left: 50%;
					margin-left: -595px;
					.slider{
						width: 1222px;
						.slick-slide{
							width: 1222px;
						}
	
					}
					.slick-dots{
						display: block;
						position: absolute;
						bottom: -20px;
						left: 50%;
						margin-left: -669px;
						li{
							width:5px;
							height:74px;
							background:#4b535e;
							margin: 20px 0;
							&.slick-active{
								background:#fff;
							}
							button{
								display: none;
							}
						}
					}
				}
				.slide__bg{
					margin: 0 0 0 auto;
				}
				.slick-arrow{
					width:36px;
					height:63px;
					border: 0;
					text-indent: -9999px;
					display: inline-block;
					position: absolute;
					top: 260px;
					left: 50%;
					
					&.slick-prev{
						background:url('/images/reebok/2020/event/classic/bt21/0201/0201_r_BT21_prev_DT.png') no-repeat;
						background-size:auto auto;
						background-position: top;
						margin-left: -550px;
					}
					&.slick-next{
						background:url('/images/reebok/2020/event/classic/bt21/0201/0201_r_BT21_next_DT.png') no-repeat;
						background-size:auto auto;
						background-position: top;
						margin-left: 515px;
					}
				}
				.slick-dots{
					text-align: center;
					margin: 25px 0 0 0;
					li{
						width: 11px;
						height: 11px;
						border: 2px solid #fff;
						border-radius: 50%;
						text-indent: -9999px;
						display: inline-block;
						margin:0 3px;
						&.slick-active{
							background:#fff;
						}
					}
				}
			}
		}
	}
	.event__wrapper{
		height:1200px;
		.ct{
			position: absolute;
			top:80px;
			left:50%;
			transform: translateX(-50%);
		}
	}
}
// @media screen and (max-width:1510px) {
// 	.winter{
// 		.section_container{
// 			.btm__wrapper{
// 				.txt{
// 					position: absolute;
// 					bottom: 15%;
// 					right: 6%;
	
// 				}
// 			}
// 		}
// 	}
// }