@import "./front/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
#contents_wrap{padding: 0;}
.campaign_myt{
    .btn{
        display: inline-block;
        width: 142px;
        background: #fff;
        cursor: pointer;
        a{
            position: relative;
            display: block;
            color:#000;
            font: 600 14px/50px 'NotoSansKR';
            text-align: center;
            letter-spacing: 1.7px;
            span{
                display: inline-block;
                margin-left: 20px;
                width:24px;
                height:12px;
                background:url('/images/reebok/2019/event/fury/pumpfury/ico_arrow.png') no-repeat;
            }
            &:after{
                display: inline-block;
                content: '';
                border: 1px solid #fff;
                position: absolute;
                top: 0;left: 0;right: 0;bottom: 0;
                transform: translate(3px, 3px);
            }
        }
    }

    .main_visual{
        position: relative;
        height: 900px;
        &.on{
            .inner{
                >*{
                    transform: translateY(0) !important;
                    opacity: 1 !important;
                }
            }
        }
        .bg_area{
            position: absolute;
            width: 1920px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            img{
                display: block;
                width: 100%;
            }
        }
        .inner{
            width: 1160px;
            margin: auto;
            text-align: center;
            >img{
                padding-top: 30px;
                transform: translateY(30px);
                transition: .4s;
                opacity: 0;
            }
            p{
                padding: 35px 0;
                font: 400 16px "NotoSansKR";
                color: #fff;
                text-align: center;
                transform: translateY(30px);                
                transition: .4s;
                transition-delay: .4s;
                opacity: 0;
            }
            .btn{
                transform: translateY(30px);
                transition: .4s;
                transition-delay: .8s;
                opacity: 0;
            }
        }
    }

    .sect_video{
        position: relative;
        height:750px;
        overflow: hidden;
        .inn{
            position: absolute;
            top:342px;
            left:50%;
            z-index: 2;
            &.play_btn{
                cursor: pointer;
            }
        }
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left: -960px;
        }
    }

    .statement{
        position: relative;
        padding: 60px 0 40px;
        background : #009278;
        .inn{
            text-align: center;
            .btn{
                margin:15px 0 0 0;
            }
            h1{
                text-align: center;
                font:700 64px/64px 'PFDinMonoPro-Bold';
                letter-spacing: -2px;
                word-spacing: -18px;
                color:#fff;
            }
        }
    }

    #image-grid{
        position: relative;
        background: #000;
        .image-grids .image-grid .col .img2-3{
            background-size: 100% 101%;
            background-position: top center;
            .btn{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                a{
                    background:#fff;

                }
            }
        }

        .igrid1{
            >img{
                transform: translateY(-102px);
            }
        }
    }
}
