@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#forum{
	width: 100%;
	position: relative;
	overflow: hidden;
	
	.button{
		width: 270px;
		height: 60px;
		display: inline-block;
	    border: 2px solid #000;
	    text-align: center;
	    font: 500 18px/58px 'NotoSansKR','Nanum Gothic';

		.link_arrow{
			display:inline-block;
			position: relative;
			top: -2px;
			width: 16px;
			height: 16px;
			background: url('http://image.adidas.co.kr/images/adidas/event/iniki/icon.png') no-repeat;
			background-position: 0 0;
			margin-left: 10px;
			vertical-align: middle;
		}

		&.white{
			border-color: #fff;
			color: #fff;

			.link_arrow{
				background-position: -24px 0;
			}
		}
	}

	.section{

		/* masthead START */
		&.masthead{
			overflow: hidden;
			margin-top: 80px;
			.section_img_wrap{
				position: relative;
				width: 930px;
				height: 725px;
				margin: 0 auto;

				.deco{
					position: absolute;

					&.d1{
						top:0;
						left:-62px;
					}

					&.d2{
						top:0;
						right:-76px;
					}

					&.d3{
						top:100px;
						right:-65px;
					}
				}
			}
		}
		/* masthead END */

		/* section_02 START */
		&.section_02{
			overflow: hidden;
			padding: 60px 0 90px;

			.section_text_wrap{
				position: relative;
				width: 950px;
				height: auto;
				margin: 0 auto;
				text-align: center;

				h1{
					padding: 30px 0 50px;
					text-align: center;
					font: 30px/30px 'adihausDIN-Cond-bold';
					color: #000;
					letter-spacing: 0.5px;
				}

				h3{
					padding-bottom: 45px;
					text-align: center;
					font: 300 20px 'NotoSansKR','Nanum Gothic';
					color: #000;
					letter-spacing: -0.5px;
				}

				.deco{
					position: absolute;

					&.d1{
						top:0;
						left:-119px;

						img{
							height: 180px;
						}
					}

					&.d2{
						top:0;
						right:-120px;

						img{
							width: 50px;
						}
					}

					&.d3{
						top:100px;
						right:-108px;

						img{
							height: 110px;
						}
					}
				}
			}
		}
		/* section_02 END */

		&.section_08{
			overflow: hidden;
		}
		/* section_08 END */

	}
	/* section END */

	/* features START */
	.features{
		width: 100%;
		display: table;
		overflow: hidden;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;

		.inner{
			 width: 1190px;
			 height: 100%;
			 position: relative;
			 margin: 0 auto;
		}

		.slide_box{
			position: absolute;
			top: 0;

			.slider_wrapper{
				width: 650px;
				height: 542px;
				position: relative;
				overflow: hidden;
			}
		}

		.text_box{
			position: absolute;
			top: 50%;
			color: #fff;
			@include css3(transform , translate3d(0,-50%,0));

			h2{
				margin-bottom: 10px;
				font: 26px/36px 'adihaus-bold';
				letter-spacing: 20px;
				text-transform: uppercase;
			}

			p{
				margin-bottom: 10px;
				font: 300 17px 'NotoSansKR','Nanum Gothic';
				letter-spacing: -0.5px;
				padding: 5px 0 20px;
			}
		}

		&.features_grid1{
			.slide_box{
				right: -195px;

				@media screen and (max-width: 1580px) and (min-width: 1300px) {
					right: -95px;
				}

				@media screen and (max-width: 1300px){
					right: 0;
				}
			}

			.text_box{
				left: 0;
			}
		}

		&.features_grid2{
			.slide_box{
				left: -195px;

				@media screen and (max-width: 1580px) and (min-width: 1300px) {
					left: -95px;
				}

				@media screen and (max-width: 1300px){
					left: 0;
				}
			}

			.text_box{
				left: 585px;
			}
		}

		.indicator{
			padding-top: 25px;
			text-align: center;

			a{
				margin-right: 30px;

				&:last-child{
					margin-right: 0;
				}

				span{
					display: inline-block;
				    width: 18px;
				    height: 18px;
				    border-radius: 50%;
					background: #fff;
					@include opacity(0.8)
				}

				&.on{
					span{
						@include opacity(1);
					}
				}
			}
		}

		&.section_03{
			height: 800px;
			padding: 105px 0;
			background: url('/images/adidas/event/forum/section_03.jpg') 0 0 no-repeat;

			.text_box{
				// min-width: 736px;
				// padding-left: 200px;
			}
		}
		/* section_03 END */

		&.section_04{
			height: 800px;
			padding: 105px 170px;
			background: url('/images/adidas/event/forum/section_04.jpg') 0 0 no-repeat;
		}
		/* section_04 END */

		&.section_05{
			height: 800px;
			padding: 105px 0;
			background: url('/images/adidas/event/forum/section_05.jpg') 0 0 no-repeat;
		}
		/* section_05 END */

		&.section_06{
			height: 800px;
			padding: 105px 0;
			background: url('/images/adidas/event/forum/section_06.jpg') 0 0 no-repeat;

			.text_box{
				min-width: 736px;
				// padding-left: 200px;
			}
		}
		/* section_06 END */

		&.section_07{
			height: 800px;
			padding: 105px 170px;
			background: url('/images/adidas/event/forum/section_07.jpg') 0 0 no-repeat;

			.text_box{
				// min-width: 736px;
				// padding-left: 200px;
			}
		}
		/* section_07 END */
	}
	/* features END */

}
