@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';


#container_r{
	min-width: 950px;
	overflow: hidden;
}
/* ultra_boost */

#ultra_boost{
	position: relative;
	.button{
		display: inline-block;
		width: 245px;
		a{
			display: block;
			text-align: center;
			font:500 16px/55px 'NotoSansKR';
			background: #000;
			color:#fff;
			@include css3(transition, all 0.5s);
			&:hover{
				background: #fff;
				color:#000;
			}
		}
	}
	.main{
		position: relative;
		height: 899px;
		text-align: center;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
			video{
				// width: 100%;
			}
		}
		.txt{
			position: relative;
		    padding: 753px 0 0 0;
			z-index: 1;
			text-align: center;
			p{
				padding: 0 0 20px 0;
				font:400 38px/42px 'NotoSansKR';
				text-align: center;
				color:#000;
			}
		}
	}

	.statement{
		position: relative;
		height: 330px;
		&.eventScroll.on{
			.txt{
				@include css3(opacity,1);
			}
		}
		.bg{
			position: absolute;
			left:50%;
			margin-left: -960px;
		}
		.txt{
			position: relative;
		    padding: 145px 0 0 0;
		    font: 600 20px/27px 'NotoSansKR';
		    text-align: center;
		    color: #000;
			@include css3(transition, all 0.5s);
			@include css3(opacity,0);
		    z-index: 1;
		}
	}

	.prd_cuts{
		position: relative;
		height: 980px;
		&.eventScroll.on{
			.inner{
				.box{
					.txt{
						@include css3(opacity, 1);

					}
				}
			}
		}
		.bg{
			position: absolute;
			left:50%;
			margin-left: -960px;
		}
		.inner{
			position: relative;
		    padding: 100px 0 0 0;
			text-align: center;
			margin: 0 auto;
			.box{
				display: inline-block;
			    margin-right: 1%;
			    width: 32%;
				max-width: 450px;
			    text-align: center;
				vertical-align: top;
				>div{
					position: relative;
					display: inline-block;
				}
				.img{
					display: inline-block;
					img{
						width: 100%;
					}
				}
				.gif{
					position: relative;
    				margin: -97px 0 0 0;
				    width: 233px;
					img{
						width: 100%;
					}
				}
				.txt{
					@include css3(opacity, 0);
					@include css3(transition, all 0.5s);
					transition-delay: 1s;


					p{
						text-align:center;
						color:#000;
						font: 300 17px/25px 'NotoSansKR';
						letter-spacing: -0.3px;

						&.bold{
						    padding: 40px 0 15px;
							font: 28px/28px 'adinenuPro-black';
							text-transform: uppercase;
							letter-spacing: 8px;
							span{
								display: block;
								text-align: center;
								font: 28px/28px 'adinenuPro-light';

							}

						}
					}
				}
			}
		}
	}

	.statement_dominc{
		position: relative;
		height: 377px;
		@include css3(opacity, 0);
		@include css3(transition, all 0.8s);
		&.eventScroll.on{
			@include css3(opacity, 1);

		}
		.bg{
			position: absolute;
			left:50%;
			margin-left: -960px;
		}
		p{
			position: relative;
		    left: -150px;
    		padding: 175px 0 0 0;
			text-align: center;
			font: 300 18px/20px 'NotoSansKR';
			color:#fff;


			strong{
				display: block;
				padding: 15px 0 15px 0;
				font: 600 28px/27px 'NotoSansKR';
				text-align: center;
				letter-spacing: 5px;

			}
		}
	}

	.shoes_wrap{
		position: relative;
	    padding: 50px 0 0 0;
		height: 700px;
		text-align: center;
		&.eventScroll.on{
			.box{
				.img{
					position: relative;
					top:0;
					@include css3(opacity, 1);
				}
			}
		}
		h3{
			display: inline-block;
			font: 600 28px/27px 'NotoSansKR';
			color:#000;
			letter-spacing: 1px;
		}
		.bg{
			position: absolute;
			left:50%;
			margin-left: -960px;
		}
		.inner{
			position: relative;
		    padding: 147px 0 0 0;
			text-align: center;
			.box{
				display: inline-block;
				width: 25%;
				max-width: 255px;
				margin: 0 35px;
				text-align: center;
				vertical-align: top;
				>div{
					display: inline-block;
				}
				.img{
					position: relative;
					top: -30px;
					@include css3(opacity, 0);
					@include css3(transition, all 0.8s);
					padding: 0 0 32px 0;
					img{
						width: 100%;
					}
				}
				.txt{
					position: relative;
					height: 135px;
					p{
						font: 400 15px/24px 'NotoSansKR';
						color:#000;
						letter-spacing: -0.5px;

						&.bold{
							padding: 0 0 15px 0;
							font: 22px/25px 'adinenuPro-black';
							text-transform: uppercase;
							letter-spacing: 6px;
							span{
								display: inline-block;
								padding: 5px 0 0 0;
								font-size: 21px;
								font-family: 'adinenuPro-light';
							}
						}
					}
				}
				.button{
					&:hover{
						a{
							span{
								background: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_black_14x14.png');
							}
						}
					}
					a{
						span{
							margin-left: 5px;
							display:inline-block;
						    width: 14px;
						    height: 14px;
						    background: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_white_14x14.png');
						}
					}
				}
				p{
					text-align: center;
				}
			}
		}
	}
}

/* End of ultra_boost */
