@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

#nite_jogger{
	position: relative;
	.logo{
		position: relative;
		background: #0e0e0e;
		height: 360px;
		.in{
			padding-top:160px;
			text-align: center;
			img{
				display: inline-block;
			}
		}
	}
	.text{
		position: relative;
		height: 210px;
		background: #0e0e0e;
		p{
			font: 400 33px/33px 'NotoSansKR';
			text-align: center;
			color:#fff;
			letter-spacing: 1px;
		}
	}
	.main{
		position: relative;
		video{
			width:100%;
		}
	}
	.bottom{
		background: #0e0e0e;
		.txt{
				padding: 140px 0 70px 0;
			h1{
				font: 400 31px/31px 'NotoSansKR';
				color:#fff;
				text-align: center;
				margin-bottom: 55px;
				letter-spacing: 1px;
			}
			p{
				font: 100 22px/35px 'NotoSansKR';
				color:#fff;
				text-align: center;
				letter-spacing: 1px;
			}
		}
		.flogo{
				text-align: center;
				padding-bottom: 120px;
			img{
				display: inline-block;
			}
		}
	}
}
