@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

#nite_jogger{
	position: relative;
	.intro{
		position: relative;
		height: 770px;
		.img{
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.main{
		position: relative;
		// .img{
		// 	position: relative;
		// 	img{
		// 		width: 100%;
		// 	}
		// 	.play{
		// 		cursor:pointer;
		// 		position: absolute;
		// 		top: 50%;
		// 		left: 50%;
		// 		transform: translate(-50%,-50%);
		// 	}
		// }
		#video{
			width:100%;
		}
		.play{
			cursor:pointer;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
	.bottom{
		background: #000;
		.txt{
				padding: 140px 0 70px 0;
			h1{
				font: 400 31px/31px 'NotoSansKR';
				color:#fff;
				text-align: center;
				margin-bottom: 55px;
				letter-spacing: 1px;
			}
			p{
				font: 100 22px/35px 'NotoSansKR';
				color:#fff;
				text-align: center;
				letter-spacing: 1px;
			}
		}
		.flogo{
				text-align: center;
				padding-bottom: 120px;
			img{
				display: inline-block;
			}
		}
	}
}
