@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';


.alphaskin{
    .main{
        position: relative;
        height: 1140px;
        .bg{
            position: absolute;
            left:50%;
            margin-left: -960px;
        }
        .content{
            position: relative;
            .men{
                position: absolute;
                top:110px;
                left:50%;
                margin-left: -642px;
            }
            .women{
                position: absolute;
                top:216px;
                left:50%;
                margin-left: -40px;
            }
            .masthead{
                position: relative;
                z-index: 2;
                top: 206px;
                left: -450px;
            }
            .btn_wrap{
                position: relative;
                z-index: 3;
                margin-top: -202px;
                margin-left: 28px;
                .btn{
                    display:  block;
                    margin-bottom: 10px;
                    a{
                        display: inline-block;
                        width: 246px;
                        font:500 18px/56px 'NotoSansKR';
                        text-align: center;
                        border:2px solid #3a62a1;
                        color:#000;
                        background: rgba(255,255,255,0.1);
                        transition: all 0.5s;

                        &:hover{
                            background: rgba(255,255,255,0.4);

                        }
                    }
                }
            }
        }
    }
    .video{
        position: relative;
        height: 780px;
        margin-top: 120px;
        .bg{
            position: absolute;
            left:50%;
            margin-left: -760px;
        }
        span{
            position: absolute;
            top:50%;
            left:50%;
            margin-top: -57px;
            margin-left: -57px;
            z-index: 1;
            cursor: pointer;
        }
    }
    .statement{
        padding: 80px 0 100px;
        text-align: center;
        p{
            text-align: center;
            font: 300 40px/46px 'NotoSansKR';
            color:#000;
            &.b{
                color:#3d52bb;
                font-weight: 500;
            }
        }
        .btn{
            display:  inline-block;
            margin-top: 35px;
            a{
                display: inline-block;
                width: 246px;
                font:500 18px/56px 'NotoSansKR';
                text-align: center;
                border:2px solid #3a62a1;
                color:#000;
                background: rgba(255,255,255,0.1);
                transition: all 0.5s;
                &:hover{
                    background: #3d52bb;
                    color:#fff;

                }
            }
        }
    }
    .box{
        position: relative;
        &.right{
            .img{
                text-align: right;
                position: relative;
                right: -320px;
                top: 25px;
            }
            .txt{
                position: absolute;
                left:50%;
                top:132px;
                margin-left: -469px;
                z-index: 1;
            }
        }
        &.box3{
            .img{
                right: -385px;
                top: -41px;
            }
        }
        .bg{
            position: absolute;
            left:50%;
            margin-left: -960px;
        }
        .img{
            position: relative;
            text-align: left;
            z-index: 1;
            top:-40px;
            right: 400px;
        }
        .txt{
            position: absolute;
            left:50%;
            top:132px;
            // margin-left: -469px;
            z-index: 1;
            span{
                padding: 5px 0 3px;
                display: block;
                font:66px 'adinenuPro-light';
                color:#fff;
                letter-spacing: 10px;
            }
            p{
                color:#fff;
                font: 500 22px/26px 'NotoSansKR';
                letter-spacing: -0.5px;
            }
        }
        .btn_wrap{
            position: relative;
            z-index: 3;
            margin-top: 40px;
            .btn{
                display:  block;
                margin-bottom: 10px;
                a{
                    display: inline-block;
                    width: 246px;
                    font:400 18px/56px 'NotoSansKR';
                    text-align: center;
                    border:2px solid #384cb0;
                    color:#fff;
                    background: rgba(255,255,255,0);
                    transition: all 0.5s;

                    &:hover{
                        background: #384cb0;
                        color:#fff;

                    }
                }
            }
        }
    }
}
