@mixin css3($prop,$value...){
	#{$prop} :$value;
	-webkit-#{$prop} :$value;
	-moz-#{$prop}:$value;
	-o-#{$prop} :$value;
	-ms-#{$prop} :$value;
}

@mixin opacity($value){
	opacity : $value;
	filter:alpha(opacity=$value * 100);
	-ms-filter:alpha(opacity=$value * 100);
}

@mixin animation ($delay, $duration, $animation , $fillmode , $iteration) {

    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    -webkit-animation-iteration-count:$iteration;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    -moz-animation-iteration-count:$iteration;

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    -o-animation-iteration-count:$iteration;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    animation-iteration-count:$iteration;
}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}
