@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

/* video_layer */
.video_layer {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:110
}
.video_layer .video {
	width:100%;
	height:100%;
	z-index:6;
	position:absolute;
	top:0;
	left:0
}
.video_layer .close {
	width:45px;
	height:45px;
	position:absolute;
	top:25px;
	right:25px;
	z-index:20;
	display:block;
	background:url("/images/reebok/event/about/sprite.png") -80px 0 no-repeat;
	text-indent:-5000px;
	opacity:0;
	transition:opacity 0.4s ease-in 0.5s;
	-webkit-transition:opacity 0.4s ease-in 0.5s;
	-moz-transition:opacity 0.4s ease-in 0.5s;
	-o-transition:opacity 0.4s ease-in 0.5s;
	-ms-transition:opacity 0.4s ease-in 0.5s
}
.video_layer .bg {
	width:100%;
	height:100%;
	background:#000;
	z-index:5;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transition:opacity 0.4s;
	-webkit-transition:opacity 0.4s;
	-moz-transition:opacity 0.4s;
	-o-transition:opacity 0.4s;
	-ms-transition:opacity 0.4s
}
.video_layer.loaded .bg {
	opacity:.6
}
.video_layer.loaded .close {
	opacity:1
}
/* video_layer end */
.video_wrap{
	position: relative;
	// height: 850px;
	padding-bottom: 52.0828%;
	overflow: hidden;
	z-index: 2;

	.bg{
		position: absolute;
		top:0px;
		left:50%;
		margin-left: -960px;
		z-index: 1;
	}
	.player{
		position: absolute;
		top:0;
		// left:50%;
		// margin-left: -982px;
		z-index: 5;
	}
}
/* originals_winter */
.originals_winter{
	overflow: hidden;
	position: relative;
	background: #fff;
	.version{
		position: absolute;
		top:0;
		a{
			display: inline-block;
			width:30px;height:30px;
			background: #f1f1f1;
			color:#000;
			font:15px/30px 'Dodum';
			text-align: center;
			border-radius: 50px;
		}
	}
	.inner{
		position: relative;
		width:1190px;
		margin: 0 auto;
		.vbox{
			opacity: 1;
			transition: 0.4s;
		}
		.statement{
			position: relative;
			top: 100px;
			opacity: 1;
			transition: 0.4s;
		}
	}
	>div {
		.visual_video{
			position: absolute;
			top:0;
			left: 524px;
			cursor: pointer;
			z-index: 10;
		}
	}

	.visual{
		position: relative;
		height: 975px;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.main_visual{
			.top{
				padding: 60px 0 0 0;
				text-align: right;
			}
			.bottom{
				position: relative;
				top: -83px;
				text-align: left;
			}
		}
		.main_tit{
			position: absolute;
			top: 100px;
			left: 0;
		    left: 122px;
			transition-delay: 0.8s;
			&.on{
				top: 130px;
				opacity: 1;
			}
		}
		.main_img{
			position: absolute;
			top: 55px;
			left: -55px;
			transition-delay: 0.4s;
			&.on{
				opacity: 1;
			}
		}
		.statement{
			position: absolute;
			top:46%;
			left:50%;
			transform: translate(-50%,-50%);
			text-align: center;
			h3{
				font:400 18px 'NotoSansKR';
				color: #fff;
				text-align: center;
				letter-spacing: 0px;
				padding: 13px 0 20px;
			}
			.allview{
				width: 100%;
				text-align: center;
				a{
					display: inline-block;
					width: 260px;
					background: rgba($color: #000000, $alpha: 0.1);
					border: 1px solid #fff;
					color:#fff;
					font:18px/70px 'NotosansKR';
					letter-spacing: 0px;
					box-sizing: border-box;
					text-align: center;
					&:after{
						display: inline-block;
						margin-left: 3px;
					}
				}
			}
		}
	}
	.section{
		overflow: hidden;
		&.sec_01{
			background: url('/images/adidas/event/originals/originals_winter/bg_sec01.jpg') center center no-repeat;
		}
		&.sec_02{
			background: url('/images/adidas/event/originals/originals_winter/bg_sec02.jpg') center center no-repeat;
		}
		&.sec_03{
			background: url('/images/adidas/event/originals/originals_winter/181025/bg_sec03.jpg') center center no-repeat;
			.section_sub1{
				.inn{
					.slider_wrap{
						background: url('/images/adidas/event/originals/originals_winter/181025/bg_sec03_border.jpg') center center no-repeat;
					}
				}
			}
			.section_sub2{
				.inn{
					.slider_wrap{
						.inner_bg{
							background: #012860;
						}
					}
				}
			}
		}
		&.sec_04{
			padding: 100px 0 126px;
			background: url('/images/adidas/event/originals/originals_winter/181025/bg_sec04.jpg') center center no-repeat;
			background-size: 100% 100%;
			.section_sub1{
				.inn{
					padding: 0;
					.slider_wrap{
						background: url('/images/adidas/event/originals/originals_winter/181025/bg_sec04_border.jpg') center center no-repeat;
					}
				}
			}
			.section_sub2{

				height: auto;
				.inn{
					.slider_wrap{

						.inner_bg{

							background: #6a3c25;
						}
					}
				}
			}
		}
		&.type2{
			.section_sub1{
				.inn{
					.slider_wrap{
						margin-bottom: 80px;
					}
				}
			}
			.section_sub2{
				.inn{
					.slider_wrap{
						ul{
							li{
								.prd_name_wrap{
									width: 450px;
								    position: absolute;
								    top:300px;
								    left: 0;
								}
								.prd_name{
									position: relative;
									top:inherit;
									left:inherit;
									&.col2{
										margin: 15px 0 0 0;
										.box{
											    padding-left: 17px;
											b{
											    display: inline-block;
												&:before{
												    top: 7px;
												}
												i{
												    bottom: 11px;
												}
											}
											.prd_box{
											    display: inline-block;
											}
										}
									}
									&:after{
										content: '';
										display: inline-block;
										clear: both;
									}
									.box{
										position: relative;
										display: inline-block;
										vertical-align: top;
										&.left{
											float: left;
											padding-left: 17px;
										}
										&.right{
											float: right;
										}
										a{
											position: absolute;
										    top: 0;
										    left: 0;
										    width: 100%;
										    height: 100%;
											padding: 0;
											margin: 0;
											z-index: 2;
										}
										b{
											position: relative;
											font: 18px/36px 'adinenuPro-black';
											letter-spacing: 1px;
											text-transform: uppercase;
											vertical-align: middle;
											z-index: 1;
										    color: #fff;
											&:before{
												display: inline-block;
											    content: '';
											    width: 13px;
											    height: 19px;
											    background: url(/images/adidas/event/originals/originals_winter/b_before.png) 0 0 no-repeat;
											    position: absolute;
											    top: 0;
											    left: -15px;
											}
											&:after{
												display: none;
											}
											i{
												position: absolute;
											    bottom: 2px;
											    left: 0;
											    width: 100%;
											    height: 10px;
											    background: rgba(0,0,0,0.6);
											    z-index: -1;
											}
										}
										.prd_box{
											position: relative;
										    margin: 0 0 5px 0;
											em{
												position: relative;
												display: block;
												font: 400 15px 'NotoSansKR';
												letter-spacing: -0.7px;
												color:#fff;
												&:after{
													display: inline-block;
													content: '';
													width: 23px;
													height: 16px;
													background: url(/images/adidas/event/originals/originals_winter/b_after.png) 0 0 no-repeat;
													margin-left: 3px;
													position: absolute;
													top: 3px;
												}
											}
											span{
												display: block;
												font: 500 16px 'adihaus';
												color:#fff;
											}
										}
									}
								}
							}
						}
						.inner_bg{
							bottom:-8px;
						}
					}
				}
			}
		}
		.section_sub1{
			.inn{
				overflow: hidden;
				position: relative;
				width: 950px;
				margin: 0 auto;
				padding-top: 90px;
				z-index: 1;
				text-align: center;
				h2{
					text-align: center;
					padding-bottom: 50px;
				}
				.slider_wrap{
					position: relative;
					padding: 50px 72px;
					margin-bottom: 50px;
					background: rgba(255, 255, 255, 0.1);
				}
				.navi{
					.prev-button,.next-button{
						width: 31px;
						height: 31px;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}
					.prev-button{
						left: 20px;
						background: url('/images/adidas/event/originals/originals_winter/prev.png');
					}

					.next-button{
						right: 20px;
						background: url('/images/adidas/event/originals/originals_winter/next.png');
					}
				}
			}
		}
		.section_sub2{
			position: relative;
			height: 950px;
			z-index: 1;
			.inn{
				position: relative;
				width: 1040px;
				margin: 0 auto;
				text-align: center;
				>img{
					margin: 90px 0 45px;
				}
				.slider_wrap{
					position: relative;
					ul{
						li{
							position: relative;
							img{
								&.position_top{
									position: absolute;
								    top: 0;
								    left: 0;
								}
								&.position_bottom{
									position: absolute;
								    right: 0;
								    bottom: 46px;
								}
							}
							.prd_name{
								overflow: hidden;
								width: 450px;
								position: absolute;
								top: 600px;
								left: 0;
								a{
									float: left;
									display: inline-block;
									width: 50%;
									box-sizing: border-box;
									padding-left: 17px;
									margin-bottom: 1rem;
									color: #fff;
									b{
										position: relative;
										font: 18px/36px 'adinenuPro-black';
										letter-spacing: 1px;
										text-transform: uppercase;
										vertical-align: middle;
										z-index: 1;
										i{
											position: absolute;
											bottom: 2px;
											left:0;
											width: 100%;
											height: 10px;
											background: rgba($color: #000000, $alpha: 0.6);
											z-index: -1;
										}
										&::before{
											display: inline-block;
											content: '';
											width: 13px;
											height: 19px;
											background: url('/images/adidas/event/originals/originals_winter/b_before.png') 0 0 no-repeat;
											position: absolute;
											top: 0;
											left: -15px;
										}
										&::after{
											display: inline-block;
											content: '';
											width: 23px;
											height: 16px;
											background: url('/images/adidas/event/originals/originals_winter/b_after.png') 0 0 no-repeat;
											margin-left: 3px;
											position: absolute;
											top: -2px;
										}
									}
									em{
										display: block;
										font: 400 16px 'NotoSansKR';
										letter-spacing: 1px;
									}
									span{
										display: block;
										font: 500 16px 'adihaus';
									}
								}
							}
						}
					}
					.indicator{
						position: absolute;
						top: 560px;
						left: 0;
						a{
							margin-right: 4px;
							&:last-child{
								margin-right: 0;
							}
							span{
								display: inline-block;
								width: 13px;
								height: 13px;
								background: rgba($color: #fff, $alpha: 0.5);
							}
							&.on{
								span{
									background: #fff;
								}
							}
						}
					}
					.inner_bg{
						position: absolute;
						left: -50px;
						bottom: -50px;
						width: 931px;
						height: 678px;
						background: #271805;
						opacity: 0.5;
						z-index: -1;
					}
				}
			}
			&.sec_02_sub2{
				.inner_bg{
					background: #6a3c25 !important;
				}
			}
		}
	}
	.bottom_wrap{
		position: relative;
		height: 444px;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.ct1284{
			position: relative;
			width: 1284px;
			margin: 0 auto;
			div{
				position: absolute;
				top:60px;
				display: inline-block;
				a{
					position: absolute;
				    top: 0;
				    width: 628px;
				    height: 318px;
				    z-index: 2;
				}
				&.left{
					left:0;
				}
				&.right{
					right:0;
				}
			}
		}
	}
}
/* End of originals_winter */
