@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

#wrap{
	min-width: 1200px !important;
	overflow: hidden;
}
.campaign-content{
	min-width: auto !important;
}
#familyweek_cp{
	position: relative;
	z-index: -1;
	//common
	.button_area_v2{
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			width:initial;
			font: 700 14px/50px 'NotoSansKR';
			letter-spacing: .5px;
			padding: 0 20px;
		}
	}

	.main_visual{
		position: relative;
		overflow: hidden;
		height:800px;
		.bg_img{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;	
		}
		.inn{
			position: relative;
			width: 1200px;
			margin: 0 auto;
			.button_area_v2{
				position: absolute;
				top: 600px;
				left: 114px;
			}
		}
	}

	.event_box{
		position: relative;
		padding: 0 0 60px 0;
		background: #e0dfe1;
		.inn{
			width:1200px;
			margin:0 auto;
			text-align: center;
			.button_area_v2{
				a{
					font-weight: 400;
				}
			}
			.bnn_wrap{
				margin:10px 0 0 0;
				text-align: center;
				.bnn{
					position: relative;
					width:568px;
					display: inline-block;
					text-align: center;
					&.left{
						margin-right: 19px;
					}
					.button_area_v2{
						margin:30px 0 0 0;
						// position: absolute;
						// bottom:0;
					}
				}
			}
		}
		.title{
			margin:45px 0 0 0;
			display: inline-block;
			padding:0 40px 4px 40px;
			background: #4c4c4c;
			p{
				font:400 38px/38px 'NotoSansKR';
				letter-spacing: -0.7px;
				text-transform: uppercase;
				text-align: center;
				color:#fff;
			}
		}
		.slider_wrapper{
			position: relative;
			height: 540px;
			.slider_inn_wrap{
				position: absolute;
				top:0;
				left:50%;
				margin-left:-960px;
				.navi_btn{
					position: absolute;
					top: 62%;
					z-index: 2;
					left: 50%;
					&.prev-button{
						margin-left: -550px;
					}
					&.next-button{
						margin-left: 500px;
					}
				}
			}
		}
		.slider_indicator{
			text-align: center;
			margin: 30px 0 0 0;
			a{
				display: inline-block;
				margin:0 2px;
				box-sizing: border-box;
				width:11px;
				height:11px;
				border-radius: 50px;
				border:1px solid #000;
				text-indent: -9999px;
				&.on{
					background: #000;
				}
			}
		}
		.down_arrow{
			padding:28px 0 40px;
			text-align: center;
		}
		&.bottom{
			padding: 0 0 92px 0;
			p.desc{
				padding:30px 0 0 0;
				font:600 20px/20px 'NotoSansKR';
				color:#000;
				text-align: center;
			}
			.bnn{
				position: relative;
				height:202px;
				.bottom_bnn_bg{
					position: absolute;
					top:0;
					left:50%;
					margin-left: -960px;
				}
			}
		}


	}


	
}
