@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

html,body{
	height:100%;
}
.clearfix{
	clear: both;
	display:block;
	content:'';
}

.button_area_v2{
	display: inline-block;
	&:hover{
		div{
			a{
				color: #767677;
				span{
					background: #767677;
					em{
						background: #767677;
					}
				}

			}
		}
	}
	div{
		&.white{
			.bg{
				box-shadow: inset 0 0 0 1px #fff;
				-webkit-box-shadow: inset 0 0 0 1px #fff;
				@include css3(transition, all 0.5s);
			}
			a{
				background: #fff;
			}
		}
		.bg{
			box-shadow: inset 0 0 0 1px #000;
			-webkit-box-shadow: inset 0 0 0 1px #000;
			@include css3(transition, all 0.5s);
		}
		a{
			letter-spacing: 1px;
			padding:0 20px;
			background: #000;
		}
	}
}
div, img, button {
	outline: none;
}

#ozweego{
	.main{
		.slick-slide{
			>img{
				width:100%;
			}
		}
		.main_txt{
			text-align:center;
			padding:60px 0 70px 0;
			h1{
				color:#111;
				font: 900 50px/65px 'NotoSansKR' ;
				text-align:center;
				letter-spacing:3px;
				span{
					text-transform:uppercase;
					letter-spacing:4px;
					font:900 50px/65px 'adinenuPro-black';				
				}
			}
			.button_area_v2{
				margin:50px 0 0 0 ;
			}
		}
	}

	.navi_wrap{
		position: relative;
		height:60px;
		margin:0 auto;
		display: block;
		max-width: 1920px;
		.tab_btn{
			position:absolute;
			overflow: hidden;
			width:100%;
			&.fixed{
				position:fixed;
				top:0;
				left:0;
				width:100%;
				max-width:1920px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 10;				
			}
			.navi_inner{
				margin: 0 auto;
				width: 1200px;				
			}
		}
	}

	.tab_btn{
		padding:0 0 66px 0;
		ul{
			background:#111;
			max-width:829px;
			margin:0 auto;
			text-align:center;
			li{
				display:inline-block;
				margin-left:0;
				vertical-align:top;
				text-align:center;
				width:49.5%;
				position:relative;
				&:first-child{
					margin-left:0;
				}
			
				a{
					display:block;
					p{
						font:900 25px/26px 'adinenuPro-black';	
						color:#fff;
						height:64px;
						line-height:64px;		
						text-align:center;
						text-transform:uppercase;
						letter-spacing:2px;
						&.on{
							
						}
						span{
							color:#fff;
							font: 400 25px/26px 'NotoSansKR' ;
							text-align:center;
							letter-spacing:3px;
						}
					}
					&:hover{
						p{
							color: #767677;
							span{
								color: #767677;
							}
						}
					}
				}
			}
			.tab-link2{
				position:relative;
				&:before{
					content:'';
					display:block;
					position:absolute;
					right:0;
					top:16px;
					background:#fff;
					border:1px solid #fff;
					width:1px;
					height:27px;
				}	
			}
		}
	}
	#tab-2{
		position:relative;
	}
	.tab_con{
		position:relative;
		// height:11254px;
		// padding-bottom:605%;
		padding-top:60px;
		.tab__content{
			// opacity:0;
			padding-top:0;
			// position:absolute;
			// left:50%;
			// left:0;
			// top:0;
			// transform:translateX(-50%);
			width:100%;
			z-index:0;
			display:none;
			&.current{
				// opacity:1;
				transition:all 2s;
				z-index:1;
				display:block;
			}
			img{
				// width:100%;
			}
			.all_uni{
				.txt{
					height:300px;
					text-align:center;
					h3{
						text-align:center;
						font: 700 36px/22px 'NotoSansKR' ;
						color:#111;
						padding:60px 0 20px 0;
					}
					p{
						text-align:center;
						font: 500 20px/28px 'NotoSansKR' ;
						color:#111;
						padding-bottom:15px;
						span{
							display:block;
						}
					}
				}
			}
		}		
		.all_cont_img{
			>img{
				width:100%;
			}
		}

		.all_cont{
			position:relative;
			.all_slider_box{
				.all_slder_wrap{
					width:62%;
					margin:0 auto;
					text-align:center;
					.button_area_v2{
						margin:40px 0 0 0;
					}						
					.slick-slide{
						>img{
							display:block;
							width:100%;
						}
					}
				}
			}	
			.slider_box2{
				padding-top:100px;
		
				.button_area_v2{
					margin:40px 0 0 0;
				}						
				.slick-slide{
					>img{
						display:block;
						width:100%;
					}
				}
			}		
		}

		.video_01{
			position:relative;
			margin:0 auto;
			width:79%;
			>img{
				position:relative;
				width:100%;
				display:block;
				margin:0 auto;
			}
			// @media screen and (max-width:1500px){
			// 	>img{
			// 		width:100%;
			// 	}
			// }
			// @media screen and (max-width: 1300px) { 

			// }			
			.video_btn{
				position:absolute;
				left:50%;
				top:50%;
				transform:translate(-50%,-50%);
				button{
					background:url('/images/adidas/2021/event/originals/ozweego/video_01_btn.png');
					background-size:100%;
					width:122px;
					height:122px;
					border:0;
				}
			}
		}	

		.cont3{
			background:url('/images/adidas/2021/event/originals/ozweego/cont3_bg.jpg');
			background-size:100% 100%;
			padding:200px 0;
			display:block;
		}

		.cont3_2{
			background:url('/images/adidas/2021/event/originals/ozweego/cont3_bg2.jpg');
			background-size:100% 100%;
			padding:200px 0;
		}

		.cont5{
			position:relative;
			background:url('/images/adidas/2021/event/originals/ozweego/cont5_bg.jpg');
			background-size:100% 100%;
			padding:200px 0;
			.slider_box{
				display:block;
			}
			.slder_wrap{
				width:100%;
				margin:0 auto;
				text-align:center;		
				.slick-slide{
					>img{
						display:block;
						width:100%;
					}
				}						
			}
			.video_list{
				// width: 1141px;
				// margin: 0 auto;
				padding: 0 0 20px;
				>img{
					width:100%;
				}
				>ul{
					display:inline-block;
					width:1190px;
					>li{
						position:relative;
						float:left;
						// display:inline-block;
						width:48.99159663866%;
						>img{
							position:relative;
							width:100%;
						}
						.video_btn{
							position:absolute;
							left:50%;
							top:50%;
							transform:translate(-50%,-50%);
							button{
								background:url('/images/adidas/2021/event/originals/ozweego/video_02_btn.png');
								background-size:100%;
								width:77px;
								height:77px;
								border:0;
							}
						}		
						h3{
							font: 600 18px/25px 'NotoSansKR' ;
							letter-spacing:1px;
							text-align:center;
							color:#111;
							background:#fff;
							padding:8px 0;
						}										
					}
					li:first-child{
						margin-right:2.0168067226%;
					}

				}
			}	
			.inner{
				max-width: 1190px;
				margin: 0 auto;
				position: relative;
				box-sizing: border-box;	
			}

			.cont5_txt{
				text-align:center;
				p{
					font: 500 35px/50px 'NotoSansKR' ;
					letter-spacing:0.5px;
					color:#111;
					white-space:nowrap;
					width:100%;
					span{
						display:block;
					}
				}
				@media screen and (max-width: 1300px) { 
					p{
						font: 500 34px/50px 'NotoSansKR' ;
					}
				}					
				.button_area_v2{
					margin:40px 0 0 0;
				}
			}
			.slick-dots li button {
				width: 10px;
				height: 10px;
				background:none;
				border-radius:50%;
				border:1px solid #111;
				padding: 0;
				text-indent: -9999px;
			}				
			.slick-dots li.slick-active button {
				background:#111;
			}				
			.slick-prev{
				position:absolute;
				left: -8%;
				top: 40%;
				background: url('/images/adidas/2021/event/originals/ozweego/left2.png')no-repeat 50%;
				background-size:auto;
				width: 38px;
				height: 72px;
				z-index:1;
				outline:none;
			  }					
			  .slick-next{
				position:absolute;
				right: -8%;
				top: 40%;
				background: url('/images/adidas/2021/event/originals/ozweego/right2.png')no-repeat 50%;
				background-size:auto;
				width: 38px;
				height: 72px;
				z-index:1;
				outline:none;
			  }	  			

			//   @media screen and(max-width:1350px) {
			// 	.slick-prev{
			// 		left: -5%;
			// 	}
			// 	.slick-next{
			// 		right: -5%;
			// 	}
			//   }

			//   @media screen and(max-width:1300px) {
			// 	.slick-prev{
			// 		left: -3%;
			// 	}
			// 	.slick-next{
			// 		right: -3%;
			// 	}
			//   }			  

		}
		.cont5_2{
			position:relative;
			background:url('/images/adidas/2021/event/originals/ozweego/cont5_bg2.jpg');
			background-size:100% 100%;
			padding:261px 0;			
		}
		
	}	

	.slick-dots {
		padding:1.5rem 0 1rem 0;
		text-align: center;
	}			
	.slick-dots li {
		display: inline-block;
		margin-right: 6px;
	}
	.slick-dots li button {
		width: 10px;
		height: 10px;
		background:none;
		border-radius:50%;
		border:1px solid #fff;
		padding: 0;
		text-indent: -9999px;
	}			

	.slick-dots li.slick-active button {
		background:#fff;
	}			
	.slick-arrow{
		font-size:0;
		border:0;
	  }
	  .slick-prev{
		position:absolute;
		left: -8%;
		top: 40%;
		background: url('/images/adidas/2021/event/originals/ozweego/left.png')no-repeat 50%;
		background-size:auto;
		width: 38px;
		height: 72px;
		z-index:1;
		outline:none;
	  }					
	  .slick-next{
		position:absolute;
		right: -8%;
		top: 40%;
		background: url('/images/adidas/2021/event/originals/ozweego/right.png')no-repeat 50%;
		background-size:auto;
		width: 38px;
		height: 72px;
		z-index:1;
		outline:none;
	  }	  		
}


