@import "./front/css/reebok/scss/about.scss";

/* common */
#wrap{
    overflow: hidden;
    min-width: 1160px;
}
#contents_wrap{padding: 0;}
.btn{
	display: inline-block;
	>div{
		position: relative;
		&::before{
            border-bottom: 1px solid #000;
            border-left: 1px solid #000;
            bottom: -4px;
            height: 3px;
            left: 2px;
            width: calc(100% + 1px);
            content: "";
            display: block;
            position: absolute;
		}
		&::after{
            border-right: 1px solid #000;
            border-top: 1px solid #000;
            height: calc(100% + 1px);
            right: -4px;
            top: 2px;
            width: 3px;
            content: "";
            display: block;
            position: absolute;
        }
		a{
			width: 136px;
			font: 700 14px/46px 'NotoSansKR';
			letter-spacing: 0;
			position: relative;
			display: block;
			text-align: center;
			height: 46px;
			color: #000;
			background:#fff;
			z-index: 2;
			border: 1px solid #000;
			.arrow{
				margin-left: 17px;
				// vertical-align: middle;
			}
			&:hover{
				background:rgb(248, 248, 248);
			}
		}
	}
	&.white{
		>div{
			&::before{
				border-bottom: 1px solid #000;
				border-left: 1px solid #000;
			}
			&::after{
				border-right: 1px solid #000;
				border-top: 1px solid #000;
			}
			a{
				color: #000;
				background:#fff;
				border: 1px solid #000;
				.arrow{
				}
			}
		}
	}
}
.ct{
	position: relative;
	.ct_img{
		position: absolute;
		top:0;
		left:50%;
		transform: translateX(-50%);
	}
}
p{
	font:900 24px/24px 'NotoSansKR';
	color:#fff;
}
.crossfit{
	.main{
		height:1162px;
		.main_img{
			img{

			}
		}
	}
	.section{
		height:1083px;
	}
	.aside{
		height:641px;
		.btn{
			position: absolute;
			top:347px;
			left:50%;
			margin-left:-480px;
		}
	}
	.btm{
		height:600px;
		.wrap{
			top:269px;
			p{
				margin: 0 0 30px 0;
			}
			.play-video{
				border:0;
				margin:0 auto;
				&::after{
					border:0;
				}
			}
		}
	}

}
