@mixin css3($prop,$value...){
	#{$prop} :$value;
	-webkit-#{$prop} :$value;
	-moz-#{$prop}:$value;
	-o-#{$prop} :$value;
	-ms-#{$prop} :$value;
}

@mixin opacity($value){
	opacity : $value;
	filter:alpha(opacity=$value * 100);
	-ms-filter:alpha(opacity=$value * 100);
}

@mixin animation($delay, $duration, $animation , $fillmode:'forwards' , $iteration:'infinite') {

    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    -webkit-animation-iteration-count:$iteration;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    -moz-animation-iteration-count:$iteration;

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    -o-animation-iteration-count:$iteration;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    animation-iteration-count:$iteration;
}

@mixin keyframe($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}
	// 변수
	$ctct: translate(-50%,-50%); 
	$ctX: translateX(-50%);
	$ctY: translateY(-50%);
	$adinBlk: 'adinenuPro-black';
	$adinBld: 'adinenuPro-bold';
	$noto: 'NotoSansKR';
	// 앱솔루트 포지셔닝.
	@mixin center ( $top, $bottom, $left, $transform ) {
		position: absolute;
		top: $top;
		bottom: $bottom;
		left: $left;
		transform: $transform;
	}
	// $val의 값이 auto면 퍼센티지,
	// $val에 높이값이 있으면 가운데 정렬. 
	@mixin auto($val) {
		height: $val;
		@if ( $val == auto ) {
			.figure{
				img, video{
					width: 100%;
				}
			}
		} @else {
			.figure{
				@include center(0, auto, 50%, $ctX);
			}
		}
	}
	@mixin after() {
		&::after{
			display: block;
			content: '';
			clear: both;
		}
	}