@import "./front/css/reebok/scss/about.scss";
html,body{
    height:100%;
}
#wrap{
    overflow: hidden;
    // min-width: 1460px;
    min-width: 1190px;
}
#contents_wrap{padding: 0;}

.campaign_pumpfury{
    .btn{
        display: inline-block;
        &.sold{
            >div{
                a{
                    border: 1px solid #bbb;
                    background: #bbb;

                }
                &:before{
                    border-bottom: 1px solid #bbb;
                    border-left: 1px solid #bbb;

                }
                &::after{
                    border-right: 1px solid #bbb;
                    border-top: 1px solid #bbb;
                }
            }
        }
        >div{
            position: relative;
            &::before{
                border-bottom: 1px solid #000;
                border-left: 1px solid #000;
                bottom: -4px;
                height: 3px;
                left: 3px;
                width: calc(100%);
                content: "";
                display: block;
                position: absolute;
            }
            &::after{
                border-right: 1px solid #000;
                border-top: 1px solid #000;
                height: calc(100%);
                right: -4px;
                top: 3px;
                width: 3px;
                content: "";
                display: block;
                position: absolute;
            }
            a{
                width: auto;
                font: 500 14px/48px 'NotoSansKR';
                letter-spacing: 0;
                position: relative;
                display: block;
                padding: 0 20px;
                text-align: center;
                height: 50px;
                color: #fff;
                // background:transparent;
                background: #000;
                z-index: 2;
                border: 1px solid #000;
                letter-spacing: 0.7px;
                transition: .4s;
                .arrow{
                    display: inline-block;
                    width: 24px;
                    height: 11px;
                    margin-left: 10px;
                    background: url(/images/reebok/2019/event/interval_og/arrow_w.png) no-repeat;
                }
            }
        }
        &:hover{
            a{
                transform: translate(3px, 3px);
            }
        }
    }
    img{

    }
    .top_cont{
        position: relative;

        img{
            width:100%;
        }
    }
    .video_wrap{
        position: relative;
        a{
            width:100px;
            height:100px;
            display: inline-block;
            position: absolute;
            top:54%;
            left:50%;
            transform: translate(-50%,-50%);
        }
        video{
            width:100%;
        }
        img{
            width:100%;
        }
    }
    .statement{
        position: relative;
        padding: 85px 0;
        text-align: center;
        background: #f3f3f3;
        strong{
            display: block;
            padding:0 0 20px 0;
            text-align: center;
            font:700 34px 'neueplak-wide';
            color:#000;
        }
        p{
            text-align: center;
            font:400 18px/28px 'NotoSansKR';
            color:#000;

        }
        .btn{
            display: inline-block;
            margin:35px 0 0 0;
        }
    }

    .collection_wrap{
        .title{
            padding: 50px 0 55px;
            text-align: center;
            strong{
                display: block;
                padding: 0 0 8px 0;
                text-align: center;
                font: 700 34px 'neueplak-wide';
                color: #000;
            }
            p{
                text-align: center;
                font: 400 18px/28px 'NotoSansKR';
                color: #000;
            }
            .btn{
                margin-top:30px;
            }
        }
        .colls_wrap{
            margin: 1rem 0rem 0;
            
            img{
                width:100%;
            }
           
        }
    }

    .bottom_line{
        padding: 80px 0 50px;
        img{
            width: 100%;
        }
    }
    // .notice{
    //     width:900px;
    //     margin:0 auto;
    //     background:#ccc;
    //     padding:20px;
    //     .wrap{
    //         display:inline-block;
    //         margin: 0 100px 0 0;
    //         &:first-child{
    //             vertical-align: middle;                    
    //         }

    //     }
    // }
    .tips{
		position: relative;
		padding: 30px 0 25px;
		
		width: 950px;
		margin:0 auto;
		margin-top:70px;
		background: #fff;
		.title{
			display: inline-block;
			width: 226px;
			text-align: center;
			font: 400 15px/16px 'NotoSansKR','Nanum Gothic';
			color: #000;
		}
		.inn{
			display: inline-block;
			width: 590px;
			vertical-align: middle;
			ul{
				li{
					padding-bottom: 5px;
				}
			}

		}
	}

}
