@import "./app/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}

#contents_wrap{padding: 0;}
.campaign_bt21{
    position: relative;
    .video_visual{
        position: relative;
        height: 766px;
        .bg{
            width: 1920px;
            height: 766px;
            position: absolute;
            top:0;
            left:50%;
            margin-left: -960px;
            background: url('http://image.reebok.co.kr/images/reebok/event/about/classic/bt21/181210/main.jpg') no-repeat;
            background-size: 100% 100%;
            video{
                opacity: 0;
                -webkit-opacity: 0;
                transition: all .6s;
                &.on{
                    opacity: 1;
                    -webkit-opacity: 1;
                }
            }
        }
        .bg_inn{
            position: relative;
            left: 71px;
            padding: 290px 0 0 0;
            text-align: center;
            opacity: 0;
            -webkit-opacity: 0;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            &.on{
                opacity: 1;
                -webkit-opacity: 1;
            }
        }
    }
    .main{
        position: relative;
        height: 672px;

        &.on{
            .ct1200{
                .txt_wrap{
                    top:0;
                    opacity: 1;
                    -webkit-opacity: 1;
                }
                .img{
                    top:60px;
                    opacity: 1;
                    -webkit-opacity: 1;
                }
            }
        }
        .ct1200{
            position: relative;
            width: 1200px;
            margin: 0 auto;
            .txt_wrap{
                position: relative;
                top:20px;
                padding: 206px 0 0 0;
                opacity: 0;
                -webkit-opacity: 0;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                transition-delay: 0.1s;

                h2{

                }
                p{
                    font:400 21px 'NotoSansKR';
                    color:#555;
                    letter-spacing: -0.7px;
                    strong{
                        font:21px 'dinpro bold';
                    }
                    &.title{
                        padding: 50px 0 20px;
                        font:66px/66px 'DINWebPro-CondBlack';
                        letter-spacing: 5px;
                        color:#000;
                    }
                }
            }
            .img{
                position: absolute;
                top:80px;
                right:-30px;
                opacity: 0;
                -webkit-opacity: 0;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
                transition-delay: 0.5s;
            }
        }

    }
    .bottom{
        position: relative;
        height: 684px;
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left: -960px;
        }
    }
}
