@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';
*{padding:0;margin:0;}
// #wrap{
// 	min-width: 1190px;
// 	overflow: hidden;
// }
body{
	color:#000;
}


.statement_collection{
	background-color:white;
	position:relative;
	.box1{
		position: relative;
		height: 800px;
		background: #dcd2c8;

		.inner{
			.img{
				position: absolute;
				top:50%;
				left:50%;
				margin-top:-400px;
				margin-left:-960px;
				img{

				}
			}
			.txt{
				position: absolute;
				top:50%;
				left:50%;
				margin-top:-50px;
				margin-left:-663px;
				z-index: 1;
				@media screen and (max-width: 1190px) {
					// body{
					// 	display: none;
					// }
					position: absolute;
					top:50%;
					left:50%;
					margin-top:-50px;
					margin-left:-545px;
					z-index: 1;
				}
				h1{
					font:50px 'adinenuPro-bold';
				}
				p{
					font-family:'NotoSansKR';
					font-weight:300;
					font-size:17px;
					margin:20px 0 40px 0;
				}
				.btn{
					position: relative;
					display:inline-block;
					background: #000;
					a{
						position: absolute;
						top:0;
						left:0;
						width:100%;
						height: 100%;
					}
					span{
						display: block;
						font-family:'NotoSansKR';
						font-weight:300;
						font-size:16px;
						padding: 23px 70px;
						color:#fff;
					}
					img{
						padding-left: 10px;
					}
				}
			}
		}

	}
	.bg_desc{
		position: relative;
		height: 245px;
		background:#dcd2c8;
		padding-top:30px;
		p{
			text-align: center;
			font-family:'NotoSansKR';
			font-weight:700;
			font-size:19px;
			line-height: 1.5;
		}
	}
	.box2{
		position: relative;
		background: #1f171a;
		height: 882px;
		.mid{
			position: absolute;
			top:50%;
			left:50%;
			margin-top:-340px;
			margin-left:-515px;
			video{
				width: 1210px;
    			height: 681px;
			}
		}
		.txt{
			position: absolute;
		    top: 50%;
		    left: 50%;
		    margin-top: -62px;
		    margin-left: -658px;
			h1{
				font:48px 'adinenuPro-bold';
				color:#fff;
				letter-spacing: 15px;
			}
		}
		.desc{
			position: absolute;
		    top: 50%;
		    right: 50%;
		    margin-top: 168px;
		    margin-right: -761px;
		    transform: rotate(90deg);
			letter-spacing: 1px;
			p{
				color:#fff;
			   font:17px 'adinenuPro-regular';
			}
		}
	}
	.box3{
		position: relative;
		height: 1950px;
		padding:50px 0;
		background: #dcd2c8;
		.outer{
			.head{
				position: absolute;
			    display: inline-block;
			    top: 50%;
			    left: 50%;
			    margin-top: -665px;
			    margin-left: -995px;
			    transform: rotate(90deg);
				h1{
				    font:55px 'adinenuPro-bold';
					letter-spacing: 15px;
				}
			}
			.bind{
				.wrap{
					.btn{
						position: relative;
						display:inline-block;
						background: #000;
						a{
							position: absolute;
							top:0;
							left:0;
							width:100%;
							height: 100%;
						}
						span{
							display: block;
							font-family:'NotoSansKR';
							font-weight:300;
							font-size:16px;
							padding: 23px 70px;
							color:#fff;
						}
						img{
							padding-left: 10px;
						}
					}
					p{
						font-family:'NotoSansKR';
						font-weight:300;
						font-size:15px;
						padding-top:25px;
						line-height: 25px;
					}
					&.wrap3, &.wrap4{
						padding:70px 0 0 0;
					}
				}
				&.bind1{
					position: absolute;
				    top: 50%;
				    left: 50%;
				    margin-top: -960px;
				    margin-left: -590px;
				}
				&.bind2{
					position: absolute;
				    top: 50%;
				    right: 50%;
				    margin-top: -960px;
				    margin-right: -660px;
				    padding: 50px 0 0 0;
				}
			}
		}
	}
}
