@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

/* video_layer */
.video_layer {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:110
}
.video_layer .video {
	width:100%;
	height:100%;
	z-index:6;
	position:absolute;
	top:0;
	left:0
}
.video_layer .close {
	width:45px;
	height:45px;
	position:absolute;
	top:25px;
	right:25px;
	z-index:20;
	display:block;
	background:url("/images/reebok/event/about/sprite.png") -80px 0 no-repeat;
	text-indent:-5000px;
	opacity:0;
	transition:opacity 0.4s ease-in 0.5s;
	-webkit-transition:opacity 0.4s ease-in 0.5s;
	-moz-transition:opacity 0.4s ease-in 0.5s;
	-o-transition:opacity 0.4s ease-in 0.5s;
	-ms-transition:opacity 0.4s ease-in 0.5s
}
.video_layer .bg {
	width:100%;
	height:100%;
	background:#000;
	z-index:5;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transition:opacity 0.4s;
	-webkit-transition:opacity 0.4s;
	-moz-transition:opacity 0.4s;
	-o-transition:opacity 0.4s;
	-ms-transition:opacity 0.4s
}
.video_layer.loaded .bg {
	opacity:.6
}
.video_layer.loaded .close {
	opacity:1
}
/* video_layer end */
/* ultra_boost */
.pure_boost{
	position: relative;
	background: #fff;
	.version{
		position: absolute;
		top:0;
		a{
			display: inline-block;
			width:30px;height:30px;
			background: #f1f1f1;
			color:#000;
			font:15px/30px 'Dodum';
			text-align: center;
			border-radius: 50px;
		}
	}
	.inner{
		position: relative;
		width:950px;
		margin: 0 auto;
	}

	.inner_wrap{
		min-width: 1280px;
		overflow: hidden;
		.main{
			height: 660px;
			padding-bottom: 30px;
			.bg{
				position: absolute;
				top:0;
				left:50%;
				margin-left: -952px;
				z-index: 1;
			}
			h2{
				position: relative;
				padding-top: 220px;
				padding-bottom: 50px;
				z-index: 2;
			}
			.btn{
				&:hover{
					a{
						em{
							margin-left: 20px;
						}
					}
				}
				a{
					position: relative;
					width:310px;
					z-index: 2;
					display: inline-block;
					background: #fff;
					font:16px/58px 'NotosansKRBold','Nanum Gothic';
					color:#000;
					text-align: center;
					em{
						display: inline-block;
						margin-left: 5px;
						width:14px;
						height:13px;
						background: url("http://image.adidas.co.kr/images/adidas/event/pure_boost_v2/icons.png");
						@include css3(transition , all 0.5s);

					}
				}
			}
		}
		.statement{
			position: relative;
			padding-bottom: 105px;
			.inner{
				height:405px;
			}
			.txt{
				position: relative;
				top:142px;
				p{
					padding-bottom: 40px;
					text-align: center;
					font:18px/25px 'NotosansKRBold','Nanum Gothic';
					color:#000;
				}
			}

		}
		.visual_video{
			position: relative;
			cursor: pointer;
			&:hover{
				.masthead{
					.play{
						background: #000;
						border:3px solid #000;
						&:after{
							background-position: 100% 0;
						}
					}
				}
			}
			.bg{
				text-align: center;
			}
			.masthead{
				position: absolute;
				top:50%;
				left:50%;
				.play{
					position: relative;
					display: inline-block;
					width:105px;
					height: 105px;
					margin-left: -52px;
					margin-top: -52px;
					border:3px solid #fff;
					border-radius: 100px;
					@include css3(transition , all 0.5s);
					&:after{
						position: absolute;
						top:38px;
						left:46px;
						content: "";
						width:25px;
						height:31px;
					    display: block;
						background: url("http://image.adidas.co.kr/images/adidas/event/pure_boost_v2/btn_arrow.png");
						background-position: 0 0;
						@include css3(transition , all 0.5s);

					}

				}
			}
		}
		.img{
			position: absolute;
			overflow: hidden;
			>div{
				position: relative;
				.mm{
					position: absolute;
				}
				.smoke{
					position: absolute;
					top:600px;
					// left:50px;
					z-index: 50;


					animation-name: smoke;
					animation-duration: 2s;
					animation-iteration-count: infinite;
					animation-timing-function: linear;

					-webkit-animation-name: smoke;
					-webkit-animation-duration: 2s;
					-webkit-animation-iteration-count: infinite;
					-webkit-animation-timing-function: linear;

					-ms-animation-name: smoke;
					-ms-animation-duration: 2s;
					-ms-animation-iteration-count: infinite;
					-ms-animation-timing-function: linear;

					@include animation(0s,1.5s,smoke);

					img{
						width:100%;
					}
				}
				&:after{
					content: '';
					display: block;
					width:100%;
					height:100%;
					background: #fff;
					position: absolute;
					top:0;
					left:0;
					// @include opacity(1);
					@include css3(transition , left 0.5s);
				}
			}
			&.scroll{
				>div{
					&:after{
						left:100% !important;
						// @include opacity(0);
					}
				}
			}
			&.img1{
				top:90px;
				left:-86px;
			}
			&.img2{
				top:0px;
				right:-300px;
			}
			&.img3{
				top:-83px;
				left:-368px;
			}
			&.img4{
				top:0;
				right:-206px;
			}
			&.img5{
				top:395px;
				left:-350px;
			}
			&.img6{
				top:0;
				left:-206px;
				z-index: 1;
			}
			&.img7{
				top:17px;
				right:-365px;
				z-index: 2;
			}
			&.img8{
				top:520px;
				right:-376px;
				z-index: 2;
			}
			&.img9{
				top:25px;
				right:-397px;
				z-index: 2;
			}
		}
		.buy{
			display: inline-block;
			width:246px;
			background: #000;
			font:15px/53px 'NotosansKRRegular','Nanum Gothic';
			color:#fff;
			text-align: center;
			&:hover{
				em{
					margin-left: 20px;
				}
			}
			em{
				display: inline-block;
				margin-left: 5px;
				width:14px;
				height:13px;
				background: url("http://image.adidas.co.kr/images/adidas/event/pure_boost_v2/icons.png");
				background-position: 100% 0;
				@include css3(transition , all 0.5s);
			}
		}
		.prd_cut{
			position: relative;
			padding-top: 205px;
			h3{
				position: relative;
				padding-top: 235px;
				padding-bottom: 233px;
				z-index: 5;
				p{
					font:15px/22px 'NotosansKRRegular','Nanum Gothic';
					color:#000;
					&.desc{
						width: 300px;
						padding-top: 20px;
						padding-bottom: 40px;
						letter-spacing: -0.7px;
					}
				}
			}
			.cut{
				position: relative;
				height: 652px;
				padding-bottom: 200px;
				&.cut1{
					h3{
						padding-left: 0;
					}
				}
				&.cut2{
					h3{
						padding-left: 675px;
					}
				}
				&.cut3{
					.img5{
						top:217px;
						left:-300px;
					}
				}
				&.cut4{
					h3{
						padding-left: 675px;
					}

				}

			}

		}
		.campaign-content{
			position: relative;
			background: #000;
			@include css3(transition , opacity 0.5s);

			@include opacity(0);

			&.scroll{
				@include opacity(1);
			}
			.image-grids{
				.image-grid{
					.col{
						.img2-3{
							position: relative;
							padding-bottom: 17.85%;
						    background: url("http://image.adidas.co.kr/images/adidas/event/pure_boost_v2/bg.jpg") center center no-repeat;
							background-size: 100%;
							.buy{
								position: absolute;
								top: 61%;
    							left: 10%;
							}
						}
					}
				}
			}
		}

		.banner_wrap{
			padding-bottom: 102px;
			h3{
				padding: 148px 0;
				font:36px/36px 'adinenuPro-black';
				color:#000;
				text-align: center;

			}
			.banners{
				text-align: center;

				ul{
					display: inline-block;
					li{
						position: relative;
						float:left;
						margin-right: 20px;
						text-align: center;
						width:345px;
						height: 450px;
						overflow: hidden;
						img{
							@include css3(transition , all 3s);
						}


						&:hover{
							img{
								transform: scale(1.1);
							}
						}
						&.last{
							margin-right: 0px;
						}
						.buy{
							position: absolute;
							top:362px;
							left:50%;
							margin-left: -140px;
							width:280px;
						}
					}
				}
			}
		}
	}
}
/* End of ultra_boost */


/*
 * For ie old version
 */

@include keyframe(smoke){
	0%{
		top:500px;
	}

	100%{
	    top:0;
	}
}
