@import "./app/css/reebok/scss/about.scss";
#wrap{overflow: hidden; min-width: 1190px;}
#contents_wrap{padding: 0;}
.campaign_neverthat{
    .inner{
        width: 890px;
        margin: 0 auto;
    }
    .campaign-btn{
        position: relative;
        z-index: 1;
        width: 210px;
        height: 55px;
        border: 2px solid #000;
        background: #fff;
        color: #000;
        span{
            line-height: 52px;
        }
        &:hover{
            background: rgba(0,0,0,0.8);
            color: #fff;
        }
    }
    .visual_video{
        background: #000;
        h2{
            height: inherit;
            text-indent: 0;
            background:none;
            font:76px/81px 'QStencil';
            text-transform: uppercase;
        }
        .video_bg{
            width: 100%;
            .ie &{
                video{
                    width:100%;
                    min-width: 1900px;
                    height: 650px;
                }
            }
        }
        .video_bg{
            &.ended{
                @include opacity(0);
                @include prefix-css3(transition ,opacity 1.6s ease-in);
            }
        }
        .bg{
            margin-left: -950px;
        }
        .masthead{
            @include prefix-css3(transition,opacity 0.6s ease 1.5s);
            >*{
                margin-bottom: 0;
            }
            h2{
                font-size: 76px;
            }
            p{
                margin-bottom: 45px;
                &.desc1{
                    font-weight: 400;
                    font:24px 'DINWebPro-CondMedium';
                    text-transform: uppercase;
                }
                &.desc2{
                    font-weight: 400;
                    font:20px 'NotoSansKR';
                }
            }
            &.active{
                @include opacity(1);
            }
        }
    }
    .main_cut{
        overflow: hidden;
        position: relative;
        height: 650px;
        .bgs{
            position: absolute;
            left:50%;
            top:0;
            margin-left: -990px;
            width: 2010px;
            .bg{
                position: relative;
                float: left;
                @include opacity(0);
                @include transition(all, 0.8s);
                &.event{
                    @include opacity(1);
                    left: 0 !important;
                }
                &.bg3{
                    left: -800px;
                }
                &.bg2{
                    left: -500px;
                }
                &.bg1{
                    left: -250px;
                }
            }
        }
        .inner{
            position: relative;
            .main_txt{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                h2{
                    padding: 175px 0 0 0;
                    font:84px/78px 'DINWebPro-CondBold';
                    text-transform: uppercase;
                    color:#000;
                    letter-spacing: -0.5px;
                    span{
                        font:85px/78px 'DINWebPro-CondLight';
                    }
                }
                p{
                    padding: 10px 0 28px;
                    font:400 16px/22px 'NotoSansKR';
                    color:#000;
                }
            }
            .itemSlide{
                position: absolute;
                top: 30px;
                right: 0;
                width: 100%;
                height: 600px;
                .itemSlideinn{
                    position: relative;
                    left: 510px;
                    width: 1500px;
                }
                .slide{
                    position: absolute;
                    top:0;
                    left:0;
                    @include opacity(0);
                    @include transition (opacity,0.6s);
                    &.on{
                        @include opacity(1);

                    }
                }
                .indicator{
                    width: 100%;
                    position: absolute;
                    bottom:0;
                    z-index: 1;
                    text-align: center;
                    span{
                        display: inline-block;
                        margin: 0 3px;
                        width: 12px;
                        height: 12px;
                        background: #a8a8a8;
                        border-radius: 50px;
                        -webkit-border-radius: 50px;
                        // @include opacity(0.3);
                        &.on{
                            background: #000;
                            // @include opacity(1);
                        }
                    }
                }
            }
        }

    }
    .products_collection{
        width: 100%;
        height: 914px;
        position: relative;
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left:-990px;
            }
            h4{
                font: 56px/56px 'QStencil';
                text-align: center;
                color: #fff;
                position: relative;
                text-transform: uppercase;
            }
            p{
                padding: 75px 0 6px;
                position: relative;
                text-align: center;
                font:300 28px/28px 'DINWebPro-CondBold';
                color:#fff;
                text-transform: uppercase;
                span{
                    text-transform: uppercase;
                    font:100 28px/28px 'DINWebPro-CondLight';
                }
            }
            .btn-wrapper{
                padding: 25px 0 44px;
                text-align: center;
                .campaign-btn{
                    margin: 0 5px;
                    border: 1px solid #fff;
                    background: rgba(0,0,0,0.3);
                    color: #fff;
                    width: 187px;
                    height: 50px;
                    span{
                        line-height: 48px;
                        font-size: 17px;
                        font-weight: 400;
                    }
                }
            }

        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:550px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            background: #000;
            .arrow{
                position: absolute;
                top:46%;
                left:50%;
                margin-top: 11px;
                width: 22px;
                height: 42px;
                z-index: 2;
                background: url('http://image.reebok.co.kr/images/reebok/event/about/clubc/170921/arrow_btn_black.png');
            }
            .arrow-prev{
                margin-left: -439px;
                background-position: 0 0;
            }
            .arrow-next{
                margin-left: 439px;
                background-position: 100% 0;

            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 550px;
                li{
                    width: 970px;
                    position: relative;
                    float: left;
                    @include opacity(0.4);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);

                }
                li.active{
                    @include opacity(1);
                }
            }
        }

        .slider-btn{
            width: 100%;
            position: relative;
            padding: 30px 0;
            text-align: center;
            a{
                display: inline-block;
                width: 12px;
                height: 10px;
                padding-top: 2px;
                text-align: center;
                margin-right: 5px;
                background: #4d4d4d;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                color: #fff;
                &.on{
                    background: #fff;
                }
            }
        }
    }

}
/* campaign_clubc_90_v2 end */
