@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#kids_wnd {
	position: relative;

	.button_area_v2{
		&:hover{
			div{
				.bg{
					box-shadow: inset 0 0 0 1px #000;
    				-webkit-box-shadow: inset 0 0 0 1px #000;
					@include css3(transition, all 0.5s);
				}
				a{
					color: #fff;
				    background: #000;
					@include css3(transition, all 0.5s);

					span{
						background: #fff;
						@include css3(transition, all 0.5s);
						em{
							background: #fff;
							@include css3(transition, all 0.5s);
						}
					}

				}
			}
		}
		a{
			letter-spacing: 1px;
		}
	}

	.main{
		position: relative;
		height: 800px;
		&.on{
			.inn{
				>*{
					&::before{
						height:0;
					}
				}
			}
		}
		>.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.inn{
			position: relative;
			padding: 280px 0 0 120px;
			width: 1200px;
			margin: 0 auto;
			z-index: 1;
			transition: all 0.5s;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			@media screen and(max-width: 1190px){
				width: 950px;
			}
			>*{
				&::before{
					display: inline-block;
					content: '';
					position: relative;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 32px;

					transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
				}
			}
			h2{
				overflow: hidden;
				height: 32px;
				font:800 32px/32px 'NotoSansKR';
				color:#000;
				letter-spacing: 1.8px;
			}
			p{
				overflow: hidden;
				height: 32px;
				padding: 10px 0 0 0;
				font:500 28px/28px 'NotoSansKR';
				color:#000;
				&::before{
					transition-delay: 0.2s;
				}
			}
			.button_area_v2{
				margin: 30px 0 0 0;
				width: 150px;
				a{
					height: 46px;
					line-height: 46px;
				}
				&::before{
					transition-delay: 0.4s;
				}
			}
		}
	}

	.statement{
		overflow: visible;
		position: relative;
		padding: 100px 0;
		text-align: left;
		>img{
			position: absolute;
			top: -236px;
			left: 50%;
			margin-left: -500px;
		}
		.inn{
			width: 1200px;
			margin: 0 auto;
			p{
				padding-left: 630px;
				text-align: left;
				font:500 20px 'NotoSansKR';
				color:#000;
				em{
					font-size: 20px/20px;
					font-weight: 800; 
				}
			}
		}		
	}

	.sect_prds{
		position: relative;
		height: 2249px;
		padding: 40px 0;
		box-sizing: border-box;
		>.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		
		.inner_sect{
			position: relative;
			width: 1200px;
			height: 416px;
			margin: 0 auto;
			.grid-slide{
				position: absolute;
				width: 447px;
				height: 416px;
				top: 50%;
				left: 50%;
				transform: translateY(-50%);
				z-index: 5;
				&.prds_01{					
					margin-left: -393px;
				}
				&.prds_02{
					position: absolute;					
					left: 50%;
					margin-left: -60px;
				}
				&.prds_03{					
					margin-left: -393px;
				}
				img{
					position: absolute;
					top: 0;
					left: 0;
					@include css3(opacity,0);
					@include css3(transition, all 0.5s);
					&.on{
						@include css3(opacity,1);
					}
				}
				.navi{
					position: absolute;
					left:50%;
					bottom: -25px;
					margin-left: -21px;
					z-index: 2;
					span{
						display: inline-block;
						margin-right:8px;
						width: 13px;height:13px;
						background: #9ea194;
						border-radius: 50px;
						&.on{
							background: #000;
						}
					}
				}
			}
			.prds_sub{
				position: absolute;
				width: auto;
				z-index: 3;
				img{
					display: inline-block;
				}
			}
			.img_box{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateY(-50%);
				width: 447px;
				height: 100%;
				margin-left: -60px;
				z-index: 5;
				>img{
					position: absolute;
				}
			}
			.buy_box{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateY(-50%);
				>span{
					display: block;
					font:400 16px/16px 'adinenuPro-light';
					color:#000;
					letter-spacing: 1px;
				}
				h3{
					font:600 33px/33px 'NotoSansKR';
					color:#000;
				}
				h4{
					font:500 23px/23px 'NotoSansKR';
					color:#000;
					padding-bottom: 5px;
				}
				p{
					padding: 15px 0 30px;
					font:400 16px 'NotoSansKR';
					color:#000;
				}
				.button_area_v2{
					display: inline-block;
					width: 140px;
					a{
						height: 46px;
						line-height: 44px;
						font-size: 14px;
						font-weight: normal;
						span{
							display: inline-block;
						}
					}
				}
				&.inn_sect1{
					transform: translate(45%, -50%);
				}
				&.inn_sect2{
					transform: translate(-150%, -50%);
				}
				&.inn_sect3{
					transform: translate(45%, -50%);
				}
				&.inn_sect4{
					transform: translate(-150%, -50%);
				}
			}
		}

		
	}

	.sect_bot{
		position: relative;
		height: 594px;
		>.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.b_box{
			position: absolute;
			width: 100%;
			top: 36%;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
			z-index: 3;
			h2{
				font:700 34px/34px 'NotoSansKR';
				color:#000;
				letter-spacing: 1.8px;
				text-align: center;
			}
			h3{
				padding: 10px 0 0 0;
				font:400 30px/30px 'NotoSansKR';
				color:#000;
				padding-bottom: 30px;
				text-align: center;
			}
			p{
				text-align: left;
				font:500 22px/22px 'NotoSansKR';
				color:#000;
				padding-bottom: 20px;
				text-align: center;
				em{
					font: 22px 'adinenuPro-bold';
					letter-spacing: 1px;
				}
			}
			.button_area_v2{
				display: inline-block;
				a{
					padding: 0 20px;
				}
			}
		}
	}
}
