@import "./front/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
#contents_wrap{
    background: #fff;
}
.btn{
    position: relative;
    display: inline-block;
    // width: 155px;
    margin-top: 30px;
    border:1px solid #000;
    box-sizing: border-box;
    a{
        display: block;
        padding:0 25px;
        background: #fff;
        color:#000;
        font: 600 14px/48px 'NotoSansKR';
        text-align: center;
        letter-spacing: 1px;
        span.arrow{
            display: inline-block;
            width: 24px;
            height: 11px;
            margin-left: 10px;
            background: url('/images/reebok/2019/event/interval_og/arrow.png') no-repeat;
        }
        &::after{
            display: inline-block;
            content: '';
            position: absolute;
            top: 0;right: 0;left: 0;bottom: 0;
            border: 1px solid #000;
            z-index: -1;
            transform: translate(5px, 5px);
        }
    }
}

.campaign_og{

    .visual_main{
        position: relative;
        height: 1001px;
        &.on{
            .txt{
                h1{opacity: 1; padding-left: 0;}
                >p{opacity: 1; padding-left: 0;}
                .btn{opacity: 1; margin-left: 0;}
            }
            .logo{
                top: 62px;
                opacity: 1;
                
            }
        }
        .bg{
            position: absolute;
            top:0;
            left: 50%;
            width: 1920px;
            transform:translateX(-50%);
        }
        .txt{
            // outline: 1px solid #fff;
            // width: 480px;
            width: 100%;
            position: absolute;
            bottom: 4.5%;
            left: 50%;
            transform:translateX(-50%);
            text-transform: uppercase;
            text-align: center;
            h1{
                padding-left: 20px;
                font: 900 50px 'neueplak-ext';
                color:#000;
                text-transform: uppercase;
                text-align: center;
                opacity: 0;
                transition: all .6s;
            }            
            >p{
                padding-top: 13px;
                display: block;
                font: 18px/28px 'NotoSansKR';
                color:#000;
                text-align: center;
                opacity: 0;
                text-transform: initial;
                transition: all .6s;
                transition-delay: 0.4s;
                &.bold{
                    font:700 24px 'neueplak-wide';
                    color:#e62318;
                }
                &.tip{
                    margin:15px 0 0 0;
                    font:600 14px/14px 'NotoSansKR';

                }
            }
            .btn{
                margin:15px 0 0 0;
                opacity: 0;
                transition: all .6s;
                transition-delay: 0.8s;
            }
        }
        .logo{
            position: absolute;
            top: 30px;
            left: 50%;
            margin-left: -548px;
            transform: rotate(90deg);
            -webkit-transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            -webkit-transition-delay: .6s;
            transition-delay: 1s;
            -webkit-opacity: 0;
            opacity: 0;
            img{
                display: block;
                height: 50px;
            }
        }
    }

    .statement{
        position: relative;
        height: 209px !important;
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left:-960px;
        }
        h2{
            position: relative;
            margin:0 0 20px 0;
            padding: 30px 0 0 0;
            text-align: center;
            font: 900 22px 'neueplak-wide';
            color:#000;
        }
        ul{
            width:960px;
            padding: 0 0 0 163px;
            margin:0 auto;
            li{
                font:400 14px 'NotoSansKR';
            }
        }
    }

    .section_vid{
        position: relative;
        video{
            display: block;
            width: 100%;
        }
        .btn-play{
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);    
        }
    }

    .section_evt{
        position: relative;
        height: 680px;
        .bg{
            position: absolute;
            top:0;
            left: 50%;
            width: 1920px;
            transform:translateX(-50%);
            z-index: 0;
        }
    }
    
    .section_collection{
        position: relative;
        .content_inner{
            text-align: center !important;
            top: 65% !important;
        }
        .img2-3{
            .content_inner{
                top:0 !important;
                background: rgba(0,0,0,0.5);
                .inn{
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    width:100%;
                    text-align: center;
                }
                p{
                    text-align: center;
                    font:600 20px/28px 'NotoSansKR';
                    color:#fff;
                }
            }
        }
    }
}
