@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';


#alphaedge{
	position: relative;
	//common
	.button_area_v2{
		margin-top: 25px;
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			width:140px;
			font: 700 14px/48px 'NotoSansKR';
			letter-spacing: 0;
		}
	}

	//main
	.main{
		position: relative;
		height: 850px;
		>.bg{
			width: 1920px;
			position: absolute;
			top:0;
			left:50%;
			transform: translateX(-50%);
			img{
				width:100%;
			}
		}
		.b_box{
			width: 360px;
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(50%,-50%);
			text-align: center;
			h1{
				font: 38px 'adinenuPro-bold';
				color: #000;
				text-align: center;
				letter-spacing: 3px;

				transition: all .4s;
				opacity: 0;
			}
			h3{
				font: 500 18px 'NotoSansKR';
				color: #000;
				text-align: center;

				transition: all .4s;
				transition-delay: 0.4s;
				opacity: 0;
			}
			p{
				padding-top: 10px;
				font: 300 16px 'NotoSansKR';
				color: #000;
				text-align: center;

				transition: all .4s;
				transition-delay: 0.8s;
				opacity: 0;
				span{
					display: inline-block;
					padding-top: 10px;
					font-size: 13px;
				}
			}
			.button_area_v2{
				transition: all .4s;
				transition-delay: 1s;
				opacity: 0;
				a{
					width: auto;
					padding: 0 30px;
					letter-spacing: 2px;
				}
			}
		}
		&.on{
			.b_box{
				>*{
					opacity: 1;
				}
				.button_area_v2{
					a{
						span{
							margin-left: 1rem;
						}
					}
				}
			}
		}
	}
	
	//section
	.section{
		position: relative;
		height: 536px;
		background: #f8faf5;
		.wrap{
			overflow: hidden;
			width: 1250px;
			margin: 0 auto;
			z-index: 2;
			text-align: center;
			padding: 60px 0;
			.desc{
				float: left;
				text-align: center;
				&:nth-child(2){
					margin:40px 55px 0;
				}
				img{
					margin-bottom:20px;
				}
				p{
					text-align: center;
					font: 700 30px/30px 'NotoSansKR';
					color:#000;
					letter-spacing: 0;
				}
				span{
					display: inline-block;
					padding-top: 10px;
					font: 400 16px/24px 'NotoSansKR';
					color:#333;					
					text-align: center;
				}
			}
		}
	}

	//aside
	.aside{
		position: relative;
		height: 600px;
		>.bg{
			width: 1920px;
			position: absolute;
			top:0;
			left:50%;
			transform: translateX(-50%);
			img{
				width:100%;
			}
		}
		.b_box{
			width: 360px;
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(50%,-50%);
			text-align: center;
			h1{
				font: 38px 'adinenuPro-bold';
				color: #000;
				text-align: center;
				letter-spacing: 3px;

				transition: all .4s;
				opacity: 0;
			}
			p{
				font: 300 16px 'NotoSansKR';
				color: #000;
				text-align: center;

				transition: all .4s;
				transition-delay: 0.4s;
				opacity: 0;
				span{
					display: inline-block;
					padding-top: 10px;
					font-size: 13px;
				}
			}
			.button_area_v2{
				transition: all .4s;
				transition-delay: 0.8s;
				opacity: 0;
				a{
					width: auto;
					padding: 0 30px;
					letter-spacing: 2px;
				}
			}
		}
		&.on{
			.b_box{
				>*{
					opacity: 1;
				}
				.button_area_v2{
					a{
						span{
							margin-left: 1rem;
						}
					}
				}
			}
		}
	}
}
