@import "./app/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
#contents_wrap{padding: 0;}
.campaign_line_friends{
    .visual_video{
        position: relative;
        background: #fff;
        height:650px !important;
        .bg{
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -1017px;
            width: 1980px;
            img{
                display: block;
            }
        }

        .video_bg{
            width: 100%;
            .ie &{
                video{
                    width:100%;
                    min-width: 1900px;
                    height: 643px;
                }
            }
        }

        .masthead{
            text-align: center;
            top:50%;
            h2{
                margin-left: 38px;
            }
            p{
                margin-bottom: 40px;
                font:400 18px/22px 'NotoSansKR';
            }
            a.play-video{
                position: relative;
                display: inline-block;
                width: 60px;
                height: 60px;
                border: 6px solid #fff;
                box-sizing: border-box;
                margin-bottom: 50px;            
                &.btn-play-video{
                    font: 18px/60px 'NotoSansKR';
                    margin: 0 4px;
                    padding-right: 25px;
                    .ico-video{
                        position: absolute;
                        top: 17px;
                        right: 35px;
                        display: inline-block;
                        width: 25px;
                        height: 25px;
                        background: url('http://image.reebok.co.kr/images/reebok/event/about/always/ico-video.png') 0 0 no-repeat;
                    }
                }                
            }
            a.btn-buy{
                position: relative;
                display: inline-block;
                width: 200px;
                height: 50px;
                font: 18px/50px 'NotoSansKR';
                color: #fff;                
                border: 1px solid #fff;              
                text-align: center;
            }
        }
    }

    .event_box{
        overflow: hidden;
        width: 100%;
        position: relative;
        height: 1476px;
        background: #fff;
        .event_bar{
            display: none;
            width: 890px;
            height: 90px;
            margin:0 auto;
            h3{
                display: inline-block;
                font: 600 23px/90px 'NotoSansKR';
                color: #1a1a1a;
            }
            a{
                margin-top: 22px;
                float: right;
                display: inline-block;
                width: 170px;
                height: 45px;
                border: 1px solid #000;
                text-align: center;
                font: 500 18px/49px 'DINWebPro-CondBold';
                color: #1a1a1a;

                transition: .4s;
                &:hover{
                    background: #000;
                    color: #fff;
                }
            }
        }
        .img{
            position: relative;
            left: 50%;
            top: 0;
            margin-left: -990px;            
        }
        .slider_wrap{
            position: absolute;
            top: 51.8%;
            left: 50%;
            text-align: center;
            @include prefix-css3(opacity,0);
            @include prefix-css3(transition, 0.5s);
            &.on{
                @include prefix-css3(opacity,1);

            }
            #sliders{
                display: inline-block;
                // margin: 70px 0 0 520px;
            }
        }
        .indicator{
            position: absolute;
            bottom:-30px;
            left: 0;
            width: 425px;
            z-index: 2;
            text-align: center;
            display: inline-block;
            a{
                display: inline-block;
                margin: 0 3px;
                width: 12px;height: 12px;
                background: #bee5da;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                text-indent: -9999px;
                &.on{
                    background: #fff;
                }
            }
        }
    }

    .products_collection{
        width: 100%;
        height: 750px;
        padding-top: 50px;
        position: relative;
        background: #8dcdc5;

        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:640px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            .arrow-prev{
                position: absolute;
                top:50%;
                left:50%;
                margin-left: -495px;

                z-index: 2;
                width: 26px;
                height: 26px;
            }
            .arrow-next{
                position: absolute;
                top:50%;
                left:50%;
                margin-left:490px;

                z-index: 2;
                width: 26px;
                height: 26px;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 640px;
                li{
                    width: 990px;
                    position: relative;
                    float: left;
                    text-align: center;
                    @include opacity(0.4);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                    img{
                        display: inline-block;
                    }
                }
                li.active{
                    @include opacity(1);
                }
            }
        }
        .slider-btn{
            width: 100%;
            position: relative;
            padding: 20px 0;
            text-align: center;
            a{
                display: inline-block;
                width: 12px;
                height: 10px;
                padding-top: 2px;
                text-align: center;
                margin-right: 8px;
                background: #fff;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                color: #fff;
                opacity: .5;
                &.on{
                    opacity: 1;
                }
            }
        }
    }
}
