@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
.campaign_clubc_90{
    .button_area{
        display: inline-block;
        a{
            display: inline-block;
            @include border-box();
            width: 277px;
            height: 60px;
            border: 2px solid #ddd;
            font:22px/55px 'NotoSansKR','Nanum Gothic';
            color:#fff;
            background: rgba(0,0,0,0.2);
            text-align: center;
            @include transition (all, 0.4s);
            &:hover{
                background: rgba(0,0,0,0.6);
            }
        }
    }
    .inner{
        width: 890px;
        margin: 0 auto;
    }
    .visual_video{
        background: #000;
        h2{
            height: inherit;
            text-indent: 0;
            background:none;
            font:85px/90px 'QStencil';
            text-transform: uppercase;
            span{
                font:25px/45px 'QStencil';
                vertical-align: top;
            }
        }
        .video_bg{
            width: 100%;
            .ie &{
                video{
                    width:100%;
                    min-width: 1900px;
                    height: 650px;
                }
            }
        }
        .desc_eng{
            font:24px/24px 'DINWebPro-CondMedium';
            text-transform: uppercase;
            letter-spacing: 0;
        }
        .video_bg{
            &.ended{
                @include opacity(0);
                @include prefix-css3(transition ,opacity 1.6s ease-in);
            }
        }
        .masthead{
            @include prefix-css3(transition,opacity 0.6s ease 1.5s);
            p{
                margin-bottom: 5px;
            }
            &.active{
                @include opacity(1);
                .desc_eng{
                    color:#fff;
                }
            }
        }
    }
    .main_cut{
        overflow: hidden;
        position: relative;
        height: 650px;
        .bg{
            position: absolute;
            left:50%;
            top:0;
            margin-left: -990px;
            @include opacity(1);
            @include prefix-css3(transition,opacity 0.6s ease 1s);
            img{
                transform: scale(1);
                @include prefix-css3(transition,all 0.6s ease 1s);
            }
            &.event{
                z-index: 1;
                @include opacity(0);
                img{
                    transform: scale(1.1);
                }
            }
        }

        .inner{
            h2{
                position: relative;
                padding-top: 364px;
                text-align: right;
                z-index: 1;
            }
        }

    }
    .event_section{
        position: relative;
        height: 770px;
        .bg{
            position: absolute;
            left:50%;
            margin-left: -980px;
        }
        .txt{
            padding-top: 86px;
        }
        .tips{
            margin: 30px 0 0 0;
            padding: 20px;
            background: rgba(255,255,255,0.6);
            @include transition (all, 0.6s);
            &:hover{
                background: rgba(255,255,255,0.8);
            }
            ul{
                li{
                    font:500 12px/20px 'NotoSansKR';
                    color:#bfbfbf;
                }
            }
        }
    }
    .prds_section{
        position: relative;
        height: 638px;
        .bg{
            position: absolute;
            left:50%;
            margin-left: -980px;
        }
        .inner{
            position: relative;
            h3{
                padding: 76px 0 12px;
                font:62px/60px 'DINWebPro-CondBold';
                text-transform: uppercase;
                color:#fff;
                text-align: center;
            }
            p{
                font:500 18px/18px 'NotoSansKR';
                text-transform: uppercase;
                text-align: center;
                color:#fff;
            }
            .prd_wrap{
                position: relative;
                .item{
                    position: relative;
                    float: left;
                    width: 440px;
                    height: 340px;
                    background: #fff;
                    text-align: center;
                    overflow: hidden;
                    &:hover{
                        .img{
                            perspective: 800px;
                            -webkit-perspective: 800px;
                            img{
                                transform: translate3d(0, 0, 80px);
                                -webkit-transform: translate3d(0, 0, 80px);
                                transition-duration: 8s;
                                -webkit-transition-duration: 8s;
                                -moz-transition-duration: 8s;
                                -o-transition-duration: 8s;
                                -ms-transition-duration: 8s;
                            }
                        }
                        .overbtn{
                            @include opacity(1);
                        }
                    }
                    &.right{
                        float: right;
                    }
                    .link{
                        position: absolute;
                        top:0;
                        left:0;
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        z-index: 5;
                    }
                    .img{
                        position: relative;
                        z-index: 2;
                        padding-top: 68px;
                        padding-bottom: 20px;
                        text-align: center;
                        img{
                            transform: translate3d(0, 0, 0);
                            -webkit-transform: translate3d(0, 0, 0);
                            -moz-transform: translate3d(0, 0, 0);
                            -o-transform: translate3d(0, 0, 0);
                        }
                    }
                    p{
                        position: relative;
                        z-index: 2;
                        font:20px/20px 'DINWebPro-CondMedium';
                        color:#666;
                        &.tle{
                            padding-top: 5px;
                            font:36px 'DINWebPro-CondBold';
                            color:#000;
                            letter-spacing: -0.3px;
                        }
                        &.num{
                            padding-top: 15px;
                            font:17px 'DINWebPro-CondBold';
                            span{
                                display: inline-block;
                                margin-right: 7px;
                                width: 13px;
                                height: 13px;
                                background: #000;
                                border-radius: 100px;
                                -webkit-border-radius: 100px;
                                &.type2{
                                    background: #fff;
                                    border: 1px solid #c6c6c6;
                                    @include border-box();
                                }
                            }
                        }
                    }
                }
                .bgs_panel{
                    position: absolute;
                    left:100%;
                    top:0;
                    width: 440px;
                    height: 340px;
                    z-index: 0;
                    &.black{
                        div{
                            &.colorbox1{
                                transition-delay: 0.5s;
                                background: #00265c; /* Old browsers */
                            }
                            &.colorbox2{
                                background: #fff;
                                transition-delay: 0.6s;
                            }
                            &.colorbox3{
                                background: #dcdde0;
                                transition-delay: 0.7s;
                            }
                        }
                    }

                    &.event{
                        div{
                            left:-200%;
                        }

                    }
                    div{
                        position: absolute;
                        top:0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: all 0.8s;
                        &.colorbox1{
                            transition-delay: 0.2s;
                            background: #00265c;
                        }
                        &.colorbox2{
                            background: #fff;
                            transition-delay: 0.3s;
                        }
                        &.colorbox3{
                            background: #dcdde0;
                            transition-delay: 0.4s;
                        }
                    }
                }
                .overbtn{
                    position: absolute;
                    top:0;
                    left:0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.4);
                    z-index: 4;
                    cursor: pointer;
                    @include opacity(0);
                    @include transition(opacity 0.5s);
                    .btn_wrap{
                        position: absolute;
                        // position: relative;
                        transform: translate(-50%,-50%);
                        -webkit-transform: translate(-50%,-50%);
                        display: inline-block;
                        padding: 2px;
                        text-align: center;
                        border: 1px solid #fff;
                        top: 50%;
                        left: 50%;
                        // margin-left: -95px;
                        // margin-top: -25px;
                        .btn_inn{
                            position: relative;
                            display: inline-block;
                            color: #fff;
                            overflow: hidden;
                            width: 180px;
                            span{
                                position: relative;
                                display: inline-block;
                                width: 100%;
                                font:700 16px/50px 'NotoSansKR';
                                background: #fff;
                                color:#000;
                                text-align: center;
                            }
                            em{
                                position: absolute;
                                top: 0;
                                left: -100%;
                                width: 100%;
                                height: 100%;
                                background: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

}
/* campaign_insta_pumpfury end */
