<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=640, maximum-scale=1, user-scalable=no">

  include "_includes/favicons.html"

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- <link rel="stylesheet" href="styles/prototype.css" type="text/css"> -->

    <script type="text/javascript" src="//tags.tiqcdn.com/utag/adidas/adidasbrand/dev/utag.sync.js"></script>

    <!-- build:js({.tmp,app}) scripts/vendor/modernizr.js -->
    <script src="scripts/vendor/modernizr.js"></script>
    <!-- endbuild -->

</head>
