@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#adiclub_10th{
	width: 100%;
	position: relative;
	overflow: hidden;
	.box{
		width: 100%;
		position: relative;

		.image{
			position: absolute;
			left: 50%;
			top: 0;
			margin-left: -960px;
		}

		&.masthead{
			height: 700px;
			background: #edb45a;
		}

		&.event{
			height: 1213px;
			background: #f5d98d;
		}
	}
}
