@import "./front/css/reebok/scss/about.scss";

/* common */
#wrap{
    overflow: hidden;
    min-width: 1160px;
}
#contents_wrap{padding: 0;}
.btn{
	display: inline-block;
	>div{
		position: relative;
		&::before{
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
            bottom: -4px;
            height: 3px;
            left: 2px;
            width: calc(100% + 1px);
            content: "";
            display: block;
            position: absolute;
		}
		&::after{
            border-right: 1px solid #fff;
            border-top: 1px solid #fff;
            height: calc(100% + 1px);
            right: -4px;
            top: 2px;
            width: 3px;
            content: "";
            display: block;
            position: absolute;
        }
		a{
			width: 136px;
			font: 700 14px/47px 'NotoSansKR';
			letter-spacing: 0;
			position: relative;
			display: block;
			text-align: center;
			height: 50px;
			color: #fff;
			background:#000;
			z-index: 2;
			border: 1px solid #fff;
			.arrow{
				margin-left: 17px;
				vertical-align: middle;
			}
		}
	}
	&.white{
		>div{
			&::before{
				border-bottom: 1px solid #000;
				border-left: 1px solid #000;
			}
			&::after{
				border-right: 1px solid #000;
				border-top: 1px solid #000;
			}
			a{
				color: #000;
				background:#fff;
				border: 1px solid #000;
				.arrow{
				}
			}
		}
	}
}

.dmx{
	background:#264797;
	.top_cont{
		position: relative;
		height: 810px;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left:calc(-1920px/2);
			z-index: 0;
		}
		.img{
			div{
				position: absolute;
				top:50%;
				left:50%;
				margin-top: -380px;
				margin-left: 330px;
				width: 230px;
				height: 600px;
				background:#c7c9c5;
			}
			img{
				position: absolute;
				top:50%;
				left:50%;
				margin-top: -380px;
				margin-left: -225px;
				&:nth-child(3){
					margin-top: -193px;
					margin-left: 161px;
				}
			}
		}
		.txt{
			position: absolute;
			top:50%;
			left:50%;
			margin-top:-101px;
			margin-left:-540px;
			h1,p{
				color:#fff;
				text-shadow: 2px 2px 2px #000;
			}
			h1{
				font: 60px/60px 'PFDinMonoPro-Bold';
				em{
					font: 30px/30px 'PFDinMonoPro-Bold';					
				}
			}
			p{
				font: 400 18px/25px 'NotoSansKR';
				letter-spacing: 2px;
				margin: 20px 0 35px 0;
			}
		}
	}
	.sliders_wrap{
		position: relative;
		background:url('/images/reebok/2019/event/dmx/0801/1908_r_dmx_sectionBg_DT.jpg') no-repeat;
		background-size: auto 100%;
		background-position: center;
		background-color: #c7c9c5;
		&.on{
		}
		>h1{
			position: absolute;
			top:370px;
			left:50%;
			margin-left: 452px;
			color:#fff;
			font: 96.26px/96.26px 'PFDinMonoPro-Bold';
			transform: rotate(90deg);
			em{
				font: 50px/50px 'PFDinMonoPro-Bold';					
			}
		}
		.slide{
			position: relative;
			height:766px;
			&::after{
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				content: '';
				clear: both;
				width: 400px;
				height: 470px;
				background: #264797;
				z-index: 0;
			}
			&.slide_cont01{
				height:811px;
				#sliders{
					top: 45px;
					left: 50%;
					margin-left: -590px;
				}
				.indicator{
					margin-left: 230px;
				}
				.txt{
					position: absolute;
					bottom: 100px;
					left: 50%;
					margin-left: -510px;
				}
				&::after{
					margin-top: -271px;
					margin-left: -621px;
					background: #264797;
				}
			}
			&.slide_cont02{
				#sliders{
					top: 0;
					left: 50%;
					margin-left: -205px;
				}
				.indicator{
					top:15px;
					margin-left: -250px;
				}
				.txt{
					position: absolute;
					bottom: 110px;
					left: 50%;
					margin-left: -155px;
					.inner{
						&::before{
							content: 'DV8746';						
						}
					}
				}
				&::after{
					margin-top: -292px;
					margin-left: 222px;
					background: #faff00;
				}
			}
			@media screen and (max-width: 1100px) {
				&.slide_cont02{
					margin-left: -270px;
				}
			}
			&.slide_cont03{
				#sliders{
					top: 0;
					left: 50%;					
					margin-left: -590px;
				}
				.indicator{
					top:15px;
					margin-left: 230px;
				}
				.txt{
					position: absolute;
					bottom: 110px;
					left: 50%;
					margin-left: -510px;
					.inner{
						&::before{
							content: 'DV8747';						
						}
					}
				}
				&::after{
					margin-top: -293px;
					margin-left: -619px;
					background: #264797;
				}
			}

			//default
			#sliders{
				margin:0 auto;
				z-index:1;
				ul{
					li{
					}
				}
			}
			.indicator{
				position: absolute;
				top: 50px;
				left: 50%;
				z-index: 1;
				a{
					display: block;
					margin:0 2px;
					font: 30px/30px 'PFDinMonoPro-Bold';
					position: relative;
					margin: 15px 0;
					color:#898989;
					&.on{
						color:#264797;
						&::after{
							content: '';
							clear: both;
							display: block;
							position: absolute;
							bottom: -3px;
							left: 0;
							right: 0;
							border-bottom: 3px solid #264797;
						}
					}
				}
			}
			.txt{
				position: absolute;
				bottom:30px;
				left:50%;
				.inner{
					position: relative;
					&::before{
						display: block;
						content: 'DV8748';
						clear:both;
						position: absolute;
						top:-25px;
						left:2px;
						color:#264797;
						font: 20px/20px 'PFDinMonoPro-Bold';							
					}
					p{
						display: inline-block;
						font: 46px/46px 'PFDinMonoPro-Bold';
						color:#000;
						vertical-align: middle;
						margin: 0 95px 0 0;
						em{
							font: 30px/30px 'PFDinMonoPro-Bold';					
						}
					}
				}

			}
		}
	}

}
