/* left */

#cscenter{overflow:hidden;background:#fff;}
#cscenter #snb li{float:left;height:76px;}



/* cs center에서만 스타일 틀린 공통 class */

#cscenter #snb {width:890px;height:75px;float:none;}
#cscenter div.cont{padding:37px 45px;}
#cscenter h3 {padding:0 0 15px;}

#cscenter h3.no {border-bottom:0px solid #69b7e7;padding:0 0 15px;}

#cscenter h4 {padding-left:10px;margin:20px 0 15px;}

#cscenter p.call_advice{color: red;font:11px 'dotum','돋움';letter-spacing: -1px;margin-bottom: 5px;padding-left: 10px;}
#cscenter div.loc  {height:57px;}

#cscenter div.loc p {font-size:11px;font-family:'dotum','돋움';padding:24px 0 0 0;}

#cscenter div.button {margin:20px 0 0;padding:0;}

#cscenter div.button img {margin:0 3px;}

#cscenter table.write tr th {background:#fff;padding:8px 0 5px 17px;}

#cscenter table.write tr td{padding-left:0;border-bottom:1px solid #e8e8e8;}
#cscenter table.write tr td.text {font:normal 12px 'gulim','굴림';padding:9px 0 7px 0;letter-spacing:0;color:#666;}

#cscenter table.write tr td span.txt {padding-left:8px; color:#aaa;margin:0;}

#cscenter div.button2 {margin:10px 10px 0 0;text-align:right;}



/*tab*/

ul.cscenter_tab {overflow:hidden;height:38px;clear:both;background:url(//image.reebok.co.kr/images/reebok/cscenter/bg_tab_cscenter.gif) no-repeat;}

ul.cscenter_tab li {float:left; height:38px;}

ul.cscenter_tab li a {display:block;overflow:hidden; height:38px;background:url(//image.reebok.co.kr/images/reebok/cscenter/bg_tab_cscenter.gif) no-repeat; text-indent:-3000px; font-size:0; line-height:0;}

ul.cscenter_tab .t1 a {width:103px; background-position:0 0;}
html>body ul.cscenter_tab .t1.on a {background-position:0 -38px;}
ul.cscenter_tab .t2 a {width:90px; background-position:-103px 0;}
html>body ul.cscenter_tab .t2.on a {background-position:-103px -38px;}
ul.cscenter_tab .t3 a {width:90px; background-position:-193px 0;}
html>body ul.cscenter_tab .t3.on a {background-position:-193px -38px;}
ul.cscenter_tab .t4 a {width:75px; background-position:-283px 0;}
html>body ul.cscenter_tab .t4.on a {background-position:-283px -38px;}
ul.cscenter_tab .t5 a {width:90px; background-position:-358px 0;}
html>body ul.cscenter_tab .t5.on a {background-position:-358px -38px;}
ul.cscenter_tab .t6 a {width:85px; background-position:-448px 0;}
html>body ul.cscenter_tab .t6.on a {background-position:-448px -38px;}
ul.cscenter_tab .t7 a {width:90px; background-position:-533px 0;}
html>body ul.cscenter_tab .t7.on a {background-position:-533px -38px;}
ul.cscenter_tab .t8 a {width:99px; background-position:-623px 0;}
html>body ul.cscenter_tab .t8.on a {background-position:-623px -38px;}
ul.cscenter_tab .t9 a {width:78px; background-position:-722px 0;}
html>body ul.cscenter_tab .t9.on a {background-position:-722px -38px;}


ul.cscenter_tab .on a {position:relative;}



#cscenter div.search_area {height:44px;border-top:2px solid #bfbfbf;border-bottom:1px solid #dbdbdb;background:#f1f1f1;margin-bottom:10px;}

#cscenter div.search_area p {float:left;margin:11px 0 11px 18px;}

#cscenter div.search_area input {float:left;border:1px solid #ccc;width:254px;height:19px;_height:16px;color:#888;font:normal 12px 'gulim','굴림';margin:11px 6px 0 10px;padding:2px 0 0 10px;_padding:5px 0 0 10px;}

*:first-child+html #cscenter div.search_area input {height:16px;padding:5px 0 0 10px;}

#cscenter div.search_area img.btn {float:left;margin:11px 0 0;}


#cscenter div.search_area_130702 {height:44px;border-bottom:1px solid #dbdbdb;background:#f1f1f1;margin-bottom:10px;}
#cscenter div.search_area_130702 h3{height:17px;float:left;margin:15px 0 0 35px;padding:0 32px 0 0;border-right:1px solid #bebebe}
#cscenter div.search_area_130702 p {float:left;margin:11px 6px 11px 20px;}
#cscenter div.search_area_130702 input {float:left;border:1px solid #ccc;width:278px;height:19px;_height:16px;color:#888;font:normal 12px 'gulim','굴림';margin:11px 6px 0 0;padding:2px 0 0 10px;_padding:5px 0 0 10px;}
*:first-child+html #cscenter div.search_area_130702 input {height:16px;padding:5px 0 0 10px;}
#cscenter div.search_area_130702 img.btn {float:left;margin:11px 0 0;}



#cscenter div.combo12 {float:left;display:inline;width:140px;height:23px;background:url(//image.reebok.co.kr/images/reebok/common/bg_selectbox02.gif) no-repeat;position:relative;padding:0;z-index:10;margin-top:11px;}

#cscenter div.combo12 {color:#888;}

#cscenter div.combo12 ul {position:absolute;left:0;top:22px;background-color:#fff;border:1px solid #ccc;padding:3px 0;margin:0;width:138px;}

#cscenter div.combo12 ul li a {display:block;height:16px;padding:4px 0 0 9px;}

#cscenter div.combo12 ul li a:hover {background-color:#b2b4bf;color:#000;}

#cscenter div.combo12 a.btn {float:right;display:block;width:21px;height:20px;margin:0;padding:0;}

#cscenter div.combo12 span.tit {float:left;display:inline-block;height:14px;padding:5px 0 0 10px;_padding:6px 0 0 10px;margin-top:0;cursor:pointer;}



#cscenter p.stit_ico {height:15px;text-align:left;color:#505050;letter-spacing:-0.5px;padding:10px 0 4px 10px;}
#cscenter p.stit_ico span {color:#797b80; font-size:11px;font-family:Dotum;}
#cscenter p.stit_ico span em {color:#c90011; font-weight:bold;letter-spacing:-0.5px;}
#cscenter p.stit {background:url(//image.reebok.co.kr/images/reebok/cscenter/blt_list.gif) no-repeat 10px 15px;border-top:1px solid #bcbcbc;color:#505050;letter-spacing:-1px;padding:10px 0 8px 20px;}

#cscenter p.stit span {color:#0168b5;}

#cscenter p.stit2 {border-top:1px solid #bcbcbc;color:#505050;letter-spacing:-1px;padding:10px 0 8px 10px;}

#cscenter p.stit2 strong {color:#0168b5;}

#cscenter div.banner {width:764px;height:46px;padding:17px 17px 0;background:#f1f1f1;border:1px solid #e3e3e3;margin-top:20px;}
#cscenter div.banner p{float:left;}
#cscenter div.banner a{float:right;}

#cscenter div.paging {margin:20px 0 0;}



#cscenter p.detail_want {position:relative;border:1px solid #d0d0d0;padding:11px 0 7px 13px;margin-top:30px;font:normal 11px 'dotum','돋움';letter-spacing:-1px;}

#cscenter p.detail_want img {position:absolute;right:4px;top:6px;}



div.cs_list {}

div.cs_list table {width:100%;}

div.cs_list table tr th {background:url(//image.reebok.co.kr/images/reebok/common/bg_line.gif) no-repeat right 10px;height:31px;color:#fff;line-height:31px;text-align:center;letter-spacing:-1px;}

div.cs_list table tr th.last {background:none;}

div.cs_list table tr td {height:40px;background:#fff;color:#888;text-align:center;border-bottom:1px solid #e8e8e8;}

div.cs_list table tr td.detail_view {background:#f6f6f6;padding:20px 35px;border-bottom:1px solid #e8e8e8;}

div.cs_list table tr td.detail_view .question02 {color:#666;letter-spacing:-0.5px;}

div.cs_list table tr td strong {color:#0168b5;}

div.cs_list table tr td.detail {background:none;padding:20px;text-align:left;line-height:18px;}

div.cs_list table tr td.detail2 {background:none;padding:25px;text-align:left;line-height:18px;}

div.cs_list table tr td.detail strong, div.cs_list table tr td.detail2 strong {color:#777;}

div.cs_list table tr td.sub {text-align:left;letter-spacing:-1px;}

div.cs_list table tr td.sub a {float:left;color:#666;}

div.cs_list table tr td.sub div{float:right;margin-right:22px;font:11px 'Dotum';letter-spacing:-1px;color:#666;}
div.cs_list table tr td.sub div span{font-weight:bold;}
div.cs_list table tr td.sub_notice {text-align:left;letter-spacing:-1px;}

div.cs_list table tr td.sub_notice a {color:#777;}

div.cs_list table tr td.sub_notice span {background:url(//image.reebok.co.kr/images/reebok/cscenter/blt_arrow.gif) no-repeat left 4px;padding-left:10px;}

div.cs_list table tr.over_color td {color:#333;background:#f2f2f2;}

div.cs_list table tr.over_color td.sub a {color:#333;}

div.cs_list table tr.over_color td.sub_notice a {color:#333;}

div.cs_list table tr.out_color td {height:40px;}



ul.cscenter_tab_130702 {position:relative;overflow:hidden;height:40px;padding-bottom:31px;clear:both;}
ul.cscenter_tab_130702 li {float:left; height:40px;}
ul.cscenter_tab_130702 li dt a {display:block;overflow:hidden; height:40px;background:url(//image.reebok.co.kr/images/reebok/cscenter/bg_tab_cscenter2.gif) no-repeat;text-indent:-5000px;}
ul.cscenter_tab_130702 .t1 dt a {width:88px; background-position:0 0;}
ul.cscenter_tab_130702 .t1 dt a.on{background-position:0 -40px;}
ul.cscenter_tab_130702 .t2 dt a {width:89px; background-position:-88px 0;}
ul.cscenter_tab_130702 .t2 dt a.on{background-position:-88px -40px;}
ul.cscenter_tab_130702 .t3 dt a {width:88px; background-position:-177px 0;}
ul.cscenter_tab_130702 .t3 dt a.on{background-position:-177px -40px;}
ul.cscenter_tab_130702 .t4 dt a {width:88px; background-position:-265px 0;}
ul.cscenter_tab_130702 .t4 dt a.on{background-position:-265px -40px;}
ul.cscenter_tab_130702 .t5 dt a {width:96px; background-position:-353px 0;}
ul.cscenter_tab_130702 .t5 dt a.on{background-position:-353px -40px;}
ul.cscenter_tab_130702 .t6 dt a {width:88px; background-position:-449px 0;}
ul.cscenter_tab_130702 .t6 dt a.on{background-position:-449px -40px;}
ul.cscenter_tab_130702 .t7 dt a {width:87px; background-position:-537px 0;}
ul.cscenter_tab_130702 .t7 dt a.on{background-position:-537px -40px;}
ul.cscenter_tab_130702 .t8 dt a {width:89px; background-position:-624px 0;}
ul.cscenter_tab_130702 .t8 dt a.on{background-position:-624px -40px;}
ul.cscenter_tab_130702 .t9 dt a {width:87px; background-position:-713px 0;}
ul.cscenter_tab_130702 .t9 dt a.on{background-position:-713px -40px;}
ul.cscenter_tab_130702 li dd{
	width:798px;
	height:30px;
	border:1px solid #616161;
	border-top-width:0;
	background:#767676;
	position:absolute;
	top:38px;
	left:0;
	visibility:hidden;
}
ul.cscenter_tab_130702 li dd ul{padding-left:5px;}
ul.cscenter_tab_130702 li dd li{height:21px;padding-top:9px;float:left;margin:0 15px;font:11px 'dotum';}
ul.cscenter_tab_130702 li dd li a{color:#bbb;}
ul.cscenter_tab_130702 li dd li a:hover{color:#fff;}
ul.cscenter_tab_130702 li dd li a.on{color:#fff;font-weight:bold}

ul.cscenter_tab_130702 .on a {position:relative;}