@charset 'utf-8';
@font-face{
	font-family: 'NotoSansKRBold';
	src: url('//image.reebok.co.kr/fonts/NotoSansKr/woff/NotoSansKr-bold.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKRThin';
	src: url('//image.reebok.co.kr/fonts/NotoSansKr/woff/NotoSansKr-thin.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKRLight';
	src: url('//image.reebok.co.kr/fonts/NotoSansKr/woff/NotoSansKr-light.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKRRegular';
	src: url('//image.reebok.co.kr/fonts/NotoSansKr/woff/NotoSansKr-regular.woff') format('woff');
}

@font-face{
	font-family: 'NotoSansKR';
	src: url('//image.reebok.co.kr/fonts/NotoSansKr/woff/NotoSansKr-medium.woff') format('woff');
}

@font-face {
	font-family: 'reefont-bold';
    src: url('/fonts/reefont/eot/reefont-bold-webfont.eot');
	src: url('/fonts/reefont/eot/reefont-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/reefont/woff/reefont-bold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'reefont';
    src: url('/fonts/reefont/eot/reefont-regular-webfont.eot');
	src: url('/fonts/reefont/eot/reefont-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/reefont/woff/reefont-regular-webfont.woff')  format('woff');
}

@font-face {
  font-family: 'DINWebPro-Cond';
  src: url('//image.reebok.co.kr/fonts/dinWebpro/eot/DINWebPro-Cond.eot');
  src: url('//image.reebok.co.kr/fonts/dinWebpro/woff/DINWebPro-Cond.woff') format('woff');
}

@font-face {
  font-family: 'DINWebPro-CondLight';
  src: url('//image.reebok.co.kr/fonts/dinWebpro/eot/DINWebPro-CondLight.eot');
  src: url('//image.reebok.co.kr/fonts/dinWebpro/woff/DINWebPro-CondLight.woff') format('woff');
}

@font-face {
  font-family: 'DINWebPro-CondBold';
  src: url('//image.reebok.co.kr/fonts/dinWebpro/eot/DINWebPro-CondBold.eot');
  src: url('//image.reebok.co.kr/fonts/dinWebpro/woff/DINWebPro-CondBold.woff') format('woff');
}

@font-face {
  font-family: 'DINWebPro-CondMedium';
  src: url('//image.reebok.co.kr/fonts/dinWebpro/eot/DINWebPro-CondMedium.eot');
  src: url('//image.reebok.co.kr/fonts/dinWebpro/woff/DINWebPro-CondMedium.woff') format('woff');
}

@font-face {
	font-family: 'dinpro';
    src: url('//image.reebok.co.kr/fonts/dinpro/DINPro-Regular.eot');
    src: url('//image.reebok.co.kr/fonts/dinpro/DINPro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('//image.reebok.co.kr/fonts/dinpro/DINPro-Regular.woff2') format('woff2'),
		 url('//image.reebok.co.kr/fonts/dinpro/DINPro-Regular.woff') format('woff'),
		 url('//image.reebok.co.kr/fonts/dinpro/DINPro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'dinpro bold';
    src: url('//image.reebok.co.kr/fonts/dinpro/DINPro-Bold.eot');
    src: url('//image.reebok.co.kr/fonts/dinpro/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
		 url('//image.reebok.co.kr/fonts/dinpro/DINPro-Bold.woff2') format('woff2'),
		 url('//image.reebok.co.kr/fonts/dinpro/DINPro-Bold.woff') format('woff'),
		 url('//image.reebok.co.kr/fonts/dinpro/DINPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'QStencil';
  src: url('//image.reebok.co.kr/fonts/QStencil/eot/Q-Stencil.eot');
  src: url('//image.reebok.co.kr/fonts/QStencil/woff/Q-Stencil.woff') format('woff');
}

@font-face {
  font-family: 'ReefontCondensed';
  src: url('//image.reebok.co.kr/fonts/reefont/eot/reefont-condensed-webfont.eot');
  src: url('//image.reebok.co.kr/fonts/reefont/woff/reefont-condensed-webfont.woff') format('woff');
}

@font-face{
	font-family:'Colfax';
	src:url('//image.reebok.co.kr/fonts/Colfax/colfaxwebblack.eot');
	src:url('//image.reebok.co.kr/fonts/Colfax/colfaxwebblack.eot?#iefix') format('embedded-opentype'),
		url('//image.reebok.co.kr/fonts/Colfax/colfaxwebblack.woff2') format('woff2'),
		url('//image.reebok.co.kr/fonts/Colfax/colfaxwebblack.woff') format('woff'),
		url('//image.reebok.co.kr/fonts/Colfax/colfaxwebblack.ttf') format('truetype');
		font-weight:normal;
		font-style:normal
}
