ul.hidden {display:none;} 

.search_cbox {position:relative; width:890px; overflow:hidden;}

#snb h2.search {width:156px; padding:14px 0 13px 14px; color:#fff; font-size:12px; font-family:'gulim','굴림'; background:#393839; letter-spacing:-1px;}
#snb dl.search {width:168px; border-top:0px solid #bcbcbc;border-left:1px solid #c4c4c4;border-right:1px solid #c4c4c4;border-bottom:1px solid #c9c9c9;margin-bottom:15px; background-color:#f9f9f9;}
#snb dl.search dt {border-bottom:0px solid #e1e1e1; padding:14px 0 5px 12px; color:#393839;font-weight:bold;}
#snb dl.search dd {padding:0px 0 14px 13px; background:url(../../images/reebok/search/bg_left_line.gif) 0 bottom no-repeat;  border-bottom:0px solid #e1e1e1;background-color:#f9f9f9;}
#snb dl.search dd.last {background:none; border-bottom:0px solid #e1e1e1;padding:0px 0 13px 13px;background-color:#f9f9f9;}
#snb dl.search dd ul {padding:0;}
#snb dl.search dd ul li {overflow:hidden; clear:both; color:#999; vertical-align:middle;}
#snb dl.search dd ul li.on {background:url(//image.reebok.co.kr/images/reebok/search/blt_left_list_on.gif) no-repeat left 7px;color:#000;font-weight:bold;}
#snb dl.search dd ul li a {float:left; display:inline;cursor:pointer;}
#snb dl.search dd ul li a {height:16px; color:#393839; margin:2px 0 0 2px; padding-top:1px; _padding-top:3px; } 
#snb dl.search dd ul li a.close {width:18px; height:20px; display:block; margin:0px; background:url(//image.reebok.co.kr/images/reebok/search/blt_close.gif) 0 2px no-repeat;text-indent:-5000px;}
#snb dl.search dd ul li a.open {width:18px; height:20px; display:block; margin:0px; background:url(//image.reebok.co.kr/images/reebok/search/blt_open.gif) 0 2px no-repeat;text-indent:-5000px;}
#snb dl.search dd ul li .bu {width:8px; height:18px;float:left;display:block; margin:0px; background:url(//image.reebok.co.kr/images/reebok/search/blt_left_list.gif) no-repeat 2px 8px; color:#999;text-indent:-5000px;} 
#snb dl.search dd ul.ds02 {padding-left:20px;}
#snb dl.search dd ul.ds03 {padding-left:20px;}
#snb dl.search dd ul.ds04 {padding-left:20px;}

#snb ul.hottop {width:168px; overflow:hidden; border:1px solid #bcbcbc; border-top:0;}
#snb ul.hottop li.one {height:19px; background:#ededed; padding-top:6px; padding-left:12px;}
#snb ul.hottop li.two {height:19px; background:#f9f9f9; padding-top:6px; padding-left:12px;}
#snb ul.hottop li span.rank {width:14px; display:inline-block; text-align:left; font-size:12px; font-family:'gulim','굴림'; color:#393839; font-weight:bold;}
#snb ul.hottop li strong {width:92px; height:12px; overflow:hidden; display:inline-block; margin-right:4px; font-weight:normal; color:#797b80;}
#snb ul.hottop li span.rank2 {width:27px; display:inline-block; margin-right:3px; text-align:right; font-size:12px; font-family:'gulim','굴림'; color:#797b80; font-weight:normal; letter-spacing:0px;}
#snb ul.hottop li span.rank2 img {vertical-align:middle; margin-left:3px;}

/*search에서만 스타일 틀린 class */
#search div.cont705 {float:right;width:705px;border-top:none;margin-bottom:30px;}
#search div.sorting {border-top:1px solid #e3e3e3;height:38px;}
#search div.sorting p {float:left;display:inline;margin:14px 8px 0 2px;padding-left:7px; color:#666;}
#search div.sorting p strong {color:#666;}
#search div.sorting p b {letter-spacing:0px; color:#757575;} 
#search div.sorting p {color:#424242; font-size:12px; font-family:'gulim','굴림'; letter-spacing:-1px;} 
#search div.sorting div.date {float:right;display:inline;margin:7px 5px 0 0;_margin:6px 5px 0 0;} 
#search div.sorting div.date select {width:95px; margin:4px 5px 0 0;_margin:3px 0 0;} 
#search div.sorting div.combo12 {margin-left:10px; width:95px;}
#search div.sorting div.combo12 ul {width:93px;}

div.combo12 {float:left;display:inline;height:20px;background:url(//image.reebok.co.kr/images/reebok/common/bg_selectbox.gif) no-repeat;position:relative;padding:0;}
div.combo12 {color:#888;}
div.combo12 ul {position:absolute;left:0;top:19px;background-color:#fff;border:1px solid #ccc;padding:3px 0;margin:0;}
div.combo12 ul li a {display:block;height:16px;padding:4px 0 0 5px;}
div.combo12 ul li a:hover {background-color:#b2b4bf;color:#000;}
div.combo12 a.btn {float:right;display:block;width:21px;height:20px;margin:0;padding:0;}
div.combo12 span.tit {float:left;display:inline-block;height:14px;padding:4px 0 0 6px;margin-top:0;}
 
/* searchbox */
div.searchbox {border:1px solid #7992be;margin-bottom:15px;position:relative; z-index:8;}
div.searchbox div.titlebox {width:100%; height:36px; position:relative; background:url(//image.reebok.co.kr/images/reebok/search/search_bg.gif) 0 0 repeat-x;}
div.searchbox div.titlebox p.title {float:left; display:inline; color:#757575; padding:11px 0 0 14px; _padding:12px 0 0 14px; letter-spacing:-1px;}
div.searchbox div.titlebox p.title strong {color:#ed0000;}
div.searchbox div.titlebox img {float:right; padding:7px 14px 0 0;}

div.searchbox div.info {width:880px; height:48px; position:relative;} 
div.searchbox div.info ul {width:865px; margin:0 0 0 15px; padding-top:15px;}
div.searchbox div.info ul li {float:left; display:inline; margin:0 0 0 } 

div.searchbox .search_box {width:328px;overflow:hidden;position:absolute;left:263px;_left:263px;top:79px;z-index:100;border:1px solid #005bbb;background:#fff url(//image.reebok.co.kr/images/reebok/search/search_bottombg.gif) 0 bottom repeat-x; padding-bottom:20px;}
*:first-child+html div.searchbox div.info ul li .search_box {width:328px;overflow:hidden;position:absolute;left:263px;top:38px;z-index:100;border:1px solid #005bbb;background:#fff url(//image.reebok.co.kr/images/reebok/search/search_bottombg.gif) 0 bottom repeat-x; padding-bottom:20px;}
div.searchbox .search_box p {position:absolute; right:3px; bottom:3px;}
div.searchbox .search_box ul.search_list {width:100%; overflow:hidden; margin:2px 0 1px 0; padding-top:0;}
div.searchbox .search_box ul.search_list li {width:100%;}
div.searchbox .search_box ul.search_list li a {padding:2px 3px 0 5px; color:#909090; display:block; height:15px;}
div.searchbox .search_box ul.search_list li a:hover {color:#909090; display:block; background:#dddddd;}
div.searchbox .search_box ul.search_list li span {color:#ed0000;}

div.searchbox div.info ul li div.combo22 {margin-left:10px; width:125px;z-index:100;}
div.searchbox div.info ul li div.combo22 ul {width:123px;margin:0;padding:3px 0;}
div.searchbox div.info ul li div.combo22 ul li {float:none;}
div.combo22 {float:left;display:inline;height:23px;background:url(//image.reebok.co.kr/images/reebok/search/bg_selectbox.gif) no-repeat;position:relative;padding:0;}
div.combo22 {color:#888;}
div.combo22 ul {position:absolute;left:0;top:19px;background-color:#fff;border:1px solid #ccc;padding:3px 0;margin:0;}
div.combo22 ul li a {display:block;height:16px;padding:4px 0 0 5px;}
div.combo22 ul li a:hover {background-color:#b2b4bf;color:#000;}
div.combo22 a.btn {float:right;display:block;width:21px;height:20px;margin:0;padding:0;}
div.combo22 span.tit {float:left;display:inline-block;height:14px;padding:4px 0 0 6px;margin-top:0;}


div.searchbox div.info ul li.rsh {margin-top:4px; _margin-top:2px; margin-right:5px;} 
div.searchbox div.info ul li.rsh input.checkboxs {margin-right:5px;} 
div.searchbox div.info ul li.rsh label {font-family:gulim; font-size:12px; color:#757575; vertical-align:middle; margin-top:4px; letter-spacing:-1px;} 
div.searchbox div.info ul li input.sh {width:213px; height:18px; padding-left:4px; padding-top:2px; margin-left:10px; vertical-align:top; border:1px solid #c6c6c6; border-right:1px solid #dddddd;}
div.searchbox div.info ul li img.sh {_padding-top:1px;}
*:first-child+html div.searchbox div.info ul li img.sh {padding-top:1px;}
div.searchbox div.info ul li.last {width:240px; height:28px; float:left; display:inline; margin-left:20px; }
div.searchbox div.info ul.hot {width:240px; overflow:hidden; padding:0; margin:0;}
div.searchbox div.info ul.hot li.nb {margin:6px 5px 0 10px;}
div.searchbox div.info ul.hot li.text {width:145px; _width:140px; margin-top:5px; _margin-top:7px; color:#000; font-size:12px; font-family:'gulim','굴림'; letter-spacing:-1px;}
*:first-child+html div.searchbox div.info ul.hot li.text {width:140px; margin-top:6px; color:#000; font-size:12px; font-family:'gulim','굴림'; letter-spacing:-1px;}
div.searchbox div.info ul.hot li.change {width:30px; margin:5px 0 0 0; color:#000; text-align:right;}
div.searchbox div.info ul.hot li.change img {margin-left:5px; vertical-align:middle; margin-bottom:2px;}

div.searchbox div.researchbox {width:865px; height:28px; padding:8px 0 0 15px; _margin-top:-7px; background:url(//image.reebok.co.kr/images/reebok/mypage/bg_dotline.gif) 0 0 repeat-x;z-index:1;}  
div.searchbox div.researchbox span {height:22px; padding:3px 0 2px 0; font:normal 11px 'dotum','돋움'; background:url(//image.reebok.co.kr/images/reebok/search/btn_close.gif) 0 0 no-repeat; padding-left:21px; margin-right:10px; line-height:22px;text-indent:-5000px}
div.searchbox div.researchbox strong{width:100px;padding-top:5px;display:block;float:left;color:#000;font-size:12px;}
div.searchbox div.researchbox div.keyword{width:750px;float:left;overflow:hidden;}

div.searchbox div.rela_key{width:865px; overflow:hidden; padding:10px 0 10px 15px;background:url(//image.reebok.co.kr/images/adidas/mypage/bg_dotline.gif) 0 0 repeat-x;z-index:1;}  
div.searchbox div.rela_key strong{width:100px;padding-top:4px;display:block;float:left;color:#000;font-size:12px;}
div.searchbox div.rela_key div.keyword{width:750px;float:left;overflow:hidden;}
div.searchbox div.rela_key a{margin:0 5px;font-size:12px;line-height:20px;color:#0000CC;white-space:nowrap;}

div.searchbox div.border1 {border:1px solid #ddd;}
div.searchbox div.border2 {border:2px solid #d4d4d4;}
div.searchbox div.border3 {border:1px solid #C0C0C0;}


/* fast_shopping */
#fast_shopping {width:890px; overflow:hidden; position:absolute; top:140px; left:0; z-index:200;} 
#fast_shopping iframe.ie6_fast_shopping {position:absolute;top:0;left:0;z-index:-99;width:890px;height:340px;border:0;filter:alpha(opacity=0);}  

div.shlinebox {width:888px; overflow:hidden; border:1px solid #07436c; background:#FFFFFF;} 
div.shlinebox div.border1 {border:1px solid #146095; border-top:0px;}
div.shlinebox div.border2 {border:1px solid #07436c;}

div.shoppingHeader {width:888px; background:url(//image.reebok.co.kr/images/reebok/search/bg_fast_shopping.gif) 0 0 repeat-x;height:32px;position:relative;} 
div.shoppingHeader h1 {position:absolute;top:9px;left:18px;margin:0 !important;}
div.shoppingHeader span {position:absolute;top:9px;left:88px;color:#8ab0ca;letter-spacing:-1px;}
div.shoppingHeader a {position:absolute;top:12px;right:18px;}

div.shline01 {width:884px; height:21px; padding:17px 0 15px 0; background:url(//image.reebok.co.kr/images/reebok/search/line_fast_shopping.gif) 0 bottom no-repeat;}
div.shline02 {width:884px; height:21px; padding:15px 0; border-bottom:1px solid #fff; background:url(//image.reebok.co.kr/images/reebok/search/line_fast_shopping.gif) #f7f7f7 0 bottom no-repeat;}
div.shline03 {width:884px; height:19px; padding:14px 0 16px 0; _padding:14px 0 14px 0; background:#FFFFFF;}
div.shline04 {width:884px; height:149px; padding:0px; background:url(//image.reebok.co.kr/images/reebok/search/line_fast_shopping.gif) #f7f7f7 0 top no-repeat;}
div.shline04 .no_img {width:882px; height:149px; background:url(//image.reebok.co.kr/images/reebok/search/search_bgno.gif) center 35px no-repeat;}

div.shlinebox ul.shline_01 {width:864px; height:20px; margin-left:17px;}
div.shlinebox ul.shline_01 li {float:left; display:inline;}
div.shlinebox ul.shline_01 li.title {width:91px; padding-left:9px; padding-top:3px; _padding-top:4px; font-size:12px; font-family:'gulim','굴림'; font-weight:bold; background:url(//image.reebok.co.kr/images/reebok/search/blt_fast_line1.gif) 0 4px no-repeat; color:#003458; letter-spacing:-1px;}
div.shlinebox ul.shline_01 li.title2 {width:66px; padding-left:9px; padding-top:3px; _padding-top:4px; font-size:12px; font-family:'gulim','굴림'; font-weight:bold; background:url(//image.reebok.co.kr/images/reebok/search/blt_fast_line1.gif) 0 4px no-repeat; color:#2f2f3b; letter-spacing:-1px;}
div.shlinebox ul.shline_01 li.line {width:15px; padding-top:4px; background:url(//image.reebok.co.kr/images/reebok/search/blt_fast_line2.gif) 0 4px no-repeat;}
div.shlinebox ul.shline_01 li.line2 {width:16px; padding-top:4px; background:url(//image.reebok.co.kr/images/reebok/search/blt_fast_line2.gif) 0 4px no-repeat;}
div.shlinebox ul.shline_01 li.text01 {width:46px; padding-top:3px; _padding-top:4px; color:#575757; font-weight:bold; letter-spacing:-1px;} 
div.shlinebox ul.shline_01 li.blt {padding-top:4px; padding:4px 7px 0 9px; color:#c6c6c6;}   

div.shlinebox ul.shline_01 li.checkbox {width:194px;}
div.shlinebox ul.shline_01 li.radios {width:700px;}
div.shlinebox ul.shline_01 div.topmm {margin-top:3px; _margin-top:0px;}
*:first-child+html div.shlinebox ul.shline_01 div.topmm {margin-top:1px;}
div.shlinebox ul.shline_01 li.checkbox input.checkboxs1 {margin-bottom:1px;}  
div.shlinebox ul.shline_01 li.checkbox label.originals {margin-left:5px; font-family:gulim; font-size:12px; font-weight:bold; color:#1999e4; margin-right:10px;}
div.shlinebox ul.shline_01 li.checkbox label.sport {margin-left:5px; font-family:gulim; font-size:12px; font-weight:bold; color:#000;}
div.shlinebox ul.shline_01 li.radios input.radios {margin-bottom:2px; margin-right:5px; _margin-left:-4px;}  
*:first-child+html div.shlinebox ul.shline_01 li.radios input.radios {margin-bottom:1px; margin-right:5px; margin-left:-4px;}   
div.shlinebox ul.shline_01 li.radios label {font-family:gulim; font-size:12px; color:#575757; margin-right:6px;}
 
div.shlinebox div.combo145 {width:115px;z-index:100;}
div.shlinebox div.combo145 ul {width:113px;}
div.shlinebox div.combo145 ul li {float:none;}
div.shlinebox div.combo145 {float:left;display:inline;height:20px;background:url(//image.reebok.co.kr/images/reebok/common/bg_selectbox.gif) no-repeat;position:relative;padding:0;}
div.shlinebox div.combo145 {color:#888;font:normal 11px 'dotum','돋움';}
div.shlinebox div.combo145 ul {position:absolute;left:0;top:19px;background-color:#fff;border:1px solid #ccc;padding:3px 0;margin:0;}
div.shlinebox div.combo145 ul li a {display:block;height:17px;padding:3px 0 0 6px;}
div.shlinebox div.combo145 ul li a:hover {background-color:#b2b4bf;color:#000;}
div.shlinebox div.combo145 a.btn {float:right;display:block;width:21px;height:20px;margin:0;padding:0;}
div.shlinebox div.combo145 span.tit {float:left;display:inline-block;height:14px;padding:4px 0 0 6px;margin-top:0;}

div.shlinebox div.combo145s {width:115px;z-index:100;}
div.shlinebox div.combo145s ul {width:113px; }
div.shlinebox div.combo145s ul li {float:none;}
div.shlinebox div.combo145s {float:left;display:inline;height:20px;background:url(//image.reebok.co.kr/images/reebok/common/bg_selectbox.gif) no-repeat;position:relative;padding:0;}
div.shlinebox div.combo145s {font:normal 11px 'dotum','돋움';}
div.shlinebox div.combo145s a.btn {float:right;display:block;width:21px;height:20px;margin:0;padding:0;}
div.shlinebox div.combo145s span.tit {float:left;display:inline-block;height:14px;padding:4px 0 0 6px;margin-top:0; letter-spacing:-1px;}
div.shlinebox div.combo145s ul {width:113px; height:200px; position:absolute;left:0;top:19px;background-color:#fff;border:1px solid #ccc; padding:3px 0;margin:0; overflow-x:hidden; overflow-y:scroll; scrollbar-face-color:#fff; scrollbar-shadow-color:#fff; scrollbar-highlight-color:#fff; scrollbar-3dlight-color:#c5c4c4; scrollbar-darkshadow-color:#C0C0C0; scrollbar-track-color:#e4e5e5; scrollbar-arrow-color:#808080;}
div.shlinebox div.combo145s ul li a {display:block;height:17px;padding:3px 0 0 6px;}
div.shlinebox div.combo145s ul li a:hover {background-color:#b2b4bf;color:#000;}

ul.select_color {width:450px;}
ul.select_color li {float:left; display:inline; width:20px; height:20px; margin:0 5px 0 0;overflow:hidden;}

div.fast_imglist {width:884px; height:96px; padding-top:16px;}
div.fast_imglist ul.photo {width:864px; height:96px; margin-left:17px;}
div.fast_imglist ul.photo li {width:62px; height:96px; float:left; padding-right:15px; text-align:right; position:relative;} 
div.fast_imglist ul.photo li a {display:block; width:60px; height:60px; border:1px solid #bcbcbc;text-indent:-5000px}
div.fast_imglist ul.photo li a:hover {display:block; width:56px; height:56px; border:3px solid #0072c2;} 
div.fast_imglist ul.photo li span {color:#000; font-family:dotum; font-size:11px; position:absolute; bottom:12px; right:21px; _right:20px;}
div.fast_imglist ul.photo li span.line_through {text-decoration:line-through; color:#000; font-family:dotum; font-size:11px; position:absolute; bottom:12px; right:21px; _right:20px;}
div.fast_imglist ul.photo li strong {color:#ed0000; font-family:dotum; font-size:11px; font-weight:normal; position:absolute; bottom:-1px; right:21px; _right:20px;}
*:first-child+html div.fast_imglist ul.photo li span {color:#000; font-family:dotum; font-size:11px; position:absolute; bottom:12px; right:20px;} 
*:first-child+html div.fast_imglist ul.photo li span.line_through {text-decoration:line-through; color:#000; font-family:dotum; font-size:11px; position:absolute; bottom:12px; right:20px;}
*:first-child+html div.fast_imglist ul.photo li strong {color:#ed0000; font-family:dotum; font-size:11px; font-weight:normal; position:absolute; bottom:-1px; right:20px;}

  
div.tipbox {position:relative; z-index:50;}
div.tipbox span.tip {width:auto; height:14px; padding:4px 5px 2px 4px; position:absolute; top:9px; left:26px; display:block; background:#0072c2; z-index:100; color:#fff; font-family:dotum; font-size:11px; font-weight:bold; margin-right:0px; letter-spacing:-1px;}
*:first-child+html div.tipbox span.tip {width:auto; height:14px; padding:3px 5px 3px 4px; position:absolute; top:8px; left:26px; display:block; background:#000; z-index:100; color:#fff; font-family:dotum; font-size:11px; font-weight:bold; margin-right:0px; letter-spacing:-1px;}
div.tipbox span.tip em {font-weight:bold; letter-spacing:0px;}
 
div.tipbox span.tip_r {width:auto; height:14px; padding:4px 5px 2px 4px; position:absolute; top:9px; right:43px; _right:61px; display:block; background:#0072c2; z-index:100; color:#fff; font-family:dotum; font-size:11px; font-weight:bold; margin-right:0px; letter-spacing:-1px;}
*:first-child+html div.tipbox span.tip_r {width:auto; height:14px; padding:3px 5px 3px 4px; position:absolute; top:8px; right:43px;display:block; background:#000; z-index:100; color:#fff; font-family:dotum; font-size:11px; font-weight:bold; margin-right:0px; letter-spacing:-1px;}
div.tipbox span.tip_r em {font-weight:bold; letter-spacing:0px;}
  
/* paging */
#fast_shopping div.paging {margin:9px 0 0 0;text-align:center;clear:both;}

#fast_shopping div.list_paging {margin:9px 0 0 0;text-align:center;clear:both;}
#fast_shopping div.list_paging ul {display:inline;margin:0 auto;}
#fast_shopping div.list_paging ul li {display:inline;background:url(//image.reebok.co.kr/images/reebok/common/bg_paging_line.gif) no-repeat right 2px;color:#999;font-family:verdana;font-size:10px;padding:0 10px 0 9px;line-height:11px;letter-spacing:-1px;}
#fast_shopping div.list_paging ul li a {color:#999;font-family:verdana;line-height:11px;}
#fast_shopping div.list_paging ul li.on {color:#535353;text-decoration:underline;font-weight:bold;}
#fast_shopping div.list_paging ul li.last {background:none;} 
/*
#fast_shopping div.list_paging a.btn {float:inline-block;background:none !important;text-decoration:none;vertical-align:middle;width:10px;height:15px;padding:0;} 
#fast_shopping div.list_paging a.btn img {margin:2px 0 3px 0;vertical-align: middle;}
#fast_shopping div.list_paging a,#fast_shopping div.list_paging strong{padding:0 10px;background: url(//image.reebok.co.kr/images/reebok/search/blt_fast_line2.gif) no-repeat right 0;font:normal 10px verdana,'verdana';color:#999;}
#fast_shopping div.list_paging a:hover{color:#535353;text-decoration:underline;}
#fast_shopping div.list_paging a.last{background:none;}
#fast_shopping div.list_paging strong{font-weight:bold;color:#535353;text-decoration:underline;}
*/
 
/* searchtype */
div.searchtype{margin-bottom:10px;border:1px solid #d4d4d4;}
div.searchtype dl dt{width:80px;float:left;padding:15px 0 0 20px;color:#2f2f3b;font:bold 12px 'Gulim',gulim;letter-spacing:-.75px;background:url(../images/adidas/search/blt_fast_line2.gif) no-repeat scroll right 17px transparent}
div.searchtype dl dd{float:left;padding:11px 0 0 15px;}
div.searchtype div.search_color{height:41px;border-bottom:1px dotted #d4d4d4;}
div.searchtype div.search_price{height:41px;}
div.searchtype div.search_price dd{padding-top:14px;}
div.searchtype div.search_price dd li{float:left;margin-right:10px;}

/* prodlist_tab */
#search div.cont670 div.prodlist_tab{background: url(//image.reebok.co.kr/images/reebok/common/bg_prodlist_tab2.gif) repeat-x scroll 0 0 transparent;height: 41px;position: relative;}
#search div.cont670 div.prodlist_tab ul.prodtab{height:41px;}
#search div.cont670 div.prodlist_tab ul.prodtab li{height:41px;}
#search div.cont670 div.prodlist_tab ul.prodtab li a{width:94px;height:41px;background:url(//image.reebok.co.kr/images/reebok/common/bg_prodlist_tab2.gif) no-repeat 0 0;}
#search div.cont670 div.prodlist_tab ul.prodtab .t1 a {background-position: 0 0;}
#search div.cont670 div.prodlist_tab ul.prodtab .t2 a {background-position: -93px 0;}
#search div.cont670 div.prodlist_tab ul.prodtab .t3 a {background-position: -186px 0;}
#search div.cont670 div.prodlist_tab ul.prodtab .t4 a {background-position: -279px 0;}
#search div.cont670 div.prodlist_tab ul.prodtab .t5 a {background-position: -372px 0;}
#search div.cont670 div.prodlist_tab ul.prodtab .t6 a {background-position: -465px 0;}
#search div.cont670 div.prodlist_tab ul.prodtab .t1.on a{background-position: 0 -41px;}
#search div.cont670 div.prodlist_tab ul.prodtab .t2.on a{background-position: -93px -41px;}
#search div.cont670 div.prodlist_tab ul.prodtab .t3.on a{background-position: -186px -41px;}
#search div.cont670 div.prodlist_tab ul.prodtab .t4.on a{background-position: -279px -41px;}
#search div.cont670 div.prodlist_tab ul.prodtab .t5.on a{background-position: -372px -41px;}
#search div.cont670 div.prodlist_tab ul.prodtab .t6.on a{background-position: -465px -41px;}

/* combo12 */
#search div.cont670 div.prodlist_tab div.combo12{float:right;margin:5px 5px 0 0;}

/* paging */
#search div.paging{margin-top:10px;}

/**/
#search div.product_list ul li{border-right-width:0px;}




#search_area div.cont670 div.prodlist_tab{background: url(//image.reebok.co.kr/images/reebok/common/bg_prodlist_tab2.gif) repeat-x scroll 0 0 transparent;height: 41px;position: relative;}
#search_area div.cont670 div.prodlist_tab ul.prodtab{height:41px;}
#search_area div.cont670 div.prodlist_tab ul.prodtab li{height:41px;}
#search_area div.cont670 div.prodlist_tab ul.prodtab li a{width:94px;height:41px;background:url(//image.reebok.co.kr/images/reebok/common/bg_prodlist_tab2.gif) no-repeat 0 0;}
#search_area div.cont670 div.prodlist_tab ul.prodtab .t1 a {background-position: 0 0;}
#search_area div.cont670 div.prodlist_tab ul.prodtab .t2 a {background-position: -93px 0;}
#search_area div.cont670 div.prodlist_tab ul.prodtab .t3 a {background-position: -186px 0;}
#search_area div.cont670 div.prodlist_tab ul.prodtab .t4 a {background-position: -279px 0;}
#search_area div.cont670 div.prodlist_tab ul.prodtab .t5 a {background-position: -372px 0;}
#search_area div.cont670 div.prodlist_tab ul.prodtab .t6 a {background-position: -465px 0;}
#search_area div.cont670 div.prodlist_tab ul.prodtab .t1.on a{background-position: 0 -41px;}
#search_area div.cont670 div.prodlist_tab ul.prodtab .t2.on a{background-position: -93px -41px;}
#search_area div.cont670 div.prodlist_tab ul.prodtab .t3.on a{background-position: -186px -41px;}
#search_area div.cont670 div.prodlist_tab ul.prodtab .t4.on a{background-position: -279px -41px;}
#search_area div.cont670 div.prodlist_tab ul.prodtab .t5.on a{background-position: -372px -41px;}
#search_area div.cont670 div.prodlist_tab ul.prodtab .t6.on a{background-position: -465px -41px;}

/* combo12 */
#search_area div.cont670 div.prodlist_tab div.combo12{float:right;margin:5px 5px 0 0;}

/* paging */
#search_area div.paging{margin-top:10px;}

/**/
#search_area div.product_list ul li{border-right-width:0px;}




/* fast_shopping new */
#fast_shopping_r {width:890px; overflow:hidden; position:absolute; top:141px; left:0; z-index:200;} 
#fast_shopping_r iframe.ie6_fast_shopping {position:absolute;top:0;left:0;z-index:-99;width:890px;height:340px;border:0;filter:alpha(opacity=0);}  

div.shlinebox_r {width:888px; overflow:hidden; border:1px solid #202022; background:#404145;} 
div.shlinebox_r div.border1 {border:1px solid #38393c; border-top:0px;}
div.shlinebox_r div.border2 {border:1px solid #28282a;}

div.shoppingHeader_r {width:888px; background:#38393c;height:32px;position:relative;} 
div.shoppingHeader_r h1 {position:absolute;top:9px;left:18px;margin:0 !important;}
div.shoppingHeader_r span {position:absolute;top:9px;left:88px;color:#afafb0;letter-spacing:-1px;}
div.shoppingHeader_r a {position:absolute;top:12px;right:18px;}

div.shline01_r {width:884px; height:21px; padding:11px 0 15px 0; background:url(//image.reebok.co.kr/images/reebok/common/line_fast_shopping.gif) 0 bottom repeat-x;}
div.shline02_r {width:884px; height:21px; padding:15px 0; background:url(//image.reebok.co.kr/images/reebok/common/line_fast_shopping.gif) #505155 0 bottom repeat-x;}
div.shline03_r {width:884px; height:19px; padding:14px 0 16px 0; _padding:14px 0 14px 0; background:#404145;}
div.shline04_r {width:884px; height:149px; padding:0px; background:url(//image.reebok.co.kr/images/reebok/common/line_fast_shopping.gif) #505155 0 top repeat-x;}
div.shline04_r .no_img {width:882px; height:149px; background:url(//image.reebok.co.kr/images/reebok/common/bg_fastsp_nodata.gif.gif) center 35px no-repeat;}

div.shlinebox_r ul.shline_01 {width:864px; height:20px; margin-left:17px;}
div.shlinebox_r ul.shline_01 li {float:left; display:inline;}
div.shlinebox_r ul.shline_01 li.title {width:91px; padding-top:7px; _padding-top:4px; font-size:12px; font-family:'gulim','굴림'; font-weight:bold;color:#fff; letter-spacing:-1px;}
div.shlinebox_r ul.shline_01 li.title2 {width:66px; padding-left:9px; padding-top:3px; _padding-top:4px; font-size:12px; font-family:'gulim','굴림'; font-weight:bold;color:#fff; letter-spacing:-1px;}
div.shlinebox_r ul.shline_01 li.line {width:15px; padding-top:4px; background:url(//image.reebok.co.kr/images/reebok/search/blt_fast_line2.gif) 0 7px no-repeat;}
div.shlinebox_r ul.shline_01 li.line2 {width:16px; padding-top:4px; background:url(//image.reebok.co.kr/images/reebok/search/blt_fast_line2.gif) 0 4px no-repeat;}
div.shlinebox_r ul.shline_01 li.text01 {width:46px; padding-top:3px; _padding-top:4px; color:#575757; font-weight:bold; letter-spacing:-1px;} 
div.shlinebox_r ul.shline_01 li.blt {padding-top:4px; padding:4px 7px 0 9px; color:#7f7f81;}   
div.shlinebox_r ul.shline_01 .combo_13 li{float:none;display:block}

div.shlinebox_r ul.shline_01 li.checkbox {width:194px;}
div.shlinebox_r ul.shline_01 li.radios {width:700px;}
div.shlinebox_r ul.shline_01 div.topmm {margin-top:3px; _margin-top:0px;}
*:first-child+html div.shlinebox_r ul.shline_01 div.topmm {margin-top:1px;}
div.shlinebox_r ul.shline_01 li.checkbox input.checkboxs1 {margin-bottom:1px;}  
div.shlinebox_r ul.shline_01 li.checkbox label.originals {margin-left:5px; font-family:gulim; font-size:12px; font-weight:bold; color:#1999e4; margin-right:10px;}
div.shlinebox_r ul.shline_01 li.checkbox label.sport {margin-left:5px; font-family:gulim; font-size:12px; font-weight:bold; color:#000;}
div.shlinebox_r ul.shline_01 li.radios input.radios {margin-bottom:2px; margin-right:5px; _margin-left:-4px;}  
*:first-child+html div.shlinebox_r ul.shline_01 li.radios input.radios {margin-bottom:1px; margin-right:5px; margin-left:-4px;}   
div.shlinebox_r ul.shline_01 li.radios label {font-family:gulim; font-size:12px; color:#c1c1c1; margin-right:6px;}
 
div.shlinebox_r div.combo145 {width:115px;z-index:100;}
div.shlinebox_r div.combo145 ul {width:113px;}
div.shlinebox_r div.combo145 ul li {float:none;}
div.shlinebox_r div.combo145 {float:left;display:inline;height:20px;background:url(//image.reebok.co.kr/images/reebok/common/bg_selectbox.gif) no-repeat;position:relative;padding:0;}
div.shlinebox_r div.combo145 {color:#888;font:normal 11px 'dotum','돋움';}
div.shlinebox_r div.combo145 ul {position:absolute;left:0;top:19px;background-color:#fff;border:1px solid #ccc;padding:3px 0;margin:0;}
div.shlinebox_r div.combo145 ul li a {display:block;height:17px;padding:3px 0 0 6px;}
div.shlinebox_r div.combo145 ul li a:hover {background-color:#b2b4bf;color:#000;}
div.shlinebox_r div.combo145 a.btn {float:right;display:block;width:21px;height:20px;margin:0;padding:0;}
div.shlinebox_r div.combo145 span.tit {float:left;display:inline-block;height:14px;padding:4px 0 0 6px;margin-top:0;}

div.shlinebox_r div.combo145s {width:115px;z-index:100;}
div.shlinebox_r div.combo145s ul {width:113px; }
div.shlinebox_r div.combo145s ul li {float:none;}
div.shlinebox_r div.combo145s {float:left;display:inline;height:20px;background:url(//image.reebok.co.kr/images/reebok/common/bg_selectbox.gif) no-repeat;position:relative;padding:0;}
div.shlinebox_r div.combo145s {font:normal 11px 'dotum','돋움';}
div.shlinebox_r div.combo145s a.btn {float:right;display:block;width:21px;height:20px;margin:0;padding:0;}
div.shlinebox_r div.combo145s span.tit {float:left;display:inline-block;height:14px;padding:4px 0 0 6px;margin-top:0; letter-spacing:-1px;}
div.shlinebox_r div.combo145s ul {width:113px; height:200px; position:absolute;left:0;top:19px;background-color:#fff;border:1px solid #ccc; padding:3px 0;margin:0; overflow-x:hidden; overflow-y:scroll; scrollbar-face-color:#fff; scrollbar-shadow-color:#fff; scrollbar-highlight-color:#fff; scrollbar-3dlight-color:#c5c4c4; scrollbar-darkshadow-color:#C0C0C0; scrollbar-track-color:#e4e5e5; scrollbar-arrow-color:#808080;}
div.shlinebox_r div.combo145s ul li a {display:block;height:17px;padding:3px 0 0 6px;}
div.shlinebox_r div.combo145s ul li a:hover {background-color:#b2b4bf;color:#000;}

ul.select_color {width:450px;}
ul.select_color li {float:left; display:inline; width:20px; height:20px; margin:0 5px 0 0;overflow:hidden;}

div.fast_imglist_r {width:884px; height:96px; padding-top:16px;}
div.fast_imglist_r ul.photo {width:864px; height:96px; margin-left:17px;}
div.fast_imglist_r ul.photo li {width:62px; height:96px; float:left; padding-right:15px; text-align:right; position:relative;} 
div.fast_imglist_r ul.photo li a {display:block; width:60px; height:60px; border:1px solid #bcbcbc;text-indent:-5000px}
div.fast_imglist_r ul.photo li a:hover {display:block; width:56px; height:56px; border:3px solid #ae000c;} 
div.fast_imglist_r ul.photo li span {color:#bababa; font-family:dotum; font-size:11px; position:absolute; bottom:12px; right:21px; _right:20px;}
div.fast_imglist_r ul.photo li span.line_through {text-decoration:line-through; color:#000; font-family:dotum; font-size:11px; position:absolute; bottom:12px; right:21px; _right:20px;}
div.fast_imglist_r ul.photo li strong {color:#e9303d; font-family:dotum; font-size:11px; font-weight:normal; position:absolute; bottom:-1px; right:21px; _right:20px;}
*:first-child+html div.fast_imglist_r ul.photo li span {color:##bababa; font-family:dotum; font-size:11px; position:absolute; bottom:12px; right:20px;} 
*:first-child+html div.fast_imglist_r ul.photo li span.line_through {text-decoration:line-through; color:#000; font-family:dotum; font-size:11px; position:absolute; bottom:12px; right:20px;}
*:first-child+html div.fast_imglist_r ul.photo li strong {color:#e9303d; font-family:dotum; font-size:11px; font-weight:normal; position:absolute; bottom:-1px; right:20px;}

  
div.tipbox {position:relative; z-index:50;}
div.tipbox span.tip {width:auto; height:14px; padding:4px 5px 2px 4px; position:absolute; top:9px; left:26px; display:block; background:#ae000c; z-index:100; color:#fff; font-family:dotum; font-size:11px; font-weight:bold; margin-right:0px; letter-spacing:-1px;}
*:first-child+html div.tipbox span.tip {width:auto; height:14px; padding:3px 5px 3px 4px; position:absolute; top:8px; left:26px; display:block; background:#ae000c; z-index:100; color:#fff; font-family:dotum; font-size:11px; font-weight:bold; margin-right:0px; letter-spacing:-1px;}
div.tipbox span.tip em {font-weight:bold; letter-spacing:0px;}
 
div.tipbox span.tip_r {width:auto; height:14px; padding:4px 5px 2px 4px; position:absolute; top:9px; right:43px; _right:61px; display:block; background:#ae000c; z-index:100; color:#fff; font-family:dotum; font-size:11px; font-weight:bold; margin-right:0px; letter-spacing:-1px;}
*:first-child+html div.tipbox span.tip_r {width:auto; height:14px; padding:3px 5px 3px 4px; position:absolute; top:8px; right:43px;display:block; background:#ae000c; z-index:100; color:#fff; font-family:dotum; font-size:11px; font-weight:bold; margin-right:0px; letter-spacing:-1px;}
div.tipbox span.tip_r em {font-weight:bold; letter-spacing:0px;}
  
/* paging */
#fast_shopping_r div.paging {margin:9px 0 0 0;text-align:center;clear:both;}
#fast_shopping_r div.paging a{width:12px;vertical-align:middle;padding:0 1px;background:none;text-align:center;margin:0;}
#fast_shopping_r div.paging a.btn{height:9px;padding-top:4px;}
#fast_shopping_r div.paging img{vertical-align:middle}
#fast_shopping_r div.paging strong{width:12px;padding:0 1px;background:none;text-align:center;margin:0;vertical-align:middle}
#fast_shopping_r div.paging .last{background:none;}

/*background:url(//image.reebok.co.kr/images/reebok/common/bg_linebar06.gif) right 3px no-repeat;*/

#fast_shopping_r div.list_paging {margin:9px 0 0 0;text-align:center;clear:both;}
#fast_shopping_r div.list_paging ul {display:inline;margin:0 auto;}
#fast_shopping_r div.list_paging ul li {display:inline;background:url(//image.reebok.co.kr/images/reebok/common/bg_paging_line.gif) no-repeat right 2px;color:#999;font-family:verdana;font-size:10px;padding:0 10px 0 9px;line-height:11px;letter-spacing:-1px;}
#fast_shopping_r div.list_paging ul li a {color:#999;font-family:verdana;line-height:11px;}
#fast_shopping_r div.list_paging ul li.on {color:#535353;text-decoration:underline;font-weight:bold;}
#fast_shopping_r div.list_paging ul li.last {background:none;} 