/*
	break width
 */
$break-small: 1000px;
$break-large: 1400px;
$width320:320px;
$width400:400px;
$width480:480px;
$width600:600px;
/*
	@@ mixin
 */
@mixin box-sizing($value){
			box-sizing: $value;
	-webkit-box-sizing: $value;
}

@mixin prefix-css3($prop,$value){
	#{$prop} :$value;
	-webkit-#{$prop} :$value;
	-moz-#{$prop}:$value;
	-o-#{$prop} :$value;
	-ms-#{$prop} :$value;
}

@mixin transition($prop , $duration , $easing , $delay){
	transition :$prop $duration $easing $delay;
	-webkit-transition :$prop $duration $easing $delay;
	-moz-transition:$prop $duration $easing $delay;
	-o-transition :$prop $duration $easing $delay;
}

@mixin opacity($value){
	opacity : $value;
	// filter:alpha(opacity=$value * 100);
	// -ms-filter:alpha(opacity=$value * 100);
}

@mixin transform($value){
	transform:$value;
	-webkit-transform:$value;
	-moz-transform:$value;
	-o-transform:$value;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@media screen and (max-width: 320px) {
	html{
		font-size: 10px;
	}
}
@media screen and (min-width: 800px) {
	html{
		font-size: 12px;
	}
}

#eqt{
	overflow: hidden;
	min-width: 950px;
	.btn{
		position: relative;
		display: inline-block;
	    margin-left: 30px;
		background: #93cbcd;
		transition: all 0.5s;
		@media screen and (max-width: 1280px) {
			width: 150px;
			a{
				em{
					display: none !important;
				}
			}
		}
		&:hover{
			background: #85babc;
			a{

			}
		}
		a{
			display: inline-block;
			height: 70px;
			width: 275px;
			font:500 16px/70px 'NotoSansKR';
			color: #000;
			span{
				padding: 0 5px 0 25px;
				font:16px 'Decima Mono';
			}
			em{
				position: absolute;
				right:30px;
				background: url('http://image.adidas.co.kr/images/adidas/event/eqt/170824/arrow.png') no-repeat;
				display: inline-block;
				width: 15px;
			    height: 10px;
			    top: 50%;
			    margin-top: -5px;
			}
		}
	}
	.eqt_inner{
		overflow: hidden;
		width: 1230px;
		margin: 0 auto;
	}
	.eqt_main{
		overflow: hidden;
		position: relative;
		#sliders1{
			float: left;	
			ul{
				li{
					img{						
						display: inline-block;						
					}
				}
			}
		}
		#sliders2{
			float: left;
			margin-left: 60px;
		}
		.slide_center{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -30px;
		}
		.eqt_prd_buy{
			position: absolute;
			top: 30px;
			left: 30px;
			width: 220px;
			span{					
				font: 300 14px/16px "Decima Mono";
				color: #000;
				background: #fff;
				text-align: left;
				padding: 2px 4px;
			}
			.btn-area{
				overflow: hidden;
				position: relative;
				margin-top: 35px;
				float: left;
				width: 160px;
				height: 54px;					
				text-align: center;
				border: 2px solid #fff;
				z-index: 1;
				&.flt{
					float: left;
				}
				a{
					position: absolute;
					top: 19px;
					left: 10%;
					font: 300 16px/16px "Decima Mono","NotoSansKR";
					color: #fff;
					z-index:2;
					.btn-arrow{
						display: inline-block;
						margin-left: 10px;
						width: 18px;
						height: 11px;
						background: url('/images/adidas/event/eqt/180131/btn-arrow-wt.png') center center no-repeat;
					}
				}
				&::before{
					visibility: hidden;
					position: absolute;
					top: 0;
					left: -160px;
					content: "";
					display: block;
					width: 160px;
					height: 54px;
					background: #fff;
					transition: .6s;
					z-index: 1;
				}
				&:hover{
					a{
						color: #000 !important;
						.btn-arrow{							
							background: url('/images/adidas/event/eqt/180131/btn-arrow-bk.png') center center no-repeat;
						}
					}						
					&::before{
						visibility: visible;
						top: 0;
						left: 0;
						background: #fff;
						z-index: 1;					
					}
				}					
			}
		}
		.indicator{
			position: absolute;
			top: 45%;
			right: -40px;
			transform: rotate(-90deg);
			a{
				margin: 0 10px;
				font:24px 'Decima Mono';
				&.on{
					color: #fff;
				}
			}
		}
	}
	.statement{		
		position: relative;
		padding: 30px 0 50px;
		color: #000;
		h3{
			font: 500 16px "NotoSansKR";
			text-align: right;
		}
		p{
			font: 300 16px "NotoSansKR";
			text-align: right;
			padding: 15px 0;
		}
	}
	.video_wrap{
		margin-bottom: 100px;
		position: relative;
		top: 100px;
		opacity: 0;
		transition: 1s;		
	}
	.eqt_section{
		margin: 60px 0;
		position: relative;
		top: 100px;
		opacity: 0;
		transition: 1s;		
		.eqt_prd{
			position: relative;
			margin-bottom: 35px;			
			.eqt_prd_point{
				position: absolute;			
				top:0;
				left:0;
				display: block;
				width: 32px;
				height: 32px;				
				img{				
					transition: .6s;
				}
				.point-img{
					position: absolute;
					display: block;
					opacity:0;
				}				
				&.epr_01{					
					top:282px;
					left:522px;
					.point-img{						
						width: 337px;
						height: 182px;
						bottom: 26px;
						left: 26px;
					}
				}
				&.epr_02{
					top:313px;
					left:325px;
					.point-img{						
						width: 238px;
						height: 83px;
						bottom: 26px;
						right: 26px;
					}
				}
				&.epr_03{
					top:370px;
					left:710px;
					.point-img{						
						width: 173px;
						height: 152px;
						top: 26px;
						right: -31px;
					}
				}
				&.epr_04{					
					top:158px;
					left:555px;
					.point-img{						
						width: 209px;
						height: 80px;
						bottom: 26px;
						right: 26px;
					}
				}
				&.epr_05{
					top:348px;
					left:585px;
					.point-img{						
						width: 181px;
						height: 181px;
						top: 26px;
						right: -30px;
					}
				}
				&.epr_06{
					top:320px;
					left:813px;
					.point-img{						
						width: 270px;
						height: 150px;
						bottom: 26px;
						left: 26px;
					}
				}
				&:hover{
					.point{
						transform: scale3d(1.3, 1.3, 1)
					}					
				}
			}			
			img{
				display: block;
				width: 100%;
			}
			.eqt_prd_buy{
				position: absolute;
				top: 30px;
				left: 30px;
				width: 220px;
				span{					
					font: 300 14px/16px "Decima Mono";
					color: #000;
					background: #fff;
					text-align: left;
					padding: 2px 4px;
				}
				.btn-area{
					overflow: hidden;
					position: relative;
					margin-top: 35px;
					float: left;
					width: 160px;
					height: 54px;					
					text-align: center;
					border: 2px solid #fff;
					z-index: 1;
					&.flt{
						float: left;
					}
					a{
						position: absolute;
						top: 19px;
						left: 25%;
						font: 300 16px/16px "Decima Mono","NotoSansKR";
						color: #fff;
						z-index:2;
						.btn-arrow{
							display: inline-block;
							margin-left: 10px;
							width: 18px;
							height: 11px;
							background: url('/images/adidas/event/eqt/180131/btn-arrow-wt.png') center center no-repeat;
						}
					}
					&::before{
						visibility: hidden;
						position: absolute;
						top: 0;
						left: -160px;
						content: "";
						display: block;
						width: 160px;
						height: 54px;
						background: #fff;
						transition: .6s;
						z-index: 1;
					}
					&:hover{
						a{
							color: #000 !important;
							.btn-arrow{							
								background: url('/images/adidas/event/eqt/180131/btn-arrow-bk.png') center center no-repeat;
							}
						}						
						&::before{
							visibility: visible;
							top: 0;
							left: 0;
							background: #fff;
							z-index: 1;					
						}
					}					
				}
			}
		}
		.eqt_cut{
			overflow: hidden;
			&>div{
				float: left;
			}
			.eqt_cut_01{
				width: 270px;
				p{
					font: 300 16px/22px "Decima Mono","NotoSansKR";
					color: #000;
					text-align: right;
					&.talt{
						text-align: left;
					}
				}
				.btn-area{
					overflow: hidden;
					position: relative;
					margin-top: 35px;
					float: right;
					width: 160px;
					height: 54px;					
					text-align: center;
					border: 2px solid #000;
					&::after{
						position: absolute;
						top: 0;
						left: 0;
						content: "";
						display: block;
						width: 160px;
						height: 54px;
						background: #fff;
					}
					&.flt{
						float: left;
					}
					a{
						position: absolute;
						top: 19px;
						left: 12%;
						font: 300 16px/16px "Decima Mono","NotoSansKR";
						color: #000;
						z-index:2;
						.btn-arrow{
							display: inline-block;
							margin-left: 10px;
							width: 18px;
							height: 11px;
							background: url('/images/adidas/event/eqt/180131/btn-arrow-bk.png') 0 0 no-repeat;
						}
					}
					&::before{
						visibility: hidden;
						position: absolute;
						top: 0;
						left: -160px;
						content: "";
						display: block;
						width: 160px;
						height: 54px;
						background: #fff;
						transition: .6s;
						z-index: 1;
					}
					&:hover{
						a{
							color: #fff !important;
							.btn-arrow{							
								background: url('/images/adidas/event/eqt/180131/btn-arrow-wt.png') 0 0 no-repeat;
							}
						}						
						&::before{
							visibility: visible;
							top: 0;
							left: 0;
							background: #000;
							z-index: 1;					
						}
					}
				}
			}
			.eqt_cut_02{
				margin: 0 30px;
				*{
					width: 450px;
				}
			}
			.eqt_cut_03{
				overflow: hidden;
				*{
					display: block;
					width: 450px;
					height: 300px;
				}				
				video{
					object-fit: cover;
				}			
			}
		}
	}
}