@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#container_r{
	z-index: 21;
}
#originals_pod{
	position: relative;
	min-width: 1190px;
	overflow: hidden;
	.main{
		position: relative;
		height: 826px;
		overflow: hidden;
		&.video{
			.video_bg{
				@include css3(opacity,1);

			}

			.content{
				.video_close{
					// @include css3(opacity,1);
					@include css3(opacity,0);

				}
				.video_wrap{
					// @include css3(opacity,1);
					@include css3(opacity,0);


				}
				.main_shoe{
					top:840px
				}
				.card_wrap{
					&.type1{
						top:900px;
					}
					&.type2{
						top:900px;
					}
					&.type3{
						top:900px;
					}
				}
			}
		}
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		h2{
			position: relative;
			top:50px;
			text-align: center;
		}
		.video_bg{
			position: absolute;
			width: 100%;
			// left:50%;
			// margin-left: -960px;
			top:0;
			background: rgba(0,0,0,0.6);
			z-index: 10;
			height: 826px;
			@include css3(opacity,0);
			@include css3(transition, all 0.6s);
			transition-delay: 0.8s;



		}
		.content{
			z-index: 11;
			.video_close{
				position: absolute;
				top:48px;
				left: 50%;
				margin-left: 258px;
				@include css3(opacity,0);
				@include css3(transition, opacity 0.6s);
				transition-delay: 0.8s;

				img{
					width: 25px;
				}
			}
			.video_wrap{
				position: absolute;
			    top: 49px;
			    left: 50%;
			    margin-left: -240px;
				@include css3(opacity,0);


				div{
					video{

					}
				}
			}
			.main_shoe{
				position: absolute;
			    top: 343px;
			    left: 50%;
			    margin-left: -212px;
				@include css3(transition, all 0.6s);

			}
			.card_wrap{
				position: absolute;
				left:50%;
				&.type1{
					top: 382px;
				    margin-left: -621px;
					@include css3(transition, all 0.6s);
					transition-delay: 0.2s;

					&:hover{
						div{
							.card{
								&.card1{
									left: -10px;
									top: 0px;
								}
								&.card2{
									left: 150px;
									top:40px;
								}
								&.card3{
									left: 10px;
								    top: -100px;
								}
							}
						}
					}
					div{
						.card{
							&.card1{
								left: 50px;
							    top: 0px;
							}
							&.card2{
								left: 120px;
							    top: 30px;
							}
							&.card3{
								left: -10px;
							    top: -3px;
							}
						}
					}
					.title{
						top: 288px;
						left: 252px;
						transform: rotate(-37deg);
					}
				}
				&.type2{
					margin-left: -470px;
				    top: 33px;
					@include css3(transition, all 0.6s);
					transition-delay: 0.4s;


					&:hover{
						div{
							.card{
								&.card1{
									left: -10px;
									top: 0px;
								}
								&.card2{
									left: 150px;
									top:40px;
								}
								&.card3{
									left: -15px;
									top: -50px;
								}
								&.card4{
									left: 80px;
									top: -50px;
								}
							}
						}
					}
					div{
						.card{
							&.card1{
								left: 50px;
								top: 0px;
							}
							&.card2{
								left: 120px;
								top: 30px;
							}
							&.card3{
								left: -10px;
								top: -3px;
							}
							&.card4{
								left: 10px;
								top: -3px;
							}
						}
					}
					.title{
						top: 92px;
					    left: 208px;
					    transform: rotate(-80deg);
					}
				}
				&.type3{
					top: 177px;
				    margin-left: 211px;
					@include css3(transition, all 0.6s);
					transition-delay: 0.6s;


					&:hover{
						div{
							.card{
								&.card1{
									left: 21px;
								    top: 0;
								}
								&.card2{
									left: 124px;
								    top: 116px;
								}
								&.card3{
									left: -15px;
									top: -50px;
								}
								&.card4{
									left: 146px;
								    top: 5px;
								}
							}
						}
					}
					div{
						.card{
							&.card1{
								left: 46px;
							    top: 0;
							}
							&.card2{
								left: 120px;
							    top: 70px;
							}
							&.card3{
								left: 100px;
						       top: -45px;

							}
							&.card4{
								left: 165px;
							    top: 44px;
							}
						}
					}
					.title{
						top: 475px;
					    left: 82px;
					    transform: rotate(38deg);
					}
				}
				.card_wrap_inn{
					position: relative;
					.card{
						position: absolute;
						top:0;
						left:0;
						@include css3(transition, all 0.2s);
					}
				}
				.title{
					position: absolute;
					width: 335px;
					font: 16px 'adihaus';
					text-transform: uppercase;
					color:#fff;
					letter-spacing: 1.8px;
					span{

						display: inline-block;
					    background: #fdbade;
					    width: 2px;
					    height: 12px;
					}
					strong{
						font: 16px 'adihaus-bold';

					}

				}
			}
		}
	}
	// slider
	.slider_wrap{
		padding: 50px 0 0 0;
		width: 100%;
		background:#031a52;
		overflow: hidden;

		.slider_inn{
			margin:0 auto;
			position: relative;
			width:1260px;
			text-align: center;

			ul.slider{
				position: relative;
				li{
					position: relative;
					width: 1260px;
					float:left;
					margin-right: 30px;
					text-align: center;
					&.on{
						.box{
							.inn_box{
								img{
									top:79px;
									@include css3(opacity,1);

								}
							}
						}
					}
					.bg{
						position: absolute;
					    left: 0;
					    top: 0;
 						height: 494px;
					    overflow: hidden;
					    width: 100%;
						img{
							width: 100%;
						}
					}
					.box{
						position: relative;

						.inn_box{
							position: relative;
						    padding-bottom: 90px;
							z-index: 1;
							text-align: center;
							.shoe{
								// width: 500px;
							}
							.txt{
								padding: 50px 0 0 0;
								text-align: center;
								strong{
									text-align: center;
									font:40px/40px 'adinenuPro-black';
									color:#fff;
									text-transform: uppercase;
								}
								p{
									display: block;
									text-align: center;

									padding-top: 15px;
									font:500 20px/25px 'NotoSansKR';
									color:#fff;
								}
							}
							img{
								position: relative;
								top: 150px;
								@include css3(opacity,0);
								@include css3(transition, all 0.6s);
								transition-delay: 0.3s;
							}
							a.buy{
								display: inline-block;
								margin-top: 30px;
								height: 50px;
								width: 180px;
								text-align: center;
								border:1px solid #fdbade;
								font:600 18px/51px 'NotoSansKR';
								color:#fdbade;
								text-transform: uppercase;

							}
						}
					}


				}
			}
			ul.slider:after{
				content: '';
				display: block;
				width: 0; height: 0;
				clear:both;
			}
			.btn{
				position: absolute;
			    top: 222px;
			    width: 100%;
			    text-align: center;
			    z-index: 2;
				a{
					position: relative;
					display: inline-block;
					width:50px;
					height: 50px;
					position: absolute;
					overflow: hidden;
					background: #001652;
					img{
						position: absolute;
						top:50%;
						left:50%;
						transform: translate(-50%,-50%);
					}
				}
				.next{
				 	right: 35px;
					img{
						animation: arrownext 2s infinite;
						-webkit-animation: arrownext 2s infinite;
					}
				}
				.prev{
					left: 35px;
					img{
					    animation: arrowprev 2s infinite;
					    -webkit-animation: arrowprev 2s infinite;
					}
				}

			}
		}

	}
	.statement{
		padding: 50px 0 100px;
		background: #031a52;
		text-align: center;
		color:#fff;
		font:500 20px/28px 'NotoSansKR';
	}
	.col_wrap{
		position: relative;
		background: #031a52;
		.col_inn{
			.row{
				width: 1190px;
				height: 395px;
				margin: 0 auto;
				&:after{
					content: '';
					display: inline-block;
					clear: both;
				}
				.box{
					position: relative;
					float: left;
					width: 395px;
					overflow: hidden;
					@include css3(perspective, 500px);
					&:hover{
						span{
							@include css3(transform, rotate(180deg));
						}
						img{
							transition-duration: 10s;
							-webkit-transition-duration: 10s;
							-moz-transition-duration: 10s;
							-o-transition-duration: 10s;
							-ms-transition-duration: 10s;
							transform: translate3d(0, 0, 100px);
							-webkit-transform: translate3d(0, 0, 100px);
							-moz-transform: translate3d(0, 0, 100px);
							-o-transform: translate3d(0, 0, 100px);
							-ms-transform: translate3d(0, 0, 100px);
						}
					}
					span{
						position: absolute;
						top:10px;right:10px;
						width: 15px;
						@include css3(transition, transform 0.5s);
						img{
							width: 16px;


						}
					}

					img{
						width: 100%;
						transform: translate3d(0, 0, 0);
						-webkit-transform: translate3d(0, 0, 0);
						-moz-transform: translate3d(0, 0, 0);
						-o-transform: translate3d(0, 0, 0);
						-ms-transform: translate3d(0, 0, 0);
						@include css3(transition-duration, 3s);

					}
				}
			}
		}
	}
	.bottom{
		position: relative;
		padding: 100px 0 50px;
		background: #031a52;
		.ct1190{
			text-align: center;
			>*{text-align: center;}
			strong{
				display: block;
				padding: 0 0 20px 0;
				text-align: center;
				font:700 40px/40px 'NotoSansKR';
				color: #fff;
				text-transform: uppercase;
			}
			p{
				padding: 0 0 32px 0;
				font:400 20px/28px 'NotoSansKR';
				color:#fff;
			}
			.buy{
				display: inline-block;
				height: 50px;
				width: 180px;
				text-align: center;
				border: 1px solid #fff;
				font:500 16px/50px 'NotoSansKR';
				color: #fff;
				text-transform: uppercase;
				@include css3(transition, all 0.5s);
				&:hover{
					background: rgba(0,0,0,0.2);
				}
			}
			.logo{
				padding: 128px 0 0 0;
			}
		}
	}
	.modal_popup{
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		visibility: hidden;
		overflow: hidden;
		z-index: 900;
		@include css3(opacity,0);
		@include css3(transition, all 0.3s);
		&.on{
			visibility: visible;
			@include css3(opacity,1);
			.overlay{
				margin: 0 auto;
				position: absolute;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.8);
			}
		}
		.close{
			position: absolute;
		    top: 50%;
		    left: 50%;
		    margin-top: -324px;
		    margin-left: 342px;
		    z-index: 10;
			img{
				width: 25px;
			}
		}
		.overlay{
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.5);
			// transform-origin: 20% 40%;
			@include css3(transition, all 0.5s);

		}
		.modal_popup_content{
			position: absolute;
			top:50%;
			left:50%;
			@include css3(transform, translate(-50%,-50%));
			.img{
				width: 650px;
				img{
					width: 100%;
				}
			}
		}
	}
}


@keyframes arrowprev{
	0%{
		left: 200%;
	}
	100%{
		left: 50%;
	}
}
@keyframes arrownext{
	0%{
		left: -100%;
	}
	100%{
		left: 50%;
	}
}
/* End of originals_pod */
