@import "./front/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
#contents_wrap{
    background: #000e21;
}

.campaign_aztrek{

    .visual_main{
        position: relative;
        height: 830px;
        &.on{
            .txt{
                h1{opacity: 1; padding-left: 0;}
                >p{opacity: 1; padding-left: 0;}
                .btn{opacity: 1; margin-left: 0;}
            }
        }
        .bg{
            position: absolute;
            top:0;
            left: 50%;
            width: 1920px;
            transform:translateX(-50%);
        }
        .txt{
            // outline: 1px solid #fff;
            width: 480px;
           
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(30%, -50%);
            text-transform: uppercase;
            text-align: left;
            h1{
                padding-left: 20px;
                font: 60px/60px 'DINWebPro-CondBold';
                color:#fff;
                text-align: left;
                opacity: 0;
                transition: all .6s;
            }            
            >p{
                padding-left: 20px;
                display: inline-block;
                font: 16px/28px 'NotoSansKR';
                color:#fff;
                opacity: 0;
                transition: all .6s;
                transition-delay: 0.4s;
            }
            .btn{
                display: inline-block;
                margin-top: 30px;
                margin-left: 20px;
                border:1px solid #fff;
                width: 140px;
                opacity: 0;
                transition: all .6s;
                transition-delay: 0.8s;
                a{
                    display: block;
                    color:#fff;
                    font: 500 14px/48px 'NotoSansKR';
                    text-align: center;
                    letter-spacing: 1px;
                    span.arrow{
                        display: inline-block;
                        width: 24px;
                        height: 12px;
                        margin-left: 10px;
                        background: url('/images/reebok/2019/event/floatride/0228/arrow.png') no-repeat;
                    }
                }
                &:hover{
                    background: rgba(0, 0, 0, 0.4);
                    transition: all .5s;
                    a{
                        color:#fff;
                    }
                }
            }
        }
    }

    .section_vid{
        >div{
            text-align: center;
            position: relative;
            video{

            }
            .btn-play{
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);    
            }
        }
    }

    .section_prd{
        padding: 80px 0;
        text-align: center;
        ul{
            overflow: hidden;
            display: inline-block;
            width: 100%;
            max-width: 1902px;
            li{
                float: left;
                width: 25%;
                a{
                    position: relative;
                    display: block;
                    &::before{
                        display: inline-block;
                        content: '';
                        width: 50%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: #000e21;
                        transition: cubic-bezier(1,0,.59,1) .4s;
                        transition-delay: .4s;
                    }
                     &::after{
                        display: inline-block;
                        content: '';
                        width: 50%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: #000e21;
                        transition: cubic-bezier(1,0,.59,1) .4s;
                        transition-delay: .4s;
                    }
                    img{
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
        &.on{
            ul{
                li{
                    a{
                         &::before{
                             width: 0;
                         }
                         &::after{
                             width: 0;
                         }
                    }
                }
            }
        }
    }

    .bottom{
        position: relative;
        height: 638px;
        .bg{
            position: absolute;
            top:0;
            left: 50%;
            width: 1920px;
            transform:translateX(-50%);
            z-index: 0;
        }
        .txt{
            width: 960px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: left;
            h1{
                padding-left: 20px;
                font: 60px/60px 'DINWebPro-CondBold';
                color:#fff;
                text-align: left;
                opacity: 0;
                transition: all .6s;
            } 
            .btn{
                display: inline-block;
                margin-top: 20px;
                margin-left: 20px;
                border:1px solid #fff;
                width: 140px;
                opacity: 0;
                transition: all .6s;
                transition-delay: 0.4s;
                a{
                    display: block;
                    color:#fff;
                    font: 500 14px/48px 'NotoSansKR';
                    text-align: center;
                    letter-spacing: 1px;
                    span.arrow{
                        display: inline-block;
                        width: 24px;
                        height: 12px;
                        margin-left: 10px;
                        background: url('/images/reebok/2019/event/floatride/0228/arrow.png') no-repeat;
                    }
                }
                &:hover{
                    background: rgba(0, 0, 0, 0.4);
                    transition: all .5s;
                    a{
                        color:#fff;
                    }
                }
            }
        }
        &.on{
            .txt{
                h1{
                    opacity: 1;
                }
                .btn{
                    opacity: 1;
                }
            }
        }
    }
}
