@import "./front/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 1160px;
}
#contents_wrap{padding: 0;}

.nano_cp{
    .btn{
        display: inline-block;
        padding:0 25px;
        font:500 14px/51px 'NotoSansKR';
        color:#fff;
        border:2px solid #fff;
        letter-spacing: 1.2px;
    }

    .main_visual{
        position: relative;
        // height: 734px;
        img{
            width:100%;
            // position: absolute;
            // top:0;
            // left:50%;
            // margin-left: -960px;
        }
    }
    .middle_img{
        position: relative;
        // padding:20px 0;
        background: #000;
        
        padding-bottom: 3%;
        @media screen and (max-width:1160px){
            padding-bottom: 5%;
            .txt{
                top:61% !important;
            }
        }
        img{
            width: 100%;
        }
        .txt{
            width: 49%;
            text-align: center;
            display: inline-block;
            position: absolute;
            top: 64%;
            &.left{
                left: 6%;
            }
            &.right{
                right: 6%;
            }
            p{
                color:#fff;
                font:500 16px 'NotoSansKR';
                letter-spacing: 3px;
                text-align:center;
                text-transform: uppercase;
                &.eng{
                    font:22px 'DINWebPro-CondBold';
                    letter-spacing: 0.7px;

                }
            }
            a{
                margin: 3% 0 0 0;
                span{
                    img{
                        width:23px;
                        margin-left: 23px;
                    }
                }
            }
        }
    }
    .bottom_img{
        img{
            width: 100%;
        }
    }
}
