@import "./app/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
#contents_wrap{padding: 0;}
.campaign_bonoco{
    .main{
        position: relative;
        height: 1090px;
        .bg{
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -960px;
        }        
    }
    .instagram_wrap{
        position: relative;
        height: auto;
        &.active{
            .inn{
                .pictures{
                    top:12px;
                    opacity: 1;
                    -webkit-opacity: 1;
                } 
                .shoes{
                    top: 86px;
                    opacity: 1;
                    -webkit-opacity: 1;
                }
            }
        }
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left: -960px;
        }
        .inn{
            position: relative;
            width: 1190px;
            margin: 0 auto;
        }            
        .con_tit{
            overflow: hidden;
            width: 100%;
            padding: 50px 0;
            img{
                float: left;
                margin-left: 330px;
            }
            .btn{
                float: left;
                margin-left: 20px;
                display: inline-block;
                width: 300px;                  
                height: 66px;
                font:500 18px/66px 'NotoSansKR';
                letter-spacing: -0.5px;
                background-color: #de334d;
                color:#fff;
                border: 1px solid #de334d;                   
                text-align: center;
                @include prefix-css3(transition ,all ease-in 0.3s);
                &:hover{
                    background: none;
                    color:#de334d;
                    font:500 18px/66px 'NotoSansKR';
                }
            }
        }
        .sec_p{
            position: absolute;
            top: 0;    
            width: 190px;        
            z-index: 1;    
            .sec_p_name{ 
                display: block;
                padding-top: 65px;
                color: #fff;
                font: 500 80px/80px 'DINWebPro-CondBold';
                letter-spacing: 15px;
            }
            .sec_p_prd{                
                color: #095e7b;      
                h3{
                    font: 600 24px/24px 'DINWebPro-CondMedium';                
                    text-transform: uppercase;
                    padding-top: 30px;
                }
                h4{
                    font: 500 24px 'DINWebPro-Cond';
                    padding: 10px 0;    
                }
                a{
                    font: 500 16px/16px 'NotoSansKR';
                    color: #095e7b;
                    .ico{
                        display: inline-block;
                        margin-left: 5px;
                        width: 10px;
                        height: 16px;
                        background: url('/images/reebok/event/about/bonoco/btn_arrow.png') 0 2px no-repeat;
                    }
                }
            }
        }
        .sec_01{
            position: relative;
            height: 833px;
            .sec_p_01{
                left: 592px;
                .sec_p_name{
                    text-align: right;
                }
                .sec_p_prd{                 
                    text-align: right;
                    padding-right: 10px; 
                    h3{text-align: right;}
                    h4{text-align: right;}
                    a{text-align: right;}
                }              
            }
            .sec_p_02{
                top: 143px;
               left: 849px;                            
            }
        }
        .sec_02{
            position: relative;
            height: 944px;
            .inn{
                height: 944px;
            }
            .insta_slider_wrap{
                position: absolute;
                top:50px;
                left: 54%;
                margin: 0 auto;
                width: 954px;
                overflow: hidden;
                .insta_slider{
                    .slide{
                        &:after{
                            content: '';
                            display: block;
                            clear: both;
                        }
                        span{
                            display: inline-block;
                            margin: 0 1px 1px 0;
                            float: left;
                            &.last{
                                margin-right: 0;
                            }
                            a{
                                display: block;
                            }
                        }
                    }
                }
                .indicaotr{
                    text-align: center;
                    span{
                        display: inline-block;
                        margin: 0 5px;
                        padding: 28px 0;
                        cursor: pointer;
                        &.on{
                            em{
                                background: #095e7b;
                            }
                        }
                        em{
                            display: inline-block;
                            width: 30px;
                            height: 3px;
                            background: rgba(255,255,255,0.5);
                        }

                    }
                }

            }
            .sec_p_01{
                top: 142px;
                left: 165px;
                .sec_p_name{
                    text-align: right;
                }
                .sec_p_prd{ 
                    padding-right: 10px;            
                    text-align: right;
                    h3{text-align: right;}
                    h4{text-align: right;}
                    a{text-align: right;}
                }              
            }
            .sec_p_02{
                top: 2px;
               left: 420px;                            
            }
        }
        .sec_03{
            position: relative;
            height: 1026px;
            .sec_p_01{
                top: 13px;
                left: 60px;
                width: 450px;
                .sec_p_name{
                    float: right;
                    text-align: right;
                    padding-top: 20px;
                }
                .sec_p_prd{
                    float: right;
                    margin-right: 80px;                 
                    text-align: right;
                    padding-right: 10px;
                    color: #fff; 
                    h3{text-align: right;
                        span{
                            font: 500 24px 'DINWebPro-Cond';
                        }
                    }
                    h4{text-align: right;}
                    a{display: inline-block;text-align: right;color: #fff;padding-top: 10px;}
                }              
            }
            .sec_p_02{
                top: 371px;
               left: 778px; 
               .sec_p_name{
                    text-align: right;
                }
                .sec_p_prd{                 
                    text-align: right;
                    padding-right: 10px; 
                    h3{text-align: right;}
                    h4{text-align: right;}
                    a{text-align: right;}
                }                             
            }
        }        
    }
    .visual_video{
        position: relative;
        background: #fff;
        height:727px !important;
        .bg{
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -960px;
            width: 1920px;
            img{
                display: block;
            }
        }
        .masthead{
            text-align: center;
            top:150px;
            margin-left: -100px;
            h2{
                margin-left: 38px;
            }            
            .play-video{
                position: absolute;
                display: inline-block;
                width: 700px;
                height: 397px;
                border-radius: 0;
                cursor: pointer;
            }            
        }
    }
}
