@import "./app/css/reebok/scss/about.scss";
#contents_wrap{
    padding: 0;
    background: #141414;
}
.campaign_Aztrek{
    background :#fff;
    .box1{
        position: relative;
        height: 600px;
        overflow: hidden;
        .img{
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -960px;
                margin-top: -300px;
            }
        }
        .btn{
            position: absolute;
            bottom: 50%;
            left: 50%;
            margin-bottom: -175px;
            margin-left: -563px;
            background: #000;
            a{
                display: inline-block;
                color:#fff;
                padding: 20px 110px;
                font: 500 1.2rem/1.1rem 'NotoSansKR';
            }
        }
    }

    .box2{
        position: relative;
        padding: 3rem 2rem 2rem 2rem;
        height: 1100px;
        .top{
            h1{
                text-align: center;
                font: 400 5.3rem/4.5rem 'dinpro bold';
                color:#000;
            }
            span{
                display: block;
                text-align: center;
                font: 500 1.8rem/1.5rem 'dinpro bold';
                color: #000;
                padding: 15px 0;
            }
            p{
                text-align: center;
                font: 500 1.5rem/2rem 'NotoSansKR';
                color:#000;
            }
        }
        .img{
            text-align: center;
            margin: 45px;
            img{
            }
        }

        .bottom{
            position: relative;
            height: 451px;
            margin-bottom: 60px;
            img{
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -564px;
            }
            .btn{
                position: absolute;
                bottom: 40px;
                left: 50%;
                margin-left: -214px;
                border: 2px solid #000;
                a{
                    display: inline-block;
                    color:#000;
                    padding: 20px 170px;
                    font: 500 1.1rem/1.5rem 'NotoSansKR';
                }
            }
        }
        .add{
            text-align: center;
            span{
                display: inline-block;
                font: 400 1rem/1rem 'NotoSansKR';
                background: #dcedf9;
                color:#696969;
            }
        }

    }

    .products_collection{
        width: 100%;
        position: relative;
        margin-bottom: 125px;
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left: -960px;
        }
        .title{
            position: relative;
            text-align: center;
            h2{
                padding: 54px 0 0 0;
                text-align: center;
                font:600 48px 'DINWebPro-CondBold';
                text-transform: uppercase;
                color:#fff;
                span{
                    font: 46px 'DINWebPro-CondLight';
                }
            }
            .btn{
                margin: 22px 0 0 0;
                display: inline-block;
                border: 1px solid #fff;
                &:hover{
                    a{
                        background: rgba(0,0,0,0.5);
                    }
                }
                a{
                    width: 188px;
                    text-align: center;
                    display: inline-block;
                    font:400 16px/50px 'NotoSansKR';
                    color:#fff;
                    background: rgba(0,0,0,0.3);
                    transition: all 0.5s;
                }
            }
        }
        .arrow-prev{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -560px;
            z-index: 2;
            width: 26px;
            height: 26px;
        }
        .arrow-next{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: 510px;
            z-index: 2;
            width: 26px;
            height: 26px;
        }
        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:780px;
            // margin: 126px 0 0 0;
            margin: 0 auto 0;
            // left: inherit;
            // margin-left:inherit;
            z-index: 1;
            // overflow: hidden;

            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 640px;
                li{
                    width: 1000px;
                    position: relative;
                    float: left;
                    text-align: center;
                    @include opacity(0.4);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                    &.active{
                        img{
                            &.txt{
                                opacity: 1;
                                margin-left: 0px;

                            }
                        }
                    }
                    img{
                        display: inline-block;
                        &.txt{
                            position: absolute;
                            top:0;
                            left:50%;
                            opacity: 0;
                            margin-left: -100px;
                            transition: all 0.5s;
                            transition-delay: 0.5s;
                        }
                    }
                }
                li.active{
                    @include opacity(1);
                }
            }
        }
        .slider-btn{
            width: 100%;
            position: absolute;
            text-align: center;
            bottom: 15px;
            z-index: 99;
            a{
                display: inline-block;
                width: 12px;
                height: 10px;
                padding-top: 2px;
                text-align: center;
                margin-right: 8px;
                background: #fff;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                color: #fff;
                opacity: .5;
                &.on{
                    opacity: 1;
                }
            }
        }
    }

}




/* floatride end */
