@import "./app/css/reebok/scss/about.scss";
#wrap{overflow: hidden; min-width: 1190px;}
#contents_wrap{padding: 0;}
.campaign_workout_story{
    .inner{
        width: 890px;
        margin: 0 auto;
    }
    .campaign-btn{
        position: relative;
        z-index: 1;
        width: 210px;
        height: 55px;
        border: 2px solid #000;
        background: #000;
        color: #fff;
        span{
            line-height: 52px;
        }
        &:hover{
            background: #fff;
            color: #000;
        }
    }
    .visual_video{
        background: #000;
        .video_bg{
            width: 100%;
            .ie &{
                video{
                    width:100%;
                    min-width: 1900px;
                    height: 650px;
                }
            }
        }
        .video_bg{
            &.ended{
                @include opacity(0);
                @include prefix-css3(transition ,opacity 1.6s ease-in);
            }
        }
        .bg{
            margin-left: -950px;
        }
        .masthead{
            @include prefix-css3(transition,opacity 0.6s ease 1.5s);
            >*{
                margin-bottom: 0;
            }
            &.active{
                @include opacity(1);
            }
        }
    }
    .main_cut{
        overflow: hidden;
        position: relative;
        height: 650px;
        .bgs{
            position: absolute;
            left:50%;
            top:0;
            margin-left: -990px;
            width: 2010px;
            .bg{
                position: relative;
                float: left;
                @include opacity(0);
                @include transition(all, 0.8s);
                &.event{
                    @include opacity(1);
                    left: 0 !important;
                }
            }
        }
    }
    .prd_section{
        overflow: hidden;
        position: relative;
        height: 950px;
        .bgs{
            position: absolute;
            left:50%;
            top:0;
            margin-left: -990px;
            width: 2010px;
            .bg{
                position: relative;
                float: left;
                @include opacity(0);
                @include transition(all, 0.8s);
                &.event{
                    @include opacity(1);
                    left: 0 !important;
                }
            }
        }
        .inner{
            position: relative;
            margin-top: 200px;
            .main_txt{
                position: absolute;
                top: 0;
                left: -50px;
                z-index: 2;
                text-align: center;
                h2{
                    padding: 175px 0 0 0;
                    font:84px/70px 'DINWebPro-CondBold';
                    text-transform: uppercase;
                    color:#000;
                    letter-spacing: -0.5px;
                    text-align: center;
                    span{
                        font:85px/78px 'DINWebPro-CondLight';
                        text-align: center;
                    }
                }
                h4{
                    font:40px/40px 'DINWebPro-CondLight';
                    text-transform: uppercase;
                    color:#000;
                    text-align: center;
                }
                p{
                    text-align: center;
                    &.desc1{
                        padding-top: 20px;
                        font:400 18px/22px 'NotoSansKR';
                        color:#595959;
                    }
                    &.desc2{
                        padding: 10px 0 28px;
                        font:600 15px/22px 'NotoSansKR';
                        color:#000;
                        em{
                            padding: 0 10px;
                        }
                    }
                }
            }
            .itemSlide{
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 660px;
                .itemSlideinn{
                    position: relative;
                    left: 400px;
                    width: 1500px;
                }
                .slide{
                    position: absolute;
                    top:0;
                    left:0;
                    @include opacity(0);
                    @include transition (opacity,0.6s);
                    &.on{
                        @include opacity(1);

                    }
                }
                .indicator{
                    width: 100%;
                    position: absolute;
                    right: -290px;
                    bottom:-40px;
                    z-index: 1;
                    text-align: center;
                    span{
                        display: inline-block;
                        margin: 0 3px;
                        width: 12px;
                        height: 12px;
                        background: #ccc;
                        border-radius: 50px;
                        -webkit-border-radius: 50px;
                        // @include opacity(0.3);
                        &.on{
                            background: #ea5b33;
                            // @include opacity(1);
                        }
                    }
                }
            }
        }
    }
}
/* workwoutstory end */
