/* CSS Document */
* {margin:0px; padding:0px;}
#dqAuto {position:absolute; display:none; top:19px; left:68px; width:261px; border:solid 1px #ff8604; background-color:#fff; z-index:1;}
#dqAuto ul li {display:block;}
#dqAuto li {height:23px; font:12px/23px  dotum; color:#666666; padding-left:10px; cursor:pointer;}
#dqAuto li a {background-color:#fff;}
#dqAuto li a:hover {background-color:#fffde5;}
#dqAuto li span {color:#f76d1a; font-weight:bold;}
#dqAuto .header {background-color:#f3f3f3; font-size:11px; font-family:±¼¸²,µ¸¿ò,Seoul,arial,helvetica; text-decoration:none; color:#8b8d8e; padding-top:2px; padding-right:10px;}
#dqAuto .header span {vertical-align:middle; float:right;}
#searchKeyword {width:260px; *width:261px;}

