@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

//common

#women{
	section{position: relative;margin: 0 auto; min-width: 1190px;};
	.btn_default{
		margin-top: 0;
	}
	.visuals{
		$val: auto;
		@include auto($val);
		.visuals__text{
			@include center(54%, auto, 5%, $ctY);
			width: 18.5%;
			white-space: nowrap;
			>img{
				width: 100%;
			}
			>p{
				font: 700 30px/30px $noto;
				color: #fff;
				margin-top: 20px;
			}
			.btn_default{
				margin-top: 45px;
			}
		}
	}
	.section01{
		text-align: center;
		padding: 65px 0 110px 0;
		p{
			font: 500 24px/32px $noto;
			color: #000;
			text-align: center;
			&:first-child{
				margin-bottom: 40px;
			}
		}
		>img{
			display: block;
			margin: 50px auto 45px;
		}
	}
	.grids{
		.w25{
			width: 25%;
		}
		.w50{
			width: 50%;
		}
		.w75{
			width: 75%;
		}
		@include after();
		>div.wrapper{
			.item{
				position: relative;
				float: left;
				overflow: hidden;
				>img{
					width: 101%;
					@include css3(transition,all 5s);
					&:hover{
						transform: scale(1.1);
					}
				}
				.txt{
					@include center(auto, 10%, 50%, $ctX);
					text-align: center;
					white-space: nowrap;
					&.extra{
						bottom: 8%;
						>img{
							width: 40%;
						}
					}
					&.left{
						top: auto;
						bottom: 5%;
						left: 5%;
						transform: none;
						text-align: left;
						a, p, em{
							text-align: left;
						}
					}
					>a{
						text-align: center;
						img{
							width: 15%;
						}
					}
					p{
						font: 400 22px/31px $noto;
						color: #fff;
						text-align: center;
						margin-top: 55px;
					}
					em{
						display: block;
						font: 900 32px/32px $noto;
						color: #fff;
						margin: 10px auto 20px;
					}
					@media screen and (max-width: 1500px) {
						p{
							font: 400 18px/27px "NotoSansKR";
							margin-top: 45px;
						}
						em{
							font: 900 25px/25px "NotoSansKR";
							margin: 7px auto 15px;
						}
					}
				}
				.btn_default{
					&.left{
						@include center(auto, 5%, 5%, auto);
					}
					&.right{
						@include center(auto, 5%, auto, auto);
						right: 5%;
					}
				}
			}
			@include after();
			>div{
				float: left;
				>div{
					@include after();
					.item{
						float: left;
					}
				}
			}
			&.extra{
				@include after();
				>div{
					float: left;
					.item{
						clear: both;
						width: 100%;
					}
				}
				.item{
				}
			}
			&.last{
				>div{
					width: 100%;
				}
			}
		}
	}
	.videos{
		>img{
			width: 100%;
		}
		.txt{
			@include center(55%, auto, 50%, $ctct);
			text-align: center;
			>img{
				display: block;
				margin: 0 auto;
				&:nth-child(2){
					margin: 35px auto 15px;
				}
			}
			p{
				font: 900 30px/30px $noto;
				color: #fff;
			}
		}
	}
	.showtime{
		.showtime__figure{
			img{
				width: 100%;
			}
		}
		.btn_default{
			@include center(58%, auto, 19%, $ctY);
			@media screen and (max-width: 1500px) {
				// @include center(50%, auto, 50%, $ctct);
			
			}
		}
	}
	.coupons{
		background: #dfeaf1;
		.wrap{
			@include after();
			@include w1190();
			padding: 100px 0;
			>div{
				float: left;
				&:first-child{
					margin-right: 80px;
				}
				p, span, em{
					display: block; 
					color: #000;
				}
				p{
					font: 900 44px/44px $noto;
					em{
						display: inline-block;
						font: 900 44px/44px $adinBlk;
					}
				}
				span{
					font: 400 26px/26px $noto;
					margin: 10px 0 35px;
				}
				>em{
					font: 400 18px/18px $noto;
					margin-bottom: 15px;
				}
			}
		}

	}
}
