@import "./app/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
#contents_wrap{padding: 0;}

.campaign_fusion{
    .title{
        position: relative;
        padding: 70px 0 80px;
        text-align: center;
    }
    .visual_video{
        position: relative;
        background: #fff;
        height:650px !important;
        .bg{
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -953px;
            width: 1980px;
            img{
                display: block;
            }
        }

        .video_bg{
            width: 100%;
            .ie &{
                video{
                    width:100%;
                    min-width: 1900px;
                    height: 643px;
                }
            }
        }

        .masthead{
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translate3d(-50%, -50%, 0);
            -webkit-transform: translate3d(-50%, -50%, 0);
            -moz-transform: translate3d(-50%, -50%, 0);
            -o-transform: translate3d(-50%, -50%, 0);
            -ms-transform: translate3d(-50%, -50%, 0);
            text-align: center;
            p{
                margin-bottom: 26px;
                font:400 18px/22px 'NotoSansKR';
            }
            a.btn-play-video{
                display: inline-block;
                margin-bottom: 30px;
                width: 73px;
                height: 73px;
                background: url('/images/reebok/event/about/flexweave/180719/btn_play.png') 0 0 no-repeat;
            }
            a.btn-buy{
                position: relative;
                display: block;
                width: 200px;
                height: 60px;
                border: 1px solid #fff;
                background: rgba(0, 0, 0, 0.2);
                box-sizing: border-box;
                font: 18px/60px 'NotoSansKR';
                margin: 0 4px;
            }
        }
    }
    .buy_area{
        padding: 60px 0;
        text-align: center;
        &.title2{
            padding: 2.5rem 0;
            background: #f0f0f0;
            a.btn-buy{
                margin-top: 1rem;
            }
        }
        .inn{
            overflow: hidden;
            width: 1160px;
            margin: 0 auto;
            >div{
                float: left;
                text-align: center;
            }
        }
        h2{
            &.kr{
                font: 700 1.8rem/2.2rem "NotoSansKR";
                letter-spacing: -0.1rem;
            }
            font: 700 3.6rem "DINWebPro-CondBold";
            color: #000;
            letter-spacing: -0.1rem;
            padding: 15px 0;
            text-align: center;
            em{
                font: 700 3.6rem "DINWebPro-CondBold";
                color: #808080;
            }
        }
        p{
            font: 1rem "NotoSansKR";
            color: #000;
            text-align: center;
            b{
                font: 1rem "NotoSansKR";
                font-weight: bold;
                color: #000;
            }
        }
        a.btn-buy{
            margin-top: 2rem;
            display: inline-block;
            width: 200px;
            background: #000;
            font: 1.2rem/4rem "NotoSansKR";
            color: #fff;
            text-align: center;
            letter-spacing: 0.1rem;
        }
    }
    .products_collection{
        width: 100%;
        padding-top: 367px;
        box-sizing: border-box;
        height: 1097px;
        position: relative;
        background: url('/images/reebok/event/about/pump_supreme/180824/bg_event.jpg') center center no-repeat;
        .btn-event{
            position: absolute;
            top: 262px;
            left: 50%;
            transform: translateX(-100px);
            display: inline-block;
            width: 200px;
            background: #fff;
            font: 700 1.2rem/3.8rem "NotoSansKR";
            letter-spacing: 0.1rem;
            color: #000;
            text-align: center;
        }
        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:640px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            .arrow-prev{
                position: absolute;
                top:48%;
                left:50%;
                margin-left: -500px;
                background: url('/images/reebok/event/about/pump_supreme/180824/btn_prev.png')0 0 no-repeat;
                z-index: 2;
                width: 26px;
                height: 26px;
            }
            .arrow-next{
                position: absolute;
                top:48%;
                left:50%;
                margin-left: 495px;
                background: url('/images/reebok/event/about/pump_supreme/180824/btn_next.png')0 0 no-repeat;
                z-index: 2;
                width: 26px;
                height: 26px;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 640px;
                li{
                    width: 890px;
                    margin:0 54px;
                    position: relative;
                    float: left;
                    @include opacity(0.4);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);

                }
                li.active{
                    @include opacity(1);
                }
            }
        }
        .slider-btn{
            width: 100%;
            position: relative;
            padding: 30px 0;
            text-align: center;
            a{
                display: inline-block;
                width: 12px;
                height: 10px;
                padding-top: 2px;
                text-align: center;
                margin-right: 8px;
                background: #909090;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                color: #fff;
                &.on{
                    background: #000;
                }
            }
        }
    }

    .video_bot{
        position: relative;
        height: 837px;
        .bg{
            position: absolute;
            top:0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.ie9 .campaign_wrap .visual_video .masthead{
    width: 200px;
    left: 50%;
    margin-left: -100px;
}
