@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
.campaign_flexweave{
    min-width: 1200px;
    .mail_box{
        height: 420px;
        position: relative;
        background:url('http://image.reebok.co.kr/images/reebok/event/about/flexweave/mail_bg.jpg') ;
        background-size: cover;
        left: 50%;
        margin-left: -952px;
        .inner{
            width: 890px;
            overflow: hidden
        }
        .mail_box_img{
            float: left;
            width: 370px;
            img{
                display: block;
            }
        }
        .mail_box_form{
            width: 680px;
            text-align: center;
            position: absolute;
            top: 50px;
            margin-left: 625px;
            h4{
                font:700 36px/36px 'NotoSansKR';
                color: #000;
                margin: 30px 0 10px;
                text-align: center;
            }
            p{
                font:500 18px/16px 'NotoSansKR';
                color: #000;
                margin-bottom: 35px;
                letter-spacing: -0.03rem;
                text-align: center;
                span{
                    color: #b81c25;
                }
            }
            table{
                width: 100%;
                tr{
                    td{
                        height: 32px;
                        &.td-void{
                            height: 20px;
                        }
                    }
                }
            }
            .input-ctm{
                width: 100%;
                height: 100%;
                position: relative;
                display: block;
                padding-left: 10px;
                color: #000;
                font: 400 14px/44px 'NotoSansKR','Nanum Gothic';
                z-index: 4;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }
            .selectbox-ctm{
                a{
                    padding-left: 10px;
                }
            }
        }
        .btn-signup{
            display: inline-block;
            width: 280px;
            height: 54px;
            background: url('http://image.reebok.co.kr/images/reebok/event/about/flexweave/btn_mail.png') 100% 100% no-repeat;
            transition: .6s;
            &:hover{
                background: url('http://image.reebok.co.kr/images/reebok/event/about/flexweave/btn_mail_on.png') 100% 100% no-repeat;
            }
        }
    }
}
/* nano7_m Campaign end */
