@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';


#container_r{
	min-width: 950px;
	overflow: hidden;
}
/* ultra_boost */
.ultra_boost{
	position: relative;
	.main{
		position: relative;
		height: 835px;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
	}
	h2{
		color:#000;text-align: center;
		padding: 95px 0;
		font:500 30px 'NotoSansKR';
	}
	.box{
		padding: 0 0 70px 0;
		>*{color:#000;text-align: center;}
		.info{
			img{
				position: relative;
				// top:100px;
				padding-bottom: 25px;
				// @include opacity(0);
				// @include css3 (transition, all 0.4s);
			}
			p{
				text-align: center;
				font:400 18px 'NotoSansKR';
				&.tit{
					padding: 0 0 50px 0;
					font: 19px 'adihausDIN-Cond-medium';
					text-transform: uppercase;
					color:#84002f;
					letter-spacing: 0.7px;
				}
			}
			span{
				display: inline-block;
				margin: 22px 0;
				width: 46px;
				height: 3px;
				background: #84002f;
			}
		}
		.img{
			position: relative;
			height: 700px;
			.bg{
				position: absolute;
				left:50%;
				top:0;
				margin-left: -889px;
			}
			.ct950{
				position: relative;
				.frame{
					width: 410px;
					height: 330px;
					overflow: hidden;
					position: absolute;
					@include css3 (perspective, 800px);
					@media screen and (max-width: 1190px){

						&.img1{
							left:-100px !important;
						}
						&.img2{
							right:-50px !important;
						}
						&.img3{
							left:-50px !important;
						}
						&.img4{
							right:-50px !important;
						}

					}
				}
				img{
					@include opacity(0);
					@include css3 (transform, translate3d(0,0,0));
					@include css3 (transition, opacity 0.8s, transform 10s);
				}
				z-index: 1;
				.txt{
					padding: 200px 0 0 0;
					&.left{float: left;}
					&.right{float: right;}
					p{
						font:400 18px/25px 'NotoSansKR';
						&.title{
							padding: 0 0 20px 0;
							font:700 30px/35px 'NotoSansKR';
						}
					}
					.bar{
						display: inline-block;
						margin: 0 0 20px 0;
						width: 46px;
						height: 3px;
						background: #84002f;
					}


				}
			}
		}

		&.bottom{
			position: relative;
			height: 900px;
			.bg{
				position: absolute;
				left:50%;
				top:0;
				margin-left: -952px;
			}
			.ct950{
				position: relative;
				z-index: 1;
				div{
					position: absolute;
					top:160px;
					left:532px;
					p{
						font:700 30px/35px 'NotoSansKR';
						color:#fff;
					}
				}
			}
		}
		&.scrollevent{
			.info{
				img{
					// top:0;
					// @include opacity(1);
				}
			}
			.img{
				.ct950{
					.frame{

					}
					img{
						@include opacity(1);
						@include css3 (transform, translate3d(0,0,100px));
						// @include css3 (transform, scale(1.08));


					}
				}
			}
		}
	}
	.btn-ctm{
		background: #720029;
		margin: 25px 0 0 0;
		width: 192px;
		height: 58px;
		span{
			line-height: 58px;
			font-size: 16px;
		}
	}
	#image-grid{
		background: #000;
		.col_txt{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-60%);
			p{
				text-align: center;
				font: 700 30px/35px 'NotoSansKR';
				color: #fff;
				@media screen and(max-width:1080px){
					font-size: 25px;
				}
			}
			.btn-ctm {
				margin: 30px auto 0;

			}
		}
	}
}
/* End of ultra_boost */
