@import "./front/css/reebok/scss/about.scss";

/* common */
#wrap{
    overflow: hidden;
    min-width: 1160px;
}
#contents_wrap{padding: 0;}
.button_area_v2{
	display: inline-block;
	&:hover{
		>div{
			// .bg{
			// 	box-shadow: inset 0 0 0 1px #fff!important;
			// 	-webkit-box-shadow: inset 0 0 0 1px #fff!important;
			// 	// @include css3(transition, all 0.5s);
			// }
			a{
				color: #767677!important;
				background: #fff!important;
				span{
					background: #767677!important;
					em{
						background: #767677!important;
					}
				}

			}
		}
	}
	div{
		position: relative;
		&.white{
			.bg{
				box-shadow: inset 0 0 0 1px #fff;
				-webkit-box-shadow: inset 0 0 0 1px #fff;
			}
			a{
				color: #000;background: #fff;
				.arrow{
					background: #000;
					em{
						background: #000;
					}
				}
			}
		}
		.bg{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translate(3px,3px);
			-webkit-transform: translate(3px,3px);
			box-shadow: inset 0 0 0 1px #000;
			-webkit-box-shadow: inset 0 0 0 1px #000;
			z-index:1;
		}
		a{
			position: relative;
			display: block;
			text-align: center;
			height: 50px;
			font: 500 15px/49px 'NotoSansKR';
			color: #fff;
			background: #000;
			z-index: 2;
			letter-spacing: 1px;
			padding:0 20px;
			.arrow{
				position: relative;
				top:-1px;
				display: inline-block;
				margin-left: 20px;
				width: 25px;
				height: 2px;
				background: #fff;
				vertical-align: middle;
					em{
						position: absolute;
						right: 0;
						width: 8px;
						height: 3px;
						background: #fff;
						transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						&.top{
							top:-3px;
						}
						&.bottom{
							bottom: -3px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);
						}
					}

			}
		}
	
	}
}

.rel{
	position: relative;
}
.winter{
	.main__wrapper{
		position: relative;
		height: 796px;
		video{
			position: absolute;
			top:0;
			left:50%;
			transform: translateX(-50%);
			z-index: 0;
			source{
				width:100%;

			}
		}
		
		.txt{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-60%, -50%);
			text-align: center;
			a{
				img{
					width:125%;
				}
			}
		}
	}
	.aside__wrapper{
		height:808px;
		img{
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -960px;
		}
		.txt{
			position: absolute;
			bottom: 98px;
			position: absolute;
			left: 50%;
			margin-left: 127px;
			text-align: center;
			p{
				font: 500 22px/28px "NotoSansKR";
				color: #fff;
				text-align: center;
				letter-spacing: 0.5px;
				&:nth-child(2){
					font: 500 21px/28px "NotoSansKR";
					color: #fff;
					text-align: center;
					margin: 17px 0 0 0;
				}
			}
			.button_area_v2{
				margin: 34px 0 0 0;
			}
		}
	}
	.section_container{
		height:3199px;
		background:url('/images/reebok/2019/event/winter/1220/1912_r_winter_bg_DT.jpg') no-repeat;
		background-size:auto auto;
		background-position: top;
		.section__wrapper{
			position: absolute;
			top: 170px;
			left: 50%;
			margin-left: -510px;
			&:nth-child(2){
				top:auto;
				bottom: 1145px;
				margin-left:-840px;
				>div{
					width:823px;
					.slide{
						z-index: 1;
						position: absolute;
						top: 20px;
						left: 50%;
						margin-left: -178px;
						.slider{
							width:511px;
							.slick-slide{
								width: 511px;
							}
						}
						.slick-dots{
							position: absolute;
							bottom: -20px;
							left: 50%;
							margin-left: 276px;
						}
					}
				}
			}
			&:nth-child(3){
				top:auto;
				bottom: 1020px;
				left: 50%;
				margin-left: 120px;
				>div{
					width:615px;
					.slide{
						z-index: 1;
						position: absolute;
						top: 40px;
						left: 50%;
						margin-left: -287px;
						.slider{
							width:507px;
							.slick-slide{
								width: px;
							}
						}
						.slick-dots{
							position: absolute;
							bottom: -20px;
							left: 50%;
							margin-left: 276px;
						}
					}
				}
			}
			>div{
				width: 1465px;
				// height: 885px;
				.slide{
					z-index: 1;
					position: absolute;
					top: 17px;
					left: 50%;
					margin-left: -595px;
					.slider{
						width: 1222px;
						.slick-slide{
							width: 1222px;
						}
	
					}
					.slick-dots{
						display: block;
						position: absolute;
						bottom: -20px;
						left: 50%;
						margin-left: -669px;
						li{
							width:5px;
							height:74px;
							background:#4b535e;
							margin: 20px 0;
							&.slick-active{
								background:#fff;
							}
							button{
								display: none;
							}
						}
					}
				}
				.txt{
					position: absolute;
					top: 381px;
					left: 50%;
					transform: translateX(-127%) rotate(90deg);
					white-space: nowrap;
					z-index: 1;
					h1{
						font: 700 63px/63px 'neueplak-ext';
						color: #fff;
						letter-spacing: .5px;
					}
				}
				.button_area_v2{
					position: absolute;
					bottom: 90px;
					left: 50%;
					margin-left: -535px;
				}
				.slide__bg{
					margin: 0 0 0 auto;
				}
			}
		}
		.btm__wrapper{
			height:805px;
			position: absolute;
			bottom:115px;
			left:50%;
			margin-left:-960px;
			img{
				width:100%;
			}
			.txt{
				position: absolute;
				bottom: 17%;
				right: 7%;
				/* margin-left: 537px; */
				text-align: center;
				white-space: nowrap;
				p{
					font: 44px/39px 'dinpro bold';
					color: #fff;
					text-align: center;
				}
				.button_area_v2{
					margin:16px 0 0 0;
				}
			}
			// a{
			// 	position: absolute;
			// 	top: 75%;
			// 	left: 80.5%;
			// 	width: 8.5%;
			// 	height: 8.5%;
			// }
		}
	}
}
@media screen and (max-width:1510px) {
	.winter{
		.section_container{
			.btm__wrapper{
				.txt{
					position: absolute;
					bottom: 15%;
					right: 6%;
	
				}
			}
		}
	}

}