@import "./front/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
#contents_wrap{padding: 0;}

.campaign_nano8{

    .visual_main{
        position: relative;
        height: 660px;
        &.on{
            .txt{
                h2{opacity: 1;}
                h1{opacity: 1;margin-left: -20px;}
                h3{opacity: 1;}
                >span{opacity: 1;}
                .btn{opacity: 1;}
            }
        }
        .bg{
            position: absolute;
            top:0;
            left: 50%;
            width: 1920px;
            transform:translateX(-50%);
        }
        .txt{
            // outline: 1px solid #fff;
            width: 340px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%, -50%);
            text-transform: uppercase;
            text-align: center;
            h2{
                font: 70px/53px 'DINWebPro-CondBlack';
                font-style: italic;
                color:#fff;
                text-align: center;
                opacity: 0;
                transition: all .6s;
            }
            h1{
                font: 70px/70px 'DINWebPro-CondBlack';
                font-style: italic;
                color:#fff;
                text-align: left;
                margin-left: 10px;
                opacity: 0;
                transition: all .6s;
                transition-delay: .4s;
            }
            h3{
                font: 70px/70px 'DINWebPro-Cond';
                font-style: italic;
                color:#fff;
                text-align: right;
                letter-spacing: 14px;
                opacity: 0;
                transition: all .6s;
            }
            >span{
                display: inline-block;
                font: 20px/33px 'NotoSansKR';
                color:#fff;
                opacity: 0;
                transition: all .6s;
                transition-delay: 0.8s;
            }
            .btn{
                display: inline-block;
                margin-top: 30px;
                border:1px solid #fff;
                width: 140px;
                a{
                    display: block;
                    color:#fff;
                    font: 500 14px/48px 'NotoSansKR';
                    text-align: center;
                    letter-spacing: 1px;
                    span.arrow{
                        display: inline-block;
                        width: 24px;
                        height: 12px;
                        margin-left: 10px;
                        background: url('/images/reebok/2019/event/floatride/0228/arrow.png') no-repeat;
                    }
                }
                &:hover{
                    background: rgba(0, 0, 0, 0.4);
                    transition: all .5s;
                    a{
                        color:#fff;
                    }
                }
            }
        }
    }

    .statement{
        position: relative;
        padding: 35px 0 25px;
        
        p{
            font: 600 50px/50px 'DINWebPro-Condbold';
            text-transform: uppercase;
            color: #000;
            text-align: center;
            letter-spacing: 2px;
        }
    }

    .visual_mid{
        position: relative;
        height: 838px;
        .bg{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

        }
        .img{
            position: absolute;
            top:0;
            left: 50%;
            transform: translateX(-50%);
        }
        .ltxt{
            position: absolute;
            top:50%;
            left: 50%;
            p{
                margin:0 0 10px 10px;
                font: 500 23px/23px 'NotoSansKR';
                color:#fff;
                opacity: 0;
                transition: all 0.6s ease-in;
                transition-delay: .4s;
            }
            .tline{
                position: relative;
                border-top: 1px solid #fff;
                width:0px;
                height: 0px;
                padding: 10px 0 0 0;
                box-sizing: border-box;
                opacity: 0;
            }
            span{
                padding-left: 10px;
                color:#fff;
                font: 400 16px/22px 'NotoSansKR';
                // @include css3(opacity,0);
                // @include css3(transition, all 1s ease-in);
                // @include css3(transition-delay, .7s);
                opacity: 0;
                transition: all 0.6s ease-in;
                transition-delay: 1s;
            }
            &.txt1{
                margin-top: -56px;
                margin-left: -356px;
            }

            &.txt2{
                margin-top: 72px;
                margin-left: -356px;
            }

            &.txt3{
                margin-top: 177px;
                margin-left: -356px;
            }
        }
        .mid_vid{
            position: absolute;
            .btn-play{
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);    
            }
            &.vid1{
                top:-30px;
                left: 50%;
                margin-left: -600px;
            }
            &.vid2{
                top:50%;
                left: 50%;
                margin-top: 10px;
                margin-left: 290px;
            }
        }        
    }

    .slide_lineup{
        position: relative;
        bottom:0;
        width: 100%;
        background: #1c2031;
        padding: 0 0 80px;
        text-align: center;
        .wrap{
            position: relative;
            text-align: center;
            .btm_logo{
                padding:50px 0;
                text-align: center;
            }
        }

        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:544px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            .arrow-prev{
                position: absolute;
                top:50%;
                left:50%;
                margin-top: -13px;
                margin-left: -496px;
                background-position: -125px -80px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            .arrow-next{
                position: absolute;
                top:50%;
                left:50%;
                margin-top: -13px;
                margin-left:488px;
                background-position: -125px -125px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 550px;
                li{
                    width: 962px;
                    position: relative;
                    float: left;
                    text-align: center;
                    @include opacity(1);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                    img{
                        display: inline-block;
                        width:99%;
                    }
                }
                li.active{
                    @include opacity(1);
                    @include prefix-css3(transition ,ease-in 0.3s);
                    &::after{
                        content: '';
                        display: none;
                    }
                }
            }
        }
        .indicator{
            margin-top: 30px;
            text-align: center;
            a{
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.4);
                margin: 0 2px;
                &.on{
                    background: #fff;
                }
            }
        }
    }



}
