@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#harden{
    min-width: 1190px;
    overflow: hidden;
    .bg{
        position: absolute;
        left:50%;
        margin-left: -960px;
    }

    .main_visual{
        position: relative;
        height: 800px;
        overflow: hidden;
        .logo{
            position: absolute;
            top:50%;
            left:50%;
            text-align: center;
            @include css3(transform,translate(-50%,-50%));
            z-index: 1;
            .btn{
                display: inline-block;
                margin: 128px 6px 0;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 250px;
                text-align: center;
                border:2px solid #fff;
                @include css3(transition, all 0.5s);
                &:hover{
                    background: #fff;
                    a{
                        color: #000;
                        span{
                            background-image: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_black_14x14.png');

                        }
                    }
                }
                a{
                    display: block;
                    text-align: center;
                    font:500 16px/48px 'NotoSansKR';
                    color:#fff;
                    .spt_bg{
                        position: relative;
                        top:1px;
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        padding-left: 18px;
                        background-image: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_white_14x14.png');
                        background-repeat: no-repeat;
                        background-position: 100% 0;
                    }
                }
            }
        }
    }

    .statement{
        position: relative;
        height: 800px;
        &.on{
            .txt{
                top:0;
                @include css3(opacity,1);
            }
        }
        .txt{
            position: relative;
            top:50px;
            padding: 300px 0 0 0;
            @include css3(transition, all 0.8s);
            @include css3(opacity,0);
            p{
                padding-bottom: 30px;
                font:500 56px/59px 'NotoSansKR';
                color:#000;
            }
            .btn{
                display: inline-block;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 250px;
                text-align: center;
                border:2px solid #000;
                background:rgba(255,255,255,0.3);
                @include css3(transition, all 0.5s);
                &:hover{
                    background: #000;
                    a{
                        color: #fff;
                        span{
                            background-image: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_white_14x14.png');
                        }
                    }
                }
                a{
                    display: block;
                    text-align: center;
                    font:500 16px/48px 'NotoSansKR';
                    color:#000;
                    .spt_bg{
                        position: relative;
                        top:1px;
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        padding-left: 18px;
                        background-image: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_black_14x14.png');
                        background-repeat: no-repeat;
                        background-position: 100% 0;
                    }
                }
            }
        }
    }

    .motion{
        position: relative;
        height: 800px;
    }

    .prd_section{
        position: relative;
        height: 800px;
        text-align: center;
        &.on{
            .content{
                .box{
                    .txt{
                        top:0;
                        @include css3(opacity,1);

                    }
                }
            }
        }
        .content{
            position: relative;
            height: 600px;
            z-index: 1;
            .box{
                padding: 100px 0 0 0;
                float: left;
                width: 350px;
                margin-right: 50px;
                &.last{
                    margin-right: 0;
                }
                p{
                    text-align: center;
                    font:300 18px/21px 'NotoSansKR';
                    color:#fff;
                    &.bold{
                        padding: 35px 0 15px;
                        font:500 28px/30px 'NotoSansKR';

                    }
                }
                .img{
                    overflow: hidden;
                    img{
                        @include css3(transition, 2s);
                    }
                }
                .txt{
                    position: relative;
                    top:50px;
                    @include css3(transition, all 0.8s);
                    transition-delay: 0.5s;
                    @include css3(opacity,0);
                }
                &:hover{
                    .img{
                        img{
                            @include css3(transform, scale(1.1));
                        }
                    }
                }
            }
        }
        .btn{
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            margin: 50px auto 0;
            width: 250px;
            text-align: center;
            border:2px solid #fff;
            @include css3(transition, all 0.5s);
            &:hover{
                background: #fff;
                a{
                    color:#000;
                    span{
                        background-image: url(http://image.adidas.co.kr/images/adidas/common/icon_btn_black_14x14.png);
                    }
                }
            }
            a{
                display:block;
                font:500 16px/48px 'NotoSansKR';
                color:#fff;
                text-align: center;
                .spt_bg{
                    position: relative;
                    top:1px;
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    padding-left: 18px;

                    background-image: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_white_14x14.png');

                    background-repeat: no-repeat;
                    background-position: 100% 0;
                }
            }
        }
    }

    .bottom{
        position: relative;
        height: 990px;
        text-align: center;
        &.on{
            .prd{
                img{
                    top:0;
                    @include css3(opacity,1);

                }
            }
        }
        h2{
            position: relative;
            padding: 40px 0 30px;
            text-align: center;
            font: 50px/50px 'adihausDIN-Cond-bold';
            color:#000;
        }
        .prd{
            position: relative;
            padding: 140px 0 35px 0;
            text-align: center;
            img{
                position: relative;top:-50px;
                @include css3(opacity,0);
                @include css3(transition, all 0.8s);

            }
        }
        .btn{
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 250px;
            text-align: center;
            border:2px solid #000;
            @include css3(transition, all 0.5s);
            &:hover{
                background: #000;
                a{
                    color:#fff;
                    span{
                        background-image: url(http://image.adidas.co.kr/images/adidas/common/icon_btn_white_14x14.png);
                    }
                }
            }
            a{
                font:500 16px/48px 'NotoSansKR';
                color:#000;
                .spt_bg{
                    position: relative;
                    top:1px;
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    padding-left: 18px;
                    background-image: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_black_14x14.png');
                    background-repeat: no-repeat;
                    background-position: 100% 0;
                }
            }
        }
        .txt{
            position: relative;
            padding: 140px 0 0 0;
            text-align: center;
            font:600 28px/30px 'NotoSansKR';
            color:#000;

        }
    }

}
