@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
.campaign_printsmooth{

    .visual_video{
        background: #000;
        h2{
            height: inherit;
            text-indent: 0;
            background:none;
            font:85px/90px 'QStencil';
            text-transform: uppercase;
            span{
                font:25px/45px 'QStencil';
                vertical-align: top;
            }

        }
        .video_bg{
            width: 100%;
            .ie &{
                video{
                    width:100%;
                    min-width: 1900px;
                    height: 650px;
                }
            }
        }
        .desc_eng{
            font:24px/24px 'DINWebPro-CondMedium';
            text-transform: uppercase;
            letter-spacing: 12px;
        }
        .desc_eng2{
            margin-bottom: 55px;
            font:22px/28px 'NotoSansKRRegular','Nanum Gothic';
        }

        .bg{
            @include opacity(0);
            @include prefix-css3(transition ,opacity 1.2s ease-in);
        }

        .masthead{
            @include opacity(0);
            @include prefix-css3(transition ,opacity 1s ease-in);
            &.active{
                @include opacity(1);
            }
        }

        &.active{
            .bg{
                @include opacity(1);
            }
        }

        .video_bg{
            &.ended{
                @include opacity(0);
                @include prefix-css3(transition ,opacity 1.6s ease-in);
            }
        }
        .masthead{
            @include opacity(0);
            @include prefix-css3(transition,opacity 0.6s ease 1.5s);

            &.active{
                top:52%;
                @include opacity(1);
                h2{
                    margin:0 auto 8px;
                }
                .desc_eng{
                    color:#fff;
                }
            }
        }
    }

    .main{
        position: relative;
        .bg{
            img{
                position: absolute;
                top:0;
                left:50%;
                margin-left: -990px;
            }
        }
        .content{
            position: relative;
            width: 889px;
            height: 650px;
            margin:0 auto;
            .right{
                position: absolute;
                top:60px;
                right: 0;
            }
            .left{
                position: absolute;
                top: 287px;
                left: -21px;
                a.buy{
                    position: absolute;
                    top: 242px;
                    left: 50%;
                    color: #fff;
                    background-color: rgba(0,0,0,0.5);
                    margin-left: -196px;
                    border: 2px solid #fff;

                    &:hover{
                        .bg{
                            @include opacity (0.1);
                        }
                    }
                    p{
                        position: relative;
                        padding:2px 78px 0 78px;
                        color:#fff;
                        font:22px/56px 'DINWebPro-Cond','NotoSansKR';
                        z-index: 3;
                    }
                    .bg{
                        position: absolute;
                        top:0;
                        left:0;
                        width: 100%;
                        height: 100%;
                        background: #fff;
                        @include opacity (0.2);
                        z-index: 2;
                    }
                }
            }

        }
    }

    .perform{
        min-width: 1200px;
        position: relative;
        left: 50%;
        margin-left: -952px;
        overflow: hidden;
        background: #000;
        @media screen and (max-width: 1850px){

            .bg{
                img{
                    // width: 100%;
                }
            }

        }
        // @media screen and (max-width: 1770px){
        // 	height: 760px;
        // }
        // @media screen and (max-width: 1630px){
        // 	height: 705px;
        // }
        // @media screen and (max-width: 1400px){
        // 	height: 600px;
        //
        // }
        .bg{
            position: relative;
            transition:all 0.3s ease-out;
            img{
                // width:100%;
                // @media screen and (max-width: 1630px){
                // 	width: 120%;
                // }


            }
        }
        .bg_shoe{
            position: absolute;
            top:140px;
            right:40%;
            transition:all 0.1s ease-out;
            @media screen and (max-width: 1585px){
                top:75px;
            }
            @media screen and (max-width: 1780px){
                top:94px;
            }
            img{

                @media screen and (max-width: 1585px){
                    width: 95%;
                }
            }

        }
        .txt_wrapper{
            position: absolute;
            top: 535px;
            margin-left: 718px;
            .txt_box{
                // @media screen and (max-width: 1585px){
                // 	top:98px !important;
                // }
                .main_txt{
                    margin-left: -73px;
                }
                .main_txt:hover img{
                    opacity: 1;
                }


                a.buy{
                    position: absolute;
                    top:161px;
                    left:50%;
                    // width: 240px;
                    margin-left: -156px;
                    border:2px solid #fff;

                    &:hover{
                        .bg{
                            @include opacity (0.5);
                        }
                    }
                    p{
                        position: relative;
                        padding:2px 78px 0 78px;
                        color:#fff;
                        font:22px/56px 'DINWebPro-Cond','NotoSansKR';
                        z-index: 3;
                    }
                    .bg{
                        position: absolute;
                        top:0;
                        left:0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.5);
                        @include opacity (0.2);
                        z-index: 2;
                    }
                }
            }
        }
        .spot{
            .target1{
                    position: relative;
                    display: inline-block;
                    width: 46px;
                    height: 46px;
                    background:url('http://image.reebok.co.kr/images/reebok/event/about/printsmooth/20170703/target1.png') 50% 100% no-repeat;
                    transition:all 0.2s ease-out;
                    z-index: 5;
                    a{
                        position: absolute;
                        top:50%;
                        left:50%;
                        margin-left: -7px;
                        margin-top: -7px;
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        background:url('http://image.reebok.co.kr/images/reebok/event/about/printsmooth/icon.png') 50% 100% no-repeat;
                        background-position:0px 0;

                    }
                    &:hover{
                        background: #d4e78e;
                        a{
                            // background-position:-28px 0;
                        }
                    }
                    &.active{
                        background: #d4e78e;
                        a{
                            background-position:-28px 0;
                        }
                    }


                }

            .content1{
                visibility: hidden;
                margin-left: -307px;
                margin-top: -183px;
                transition:all 0.6s ease-out;
                .con_img{
                    width: 320px;
                    @include prefix-css3(transform,scale(0));
                    @include prefix-css3(transform-origin,center right);
                    @include prefix-css3(transition,all 0.5s);
                }
                .text{

                    @include prefix-css3(transition,all 0.2s ease-out);
                    // @media screen and (max-width: 1585px){
                    // 	margin-top:-203px;
                    // }

                    .heading{
                        display: inline-block;
                        padding-right: 40px;
                        margin-bottom: 20px;
                        color:#000;
                        opacity: 0;
                        border-bottom:1px solid #000;
                        font:600 26px/60px  'NotoSansKR','Nanum Gothic';
                        @include prefix-css3(transform,translate3d(20px,0,0));
                        transition:all 0.5s ease-out;

                        }
                    .desc{
                        color:#000;
                        opacity: 0;
                        font:600 15px/20px  'NotoSansKRLight','Nanum Gothic';
                        @include prefix-css3(transform,translate3d(20px,0,0));
                        transition:all 0.5s ease-out;

                        }
                    }
                }

                &.active{
                    .con_img{
                        @include prefix-css3(transform,scale(1));
                        // @media screen and (max-width: 1890px){
                        // 	@include prefix-css3(transform,scale(0.8));
                        // }
                        // @media screen and (max-width: 1780px){
                        // 	@include prefix-css3(transform,scale(0.8));
                        // }
                        // @media screen and (max-width: 1480px){
                        // 	@include prefix-css3(transform,scale(0.6));
                        // }
                    }
                    .text{

                        .heading{
                            opacity: 1;
                            @include prefix-css3(transform,translate3d(0,0,0));
                            @include prefix-css3(transition-delay,0.5s);
                        }
                        .desc{
                            opacity: 1;
                            @include prefix-css3(transform,translate3d(0,0,0));
                            @include prefix-css3(transition-delay,0.8s);
                        }
                    }

                }
            &.point1{
                position: absolute;
                top: 440px;
                margin-left: 975px;

                .content1{
                    position: relative;
                    width: 318px;
                    top: 30px;
                    left: 50%;
                    margin-left: -270px;
                    .text{
                        margin-left:-237px;
                        margin-top:-218px;

                    }

                }
            }
            &.point2{
                position: absolute;
                top: 280px;
                margin-left: 1020px;
                // @media screen and (max-width: 1780px){
                // 	top:44%;
                // 	left:34%;
                // }
                // @media screen and (max-width: 1600px){
                // 	top:44%;
                // 	left:27%;
                // }

                .content1{
                    position: relative;
                    width: 318px;
                    top: 30px;
                    left: 50%;
                    margin-left: -90px;
                    .con_img{
                        @include prefix-css3(transform-origin,center left);
                    }
                    .text{
                        width: 100%;
                        position: absolute;
                        top: 67px;
                        margin-left: 290px;
                        // @media screen and (max-width: 1890px){
                        // 	top:78%;
                        // }
                        // @media screen and (max-width: 1585px){
                        // 	margin-top: -7px;
                        // }
                        // @media screen and (max-width: 1480px){
                        // 	margin-top: -59px;
                        // }
                    }
                }



            }
            &.point3{
                height: 40px;
                position: absolute;
                top: 180px;
                margin-left: 960px;
                // @media screen and (max-width: 1585px){
                // }
                // @media screen and (max-width: 1780px){
                // 	top:26%;
                // 	right:4%;
                // }
                // @media screen and (max-width: 1480px){
                // 	top:26%;
                // 	right:2%;
                // }

                .content1{
                    position: relative;
                    margin-left: 13px;
                    margin-top: -146px;
                    .con_img{
                        @include prefix-css3(transform-origin,center left);
                    }
                    .text{
                        margin-left: 290px;
                        margin-top:-200px;
                        // @media screen and (max-width: 1585px){
                        // 	margin-top: -53px;
                        // }
                        // @media screen and (max-width: 1780px){
                        // 	margin-top: -227px;
                        // 	margin-left: 270px;
                        // }
                        // @media screen and (max-width: 1480px){
                        // 	margin-top: -257px;
                        // 	margin-left: 250px;
                        // }
                    }
                }
            }

        }
    }

    .prod_map{
        position: relative;
        height: 1866px;
        background:url('http://image.reebok.co.kr/images/reebok/event/about/printsmooth/20170703/prod_bg.jpg?v=1') no-repeat;
        overflow: hidden;
        h4{
            font:56px/71px 'QStencil';
            text-align: center;
            color: #fff;
            margin-top: 50px;
            margin-bottom: 30px;
            span{
                font:15px/16px 'NotoSansKRRegular';
            }
        }
        .men{
            position: relative;
            overflow: hidden;
            height: 900px;
        }
        .cut{
            position: absolute;
            z-index: 5;
            left: 50%;
            margin-left: -515px;
            .point{
                width: 26px;
                height: 26px;
                position: absolute;
                .bg{
                    width: 100%;
                    height: 100%;
                    background: #000;
                    opacity: 0.7;
                    filter:alpha(opacity=70);
                    -ms-filter:alpha(opacity=70);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                span{
                    width: 100%;
                    height: 20px;
                    display: block;
                    text-align: center;
                    font:16px/20px 'DINWebPro-CondBold';
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    margin-top: -10px;
                    left: 0;
                    z-index: 2;
                }
                .bg_active{
                    width: 26px;
                    height: 26px;
                    border:2px solid #fff;
                    z-index: 1;
                    opacity: 0;
                    filter:alpha(opacity=0);
                    -ms-filter:alpha(opacity=0);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
        .info{
            position: absolute;
            z-index: 10;
            left: 50%;
            margin-left: -750px;
            .left{
                margin-left: 320px;
                position: absolute;
                top: 560px;
            }

            .right{
                margin-left: 770px;
                position: absolute;
                top: 560px;
            }

            li{
                width: 310px;
                height: 30px;
                padding: 5px 0 5px 25px;
                position: relative;
                .txt{
                    padding-left: 5px;
                    position: relative;
                    font: 15px/16px 'NotoSansKRRegular','Nanum Gothic';
                    color: #fff;
                    z-index: 10;
                        .num{
                            position: absolute;
                            width: 26px;
                            height: 26px;
                            background-color: #000;
                            opacity: 0.7;
                            filter: alpha(opacity=70);
                            -ms-filter: alpha(opacity=70);
                            top: -3px;
                            left: -36px;
                            font: 16px/29px 'DINWebPro-CondBold';
                            text-align: center;
                            color: #fff;
                    }
                }
                .link{
                    padding-right: 17px;
                    display: block;
                    position: absolute;
                    top: 7px;
                    right: 5px;
                    color: #999999;
                    font: 13px/13px 'NotoSansKR','Nanum Gothic';
                    z-index: 10;
                    .disable{
                        background:none;
                        color: #999999;
                    }
                }
                .no_prod{
                    color: #707070;
                }
                .line{
                    position: absolute;
                    top: -3px;
                    left: -14px;
                    width: 100%;
                    height: 30px;
                    border: 2px solid #fff;
                    opacity: 0;
                    filter: alpha(opacity=0);
                    -ms-filter: alpha(opacity=0);
                }
            }
        }
    }

    .prodlist_wrap{
            position: relative;
            height: 364px;
            background: #ebeaee;
            overflow: inherit;
            z-index: 2;
            border-bottom-width: 0;
            .arrow{
                position: absolute;
                left:50%;
                top:-21px;
                margin-left: -21px;
                background-position: -140px 0;
                width: 43px;
                height: 21px;
            }
            .prodlist_box{
                width: 889px;
                position: absolute;
                top:0;
                left:50%;
                margin-left: -440px;
                display: none;
                h5{
                    position: absolute;
                    top:36px;
                    text-align: center;
                    width: 100%;
                    font: 30px/29px 'QStencil';
                    color:#231f20;
                }
                .product-list{
                    .item{
                        width: 25%;
                        float: left;
                        // float:none;
                        margin:0 auto;
                        text-align: center;
                        .img{
                            height: 203px;
                            padding-top: 50px;
                            img{
                                margin-top: 65px;
                            }
                        }
                        .tit{
                            margin-bottom: 5px;
                        }
                    }
                }
            }
            .prodlist_box.last{
                ul{
                    li{
                        .img{
                            img{
                                margin-top: 23px !important;
                            }
                        }
                    }
                }
            }
            .slider-btn{
                width: 100%;
                position: absolute;
                bottom: -48px;
                left:0;
                text-align: center;
                a{
                    margin-right: 15px;
                }
            }

        }

    .banner_area{
        width:100%;
        height:100%;
        position: relative;
        .bg{
            position: absolute;
        }
        .inner{
            text-align: center;
        }


    }

}
/* printsmooth end */
