@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#wrap {
    min-width: 1190px;
    overflow: hidden;
}

#prophere {
    position: relative;
    min-width: 1190px;
    overflow: hidden;

    .teager {
        // display: none;
        position: absolute;
        left: 50%;
        margin-left: -960px;
        width: 1920px;
        height: 890px;
        background: #000;
        transition: all 0.5s;
        z-index: 5;

        &.none {
            opacity: 0;
        }

        .loading {
            h2 {
                text-align: center;
                transition: all 0.5s;

                &.intro_01 {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;

                    &.on {
                        opacity: 1;
                    }
                }

                &.intro_02 {
                    position: absolute;
                    left: 40%;
                    bottom: -100%;
                    margin-left: -475px;
                    opacity: 0;

                    &.on {
                        left: 50%;
                        bottom: 0;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .scene {
        // display: none;
        position: absolute;
        width: 100%;
        height: 890px;
        background: #000;
        transition: all 0.3s;
        opacity: 0;
        z-index: 3;

        &.on {
            opacity: 1;
            z-index: 5;
        }

        #slider {
            width: 100%;
            height: 890px;
            // overflow:hidden;
            .slider-content {
                height: 890px;
                width: 10000px;
                font-family: "Open Sans", "Avenir-light", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: 300;
                margin-left: -116px;

                .image {
                    float: left;
                    position: relative;
                    transition: all 0.5s;

                    &:hover {
                        .image-text {
                            font-size: 40px;
                            opacity: 1;
                        }
                    }

                    .slider-item {
                        position: relative;
                        height: 890px;
                        overflow: hidden;
                        -webkit-transform: translate3d(0, 0, 0) skew(-15deg, 0deg);
                        -moz-transform: translate3d(0, 0, 0) skew(-15deg, 0deg);
                        -ms-transform: translate3d(0, 0, 0) skew(-15deg, 0deg);
                        transform: translate3d(0, 0, 0) skew(-15deg, 0deg);
                        transition: all 0.5s;

                        &:first-child {
                            // margin-left:-100px;
                        }

                        img {
                            height: 890px;
                            -webkit-transform: translate3d(-23%, 0, 0) skew(15deg, 0deg);
                            -moz-transform: translate3d(-23%, 0, 0) skew(15deg, 0deg);
                            -ms-transform: translate3d(-23%, 0, 0) skew(15deg, 0deg);
                            transform: translate3d(-23%, 0, 0) skew(15deg, 0deg);
                            transition: 0.4s;

                            &.on {
                                -webkit-transform: translate3d(0, 0, 0) skew(15deg, 0deg);
                                -moz-transform: translate3d(0, 0, 0) skew(15deg, 0deg);
                                -ms-transform: translate3d(0, 0, 0) skew(15deg, 0deg);
                                transform: translate3d(0, 0, 0) skew(15deg, 0deg);
                            }
                        }

                        .item-img-1 {
                            height: 890px;
                            width: 200%;
                            top: 0;
                            position: absolute;
                            left: -480px;
                            background-size: 1920px 890px !important;
                            -webkit-transform: translate3d(0, 0, 0) skew(15deg, 0deg);
                            -moz-transform: translate3d(0, 0, 0) skew(15deg, 0deg);
                            -ms-transform: translate3d(0, 0, 0) skew(15deg, 0deg);
                            transform: translate3d(0, 0, 0) skew(15deg, 0deg);
                            transition: all 0.5s;

                            &.item-img-loaded {
                                transform: translate3d(0, 0, 0) skew(15deg, 0deg) scale(1.1);
                                transition: all 1s ease;
                            }
                        }
                    }
                    // .item-text{
                    //     position:absolute;
                    // }
                    .image-text {
                        position: absolute;
                        top: 360px;
                        left: 10%;
                        opacity: 0;
                        transition: all 0.5s;

                        h3 {
                            font: 600 40px/48px 'NotoSansKR';
                            font-style: italic;
                            color: #fff;

                            strong {
                                &.c1 {
                                    color: #f3fb4d;
                                }

                                &.c2 {
                                    color: #7c64c1;
                                }

                                &.c3 {
                                    color: #ea2226;
                                }

                                &.c4 {
                                    color: #005bd1;
                                }
                            }
                        }

                        a {
                            display: inline-block;
                            margin-top: 20px;
                            width: 165px;
                            border: 1px solid #fff;
                            font: 16px/50px 'NotoSansKR';
                            color: #fff;
                            text-align: center;
                            background: rgba(0, 0, 0, 0.4);
                        }
                    }
                }
            }
        }
        @media (min-width:1400px) {}
        @media (max-width:1400px) {}
        @media (max-width:700px) {
            #slider {
                height: 450px;
            }

            .slider-item {
                height: 450px;
            }

            .item-img-1,
            .item-img-2 {
                height: 450px;
            }

            .image-text {
                left: 20%!important;
                font-size: 25px!important;
            }

            .image:first-child .image-text {
                left: 25%!important;
            }

            .image:last-child .image-text {
                left: 10%!important;
            }

            .image:nth-child(1) .item-img-1 {
                background-position-x: -165px!important;
            }

            .image:nth-child(2) .item-img-2 {
                background-position-x: -650px!important;
            }

            .image:nth-child(3) .item-img-1 {
                background-position-x: -650px!important;
            }

            .image:nth-child(3) .item-img-2 {
                background-position-x: -550px!important;
            }

            .image:nth-child(4) .item-img-1 {
                background-position-x: -100px!important;
            }

            .image:nth-child(4) .item-img-2 {
                background-position-x: -550px!important;
            }
        }
        @media (max-width:400px) {
            .image:last-child .image-text {
                left: -30px!important;
            }

            .image:first-child .image-text {
                left: 20px!important;
            }

            .image-text {
                left: -50px!important;
            }
        }
    }

    #conts {
        position: relative;
        height: 890px;
        z-index: 4;
    .cont_box {
            position: relative;
            top: 0;
            left: 0;
            display: none;
        }
    }

    .content {
        position: relative;
        height: 890px;
        .btn_cont_close {
            position: absolute;
            top: 100px;
            right: 20px;
            overflow: hidden;
            transform: rotate(-90deg);
            z-index: 5;
            cursor: pointer;
            .bcc_text {
                float: left;
                font: 16px/16px 'NotoSansKR';
                color: #fff;
            }

            .bcc_line {
                margin: 8px 6px 0 6px;
                float: left;
                width: 30px;
                height: 1px;
                border-top: 1px solid #fff;
            }

            .bcc_img {
                float: left;
                width: 16px;
                height: 16px;
                background: url('/images/adidas/event/football/heretocreate/btn-close.png') center center no-repeat;
            }
        }

        .slider_wrap {
            position: relative;
            width: 1920px;
            left: 50%;
            margin-left: -960px;
            z-index: 1;
            .focus {
                img {
                    transition: all 0.5s;
                }

                &:hover {
                    img {
                        transform: scale(1.08);
                    }
                }
            }
            .slider_cont {
                li {
                    .item_box{
                        position: relative;
                        .cont_txt{
                            position: absolute;
                            top: 50%;
                            left: 20%;
                            transform: translateY(-50%);
                            h3 {
                                font: 600 40px/48px 'NotoSansKR';
                                font-style: italic;
                                color: #fff;

                                strong {
                                    &.c1 {
                                        color: #f3fb4d;
                                    }

                                    &.c2 {
                                        color: #7c64c1;
                                    }

                                    &.c3 {
                                        color: #ea2226;
                                    }

                                    &.c4 {
                                        color: #005bd1;
                                    }
                                }
                            }
                            p{
                                font: 16px/24px 'NotoSansKR';
                                color: #fff;
                                padding-top: 15px;
                            }
                            a {
                                display: inline-block;
                                margin-top: 20px;
                                width: 165px;
                                border: 1px solid #fff;
                                font: 16px/50px 'NotoSansKR';
                                color: #000;
                                text-align: center;
                                background: rgba(255, 255, 255, 0.9);
                            }
                        }
                        .video_tit{
                            display: none;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font: 600 40px/48px 'NotoSansKR';
                            color: #fff;
                            text-align: center;
                        }
                        img{
                            width: 100%;
                        }
                        video{
                            margin-top: -100px;
                            width: 100%;
                            // height: 890px;
                            // min-height: 890px;
                        }
                    }
                }
            }

            .navigator {
                position: absolute;
                top: 50%;
                width: 1920px;
                z-index: 10;
                a {
                    height: 45px;
                    position: absolute;
                    top: 0;
                    opacity: 1;
                    filter: alpha(opacity = 50);
                    -ms-filter: alpha(opacity = 50);

                    img {
                        position: relative;
                    }

                    &.next-button {
                        right: 0;
                        transition: right 0.4s ease-out 0.1s;
                        -webkit-transition: right 0.4s ease-out 0.1s;
                        -moz-transition: right 0.4s ease-out 0.1s;
                        -o-transition: right 0.4s ease-out 0.1s;
                        -ms-transition: right 0.4s ease-out 0.1s;

                        img {
                            animation: arrowLoop_right 2s infinite;
                            -webkit-animation: arrowLoop_right 2s infinite;
                        }
                        &::after{
                            float: right;
                            content: "";
                            display: inline-block;
                            width: 55px;
                            height: 1px;
                            border-top: 1px solid #fff;
                            margin: 22px 0 0 10px;
                        }
                    }

                    &.prev-button {
                        left: 0;
                        transition: left 0.4s ease-out 0.1s;
                        -webkit-transition: left 0.4s ease-out 0.1s;
                        -moz-transition: left 0.4s ease-out 0.1s;
                        -o-transition: left 0.4s ease-out 0.1s;
                        -ms-transition: left 0.4s ease-out 0.1s;

                        img {
                            animation: arrowLoop_left 2s infinite;
                            -webkit-animation: arrowLoop_left 2s infinite;
                        }
                        &::after{
                            float: left;
                            content: "";
                            display: inline-block;
                            width: 55px;
                            height: 1px;
                            border-top: 1px solid #fff;
                            margin: 22px 10px 0 0;
                        }
                    }
                }
            }
            .indicator_wrap {
                position: absolute;
                top: 5px;
                left: 50%;
                text-align: center;
                transform: translateX(-50%);
                z-index: 2;

                .btn_wrap {
                    display: inline-block;
                    text-align: center;
                    &.on {
                        em {
                            border-bottom: 1px solid #fff;
                        }
                    }

                    .btn {
                        position: relative;
                        cursor: pointer;
                        display: block;
                        margin: 0;
                        width: 156px;
                        height: 3px;
                        background: rgba(255, 255, 255, 0.4);
                        &.on {
                            span {
                                animation: mymove 5s;
                            }
                        }

                        span {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 0;
                            height: 6px;
                            background: #fff;
                            display: inline-block;
                        }
                    }

                    em {
                        display: inline-block;
                        padding-top: 5px;
                        text-align: center;
                        font: 18px/24px 'adihausDIN-Cond-bold';
                        color: #fff;
                        opacity: 1;
                        transition: all 0.5s;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@keyframes mymove {
    from {width: 0;}
    to {width: 100%;}
}
