@import "./front/css/reebok/scss/about.scss";

/* common */
#wrap {
	min-width: 1190px;
	overflow: hidden;
}

html,
body {
	height: 100%;
}

.btn {
	display: inline-block;

	>div {
		position: relative;

		&::before {
			border-bottom: 1px solid #000;
			border-left: 1px solid #000;
			bottom: -4px;
			height: 3px;
			left: 3px;
			width: calc(100%);
			content: "";
			display: block;
			position: absolute;
		}

		&::after {
			border-right: 1px solid #000;
			border-top: 1px solid #000;
			height: calc(100%);
			right: -4px;
			top: 3px;
			width: 3px;
			content: "";
			display: block;
			position: absolute;
		}

		a {
			width: auto;
			font: 500 14px/48px 'NotoSansKR';
			letter-spacing: 0;
			position: relative;
			display: block;
			padding: 0 20px;
			text-align: center;
			height: 50px;
			color: #000;
			background: #fff;
			z-index: 2;
			border: 1px solid #000;
			letter-spacing: 0.7px;
			transition: 0.4s;

			.arrow {
				display: inline-block;
				width: 24px;
				height: 12px;
				margin-left: 80px;
				background: url('/images/reebok/2020/event/2020event/giveback/arrow.png') no-repeat;
			}
		}
	}
}

/* event */
#event_wrap{
	>div{
		display: block;
		position: relative;
	}
	.main{
		.main_set{
			display: block;
			width: 1920px;
			position: relative;
			top: 0;
			left: 50%;
			margin-left: -960px;
			z-index: 1;
			>div {
				img{
					display: block;
					width: 100%;
				}
			}
			&.mshead{
				
			}
			&.msbody{
				overflow: hidden;
				height: 86px;
				padding-top: 20px;
				background: url('/images/reebok/2020/event/2020event/giveback/main_body.jpg') 0 0 repeat-y;
				transition: 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
				>*{
					text-align: center;
					color: #000;
					span{
						font-family: 'neueplak';
						font-weight: 600;
						font-size: 1.1em;
						line-height: inherit;
						letter-spacing: 2px;
					}
				}
				h3{
					padding: 20px 0;
					text-align: center;
					img{
						display: inline-block;
					}
				}
				h4{
					font: 500 26px 'NotoSansKR';
					transition: 1s;
					// transition-delay: 0.8s;
					opacity: 0;
				}
				p{
					padding-top: 5px;
					font: 400 23px 'NotoSansKR';
					transition: 1s;
					transition-delay: 0.8s;
					opacity: 0;
				}
			}
			&.msbot{

			}
		}
		&.on {
			.msbody {
				height: 170px;
				h4 {
					opacity: 1;
				}
				p{
					opacity: 1;
				}
			}
		}
	}
	.section{
		.cont_recommend{
			background: #fff;
			.inn{
				display: block;
				width: 1200px;
				margin: 0 auto;
				text-align: center;
				>img{
					display: inline-block;
					margin: 20px 0;
				}
				.recommend_info{
					display: inline-block;
					width: 100%;
					height: 225px;
					padding: 30px;
					box-sizing: border-box;
					-webkit-box-sizing: border-box;
					color: #000;
					background: #9cb7d4;
					h4{
						font: 800 38px 'NotoSansKR';
						text-align: center;
					}
					p{
						padding-top: 10px;
						font: 400 20px 'NotoSansKR';
						text-align: center;
					}
				}
				.btn{
					margin-top: 30px;
				}
				.recommend_noti{
					margin: 60px 0 40px;
					table{
						width: 1000px;
						margin: 0 auto;
						color: #000;
						tbody{
							tr{
								th{
									font: 600 20px 'NotoSansKR';
									letter-spacing: 3px;
									text-align: center;
								}
								td{
									font: 400 15px 'NotoSansKR';
									ul{
										li{
											padding: 6px 0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.cont_showhero{
			padding-bottom: 100px;
			img{
				display: block;
				width: 100%;
			}
		}
	}
	.bottom{
		display: none;
		padding: 50px 0 100px;
		text-align: center;
		.bnn_area{
			display: inline-block;
			>a{
				display: inline-block;
				img{
					display: block;
					width: 100%;
				}
			}
		}
	}
}
