@import "./front/css/reebok/scss/about.scss";

/* common */
#wrap {
  overflow: hidden;
}
html,
body {
  height: 100%;
}
#contents_wrap {
  padding: 0;
}
.button_area_v2 {
  display: inline-block;

  &:hover {
    > div {
      // .bg{
      // 	box-shadow: inset 0 0 0 1px #fff!important;
      // 	-webkit-box-shadow: inset 0 0 0 1px #fff!important;
      // 	// @include css3(transition, all 0.5s);
      // }
      a {
        color: #767677 !important;
        background: #000 !important;

        span {
          background: #767677 !important;

          em {
            background: #767677 !important;
          }
        }
      }

      &.white {
        a {
          background: #fff !important;
        }
      }
    }
  }

  div {
    position: relative;

    &.white {
      .bg {
        box-shadow: inset 0 0 0 1px #fff;
        -webkit-box-shadow: inset 0 0 0 1px #fff;
      }

      a {
        color: #000;
        background: #fff;

        .arrow {
          background: #000;

          em {
            background: #000;
          }
        }
      }
    }

    .bg {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate(3px, 3px);
      -webkit-transform: translate(3px, 3px);
      box-shadow: inset 0 0 0 1px #000;
      -webkit-box-shadow: inset 0 0 0 1px #000;
      z-index: 1;
    }

    a {
      position: relative;
      display: block;
      text-align: center;
      height: 50px;
      font: 500 15px/49px "NotoSansKR";
      color: #fff;
      background: #000;
      z-index: 2;
      letter-spacing: 1px;
      padding: 0 20px;

      .arrow {
        position: relative;
        top: -1px;
        display: inline-block;
        margin-left: 20px;
        width: 25px;
        height: 2px;
        background: #fff;
        vertical-align: middle;

        em {
          position: absolute;
          right: 0;
          width: 8px;
          height: 3px;
          background: #fff;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);

          &.top {
            top: -3px;
          }

          &.bottom {
            bottom: -3px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

#fitness {
  min-width: 1200px;
  .slick-slide {
    outline: 0 none;
  }
  .slick-dots {
    position: absolute;
    overflow: hidden;
    text-align: center;
    z-index: 3;
    li {
      display: inline-block;
      margin: 0 3px;
      border: 0;
      text-indent: -9999px;
      background: transparent;
      width: 8px;
      height: 8px;
      border: 1px solid #9ed125;
      border-radius: 50%;
      transition: all 0.3s;
      &.slick-active {
        background: #9ed125;
      }
    }
  }

  .section {
    position: relative;
    z-index: 1;
    .sect_bg {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -960px;
      z-index: 1;
    }
  }
  .sect_visual {
    > img {
      display: block;
      width: 100%;
    }
    > a.play-video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }

  .cont_wrap {
    background: url("/images/reebok/2021/event/liful/cont_bg.jpg") 100% 100% no-repeat;
    > * {
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }

  .sect_innersize {
    width: 1200px;
    margin: 0 auto;
  }

  .sect_state {
    padding: 80px 0 120px;
    text-align: center;
    h3 {
      font: 700 30px/30px "neueplak";
      color: #fff;
      text-align: center;
      letter-spacing: 2px;
      span.thin {
        font: 200 30px/30px "neueplak";
      }
    }
    .button_area_v2 {
      // margin-top: 35px;
    }
  }

  .sect_look_1 {
    > * {
      float: left;
    }
    .slider_box {
      width: 50%;
      .slick-dots {
        bottom: 0;
        left: -20px;
        li {
          display: block;
          margin: 5px 0;
        }
      }
      &:nth-child(1) {
        float: left;
      }
      &:nth-child(2) {
        float: right;
        ul#look1-2 {
          width: 434px;
          float: right;
        }
      }
    }
    .txt_box {
      margin: 50px 0 0 0;
      h4 {
        font: 700 50px/50px "neueplak";
        color: #fff;
        letter-spacing: 2px;
        span.thin {
          font: 200 50px/50px "neueplak";
        }
      }
      p {
        padding-top: 20px;
        font: 400 18px/28px "neueplak", "NotoSansKR";
        color: #fff;
      }
      h5 {
        padding-top: 20px;
        > img {
          display: block;
          width: 140px;
        }
      }
    }
  }

  .sect_look_2 {
    padding-top: 180px;
    text-align: center;
    .slider_box {
      width: 100%;
      > img {
        position: absolute;
        z-index: 2;
      }
      .logo1 {
        display: none;
        top: 39%;
        left: -38px;
      }
      .logo2 {
        bottom: 9%;
        right: -55px;
      }
      .slick-dots {
        width: 100%;
        bottom: -25px;
        li {
        }
      }
    }
    .button_area_v2 {
      margin-top: 40px;
    }
  }

  .sect_look_3 {
    padding: 170px 0 190px;
    > * {
      float: left;
    }
    .slider_box {
      width: 50%;
      .slick-dots {
        width: 100%;
        bottom: -25px;
        li {
        }
      }
      &:nth-child(1) {
        float: left;
        .slick-slide {
          transition-delay: 0.6s;
        }
        .slick-dots {
          width: auto;
          top: 0;
          right: -20px;
          li {
            display: block;
            margin: 5px 0;
            button {
              display: none;
            }
          }
        }
      }
      &:nth-child(2) {
        float: right;
        ul#look3-3 {
          float: right;
          width: 520px;
          //   padding: 120px 0 0 80px;
        }
      }
      &:nth-child(3) {
        float: left;
        margin-top: 30px;
        ul#look3-2 {
          width: 520px;
        }
      }
    }
    .txt_box {
      margin: 100px 0 0 77px;
      h5 {
        > img {
          display: block;
        }
      }
      .button_area_v2 {
        margin-top: 35px;
      }
    }
  }
}

.bg_deco_1 {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 509px;
  height: 784px;
  z-index: -1;
  transition: 1s;
  transition-delay: 1s;
  svg {
    position: absolute;
    top: 0;
    left: 0;

    line {
      stroke-width: 2;
      stroke: #4d613a;
      fill: none;
      //   stroke-dasharray: 200;
      -webkit-transition: all 1s;
      transition: transform 1s;
      &.top {
        -webkit-transform: translateX(-509px);
        transform: translateX(-509px);
      }

      &.bottom {
        -webkit-transform: translateX(509px);
        transform: translateX(509px);
      }

      &.left {
        -webkit-transform: translateY(-784px);
        transform: translateY(-784px);
      }

      &.right {
        -webkit-transform: translateY(784px);
        transform: translateY(784px);
      }
    }
  }
}

.sect_look_1.on {
  .bg_deco_1 {
    top: 30px;
    left: -100px;
    svg line {
      &.top {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }

      &.bottom {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }

      &.left {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }

      &.right {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }
}

.bg_deco_2 {
  position: absolute;
  top: -150px;
  right: -590px;
  width: 712px;
  height: 712px;
  border: 1px solid #4d613a;
  border-radius: 50%;
  z-index: -1;
}

.bg_deco_3 {
  position: absolute;
  top: 800px;
  left: -500px;
  width: 1600px;
  height: 1px;
  background: #4d613a;
  z-index: -1;
}

.bg_deco_4 {
  position: absolute;
  top: 30px;
  right: -550px;
  width: 770px;
  height: 770px;
  border: 1px solid #4d613a;
  transform: rotate(10deg);
  transition: 1s;
  z-index: -1;
  span {
    position: absolute;
    display: inline-block;
    border: 1px solid #4d613a;
    transition: 1s;
    &:first-child {
      top: 25px;
      left: 25px;
      width: 720px;
      height: 720px;
      opacity: 0.7;
      transform: rotate(10deg);
    }
    &:last-child {
      top: 50px;
      left: 50px;
      width: 670px;
      height: 670px;
      opacity: 0.5;
      transform: rotate(20deg);
    }
  }
}

.sect_look_3.on {
  .bg_deco_4 {
    transform: rotate(0);
    span {
      &:first-child {
        transform: rotate(0);
      }
      &:last-child {
        transform: rotate(0);
      }
    }
  }
}
