@import "./app/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
#contents_wrap{padding: 0;}
.campaign_bt21{
    .visual_main{
        position: relative;
        height: 601px;
        .img{
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -960px;
            img{}
        }
        .txt{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -135px;
            margin-left: -520px;
            img{
                display: block;
            }
            p{
                font: 700 23px 'NotoSansKR';
                color:#000;
                letter-spacing: 2px;
                margin: 0 0 40px 0;
                // 20px 0 40px 0;
            }
            .btn{
                display: inline-block;
                a{
                    display: block;
                    width: 244px;
                    font: 400 19px/58px 'NotoSansKR';
                    background: #000;
                    text-align: center;
                    color:#fff;
                }
            }
        }
    }
    .desc1{
        position: relative;
        height: 277px;
        .img{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -328px;
            margin-left: 399px;
            img{}
        }
        .txt{
            width:795px;
            margin: 0 auto;
            text-align: center;
            h1{
                font: 400 35px/30px 'NotoSansKR';
                color: #000;
                text-align: center;
            }
            .first{
                position: relative;
                z-index: 0;
                display: inline-block;
                margin: 18px 0 10px 0;
                &:after{
                    position: absolute;
                    width: 376px;
                    height: 20px;
                    top: 0px;
                    left: 0;
                    display: block;
                    clear: both;
                    content:'';
                    background: #faf0b2;
                    z-index: -1;
                }
                .inner_span{
                    font: 700 23px/20px 'NotoSansKR';
                    color: #000;
                    letter-spacing: 1px;
                }
            }
            .last{
                display: inline-block;
                color: #a5a5a5;
                font: 700 20px/25px 'NotoSansKR';
                margin-top:20px;
            }

            p{
                font: 400 16px/20px 'NotoSansKR';
                color: #585858;
                text-align: center;
            }

        }
    }
}
