@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';


#ozweego{
	overflow: hidden;
	//common
	>*{
		min-width: 1280px;
	}
	.button_area_v2{
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		&.coming{
			&:hover{
				a{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
					-webkit-transition: all .5s;
					transition: all .5s;
					opacity: .9;
				}
				.bg{
					&::after{
						-webkit-transform: translate(3px,3px);
						transform: translate(3px,3px);
					}
				}
			}
			a{
				cursor: default;
			}
		}
		a{
			font: 700 14px/48px 'NotoSansKR';
			letter-spacing: 0;
			padding: 0 20px;
			letter-spacing: 1px;
		}
	}

	.top_cont{
		position: relative;
		height: 755px;
		video{
			position: absolute;
			top:0;
			left:50%;
			margin-left:calc(-1920px/2);
		}
	}

	.sect_01{
		position: relative;
		>img{
			display: block;
			width: 100%;			
		}
		.txt{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			text-align: center;
			color:#000;
			h3{
				text-align: center;
				img{
					display: inline-block;
				}
			}
			h4{
				font: 900 34px/40px 'NotoSansKR';
				
				letter-spacing: 1px;
				margin: 40px 0 0 0;
				text-align: center;
			}
			p{
				padding: 20px 0;
				font: 400 18px/26px 'NotoSansKR';
				text-align: center;
			}
			.button_area_v2{
				margin-top: 20px;
			}
		}
	}

	.sect_02{
		position: relative;
		>img{
			display: block;
			width: 100%;
		}
		.txt{
			position: absolute;
			top: 60%;
			left: 50%;
			color: #fff;
			z-index: 3;
			h3{
				font: 600 1.8rem/34px 'NotoSansKR';
				margin: 20px 0 0 0;
				display: block;
			}
			p{
				font: 400 14px/22px 'NotoSansKR';
				text-align: left;
				margin: 10px 0 30px 0;
				color: #fff;
			}
			.button_area_v2{
				text-align: left;
			}
		}
	}

	.slide_cont{
		position: relative;
		height: 910px;
		background:url('/images/adidas/2020/event/originals/ozweego/0305/sect_03_bg.jpg') no-repeat;
		background-position: center;
		background-size: cover;
		padding: 100px 0 0 0;
		text-align: center;
		box-sizing: border-box;
		#slide01, #slide02{
			margin: 0 auto;
			overflow:visible!important;
			ul{
				li{
					text-align: center;
					img{
					}
				}
			}
		}
		&.slide02{
			margin-top: 0;
			background:url('/images/adidas/2020/event/originals/ozweego/0305/sect_03_bg.jpg') no-repeat;
			background-position: center;
			background-size: cover;
		}
		.prev-button{
			position: absolute;
			top:45%;
			left:49%;
			margin-top: -55px;
			margin-left: -465px;
			img{
				transform: rotate(-180deg);
			}
		}
		.next-button{
			position: absolute;
			top: 45%;
			left: 51%;
			margin-top: -55px;
			margin-left: 435px;
		}
		.indicator{
			text-align: center;
			position: relative;
			margin: 50px 0;
			a{
				display: inline-block;
				width:12px;
				height:12px;
				border:2px solid #fff;	
				border-radius: 50%;
				margin:0 2px;
				&.on{
					background:#fff;
				}
			}
		}
	}

	.sect_04 {
		position: relative;
		>video{
			// position: absolute;
			// top:50px;
			// left:50%;
			// margin-left:calc(-1920px/2);
			display: block;
			width: 100%;	
		}
		>a{
			position: absolute;
			top:50%;
			left:50%;
			margin-left:-31.5px;
			margin-top:-28.5px;
		}
	}

	.sect_05 {
		position: relative;
		>img{
			display: block;
			width: 100%;
		}
		.txt{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(20%, -50%);
			color:#fff;
			h4{
				font: 900 36px/44px 'NotoSansKR';
			}
			p{
				font: 400 17px/27px 'NotoSansKR';
				margin: 20px 0 30px;
			}
			.button_area_v2{}
		}
	}

	.sect_06{
		position: relative;
		background: url(/images/adidas/2020/event/originals/ozweego/0305/sect_06_bg.jpg) 0 0 no-repeat;
		background-size: 100% 100%;
		text-align: center;
		padding: 100px 0 50px;
		#slide_grid{
			position: relative;
			top: 0;
			left: 50%;
			width: 86%;
			transform: translateX(-50%);
			.slick-slide{
				img{
					display: block;
					width: 100%;
				}
			}
		}
		.button_area_v2 {
			margin-top: 50px;	
		}
	}

	.sect_07 {
		position: relative;
		.txt {
			position: absolute;
			top: 50%;
			left: 66%;
			transform: translateY(-50%);
			color: #000;

			h4 {
				font: 900 36px/44px 'NotoSansKR';
			}

			p {
				font: 400 17px/27px 'NotoSansKR';
				margin: 20px 0 30px;
			}

			.button_area_v2 {}
		}
		>img {
			display: block;
			width: 100%;
		}
	}

	.sect_08 {
		position: relative;

		>img {
			display: block;
			width: 100%;
		}
	}

	.btm{
		position: relative;
		padding-bottom: 110px;
		text-align: center;
		color: #000;
		h3 {
			text-align: center;
			img {
				display: inline-block;
			}
		}

		h4 {
			font: 900 36px/38px 'adinenuPro-bold';
			letter-spacing: 3px;
			margin: 30px 0;
			text-align: center;
		}
		.button_area_v2{}
	}
}

@media screen and (max-width: 1600px) {
	.sect_01 {
		padding: 50px 0;
	}

	.sect_02 {
		position: relative;

		>img {
			display: block;
			width: 100%;
		}

		.txt {
			top: 58% !important;
			h3 {
				font: 600 18px 'NotoSansKR' !important;
				margin: 20px 0 0 0 !important;
			}
			p {
				font: 400 12px/20px 'NotoSansKR' !important;
				margin: 5px 0 20px 0 !important;
			}
		}
	}
}
