@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#xcategory{
	position: relative;
	overflow: hidden;

	.button_area_v2{
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		&.coming{
			&:hover{
				a{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
					-webkit-transition: all .5s;
					transition: all .5s;
					opacity: .9;
				}
				.bg{
					&::after{
						-webkit-transform: translate(3px,3px);
						transform: translate(3px,3px);
					}
				}
			}
			a{
				cursor: default;
			}
		}
		a{
			font: 700 14px/48px 'NotoSansKR';
			letter-spacing: 0;
			padding: 0 20px;
			letter-spacing: 1px;
		}
	}
	
	.top_video{
		position: relative;		
		#top_video{
			width: 100%;						
			video{
				display: block;
				width: 100%;
			}			
		}		
		a{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, 20%);
		}
	}

	.statement{
		position: relative;
		height: 616px;
		background-color: #000;
		text-align: center;
		.bg_img{
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -960px;
		}
		.txt_area{
			z-index: 5;
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -57%);
			text-align: center;
			h3{
				font:700 20px/26px 'NotoSansKR';
				color:#000;
				text-align: center;
				letter-spacing: 5px;
				span{
					font:22px/26px 'adihausDIN-Cond-bold';
					color:#000;
					text-align: center;
					letter-spacing: 5px;
				}
			}
			p.stit{
				font:700 22px/26px 'NotoSansKR';
				color:#000;
				text-align: center;
				margin-top: 25px;
				span{
					font:33px/56px 'adihausDIN-Cond-bold';
					color:#f04f23;
					text-align: center;
				}
			}
			p.desc{
				font:400 18px/26px 'NotoSansKR';
				color:#000;
				text-align: center;		
				&.mt15{
					margin-top: 15px;
				}
			}
			.button_area_v2{							
				margin-top: 25px;   						
			}
		}	
	}

	.cont_img{
		>img{
			display: block;
			width: 100%;
		}
	}


	.cont_area1{
		position: relative;		
		height: 960px;		
		.bg_img{
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);		
		}
		.txt_area{
			    z-index: 5;
				position: absolute;
				top: 195px;
				left: 50%;
				margin-left: 45px;		
			p{
				font:400 20px/28px 'NotoSansKR';
				color:#000;
				text-align: left;
				span{
					font:700 20px/22px 'NotoSansKR';
					display: inline-block;
    				background-color: #efdfff;
				}
			}	
			.button_area_v2{
				margin-top: 25px;
			}		
		}
	}

	.cont_area2{
		position: relative;		
		height: 960px;		
		.bg_img{
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);		
		}
		.txt_area{
			    text-align: right;
				z-index: 5;
				position: absolute;
				top: 225px;
				left: 50%;
				margin-left: -340px;
			p{
				font:400 20px/28px 'NotoSansKR';
				color:#000;
				text-align: right;
				span{
					font:700 20px/22px 'NotoSansKR';
					display: inline-block;
    				background-color: #efdfff;
				}
			}	
			.button_area_v2{
				margin-top: 25px;
			}		
		}
	}

	.cont_area3{
		position: relative;		
		height: 960px;		
		.bg_img{
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);		
		}
		.txt_area{
			    z-index: 5;
				position: absolute;
				top: 150px;
				left: 50%;
				margin-left: 45px;		
			p{
				font:400 20px/28px 'NotoSansKR';
				color:#000;
				text-align: left;
				span{
					font:700 20px/22px 'NotoSansKR';
					display: inline-block;
    				background-color: #efdfff;
				}
			}	
			.button_area_v2{
				margin-top: 25px;
			}		
		}
	}

	.stit_area{
		margin:90px auto 60px;
		text-align: center;
		background-color: #fff;
		h3{
				font:700 20px/26px 'NotoSansKR';
				color:#000;
				text-align: center;
				letter-spacing: 5px;
				span{
					font:22px/26px 'adihausDIN-Cond-bold';
					color:#000;
					text-align: center;
					letter-spacing: 5px;
				}
			}
			p.stit{
				font:700 22px/26px 'NotoSansKR';
				color:#000;
				text-align: center;
				margin-top: 25px;
				span{
					font:33px/56px 'adihausDIN-Cond-bold';
					color:#f04f23;
					text-align: center;
				}
			}			
			.button_area_v2{							
				margin-top: 25px;   						
			}
	}

	.btm_area{
		>img{
			display: block;
			width: 100%;
		}
	}
	
	

}
