@import "./front/css/adidas/scss/common/mixin.scss";
@import "./front/css/adidas/scss/common/common.scss";
html,
body {
  height: 100%;
}
a {
  outline: none;
}
button {
  outline: none;
}
.clearfix {
  clear: both;
  display: block;
  content: "";
}

.inner {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

#rfto {
  min-width: 1280px;
  .section {
    position: relative;
  }

  .sect_visual {
    > img {
      display: block;
      width: 100%;
    }
  }

  .sect_statement {
    padding: 2rem;
    &.sect_possible {
      padding: 0 0 4rem;
      .inner {
        h4 {
          padding-top: 2rem;
        }
        p {
          padding-top: 2rem;
        }
      }
    }
    &.sect_event {
      padding: 0 0 4rem;
      .inner {
        h4 {
          padding-top: 2rem;
        }
        ul {
          padding-top: 2rem;
          li {
            padding-bottom: 1rem;
            font: 500 1rem/1.7rem "NotoSansKR";
            letter-spacing: normal;
            color: #000;
          }
        }
        span {
          font: 400 0.8rem/0.8rem "NotoSansKR";
          letter-spacing: normal;
          color: #000;
        }
        .btn_default {
          margin-top: 2rem;
        }
      }
    }
    .inner {
      text-align: center;
      > img {
        display: inline-block;
      }
      h4 {
        padding-top: 0.5rem;
        font: 700 2rem/2.6rem "NotoSansKR";
        letter-spacing: normal;
        color: #000;
        text-align: center;
      }
      p {
        padding-top: 2rem;
        font: 500 1.2rem/2rem "NotoSansKR";
        letter-spacing: normal;
        color: #000;
        text-align: center;
        span {
          font-weight: 900;
          letter-spacing: 1px;
        }
      }
    }
  }

  .sect_lookbook {
    text-align: center;
    padding: 3rem 0;
    h4 {
      font: 700 2rem/2.6rem "NotoSansKR";
      letter-spacing: normal;
      color: #000;
      text-align: center;
    }
    p {
      padding-top: 0.5rem;
      font: 500 1.2rem/2rem "NotoSansKR";
      letter-spacing: normal;
      color: #000;
      text-align: center;
    }
    .look_slider_form {
      margin: auto;
      width: 80%;
      padding: 1.5rem 0 1.3rem;
      background: #fff;
      .slick-list {
        overflow: visible;
        .slick-slide {
          padding: 0 4px;
          > img {
            display: block;
            width: 100%;
          }
          p {
            text-align: left;
          }
        }
      }
      .slick-dots {
        text-align: center;
        padding: 0.8rem 0 0;
        li {
          width: 14px;
          height: 2px;
          background: #747474;
          display: inline-block;
          margin-right: 5px;
          vertical-align: bottom;
          &:last-child {
            margin-right: 0;
          }
          button {
            background: none;
            border: 0;
            text-indent: -9999px;
          }
          &.slick-active {
            height: 4px;
            background: #000;
          }
        }
      }
    }
  }

  .sect_video {
    text-align: center;
    .video_box {
      position: relative;
      > img {
        display: block;
        width: 100%;
      }
      .btn-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        > img {
          animation: playbtn 2s infinite cubic-bezier(0.77, 0, 0.175, 1);
        }
      }
    }
    p {
      padding-top: 1.4rem;
      font: 500 1rem/1.6rem "NotoSansKR";
      letter-spacing: normal;
      color: #000;
    }
  }

  .sect_endbox {
    padding: 0 0 4rem;
    text-align: center;
    p {
      padding: 3rem 0;
      font: 500 1.1rem/1.7rem "NotoSansKR";
      letter-spacing: normal;
      color: #000;
    }
    > img {
      display: block;
      width: 100%;
    }
    .btn_default {
    }
  }

  .sect_lookbook {
    .slick-list {
    }
    .slick-slide {
      margin: 0 5px;
    }

    .slick-dots {
      padding: 25px 0 0 0;
      text-align: center;
    }
    .slick-dots li {
      display: inline-block;
      margin-right: 7px;
      vertical-align: bottom;
    }
    .slick-dots li button {
      width: 20px;
      height: 2px;
      background: #747474;
      border: none;
      padding: 0;
      text-indent: -9999px;
      cursor: pointer;
    }

    .slick-dots li.slick-active button {
      height: 5px;
      background: #111;
    }

    .slick-arrow {
      font-size: 0;
      border: 0;
    }
    .slick-prev {
      position: absolute;
      left: 19%;
      top: 43%;
      background: url("/images/adidas/2021/event/dpr/prev.jpg") no-repeat 50%;
      background-size: auto;
      width: 36px;
      height: 36px;
      z-index: 1;
      outline: none;
      cursor: pointer;
    }
    .slick-next {
      position: absolute;
      right: 19%;
      top: 43%;
      background: url("/images/adidas/2021/event/dpr/next.jpg") no-repeat 50%;
      background-size: auto;
      width: 36px;
      height: 36px;
      z-index: 1;
      outline: none;
      cursor: pointer;
    }
  }
}
