@import "./front/css/adidas/scss/common/mixin.scss";
@import "./front/css/adidas/scss/common/common.scss";
html,
body {
  height: 100%;
}
a {
  outline: none;
}
button {
  outline: none;
}
.clearfix {
  clear: both;
  display: block;
  content: "";
}

.inner {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

#rfto {
  @for $i from 1 through 3 {
		.bg0#{$i} {
			background: url('/images/adidas/2021/event/rfto/bg0#{$i}.jpg') no-repeat;
			background-position: top;
			background-size: auto 100%;
		}
	}
  min-width: 1280px;
  .section {
    position: relative;
  }

  .sect_visual {
    > img {
      display: block;
      width: 100%;
    }
  }

  .sect_statement {
    padding: 2rem 2rem 1rem 2rem;
    &.sect_possible {
      padding: 0;
      .inner {
        max-width: unset;
        >div{
          padding: 6rem 0;
          text-align: center;
          h4 {
            padding-top: 0;
          }
          p {
            padding: 3rem 0;
          }
          .btn_default{
            margin: 0 auto;
          }
        }
      }
    }
    &.sect_event {
      padding: 0 0 4rem;
      text-align: center;
      .inner {
        width: 100%;
        margin: 0 auto;
        max-width: none;
        @include after();
        >img{
          float: left;
          width: 50%;
        }
        >div{
          width: 44%;
          float: left;
          white-space: nowrap;
          position: relative;
          left: 75px;
          h4 {
            padding: 0;
            text-align: left;
            font: 700 50px/50px $noto;
            letter-spacing: normal;
            color: #000;
          }
          ol {
            position: relative;
            left: 15px;
            padding-top: 6rem;
            li {
              list-style: decimal;
              padding-bottom: 1rem;
              font: 400 18px/26px $noto;
              letter-spacing: normal;
              color: #000;
            }
          }
          span {
            display: inline-block;
            font: 400 14px/14px $noto;
            letter-spacing: normal;
            color: #000;
            padding-top: 2.8rem;
          }
          @media screen and (max-width: 1550px) {
            left: 40px;
            h4{
              font: 700 3rem/4rem $noto;
            }
            span{
              padding-top: 1.5rem;
            }
            ol{
              padding-top: 2.5rem;
            }
          }
        }
      }
      .btn_default {
        margin-top: 3.5rem;
      }
    }
    .inner {
      text-align: center;
      > img {
        display: inline-block;
      }
      h4 {
        padding-top: 2rem;
        font: 700 50px/65px $noto;
        letter-spacing: normal;
        color: #000;
        text-align: center;
      }
      p {
        padding-top: 2rem;
        font: 500 18px/27px $noto;
        letter-spacing: normal;
        color: #000;
        text-align: center;
        em{
          font: inherit;
          letter-spacing: 1px;
        }
      }
    }
  }

  .sect_lookbook {
    text-align: center;
    padding: 3rem 0 8.5rem;
    h4 {
      font: 700 100px/100px $noto;
      letter-spacing: normal;
      color: #000;
      text-align: center;
    }
    >p {
      padding: 1rem 0 2rem 0;
      font: 700 33px/33px $noto;
      letter-spacing: normal;
      color: #000;
      text-align: center;
    }
    .look_slider_form {
      margin: auto;
      width: 64%;
      padding: 1rem 0 1.3rem;
      background: #fff;
      .slick-list {
        overflow: visible;
        .slick-slide {
          padding: 0 4px;
          > img {
            display: block;
            width: 100%;
          }
          p {
            text-align: left;
            padding-top: 1rem;
            font: 700 14px/22px $noto;
            letter-spacing: normal;
            color: #000;
          }
        }
      }
      .slick-dots {
        text-align: center;
        padding: 0.8rem 0 0;
        li {
          width: 14px;
          height: 2px;
          background: #747474;
          display: inline-block;
          margin-right: 5px;
          vertical-align: bottom;
          &:last-child {
            margin-right: 0;
          }
          button {
            background: none;
            border: 0;
            text-indent: -9999px;
          }
          &.slick-active {
            height: 4px;
            background: #000;
          }
        }
      }
    }
    .btn_default{
      margin: 0;
    }
  }

  .sect_video {
    text-align: center;
    .video_box {
      position: relative;
      > img {
        display: block;
        width: 100%;
      }
      .btn-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        > img {
          animation: playbtn 2s infinite cubic-bezier(0.77, 0, 0.175, 1);
        }
      }
    }
    p {
      padding-top: 1.4rem;
      font: 500 1rem/1.6rem $noto;
      letter-spacing: normal;
      color: #000;
    }
  }

  .sect_endbox {
    padding: 1rem 0 4rem;
    text-align: center;
    >div:not(.btn_default){
      position: relative;
      margin-bottom: 3.5rem;
      max-width: 1400px;
      p {
        position: relative;
        @include center(85%, auto, 55%, $ctY);
  
        padding: 3rem 0;
        font: 400 18px/24px $noto;
        letter-spacing: normal;
        color: #000;
      }
    }
    > img {
      display: block;
      width: 100%;
    }
    .btn_default {
    }
  }

  .sect_lookbook {
    .slick-list {
    }
    .slick-slide {
      margin: 0 5px;
    }

    .slick-dots {
      padding: 25px 0 0 0;
      text-align: center;
    }
    .slick-dots li {
      display: inline-block;
      margin-right: 7px;
      vertical-align: bottom;
    }
    .slick-dots li button {
      width: 20px;
      height: 2px;
      background: #747474;
      border: none;
      padding: 0;
      text-indent: -9999px;
      cursor: pointer;
    }

    .slick-dots li.slick-active button {
      height: 5px;
      background: #111;
    }

    .slick-arrow {
      font-size: 0;
      border: 0;
    }
    .slick-prev {
      position: absolute;
      left: 19%;
      top: 43%;
      background: url("/images/adidas/2021/event/dpr/prev.jpg") no-repeat 50%;
      background-size: auto;
      width: 36px;
      height: 36px;
      z-index: 1;
      outline: none;
      cursor: pointer;
    }
    .slick-next {
      position: absolute;
      right: 19%;
      top: 43%;
      background: url("/images/adidas/2021/event/dpr/next.jpg") no-repeat 50%;
      background-size: auto;
      width: 36px;
      height: 36px;
      z-index: 1;
      outline: none;
      cursor: pointer;
    }
  }
}
