@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

html,body{
	height:100%;
}
#footer{
    z-index: 19;
}

#football {
	overflow: hidden;
	width: 100%;
	min-width: 1190px;
	.button_area_v2{
		display: inline-block;
		&:hover{
			div{
				a{
					color: #767677;
					span{
						background: #767677;
						em{
							background: #767677;
						}
					}
	
				}
			}
		}
		div{
			&.white{
				.bg{
					box-shadow: inset 0 0 0 1px #fff;
					-webkit-box-shadow: inset 0 0 0 1px #fff;
					@include css3(transition, all 0.5s);
				}
				a{
					background: #fff;
				}
			}
			.bg{
				box-shadow: inset 0 0 0 1px #000;
				-webkit-box-shadow: inset 0 0 0 1px #000;
				@include css3(transition, all 0.5s);
			}
			a{
				letter-spacing: 1px;
				padding:0 20px;
				background: #000;
			}
		}
	}
	
	.tabs_wrap{
		position: relative;
		height: 150px;
		background: #000;
		.tabs_inner{
			position: absolute;
			top: 35px;
			max-width: 1600px;
			width: 83.4%;
			height: 75px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 5;
			&.fixed{
				position: fixed;
			}
			ul{
				overflow: hidden;
				li{
					position: relative;
					float: left;
					width: 50%;
					a{
						display: inline-block;
						border: 4px solid #fff;
						background: #000;
						width: 100%;
						height: 75px;
						font: 400 24px/67px 'NotoSansKR';
						color: #fff;
						text-align: center;
						letter-spacing: 2px;
						-webkit-box-sizing: border-box;
						box-sizing: border-box;
						
					}
					&:first-child{
						a{
							border-right: 2px solid #fac67a;
						}
					}
					&:last-child{
						a{
							border-left: 2px solid #fac67a;
						}
					}
					&.on{
						a{
							border-color: #fac67a;
							color: #fac67a;
							font-weight: 600;
							&::after{
								position: absolute;
								top: 73%;
								left: 50%;
								transform: translateX(-50%);
								content: '';
								display: inline-block;
								width: 12px;
								height: 6px;
								background: url(/images/adidas/2021/event/football/0120/tab_on.png) no-repeat;
								background-size: 100%;
								z-index: 1;
							}
						}
					}
				}
			}
		}
	}

	.contents_wrap{
		.content_sect{
			display: none;
			&.on{
				display: block;
			}
			&.content_01 {
				background: url(/images/adidas/2021/event/football/0120/cont_bg.jpg) no-repeat;
				background-size: 100% 100%;
			}
			&.content_02 {
				background: url(/images/adidas/2021/event/football/0120/copa/cont_bg.jpg) no-repeat;
				background-size: 100% 100%;
				
			}
			.section{
				position: relative;
			}

			.sect_visual{
				text-align: center;
				>img {
					display: inline-block;
					width: 83.4%;
				}
			}

			.sect_contents{
				.cont_head {
					width: 1200px;
					margin: 0 auto;
					padding: 45px 0 200px;
					text-align: center;
					h3{
						font: 700 50px/50px "NotoSansKR";
						color: #fff;
						text-align: center;
						letter-spacing: 3px;
					}
					p{
						padding-top: 30px;
						font: 400 24px/40px "NotoSansKR";
						color: #fff;
						text-align: center;
					}
					.button_area_v2{
						margin-top: 40px;
					}
				}
				.cont_body {
					width: 1200px;
					margin: 0 auto;
					padding-bottom: 150px;
					.feature_wrap{
						overflow: hidden;
						width: 1200px;
						margin-bottom: 85px;
						&:last-child{
							margin-bottom: 0;
						}
						>*{
							float: left;
							display : table-cell;
							vertical-align: middle;
							height: 499px;
						}
						.feature_txt{
							width: 650px;
							// display : table-cell;
							// vertical-align: middle;
							// height: 499px;
							
							h4 {
								font: 700 35px/35px "NotoSansKR";
								color: #fff;
								text-align: center;
								letter-spacing: 3px;
								em {
									font: 35px/35px "adinenuPro-black";
								}
							}

							p {
								padding-top: 25px;
								font: 300 20px/34px "NotoSansKR";
								color: #fff;
								text-align: center;
								em {
									font: 20px/30px "adinenuPro-regular";
								}
							}
						}
					}
				}
			}
		}
	}

	

	.sect_prdlist{
		padding: 95px 0 65px;
		background: #000;
		// background: url(/images/adidas/2021/event/football/0120/prdlist_bg.jpg) no-repeat;
		// background-size: 100% 100%;
		ul{
			width: 1224px;
			margin: 0 auto;
			overflow: hidden;
			li{
				float: left;
				margin: 0 12px;
				padding-bottom: 3px;
				width: 282px;
				text-align: center;
				>img{
					display: block;
					width: 100%;
				}
				.button_area_v2{
					margin-top: 40px;
				}
			}
		}
	}
}