@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
.campaign_nano_m{
    min-width: 1200px;
    .btn_wrap{
        display: block;
        text-align: right;
        width: 100%;
    }
    a.buy{
        position: relative;
        display: inline-block;
        border:2px solid #000;
        width: 220px;
        height: 57px;
        background: rgba(255,255,255,0);
        text-align: center;
        &:hover{
            .bg{
                background: rgba(255,255,255,1);
            }
        }
        &.buy_w{
            // top:442px;
        }
        p{
            position: relative;
            display: inline-block;
            color:#000;
            font:600 19px/58px 'NotoSansKR';
            z-index: 3;
            letter-spacing: -0.5px;
            span{
                font: 20px 'DINWebPro-CondBold';
            }
        }
        .bg{
            position: absolute;
            top:0;left:0;
            width: 100%;
            height: 100%;
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
            z-index: 2;
        }
        &.white{
            border:2px solid #fff;
            background: rgba(0,0,0,0);
            &:hover{
                .bg{
                    background: rgba(0,0,0,0.5);
                }
            }
            p{
                color:#fff;
                span{
                    font: 20px 'DINWebPro-CondMedium';
                }
            }

        }
    }

    .about_passion{
        position: relative;
        height: 650px;
        overflow: hidden;

        .main{
            overflow: inherit;
            .main_bg{
                img{
                    position: absolute;
                    top:0;
                    left:50%;
                    margin-left: -990px;
                }
            }
            .logo{
                position: absolute;
                top:370px;
                left:50%;
                margin-left: -450px;
                text-align: right;
                width: 900px;


            }
        }

    }

    .perform{

        position: relative;
        width: 100%;
        height: 860px;
        overflow: hidden;
        @media screen and (max-width: 1850px){
            height: 760px;
            .bg{
                img{
                }
            }

        }
        @media screen and (max-width: 1570px){
            height: 760px;
            .bg{
                img{

                }
            }
        }
        @media screen and (max-width: 1570px){
            height: 680px;
            .bg{
                img{

                }
            }
        }
        @media screen and (max-width: 1400px){
            height: 600px;
            .bg{
                img{
                    width: 130% !important;
                }
            }
        }
        .bg{
            position: relative;
            transition:all 0.3s ease-out;
            img{
                width:120%;
                // width: 120vw;
                // margin-top: -3px;
            }
        }
        .bg_shoe{
            width: 35%;
            position: absolute;
            top: 32%;
            left: 50%;
            margin-left: -110px;
            transition:all 0.1s ease-out;
            @media screen and (max-width: 1585px){
                // top:19%;
                // left:50%;
                // margin-left:-498px;
            }
            @media screen and (max-width: 1400px){
                margin-left: 0;
                // top:20%;
                // left:50%;
                // margin-left:-468px;
            }
            img{
                width: 100%;
            }

        }
        .txt_wrapper{
            position: absolute;
            top: 40px;
            left: 50%;
            margin-left: -450px;
            .txt_box{
                .main_txt{
                    padding-bottom: 20px;
                }
                @media screen and (max-width: 1585px){
                    top:98px !important;
                }
                .sub_txt{
                    padding: 0 0 40px 0;
                    color:#f5f5f5;
                    text-transform: uppercase;
                    font:400 18px/24px  'NotoSansKR','Nanum Gothic';
                    letter-spacing: -0.5px;
                    strong{
                        color:#e06900;
                        font:500 18px/24px  'NotoSansKR','Nanum Gothic';

                    }
                }
                .buy{

                }

            }
        }
        .spot{
            z-index: 1;
            width: 1px;
            &.active{
                .target1{
                    &:hover{
                        a{
                            background:url('/images/reebok/event/about/nano/men/180115/icon.png') 50% 100% no-repeat;
                            background-position: 100% 0;
                        }
                    }
                    a{
                        background:url('/images/reebok/event/about/nano/men/180115/icon.png') 50% 100% no-repeat;
                        background-position: 100% 0;
                    }
                }
            }
            .target1{
                position: relative;
                display: inline-block;
                width: 46px;
                height: 46px;
                background:url('/images/reebok/event/about/nano/men/180115/target1.png') 50% 100% no-repeat;
                transition:all 0.2s ease-out;
                z-index: 5;
                &:hover{
                    background:#e06900 !important;
                    a{
                        background:url('/images/reebok/event/about/nano/men/180115/icon.png') 50% 100% no-repeat;
                        background-position: 0 0;
                    }
                }
                // &:active{
                //     background:#e06900 !important;
                //
                // }
                &.active{
                    background:#e06900;
                }
                a{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -7px;
                    margin-top: -7px;
                    display: inline-block;
                    width: 14px;
                    height: 14px;


                }
            }
            .content{
                visibility: hidden;
                margin-left: 19px;
                margin-top: -136px;
                transition:all 0.6s ease-out;
                .con_img{
                    // width: 320px;
                    @include prefix-css3(transform,scale(0));
                    @include prefix-css3(transform-origin,center left);
                    @include prefix-css3(transition,all 0.5s);
                }
                .text{
                    margin-left: 0;
                    margin-top: -421px;
                    @include prefix-css3(transition,all 0.2s ease-out);
                    @media screen and (max-width: 1585px){
                        // margin-top:-203px;
                    }

                    .heading{
                        display: inline-block;
                        // padding-right: 80px;
                        margin-bottom: 8px;
                        color:#fff;
                        opacity: 0;
                        -webkit-opacity: 0;

                        font:600 26px/50px  'NotoSansKR','Nanum Gothic';
                        @include prefix-css3(transform,translate3d(20px,0,0));
                        transition:all 0.5s ease-out;
                        @media screen and (max-width: 1585px){
                            font:600 20px/30px  'NotoSansKR','Nanum Gothic';
                        }
                    }
                    .desc{
                        padding-top: 8px;
                        color:#fff;
                        opacity: 0;
                        -webkit-opacity: 0;
                        border-top:1px solid #e06900;
                        font:600 15px/20px  'NotoSansKRlight','Nanum Gothic';
                        @include prefix-css3(transform,translate3d(20px,0,0));
                        transition:all 0.5s ease-out;
                        @media screen and (max-width: 1585px){
                            font:600 15px/18px  'NotoSansKRlight','Nanum Gothic';
                        }
                        }
                    }
                }
                &.active{

                    .con_img{
                        @include prefix-css3(transform,scale(1));
                        @media screen and (max-width: 1585px){
                            @include prefix-css3(transform,scale(0.8));
                        }
                        @media screen and (max-width: 1200px){
                            @include prefix-css3(transform,scale(0.6));
                        }
                    }
                    .text{
                        // margin-left:-337px;
                        .heading{
                            opacity: 1;
                            @include prefix-css3(transform,translate3d(0,0,0));
                            @include prefix-css3(transition-delay,0.5s);
                        }
                        .desc{
                            opacity: 1;
                            @include prefix-css3(transform,translate3d(0,0,0));
                            @include prefix-css3(transition-delay,0.8s);
                        }
                    }

                }
            &.point1{
                position: absolute;
                top: 73%;
                left: 50%;
                margin-left: 400px;
                z-index: 2;
                @media screen and (max-width: 1600px){
                    margin-left: 300px;
                }
                @media screen and (max-width: 1400px){
                    margin-left: 366px;
                }

                .content{
                    .text{
                        margin-top: -325px;
                        @media screen and (max-width: 1600px){
                            margin-top: -300px;
                        }
                    }
                }
            }
            &.point2{
                position: absolute;
                top: 70%;
                left: 50%;
                margin-left: 134px;
                @media screen and (max-width: 1600px){
                    margin-left: 99px;

                }
                @media screen and (max-width: 1400px){
                    margin-left: 180px;
                }
                .target1{
                        display: inline-block;
                        width: 46px;
                        height: 46px;
                        // background:url('/images/reebok/event/about/nano/men/180115/target1.png') 50% 100% no-repeat;
                        transition:all 0.2s ease-out;
                        // &:hover{ background:#c1dc81; }
                        a{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin-left: -7px;
                            margin-top: -7px;
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                        }
                    }

                .content{
                    .text{
                        margin-top: 18px;
                    }
                }
            }
            &.point3{
                position: absolute;
                top: 43%;
                left: 84%;
                margin-left:-450px;
                @media screen and (max-width: 1600px){
                    margin-left:-370px;
                }
                @media screen and (max-width: 1400px){
                    margin-left:-256px;
                }
                .target1{
                    display: inline-block;
                    width: 46px;
                    height: 46px;
                    // background:url('http://image.reebok.co.kr/images/reebok/event/about/nano7_m/target1.png') 50% 100% no-repeat;
                    transition:all 0.2s ease-out;
                    a{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-left: -7px;
                        margin-top: -7px;
                        display: inline-block;
                        width: 14px;
                        height: 14px;

                    }
                   }

                .content{
                    .text{
                        margin-top: -360px;
                        @media screen and (max-width: 1600px){
                            margin-top:-310px;
                        }
                    }
                }
            }

        }
    }

    .product-list{
        .item{
            width: 25%;
            float: left;
            // float:none;
            margin:0 auto;
            text-align: center;
            .img{
                height: 208px;
                padding-top: 37px;
            }
            .tit{
                margin-bottom: 5px;
            }
        }
    }

    .visual_video{
        .masthead{
            h2{
                text-transform: uppercase;
            }
        }
    }

    .products_collection{
        width: 100%;
        position: relative;
        background: #323232;
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left:-980px;
            }
        h4{
            position: relative;
            padding: 60px 0 55px;
            z-index: 1;
            font:55px/55px 'DINWebPro-Cond';
            text-align: center;
            color:#fff;
            }
        p.title{
            position: relative;
            padding-bottom: 44px;
            width: 100%;
            font:18px/25px 'NotoSansKRlight';
            text-align: center;
            color:#fff;
        }
        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:550px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            background: #000;
            .arrow-prev{
                position: absolute;
                top:50%;
                left:50%;
                margin-left: -420px;
                background-position: -125px -80px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            .arrow-next{
                position: absolute;
                top:50%;
                left:50%;
                margin-left:420px;
                background-position: -125px -125px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 550px;
                li{
                    width: 970px;
                    position: relative;
                    float: left;
                    @include opacity(0.4);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                }
                li.active{
                    @include opacity(1);
                }
            }

        }
        .slider-btn{
            width: 100%;
            position: relative;
            padding: 20px 0 50px;
            text-align: center;
            a{
                display: inline-block;
                width: 12px;
                height: 10px;
                padding-top: 2px;
                text-align: center;
                margin-right: 8px;
                background: #4d4d4d;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                color: #fff;
                &.on{
                    background: #fff;
                }
            }
        }
        .prodlist_wrap{
            position: relative;
            height: 335px;
            background: #fff;
            overflow: inherit;
            z-index: 2;
            border-bottom-width: 0;
            .arrow{
                position: absolute;
                left:50%;
                top:-21px;
                margin-left: -21px;
                background-position: -140px 0;
                width: 43px;
                height: 21px;
            }
            .prodlist_box{
                width: 889px;
                position: absolute;
                top:0;
                left:50%;
                margin-left: -446px;
                display: none;
                .item{
                    .tit{
                        font-size: 18px;
                    }
                    .link{
                        &.type2{
                            width: 180px;
                            border: 2px solid #000;
                            display: inline-block;
                            font:600 13px/46px 'NotoSansKR';
                            color:#000;
                            text-decoration: none;
                            letter-spacing: -0.5px;
                            transition: all 0.5s;
                            -webkit-transition: all 0.5s;
                            &:hover{
                                background: #000;
                                color: #fff;

                            }
                        }
                    }
                }
            }
            .prodlist_box.last{
                margin-left: -230px;
                display: none;
                .item{
                    float: left;
                }
            }

        }
    }

    .visual_video{
        background: #000;
        h2{
            height: inherit;
            text-indent: 0;
            background:none;
            font:85px/90px 'QStencil';
            text-transform: uppercase;
            span{
                font:25px/45px 'QStencil';
                vertical-align: top;
            }

        }
        .video_bg{
            width: 100%;
            .ie &{
                video{
                    width:100%;
                    min-width: 1900px;
                    height: 650px;
                }
            }
        }

        .video_bg{
            &.ended{
                @include opacity(0);
                @include prefix-css3(transition ,opacity 1.6s ease-in);
            }
        }
        .masthead{
            width: 100%;
            &.active{

                h2{
                    margin:0 auto 8px;
                }

            }
        }
    }

    .banner_wrap{
        width:100%;
        position: relative;
        margin-top: -89px;
        .banner1{
            img{
                width: 100%;
            }
        }
    }
}
/* nano7_m Campaign end */
