@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';


#ultraspring{
	position: relative;
	//common
	.button_area_v2{
		margin-top: 25px;
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			width:140px;
			font: 700 14px/48px 'NotoSansKR';
			letter-spacing: 0;
		}
	}

	//main
	.main{
		position: relative;
		height: 730px;
		>.bg{
			width: 1920px;
			position: absolute;
			top:0;
			left:50%;
			transform: translateX(-50%);
			img{
				width:100%;
			}
		}
		.b_box{
			width: 980px;
			position: absolute;
			bottom:30px;
			left:50%;
			transform: translateX(-50%);
			text-align: left;
			h1{
				font: 60px/60px 'adinenuPro-bold';
				color: #fff;
				text-align: left;
				letter-spacing: 3px;

				transition: all .4s;
				transition-delay: 0.4s;
				opacity: 0;
			}
			h3{				
				font: 400 22px 'NotoSansKR';
				color: #fff;
				text-align: left;

				transition: all .4s;
				transition-delay: 0.8s;
				opacity: 0;
			}
			.button_area_v2{
				margin-top: 35px;
				transition: all .4s;
				transition-delay: 1s;
				opacity: 0;
				a{
					width: auto;
					padding: 0 30px;
					letter-spacing: 2px;
				}
			}
			p{
				margin-top: 220px;
				font: 300 14px 'NotoSansKR';
				color: #fff;
				text-align: left;
				opacity: .6 !important;
			}
		}
		&.on{
			.h_box{
				.h_box_ball{
					opacity: 1;
				}
			}
			.b_box{
				>*{
					opacity: 1;
				}
				.button_area_v2{
					a{
						span{
							margin-left: 1rem;
						}
					}
				}
			}
		}
	}

	//lookbook
	.lookbook{
		position: relative;
		height: 1150px;
		.bg{
			width: 1920px;
			position: absolute;
			top:0;
			left:50%;
			transform: translateX(-50%);
			img{
				width:100%;
			}
		}
		.inner{
			width: 1140px;
			margin: 0 auto;
			h3{
				position: relative;
				padding: 50px 0;
				font: 38px 'adinenuPro-bold';
				color: #fff;
				text-align: center;
				letter-spacing: 2px;
				i{
					font-style: normal;
				}
			}
			h4{
				position: relative;
				padding-top: 70px;
				font: 400 22px 'NotoSansKR';
				color: #fff;
				text-align: center;

				transition: ease-in-out 0.3s;
				transition-delay: 0.8s;
				opacity: 0;
			}
			.slider_wrap{
				position: relative;
				#slider{
					&::after{
						display: inline-block;
						content: '';
						position: absolute;
						top: 0;left: 0;right: 0;bottom: 0;
						// background: rgba(0, 0, 0, 0.7);
						background: url('/images/adidas/2019/event/ultra_boost/0510/slide_txt.png') 0 0 no-repeat;
						z-index: 1;
					}
				}
				.prev-button{
					position:absolute;
					top:50%;
					left:30px;
					margin-top: -40px;
					transition: ease-in-out 0.3s;
					transition-delay: 0.4s;
					opacity: 1;
					z-index: 3;
				}
				.next-button{
					position:absolute;
					top:50%;
					right:30px;
					margin-top: -40px;
					transition: ease-in-out 0.3s;
					transition-delay: 0.4s;
					opacity: 1;
					z-index: 3;
				}
				.indicator{
					text-align: center;
					position: relative;
					padding-top: 15px;
					a{
						margin:0 6px;
						width:15px;
						height:3px;
						display: inline-block;
						background: #fff;
						transition: all .4s;
						opacity: .6;
						&.on{
							width: 43px;
							opacity: 1;
						}
					}
				}
			}
		}
		&.on{
			.inner{
				h4{
					opacity: 1;
				}
			}
		}
	}

	//prds
	.prds{
		position: relative;
		height: 770px;
		>.bg{
			width: 1920px;
			position: absolute;
			top:0;
			left:50%;
			transform: translateX(-50%);
			img{
				width:100%;
			}
		}
		.inner{
			position: relative;
			overflow: hidden;
			margin: 0 auto;
			padding: 60px 0;
			width: 1040px;
			video{
				float: left;
				width: 50%;
			}
			.b_box{
				float: left;
				width: 50%;
				padding-left: 50px;
				box-sizing: border-box;
				text-align: left;
				h1{
					margin-top: 200px;
					font: 50px/50px 'adinenuPro-bold';
					color: #fff;
					text-align: left;
					letter-spacing: 3px;

					transition: all .4s;
					transition-delay: 0.4s;
					opacity: 0;
				}
				h3{				
					font: 400 18px 'NotoSansKR';
					color: #fff;
					text-align: left;

					transition: all .4s;
					transition-delay: 0.8s;
					opacity: 0;
				}
				.button_area_v2{
					margin-top: 35px;
					transition: all .4s;
					transition-delay: 1s;
					opacity: 0;
					a{
						width: auto;
						padding: 0 30px;
						letter-spacing: 2px;
					}
				}
			}
		}
		&.on{
			.inner{
				.b_box{
					>*{
						opacity: 1;
					}
				}	
			}
		}
	}

	//bot_sect
	.bot_sect{
		position: relative;
		height: 695px;
		>.bg{
			width: 1920px;
			position: absolute;
			top:0;
			left:50%;
			transform: translateX(-50%);
			img{
				width:100%;
			}
		}
		h3{
			position: absolute;
			left: 50%;
			bottom: 40px;
			transform: translateX(-50%);
			font: 26px 'adinenuPro-bold';
			color: #fff;
			text-align: center;
			letter-spacing: 2px;
		}
	}
}
