@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
.campaign_flexweave{
    min-width: 1200px;
    .btn_wrap{
        display: block;
        text-align: right;
        width: 100%;
    }
    a.buy{
        position: relative;
        display: inline-block;
        border:1px solid #b81c25;
        width: 278px;
        height: 52px;
        background: rgba(255,255,255,0);
        text-align: center;
        &:hover{
            .bg{
                background: rgba(184,28,37,1);
            }
            p{
                color: #fff;
            }
        }
        &.buy_w{
            // top:442px;
        }
        p{
            position: relative;
            display: inline-block;
            color:#b81c25;
            font:500 17px/52px 'NotoSansKR';
            z-index: 3;
            letter-spacing: -0.5px;
            span{
                font: 20px 'DINWebPro-CondBold';
            }
        }
        .bg{
            position: absolute;
            top:0;left:0;
            width: 100%;
            height: 100%;
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
            z-index: 2;
        }
        &.white{
            border:2px solid #fff;
            background: rgba(0,0,0,0);
            &:hover{
                .bg{
                    background: rgba(0,0,0,0.5);
                }
            }
            p{
                color:#fff;
                span{
                    font: 20px 'DINWebPro-CondMedium';
                }
            }

        }
    }

    .title_area{
        position: relative;
        height: auto;
        p{

            padding: 60px 0 55px;
            z-index: 1;
            font: 55px/55px 'DINWebPro-CondBold';
            text-align: center;
            color: #000;
        }
    }

    .about_passion{
        position: relative;
        height: 650px;
        overflow: hidden;

        .main{
            overflow: inherit;
            .main_bg{
                img{
                    position: absolute;
                    top:0;
                    left:50%;
                    margin-left: -990px;
                }
            }
            .logo{
                position: absolute;
                top:140px;
                left:50%;
                margin-left: -455px;
                text-align: right;
                width: 900px;


            }
        }

    }

    .product-list{
        .item{
            width: 25%;
            float: left;
            // float:none;
            margin:0 auto;
            text-align: center;
            .img{
                height: 208px;
                padding-top: 37px;
            }
            .tit{
                margin-bottom: 5px;
            }
        }
    }

    .visual_video{
        .masthead{
            h2{
                text-transform: uppercase;
            }
        }
    }

    .products_collection{
        width: 100%;
        position: relative;
        background: #fff;
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left:-980px;
            }
        h4{
            position: relative;
            padding: 60px 0 55px;
            z-index: 1;
            font:55px/55px 'DINWebPro-CondBold';
            text-align: center;
            color:#000;
            }
        p.title{
            position: relative;
            padding-bottom: 44px;
            width: 100%;
            font:18px/25px 'NotoSansKRlight';
            text-align: center;
            color:#fff;
        }
        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:480px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            background: #fff;
            .arrow-prev{
                position: absolute;
                top:50%;
                left:50%;
                margin-left: -610px;
                z-index: 2;
                width: 118px;
                height: 36px;
                background: url('/images/reebok/event/about/flexweave/prev.png') 0 0 no-repeat;
            }
            .arrow-next{
                position: absolute;
                top:50%;
                left:50%;
                margin-left:508px;
                z-index: 2;
                width: 118px;
                height: 36px;
                background: url('/images/reebok/event/about/flexweave/next.png') 0 0 no-repeat;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 480px;
                li{
                    width: 860px;
                    position: relative;
                    float: left;
                    text-align: center;
                    transform: scale(0.7);
                    @include prefix-css3(transition ,ease-in 0.4s);
                    img{
                        display: inline-block;

                    }
                    &::after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 860px;
                        height: 480px;
                        background-color: #000;
                        @include opacity(0.7);
                        @include prefix-css3(transition ,opacity 0.7s ease-in 0.3s);
                        z-index: 1;
                    }
                }
                li.active{
                    @include opacity(1);
                    @include prefix-css3(transition ,ease-in 0.3s);
                    transform: scale(1);
                    &::after{
                        content: '';
                        display: none;
                    }
                }
            }

        }
        .slider-btn{
            width: 100%;
            position: relative;
            padding: 20px 0 50px;
            text-align: center;
            display: none;
            a{
                display: inline-block;
                width: 12px;
                height: 10px;
                padding-top: 2px;
                text-align: center;
                margin-right: 8px;
                background: #4d4d4d;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                color: #fff;
                &.on{
                    background: #fff;
                }
            }
        }
        .prodlist_wrap{
            position: relative;
            height: 335px;
            background: #fff;
            overflow: inherit;
            z-index: 2;
            border-bottom-width: 0;
            .arrow{
                position: absolute;
                left:50%;
                top:-21px;
                margin-left: -21px;
                background-position: -140px 0;
                width: 43px;
                height: 21px;
            }
            .prodlist_box{
                width: 889px;
                position: absolute;
                top:0;
                left:50%;
                margin-left: -446px;
                display: none;
                .item{
                    .tit{
                        font-size: 18px;
                    }
                    .link{
                        &.type2{
                            width: 180px;
                            border: 2px solid #000;
                            display: inline-block;
                            font:600 13px/46px 'NotoSansKR';
                            color:#000;
                            text-decoration: none;
                            letter-spacing: -0.5px;
                            transition: all 0.5s;
                            -webkit-transition: all 0.5s;
                            &:hover{
                                background: #000;
                                color: #fff;

                            }
                        }
                    }
                }
            }
            .prodlist_box.last{
                margin-left: -230px;
                display: none;
                .item{
                    float: left;
                }
            }

        }
    }

    .statement{
        p{
            padding: 0 0 20px 0;
            text-align: center;
            font:300 15px 'NotoSansKR';
            color:#000;
            &.title{
                padding: 45px 0 20px 0;
                font: 500 20px 'NotoSansKR';
            }
        }
    }

    .visual_video{
        background: #000;
        .masthead{
            .play-video{
                margin: 35px auto;
            }
        }
        h2{
            height: inherit;
            text-indent: 0;
            background:none;
            font:85px/90px 'QStencil';
            text-transform: uppercase;
            span{
                font:24px/14px 'DINWebPro-CondMedium';
                vertical-align: top;
                letter-spacing: 8px;
            }

        }
        .video_bg{
            width: 100%;
            .ie &{
                video{
                    width:100%;
                    min-width: 1900px;
                    height: 650px;
                }
            }
        }

        .video_bg{
            &.ended{
                @include opacity(0);
                @include prefix-css3(transition ,opacity 1.6s ease-in);
            }
        }
        .masthead{
            width: 100%;
            &.active{

                h2{
                    margin:0 auto 8px;
                }

            }
        }
    }

    .banner_wrap{
        width:100%;
        position: relative;
        margin-top: -89px;
        .banner1{
            img{
                width: 100%;
            }
        }
    }

    .event_box{
        position: relative;
        left: 50%;
        margin-left: -952px;
    }

    .mail_box{
        height: 420px;
        position: relative;
        margin: 45px 0 0 0;
        background:url('http://image.reebok.co.kr/images/reebok/event/about/flexweave/mail_bg.jpg') ;
        background-size: cover;
        left: 50%;
        margin-left: -952px;
        .inner{
            width: 890px;
            overflow: hidden
        }
        .mail_box_img{
            float: left;
            width: 370px;
            img{
                display: block;
            }
        }
        .mail_box_form{
            width: 680px;
            text-align: center;
            position: absolute;
            top: 50px;
            margin-left: 625px;
            h4{
                font:700 36px/36px 'NotoSansKR';
                color: #000;
                margin: 30px 0 10px;
                text-align: center;
            }
            p{
                font:500 18px/16px 'NotoSansKR';
                color: #000;
                margin-bottom: 35px;
                letter-spacing: -0.03rem;
                text-align: center;
                span{
                    color: #b81c25;
                }
            }
            table{
                width: 100%;
                tr{
                    td{
                        position: relative;
                        height: 32px;
                        &.td-void{
                            height: 20px;
                        }
                    }
                }
            }
            .input-ctm{
                width: 100%;
                position: relative;
                height: 32px;
                display: inline-block;
                padding-left: 10px;
                color: #000;
                font: 400 14px/30px 'NotoSansKR','Nanum Gothic';
                z-index: 4;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                border:0;
            }
            .detail_wrap{
                position: absolute;
                z-index: 5;
                top: 3px;
                left: 122px;
                display: inline-block;
                padding-left: 6px;
                cursor: pointer;
                a{
                    color:#000;
                    font: 400 12px 'NotoSansKR';
                }
            }
            .selectbox-ctm{
                border: 0;
                height: 32px;
                .select-contents{
                    top:32px;
                }
                a{
                    // height: 32px;
                    padding-left: 10px;
                    line-height: 31px;
                }
            }
        }
        .btn-signup{
            display: inline-block;
            width: 280px;
            height: 54px;
            background: url('http://image.reebok.co.kr/images/reebok/event/about/flexweave/btn_mail.png') 100% 100% no-repeat;
            transition: .6s;
            &:hover{
                background: url('http://image.reebok.co.kr/images/reebok/event/about/flexweave/btn_mail_on.png') 100% 100% no-repeat;
            }
        }
    }

}
/* nano7_m Campaign end */
