@import "./front/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
#contents_wrap{padding: 0;}

.campaign_2019family{
    // common
    .abs{
        position: absolute;
    }
    img{
        position: relative;
        opacity: 0;
        transition: all 1s ease-in;
        // @include css3(transition , opacity 0.1s);
        // @include opacity(0.6);
    }
    .visual_main{
        position:relative;
        height: 1475px;
        .main{
            width:1260px;
            margin: 0 auto;
            &.on{
                img{
                    opacity:1;
                }
            }
        }
        .box01{
            top:35%;
            left:50%;
            transform: translateX(-50%);
            z-index:2;
            img{
                top:40px;
            }
            &.on{
                img{
                    top:0;
                    opacity:1;
                    transition-delay: .3s;
                }
                
            }
        }
        .box02{
            bottom:-15%;
            left:50%;
            transform: translateX(-50%);
            z-index:1;
            img{
                top:40px;
            }
            &.on{
                img{
                    top:0;
                    opacity:1;
                    // transition-delay: .6s;
                }
                
            }
        }
        .topDeco{
            top:0;
            left:50%;
            transform: translateX(-50%);
            &.on{
                img{
                    opacity:1;
                    transition-delay: .8s;
                }
                
            }
        }
        .deco00{
            left:50%;
            bottom:-10%;
            transform: translateX(-280%);
            &.on{
                img{
                    opacity:1;
                    // transition-delay: .9s;
                }
                
            }
        }
        .deco01{
            right:50%;
            bottom:3%;
            transform: translateX(365%);
            &.on{
                img{
                    opacity:1;
                    // transition-delay: .3s;
                }
                
            }
        }
    }
    .cont_container{
        position: relative;
        height: 2032px;
        background: #ff9054;
        &.on{
            .contents{
                img{
                    top:0;
                    opacity:1;
                    transition-delay: .5s;
                }
            }
            .deco00{
                img{
                    top:0;
                    opacity:1;
                    transition-delay: .9s;
                } 
            }
            .deco01{
                img{
                    top:0;
                    opacity:1;
                    transition-delay: .9s;
                } 
            }
        }
        .contents{
            top:240px;
            left:50%;
            transform: translateX(-50%);
            img{
                top:40px;
            }
        }
        .deco00{
            left:50%;
            bottom:-10%;
            transform: translateX(-280%);
        }
        .deco01{
            left:50%;
            top:-6%;
            transform: translateX(760%);
        }
    }
    
    .btm{
        position: relative;
        height: 986px;
        &.on{
            .box{
                img{
                    top:0;
                    opacity:1;
                    transition-delay: .3s;
                } 
            }
            .deco{
                img{
                    top:0;
                    opacity:1;
                    transition-delay: .7s;
                } 
            }
            .end{
                img{
                    top:0;
                    opacity:1;
                    transition-delay: 1.2s;
                } 
            }
        }
        .box{
            top:-70px;
            left:50%;
            transform: translateX(-50%);
            z-index:2;
            img{
                top:40px;
            }
        }
        .deco{
            bottom:0;
            right:50%;
            transform: translateX(119%);            
        }
        .end{
            bottom:0;
            right:50%;
            transform: translateX(61%);  
        }
    }

}
//end
