@import "./front/css/reebok/scss/about.scss";

/* common */
#wrap{
    overflow: hidden;
    min-width: 1160px;
}
html,body{
	height:100%;
}
#contents_wrap{padding: 0;}
.btn{
	display: inline-block;
	&.sold{
		>div{
			a{
				border: 1px solid #bbb;
				background: #bbb;

			}
			&:before{
				border-bottom: 1px solid #bbb;
				border-left: 1px solid #bbb;

			}
			&::after{
				border-right: 1px solid #bbb;
				border-top: 1px solid #bbb;
			}
		}
	}
	>div{
		position: relative;
		&::before{
			border-bottom: 1px solid #000;
			border-left: 1px solid #000;
			bottom: -4px;
			height: 3px;
			left: 3px;
			width: calc(100%);
			content: "";
			display: block;
			position: absolute;
		}
		&::after{
			border-right: 1px solid #000;
			border-top: 1px solid #000;
			height: calc(100%);
			right: -4px;
			top: 3px;
			width: 3px;
			content: "";
			display: block;
			position: absolute;
		}
		a{
			width: auto;
			font: 500 14px/48px 'NotoSansKR';
			letter-spacing: 0;
			position: relative;
			display: block;
			padding: 0 20px;
			text-align: center;
			height: 50px;
			color: #fff;
			// background:transparent;
			background: #000;
			z-index: 2;
			border: 1px solid #000;
			letter-spacing: 0.7px;
			transition: .4s;
			.arrow{
				display: inline-block;
				width: 24px;
				height: 11px;
				margin-left: 25px;
				background: url(/images/reebok/2019/event/interval_og/arrow_w.png) no-repeat;
			}
		}
	}
	&:hover{
		a{
			transform: translate(3px, 3px);
		}
	}
}

.tomandjerry{

	.rel{
		position: relative;
	}
	.txt{
		font : 500 20px/20px 'NotoSansKR';
		color:#000;
		text-align: center;
	}
	.ct{
		position: absolute;
		left:50%;
		transform: translateX(-50%);
	}
	.main__wrapper{
		
		.main__wrapper__img{
			>img{
				width: 100%;
			}		
		}		
	}
	.aside__wrapper{
		padding: 85px 0 75px 0;
		background: url('/images/reebok/2020/event/tomandjerry/statement_bg.jpg') 0 0 no-repeat;
		background-size: 100%;
		.aside__wrapper__txt{
			text-align: center;
			h3{
				font:700 40px/30px 'NotoSansKR';
				color:#000;
				letter-spacing: 0px;
				text-align: center;
			}
			p{
				font:500 20px/30px 'NotoSansKR';
				color:#000;
				letter-spacing: 0px;
				text-align: center;
				margin:20px 0 0 0;				
			}
			.btn{
				margin:35px 0 0 0;
			}
		}
	}

	.video__wrapper{
		position: relative;
		padding: 0 11.5%;
		transform: translateX(-50.3%);
		// height: 1080px;
		>video{
			border:7px solid #000 ;
			z-index: 0;
			width:100%;
			source{
			}
		}
		>img{
			position: absolute;
			top:0;
			left:50%;
			transform: translateX(-50%);
			z-index: 0;
		}
		
		.txt{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			text-align: center;
			width: 5%;
			a{
				img{
					width:100%;
				}
			}
		}
	}

	.cont__wrapper{
		>img{
			width: 100%;
		}
	}

	.section__wrapper{
		background:url('/images/reebok/2020/event/tomandjerry/usp_bg.jpg') no-repeat;
		background-size: 100%;
		background-position: top;
		padding: 11% 11.5% 5%;
		text-align: center;
		div{			
		

			&::after{
				display: block;
				content:'';
				clear:both;
			}
			.grid-slide{
				position: relative;
				float: left;
				width: 31%;
				padding-bottom: 32%;
				margin-left: 30px;
				&:first-child{
					margin-left: 0;
				}
				// left: 0;
				img{
					display: block;
					// width: 100%;
					position: absolute;
					top: 0;
					left: 0;
					opacity:0;
					transition:all .5s;
					width: 100%;					
					&.on{
						opacity:1;
					}
				}
				.navi{
					position: absolute;
					left:50%;
					bottom:2.5rem;
					margin-left: -1rem;
					z-index: 2;
					span{
						display: inline-block;
						margin-right:6px;
						width: 10px;height:10px;
						background: #9ea194;
						border-radius: 50px;
						&.on{
							background: #000;
						}
					}
				}
			}

			.usp_shoe{
				position: relative;
				float: left;
				width: 31%;
				padding-bottom: 19%;
				margin-left: 30px;
				&:first-child{
					margin-left: 0;
				}				
				img{
					display: block;					
					position: absolute;
					top: 0;
					left: 0;		
					width: 100%;	
				}
			}
			
		}
		.btn{
				margin:35px 0 0 0;
			}

	}
	.btm__wrapper{
		>img{
			width: 100%;
		}
	}

}


