@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';



#solarboost_campaign{
	min-width: 1190px;
	overflow: hidden;
	strong{
		font:600 34px 'NotoSansKR';
		text-transform: uppercase;
		color:#000;
	}
	p{
		padding: 13px 0 0 0;
		font:400 18px 'NotoSansKR';
		color:#000;
	}

	.main{
		position: relative;
		padding: 0 0 90px 0;
		height: 905px;
		overflow: hidden;
		&.on{
			.bg{
				img{
					transition-duration: 10s;
				    -webkit-transition-duration: 10s;
				    -moz-transition-duration: 10s;
				    -o-transition-duration: 10s;
				    -ms-transition-duration: 10s;
				    transform: translate3d(0, 0, 50px);
				    -webkit-transform: translate3d(0, 0, 50px);
				    -moz-transform: translate3d(0, 0, 50px);
				    -o-transform: translate3d(0, 0, 50px);
				    -ms-transform: translate3d(0, 0, 50px);
				}
			}
		}
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
			overflow: hidden;
			perspective: 500px;
			-webkit-perspective: 500px;
			img{
			    transform: translate3d(0, 0, 0);
			    -webkit-transform: translate3d(0, 0, 0);
			    -moz-transform: translate3d(0, 0, 0);
			    -o-transform: translate3d(0, 0, 0);
			    -ms-transform: translate3d(0, 0, 0);
			    transition-duration: 3s;
			    -webkit-transition-duration: 3s;
			    -moz-transition-duration: 3s;
			    -o-transition-duration: 3s;
			    -ms-transition-duration: 3s;
			}


		}
		.masthead{
			position: relative;
			z-index: 1;
		    padding: 289px 0 0 0;
			h2{
				font:80px 'adinenuPro-black';
				text-transform: uppercase;
				color:#fff;
			}
			p{
				padding: 25px 0 0 0;
				font:300 20px 'NotoSansKR';
				color:#fff;

			}
		}
	}

	.part1{
		position: relative;
		height: 621px;
		overflow: hidden;
		&.on{
			.masthead{
				@include css3(opacity,1);
			}
		}
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.masthead{
			position: absolute;
		    left: 50%;
		    margin-left: 185px;
		    z-index: 1;
		    padding: 250px 0 0 0;
		    width: 500px;
			@include css3(opacity,0);
			@include css3(transition,all 0.5s);

			strong{

			}
			p{

			}
		}
	}

	.video_wrap{
		position: relative;
		margin: 145px 0 0 0;
		cursor: pointer;
		height: 780px;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.masthead{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			a{
				display: inline-block;
				width: 150px;
				height: 150px;
				background: url('/images/adidas/event/boost/solarboost/play.png') no-repeat;
				@include css3(transition, all 0.4s);
				&:hover{

					background: url('/images/adidas/event/boost/solarboost/play_hover.png') no-repeat;

				}
			}
		}

	}

	.statement{
		position: relative;
		padding: 125px 0 128px;
		text-align: center;
		strong{

		}
		p{
			text-align: center;

		}
	}

	.part2{
		position: relative;
		.deco{
			position: absolute;
		}
		&.on{
			.ct1190{
				div{
					.img{
						@include css3(opacity,1);
					}
				}
				.txt{
					@include css3(opacity,1);

				}

			}
		}
		&.part2_1{
			padding: 250px 0 0 0;
		}
		&.part2_2{
			padding: 150px 0 0 0;
			.ct1190{
				width: 1280px;
			}
		}
		strong{
			letter-spacing: -1px;
			line-height: 37px;
		}
		p{
			letter-spacing: -0.6px;
		}
		.ct1190{
			>*{
				.img{
					@include css3(transition,all 0.6s);
					@include css3(opacity,0);
					transition-delay: 0.6s
				}
			}
			.left{
				position: relative;
				float: left;
				.img_small{
					position: absolute;
					top:0;
				}
			}
			.right{
				position: relative;
				float: right;
				.img_small{
					position: absolute;
					top:0;
				}
			}
			.txt{
				padding: 170px 0 0 0;
				@include css3(transition,all 0.6s);
				@include css3(opacity,0);
			}
		}

		.btn{
			display: inline-block;
			width: 230px;
			text-align: center;
			margin: 40px 0 0 0;
			a{
				display: block;
				font:500 18px/60px 'NotoSansKR';
				background: #000;
				color:#fff;
				text-align: center;
				@include css3(transition, all 0.5s);
				&:hover{
					
				}
				em{
					display:inline-block;
					margin-left: 5px;
					width: 16px;
					height: 16px;
					background: url(http://image.adidas.co.kr/images/adidas/event/iniki/icon.png) no-repeat;
				    background-position: 100% 0;
				}
				span{
					font: 20px/60px 'adinenuPro-black';

				}

			}
		}


	}

	.event_wrap{
		position: relative;
		margin: 180px auto 150px;
		strong{
			display: block;
			padding-bottom: 25px;
			padding-left: 50px;
			font: 44px 'adinenuPro-black';
		}
		div{
			text-align: center;
		}
		.btn{
			position: absolute;
			top: 295px;
		    left: 54px;
			display: inline-block;
			width: 230px;
			text-align: center;
			margin: 40px 0 0 0;
			a{
				display: block;
				font:500 18px/60px 'NotoSansKR';
				background: #ffffff;
				color:#000;
				text-align: center;
				@include css3(transition, all 0.5s);
				&:hover{
					background: #111;
					color:#fff;
					em{
						background: url('http://image.adidas.co.kr/images/adidas/event/iniki/icon.png') no-repeat;
						background-position: 100% 0;
					}
				}
				em{
					display:inline-block;
					width: 16px;
					height: 16px;
					background: url('http://image.adidas.co.kr/images/adidas/event/iniki/icon.png') no-repeat;
				}
				span{
					font: 20px/60px 'adinenuPro-black';

				}

			}
		}
	}

	.prds_wrap{
		position: relative;
		height: 800px;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.title{
			padding: 122px 0 85px 0;
			font: 58px 'adinenuPro-black';
			text-transform: uppercase;
			color: #000;
			letter-spacing: -0.7px;
		}
		.content{
			position: relative;
			width: 1190px;
			margin: 0 auto;
			.box{
				position: relative;
				margin: 0 17px 0 0;
				float: left;
				a{
					position: absolute;
					top:0;left:0;
					width: 100%;
					height: 100%;
					display: block;
				}
				.img{
					cursor: pointer;
					overflow: hidden;
				    perspective: 500px;
				    -webkit-perspective: 500px;
				    -moz-perspective: 500px;
				    -o-perspective: 500px;
				    -ms-perspective: 500px;
					img{
						width: 100%;
					    transform: translate3d(0, 0, 0);
					    -webkit-transform: translate3d(0, 0, 0);
					    -moz-transform: translate3d(0, 0, 0);
					    -o-transform: translate3d(0, 0, 0);
					    -ms-transform: translate3d(0, 0, 0);
					    transition-duration: 3s;
					    -webkit-transition-duration: 3s;
					    -moz-transition-duration: 3s;
					    -o-transition-duration: 3s;
					    -ms-transition-duration: 3s;

					}
					&:hover{
						img{
							transition-duration: 10s;
						    -webkit-transition-duration: 10s;
						    -moz-transition-duration: 10s;
						    -o-transition-duration: 10s;
						    -ms-transition-duration: 10s;
						    transform: translate3d(0, 0, 100px);
						    -webkit-transform: translate3d(0, 0, 100px);
						    -moz-transform: translate3d(0, 0, 100px);
						    -o-transform: translate3d(0, 0, 100px);
						    -ms-transform: translate3d(0, 0, 100px);
						}

					}
				}
				.txt{
					padding: 15px 0 0 20px;
					p{
						font:600 26px 'NotoSansKR';
						&.prc{
							padding: 0;
							font-size: 18px;
							span{
								display: inline-block;
								padding-right: 2px;
								font:20px 'adihaus-bold';

							}
						}
					}
					em{
						padding: 10px 0 0 0;
						display: inline-block;
						text-transform: uppercase;
						font:16px 'adihaus';
						color:#000;
						letter-spacing: -0.5px;
					}
				}
			}
		}
	}

	.adidas_runners{
		position: relative;
		height: 908px;
		&.on{
			.masthead{
				@include css3(opacity,1);
			}
		}
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.masthead{
			position: relative;
			z-index: 1;
			padding: 245px 0 0 0;
			@include css3(opacity,0);
			@include css3(transition, all 0.5s);

			h3{
				font: 67px/72px 'adinenuPro-black';
			    text-transform: uppercase;
			    color: #fff;
			}
			p{
				padding: 13px 0 0 0;
				font:300 18px 'NotoSansKR';
				color:#fff;

			}
			.btn{
				display: inline-block;
				width: 380px;
				text-align: center;
				margin: 40px 0 0 0;
				a{
					display: block;
					font:300 18px 'NotoSansKR';
					background: #ffffff;
					color:#000;
					text-align: center;
					@include css3(transition, all 0.5s);
					&:hover{
						background: #111;
						color:#fff;
						em{
							background: url('http://image.adidas.co.kr/images/adidas/event/iniki/icon.png') no-repeat;
   							background-position: 100% 0;
						}
					}

					em{
						display:inline-block;
					    width: 16px;
					    height: 16px;
					    background: url('http://image.adidas.co.kr/images/adidas/event/iniki/icon.png') no-repeat;
					}
					span{
						font: 20px/60px 'adinenuPro-black';

					}

				}
			}
		}

	}

}
/* End of solarboost_campaign */
