@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

#football{
	position: relative;
	.main{
		position: relative;
		height:3494px;
		overflow: hidden;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
			a{
				position: absolute;
				left:50%;
				z-index: 2;;
				width:307px;
				height:90px;
				&.wnated{
					top: 2463px;
					margin-left: -307px;
				}
				&.week{
					top: 2776px;
					margin-left: -54px;
				}
				&.ticket{
					top: 3089px;
					margin-left: -306px;
				}
			}
		}
	}

}
