@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';
#container_r{
	overflow: hidden;
	min-width: 1190px;
}
/* tennis */
#tennis{
	width: 100%;
	position: relative;
	overflow: hidden;
	min-width: 1190px;
	.eventScroll{
		opacity: 0;
		transition: all 0.5s;
		&.effect{
			opacity: 1;
		}
	}
	.button{
		display: inline-block;
		width: 280px;
		@media (max-width: 1190px){
			margin-bottom: 10px;
		}
		span.arrow{
			display: inline-block;
			margin-bottom: -1px;
			margin-left: 3px;
			width: 14px;
			height: 14px;
			transition: all 0.8s;
			-webkit-transition: all 0.8s;
			-moz-transition: all 0.8s;
			-o-transition: all 0.8s;
			-ms-transition: all 0.8s;
			background: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_black_14x14.png');
		}
		&:hover{
			a{
				background: rgba(255,255,255,1) !important;
				span{
					color:#000 !important;
				}
			}
		}
		a{
			height: 60px;
			span{
				font: 500 17px/60px 'NotoSansKR';

				strong{
					font: 17px 'adinenuPro-bold';
				}
			}
		}
	}
	.main{
		position: relative;
		height: 800px;
		overflow: hidden;
		.bg{
			position: absolute;
			left: 50%;
			margin-left: -960px;
			video{
				// width: 100%;
			}
		}
		.txt{
			position: absolute;
			top: 290px;
			left: 50%;
			margin-left: -597px;
			h3{
				font:66px/40px 'adinenuPro-black';
				color:#fff;
				span{
					font:66px 'adinenuPro-light';
					color:#eeff00;
				}
			}
			p{
				font:300 18px 'NotoSansKR';
				color:#fff;
				letter-spacing: -0.5px;
			}
		}
		.inn{
			text-align: left;
		    position: absolute;
		    top: 460px;
		    left: 50%;
		    margin-left: -595px;
			.button{
				margin-right: 30px;
				margin-bottom: 20px;
				a{
					background: rgba(255,255,255,0.6);
					span{
						color:#000;
						&.spt_bg{
							background-position-y: -758px;
						    width: 15px;
						    height: 15px;
						}
					}
				}
			}
		}
	}
	.scrollbox{
		position: relative;


			left:50%;
			margin-left: -960px;

		p{
			font: 300 17px/20px 'NotoSansKR';
			color:#000;
			text-align: center;
		}
		&.slider_wrap{
			height: 800px;
			background: #ddd;
			&.event{
				.slider_inn{
					top:0px;

					@include opacity(1);
				}
			}
			.bg{
				span{
					position: absolute;
					top:0;
					left:0;
					&.on{
						@include opacity(1);
					}
				}
			}
			.slider_inn{
				position: relative;
				height: 800px;
				@include opacity(1);



				ul{
					position: relative;
					left: -1920px;
					li{
						float: left;
						height: 800px;
						&.on{
							.title{
								opacity: 1 !important;
							}
							.desc{
								opacity: 1 !important;
							}
							.button_area{
								opacity: 1 !important;
							}
						}
						.slide{
							text-align: center;
							>*{
								text-align: center;
							}
							.title{
								@include opacity(1);
								position: relative;
								padding: 83px 0 0 0;
								font:700 22px/22px 'NotoSansKR';
								color:#fff;
								z-index: 5;
								transition-delay: 0.5s;
								strong{
									font:400 22px 'NotoSansKR';
								}
							}
							.shoe_visual{
								// @include opacity(0);
								position: relative;
								top: -138px;
								transition-delay: 0.6s;
								// @include prefix-css3(transition ,all 1.5s);
								// transition-delay: 0.5s;
							}
							.desc{
								padding: 30px 0 45px;
								@include opacity(1);
								position: relative;
								bottom: 300px;
								transition-delay: 0.8s;
							}
							.button_area{
								@include opacity(1);
								position: relative;
								bottom: 320px;
								transition-delay: 0.8s;
								left: 50%;
								margin-left: -100px;
								width: 200px;
								span.arrow{
									display: inline-block;
									margin-bottom: -2px;
									margin-left: 3px;
									width: 14px;
									height: 14px;
									transition: all 0.8s;
									-webkit-transition: all 0.8s;
									-moz-transition: all 0.8s;
									-o-transition: all 0.8s;
									-ms-transition: all 0.8s;
									background: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_black_14x14.png');
								}
								&:hover{
									a{
										background: rgba(255,255,255,1) !important;
										span{
											color:#000 !important;
										}
									}
								}
								a{
									background: rgba(255,255,255,0.6);
									width: 200px;
									span{
										color:#000;
										font-weight: 700 !important;
										&.spt_bg{
											background-position-y: -758px;
										    width: 15px;
										    height: 15px;
										}
									}

								}
							}
						}
					}
				}
				.navi{
					position: absolute;
					top: 90px;
					margin-left: 653px;
					width: 615px;
					text-align: center;
					z-index: 5;
					cursor: pointer;
					span{
						position: absolute;
						&.prev{
							left:0;
						}
						&.next{
							right:0;
						}
					}
				}
			}
		}
	}


	.content{
		position: relative;
		height: 2154px;
		.title{
			margin-top: 50px;
			p{
				text-transform: uppercase;
				color:#000;
				letter-spacing: -0.5px;
				text-align: center;
				font:900 36px 'NotoSansKR';
				&.eng{
					font:36px/36px 'adinenuPro-light';
					letter-spacing: 3px;
				}
			}
		}
		.cont_box1 {
	      position: absolute;
	      top: 120px;
	      left: 50%;
	      z-index: 1;
	      .img_box {
			  width: 620px;
		      height: 550px;
		      overflow: hidden;
		      position: absolute;
		      left: 50%;
		      margin-left: -610px;
	        ul {
	          position: relative;
	          li {
	            position: absolute;
	            top: 0;
	            left: 0;
	            display: none;
	            &.on {
	              display: block;
	            }
	          }
	        }
	        .num {
	          position: absolute;
	          bottom: 0px;
	          left: 50%;
	          margin-left: -40px;
	          li {
	            float: left;
	            a {
	              width: 14px;
	              height: 14px;
	              display: block;
	              background-color: #d0d0d0;
	              border-radius: 10px;
	              margin: 0 7px;
	              &.on {
	                background-color: #43587a;
	              }
	            }
	          }
	        }
	      }
	      .txt_box {
	        position: absolute;
	        top: 150px;
	        right: 50%;
	        margin-right: -530px;
	        h4 {
	          font:900 32px/36px 'NotoSansKR','Nanum Gothic';
	          color: #000;
	          letter-spacing: -0.5px;
	          text-align: left;
			  margin-bottom: 15px;
			  span{
				  font: 400 32px/36px 'NotoSansKR','Nanum Gothic';
			  }
	        }
	        p {
	          font: 500 17px/24px 'NotoSansKR','Nanum Gothic';
	          color: #000;
	          text-align: left;
	          letter-spacing: -0.8px;
	          &.aticle {
	            font: 20px 'adinenuPro-light','Nanum Gothic';
	            color: #6e6e6e;
	          }
	        }
	        a {
	          &.button {
	            display: block;
	            position: relative;
	            float: left;
	            width: 261px;
	            height: 52px;
	            font: 700 16px/48px 'NotoSansKR','Nanum Gothic';
	            border: 2px solid #000;
	            background: #000;
	            color: #fff;
	            transition: all 0.8s;
	            -webkit-transition: all 0.8s;
	            -moz-transition: all 0.8s;
	            -o-transition: all 0.8s;
	            -ms-transition: all 0.8s;
	            letter-spacing: -1px;
	            text-align: center;
	            margin-top: 40px;
	            span.arrow {
	              display: inline-block;
	              margin-bottom: -1px;
	              margin-left: 3px;
	              width: 14px;
	              height: 14px;
	              transition: all 0.8s;
	              -webkit-transition: all 0.8s;
	              -moz-transition: all 0.8s;
	              -o-transition: all 0.8s;
	              -ms-transition: all 0.8s;
	              background: url("http://image.adidas.co.kr/images/adidas/common/icon_btn_white_14x14.png");
	            }
	          }
	          &:hover.button {
	            color: #000;
	            margin-top: 40px;
	            background: #fff;
	            border: 2px solid #000;
	            font: 700 16px/48px 'NotoSansKR','Nanum Gothic';
	            span.arrow {
	              display: inline-block;
	              margin-bottom: -1px;
	              margin-left: 3px;
	              width: 14px;
	              height: 14px;
	              transition: all 0.8s;
	              -webkit-transition: all 0.8s;
	              -moz-transition: all 0.8s;
	              -o-transition: all 0.8s;
	              -ms-transition: all 0.8s;
	              background: url("http://image.adidas.co.kr/images/adidas/common/icon_btn_black_14x14.png");
	            }
	          }
	        }
	      }
	    }
	    .cont_box2 {
	      position: absolute;
	      top: 810px;
	      left: 50%;
	      z-index: 1;
	      .img_box {
			width: 620px;
  			height: 550px;
	        overflow: hidden;
	        position: absolute;
	        right: 50%;
	        margin-right: -585px;
	        ul {
	          position: relative;
	          li {
	            position: absolute;
	            top: 0;
	            left: 0;
	            display: none;
	            &.on {
	              display: block;
	            }
	          }
	        }
	        .num {
	          position: absolute;
	          bottom: 0px;
	          left: 50%;
	          margin-left: -40px;
	          li {
	            float: left;
	            a {
	              width: 14px;
	              height: 14px;
	              display: block;
	              background-color: #d0d0d0;
	              border-radius: 10px;
	              margin: 0 7px;
	              &.on {
	                background-color: #43587a;
	              }
	            }
	          }
	        }
	      }
	      .txt_box {
	        position: absolute;
	        top: 150px;
	        left: 50%;
	        margin-left: -470px;
			h4 {
	          font:900 32px/36px 'NotoSansKR','Nanum Gothic';
	          color: #000;
	          letter-spacing: -0.5px;
	          text-align: left;
			  margin-bottom: 15px;
			  span{
				  font: 400 32px/36px 'NotoSansKR','Nanum Gothic';
			  }
	        }
	        p {
	          font: 500 17px/24px 'NotoSansKR','Nanum Gothic';
	          color: #000;
	          text-align: left;
	          letter-spacing: -0.8px;
	          &.aticle {
	            font: 20px 'adinenuPro-light','Nanum Gothic';
	            color: #6e6e6e;
	          }
	        }
	        a {
	          &.button {
	            display: block;
	            position: relative;
	            float: left;
	            width: 261px;
	            height: 52px;
	            font: 700 16px/48px 'NotoSansKR','Nanum Gothic';
	            border: 2px solid #000;
	            background: #000;
	            color: #fff;
	            transition: all 0.8s;
	            -webkit-transition: all 0.8s;
	            -moz-transition: all 0.8s;
	            -o-transition: all 0.8s;
	            -ms-transition: all 0.8s;
	            letter-spacing: -1px;
	            text-align: center;
	            margin-top: 40px;
	            span.arrow {
	              display: inline-block;
	              margin-bottom: -1px;
	              margin-left: 3px;
	              width: 14px;
	              height: 14px;
	              transition: all 0.8s;
	              -webkit-transition: all 0.8s;
	              -moz-transition: all 0.8s;
	              -o-transition: all 0.8s;
	              -ms-transition: all 0.8s;
	              background: url("http://image.adidas.co.kr/images/adidas/common/icon_btn_white_14x14.png");
	            }
	          }
	          &:hover.button {
	            color: #000;
	            margin-top: 40px;
	            background: #fff;
	            border: 2px solid #000;
	            font: 700 16px/48px 'NotoSansKR','Nanum Gothic';
	            span.arrow {
	              display: inline-block;
	              margin-bottom: -1px;
	              margin-left: 3px;
	              width: 14px;
	              height: 14px;
	              transition: all 0.8s;
	              -webkit-transition: all 0.8s;
	              -moz-transition: all 0.8s;
	              -o-transition: all 0.8s;
	              -ms-transition: all 0.8s;
	              background: url("http://image.adidas.co.kr/images/adidas/common/icon_btn_black_14x14.png");
	            }
	          }
	        }
	      }
	    }

	}
	.banner_wrap{
		padding-bottom: 102px;
		h3{
			padding: 148px 0;
			font:36px/36px 'adinenuPro-black';
			color:#000;
			text-align: center;

		}
		.banners{
			text-align: center;

			ul{
				display: inline-block;
				li{
					position: relative;
					float:left;
					margin-right: 20px;
					text-align: center;
					width:585px;
					height: 360px;
					overflow: hidden;
					img{
						@include css3(transition , all 3s);
					}


					&:hover{
						img{
							transform: scale(1.1);
						}
					}
					&.last{
						margin-right: 0px;
					}
					.buy{
						position: absolute;
					    top: 262px;
					    left: 50%;
					    margin-left: -110px;
					    display: inline-block;
					    width: 220px;
					    background: rgba(255,255,255,0.6) !important;
					    font:500 15px/53px 'NotosansKR','Nanum Gothic';
					    color: #000;
					    text-align: center;
						z-index: 5;
						transition: all 0.5s;
						span.arrow{
						  display: inline-block;
						  margin-bottom: -1px;
						  margin-left: 3px;
						  width: 14px;
						  height: 14px;
						  transition: all 0.8s;
						  -webkit-transition: all 0.8s;
						  -moz-transition: all 0.8s;
						  -o-transition: all 0.8s;
						  -ms-transition: all 0.8s;
						  background: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_black_14x14.png');
						}
						&:hover{

								background: rgba(255,255,255,1) !important;
								span{
									color:#000 !important;
								}

						}
					}
				}
			}
		}
	}

}
