@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';


#smtm{
	position: relative;
	//common
	.button_area_v2{
		margin-top: 25px;
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			width:140px;
			font: 700 14px/48px 'NotoSansKR';
			letter-spacing: 0;
		}
	}

	//main
	.main{
		position: relative;
		height: 784px;
		background: #000;
		border-bottom: 3px solid #e09853;
		>.bg{
			width: 1920px;
			position: absolute;
			top:0;
			left:50%;
			transform: translateX(-50%);
			img{
				width:100%;
			}
		}
		.b_box{
			width: 100%;
			position: absolute;
			top:0;
			left:0;
			text-align: center;
			h1{
				padding: 40px 0;
				font: 22px 'adinenuPro-black';
				color: #fff;
				text-align: center;
				letter-spacing: 3px;
				text-transform: uppercase;

				transition: all .4s;
				opacity: 0;
			}
			h3{
				img{
					display: block;
					width: 1920px;
					position: relative;
					top:0;
					left:50%;
					transform: translateX(-50%);
				}
			}
			p{
				padding-top: 70px;
				font: 500 18px/30px 'NotoSansKR';
				color: #fff;
				text-align: center;

				transition: all .4s;
				transition-delay: 0.4s;
				opacity: 0;
			}
			.button_area_v2{
				margin-top: 40px;
				transition: all .4s;
				transition-delay: .8s;
				opacity: 0;
				a{
					width: auto;
					padding: 0 30px;
					letter-spacing: 2px;
				}
			}
		}
		&.on{
			.b_box{
				>*{
					opacity: 1;
				}
				.button_area_v2{
					a{
						span{
							margin-left: 1rem;
						}
					}
				}
			}
		}
	}
	
	//section
	.section{
		height: 1250px;
		background: #fff;
		border-top: 10px solid #000;
		border-bottom: 10px solid #000;
		&.sec2{
			height: 1130px;
			.inner{
				.sect_prds{
					ul{
						overflow: hidden;
						li{
							float: left;
							width: 20%;
							margin-right: 3px;
							&:nth-child(1){width: 235px;}
							&:nth-child(2){width: 298px;}
							&:nth-child(3){width: 235px;}
							&:nth-child(4){width: 235px;}
							&:nth-child(5){
								margin-right: 0;
								width: 235px;
							}
						}
					}
				}
			}
		}
		.inner{
			overflow: hidden;
			width: 1250px;
			margin: 0 auto;
			.sect_tit{
				text-align: center;
				h3{
					margin-top: -10px;
					display: inline-block;
					width: 590px;
					height: 65px;
					background: #000;
					font: 500 24px/63px 'NotoSansKR';
					color: #fff;
					text-align: center;
				}
				p{
					font: 500 22px/63px 'adinenuPro-black';
					color: #000;
					text-align: center;
					letter-spacing: 2px;
				}
			}
			.sect_stylist{
				padding: 50px 0 25px;
				text-align: center;
				ul{
					position: relative;
					height: 240px;
					li{
						position: absolute;
						left: 50%;
						&:nth-child(1){
							top: 0;
							transform: translateX(-391px);
						}
						&:nth-child(2){
							height: 147px;
							top: 50%;
							transform: translate(-106px, -50%);
							font: 600 40px 'NotoSansKR';
							color: #000;
							letter-spacing: 7px;
						}
						&:nth-child(3){
							top: 50%;
							transform: translateY(-50%);
							.sect_sl_line{
								display: inline-block;
								width: 1px;
								height: 134px;
								background: #000;
							}
						}
						&:nth-child(4){
							top: 50%;
							transform: translate( 45px, -51%);
							font: 500 16px/28px 'NotoSansKR';
							color: #000;
						}
					}
				}
				>p{
					padding-top: 30px;
					font: 500 20px/20px 'NotoSansKR';
					color: #000;
					text-align: center;
					em{
						padding: 0 3px;
						font: 500 28px/20px 'adihaus-medium';
						vertical-align: middle;
					}
				}
			}
			.sect_prdbox{
				img{
					display: block;
					width: 100%;
				}
			}
			.sect_prds{
				ul{
					overflow: hidden;
					li{
						float: left;
						width: 20%;
						margin-right: 3px;
						&:nth-child(1){width: 298px;}
						&:nth-child(2){width: 235px;}
						&:nth-child(3){width: 235px;}
						&:nth-child(4){width: 235px;}
						&:nth-child(5){
							margin-right: 0;
							width: 235px;
						}
						div.item{
							margin-bottom: 3px;
							background: #000;
							img{
								display: block;
								width: 100%;
							}
							&:last-child{
								margin-bottom: 0;
							}
						}
					}
				}
			}
			.sect_buybox{
				padding: 40px 0 5px;
				text-align: center;
				h2{
					font: 500 22px/22px 'adinenuPro-black';
					color: #000;
					text-align: center;
					letter-spacing: 2px;
				}
				.button_area_v2{

				}
			}
		}
	}

	.section_line{
		position: relative;
		height: 40px;
		background: #000;
	}
}
