@import "./front/css/reebok/scss/about.scss";

/* common */
#wrap{
    overflow: hidden;
    min-width: 1160px;
}
html,body{
	height:100%;
}
#contents_wrap{padding: 0;}
.button_area_v2 {
	display: inline-block;

	&:hover {
		>div {

			// .bg{
			// 	box-shadow: inset 0 0 0 1px #fff!important;
			// 	-webkit-box-shadow: inset 0 0 0 1px #fff!important;
			// 	// @include css3(transition, all 0.5s);
			// }
			a {
				color: #767677 !important;
				background: #000 !important;

				span {
					background: #767677 !important;

					em {
						background: #767677 !important;
					}
				}
			}

			&.white {
				a {
					background: #fff !important;
				}
			}
		}
	}

	div {
		position: relative;

		&.white {
			.bg {
				box-shadow: inset 0 0 0 1px #fff;
				-webkit-box-shadow: inset 0 0 0 1px #fff;
			}

			a {
				color: #000;
				background: #fff;

				.arrow {
					background: #000;

					em {
						background: #000;
					}
				}
			}
		}

		.bg {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translate(3px, 3px);
			-webkit-transform: translate(3px, 3px);
			box-shadow: inset 0 0 0 1px #000;
			-webkit-box-shadow: inset 0 0 0 1px #000;
			z-index: 1;
		}

		a {
			position: relative;
			display: block;
			text-align: center;
			height: 50px;
			font: 500 15px/49px 'NotoSansKR';
			color: #fff;
			background: #000;
			z-index: 2;
			letter-spacing: 1px;
			padding: 0 20px;

			.arrow {
				position: relative;
				top: -1px;
				display: inline-block;
				margin-left: 20px;
				width: 25px;
				height: 2px;
				background: #fff;
				vertical-align: middle;

				em {
					position: absolute;
					right: 0;
					width: 8px;
					height: 3px;
					background: #fff;
					transform: rotate(45deg);
					-webkit-transform: rotate(45deg);

					&.top {
						top: -3px;
					}

					&.bottom {
						bottom: -3px;
						transform: rotate(-45deg);
						-webkit-transform: rotate(-45deg);
					}
				}

			}
		}

	}
}

.acb {

	.section{
		position: relative;
		.sect_bg {
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -960px;
			z-index: 1;
		}
		&.sect_main {
			height: 900px;
			.main_box{
				position: absolute;
				top: 50%;
				left: 50%;
				width: 1200px;
				margin-left: -600px;
				transform: translateY(-50%);
				z-index: 2;
				h3{
					>img {
						display: block;
					}
				}
				.button_area_v2{
					margin-top: 40px;
				}
			}
		}

		&.sect_state {
			padding: 85px 0;
			background: url('/images/reebok/2020/event/acb/state_bg.jpg') 0 0 no-repeat;
			background-size: cover;
			color: #fff;
			h3{
				font: 800 50px 'neueplak-ext';
				text-align: center;
				letter-spacing: 2px;
			}
			p{
				padding-top: 20px;
				font: 500 26px 'NotoSansKR';
				text-align: center;
			}
		}

		&.sect_application{
			overflow: hidden;
			height: 900px;
			.application_box{
				padding: 200px 45px 0;
				position: absolute;
				height: 100%;
				top: 0;
				left: 57%;
				background: rgba(0, 0, 0, 0.7);
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				z-index: 2;
				h4{
					font: 800 36px/40px 'neueplak-ext';
					color: #fff;
					// text-transform: uppercase;
					letter-spacing: 1px;
				}
				p{
					padding-top: 30px;
					font: 400 20px 'NotoSansKR';
					color: #fff;
					letter-spacing: normal;
				}
				.button_area_v2{
					margin-top: 40px;
				}
			}
		}

		&.sect_look {
			padding: 110px 0;
			background: url('/images/reebok/2020/event/acb/slider_bg.jpg') center center no-repeat;
			background-size: cover;
			text-align: center;

			.cont_slide {
				position: relative;
				width: 1920px;
				left: 50%;
				margin-left: -960px;
				text-align: center;
				.slick-slide {
					outline: none;
					padding: 0 30px;
					// opacity: 0.4;
					transition: 1s;
					// transition-delay: 0.4s;
					&.slick-current {
						// opacity: 1;
					}
					img{
						display: block;
						width: 100%;
					}
				}

				.slick-arrow {
					position: absolute;
					top: 46%;
					width: 23px;
					height: 40px;
					margin-top: -20px;
					text-indent: -9999px;
					border: 0 none;
					outline: none;
					cursor: pointer;
					z-index: 10;

					&.slick-prev {
						left: 50%;
						margin-left: -522px;
						background: url('/images/reebok/2020/event/fusium/prev.png') 0 0 no-repeat;
					}

					&.slick-next {
						right: 50%;
						margin-right: -522px;
						background: url('/images/reebok/2020/event/fusium/next.png') 0 0 no-repeat;
					}
				}

				.slick-dots {
					display: inline-block;
					margin: 30px 0 0;
					li {
						display: inline-block;
						margin: 0 4px;
						width: 14px;
						height: 14px;
						border: 1px solid #fff;
						border-radius: 50%;
						text-indent: -9999px;
						cursor: pointer;

						&.slick-active {
							background: #fff;
						}
					}
				}
			}

			h3 {
				margin-bottom: 30px;
				font: 900 50px/50px 'neueplak-ext';
				color: #dd9c00;
				text-shadow: -1px -1px 0 #000,
				1px -1px 0 #000,
				-1px 1px 0 #000,
				1px 1px 0 #000;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 2px;
			}

			.button_area_v2 {
				
			}
		}

		&.sect_caution{
			height: 414px;
		}
	}
}
