@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
html,body{
	height:100%;
}
a{
	outline:none;
}
button{
	outline:none;
}
*:focus { outline:none; }
.clearfix{
	clear: both;
	display:block;
	content:'';
}
.inner{
	// max-width: 1400px;
	// margin: 0 auto;
	// position: relative;
	// box-sizing: border-box;	
}
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#kids_lego{
	position: relative;
	overflow: hidden;
	.button_area_v2{
		display: inline-block;
		&:hover{
			div{
				a{
					color: #767677;
					span{
						background: #767677;
						em{
							background: #767677;
						}
					}

				}
			}
		}
		div{
			&.white{
				.bg{
					box-shadow: inset 0 0 0 1px #fff;
					-webkit-box-shadow: inset 0 0 0 1px #fff;
					@include css3(transition, all 0.5s);
				}
				a{
					background: #fff;
				}
			}
			.bg{
				box-shadow: inset 0 0 0 1px #000;
				-webkit-box-shadow: inset 0 0 0 1px #000;
				@include css3(transition, all 0.5s);
			}
			a{
				letter-spacing: 1px;
				padding:0 20px;
				background: #000;
			}
		}
	}
	.main{
		position:relative;
		height:1320px;
		.bg_wrap{
			position:relative;
			>img{
				position:absolute;
				left:50%;
				top:0;
				margin-left:-960px;
			}
		}
		.tit_wrap{
			position:absolute;
			left:50%;
			top:20%;
			transform:translate(-50%,-50%);
			margin-left:-220px;
		}
		.txt_wrap{
			position:absolute;
			left:50%;
			top:77%;
			transform:translate(-50%,-50%);			
			.txt{
				text-align:center;
				color:#fff;
				h2{
					color:#ffd400;
					font:900 48px/48px 'Noto Sans KR';
					letter-spacing:0;
					text-align:center;
				}
				p{
					font:500 22px/30px 'Noto Sans KR';
					letter-spacing:0;
					text-align:center;
					padding:34px 0 23px 0;
				}
				strong{
					display:block;
					font:600 28px/36px 'Noto Sans KR';
					letter-spacing:0;					
				}
				.button_area_v2{
					margin:40px 0 0 0;
				}
			}
		}
	}
	.cont2_list{
		position:relative;
		height:929px;
		.bg_wrap{
			position:relative;
			>img{
				position:absolute;
				left:50%;
				top:0;
				margin-left:-960px;
			}
		}		
		.txt_wrap{
			position:absolute;
			left:50%;
			top:50%;
			transform:translate(-50%,-50%);		
			.txt{
				text-align:center;
				color:#fff;
				h2{
					color:#ffd400;
					font:900 32px/42px 'Noto Sans KR';
					letter-spacing:0;
					text-align:center;
				}
				p{
					font:500 18px/26px 'Noto Sans KR';
					letter-spacing:0;
					text-align:center;
					padding:34px 0 23px 0;					
				}
				strong{
					display:block;
					font:600 20px/26px 'adinenuPro-bold';
					letter-spacing:0;					
				}
				.button_area_v2{
					margin:40px 0 75px 0;
				}
			}
		}		
	}
	.cont3_list{
		position: relative;
		height:700px;
		.bg_wrap{
			position:relative;
			>img{
				position:absolute;
				left:50%;
				top:0;
				margin-left:-960px;
			}
		}	
		.video_wrap{
			position:absolute;
			left:50%;
			top:50%;
			transform:translate(-50%,-50%);
			margin-left:-384px;
			>img{
				position:relative;
				width:100%;
			}
			.video_btn{
				position:absolute;
				left:50%;
				top:50%;
				transform:translate(-50%,-50%);
				button{
					background:url('/images/adidas/2020/event/kids/1230/btn.png');
					background-size:100%;
					width:57px;
					height:63px;
					border:0;
					
				}
			}
		}				
		.txt_wrap{
			position:absolute;
			left:50%;
			top:50%;
			transform:translate(-50%,-50%);
			margin-left:190px;
			.txt{
				text-align:left;
				color:#111;
				h2{
					color:#ffd400;
					font:900 32px/42px 'Noto Sans KR';
					letter-spacing:0;
					text-align:left;
				}
				p{
					font:500 18px/26px 'Noto Sans KR';
					letter-spacing:0;
					text-align:left;
					padding:34px 0 23px 0;					
				}
			}
		}		
	}
	.cont4_list{
		position:relative;
		height:1501px;
		.bg_wrap{
			position:relative;
			>img{
				position:absolute;
				left:50%;
				top:0;
				margin-left:-960px;
			}
		}			
		.slider_list{
			position:absolute;
			left:50%;
			top:72%;
			transform:translate(-50%,-50%);			
			// width:75%;
			max-width:1400px;
			text-align: center;
			img{
				border:0;
			}
			h2{
				color:#008834;
				font:900 32px/34px 'Noto Sans KR';
				letter-spacing:0;
				text-align:center;				
			}
			>ul{
				text-align:center;
				padding-top:50px;
				>li{
					float:left;
					width:32.64285714286%;
					text-align:center;
					margin-right:1.03571428571%;
					padding:25px 0 0 0;
					height:520px;
					.slick-slide{
						img{
							margin:0 auto;
							
						}
					}					
					h3{
						font:900 30px/28px 'adinenuPro-black';
						letter-spacing:0;
						color:#fff;
						text-align:center;
						padding:0 0 15px 0;
					}
					p{
						font:500 18px/28px 'Noto Sans KR';
						letter-spacing:0;
						color:#fff;
						text-align:center;		
						padding:10px 0 0 0;				
					}
				}
								
				:nth-child(3){
					margin-right:0;
				}
				.color1{
					background:#00af43;
				}
				.color2{
					background:#d60811;
				}
				.color3{
					background:#00a3dd;
				}								
			}
			.button_area_v2{
				margin:50px 0 0 0;
			}
		}
	}
	.slick-dots {
		padding:1.5rem 0 1rem 0;
		text-align: center;
	}			
	.slick-dots li {
		display: inline-block;
		margin-right: 6px;
	}
	.slick-dots li button {
		width: 10px;
		height: 10px;
		background:none;
		border-radius:50%;
		border:1px solid #fff;
		padding: 0;
		text-indent: -9999px;
	}			

	.slick-dots li.slick-active button {
		background:#fff;
	}			
	.slick-arrow{
		font-size:0;
		border:0;
	  }
	  .slick-prev{
		position:absolute;
		left: 10%;
		top: 40%;
		background: url('/images/adidas/2020/event/kids/1230/left.png')no-repeat 50%;
		background-size: 1.4rem auto;
		width: 17px;
		height: 31px;
		z-index:1;
		outline:none;
	  }					
	  .slick-next{
		position:absolute;
		right: 10%;
		top: 40%;
		background: url('/images/adidas/2020/event/kids/1230/right.png')no-repeat 50%;
		background-size: 1.4rem auto;
		width: 17px;
		height: 31px;
		z-index:1;
		outline:none;
	  }	  	
	.cont5_list{
		position:relative;
		height:1219px;
		.bg_wrap{
			position:relative;
			>img{
				position:absolute;
				left:50%;
				top:0;
				margin-left:-960px;
			}
		}	
		.tit_wrap{
			position:absolute;
			left:50%;
			top:50%;
			transform:translate(-50%,-50%);			
			text-align: center;		
			h2{
				color:#ffd400;
				font:900 28px/36px 'Noto Sans KR';
				letter-spacing:0;
				text-align:center;
			}				
		}
		.slider_wrap{
			position:absolute;
			left:50%;
			top:74%;
			transform:translate(-50%,-50%);			
			max-width:457px;
			text-align: center;			
			background:#00a3dd;
			margin-left:-226px;
			height:420px;
			h3{
				font:900 30px/28px 'adinenuPro-black';
				letter-spacing:0;
				color:#fff;
				text-align:center;
				padding:25px 0 10px 0;
			}
			
			.slick-slide{
				img{
					margin:0 auto;
					
				}
			}				
		}
		.txt_wrap{
			position:absolute;
			left:50%;
			top:74%;
			transform:translate(-50%,-50%);			
			text-align: left;
			margin-left:200px;		
			p{
				font:400 18px/22px 'Noto Sans KR';
				letter-spacing:0;
				color:#fff;
				text-align:left;		
			}		
			strong{
				font:600 18px/26px 'Noto Sans KR';				
			}
			.button_area_v2{
				margin:40px 0 0 0;
			}		
		}		
	}	
	.cont6_list{
		position:relative;
		height:958px;
		.bg_wrap{
			position:relative;
			>img{
				position:absolute;
				left:50%;
				top:0;
				margin-left:-960px;
			}
		}
	}	
}
