@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';


/* stella */
.stella_v3{
	.button_area{
		position: relative;
		display: inline-block;
		padding-top: 70px;
		text-align: center;
		&.type2{
			a{
				width: 200px;
				.spt_bg{
					background: url('http://shop.adidas.co.kr/images/adidas/common/adidas_spirite.png') no-repeat;
					background-position: -685px -478px;
				}
			}
			&:hover{
				a{
					background: #444 !important;
				}
			}
		}
		&:hover{
			a{
				background: #000;
				>span{
					color:#fff;
				}
			}
		}
		a{
			display: inline-block;
			width:230px;
			background: #fff;
			span{
				margin-left: -33px !important;
				color:#000;
				.spt_bg{
					right: -38px !important;
					width: 16px;
					height: 15px;
					background: url('http://image.adidas.co.kr/images/adidas/event/originals_climacool/6901-btn-icon-b.png');
				}
			}
		}
	}
	.scrollSection{
		top:100px;
		@include opacity(0);
		@include css3 (transition, 0.8s);

		&.event{
			top:0;
			@include opacity(1);
		}
	}
	.main{
		position: relative;
		height: 800px;
		text-align: center;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		h2{
			position: relative;
			padding-top: 460px;
			text-align: center;
		}
	}
	.scrollSection{
		position: relative;
		.inner{
			width: 950px;
			margin: 0 auto;
		}
		&.statement{
			padding: 120px 0;
			text-align: center;
			.title{
				padding: 0 0 20px 0;
				color: #000;
				font-size: 30px;
			}
			.button_area{
				a{
					background: #000;
					>span{
						color: #fff;
					}
				}
			}
		}
		&.middle{
			height: 800px;
			text-align: center;
			.title{
				&:after{
					position: absolute;
					bottom:-27px;
					left:50%;
					margin-left: -40px;
					content: '';
					display: block;
					width: 80px;
					height: 2px;
					background: #fff;
				}
			}
		}
		&.cuts{
			position: relative;
			.inner{
				position: relative;
				height: 885px;
				.circle{
					position: absolute;
					display: inline-block;
					border-radius: 50px;
					width: 15px;
					height:15px;
					&.left{
						background: #b37347;
					    bottom: 0;
					    right: 50%;
					    margin-right: 91px;
					}
					&.right{
						background: #544e42;
						top: -35px;
						right:0;
						margin-right: -180px;
					}

				}
				div{
					position: absolute;
					top:0;
					overflow: hidden;
					@include css3 (perspective, 500px);
					&:hover{
						img{
							@include css3 (transform, translate3d(0,0,100px));
							@include css3(transition-duration, 10s);
						}
					}
					img{
						width: 100%;
						@include css3 (transform, translate3d(0,0,0));
						@include css3(transition-duration, 3s);
					}

					&.left{
						left:-170px;
					}

					&.right{
						right:-180px;
					}
				}
			}
		}
		&.collection{
			position: relative;
			// width: 1600px;
			padding-top: 150px;

			.slider_wrap{
				position: relative;
				// width: 1600px;
				width: 100%;
				margin: 0 auto;
				ul{
					position: relative;
					li{
						float: left;
						// width: 100%;
						.content{
							position: relative;
							width: 100%;
							img{
								width: 100%;
							}
							.txt_area{
								@include opacity(0);
								position: absolute;
								bottom: 0%;
								left: 50%;
								width: 100%;
								margin-left: -50%;
								text-align: center;
								@include css3 (transition, 0.8s);
								&.on{
									@include opacity(1);
									bottom:20%;
								}
								p{
									padding: 0;
									color:#fff;
								}
							}
						}

					}
				}

			}
			.navi_wrap{
				// position: absolute;
				// top:50%;
				// margin: 0 auto;
				width: 100%;
				.navi{
					position: absolute;
					top: 50%;
					width: 100%;
					span{
						position: absolute;
						cursor: pointer;
						span{
							display: inline-block;
							width: 32px;
							height: 62px;
							overflow: hidden;
							img{
								position: relative;
							}
						}
						&.prev{
							left:10%;
							margin-left: -16px;
							span{
								img{
									@include animation(1s, 2s, arrow);
								}
							}
							@media(max-width: 1280px){
								left:5%;
							}
						}
						&.next{
							right:10%;
							span{
								img{
									@include animation(1s, 2s, arrow2);
								}
							}
							@media(max-width: 1280px){
								right:22%;
							}
						}

					}

				}
			}

			.indicator{
				position: relative;
				z-index: 1;
				text-align: center;
				span{
					display: inline-block;
					padding: 40px 40px;
					cursor: pointer;
					font: 11px 'adihaus-medium';
					color:#000;
					@include css3 (transition, 0.3s);
					&.on{
						font: 12px 'adihaus-bold';
					}
				}
			}

		}
		p{
			position: relative;
			text-align: center;
			color:#000;
			&.adihaus{
				padding-bottom: 30px;
				font:11px 'adihaus-bold';
				letter-spacing: 0.5px;
			}
			&.title{
			    padding-top: 440px;
				font:46px 'adinenuPro-regular';
				color:#fff;
				letter-spacing: 0.3em;

			}
		    font:400 17px/29px 'NotoSansKR','Nanum GOthic';
		}
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}

	}
}
/* End of stella */
