#container{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


html.no_scroll{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.video_layer{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
}

.video_layer .close{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    background-position: 0 -685px;
    opacity: 0;
    -ms-filter:alpha(opacity=0);
    filter:alpha(opacity=0);
    transition:opacity 0.4s ease-in 0.2s;
    -webkit-transition:opacity 0.4s ease-in 0.2s;
}

.video_layer .bg{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    -ms-filter:alpha(opacity=0);
    filter:alpha(opacity=0);
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    transition:opacity 0.4s;
    -webkit-transition:opacity 0.4s;
}
.video_layer.loaded .bg{
    opacity: 0.6;
    -ms-filter:alpha(opacity=60);
    filter:alpha(opacity=60);
}

.video_layer.loaded .close{
    opacity: 1;
    -ms-filter:alpha(opacity=100);
    filter:alpha(opacity=100);
}

.video_layer .video{
    width: 100%;
    height: 100%;
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
}

#tubular_campus {
    position:relative;
    background:#fff;
    overflow: hidden;
}

#tubular_campus .main_visual {
    position: relative;
    overflow: hidden;
    height: 766px;
}

#tubular_campus .main_visual img{
    position: absolute;
    top: 0;
    margin-left: -952px;
    left: 50%;
}

#tubular_campus .main_visual a.video-button{
    position: absolute;
    display: block;
    height: 228px;
    width: 228px;
    top: 400px;
    left: 50%;
    margin-left: -110px;
    z-index: 1;
    background: url('http://image.adidas.co.kr/images/adidas/event/tubular_campus/play.png') no-repeat;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;

}

#tubular_campus .main_visual a:hover.video-button{
    background:url("http://image.adidas.co.kr/images/adidas/event/tubular_campus/play_ov.png") no-repeat;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
}


#tubular_campus .cont2 .slider{
    position: relative;
    width:825px;
    height: 440px;
    left: 50%;
    margin-left: -416px;
    top:80px;
    overflow: hidden;
    opacity:0;
    -moz-transition:top 0.8s,opacity 0.8s;
    -o-transition:top 0.8s,opacity 0.8s;
    -webkit-transition:top 0.8s,opacity 0.8s;
    transition:top 0.8s,opacity 0.8s;
}

#tubular_campus a.button {
    position: absolute;
    display: block;
    height: 23px;
    background: #8f9089;
    background-color: rgba(117, 119, 105, 0.5);
    padding: 0 30px 0 13px;
    font: 15px/23px 'adihaus-medium','Nanum Gothic';
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
}

#tubular_campus a.button span{
    position: absolute;
    top:4px;
    right:10px;
    width: 15px;
    height: 15px;
    display: block;
    margin-left: 3px;
    background :url("http://image.adidas.co.kr/images/adidas/event/tubular_campus/bullet.png")center right no-repeat;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
}

#tubular_campus a.button:hover span{
    background :url("http://image.adidas.co.kr/images/adidas/event/tubular_campus/bullet_ov.png")center right no-repeat;
}

#tubular_campus a.button:hover {
    background: #fff;
    color: #585858;
}

#tubular_campus a.button_no_prod {
    position: absolute;
    display: block;
    height: 23px;
    background: #8f9089;
    background-color: rgba(117, 119, 105, 0.5);
    padding: 0 20px 0 13px;
    font: 15px/23px 'adihaus-medium','Nanum Gothic';
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
}

#tubular_campus a.button_no_prod span{
    font:500 13px/23px 'NotoSansKR','Nanum Gothic';
}

#tubular_campus .blue {
    position: relative;
    height: 3067px;
    background:url("http://image.adidas.co.kr/images/adidas/event/tubular_campus/bg_01.jpg") center center no-repeat;
}

#tubular_campus .blue div{
    opacity:0;
    -moz-transition:top 0.8s,opacity 0.8s;
    -o-transition:top 0.8s,opacity 0.8s;
    -webkit-transition:top 0.8s,opacity 0.8s;
    transition:top 0.8s,opacity 0.8s;
}

#tubular_campus .blue .txt_box {
    position: absolute;
    top:205px;
    left: 50%;
    margin-left: -475px;
    color:#fff;
    z-index: 2;
}

#tubular_campus .blue .txt_box h3{
    font: 75px/87px 'adihaus-bold','Nanum Gothic';
    letter-spacing: 25px;
    text-align: center;
}

#tubular_campus .blue .txt_box p{
    font: 300 16px/30px 'NotoSansKR','Nanum Gothic';
    letter-spacing: 3px;
    text-align: center;
    margin-top: 15px;
}

#tubular_campus .blue .txt_box p span{
    font:16px/30px 'adihaus-medium','Nanum Gothic';
    letter-spacing: 4px;
}

#tubular_campus .blue .img_box1 {
    position: absolute;
    top:250px;
    left: 50%;
    margin-left: -235px;
    z-index: 1;
}

#tubular_campus .blue .img_box2 {
    position: relative;
    top:562px;
    left: 50%;
    margin-left: -485px;
    z-index: 1;
}

#tubular_campus .blue .img_box3 {
    position: relative;
    top: 660px;
    left: 50%;
    margin-left: -545px;
    z-index: 1;
}

#tubular_campus .blue .img_box4 {
    position: relative;
    top: 430px;
    left: 50%;
    margin-left: 100px;
    z-index: 1;
}

#tubular_campus .blue .img_box5 {
    position: relative;
    top: 540px;
    left: 50%;
    margin-left: -655px;
    z-index: 1;
}

#tubular_campus .blue .txt_box2 {
    position: relative;
    width: 852px;
    height: 60px;
    top:675px;
    left: 50%;
    margin-left: 100px;
    color:#fff;
    z-index: 2;
    background: #506274;
    background-color: rgba(255, 255, 255, 0.2);
}

#tubular_campus .blue .txt_box2 h3{
    position: absolute;
    top: -50px;
    left: -65px;
    font: 75px/87px 'adihaus-bold','Nanum Gothic';
    letter-spacing: 45px;
    text-align: center;
}

/*///////////////////////////////////////////////////////////////////*/


#tubular_campus .yellow {
    position: relative;
    height: 3876px;
    background:url("http://image.adidas.co.kr/images/adidas/event/tubular_campus/bg_02.jpg") center center no-repeat;
}

#tubular_campus .yellow div{
    opacity:0;
    -moz-transition:top 0.8s,opacity 0.8s;
    -o-transition:top 0.8s,opacity 0.8s;
    -webkit-transition:top 0.8s,opacity 0.8s;
    transition:top 0.8s,opacity 0.8s;
}

#tubular_campus .yellow .txt_box {
    position: absolute;
    top:130px;
    left: 50%;
    margin-left: -450px;
    color:#fff;
    z-index: 2;
}

#tubular_campus .yellow .txt_box h3{
    font: 75px/87px 'adihaus-bold','Nanum Gothic';
    letter-spacing: 25px;
    text-align: center;
}

#tubular_campus .yellow .txt_box p{
    font: 400 16px/30px 'NotoSansKR','Nanum Gothic';
    letter-spacing: 3px;
    text-align: center;
    margin-top: 15px;
}

#tubular_campus .yellow .txt_box p span{
    font:16px/30px 'adihaus-bold','Nanum Gothic';
    letter-spacing: 4px;
}

#tubular_campus .yellow .img_box1 {
    position: absolute;
    top:180px;
    left: 50%;
    margin-left: -200px;
    z-index: 1;
}

#tubular_campus .yellow .img_box2 {
    position: relative;
    top:480px;
    left: 50%;
    margin-left: -495px;
    z-index: 1;
}

#tubular_campus .yellow .img_box3 {
    position: relative;
    top: 575px;
    left: 50%;
    margin-left: -545px;
    z-index: 1;
}

#tubular_campus .yellow .img_box4 {
    position: relative;
    top: -130px;
    left: 50%;
    margin-left: 85px;
    z-index: 1;
}

#tubular_campus .yellow .img_box5 {
    position: relative;
    top: -40px;
    left: 50%;
    margin-left: -655px;
    z-index: 1;
}

#tubular_campus .yellow .txt_box2 {
    position: relative;
    width: 852px;
    height: 60px;
    top:590px;
    left: 50%;
    margin-left: 85px;
    color:#fff;
    z-index: 2;
    background: #cfa355;
    background-color: rgba(255, 255, 255, 0.2);
}

#tubular_campus .yellow .txt_box2 h3{
    position: absolute;
    top: -50px;
    left: -65px;
    font: 75px/87px 'adihaus-bold','Nanum Gothic';
    letter-spacing: 45px;
    text-align: center;
}
