@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

/* video_layer */
.video_layer {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:110
}
.video_layer .video {
	width:100%;
	height:100%;
	z-index:6;
	position:absolute;
	top:0;
	left:0
}
.video_layer .close {
	width:45px;
	height:45px;
	position:absolute;
	top:25px;
	right:25px;
	z-index:20;
	display:block;
	background:url("/images/reebok/event/about/sprite.png") -80px 0 no-repeat;
	text-indent:-5000px;
	opacity:0;
	transition:opacity 0.4s ease-in 0.5s;
	-webkit-transition:opacity 0.4s ease-in 0.5s;
	-moz-transition:opacity 0.4s ease-in 0.5s;
	-o-transition:opacity 0.4s ease-in 0.5s;
	-ms-transition:opacity 0.4s ease-in 0.5s
}
.video_layer .bg {
	width:100%;
	height:100%;
	background:#000;
	z-index:5;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transition:opacity 0.4s;
	-webkit-transition:opacity 0.4s;
	-moz-transition:opacity 0.4s;
	-o-transition:opacity 0.4s;
	-ms-transition:opacity 0.4s
}
.video_layer.loaded .bg {
	opacity:.6
}
.video_layer.loaded .close {
	opacity:1
}
/* video_layer end */

.golf_icon_set {
	background: url("/images/adidas/event/golf/golf_iconSet.png") no-repeat;
}
#golf_event_pc {
	width: 100%;
	height: auto;
	padding-bottom: 225px;
	background-size: 1903px;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url("/images/adidas/event/golf/golfevent/event_bg_w_np.jpg");
	position: relative;
	overflow: hidden;
	.event_title {
		width: 100%;
		height: 565px;
		position: relative;
		z-index: 2;
		h3 {
			width: 100%;
			height: auto;
			position: absolute;
			top: 0;
			margin-top: 78px;
			z-index: 8;
			img {
				display: block;
				margin: 0 auto;
			}
		}
		.title_bgi {
			position: absolute;
			top: 50%;
			opacity: 0;
		}
		.deco_img_01 {
			right: 50%;
			margin-right: 34%;
		}
		.deco_img_02 {
			left: 50%;
			margin-top: -144px;
			margin-left: 35%;
		}
		.deco_img_03 {
			right: 50%;
			margin-top: -295px;
			margin-right: 25%;
		}
		.deco_img_04 {
			left: 50%;
			margin-top: -240px;
			margin-left: 13%;
		}
		.deco_img_05 {
			left: 50%;
			margin-top: 16px;
			margin-left: 24%;
		}
	}
	.event_content_wrap {
		width: 1080px;
		height: auto;
		margin: 0 auto;
		box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.4);
		-webkit-box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.4);
		-mos-box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.4);
		position: relative;
		z-index: 10;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.event_video_wrap {
		width: 1080px;
		height: 500px;
		position: relative;
		margin: 0 auto;
		background: url("/images/adidas/event/golf/golfevent/event_video_bgi_w.jpg") 100% no-repeat;
		video {
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 1;
		}
		div {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.5);
			z-index: 5;
			h4 {
				width: 100%;
				font: 600 65px/65px 'adinenuPro-black';
				text-align: center;
				color: #fff;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -80px;
			}
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: 5px;
				margin-left: -40px;
				cursor: pointer;
			}
		}
	}
	.event_notice_wrap {
		width: 100%;
		height: 580px;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.event_deco {
		width: 47%;
		height: auto;
		position: absolute;
		bottom: 0;
		left: 50%;
		z-index: 10;
		img {
			width: 100%;
			max-width: 860px;
			min-width: 620px;
		}
	}
}
@media screen and (max-width: 1400px) {
	#golf_event_pc {
		.event_deco {
			margin-bottom: 30px;
			margin-left: 160px;
		}
	}
}
@media screen and (min-width: 1401px) and (max-width: 1600px) {
	#golf_event_pc {
		.event_deco {
			margin-bottom: 10px;
			margin-left: 120px;
		}
	}
}
@media screen and (min-width: 1601px) {
	#golf_event_pc {
		.event_deco {
			margin-bottom: -10px;
			margin-left: 70px;
		}
	}
}

