@import "./front/css/reebok/scss/about.scss";

/* common */
#wrap{
    overflow: hidden;
    min-width: 1160px;
}
html,body{
	height:100%;
}
#contents_wrap{padding: 0;}
.btn{
	display: inline-block;
	>div{
		position: relative;
		&::before{
            border: 1px solid #000;
            // border-bottom: 1px solid #000;
            // border-left: 1px solid #000;
			bottom: -4px;
			height: 48px;
			left: 4px;
			width: 274px;
			content: "";
			display: block;
			position: absolute;
			background: #fff;
		}
		// &::after{
        //     border-right: 1px solid #000;
        //     border-top: 1px solid #000;
		// 	height: 49px;
		// 	right: -4px;
		// 	top: 4px;
		// 	width: 3px;
		// 	content: "";
		// 	display: block;
		// 	position: absolute;
        // }
		a{
			width: 136px;
			font: 700 14px/46px 'NotoSansKR';
			letter-spacing: 2px;
			position: relative;
			display: block;
			text-align: center;
			height: 48px;
			color: #fff;
			background:#000;
			z-index: 2;
			border: 1px solid #000;
			transition: .4s;
			.arrow{
				margin-left: 145px;
				vertical-align: middle;
				margin-top: -1px;
			}
		}
	}
	&.white{
		>div{
			&::before{
				border-bottom: 1px solid #000;
				border-left: 1px solid #000;
			}
			&::after{
				border-right: 1px solid #000;
				border-top: 1px solid #000;
			}
			a{
				color: #000;
				background:#fff;
				border: 1px solid #000;
				.arrow{
				}
			}
		}
	}
	&:hover{	
		a{
			transform: translate(4px, 4px);
		}
	}
}

.nano{
	.section{
		position: relative;
		color: #000;
		&.sect_visual {
			margin-bottom: 30px;
			video {
				display: block;
				width: 100%;
			}
			.sect_visual_titbox {
				display: inline-block;
				width: 620px;
				position: absolute;
				top: 50%;
				left: 100px;
				margin-top: -70px;
				z-index: 2;
				h3{
					font: 700 120px/120px 'neueplak-wide';
				}
				p{
					padding: 20px 0 40px;
					font: 400 22px/22px 'NotoSansKR';
				}
				.btn {
					width: 276px;
					a {
						width: 274px;
					}
				}
			}
		}

		&.sect_feature {
			height: 854px;
			.txt_box {
				position: absolute;
				left: 50%;
				z-index: 5;

				h4 {
					font: 900 26px/26px 'NotoSansKR';
					color: #000;
					text-align: right;
				}

				p {
					font: 400 17px/21px 'NotoSansKR';
					color: #000;
					text-align: right;
					margin-top: 10px;
				}
			}

			.bg {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				display: block;
			}
		}

		&.sect_grid {
			video {
				display: block;
				width: 100%;
			}

			.sect_grid_titbox {
				display: inline-block;
				width: 50%;
				height: 50%;
				position: absolute;
				top: 0;
				left: 50%;
				z-index: 2;
				.sect_inner {
					display: inline-block;
					position: relative;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 3;
					h3 {
						font: 700 50px/50px 'neueplak-wide';
						color: #fff;
						text-align: left;
					}

					p {
						padding: 10px 0 30px;
						font: 400 30px/30px 'NotoSansKR';
						color: #fff;
					}

					.btn {
						width: 276px;

						a {
							width: 274px;
						}
					}
				}
			}
		}

		&.sect_cont {
			.bg {
				>img {
					display: block;
					width: 100%;
				}
			}
			.sect_cont_buybox {
				position: absolute;
				top: 32%;
				left: 61%;

				h4 {
					font: 500 40px/48px 'NotoSansKR';
					color: #000;

					span {
						font: 900 30px/40px 'neueplak-wide';
						color: #000;
					}
				}
				.btn {
					width: 276px;
					margin-top: 30px;
					;

					a {
						width: 274px;
					}
				}
			}
			.sect_cont_descbox{
				position: absolute;
				visibility: hidden;
			}
		}

		&.sect_bottom{
			.bg {
				>img {
					display: block;
					width: 100%;
				}
			}
			.sect_bottom_buybox{
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;
				text-align: center;
				h4{
					text-align: center;
				}
				h5{
					padding: 15px 0 0;
					font: 500 26px/26px 'NotoSansKR';
					text-align: center;
					vertical-align: bottom;
					>img{
						vertical-align: bottom;
					}
				}
				.btn {
					width: 276px;
					margin-top: 40px;
					;

					a {
						width: 274px;
					}
				}
			}
		}
	}
}

@media screen and (max-width : 1680px){
	&.sect_visual {		
		.sect_visual_titbox {
			h3 {
				font-size: 100px !important;
			}
		}
	}
}

@media screen and (max-width : 1480px){
	&.sect_visual {		
		.sect_visual_titbox {
			h3 {
				font-size: 80px !important;
			}
		}
	}
}
