@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';
#wrap{
	overflow: hidden;
	min-width: 1280px;
}
#DEERUPT_campaign{
	min-width: 1280px;
	overflow: hidden;
	.btn{
		display: inline-block;
		margin: 27px 0 0 0;
		&:hover{
			a{
				background: #595959;
			}
		}
		a{
			width: 184px;
			height: 50px;
			text-align: center;
			display: block;
			background: #000;
			color:#fff;
			font:500 16px/48px 'NotoSansKR';
			transition: all 0.5s;
			span{
				display: inline-block;
			    position: relative;
			    top: 2px;
			    margin-left: 8px;
			    width: 16px;
			    height: 16px;
			    background: url(http://image.adidas.co.kr/images/adidas/event/iniki/icon.png) no-repeat;
			    background-position: 100% 0px;
			}
		}
	}

	.main_visual{
		position: relative;
		height: 820px;
		overflow: hidden;
		.bg{
			background: url('/images/adidas/event/deerupt/180703/main_visual.jpg') no-repeat;
			background-size:1394px 820px;
			background-position: center top;
			#custom_top{
				position: relative;
			    top: -70px;
			    margin: 0 auto;
			    width: 1534px;

				@include css3(opacity,0);
				@include css3(transition, opacity 0.5s);
				&.loaded{
					@include css3(opacity,1);

				}

			}
			video{
				width: 100%;
			}
		}
		.inn_content{
			position: absolute;
		    top: 249px;
		    left: 50%;
		    margin-left: -603px;
		    z-index: 2;
			p{
				&.strong{
					font:900 45px 'NotoSansKR';

				}
				padding: 18px 0 0 0;
				font:500 20px 'NotoSansKR';
				color:#000;
			}
		}
	}

	.statement{
		position: relative;
		.deco{
			position: absolute;
			top:64px;
			right:0;
			&.deco2{
				top:320px;
				right:inherit;
				left:0;
			}
		}
		p.bold{
			padding: 52px 0 35px;
			font: 900 34px 'NotoSansKR';
			color:#000;

		}
	}

	.banner{
		position: relative;
		padding: 0px 0 48px 0;
		height: 133px;
		img{
			position: absolute;
			left:50%;
			top:0px;
			margin-left: -960px;
		}
	}
	
	.txt{
		position: relative;
		padding: 0 0 80px 0;
		text-align: right;
		p{
			text-align: right;
    		font: 500 20px 'NotoSansKR';
			color:#000;
		}
	}

	.collection{
		position: relative;
		width: 1190px;
		margin: 0 auto 70px;;
		text-align: right;
		.deco{
			position: absolute;
			top:-30px;
			right:197px;
		}
		&.slider2{
			text-align: left;
			.deco{
				position: absolute;
				top:72px;
				right:inherit;
				left:-356px;
			}
			.inn_content{
				left:inherit;
				right: 0;
				>*{
					text-align: right;
				}

			}
			.collection_slider_wrap{
				left:-130px;
			}

		}
		.inn_content{
			position: absolute;
			top:200px;
			left:0;
			p{
				font: 500 20px 'NotoSansKR';
				color: #000;
				&.title{
					font: 500 60px 'adinenuPro-black';
					color: #000;
					text-transform: uppercase;
				}
			}
		}
		.collection_slider_wrap{
			display: inline-block;
			position: relative;
			left: 130px;
			.indicator{
				margin: 20px 0 0 0;
				text-align: center;
				a{
					display: inline-block;
					margin: 0 10px;
					width: 20px;
					height: 20px;
					background: #7f7f7f;
					border-radius: 50px;
					-webkit-border-radius: 50px;
					&.on{
						background: #000;
					}
				}
			}
		}
	}

	.exclusive{
		position: relative;
		height: 578px;
		.btn{
			a{
				background: #fff;
				color:#000;
				span{
					background: url('http://image.adidas.co.kr/images/adidas/event/iniki/icon.png') no-repeat;
				}
			}
		}
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -694px;
		}
		p{
			font: 500 20px 'NotoSansKR';
			color: #fff;
			&.title{
				font: 500 60px 'adinenuPro-black';
				color: #fff;
				text-transform: uppercase;
			}
		}
		.ct1190{
			padding: 178px 0 0 0;
			.cuts_slider_wrap{
				position: absolute;
			    left: 50%;
			    margin-left: 137px;
			    top: 52px;
			    width: 500px;
			    height: 528px;
			    overflow: hidden;

				#cuts_slider{
					ul{
						li{
							position: absolute;
							top:0;
							left:500px;
							@include css3(opacity,0);
							@include css3(transition, opacity 0.8s);
							&.on{
								left:0;
								z-index: 1;
								@include css3(opacity,1);
							}
						}
					}
				}
				.indicator{
					position: absolute;
					top: 495px;
					width: 100%;
					text-align: center;
					a{
						display: inline-block;
					    margin: 0 10px;
					    width: 20px;
					    height: 20px;
					    background: rgba(255,255,255,0.5);
					    border-radius: 50px;
					    -webkit-border-radius: 50px;
						&.on{
							background: rgba(255,255,255,1);
						}
					}
				}
			}
		}
	}

	.products_collection{
        width: 100%;
        height: 953px;
        // height: 1135px;
        position: relative;
        h4{
			padding: 40px 0 30px 0;
            font: 900 40px/45px 'NotoSansKR';
            text-align: center;
            color: #000;
            position: relative;
		}
        p{
			text-align: center;
            font: 400 20px/20px 'NotoSansKR';
			color: #000;

        }

        .wide-slider-wrapper{
            position: relative;
			margin: 80px 0 0 0;
            width: 100%;
            height:564px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
			.arrow{
				position: absolute;
				top:50%;
				left:50%;
				width: 33px;
				height: 60px;
				z-index: 2;
				&.arrow-prev{
	                margin-left: -586px;
	                background: url('/images/adidas/event/deerupt/180703/arrow_prev.png')0 0 no-repeat;
	            }
				&.arrow-next{
					margin-left: 578px;
					background: url('/images/adidas/event/deerupt/180703/arrow_next.png')0 0 no-repeat;
				}
			}


            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 702px;
                li{
                    width: 1063px;
                    margin:0 45px;
                    position: relative;
                    float: left;
                    @include opacity(0.4);
					@include css3(transition, opacity 0.4s ease-in 0.3s);
                }
                li.active{
                    @include opacity(1);
                }
            }
        }


        .slider-btn{
            width: 100%;
            position: relative;
            padding: 30px 0;
            text-align: center;
            a{
                display: inline-block;
                padding-top: 2px;
                text-align: center;
                margin: 0 50px;
                color: #000;
				font:22px 'adihaus-medium';
				text-transform: uppercase;
                &.on{
                    font:22px 'adihaus-bold';
                }
            }
        }

	}

}
