/*웹표준 CSS3.0 적용*/
.XTAB_DEFAULT_NCELL{border-bottom: 1px solid #cccccc;text-align:right;}
.XTAB_DEFAULT_CONTENT1{border: 1px solid #cccccc;border-top-width:0;padding:4px}
.XTAB_DEFAULT_CONTENT2{font:12px Dotum;}
.XTAB_css_CELL{
	padding-top:3px;
	font:11px Dotum;
	background:url('/nlic/img/tab/selectoff.gif')  no-repeat 0%;
	height:23px;
	width:94px;
	text-align:center;
	cursor:pointer;
}
.XTAB_css_SCELL{
	padding-top:5px;
	font:11px Dotum;
	background-image:url('/nlic/img/tab/selecton.gif');
	background-position: 0%;
	background-repeat: no-repeat;
	height:23px;
	width:94px;
	text-align:center;
	cursor:pointer;
}
.XTAB_default_CELL{
	padding-top:3px;
	font:11px Dotum;
	background:url('/nlic/img/tab/selectoff.gif')  no-repeat 0%;
	height:23px;
	width:94px;
	text-align:center;
	cursor:pointer;
}
.XTAB_default_SCELL{
	padding-top:5px;
	font:11px Dotum;
	background-image:url('/nlic/img/tab/selecton_medium_green.gif');
	background-position: 0%;
	background-repeat: no-repeat;
	height:23px;
	width:94px;
	text-align:center;
	cursor:pointer;
}
.XTAB_small_CELL{
	padding-top:3px;
	font:11px Dotum;
	background:url('/nlic/img/tab/selectoff_small.gif')  no-repeat 0%;
	height:23px;
	width:47px;
	text-align:center;
	cursor:pointer;
}
.XTAB_small_SCELL{
	padding-top:5px;
	font:11px Dotum;
	background-image:url('/nlic/img/tab/selecton_small_blue.gif');
	background-position: 0%;
	background-repeat: no-repeat;
	height:23px;
	width:47px;
	text-align:center;
	cursor:pointer;
}
.XTAB_large_CELL{
	padding-top:3px;
	font:11px Dotum;
	background:url('/nlic/img/tab/selectoff_large.gif')  no-repeat 0%;
	height:23px;
	width:125px;
	text-align:center;
	cursor:pointer;
}
.XTAB_large_SCELL{
	padding-top:5px;
	font:11px Dotum;
	background-image:url('/nlic/img/tab/selecton_large_blue.gif');
	background-position: 0%;
	background-repeat: no-repeat;
	height:23px;
	width:125px;
	text-align:center;
	cursor:pointer;
}
.XTAB_xlarge_CELL{
	padding-top:3px;
	font:11px Dotum;
	background:url('/nlic/img/tab/selectoff_xlarge.gif')  no-repeat 0%;
	height:23px;
	width:200px;
	text-align:center;
	cursor:pointer;
}
.XTAB_xlarge_SCELL{
	padding-top:5px;
	font:11px Dotum;
	background-image:url('/nlic/img/tab/selecton_xlarge_blue.gif');
	background-position: 0%;
	background-repeat: no-repeat;
	height:23px;
	width:200px;
	text-align:center;
	cursor:pointer;
}