@charset utf-8;



#container_r.running{font-family:'NotoSansKRRegular'}

#container_r.running{background:url(/images/adidas/club/2015rc/img_visual.gif) no-repeat center top;height:870px}

#container_r.running.sub{background:#313030 url(/images/adidas/club/2015rc/img_visual_sub.gif) no-repeat center top;height:auto;padding-bottom:0}

#container_r.running.sub #contents_r{padding-bottom:122px}



.running .dimdeu{background:url(/images/adidas/club/2015rc/dimdeu_bg1.png) repeat 0 0;position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:100}



.running .membership{position:absolute;bottom:0px;left:0px;z-index:11;width:100%;height:70px;background:url(/images/adidas/club/2015rc/bg_shadow.png) repeat 0 0}

.running .membership > dl{width:950px;margin:auto;overflow:hidden}

.running .membership > dl dt{float:left;width:240px;margin-top:32px}

.running .membership > dl dd{overflow:hidden}

.running .membership > dl dd ul{float:left;margin-top:32px}

.running .membership > dl dd ul li{float:left;margin-left:70px}

.running .membership > dl dd ul li:first-child{margin-left:0px}

.running .membership > dl dd ul li a{display:block;overflow:hidden;height:14px}

.running .membership > dl dd ul li:hover a img{margin-top:-14px}



/* 메인 */

.running .menuBox{background:url(/images/adidas/club/2015rc/bg_menu_box.png) no-repeat;width:818px;height:870px;position:absolute;top:0px;left:50%;margin-left:-240px}

.running .menuBox dd a{text-indent:-999em;width:469px;height:222px;position:absolute;top:0px;left:0px}

.running .menuBox dd.menu1 a{background:url(/images/adidas/club/2015rc/menu1_off.png) no-repeat;top:134px;left:244px}

.running .menuBox dd.menu2 a{background:url(/images/adidas/club/2015rc/menu2_off.png) no-repeat;top:356px;left:117px}

.running .menuBox dd.menu3 a{background:url(/images/adidas/club/2015rc/menu3_off.png) no-repeat;top:578px;left:-11px}

.running .menuBox dd.menu4 a{background:url(/images/adidas/club/2015rc/menu4_off.png) no-repeat;top:725px;left:392px;width:63px;height:41px}

.running .menuBox dd.menu1 a:hover{background:url(/images/adidas/club/2015rc/menu1_on.png) no-repeat;top:112px;left:244px;width:482px;height:244px}

.running .menuBox dd.menu2 a:hover{background:url(/images/adidas/club/2015rc/menu2_on.png) no-repeat}

.running .menuBox dd.menu3 a:hover{background:url(/images/adidas/club/2015rc/menu3_on.png) no-repeat}

.running .menuBox dd.menu4 a:hover{background:url(/images/adidas/club/2015rc/menu4_on.png) no-repeat;z-index:10}

.running .more{position:absolute;top:493px;left:0px;height:63px;overflow:hidden}

.running .more img{margin-top:-63px}

.running .more:hover img{margin-top:0px}

.running .mileage{position:absolute;top:0px;right:0px;height:80px;overflow:hidden}

.running .mileage:hover img{margin-top:-80px}

.running .club_link{height:auto}





/* 서브 */

.running .point_box{position:absolute;top:0px;right:0px;background:url(/images/adidas/club/2015rc/bg_shadow3.png);width:300px;height:50px;padding:15px 20px;z-index:2}

.running .point_box .point{float:left;background:url(/images/adidas/club/2015rc/ico_point.png) no-repeat 0 12px;padding-left:37px}

.running .point_box .point em{font-size:28px;font-weight:bold;color:#fff;line-height:50px}

.running .point_box a{float:right}

.running .contents_box{margin-top:300px}

.running .tabs{overflow:hidden}

.running .tabs > li{float:left;background:#000;text-align:center;padding:20px 0 10px}

.running .tabs > li.tab1{width:295px}

.running .tabs > li.tab2{width:318px}

.running .tabs > li.tab3{width:292px}

.running .tabs > li.tab1.on{background:#ec0064 url(/images/adidas/club/2015rc//bg_tab1.gif) no-repeat;padding-right:45px}

.running .tabs > li.tab2.on{background:#ec0064 url(/images/adidas/club/2015rc//bg_tab2.gif) no-repeat;padding-left:45px;padding-right:45px;width:272px}

.running .tabs > li.tab3.on{background:#ec0064 url(/images/adidas/club/2015rc//bg_tab3.gif) no-repeat;padding-left:45px}

.running .tabs > li > ul{margin-top:15px;overflow:hidden}

.running .tabs > li > ul > li{text-align:center;height:14px;overflow:hidden}

.running .tabs > li > ul.sub_list > li{text-align:center;float:left;width:33%}

.running .tabs > li > ul.sub_list > li:first-chidl{width:34%}

.running .tabs > li > ul > li > a{text-align:center}

.running .tabs > li > ul > li.on > a img,

.running .tabs > li > ul > li > a:hover img{margin-top:-14px}



.running .cont_list{padding:50px 40px;background:url(/images/adidas/club/2015rc/bg_shadow2.png);position:relative}

.running .cont_list > dd{margin-top:50px;overflow:hidden}

.running .cont_list > dd{margin-top:50px;overflow:hidden}

.running .cont_list dd.commnet{margin-top:70px;color:#eee}

.running .cont_list > dd li{line-height:20px}



/*.running .tabs > li > a{display:block;text-align:center;padding:20px 0 15px}*/



/* 서브1 */

.running .cont1{background:url(/images/adidas/club/2015rc/bg_adiclub.png) no-repeat center bottom}

.running .cont1 > div{padding:40px}

.running .cont1 > div .btn{margin-top:10px}

.running .cont1 > div .btn a{display:block;height:50px;overflow:hidden}

.running .cont1 > div .btn a:hover img{margin-top:-50px}

.running .adiclub_list{overflow:hidden}

.running .adiclub_list li{float:left;margin-left:10px}

.running .adiclub_list li:first-child{margin-left:0px}

.running .adiclub_list li.hover a{height:402px;display:block} 

.running .adiclub_list li.hover a img{margin-top:-402px}

.running .adiclub_list li.hover a:hover img{margin-top:0px}



/* 서브2 */

.running .cont2{background:url(/images/adidas/club/2015rc/bg_adiclub.png) no-repeat center bottom;position:relative}

.running .cont2 a{position:absolute;top:60px;right:40px;height:50px;overflow:hidden}

.running .cont2 a img{margin-top:0px}

.running .cont2 a:hover img{margin-top:-50px}



/* 서브3 */

.running .cont3{background:url(/images/adidas/club/2015rc/bg_product.png) no-repeat center bottom;position:relative}

.running .cont3 .btn{position:absolute;bottom:32px;right:40px;height:40px;overflow:hidden}

.running .cont3 .btn:hover img{margin-top:-40px}

.running .product_list1{float:left}

.running .product_list2{float:right}

.running .product_list1 dd,

.running .product_list2 dd

{margin-top:20px}

.running .product_list1{overflow:hidden}

.running .product_list1 li,

.running .product_list2 li

{float:left;height:311px;overflow:hidden;margin-left:4px}

.running .product_list1 li:first-child,

.running .product_list2 li:first-child

{margin-left:0px}

.running .product_list1 li a:hover img,

.running .product_list2 li a:hover img

{margin-top:-311px}



/* 서브4 */

.running .cont4 .cont_list{padding-bottom:0px}

.running .cont4 .btn{position:absolute;top:140px;right:40px;height:50px;overflow:hidden}

.running .product{position:relative;overflow:hidden;width:926px;padding:12px 12px 12px 13px;padding-top:0px;background:#e1e1e1}

.running .product_box{position:relative;overflow:hidden;width:10000px}

.running .product_list{float:left;width:930px;margin-left:10px}

.running .product_list:first-child{margin-left:0}

.running .product_list > li{position:relative;float:left;width:300px;height:420px;margin:12px 0 0 12px;background-color:#fff;}

.running .product_list > li.first{margin-left:0px}

.running .product_list > li .img{display:block;width:300px;background:#f5f5f5}

.running .product_list > li .img img{width:100%}

.running .product_list > li .img .info{position:absolute;top:0;right:0;text-align:center;width:75px;color:#fff;font-size:14px}

.running .product_list > li .img .info.expected{background:#ec0064;height:47px;padding-top:28px}

.running .product_list > li .img .info.soldout{background:#1b1b1b;line-height:18px;height:57px;padding-top:18px}

.running .product_list > li .cont_box{width:260px;background:#fff;padding:15px 20px;display:block;position:relative}

.running .product_list > li .cont_box .gender{font-size:14px;font-family:'adihaus';color:#000;display:block;margin-bottom:10px}

.running .product_list > li .cont_box .title{font-size:18px;font-family:'NotoSansKRRegular';color:#000;font-weight:bold;display:block;margin-bottom:30px}

.running .product_list > li .cont_box .price{font-size:24px;font-family:'NotoSansKRRegular';color:#ec0064;font-weight:bold;vertical-align:-3px}

.running .product_list > li .cont_box .txt{font-size:14px;color:#000;opacity:0.3;margin-left:3px}

.running .product_list > li .cont_box .view{position:absolute;top:15px;right:20px;color:#000;font-size:13px;font-family:'NotoSansKRRegular'}

.running .product .paging2{padding:0 20px;text-align:center;overflow:hidden;margin-top:30px}

.running .product .paging2 .prev{float:left;overflow:hidden;height:35px}

.running .product .paging2 .next{float:right;overflow:hidden;height:35px}

.running .product .paging2 > a:hover img{margin-top:-35px}

.running .product .paging2 .number{margin-top:12px;display:inline-block}

.running .product .paging2 .number > a{display:inline-block;vertical-align:middle;height:11px;overflow:hidden;margin-left:4px}

.running .product .paging2 .number > a:first-child{margin-left:0px;}

.running .product .paging2 .number > a.on img,

.running .product .paging2 .number > a:hover img{margin-top:-11px}

.running .product .comment{margin-top:50px;color:#000;padding-left:20px}



/* 서브5 */

.running .product_layer{position:absolute;top:440px;left:50%;z-index:101;width:870px;height:420px;background:#fff;padding:20px;margin-left:-455px}

.running .product_layer .close{position:absolute;top:20px;right:20px}

.running .product_layer h4.title{position:absolute;bottom:0px;left:0px;width:100%;background:#ec0064;padding:27px 0 28px;text-align:center}

.running .product_layer .img{float:left;width:260px}

.running .product_layer .img .layer_img_list{overflow:hidden;position:relative;width:303px;height:280px}

.running .product_layer .img .layer_img_list li{position:absolute;top:0;left:0}

.running .product_layer .img .paging_layer{margin-top:15px;text-align:center}

.running .product_layer .img .paging_layer a{display:inline-block;vertical-align:middle;height:11px;overflow:hidden;margin-left:4px}

.running .product_layer .img .paging_layer a:first-child{margin-left:0px}

.running .product_layer .img .paging_layer a.on img{margin-top:-11px}

.running .product_layer .info{float:right;width:540px;padding-top:15px}

.running .product_layer .info .gender{color:#000;font-size:20px; font-family:'adihaus';font-weight:bold}

.running .product_layer .info .title{color:#000;font-size:34px; font-family:'NotoSansKRLight';font-weight:bold;margin-top:15px}

.running .product_layer .info .code{color:#000;font-size:14px; font-family:'adihaus';margin-top:35px}

.running .product_layer .info .cont{color:#000;font-size:16px; font-family:'NotoSansKRRegular';line-height:24px;margin-top:10px}

.running .product_layer .info .point{color:#000;font-size:16px; font-family:'NotoSansKRRegular';font-weight:bold;margin-top:60px}

.running .product_layer .info .point em{margin-left:10px;color:#ec0064;font-size:36px; font-family:'adinenu-bold';font-weight:bold;vertical-align:-7px}

.running .product_layer .info .point img{margin-left:10px;vertical-align:-6px}



/* 서브6 */

.running .product_layer.table{height:auto}

.running .product_layer h4.title2{margin-top:20px}

.running .point_box2{background:#000;overflow:hidden;padding:10px 30px 0 0 ;margin-top:25px}

.running .point_box2 > div{float:right;overflow:hidden}

.running .point_box2 > div dl{overflow:hidden;margin-left:45px;float:left}

.running .point_box2 > div dl dt{font-size:14px;font-weight:bold;color:#fff;float:left;line-height:40px}

.running .point_box2 > div dl dd{font-size:30px;font-weight:bold;color:#fff;float:left;margin-left:20px;line-height:30px}

.running .point_box2 > div dl dd.color_ty1{color:#fffa3c}

.running .data_table{border-bottom:2px solid #000}

.running .data_table table thead tr th{padding:18px 30px;color:#000;font-size:16px;text-align:center;border-bottom:4px solid #000}

.running .data_table table tbody tr td{padding:18px 30px;color:#000;font-size:14px;border-top:1px solid #b2b2b2}

.running .data_table table tbody tr:first-child td{border-top:none}

.running .data_table table tbody tr td img{vertical-align:middle}

.running .data_table .text_center{text-align:center !important}

.running .data_table .text_right{text-align:right !important}

.running .paging3{padding:0 20px;text-align:center;margin-top:30px}

.running .paging3 > a img{vertical-align:middle}

.running .paging3 .number{margin:0 25px;display:inline-block}

.running .paging3 .number > a{display:inline-block;vertical-align:middle;margin-left:13px;font-size:16px;font-weight:bold}

.running .paging3 .number > a:first-child{margin-left:0px}

.running .paging3 .number > a.on{color:#ec0064}



/* 서브7,8 */

.running .cont5{background:url(/images/adidas/club/2015rc/bg_faq.jpg) no-repeat center 0;position:relative}



.running .cont5 .tabs2{overflow:hidden}

.running .cont5 .tabs2 li{float:left;margin-left:1px}

.running .cont5 .tabs2 li:first-child{margin-left:0px}

.running .cont5 .tabs2 li a{display:block;height:56px;overflow:hidden}

.running .cont5 .tabs2 li.on a img,

.running .cont5 .tabs2 li a:hover img

{margin-top:-56px}



.running .cont5 .faq_box li{border-bottom:1px solid #373737;position:relative;background:url(/images/adidas/club/2015rc/list_bg1.png) repeat 0 0}

.running .cont5 .faq_box li dt{padding:20px 40px;cursor:pointer}

.running .cont5 .faq_box li dt .icon{height:18px;overflow:hidden;display:inline-block;vertical-align:-2px}

.running .cont5 .faq_box li.on dt .icon img{margin-top:-18px}

.running .cont5 .faq_box li dt .title{color:#fff;font-size:16px;font-weight:bold;line-height:18px}

.running .cont5 .faq_box li.on dt .title{color:#fffa3c}

.running .cont5 .faq_box li dt .view{position:absolute;top:34px;right:45px;height:13px;overflow:hidden}

.running .cont5 .faq_box li.on dt .view img{margin-top:-13px}

.running .cont5 .faq_box li dd{padding:0 30px 25px 41px;font-size:14px;line-height:24px;color:#fff;display:none}

.running .cont5 .faq_box li dd p{line-height:20px;margin-top:15px}

.running .cont5 .faq_box li dd p:first-child{margin-top:0}

.running .cont5 .faq_box li dd a{display:block;margin-top:15px}

.running .cont5 .faq_box li dd .color_ty1{color:#fffa3c;font-size:14px;line-height:24px}

.running .cont_list .contBox > div{display:none}

.running .cont_list .contBox > div:first-child{display:block}

