@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#originals_winter{
	min-width: 950px;
	overflow: hidden;
	.top{
	    margin-left: 9.2%;
		padding: 75px 0 80px;
		@media screen and (max-width: 1280px){
			margin: 0 auto;
		}
		@media screen and (max-width: 1190px){
			width: 950px;
		}
	}

	.main_wrap{
		height: 960px;
		background: url('http://image.adidas.co.kr/images/adidas/event/originals/171019/main_bg.jpg') no-repeat;
		background-size: auto 100%;
	    background-position: center center;
		@media screen and (max-width: 1280px){
			height: 860px;
		}
		@media screen and (max-width: 1190px){
			height: 594px;
			background-size: auto 100%;
			background-position: 0 50%;
			.main{
				.txt{
					margin-left: -500px;
				}
				.thumb{
					top:55px;
					right:0;
					width: 600px;
				}
			}
		}
		@media screen and (max-width: 1020px){
			.main{
				.txt{
					margin-left: -472px;
				}
			}
		}
		@media screen and (max-width:950px){
    		height: 1013px;

			.top{
				margin: 0 auto;
			}
			.main{
				.txt{
					position: relative;
					padding: 60px 0 0 0;
					left:0;
					margin: 0 auto;
					width: 800px;
				}
				.thumb{
					margin: 0 auto;
					width: 800px;
					float: none;
				}
			}
		}

	}
	.main{
		position: relative;
		padding: 0 6.5%;
		.txt{
			padding: 22% 0 0 0;
		    position: absolute;
		    left: 50%;
		    margin-left: -590px;
			transition: all 0.6s;
			p{
				font:400 20px 'NotoSansKR';
				color:#fff;
				&.title{
					padding-bottom: 20px;
					strong{
						font:700 44px/44px 'NotoSansKR';
					}
				}
			}
			.btn-ctm{
				height: 55px;
				margin-top: 20px;
				width: 160px;
				background: transparent;
				border:2px solid #fff;
				span{
			    	margin-left: -27px !important;
					font-size: 18px;
					line-height: 55px;
					font-weight: 500;
					transition: initial;
				}
				&:hover{
					background: #fff;
					span{
						color:#000;
						&.spt_bg{
							display:inline-block;
						    width: 16px;
						    height: 16px;
						    background: url('http://image.adidas.co.kr/images/adidas/event/iniki/icon.png') no-repeat;
						    background-position: 0 0;
							color:#000;
						}
					}

				}
			}
		}
		.thumb{
			float: right;
		    width: 50%;
		    position: relative;
			top:145px;
			transition: all 0.6s;
			span{
				cursor: pointer;
				position: absolute;
				top:50%;
				left:50%;
				@include css3(transform, translate(-50%,-50%));
				z-index: 1;
			}
			.video_thumb{
				width: 100%;
			}
		}
	}
	.statement{
		position: relative;
		padding: 200px 0;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.ct950{
			position: relative;
			p{
				text-align: center;
				font:400 18px/26px 'NotoSansKR';
				color:#000;
				&.title{
					padding: 0 0 40px 0;
					font: 43px 'adihaus-bold';
					letter-spacing: 12px;
				}
			}
		}
	}
	.banners{
		position: relative;
		.box{
			position: relative;
			float: left;
			width: 50%;
			.bg{
				@media screen and (max-width:950px){
					width: 125%;
					position: relative;
					left: 50%;
					margin-left: -65%;
				}
				img{
					width: 100%;
				}
			}
			.txt{
				position: absolute;
				bottom:10%;
				left:50%;
				width: 290px;
				margin-left: -145px;
				z-index: 1;
				p{
					text-align: center;
					font:300 20px/24px 'NotoSansKR';
					color:#fff;
					&.title{
						text-transform: uppercase;
						padding: 0 0 10px 0;
						font: 36px 'adihaus-bold';
						letter-spacing: 2px;
					}
				}
				a{
					margin: 30px auto 0;
					width: 250px;
				}
			}
		}

		.btn-ctm{
			height: 55px;
			margin-top: 20px;
			width: 160px;
			background: #fff;
			border:2px solid #fff;
			span{
				margin-left: -27px !important;
				font-size: 18px;
				line-height: 55px;
				font-weight: 700;
				color:#000;
				&.spt_bg{
					display:inline-block;
					width: 16px;
					height: 16px;
					background: url('http://image.adidas.co.kr/images/adidas/event/iniki/icon.png') no-repeat;
					background-position: 0 0;
					color:#000;
				}
			}
			&:hover{
				background: #fff;
				span{
					color:#000;
					font-weight: 700;
				}
			}
		}

	}

}
