@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';


#adicolor{
	position: relative;
	z-index: -1;
	//common
	.button_area_v2{
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			width:initial;
			font: 700 14px/50px 'NotoSansKR';
			letter-spacing: .5px;
			padding: 0 20px;
		}
	}

	h1{
		font:30px/30px 'adinenuPro-bold';
		color:#000;
	}
	p{
		color:#000;
		font: 700 26px/26px 'NotoSansKR';
		letter-spacing: .5px;
	}

	// slide
	.slide_common{
		position:relative;
		h1{
			text-align: center;
			padding:50px 0 40px 0;
		}
		#sliders{
			margin:0 auto;
			ul{
				li{
					img{}
				}
			}
		}
		.prev-button{
			position:absolute;
			top:50%;
			left:50%;
			margin-top: -35px;
			margin-left: -530px;
			img{}
		}
		.next-button{
			position:absolute;
			top:50%;
			left:50%;
			margin-top: -35px;
			margin-left: 495px;
			img{}
		}
		.indicator{
			text-align: center;
			padding: 25px 0;
			a{
				border:1.5px solid #7f7f7f;
				border-radius: 50%;
				margin:0 2px;
				width:14px;
				height:14px;
				display: inline-block;
				&.on{
					background:#7f7f7f;
					// border:0;
				}
			}
		}
	}


	//시작
	.main{
		position: relative;
		height:800px;
		.img{
			position: absolute;
			top:0;
			left:50%;
			transform: translateX(-50%);
			z-index: -1;
		}
		.txt{
			width: 1200px;
			margin:0 auto;
			z-index: 1;
			padding:240px 30px 0;
			p{
				margin: 15px 0 25px;
			}
		}
	}
	.aside{
		position: relative;
		height: 160px;
		background:#000;
		.wrap{
			width:1200px;
			margin: 0 auto;
			padding: 40px 0 0;
			p{
				text-align: center;
				color:#fff;
				line-height: 35px;
			}
		}
	}

	.slide2{
		background:#def3f6;
	}
	.slide3{
		background:#fff3ed;
	}

	.btm{
		width:1200px;
		margin:50px auto;
		padding: 0 30px;
		&::after{
			display: block;
			content:'';
			clear:both;
		}
		.txt{
			float: left;
			img{
				vertical-align: -140%;
				margin-right:15px;
			}
			p{
				display: inline-block;
				letter-spacing: 1px;
			}
		}
		.button_area_v2{
			float: right;
		}
	}

}
