@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#keycityseoul {
	.rel{
		position: relative;
		height:800px;
	}
	.ct{
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
	}
	html,body{
		height:100%;
	}
	.button_area_v2{
		display: inline-block;
		&:hover{
			div{

				a{
					color: #767677;
					span{
						background: #767677;
						em{
							background: #767677;
						}
					}

				}
			}
		}
		a{
			letter-spacing: 1px;
			padding:0 20px;
		}
	}
	h1{
		font: 50px/50px 'adinenuPro-regular';
		color:#fff;
		span{
			font: 50px/50px 'adinenuPro-bold';
		}
	}
	.main__wrapper{
		height:1080px;
		.main__wrapper__img{
		}
		.main__wrapper__txt{
			position: absolute;
			top:145px;
			left: 29%;
			transform: translateX(-50%);
			p{
				font: 400 25px/33px 'NotoSansKR';
				color:#fff;
				margin:25px 0 0 0;
			}
			.button_area_v2{
				margin:35px 0 0 0;
			}
		}
	}
	.section__wrapper{
		height:923px;
		&:nth-child(2){
			height:1975px;
		}
		&:nth-child(3){
			height:1613px;
			.section__wrapper__txt{
				text-align: center;
				top: auto;
				transform: translateX(-50%);
				bottom:100px;
				.button_area_v2{
					margin:35px 0 0 0;
				}
			}			
		}
	}
}
