/*
	break width
 */
$break-small: 1000px;
$break-large: 1400px;
$width320:320px;
$width400:400px;
$width480:480px;
$width600:600px;
/*
	@@ mixin
 */
@mixin box-sizing($value){
			box-sizing: $value;
	-webkit-box-sizing: $value;
}

@mixin css3($prop,$value){
	#{$prop} :$value;
	-webkit-#{$prop} :$value;
	-moz-#{$prop}:$value;
	-o-#{$prop} :$value;
	-ms-#{$prop} :$value;
}

@mixin transition($prop , $duration , $easing , $delay){
	transition :$prop $duration $easing $delay;
	-webkit-transition :$prop $duration $easing $delay;
	-moz-transition:$prop $duration $easing $delay;
	-o-transition :$prop $duration $easing $delay;
}

@mixin opacity($value){
	opacity : $value;
	filter:alpha(opacity=$value * 100);
	-ms-filter:alpha(opacity=$value * 100);
}

@mixin transform($value){
	transform:$value;
	-webkit-transform:$value;
	-moz-transform:$value;
	-o-transform:$value;
}

@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    -webkit-animation-iteration-count:infinite;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    -moz-animation-iteration-count:infinite;

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    -o-animation-iteration-count:infinite;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    animation-iteration-count:infinite;
}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@media screen and (max-width: 320px) {
	html{
		font-size: 10px;
	}
}

@media screen and (min-width: 800px) {
	html{
		font-size: 12px;
	}
}

// for pseudo element
.pseudo-element{
	content:'';
	display: block;
}

#preloadPanel{
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left:0;
	z-index: 1000;
	@include css3(transition,opacity 0.9s);

	div{
		position: relative;
		font:50px 'adiBlack';
		color: #000;
		position: absolute;
		top:50%;
		left:50%;
		@include css3(transform,translate3d(-50%,-50%,0));


		&::after {
			@extend .pseudo-element;
			position: absolute;
			top: -110%;
			left: -210%;
			width: 200%;
			height: 100%;

			background: rgba(255, 255, 255, 0.5);
			background: linear-gradient(
			to right,
			rgba(255, 255, 255, 0.5) 0%,
			rgba(255, 255, 255, 0.5) 77%,
			rgba(255, 255, 255, 0.5) 92%,
			rgba(255, 255, 255, 0.0) 100%
			);

			@include opacity(0);
			@include css3(transform,rotate(30deg));
			@include animation(1s,1.2s,shining);

			transition-property: left, top, opacity;
			transition-duration: 0.7s, 0.7s, 0.15s;
			transition-timing-function: ease;

			-webkit-transition-property: left, top, opacity;
			-webkit-transition-duration: 0.7s, 0.7s, 0.15s;
			-webkit-transition-timing-function: ease;
		}
	}

	&.loaded{
		@include opacity(0);
	}
}

.video-viewer{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:100;

	.video{
		width: 100%;
		height: 100%;
		z-index: 6;
		position: absolute;
		top: 0;
		left: 0;
	}

	.close{
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 20;
		background-position: 0 -685px;
		@include opacity(0);
		@include css3(transition,opacity 0.4s ease-in 0.2s);
	}

	.bg{
		width: 100%;
		height: 100%;
		background: #000;
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;

		@include opacity(0);
		@include css3(transition,opacity 0.4s);
	}

	&.loaded{
		.bg{
			@include opacity(0.6);
		}

		.close{
			@include opacity(1);
		}

	}
}
#sports18{
	background: #fff;
	.visual{
		position: relative;
		overflow: hidden;
		height:801px;
		>img{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -952px;
		 }		
		h2{
			display: inline-block;
			position: absolute;
			top: 260px;
			left: 50%;
			margin-left: -595px;
			img{
				
			}
		}
		a {
			width: 146px;
			height: 50px;
			background-color: rgba(255, 255, 255, 0.7);
			color: #000;
			text-align: center;
			position: absolute;
			top: 460px;
			left: 50%;
			margin-left: -595px;	
			font:700 16px/48px 'NotoSansKR';
			box-sizing: border-box;
			-webkit-box-sizing: border-box;

			transition: .4s;
			&:hover {
				background: none;
				border: 2px solid #000;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				line-height: 46px;
			}		
		}
		.icons{
			display: inline-block;
			margin-left: 5px;
			width:14px;
			height: 13px;
			background-image: url('/images/adidas/event/sports18/180413/icons.png');
		}		
	}
	.statement{
		width: 100%;
		height: 180px;		
		.box1{	
			position: relative;
			top: 100px;
			left: 50%;
			margin-left: -595px;		
			width: 1190px;
			text-align: center;
			font: 19px/29px 'NotoSansKR';
			color: #000;

			opacity: 0;
			transition: .6s;			
		}
	}
	.bg{
		width:100%;
		height:520px;
		background-image: url('/images/adidas/event/sports17/bg.jpg');
		background-attachment: fixed;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size:cover;
		p{
			padding-top:120px;
			font: 26px/35px 'NotoSansKR';
			text-align: center;
			color:#000;
		}
	}
	// slider
	.wrap{
		width: 100%;
		height: 799px;
		position: relative;
		overflow: hidden;
		background: url('/images/adidas/event/sports18/180413/bg_slider.jpg') 0 0 no-repeat;
		.slider_wrap{
			margin:0 auto; position: relative;
			width:1150px;
						
			ul.slider{
				position: relative;
				top: 100px;

				opacity: 0;
				transition: .6s;
				li{
					width: 1150px;
					float:left;
					margin-top: 180px;
					.item{
						width: 1150px;
						height: 433px;
						img{
							&:first-child{
								float: left;
								margin-left: 50px;
							}
							&:last-child{
								float: right;
								margin-right: 50px;
							}
						}
					}										
				}
			}
			ul.slider:after{
				content: '';
				display: block;
				width: 0; height: 0;
				clear:both;
			}
		}
		.num_wrap{
			position: relative;
			width: 100%;
			margin-top: 80px;
			// overflow: hidden;
			height: 45px;
			.num{
				position: absolute;
				left:0;
				width: 10000px;
				a{
					position: relative;
					top:0;
					width:217px;
					display: inline-block;
					text-align: center;
					font:300 24px/30px 'adihaus';
					color:#000;
					vertical-align: middle;
					transition: all 0.3s ease-out;
					span{
						position: relative;
						display: inline-block;
						overflow: hidden;
						height: 45px;
						line-height: 35px;
						font-family: 'adihaus';
						font-weight: 300;
					}
				}
				a.on{
					position: relative;
					font: 24px/30px 'adihaus-bold';
					font-weight: 700;
					overflow: hidden;

					span{
						font-weight: 700;
					}

				}
			}
		}

		.btn{
			position: absolute;
			top: 380px;
			left: 50%;
			width: 950px;
			margin-left: -475px;
			z-index: 10;

			a{
				width:33px;
				height: 64px;
				position: absolute;
				top: 0;
				overflow: hidden;
				@include opacity(0.5);

				img{
					position: relative;
				}

				&.next{
					right: -120px;
					@include css3(transition,right 0.4s ease-out 0.1s);

					img{
						animation: arrow2 2s infinite;
						-webkit-animation: arrow2 2s infinite;
					}
				}

				&.prev{
					left: -120px;
					@include css3(transition,left 0.4s ease-out 0.1s);

					img{
						animation: arrow 2s infinite;
						-webkit-animation: arrow 2s infinite;
					}
				}


			}
		}
	}
	.video {
		background: url('/images/adidas/event/sports18/180413/bg_video.jpg')top left no-repeat;
		height: 800px;
		position: relative;	
		a{
			display: inline-block;
			width: 102px;
			height: 102px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -51px 0 0 -51px;
			background: url('/images/adidas/event/sports18/180413/play.png') left top no-repeat;
			background-size: contain;
			
			transition: .6s;
			text-indent: -5000px;			
			&:hover{
				background: url('/images/adidas/event/sports18/180413/play-ov.png') left top no-repeat;
				background-size: contain;
			}
		}		
	}
	.bot{
		position: relative;
		overflow: hidden;
		height:798px;
		>img{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -952px;
		 }		
		h2{
			display: inline-block;
			position: absolute;
			top: 305px;
			left: 50%;
			margin-left: 0px;
			img{
				width: 258px;
			}
		}
		p {			
			color: #fff;
			text-align: center;
			position: absolute;
			top: 460px;
			left: 50%;
			margin-left: -25px;	
			font:500 16px/16px 'NotoSansKR';		
		}		
	}
}




@include keyframe(shining){
	0%{
		opacity: 0;
		top: -110%;
		left: -210%;
	}

	100%{
		opacity: 1;
		top: 100%;
		left: 100%;
	}
}
@include keyframe(arrow){
	0%{
		left: 100%;
	}

	25%{
		left: 0%;
	}

	50%{
		left: 0%;
	}

	75%{
		left: 0%;
	}

	100%{
		left: -110%;
	}
}
@include keyframe(arrow2){
	0%{
		left: -100%;
	}

	25%{
		left: 0%;
	}

	50%{
		left: 0%;
	}

	75%{
		left: 0%;
	}

	100%{
		left: 110%;
	}
}
