@import "./front/css/reebok/scss/about.scss";

/* common */
#wrap{
    overflow: hidden;
    min-width: 1160px;
}
html,body{
	height:100%;
}
#contents_wrap{padding: 0;}
.btn{
	display: inline-block;
	>div{
		position: relative;
		&::before{
            border-bottom: 1px solid #000;
            border-left: 1px solid #000;
            bottom: -4px;
            height: 3px;
            left: 2px;
            width: calc(100% + 1px);
            content: "";
            display: block;
            position: absolute;
		}
		&::after{
            border-right: 1px solid #000;
            border-top: 1px solid #000;
            height: calc(100% + 1px);
            right: -4px;
            top: 2px;
            width: 3px;
            content: "";
            display: block;
            position: absolute;
        }
		a{
			padding: 0 25px;
			width: auto;
			font: 700 14px/46px 'NotoSansKR';
			letter-spacing: 0;
			position: relative;
			display: block;
			text-align: center;
			height: 48px;
			color: #fff;
			background:#000;
			z-index: 2;
			border: 1px solid #000;
			.arrow{
				margin-left: 17px;
				vertical-align: middle;
			}
		}
	}
	&.white{
		>div{
			&::before{
				border-bottom: 1px solid #fff;
				border-left: 1px solid #fff;
			}
			&::after{
				border-right: 1px solid #fff;
				border-top: 1px solid #fff;
			}
			a{
				color: #000;
				background:#fff;
				border: 1px solid #fff;
				.arrow{
				}
			}
		}
	}
}

.homeworkout {
	.main{
		position: relative;
		>img{
			display: block;
			width: 100%;
		}
		.cpn_bg{
			position: absolute;
			width: 1920px;
			top: 0;
			left: 50%;
			margin-left: -960px;
			img{
				display: block;
				width: 105%;
			}
		}
		.main_titbox{
			position: absolute;
			width: 1200px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
			text-align: center;
			h3{
				font: 700 40px/40px 'neueplak-ext';
				text-transform: uppercase;
				text-align: center;
				transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
				color:#fff;
			}
			h4{
				padding-top: 20px;
				font: 400 22px/22px 'neueplak';
				text-align: center;
				transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
				color:#fff;
			}
			p {
				font: 400 22px 'NotoSansKR';
				color: #fff;
				text-align: center;
			}

			.btn {
				margin-top: 20px;
			}
		}
	}
	
	.section{
		position: relative;
	}

	.sect_cont{
		background: #fff;
		>div{
			position: relative;
			.inn{
				position: relative;
				width: 1370px;
				margin: 0 auto;
				padding: 80px 0;
				text-align: center;
			}
			.cont_buybox{
				display: inline-block;
			}
			&.cont_fullvid{
				>video{
					display: block;
					width: 100%;
				}
				.btn-play {
					display: inline-block;
					width: 56px;
					height: 63px;
					position: absolute;
					top: 45%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 3;

					&:hover {
						opacity: 0.8;
					}
				}
			}

			&.cont_blog{
				.inn{
					>h3 {
						font: 700 40px/40px 'neueplak-ext';
						text-align: center;
						color: #000;
						padding-bottom: 50px;
					}
					ul{
						overflow: hidden;
						li{
							position: relative;
							float: left;
							width: 670px;
							&:first-child{
								margin-right: 30px;
							}
							>img{
								display: block;
								width: 100%;
							}
							>a{
								display: inline-block;
								position: absolute;
								top: 87%;
								left: 22%;
								width: 162px;
								height: 48px;
								// background: rgba(0,0,0, 0.6);
								z-index: 3;
							}
						}
					}
				}
			}

			&.cont_1{
				.vid_box{
					position: relative;
					display: inline-block;
					width: 670px;
					color: #000;
					text-align: center;
					&:first-child{
						margin-right: 26px;
					}
					video{
						display: block;
						width: 100%;
					}
					.btn-play{
						display: inline-block;
						width: 56px;
						height: 63px;
						position: absolute;
						top: 45%;
						left: 50%;
						transform: translate(-50%, -50%);
						z-index: 3;
						&:hover{
							opacity: 0.8;
						}
					}
					h4{
						margin: 20px 0 15px;
						font: 600 26px/26px 'neueplak-ext';
						text-align: center;
					}
					p{
						font: 400 22px/22px 'NotoSansKR';
						text-align: center;
					}
				}
			}
			&.cont_2{
				color: #000;
				.inn{
					padding-top: 0;
					>h3 {
						font: 700 40px/40px 'neueplak-ext';
						text-align: center;
					}

					>p {
						padding: 15px 0 50px;
						font: 400 24px/24px 'NotoSansKR';
						text-align: center;
					}

					ul {
						overflow: hidden;

						li {
							float: left;
							&:nth-child(2){
								margin: 0 20px;
							}
							img {
								display: block;
								width: 100%;
							}

							h4 {
								margin: 20px 0 15px;
								font: 600 26px/26px 'neueplak-ext';
								text-align: center;
								text-transform: uppercase;
							}

							p {
								font: 400 20px/20px 'NotoSansKR';
								text-align: center;
							}
						}
					}
				}
			}
			&.cont_3{
				overflow: hidden;
				color: #000;
				>h3 {
					font: 700 40px/40px 'neueplak-ext';
					text-align: center;
				}

				>p {
					padding: 15px 0 50px;
					font: 400 24px/24px 'NotoSansKR';
					text-align: center;
				}
				.gridlook {
					float: left;
					>div{
						overflow: hidden;
						float: left;
						img {
							display: block;
							width: 100%;
							transition: 5s;
						}
						&:hover{
							img{
								transform: scale(1.2);
							}
						}
					}
					
					&.grid_left,
					&.grid_right{
						width: 25%;
						>div{
							width: 100%;
						}
					}
					&.grid_center{
						width: 50%;
						>div {
							width: 33.3333%;
						}
					}
				}
			}
			&.cont_4 {
				padding-top: 80px;
				overflow: hidden;
				color: #000;

				>h3 {
					font: 700 40px/40px 'neueplak-ext';
					text-align: center;
				}

				>p {
					padding: 15px 0 50px;
					font: 400 24px/24px 'NotoSansKR';
					text-align: center;
				}

				>img{
					display: block;
					width: 100%;
				}
			}
			&.cont_5{
				color: #000;
				>h3 {
					font: 700 40px/40px 'neueplak-ext';
					text-align: center;
				}

				>p {
					padding: 15px 0 50px;
					font: 400 24px/24px 'NotoSansKR';
					text-align: center;
				}
				ul{
					overflow: hidden;
					width: 1150px;
					margin: 0 auto;
					li{
						float: left;
						width: 25%;
						margin: 0 0 50px;
						img{
							display: block;
							width: 100%;
						}
					}
				}

				.btn{
					display: inline-block;
				}
			}
		}
	}
}
