@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
html,body{
	height:100%;
}
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
button{
	outline:none;
}
.inner{
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}
.cf{
	clear:both;
	content:'';
	display:block;
}
#readyforsport{
	.button_area_v2{
		display: inline-block;
		&:hover{
			div{
				a{
					color: #767677;
					span{
						background: #767677;
						em{
							background: #767677;
						}
					}
	
				}
			}
		}
		div{
			&.white{
				.bg{
					box-shadow: inset 0 0 0 1px #fff;
					-webkit-box-shadow: inset 0 0 0 1px #fff;
					@include css3(transition, all 0.5s);
				}
				a{
					background: #fff;
				}
			}
			.bg{
				box-shadow: inset 0 0 0 1px #000;
				-webkit-box-shadow: inset 0 0 0 1px #000;
				@include css3(transition, all 0.5s);
			}
			a{
				letter-spacing: 1px;
				padding:0 20px;
				background: #000;
			}
		}
	}//버튼 
	.main_top{
		margin:60px 0;
		.txt{
			text-align:center;
			h1{
				text-align:center;
				position:relative;
				margin:40px 0 20px 0;
				
				&:before{
					content:'';
					display:block;
					position:absolute;left:50%;top:56px;
					background:#111;
					width:378px;
					height:1px;
					margin-left:-189px;
					font-weight:normal;
				}			
			}

			p{
				text-align:center;
				margin-bottom:40px;
			}
		}
		.video{
			margin:60px 0 125px 0;
			text-align:center;
			.visual_video{
				position:relative;
				.bg{
					text-align:center;
					img{
						border:10px solid #111;
					}
				}
				.video_btn{
					position:absolute;left:50%;top:50%;
					transform:translate(-50%, -50%);
					button{
						background:url('/images/adidas/2020/event/rdy/0626/play_btn.png')no-repeat;
						width:58px;
						height:63px;	
						border:0;
					}
				}
			}
			.video_txt{
				color:#111;
				p{
					text-align:center;
					font: 700 28px/32px 'NotoSansKR';
					font-style:italic;
					margin:20px 0 15px 0;
					letter-spacing:2px;
					span{
						display:block;
					}
				}
				em{
					display:block;
					text-align:center;
					font-style:normal;
					font: 400 18px/28px 'NotoSansKR';
				}
			}
		}
		.ready_box{
			margin:0 0 100px 0;
			overflow:hidden;
			.txt_list{
				overflow:hidden;
				.txt_le{
					float:left;
					width:50%;
				}
				.txt_ra{
					float:right;
					width:50%;
					text-align:right;
					p{
						color:#111;
						font: 500 18px/32px 'NotoSansKR';
						text-align:right;
						span{
							display:block;
						}
						em{
							display:block;
							padding:14px 0;
						}
					}
					strong{
						display:block;
						margin-top:20px;
						img{
														
						}
					}
				}
			}
			.img_list{
				margin-top:70px;
				ul{
					text-align:center;
					li{
						vertical-align:top;
						float:left;
						width:32.75%;
						margin-left:0.875%;
						&:first-child{
							margin-left:0;
						}
					}
				}
			}
		}
	}//main_top
	.messi_gym{
		.bg_box{
			height:820px;
			background:url('/images/adidas/2020/event/rdy/0626/messi_bg.jpg')no-repeat;
			background-size:cover;
			.messi_tit{
				color:#fff;
				text-align:center;
				h2{
					text-align:center;
					padding:50px 0 15px 0;
				}
				strong{
					display:block;
					text-align:center;
					font: 700 28px/28px 'NotoSansKR';
					letter-spacing:3px;
				}
				p{
					text-align:center;
					font: 300 19px/28px 'NotoSansKR';
					letter-spacing:1.5px;
					padding:15px 0 35px 0;
				}
			}
			.messi_list{
				padding-top:35px;
				overflow: hidden;
				ul{
					text-align:center;
					li{
						padding-bottom:15px;
						text-align:center;
						vertical-align:top;
						float:left;
						width:32.75%;
						margin-left:0.875%;
						&:first-child{
							margin-left:0;
						}
						.button_area_v2{
							padding-top:15px;
						}
					}
				}
			}
		}
	}//messi_gym
	.creat_story{
		margin:80px 0 90px 0;
		.txt{
			h2{
				color:#111;
				text-align:center;
				font: 700 30px/30px 'NotoSansKR';
			}
		}
		.story_list{
			margin-top:50px;
			overflow: hidden;
			ul{
				text-align:center; 
				li{
					text-align:center;
					vertical-align:top;
					float:left;
					width:32.5%;
					margin-left:1.25%;
					&:first-child{
						margin-left:0;
					}
				}
			}
		}
	}//creat_story end
	.border_bg{
		display:block;
		text-align:center;
		img{
			display:block;
			width:100%;
		}
	}// border_bg
	.creat_collection{
		margin:65px 0;
		.txt{
			h2{
				color:#111;
				font: 700 26px/30px 'NotoSansKR';
				text-align:center;
			}
		}
		.collection_list{
			margin-top:40px;
			overflow: hidden;
			ul{
				margin:0 30px;
				li{
					color:#111;
					vertical-align:top;
					float:left;
					text-align:center;
					width:31.57894736842%;
					margin-left:2.63157894737%;
					padding-bottom:15px;
					&:first-child{
						margin-left:0;
					}					
					h3{
						font:bold 22px/22px 'adinenuPro-bold';
						text-align:center;
						margin:15px 0 0 0;
						letter-spacing:2px;
					}
					p{
						color:#111;
						font: 400 16px/20px 'NotoSansKR';
						text-align:center;
						margin:0 0 20px 0;
						letter-spacing:0;
					}
				}
			}
		}
	}//creat_coll
	.ready_bot_txt{
		margin:80px 0 100px 0;
		p{
			color:#111;
			font: 400 24px/35px 'NotoSansKR';			
			text-align:center;
			span{
				display:block;
			}
			strong{
				font: 700 24px/35px 'NotoSansKR';			
			}
		}
		.tit{
			margin-top:70px;
			text-align:center;
			h1{
				text-align:center;
				position:relative;
				margin:40px 0 20px 0;
				
				&:before{
					content:'';
					display:block;
					position:absolute;left:50%;top:55px;
					background:#d2d2d2;
					width:378px;
					height:3px;
					margin-left:-189px;
					font-weight:normal;
				}			
			}

			p{
				text-align:center;
				margin-bottom:40px;
			}
		}
	}
}
