@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
#wrap{
    min-width: 1190px;
    overflow: hidden;
}
.campaign_critic{
    .btn{
        display: block;
        margin: 0 auto;
        text-align: center;
        a{
            display: inline-block;
            width: 260px;
            text-align: center;
            border:2px solid #c65159;
            font:500 16px/55px 'NotoSansKR';
            color:#c65159;
            @include prefix-css3(transition, all 0.6s);
            &:hover{
                    color:#fff;
                    background: #c65159;
            }
        }
    }
    .main{
        position: relative;
        height: 778px;
        .bg{
            position: absolute;
            left:50%;
            margin-left: -990px;
        }
        .btn{
            position: absolute;
            left:50%;
            top:506px;
            margin-left: -130px;
        }
    }

    .banner_rolling{
        position: relative;
        height: 714px;
        margin: 55px 0 40px;
        div{
            position: absolute;
            top:0;
            left:50%;
            margin-left: -845px;
            @include prefix-css3(opacity,0);
            @include prefix-css3(transition, all 0.6s);
            &.on{
                @include prefix-css3(opacity,1);
            }
        }
    }

    .banner_txt{
        padding: 0 0 38px 0;
        border-bottom: 10px solid #c65159;
        text-align: center;
        @media screen and(max-width: 1600px){
            img{
                width: 1000px;
            }
        }
    }

    .slider_section{
        position: relative;
        margin: 60px 0 40px 0;
    }

    .slider_wrap{
        position: relative;
        left: -351px;
        overflow: hidden;
        margin: 0 auto;
        @media screen and(max-width: 1600px){
            left: -480px;
        }
        #sliders{
            ul{
                position: relative;
                &:after{
                    content: '';
                    display: block;
                    clear:both;
                }
                li{
                    float: left;
                    margin-left: 400px;

                }
            }
        }
    }
    .next-button{
        position: absolute;
        top: 400px;
        left: 50%;
        margin-left: 375px;
        font: italic 16px 'DINWebPro-CondBold';
        color:#292b5c;
        @include prefix-css3(transition, all 0.4s);
        
        &:hover{
            color:#c65159;
            span{
                background: url('/images/reebok/event/about/Critic_collaboration/180406/arrow_next.png') no-repeat;
                background-position: 0 100%;
            }
        }
        span{
            display: inline-block;
            margin-left:12px;
            width: 35px;
            height: 7px;
            background: url('/images/reebok/event/about/Critic_collaboration/180406/arrow_next.png') no-repeat;
            background-position: 0 0;
        }
        @media screen and(max-width: 1600px){
            margin-left: 268px;
        }
        @media screen and(max-width: 1280px){
            margin-left: 334px;
        }
    }
    .indicator{
        padding: 0px 0 40px 0;
        text-align: center;
        span{
            margin: 0 3px;
            display: inline-block;
            width: 12px;
            height: 12px;
            border: 1px solid #d3434c;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            &:hover{
                background: #d3434c;
            }
            &.on{
                background: #d3434c;
            }
        }
    }
    .sliders_small_cuts{
        position: absolute;
        top: 80px;
        right: 50%;
        margin-right: -900px;
        @include prefix-css3(transition, all 0.4s);

        @media screen and(max-width: 1600px){
            margin-right: -660px;
            div{
                width: 400px;
                img{
                    width: 100%;
                }
            }
        }

        div{
            position: absolute;
            top:0;
            right: 0;
            @include prefix-css3(opacity,0);
            @include prefix-css3(transition, all 0.4s);
            // transition-delay: 2s;
            &.on{
                @include prefix-css3(opacity,1);
            }
        }
    }
    .slider_info_wrap{
        position: absolute;
        bottom: 38px;
        left: 50%;
        margin-left: 374px;
        width: 100%;
        @include prefix-css3(transition, all 0.4s);

        @media screen and(max-width: 1600px){
            margin-left: 268px;
        }
        @media screen and(max-width: 1280px){
            margin-left: 334px;
        }

        div{
            position: absolute;
            @include prefix-css3(opacity,0);
            @include prefix-css3(transition, all 0.4s);
            // transition-delay: 2s;
            &.on{
                z-index: 1;
                @include prefix-css3(opacity,1);
            }
            &.list2{
                top:-56px;
            }
            &.list3{
                top:-111px;
            }
            p{
                display: block;
                font: 16px 'DINWebPro-CondBold';
                color:#292b5c;
                span{
                    font: 16px 'DINWebPro-Cond';
                }
            }
            a{
                display: block;
                padding-bottom: 20px;
                font:500 14px 'NotoSansKR';
                color:#292b5c;
                span{
                    padding-left: 5px;
                }

            }
        }
    }
    .gallery{
        position: relative;
        min-width: 1190px;
        border-top:10px solid #c65159;
        border-bottom:10px solid #c65159;
        .col{
            &:after{
                content: '';
                display: block;
                clear: both;
            }
            .img{
                width: 25%;
                position: relative;
                float: left;
                overflow: hidden;
                perspective: 500px;
                -webkit-perspective: 500px;
                -moz-perspective: 500px;
                -o-perspective: 500px;
                -ms-perspective: 500px;
                &:hover{
                    img{
                        transition-duration: 10s;
                        -webkit-transition-duration: 10s;
                        -moz-transition-duration: 10s;
                        -o-transition-duration: 10s;
                        -ms-transition-duration: 10s;
                        transform: translate3d(0, 0, 100px);
                        -webkit-transform: translate3d(0, 0, 100px);
                        -moz-transform: translate3d(0, 0, 100px);
                        -o-transform: translate3d(0, 0, 100px);
                        -ms-transform: translate3d(0, 0, 100px);
                    }

                }
                &.col2{
                    width: 50%;
                }
                img{
                    vertical-align: top;
                    width: 100%;
                    transform: translate3d(0, 0, 0);
                    -webkit-transform: translate3d(0, 0, 0);
                    -moz-transform: translate3d(0, 0, 0);
                    -o-transform: translate3d(0, 0, 0);
                    -ms-transform: translate3d(0, 0, 0);
                    transition-duration: 3s;
                    -webkit-transition-duration: 3s;
                    -moz-transition-duration: 3s;
                    -o-transition-duration: 3s;
                    -ms-transition-duration: 3s;
                }
            }
        }
    }
    .bottom{
        padding: 60px 0 0 0;
        text-align: center;
        p{
            padding: 0 0 15px 0;
            text-align: center;
            font:500 20px 'NotoSansKR';
            color:#292b5c;
            letter-spacing: 5px;
        }
        img{
            margin: 30px 0 50px;
        }
    }

}
