/*
	break width
 */
$break-small: 1000px;
$break-large: 1400px;
$width320:320px;
$width400:400px;
$width480:480px;
$width600:600px;
/*
	@@ mixin
 */
@mixin box-sizing($value){
			box-sizing: $value;
	-webkit-box-sizing: $value;
}

@mixin prefix-css3($prop,$value){
	#{$prop} :$value;
	-webkit-#{$prop} :$value;
	-moz-#{$prop}:$value;
	-o-#{$prop} :$value;
	-ms-#{$prop} :$value;
}

@mixin transition($prop , $duration , $easing , $delay){
	transition :$prop $duration $easing $delay;
	-webkit-transition :$prop $duration $easing $delay;
	-moz-transition:$prop $duration $easing $delay;
	-o-transition :$prop $duration $easing $delay;
}

@mixin opacity($value){
	opacity : $value;
	// filter:alpha(opacity=$value * 100);
	// -ms-filter:alpha(opacity=$value * 100);
}

@mixin transform($value){
	transform:$value;
	-webkit-transform:$value;
	-moz-transform:$value;
	-o-transform:$value;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@media screen and (max-width: 320px) {
	html{
		font-size: 10px;
	}
}
@media screen and (min-width: 800px) {
	html{
		font-size: 12px;
	}
}

// for pseudo element
.pseudo-element{
	content:'';
	display: block;
}
/* video_layer */
.video_layer{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:110;

	.video{
		width: 100%;
		height: 100%;
		z-index: 6;
		position: absolute;
		top: 0;
		left: 0;
	}

	.close{
		width: 45px;
		height: 45px;
		position: absolute;
		top: 25px;
		right: 25px;
		z-index: 20;
		display: block;
		background:url('/images/reebok/event/about/sprite.png') -80px 0 no-repeat;
		text-indent: -5000px;

		@include opacity(0);
		@include prefix-css3(transition ,opacity 0.4s ease-in 0.5s);
	}

	.bg{
		width: 100%;
		height: 100%;
		background: #000;
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;

		@include opacity(0);
		@include prefix-css3(transition ,opacity 0.4s);
	}

	&.loaded{
		.bg{
			@include opacity(0.6);
		}

		.close{
			@include opacity(1);
		}
	}
}
/* video_layer end */



/* athletic */
.athletic{
	position: relative;
	background: #fff;

	.inner_wrap{
		position: relative;
		min-width: 1200px;
		overflow: hidden;
		.video_wrap{
			position: relative;
			padding:0 0 0 0;
			background:#000;
			height:602px;
			width: 100%;
			overflow:hidden;
			.player{
				// position: absolute;
		    // top: 50%;
				// left:50%;
		    // padding: 0;
		    // margin: 0 auto;
		    // width: 100%;
		    // height: 603px;

				video{
					// display: none;
					position: absolute;
					left: 50%;
					top: 50%;
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					z-index: 1;
				}
				.poster{
					position: absolute;
					top:0;
					left:50%;
					margin-left: -950px;
					img{

					}
				}
			}
		}
		.statement{
			height: 222px;
			position: relative;
			overflow: hidden;
			p{
				position: relative;
				margin-bottom: 8px;
				font: 21px/30px 'NotoSansKRLitght','Nanum Gothic';
				color: #fff;
				text-align: center;
				transition: all 0.8s;
				-webkit-transition: all 0.8s;
				-moz-transition: all 0.8s;
				-o-transition: all 0.8s;
				-ms-transition: all 0.8s;
				letter-spacing: -1px;
			}
		}
		.shoes{
			position: relative;
			background: url("http://image.adidas.co.kr/images/adidas/event/athletic/bg01.jpg") 0 0 no-repeat;
			background-size: 100% 100%;
			.box{
				width: 950px;
				margin: 0 auto;
				height: 450px;
				&.box2{
					.inner_box{
						.imgs{
							float:left;
						}
					}
					.txt{
						position: relative;
						top:123px;
						left:168px;
						text-align: left;

					}
				}
				&.box1{
					.inner_box{
						.imgs{
							float:right;
						}
						.txt{
							position: relative;
							top:110px;
							right:78px;
							float:right;
							text-align: right;
							.title{
								text-align: right;
							}
							.desc{
								text-align: right;
							}
						}
					}
				}
				&.box3{
					.inner_box{
						.txt{
							position: relative;
							top:110px;
							left:200px;
							float:left;
						}
					}
				}
				.inner_box{
					&:after{
						content:'';
						display:block;
						clear:both;
					}
					.imgs{
						float:left;
						// position:absolute;

						.img{
							top:100px;
							width:441px;
							height:450px;
							overflow:hidden;
							opacity:0;
							-moz-transition:top 0.8s,opacity 0.8s;
							-o-transition:top 0.8s,opacity 0.8s;
							-webkit-transition:top 0.8s,opacity 0.8s;
							transition:top 0.8s,opacity 0.8s;
						}
						img{
							width:100%;
							height:100%;
						}
					}
					.txt{
						.title{
							position: relative;
							top: 50px;
							font: 39px/50px 'adinenuPro-black','Nanum Gothic';
							color: #fff;
							letter-spacing: 2px;
							opacity: 0;
							text-align: left;
							transition: all 0.8s;
							-webkit-transition: all 0.8s;
							-moz-transition: all 0.8s;
							-o-transition: all 0.8s;
							-ms-transition: all 0.8s;
							letter-spacing: 1px;
							span{
								position:relative;
								// top:50px;
								font:22px/23px 'NotoSansKRRegular','Nanum Gothic';
								color:#fff;
								letter-spacing:2px;
								opacity:0;
								text-align:right;
								transition:all 0.8s;
								-webkit-transition:all 0.8s;
								-moz-transition:all 0.8s;
								-o-transition:all 0.8s;
								-ms-transition:all 0.8s;
								letter-spacing: -1px;
							}
						}
						.desc{
							position: relative;
					    top: 50px;
					    margin-top: 18px;
					    font: 18px/25px 'NotoSansKRLight','Nanum Gothic';
					    color: #fff;
					    opacity: 0;
					    transition: all 0.8s;
					    -webkit-transition: all 0.8s;
					    -moz-transition: all 0.8s;
					    -o-transition: all 0.8s;
					    -ms-transition: all 0.8s;
					    /* letter-spacing: 0px; */
						}

					}
				}
			}
		}
		.statement{
			.bg{
				width: 1920px;
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -955px;
			}
			p{
				margin-top: 70px;
				span{
					margin-top: 20px;
					font: 24px/39px 'NotoSansKR','Nanum Gothic';
					color: #fff;
					text-align: center;
				}
			}
		}
		.statement2{
			position: relative;
			margin: 0 auto;
			overflow: hidden;
			padding: 58px 0 65px;
			background: #000;
			text-align: center;
			p{
				position: relative;
				top: 60px;
				font: 20px/30px 'NotoSansKRLight','Nanum Gothic';
				color: #fff;
				text-align: center;
				transition: all 0.8s;
				-webkit-transition: all 0.8s;
				-moz-transition: all 0.8s;
				-o-transition: all 0.8s;
				-ms-transition: all 0.8s;
				opacity: 0;
				-webkit-opacity: 0;
				/* letter-spacing: 0.3px; */
				span{
					display: inline-block;
					font:22px/32px 'NotoSansKRBold','Nanum Gothic';
					color:#fff;
					text-align: center;
					margin-bottom: 19px;
				}
			}
		}
		.banners{
			position: relative;
			margin: 0 auto;
			overflow: hidden;
			.banner_bg{
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -952px;
			}
			.inner_banner{
				position: relative;
				padding-top: 30px;
				height: 430px;
				.center{
					box-sizing: border-box;
				    position: relative;
				    width: 100%;
				    text-align: center;
				    overflow: hidden;
					.bg{
						position: relative;
				    left: 50%;
				    margin-left: -279px;
				    opacity: 0;
						transition: all 0.8s;
				    -webkit-transition: all 0.8s;
				    -moz-transition: all 0.8s;
				    -o-transition: all 0.8s;
				    -ms-transition: all 0.8s;
					}
					.txt{
						width: 100%;
				    position: absolute;
				    top: 60%;
				    left: 0;
				    margin-top: -50px;
				    text-align: center;
				    transition: all 0.8s;
				    -webkit-transition: all 0.8s;
				    -moz-transition: all 0.8s;
				    -o-transition: all 0.8s;
				    -ms-transition: all 0.8s;
				    opacity: 0;
				    -webkit-opacity: 0;
						p.title{
							font: 45px/50px 'adinenuPro-bold','Nanum Gothic';
							text-transform: uppercase;
							color: #fff;
							letter-spacing: 2px;
							text-align: center;
						}
						a.buy{
							position:relative;
							margin-top:20px;
							display:inline-block;
							padding:0 22px 0 25px;
					    font: 16px/57px 'NotoSansKR','Nanum Gothic';
							background: none;
							color: #fff;
							overflow:hidden;
							transition:all 0.8s;
							-webkit-transition:all 0.8s;
							-moz-transition:all 0.8s;
							-o-transition:all 0.8s;
							-ms-transition:all 0.8s;
							opacity: 1;
							-webkit-opacity: 1;
							-moz-opacity: 1;
							-o-opacity: 1;
							-ms-opacity: 1;
							border:1px solid #fff;
							&:hover{
								background:#fff;
								border:1px solid #fff;
								color:#000;
							}
						}
					}
				}
			}
		}
		.buy{
			display:inline-block;
			margin-top:25px;
			width:250px;
			font:16px/57px 'NotoSansKR','Nanum Gothic';
			background:none;
			color:#fff;
			opacity:0;
			text-align: center;
			border:1px solid #fff;
			transition:all 0.8s;
			-webkit-transition:all 0.8s;
			-moz-transition:all 0.8s;
			-o-transition:all 0.8s;
			-ms-transition:all 0.8s;
			letter-spacing: -1px;
			&:hover{
				background:#fff;
				color:#000;
				border:1px solid #fff;
			}
		}


	}
}
/* End of athletic */


/*
 * For ie old version
 */
