/*
	break width
 */
$break-small: 1000px;
$break-large: 1400px;
$width320:320px;
$width400:400px;
$width480:480px;
$width600:600px;
/*
	@@ mixin
 */
@mixin box-sizing($value){
			box-sizing: $value;
	-webkit-box-sizing: $value;
}

@mixin prefix-css3($prop,$value){
	#{$prop} :$value;
	-webkit-#{$prop} :$value;
	-moz-#{$prop}:$value;
	-o-#{$prop} :$value;
	-ms-#{$prop} :$value;
}

@mixin transition($prop , $duration , $easing , $delay){
	transition :$prop $duration $easing $delay;
	-webkit-transition :$prop $duration $easing $delay;
	-moz-transition:$prop $duration $easing $delay;
	-o-transition :$prop $duration $easing $delay;
}

@mixin opacity($value){
	opacity : $value;
	// filter:alpha(opacity=$value * 100);
	// -ms-filter:alpha(opacity=$value * 100);
}

@mixin transform($value){
	transform:$value;
	-webkit-transform:$value;
	-moz-transform:$value;
	-o-transform:$value;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@media screen and (max-width: 320px) {
	html{
		font-size: 10px;
	}
}
@media screen and (min-width: 800px) {
	html{
		font-size: 12px;
	}
}

// for pseudo element
.pseudo-element{
	content:'';
	display: block;
}
/* video_layer */
.video_layer{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:110;

	.video{
		width: 100%;
		height: 100%;
		z-index: 6;
		position: absolute;
		top: 0;
		left: 0;
	}

	.close{
		width: 45px;
		height: 45px;
		position: absolute;
		top: 25px;
		right: 25px;
		z-index: 20;
		display: block;
		background:url('/images/reebok/event/about/sprite.png') -80px 0 no-repeat;
		text-indent: -5000px;

		@include opacity(0);
		@include prefix-css3(transition ,opacity 0.4s ease-in 0.5s);
	}

	.bg{
		width: 100%;
		height: 100%;
		background: #000;
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;

		@include opacity(0);
		@include prefix-css3(transition ,opacity 0.4s);
	}

	&.loaded{
		.bg{
			@include opacity(0.6);
		}

		.close{
			@include opacity(1);
		}
	}
}
/* video_layer end */

/* athletic */
.athletic{
	position: relative;
	background: #fff;
	min-width: 1280px;
	overflow: hidden;

	.button{
		padding: 22px 36px;
		display: inline-block;
		background: #fff;
		font:700 17px/17px 'NotosansKR','Nanum Gothic';
		letter-spacing: -0.5px;
		color: #000;
		&:hover{
			background: #000;
			color:#fff;
		}
	}


	.masthead{
		width: 100%;
		height: 495px;
		position: relative;

		.bg{
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -960px;
		}

		h3{
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -100px 0 0 -125px;
			z-index: 10;
		}
	}

	.statement{
		width: 100%;
		height: 337px;
		position: relative;
		background: #f4f4f4;

		.copy_wrap{
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -90px;

			text-align: center;
			>*{
				text-align: center;
				letter-spacing: -0.5px;
			}

			h4{
				color:#000;
				margin-bottom: 15px;
				font:500 18px/18px 'NotoSansKR','Nanum Gothic';
			}

			.desc{
				color:#000;
				margin-bottom: 15px;
				font:300 18px/35px 'NotoSansKR','Nanum Gothic';
			}
		}
	}

	.category_box{
		position: relative;
		width: 100%;
		height: 600px;

		.bg{
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -960px;
		}

		.copy_wrap{
			position: absolute;
			width: 950px;
			top: 50%;
			left: 50%;
			z-index: 10;
			margin: -80px 0 0 -475px;

			>*{
				text-align: left;
			}

			h5{
				margin-bottom: 10px;
				font:42px/42px 'adiBlack';
				color: #fff;
				letter-spacing: 4.4px;
			}

			.desc{
				margin-bottom: 30px;
				font:500 20px/20px 'NotoSansKR','Nanum Gothic';
				color: #fff;
			}

			&.align_r{
				text-align: right;
				>*{
					text-align:right;
				}
			}
		}
		&.box_men{
			&.effect{
				.thumb_img{
					.thumnail{
						padding: 0 0 0 310px;
						width: 856px;
						@include opacity(1);
					}
				}
			}
		}
		&.box_women{
			&.effect{
				.thumb_img{
					.thumnail{
						left:-200px;
						width: 856px;
						@include opacity(1);
					}
				}
			}
		}

		.thumb_img{
			position: relative;
			.shadow{
				position: absolute;
				top:0;
				z-index: 1;
				@include opacity(0.2);
			}
			&.women{
				.thumnail{
					left:0;
					padding: 0;
				}
			}
			.thumnail{
				position: relative;
				top:60px;
				padding: 0px 0 0 100px;
				width: 110%;
				@include opacity(0);
				@include transition (opacity,0.8s);
			}
		}
	}

	.banner_box{
		position: relative;
		height: 700px;
		&:hover{
			.bg{
				&:after{
					background: rgba(0,0,0,0.2);
				}
				img{
					@include transform(scale(1.2));
				}
			}
		}

		.bg{
			position: absolute;
			top: 30px;
			left: 50%;
			margin-left: -741px;
			overflow: hidden;
			// @include transition (all, 8s);
			&:after{
				position: absolute;
				top:0;
				left:0;
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0);
				@include transition (all, 0.8s);

			}

			img{
				@include transition (all, 8s);
			}

		}

		.copy_wrap{
			display: inline-block;
			width: 470px;
			position: absolute;
			// width: 950px;
			width: 550px;
			top: 50%;
			left: 50%;
			z-index: 10;
			// margin: -90px 0 0 -475px;
			text-align: center;
			@include transform(translate(-50%,-50%));

			>*{
				text-align: center;
			}

			h5{
				margin-bottom: 14px;
				font:42px/42px 'adiBlack';
				color: #fff;
				letter-spacing: 5px;
				text-transform: uppercase;
				span{
					margin: 0 3px;
					font-family: 'adiLight';
				}
			}

			.desc{
				margin-bottom: 30px;
				font:20px/20px 'NotoSansKR','Nanum Gothic';
				color: #fff;
			}

		}
	}

}
/* End of athletic */
