/*
	break width
 */
$notoFontFamily:'NotoSansKR','Nanum Gothic';
/*
	@@ mixin
 */
@mixin box-sizing($value){
			box-sizing: $value;
	-webkit-box-sizing: $value;
}

@mixin css3($prop,$value...){
	#{$prop} :$value;
	-webkit-#{$prop} :$value;
	-moz-#{$prop}:$value;
	-o-#{$prop} :$value;
	-ms-#{$prop} :$value;
}

@mixin transition($prop , $duration , $easing , $delay){
	transition :$prop $duration $easing $delay;
	-webkit-transition :$prop $duration $easing $delay;
	-moz-transition:$prop $duration $easing $delay;
	-o-transition :$prop $duration $easing $delay;
}

@mixin opacity($value){
	opacity : $value;
	filter:alpha(opacity=$value * 100);
	-ms-filter:alpha(opacity=$value * 100);
}

@mixin transform($value){
	transform:$value;
	-webkit-transform:$value;
	-moz-transform:$value;
	-o-transform:$value;
}

@mixin animation ($delay, $duration, $animation , $fillmode , $iteration) {

    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    -webkit-animation-iteration-count:$iteration;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    -moz-animation-iteration-count:$iteration;

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    -o-animation-iteration-count:$iteration;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    animation-iteration-count:$iteration;
}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@media screen and (max-width: 320px) {
	html{
		font-size: 10px;
	}
}

@media screen and (min-width: 800px) {
	html{
		font-size: 12px;
	}
}

// for pseudo element
.pseudo-element{
	content:'';
	display: block;
}


.button1{
	width: 250px;
	padding: 16px 0;
	display: inline-block;
	background: #fff;
	background:rgba(255,255,255,0.9);
	text-align: center;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;

	&:hover{
		background:rgba(255,255,255,1);
	}

	span{
		position: relative;
		left: -5px;
		display: inline-block;
		font:400 16px $notoFontFamily;
		color: #000;
		display: block;

		.spt_bg{
			width: 15px;
			height: 15px;
			background-position: right -758px;
			position: absolute;
			top: 4px;
			left: auto;
			right: -19px;
		}
	}
}

.no_scroll{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#musthave{
	width: 100%;
	position: relative;
	background: #ededed;
	overflow: hidden;

	.button{
		display: inline-block;
		width: 347px;
		height: 66px;
		background: #000;
		text-align: center;

		span{
			position: relative;
			display: inline-block;
			margin-top: 24px;
			right: 8px;
			font:18px/18px 'NotoSansKR','Nanum Gothic';
			color: #fff;

			.icon{
				width: 17px;
				height: 16px;
				display: block;
				margin-top: 0;
				background:url('/images/adidas/event/musthave/arrow.png');
				position: absolute;
				top: 1px;
				right: -21px;
			}
		}
	}

	.inner{
		width: 1190px;
		height: 100%;
		margin: 0 auto;
		position: relative;

		@media screen and (max-width: 1190px) {
			width: 950px;
		}
	}

	.masthead{
		width: 100%;
		height: 520px;
		position: relative;
		margin: 140px 0 300px;
		background: #000;

		h2{
			position: absolute;
			left: 501px;
			top: 46px;
		}

		.img{
			position: absolute;
			top: -16px;
			left: 0;

			img{
				position: relative;
				z-index: 5;
			}

			.bg{
				width: 463px;
				height: 679px;
				background: #5bd3be;
				position: absolute;
				top: -44px;
				left: -30px;
			}
		}
		/* .masthead > .img END */

		.copy{
			width: 747px;
			height: 425px;
			padding:97px 0 0 280px;
			background: #96adab;
			position: absolute;
			right: -80px;
			bottom: -197px;

			p{
				color: #fff;

				&.name{
					margin-bottom: 15px;
					font:700 23px/23px $notoFontFamily;
					letter-spacing: 13px;
				}

				&.sub_title{
					margin-bottom: 11px;
					font:24px/24px 'adinenuPro-bold';
					letter-spacing: 3px;

					span{
						font-family: 'adihausDIN-Cond';
						letter-spacing: 2px;
					}
				}

				&.name_eng{
					margin-bottom: 5px;
					font:60px/60px 'adinenuPro-black';
					letter-spacing: 7px;
				}

				&.short_desc{
					position: relative;
					padding-bottom: 14px;
					margin-bottom: 11px;
					font:28px/28px 'adihausDIN-Cond';
					letter-spacing: 2px;

					&::after{
						@extend .pseudo-element;
						position: absolute;
						left: 0;
						bottom: 0;
						width: 24px;
						height: 1px;
						background: #fff;
					}
				}

				&.desc{
					font:400 18px/32px $notoFontFamily;
				}
			}
		}
		/* .masthead > .copy END */

	}
	/* masthead END */

	.statement{
		position: relative;
		padding: 30px 0;
		height: 429px;
		margin-bottom: 100px;

		.inner{
			z-index: 5;
		}

		.box{
			position: absolute;
			top: 0;
			left: 0;

			&.box2{
				right: 0;
				left: auto;
			}
		}

		.background_wrapper{
			width: 100%;
			min-width:1500px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;

			.bg_box{
				float: left;
				height: 100%;

				&.bg_box1{
					width: 25%;
					background: #d1b9b8;
				}

				&.bg_box2{
					width: 42.5%;
					background: #000;
				}

				&.bg_box3{
					width: 25%;
					background: #e86864;
				}
			}
		}
		/* statement > .background_wrapper END */
	}
	/* statement END */

	.fetures_wrapper{
		.fetures_box{
			position: relative;
			height: 450px;
			margin-bottom: 125px;

			.imgbox{
				position: absolute;
				top: 0;
				left: 32px;

				img{
					position: relative;
					z-index: 5;
				}

				.bg{
					width: 450px;
					height: 450px;
					position: absolute;
					bottom: -30px;
					left: -32px;
					background: #d2d9e4;
				}
			}

			.copy{
				position: absolute;
				top: 50%;
				left: 565px;
				@include css3(transform,translate3d(0,-50%,0));

				.ie9 &,
				.ie8 &,
				.ie7 &{
					margin-top: -135px;
				}

				dt{
					margin-bottom: 15px;
				}

				dd{
					.sub_title{
						margin-bottom: 30px;
					}

					.desc{
						margin-bottom: 50px;
						font:400 20px/28px 'NotoSansKR','Nanum Gothic';
						color: #000;
					}

					.button{

					}
				}
			}
			/* .fetures_wrapper > fetures_box > copy END */

			&.type2{
				.imgbox{
					left: auto;
					right: 32px;

					.bg{
						left: 32px;
					}
				}

				.copy{
					left: auto;
					right: 560px;

					dt{
						text-align: right;
					}

					dd{
						text-align: right;
						.sub_title{
							text-align: right;
						}

						.desc{
							text-align: right;
						}
					}
				}
			}
			/* .fetures_wrapper > fetures_box.type2 END */

			&.box2{
				.imgbox{
					.bg{
						background: #fbdaca;
					}
				}
			}
			/* .fetures_wrapper > fetures_box.type2 END */

			&.box3{
				.imgbox{
					.bg{
						bottom: 30px;
						background: #dddceb;
					}
				}
			}
			/* .fetures_wrapper > fetures_box.type2 END */

			&.box4{
				.imgbox{
					.bg{
						bottom: 30px;
						background: #e7d9c7;
					}
				}
			}
			/* .fetures_wrapper > fetures_box.type2 END */


		}
		/* .fetures_wrapper > fetures_box END */
	}
	/* fetures_wrapper END */



	@media screen and (max-width: 1190px) {

		.masthead{
			height: 400px;
			margin: 100px 0 200px;

			h2{
				left: 420px;
    			top: 40px;

				img{
					width: 530px;
				}
			}

			.img{
				top: -40px;

				img{
					width: 375px;
				}

				.bg{
					width: 375px;
					height: 549px;
					top: -30px;
				}
			}
			/* .masthead > .img END */

			.copy{
				width: 610px;
				height: 340px;
				padding: 65px 0 0 310px;
				bottom: -170px;

				p{
					&.name{
						margin-bottom: 10px;
						font:700 19px/19px $notoFontFamily;
						letter-spacing: 10px;
					}

					&.sub_title{
						margin-bottom: 7px;
						font:20px/20px 'adinenuPro-bold';
					}

					&.name_eng{
						margin-bottom: 5px;
						font:50px/50px 'adinenuPro-black';
						letter-spacing: 7px;
					}

					&.short_desc{
						font:22px/22px 'adihausDIN-Cond';
					}

					&.desc{
						font:400 16px/27px $notoFontFamily;
					}
				}
			}
			/* .masthead > .copy END */

		}
		/* masthead END */

		.statement{
			padding: 30px 0;
			height: 338px;

			.box{
				img{
					width: 460px;
				}
			}

			.background_wrapper{
				min-width:950px;

				.bg_box{
					float: left;
					height: 100%;

					&.bg_box1{
						width: 27%;
					}

					&.bg_box2{
						width: 46%;
					}

					&.bg_box3{
						width: 27%;
					}
				}
			}
			/* statement > .background_wrapper END */
		}
		/* statement END */



		.fetures_wrapper{
			.fetures_box{
				position: relative;
				height: 400px;
				margin-bottom: 125px;

				.imgbox{

					img{
						width: 400px;
					}

					.bg{
						width: 400px;
						height: 400px;
					}
				}

				.copy{
					left: 500px;

					dd{
						.sub_title{
							margin-bottom: 30px;
						}

						.desc{
							margin-bottom: 30px;
							font:400 17px/25px 'NotoSansKR','Nanum Gothic';
							color: #000;
						}

						.button{
							width: 260px;
							height: 55px;

							span{
								margin-top: 18px;
								font-size: 17px;
								.icon{
									margin-top: 0;
								}
							}
						}
					}
				}
				/* .fetures_wrapper > fetures_box > copy END */

				&.type2{
					.copy{
						right: 500px;
					}
				}
				/* .fetures_wrapper > fetures_box.type2 END */


				&.box1{
					.copy{
						dt{
							img{
								width: 190px;
							}
						}

						dd{
							.sub_title{
								img{
									width: 295px;
								}
							}
						}
					}
				}
				/* .fetures_wrapper > fetures_box.type2 END */

				&.box2{
					.copy{
						dt{
							img{
								width: 284px;
							}
						}

						dd{
							.sub_title{
								img{
									width: 326px;
								}
							}
						}
					}
				}
				/* .fetures_wrapper > fetures_box.type2 END */

				&.box3{
					.copy{
						dt{
							img{
								width: 359px;
							}
						}

						dd{
							.sub_title{
								img{
									width: 393px;
								}
							}
						}
					}
				}
				/* .fetures_wrapper > fetures_box.type2 END */

				&.box4{
					.copy{
						dt{
							img{
								width: 325px;
							}
						}

						dd{
							.sub_title{
								img{
									width: 496px;
								}
							}
						}
					}
				}
				/* .fetures_wrapper > fetures_box.type2 END */


			}
			/* .fetures_wrapper > fetures_box END */
		}
		/* fetures_wrapper END */

	}
	/* Max width 1190 */
}
