/*
	break width
 */
$break-small: 1000px;
$break-large: 1400px;
$width320:320px;
$width400:400px;
$width480:480px;
$width600:600px;
/*
	@@ mixin
 */
@mixin box-sizing($value){
			box-sizing: $value;
	-webkit-box-sizing: $value;
}

@mixin prefix-css3($prop,$value...){
	#{$prop} :$value;
	-webkit-#{$prop} :$value;
	-moz-#{$prop}:$value;
	-o-#{$prop} :$value;
	-ms-#{$prop} :$value;
}

@mixin transition($prop , $duration , $easing , $delay){
	transition :$prop $duration $easing $delay;
	-webkit-transition :$prop $duration $easing $delay;
	-moz-transition:$prop $duration $easing $delay;
	-o-transition :$prop $duration $easing $delay;
}


@mixin opacity($value){
	opacity : $value;
	filter:alpha(opacity=$value * 100);
	-ms-filter:alpha(opacity=$value * 100);
}

@mixin transform($value){
	transform:$value;
	-webkit-transform:$value;
	-moz-transform:$value;
	-o-transform:$value;
}

@mixin animation ($delay, $duration, $animation , $fillmode , $iteration) {

    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    -webkit-animation-iteration-count:$iteration;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    -moz-animation-iteration-count:$iteration;

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    -o-animation-iteration-count:$iteration;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    animation-iteration-count:$iteration;
}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@media screen and (max-width: 320px) {
	html{
		font-size: 10px;
	}
}

@media screen and (min-width: 800px) {
	html{
		font-size: 12px;
	}
}

.bra_common_inner{
	width: 100%;
	max-width: 1190px;
	min-width:1000px;
	position: relative;
	margin: 0 auto;
}

// for pseudo element
.pseudo-element{
	content:'';
	display: block;
}

#preloadPanel{
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left:0;
	z-index: 1000;
	@include opacity(0);
	@include prefix-css3(transition,opacity 1s);

	div{
		position: relative;
		font:60px 'adiBlack';
		color: #000;
		position: absolute;
		top:50%;
		left:50%;
		@include prefix-css3(transform,translate3d(-50%,-50%,0));
		text-transform:uppercase;


		&::after {
			@extend .pseudo-element;
    			position: absolute;
    			top: -110%;
    			left: -210%;
    			width: 200%;
    			height: 100%;

    			background: rgba(255, 255, 255, 0.5);
    			background: linear-gradient(
    			to right,
    			rgba(255, 255, 255, 0.5) 0%,
    			rgba(255, 255, 255, 0.5) 77%,
    			rgba(255, 255, 255, 0.5) 92%,
    			rgba(255, 255, 255, 0.0) 100%
			);

			@include opacity(0);
			@include prefix-css3(transform,rotate(30deg));
			@include animation(0.5s,1.6s,shining,fowards,infinite);

			transition-property: left, top, opacity;
			transition-duration: 1.2s, 1.7s, 0.15s;
			transition-timing-function: ease;

			-webkit-transition-property: left, top, opacity;
			-webkit-transition-duration: 1.2s, 1.7s, 0.15s;
			-webkit-transition-timing-function: ease;
		}
	}

	&.loaded{
		@include prefix-css3(transition-duration,0.3s);
		@include opacity(1);
	}
}

.button1{
	width: 250px;
	padding: 16px 0;
	display: inline-block;
	background: #fff;
	background:rgba(255,255,255,0.9);
	text-align: center;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;

	&:hover{
		background:rgba(255,255,255,1);
	}

	span{
		position: relative;
		left: -5px;
		display: inline-block;
		font:400 16px 'NotoSansKR','Nanum Gothic';
		color: #000;
		display: block;

		.spt_bg{
			width: 15px;
			height: 15px;
			background-position: right -758px;
			position: absolute;
			top: 4px;
			left: auto;
			right: -19px;
		}
	}
}

.no_scroll{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#originals_summner{
	width: 100%;
	position: relative;
	background: #fff;
	overflow: hidden;
	.spt_bg{
		position: relative;
		top:3px;
		margin-left: 8px;
	    display: inline-block;
		width: 15px;
		height: 15px;
		background: url('/images/adidas/common/adidas_spirite.png') 0 0 no-repeat;
		background-position: -688px -845px;
	}
	.main{
		margin-bottom: 170px;
		.move-bg{
			position: absolute;
			top:36px;
			left:-60px;
			width: 0px;
			height: 44px;
			background: #b7f2d9;
			@include prefix-css3 (transition, all 0.5s);
			&.active{
				width: 627px;
			}
		}
		h2{
			position: relative;
		    top: 230px;
		    display: inline-block;
			img{
				position: relative;z-index: 1;
			}
			.move-bg{
				top:135px;
				left: -140%;
				height: 178px;
				background: #ffed62;
			}
		}
		p{
			position: absolute;
			top:68px;
			left:-22px;
			img{
				position: relative;z-index: 1;
			}
		}
		.visual{
			float: right;
			margin-right: -122px;
		}
	}

	.prd-slider-wrapper{

		#slider1{
			&.scroll{
				.ct950{
					top:0;
					@include opacity(1);
					transition: all 0.8s;
					-webkit-transition: all 0.8s;
				}
			}
			.inner_img{
				position: absolute;
				top:118px;
				left:50%;
				@include opacity(0);
				transition: all 0.8s;
				-webkit-transition: all 0.8s;
				&.scroll{
					margin-left: -386px;
					@include opacity(1);
				}
			}
			.ct950{
				position: relative;
				top:100px;
				@include opacity(0);
			}
		}
		.item-wrapper#slider2{
			&.scroll{
				.ct950{
					top:0;
					@include opacity(1);
					transition: all 0.8s;
					-webkit-transition: all 0.8s;
				}
			}
			.inner_img{
				position: absolute;
				top:206px;
				left:50%;
				@include opacity(0);
				transition: all 0.8s;
				-webkit-transition: all 0.8s;
				&.scroll{
					top:206px;
					margin-left: -340px;
					@include opacity(1);
				}
			}
			.ct950{
				position: relative;
				top:100px;
				@include opacity(0);

				.indicator{
					span{
						&.active{
							border: 10px solid #ecff49;
						}
					}
				}
			}

		}
		.item-wrapper{
			position: relative;
			background:#5de9ad;
			.ct950{
				position: relative;
				width: 1400px;
				overflow: hidden;
				z-index: 5;
			}
			.bgs{
				position: absolute;
				left:100%;
				top:0;
				width: 100%;
				height: 100%;
				z-index: 0;
				div{
					position: absolute;
					top:0;
					left: 0;
					width: 100%;
					height: 100%;
					&.colorbox1{background: #b7f2d9;}
					&.colorbox2{
						background: #ffed62;
						transition-delay: 0.2s;
					}
					&.colorbox3{
						background: #ff3b5a;
						transition-delay: 0.4s;
					}
					&.colorbox4{
						background: #5de9ad;
						transition-delay: 0.6s;
					}

					&.colorbox5{
						background: #a2ff00;
					}
					&.colorbox6{
						background: #000;
						transition-delay: 0.4s;
					}
					&.colorbox7{
						background: #fff;
						transition-delay: 0.6s;
					}
					&.colorbox8{
						background: #def51e;
						transition-delay: 0.8s;
					}
					transition: all 0.5s;
				}
				&.center{
					div{
						left:-100%;
					}
				}
			}
			.section_main{
				position: relative;
				text-align: center;
				z-index: 7;

			}
			ul{
				position: relative;
				height: 862px;
				li{
					position: absolute;
					top:0;
					left:0;
					width: 950px;
					&.active{
						z-index: 6;
						.content{
							.item-img-big{
								@include opacity(1);
							}
							.item-img-small{
								@include opacity(1);
							}
							.item-link{
								@include opacity(1);
							}
						}
					}
					.content{
    					height: 862px;
						&.box1{
							.link{
								.title{
									&:after{
										background: #000;
									}
								}
							}
						}
						&.box2{
							.item-img-small{top:236px;}
							.item-link{top:344px;}
							.link{
								.title{
									&:after{
										background: #2a4268;
									}
								}
							}
						}
						&.box3{
							.item-img-small{top:145px;}
							.item-link{top:606px;}
							.link{
								.title{
									&:after{
										background: #ff3542;
									}
								}
							}
						}
						&.box4{
							.item-img-small{top:145px;}
							.item-link{top:606px;}
							.link{
								.title{
									&:after{
										background: #064731;
									}
								}
							}
						}
						&.box5{
							.item-img-small{top:145px;}
							.item-link{top:520px;}
							.link{
								.title{
									&:after{
										background: #4dafe5;
									}
								}
							}
						}

						&.box6{
							.item-img-small{top:136px;}
							.item-link{top:718px;}
							.link{
								.title{
									&:after{
										background: #a2ff00;
									}
								}
							}
						}
						&.box7{
							.item-img-small{top:40px;}
							.item-link{top:442px;}
							.link{
								.title{
									&:after{
										background: #000;
									}
								}
							}
						}
						&.box8{
							.item-img-small{top:65px;}
							.item-link{top:650px;}
							.link{
								.title{
									&:after{
										background: #fff;
									}
								}
							}
						}

						.item-img-big{
							position: absolute;
							@include opacity(0);
							@include prefix-css3 (transition, opacity 0.3s);
							z-index: 5;
						}
						.item-img-small{
							position: absolute;
							top:236px;
							left:1400px;
							@include opacity(0);
							@include prefix-css3 (transition, opacity 0.3s);
							z-index: 4;

						}
						.item-link{
							position: absolute;
							top:500px;
							left:1400px;
							width: 500px;
							@include opacity(0);
							@include prefix-css3 (transition, opacity 0.3s);
							z-index: 3;

							.link{
								margin-bottom: 40px;
								p{
									padding-bottom: 18px;
									color:#000;
									font:16px/16px 'adihaus-bold';
									letter-spacing: 7px;
									text-transform: uppercase;
									&.title{
										position: relative;
										font:30px/34px 'adihaus-bold';
										letter-spacing: 14px;
										&:after{
											position: absolute;
										    left: -55px;
										    top: 10px;
											content: '';
											display: inline-block;
											width: 22px;
											height: 22px;
										}
									}
								}
								.kor{
									color:#000;
									font:700 15px/15px 'NotoSansKR';
									letter-spacing: 0px;
								}
							}
						}
					}
				}
			}
			.indicator{
				text-align: center;
				span{
					display: inline-block;
					margin: 0 10px;
					width: 16px;
					height: 16px;
					background: #000;
					vertical-align: middle;
					cursor: pointer;
					&.active{
						margin: 0;
						border: 10px solid #fff;
						vertical-align: middle;
					}
				}
			}
		}
	}

	.cut-slider-wrapper{
		margin: 89px 0;
		h2{
			position: relative;
			img{
				position: relative;
				z-index: 1;
			}
			span{
				position: absolute;
				left:-240px;
				bottom:-8px;
				display: inline-block;
				width: 448px;
				height: 30px;
				background: #d80023;
			}
		}
		#sliders{
			position: relative;
			margin-top: 50px;
		}
		.navi{
			position: absolute;
			top:50%;
			width: 100%;
			.next-button{
				position: absolute;
				right:-80px;
			}
			.prev-button{
				position: absolute;
				left:-44px;
			}
		}
		.indicator{
			margin-top: 50px;
			text-align: center;
			a{
				display: inline-block;
				margin: 0 10px;
				width: 16px;
				height: 16px;
				background: #000;
				vertical-align: middle;
				cursor: pointer;
				&.on{
					margin:0;
					border: 10px solid #d80023;
					vertical-align: middle;
				}
			}
		}
	}
}

@keyframes backani {
  0% {
	  background: #5de9ad;
  }
  25%{
	background: #3f5a7b;
  }
  65% {
	background: #ff3542;
  }
  100% {
	  background: #5de9ad;
  }
}

@keyframes backani2 {
  0% {
	  background: #a2ff00;
  }
  25%{
	background: #000;
  }
  60% {
	background: #fff;
  }
  100% {
	  background: #a2ff00;
  }
}
