/*
	break width
 */
$break-small: 1000px;
$break-large: 1400px;
$width320:320px;
$width400:400px;
$width480:480px;
$width600:600px;
/*
	@@ mixin
 */
@mixin box-sizing($value){
			box-sizing: $value;
	-webkit-box-sizing: $value;
}

@mixin prefix-css3($prop,$value){
	#{$prop} :$value;
	-webkit-#{$prop} :$value;
	-moz-#{$prop}:$value;
	-o-#{$prop} :$value;
	-ms-#{$prop} :$value;
}

@mixin transition($prop , $duration , $easing , $delay){
	transition :$prop $duration $easing $delay;
	-webkit-transition :$prop $duration $easing $delay;
	-moz-transition:$prop $duration $easing $delay;
	-o-transition :$prop $duration $easing $delay;
}

@mixin opacity($value){
	opacity : $value;
	filter:alpha(opacity=$value * 100);
	-ms-filter:alpha(opacity=$value * 100);
}

@mixin transform($value){
	transform:$value;
	-webkit-transform:$value;
	-moz-transform:$value;
	-o-transform:$value;
}

@mixin animation ($delay, $duration, $animation , $fillmode , $iteration) {

    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    -webkit-animation-iteration-count:$iteration;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    -moz-animation-iteration-count:$iteration;

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    -o-animation-iteration-count:$iteration;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: $fillmode; /* this prevents the animation from restarting! */
    animation-iteration-count:$iteration;
}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@media screen and (max-width: 320px) {
	html{
		font-size: 10px;
	}
}

@media screen and (min-width: 800px) {
	html{
		font-size: 12px;
	}
}

// for pseudo element
.pseudo-element{
	content:'';
	display: block;
}

#preloadPanel{
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left:0;
	z-index: 1000;
	@include opacity(0);
	@include prefix-css3(transition,opacity 1s);

	div{
		width: 200px;
		height: 200px;
		position: relative;
		font:60px 'adiBlack';
		color: #000;
		position: absolute;
		top:50%;
		left:50%;
		background:url('/images/adidas/event/running_guide/logo.png') 0 0 no-repeat;
		margin: -100px 0 0 -100px;
		text-transform:uppercase;


		&::after {
			@extend .pseudo-element;
    			position: absolute;
    			top: -110%;
    			left: -210%;
    			width: 200%;
    			height: 100%;

    			background: rgba(255, 255, 255, 0.5);
    			background: linear-gradient(
    			to right,
    			rgba(255, 255, 255, 0.5) 0%,
    			rgba(255, 255, 255, 0.5) 77%,
    			rgba(255, 255, 255, 0.5) 92%,
    			rgba(255, 255, 255, 0.0) 100%
			);

			@include opacity(0);
			@include prefix-css3(transform,rotate(30deg));
			@include animation(0.5s,1.6s,shining,fowards,infinite);

			transition-property: left, top, opacity;
			transition-duration: 1.2s, 1.7s, 0.15s;
			transition-timing-function: ease;

			-webkit-transition-property: left, top, opacity;
			-webkit-transition-duration: 1.2s, 1.7s, 0.15s;
			-webkit-transition-timing-function: ease;
		}
	}

	&.loaded{
		@include prefix-css3(transition-duration,0.3s);
		@include opacity(1);
	}
}

.button1{
	width: 250px;
	padding: 16px 0;
	display: inline-block;
	background: #fff;
	background:rgba(255,255,255,0.9);
	text-align: center;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;

	&:hover{
		background:rgba(255,255,255,1);
	}

	span{
		position: relative;
		left: -5px;
		display: inline-block;
		font:16px 'NotoSansKRRegular','Nanum Gothic';
		color: #000;

		.spt_bg{
			width: 15px;
			height: 15px;
			background-position: right -758px;
			position: absolute;
			top: 4px;
			left: auto;
			right: -19px;
		}
	}
}

.no_scroll{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.rg_popup_wrap{
	width: 100%;
	height: 100%;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	padding: 50px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;

	.rg_popup_wrap_inner{
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 10;

		.rg_popup{
			width: 100%;
			height: 100%;
			min-width:1000px;
			min-height: 800px;
			background: #fff;
			position: absolute;
			top: 0;
			left: 0;
			box-shadow: 0 0 20px rgba(0,0,0,0.5);

			@include opacity(0);
			@include prefix-css3(transition,opacity 0.3s);

			.inner{
				position: relative;
				width: 100%;
				height: 100%;
				background: #fff;
				padding:80px 30px 35px 30px;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				overflow: hidden;

				.header{
					width: 100%;
					height: 80px;
					position: absolute;
					top: 0;
					left: 0;
					background: #fff;
					text-align: center;
					z-index: 10;

					strong{
						margin-top: 25px;
						display: block;
						text-align: center;
						font: 24px/24px 'NotoSansKRRegular','Nanum Gothic';
						color: #000;

						@include prefix-css3(transition,opacity 0.3s);
					}

					.close{
						width: 50px;
						height: 50px;
						position: absolute;
						top: 13px;
						right: 20px;
						z-index: 20;

						.ie7 & , .ie8 & {
							right: 100px;
						}

						span{
							width: 18px;
							height: 18px;
							margin: 16px;
							background-position: -100px -685px;

						}
					}
				}
			}

			.bg{
				width: 100%;
				height: 100%;
				overflow: hidden;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				img{
					width: 100%;
				}
			}

			.contents{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding:80px 30px 35px 30px;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;

				.box_inner{
					width: 100%;
					height: 100%;
					position: relative;
					.box{
						width: 33.6%;
						height: 100%;
						position: absolute;
						top:0;
						left: 0;

						&.box2{
							left: 33.5%;
						}

						&.box3{
							width: 33%;
							left:auto;
							right: 0;
						}

						.textbox{
							position: absolute;
							width: 100%;
							height: 450px;
							position: absolute;
							top: 50%;
							left: 0;
							margin-top: -225px;

							>*{
								color: #fff;
								text-align: center;
							}

							.tit{
								margin-bottom: 18px;
								font: 40px/46px 'NotoSansKR','Nanum Gothic';
								letter-spacing: -1px;

								@media screen and (max-width: 1400px) {
									font: 32px/36px 'NotoSansKR','Nanum Gothic';
								}

								@media screen and (max-width: 1200px) {
									font: 28px/32px 'NotoSansKR','Nanum Gothic';
								}

								.ie7 & , .ie8 &{
									font-weight: bold;
								}
							}

							.stit{
								margin-bottom: 35px;
								font: 16px/24px 'NotoSansKRRegular','Nanum Gothic';
							}

							.line{
								width: 68px;
								height: 3px;
								background: #fff;
								margin: 0 auto 35px;
							}

							.recommend_info{
								>*{
									text-align: center;
								}
								.name{
									margin-bottom: 12px;
									font:22px/22px 'adinenuPro-bold';
								}

								.line{
									width: 62px;
									height: 1px;
									background:url('/images/adidas/event/running_guide/bg_dotted.png');
									margin-bottom: 17px;
								}

								.desc{
									margin-bottom: 18px;
									font: 16px/16px 'NotoSansKRRegular','Nanum Gothic';
								}

								ul{
									width: 150px;
									height: 58px;
									margin: 0 auto;

									&.i1{
										height: 38px;
										padding: 20px;
									}

									&.i2{
										height: 44px;
										padding: 14px;
									}

									li{
										margin-bottom: 3px;
										padding-left: 20px;
										background:url('/images/adidas/event/running_guide/ico_check.png') 0 0 no-repeat;
										font:16px/16px 'adinenuPro-light';
										color: #fff;
										letter-spacing: 1px;
										@include opacity(0.7);
									}
								}
							}

							.button1{
								width: 244px;
								background:none;
								border: 1px solid  #fff;
								position: absolute;
								bottom: 0;
								left: 50%;
								margin-left: -122px;

								@include prefix-css3(transition,none);
								span{
									color: #fff;

									.spt_bg{
										width: 15px;
										height: 14px;
										top: 6px;
										background-position: right -900px;
									}
								 }

								 &:hover{
									 background: #fff;

									 span{
										 color: #000;
									 }

									 .spt_bg{
										width: 15px;
										height: 15px;
										top: 5px;
										background-position: right -758px;
									}
								 }
							}
						}
					}
				}
			}
		}
	}

	.overlay{
		width: 100%;
		height: 100%;
		background: #000;
		@include opacity(0.6);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
	}

	&.init{
		.rg_popup{
			@include opacity(1);
			.header{
				strong{
					@include opacity(1);
				}
			}
		}
	}
}


#running_guide{
    width:100%;
    min-width:1000px;
    position:relative;
    overflow:hidden;
    background-color:#fff;

	.button{
		padding:10px 36px 11px 36px;
		border:2px solid #fff;
		color:#fff;
		font:16px/17px 'NotoSansKRRegular','Nanum Gothic';
		@include prefix-css3(transition,background 0.3s);

		&:hover{
			background-color:#fff;
			color:#000;
		}
	}

    /* Masthead */
    .masthead{
		width: 100%;
		position: relative;
		overflow: hidden;
        // min-height: 700px;

		.masthead_inner{
			position: relative;
		}
        .masthead_text{
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            z-index: 5;
			margin: -150px 0 0 -385px;

            >*{
                text-align: center;
            }

            h2{
                margin-bottom: 15px;
                font:70px/70px 'adiBlack';
                color: #fff;
                text-transform:uppercase;
            }

            .desc{
                margin-bottom: 35px;
				padding-bottom: 135px;
                color: #fff;
                font:22px/22px 'NotoSansKR','Nanum Gothic';
            }

            .line{
                width: 6px;
                height: 80px;
                background: #fff;
                position: absolute;
                top: 150px;
                left: 50%;
                margin-left: -3px;
            }
        }
        .masthead_bg{
            width: 100%;
			min-width: 1500px;
			padding-bottom: 39.5%;
            position: relative;
			background: #7d7d7d;

			// @media screen and (max-width: 1700px) {
			// 	padding-bottom: 50%;
			// }
			//
			// @media screen and (max-width: 1700px) {
			// 	padding-bottom: 50%;
			// }

            .bg{
                position: absolute;
                top: 0;
                left: 0;
				transform:scale(1.1);
				-webkit-transform:scale(1.1);
				transition:opacity 1s , transform 5s;
				-webkit-transition:opacity 1s , -webkit-transform 5s;

				@include opacity(0);

                img{
                    width: 100%;
                }

				&.active{
					transform:scale(1);
					-webkit-transform:scale(1);
					@include opacity(1);
				}
            }
        }
    }
    /* Masthead END */

    /* Shoes list */
    .shoes_list{
        width:100%;
        position: relative;
        margin-top:10px;
        overflow:hidden;
        .box{
            width: 25%;
            float: left;
            padding-bottom: 25px;
            position: relative;

			.ie7 &.last{
				width: 24.9%;
			}

            .img{
                margin-bottom: 30px;
                img{
                    width: 100%;
                }
            }

            h3{
                padding: 0 15px;
                margin-bottom:5px;
                font:30px/30px 'adinenuPro-bold';
                color:#000;
            }

            ul{
                padding: 0 15px;

                li{
                    width: 100%;
                    position: relative;
                    text-align: left;
                    font: 22px/23px 'adihausDIN-Cond';
                    color: #aaa;

					&.active{
						a{
							width:100%;
                            height:20px;
                            background-color:#eee;
                            color:#000;
                            background:#eee url('http://image.adidas.co.kr/images/adidas/event/running_guide/bullet.png') right center no-repeat;
						}
					}

                    a{
                        width: 100%;
                        display: block;
                        height: 20px;
                        padding: 4px 0;
                        line-height: 23px;

                        &:hover{
                            width:100%;
                            height:20px;
                            background-color:#eee;
                            color:#000;
                            background:#eee url('http://image.adidas.co.kr/images/adidas/event/running_guide/bullet.png') right center no-repeat;
                        }

                        .coming_soon{
                            font:16px/17px 'adihausDIN-Cond-medium';
                        }
                    }

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }

        .line_wrap{
            width: 100%;
            height: 5px;
            position: absolute;
            bottom: 0;
            left: 0;

            .bar{
                width: 25%;
                float: left;
                height: 3px;

				.ie7 &.last{
					width: 24.9%;
				}

                .inner{
                    height: 100%;
                    padding: 0 15px;
                    div{
                        height: 100%;
                        background: #000;
                    }
                }


            }
        }
    }
    /* Shoes list END */

	.contents_wrapper{
		padding-top: 45px;
	}


    /* Mid_title */
    .mid_title{
        width:100%;
        padding:0 0 100px;
        text-align:center;

		@media screen and (max-width: 1400px) {
			padding: 80px 0;
		}

        >*{
            color: #000;
            text-align: center;

			@include prefix-css3(transition,all 0.9s);

			@include prefix-css3(transform,translate3d(0,20px,0));
			@include opacity(0);
        }

		&.loaded{
			>*{
				@include prefix-css3(transform,translate3d(0,0,0));
				@include opacity(1);
			}
		}

        h4{
            margin-bottom: 30px;
            font:84px/84px 'adiBlack';
            color: #000;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 10px;

			@media screen and (max-width: 1400px) {
				margin-bottom: 20px;
				font:76px/76px 'adiBlack';
			}
        }

        .desc{
            margin-bottom:50px;
            font: 24px/24px 'NotoSansKRRegular','Nanum Gothic';
            text-align: center;
            letter-spacing: -1px;

			@include prefix-css3(transition-delay,0.15s);

			@media screen and (max-width: 1400px) {
				margin-bottom:30px;
				font: 18px/18px 'NotoSansKRRegular','Nanum Gothic';
			}
        }

        .eng_desc{
            font:30px/40px 'adinenuPro-regular';
            color: #000;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 15px;

			@include prefix-css3(transition-delay,0.3s);
        }
    }
    /* Mid_title END */

    /* contents_wrapper */
    .contents_wrapper{

        .box{
			width: 100%;
			position: relative;
			margin-bottom: 30px;

			&.loaded{
				.product_feature{
					.inner{
						.textbox{
							>*{
								@include prefix-css3(transform,translate3d(0,0,0));
								@include opacity(1);
							}
						}
					}
				}
			}

			.product_feature{
				width:100%;
				position:relative;

				.bg{
					width:100%;
					height:470px;
					text-align:center;

					img{
						position:absolute;
						top:0;
						left:50%;
						margin-left:-1000px;
					}
				}
				// bg END

				.inner{
					width:1000px;
					height:470px;
					margin-right:-574px;
					position:absolute;
					top:0;
					right:50%;

					.image{
						position:absolute;
						top:50%;
						left:-100px;
						margin-top:-250px;

						img{
							width: 600px;
						}
					}

					.textbox{
						width:60%;
						position:absolute;
						top:50%;
						left:-50px;

						@include prefix-css3(transform,translate3d(0, -50%, 0));

						.ie7 & , .ie8 & , .ie9 &{
							top:80px;
						}

						>*{
							@include prefix-css3(transition,all 0.8s);
							@include prefix-css3(transform,translate3d(0,20px,0));
							@include opacity(0);
						}

						.tit{
							margin-bottom: 10px;
							font:48px/48px 'adinenuPro-black';
							color:#fff
						}

						.s_tit{
							margin-bottom:25px;
							font:24px/25px 'NotoSansKRLight','Nanum Gothic';
							color:#fff;
							@include prefix-css3(transition-delay,0.15s);
						}

						.desc{
							margin-bottom:60px;
							font:16px/26px 'NotoSansKRThin','Nanum Gothic';
							color:#fff;
							@include prefix-css3(transition-delay,0.3s);
						}

						a{
							width: 200px;
							height: 49px;
							padding: 0;
							text-align: center;
							line-height: 49px;
							display: block;

							@include prefix-css3(transform,translate3d(0,10px,0));

							transition : transform 0.8s ease 0.6s , opacity 0.8s ease 0.6s , background 0.3s;
							-webkit-transition : -webkit-transform 0.8s ease 0.6s , opacity 0.8s ease 0.6s , background 0.3s;
						}
					}
				}
			}

			&.layout-type2{
				.product_feature{
					.inner{
						.textbox{
							right: -200px;
							left: auto;
						}
					}
				}

			}
		}
    }
    /* contents_wrapper END */

	/* rg_footer */
	.rg_footer{
		position: relative;
	    text-align: center;
	    width: 100%;
	    background-color: #fff;
	    font: 55px/56px 'adinenuPro-black';
	    color: #000;
	    margin-top: 60px;
	    margin-bottom: 200px;

		&.loaded{
			.line{
				height: 80px;
			}

			.statement{

				>*{
					@include prefix-css3(transform,translate3d(0,0,0));
					@include opacity(1);
				}
			}

			.button{
				@include prefix-css3(transform,translate3d(0,0,0));
				@include opacity(1);
			}
		}

		.line{
			width:4px;
			height:0;
			background:#000;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -2px;

			@include prefix-css3(transition,all 0.5s);
		}

		.statement{
			padding-top: 100px;
			>*{
				text-align: center;
				color: #000;
				@include prefix-css3(transition,all 0.5s);
				@include prefix-css3(transform,translate3d(0,-10px,0));
				@include opacity(0);
			}
			.statement_stit{
				font: 22px/30px 'adinenuPro-black';

				@include prefix-css3(transition-delay,0.4s);

			}
			.statement_tit{
			    width: 100%;
			    font: 55px/56px 'adinenuPro-black';
			    margin-bottom: 40px;

				@include prefix-css3(transition-delay,0.5s);
			}
		}

		.button{
			display: inline-block;
			padding: 15px 120px 15px 120px;
			border: 2px solid #000;
			color: #000;
			font: 18px/18px 'NotoSansKRBold';

			transition:transform 0.5s ease 0.5s ,opacity 0.5s ease 0.65s , background 0.3s;
			-webkit-transition:transform 0.5s ease 0.5s ,opacity 0.5s ease 0.65s , background 0.3s;
			@include prefix-css3(transform,translate3d(0,-10px,0));
			@include opacity(0);

			&:hover{
				background: #000;
				color: #fff;
			}
		}
	}
	/* rg_footer END*/

}



@include keyframe(shining){
	0%{
		opacity: 0;
		top: -110%;
		left: -210%;
	}

	100%{
		opacity: 1;
		top: 100%;
		left: 100%;
	}
}
