/*
	break width
 */
$break-small: 1000px;
$break-large: 1400px;
$width320:320px;
$width400:400px;
$width480:480px;
$width600:600px;
/*
	@@ mixin
 */
@mixin box-sizing($value){
			box-sizing: $value;
	-webkit-box-sizing: $value;
}

@mixin prefix-css3($prop,$value){
	#{$prop} :$value;
	-webkit-#{$prop} :$value;
	-moz-#{$prop}:$value;
	-o-#{$prop} :$value;
	-ms-#{$prop} :$value;
}

@mixin transition($prop , $duration , $easing , $delay){
	transition :$prop $duration $easing $delay;
	-webkit-transition :$prop $duration $easing $delay;
	-moz-transition:$prop $duration $easing $delay;
	-o-transition :$prop $duration $easing $delay;
}

@mixin opacity($value){
	opacity : $value;
	// filter:alpha(opacity=$value * 100);
	// -ms-filter:alpha(opacity=$value * 100);
}

@mixin transform($value){
	transform:$value;
	-webkit-transform:$value;
	-moz-transform:$value;
	-o-transform:$value;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    -webkit-animation-iteration-count:infinite;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    -moz-animation-iteration-count:infinite;

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    -o-animation-iteration-count:infinite;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    animation-iteration-count:infinite;
}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@media screen and (max-width: 320px) {
	html{
		font-size: 10px;
	}
}
@media screen and (min-width: 800px) {
	html{
		font-size: 12px;
	}
}




/* stella */
.stella{
	position: relative;
	background: #fff;
	overflow: hidden;
	min-width: 1280px;
	.stella_desc{
		font:16px/30px 'NotosansKRRegular','Nanum GOthic';
		color:#000;
		text-align: center;
		letter-spacing: -0.7px;
		@include opacity(0);
		@include transition (all,1.5s);
	}
	.button_area{
		position: relative;
		text-align: center;
		&.type2{
			a{
				border:2px solid #000;
			}
		}
		a{
			display: inline-block;
			width:230px;
			background: #fff;
			>span{
				margin-left: -33px !important;
				color:#000;
				.spt_bg{
					right: -38px !important;
					width: 16px;
					height: 15px;
					background: url('http://image.adidas.co.kr/images/adidas/event/originals_climacool/6901-btn-icon-b.png');
				}
			}
		}
	}

	.main_top{
		height: 800px;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left:-960px;
		}
		.button_area{
			padding-top: 448px;
		}
		.scroll_down{
			position: relative;
			margin-top: 36px;
			display: inline-block;
			width: 25px;
			height:38px;
			overflow: hidden;
			cursor: pointer;
			span{
				position: absolute;
				top:-100%;
				@include animation (0.5s,1.5s,scrolldown);
			}
		}
	}

	.statement{
		top:150px;
	    padding: 80px 0 75px;
		@include opacity(0);
		@include transition (all,0.8s);

		&.event{
			top:0;
			@include opacity(1);
			.stella_desc{
				@include opacity(1);

			}
		}

		h2{
			position: relative;
		    padding-bottom: 15px;
			margin-bottom: 14px;
			font:32px/40px 'adihaus';
			text-align: center;
			color:#2495b5;
			letter-spacing: 2.8px;

			&:after{
				content: '';
				display: inline-block;
				position: absolute;
				bottom:0;
				left:50%;
				margin-left: -23px;
				width:47px;
				height: 1px;
				background: #b2b2b2;
			}
		}
		.button_area{
			margin-top: 38px;
		}
	}

	.section{
		position: relative;
		height: 1000px;
		&.section1{
			div{
				position: absolute;
				z-index: 1;
				@include transition (all,4s);
				&.left{
					top:287px;
					left:-125px;
					&.event{
						top:200px;
					}
				}
				&.right{
					top:12px;
					right:-125px;
					&.event{
						top:100px;
					}
				}
				&.center{
					z-index: 0;
					top:275px;
					left:263px;
					&.event{
						transform: rotate(10deg) scale(1.05);
					}
				}
				&.imgDeco{
					&.event{
						transform: rotate(300deg);
					}
					&.right{
						top:95px;
						right:-223px;
					}
					&.left{
						top:745px;
						left:-200px;
					}
				}

			}

		}
		&.section2{
			// @include opacity(0);
			@include transition (all,5s);
			&.event{
				@include opacity(1);
			}
			div{
				position: absolute;
				z-index: 1;
				@include transition (all,4s);

				&.center{
					z-index: 0;
					top:152px;
					left:50%;
					margin-left: -960px;
					@include transition (all,2s);
					&.event{
						top:180px;
					}
				}
				&.imgDeco{
					z-index: 1;

					&.img1{
						top:25px;
						right:140px;
						&.event{
							transform: rotate(360deg);
						}
					}
					&.img2{
						top:395px;
						left:-91px;
						&.event{
							top:420px;
							left:-70px;
							transform: rotate(360deg);
						}
					}
					&.img3{
						top:800px;
						left:167px;
						&.event{
							top:770px;
						}
					}
					&.img4{
						top:417px;
						right:-111px;;
						&.event{
							transform: rotate(180deg);
						}
					}
				}

			}

		}
		&.section3{
			div{
				position: absolute;
				z-index: 1;
				@include transition (all,8s);
				&.left{
					top:180px;
					left:-128px;
					&.event{
						top:0px;
					}
				}
				&.right{
					top:100px;
					right:-125px;
					&.event{
						top:250px;
					}
				}
				&.center{
					z-index: 0;
					top:245px;
					left:150px;
					transform: rotate(-30deg) scale(1);

					&.event{
						transform: rotate(0deg) scale(1.05);
					}
				}
				&.imgDeco{
					&.event{
						transform: rotate(360deg);
					}
					&.right{
						top:424px;
						right:-227px;
					}
					&.left{
						top:539px;
						left:-225px;
					}
				}

			}

		}

	}

	.full_img{
		position: relative;
		height: 800px;
		@include opacity(0);
		@include transition (all,1.5s);
		&.full_img2{
			margin-bottom: 154px;
		}

		&.event{
			@include opacity(1);
		}
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left:-960px;
		}
	}

	.collection{
		margin-top: 150px;
		background: #000;
		.image-grid{background: #fff;}
		.img2-3{
		    // padding-bottom: 4% !important;
			background: none !important;
			.statement{
				position: absolute;
				padding: 10% 0 0 0;
				.button_area {
					@media screen and(max-width:1700px ) {
						margin-top: 2%;
					}
				}
				@media screen and(max-width:1700px ) {
					padding: 8% 0 0 0;
				}
			}
		}
	}

}
/* End of stella */

@include keyframe(scrolldown){
	0%{
		top:-50%;
	}
	50%{
		top:0%;
	}
	100%{
		top:100%;
	}
}
