@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

.video_layer {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:110
}
.video_layer .video {
	width:100%;
	height:100%;
	z-index:6;
	position:absolute;
	top:0;
	left:0
}
.video_layer .close {
	width:45px;
	height:45px;
	position:absolute;
	top:25px;
	right:25px;
	z-index:20;
	display:block;
	background:url("/images/reebok/event/about/sprite.png") -80px 0 no-repeat;
	text-indent:-5000px;
	opacity:0;
	transition:opacity 0.4s ease-in 0.5s;
	-webkit-transition:opacity 0.4s ease-in 0.5s;
	-moz-transition:opacity 0.4s ease-in 0.5s;
	-o-transition:opacity 0.4s ease-in 0.5s;
	-ms-transition:opacity 0.4s ease-in 0.5s
}
.video_layer .bg {
	width:100%;
	height:100%;
	background:#000;
	z-index:5;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transition:opacity 0.4s;
	-webkit-transition:opacity 0.4s;
	-moz-transition:opacity 0.4s;
	-o-transition:opacity 0.4s;
	-ms-transition:opacity 0.4s
}
.video_layer.loaded .bg {
	opacity:.6
}
.video_layer.loaded .close {
	opacity:1
}

/* video_layer end */

#on_the_move{
	    min-width: 1280px;
		overflow: hidden;
		.visual_video{
			position: relative;
			cursor: pointer;
			&:hover{
				.masthead{
					.play{
						background: #000;
						border:3px solid #000;
						&:after{
							background-position: 100% 0;
						}
					}
				}
			}
			.bg{
				text-align: center;
			}
			.masthead{
				position: absolute;
				top:50%;
				left:50%;
				.play{
					position: relative;
					display: inline-block;
					width:105px;
					height: 105px;
					margin-left: -52px;
					margin-top: -52px;
					border:3px solid #fff;
					border-radius: 100px;
					@include css3(transition , all 0.5s);
					&:after{
						position: absolute;
						top:38px;
						left:46px;
						content: "";
						width:25px;
						height:31px;
						display: block;
						background: url("http://image.adidas.co.kr/images/adidas/event/pure_boost_v2/btn_arrow.png");
						background-position: 0 0;
						@include css3(transition , all 0.5s);

					}

				}
			}
		}
	.button_area{
		span{
			.spt_bg{
				@include css3(transition , all 0.3s);
			}
		}
		&:hover{
			span{
				.spt_bg{
					right:-25px !important;
				}
			}
		}
	}

	.scrollevent{
		opacity: 1 !important;
		-webkit-opacity: 1 !important;
		-ms-opacity: 1 !important;
		top:0 !important;
	}

	.main_visual{
		height: 812px;
	    overflow: hidden;
	    width: 100%;
	    position: relative;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -951px;
		}
		.inner{
			position: relative;
			.top_img1{
				position: absolute;
				left:-477px;
			}
			.txt_area{
				position: relative;
				display: inline-block;
				padding: 282px 0 0 0;
				z-index: 1;
				h2{
					font:700 67px/75px 'NotosansKR','Nanum Gothic';
					color:#000;
					.button_area{
						margin-top: 46px;
						a{
							width: 261px;
							height: 57px;
							span{
								line-height: 57px;
								font-size:16px;
							}

						}
					}
				}
			}
			.video_wrap{
				position: absolute;
				top:120px;
				right:-180px;
				cursor: pointer;
			}
		}
	}

	.statement{
		position: relative;
		height: 406px;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -951px;
		}
		p{
			position: relative;
			top:50px;
			padding-top: 96px;
			color:#fff;
			text-align: center;
			font:300 21px/38px 'NotosansKR';
			@include opacity(0);
			@include css3(transition , all 0.4s);

			strong{
				display: block;
				margin-top: 22px;
				font-size: 25px;
				font-family: 'NotosansKR';
				font-weight: 700;
				letter-spacing: 3px;
			}
		}
	}

	.event_wrap{
		position: relative;
		height: 1190px;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -951px;
		}
		.event_box{
			position: relative;
		    margin: 82px 0 0  280px;
			@include css3(box-sizing , border-box);
			display: inline-block;
			padding: 45px 0 0 60px;
			width: 670px;
			height: 502px;
			background: rgba(255,255,255,0.74);
			@include css3(transition , all 0.4s);

			&:hover{
				background: rgba(255,255,255,0.9);
			}

			h2{
				font:700 45px/54px 'NotosansKR';
				color:#000;
			}
			p{
				font:400 16px/18px 'NotosansKR';
				color:#000;
				span{
					font:17px/17px 'adinenuPro-bold';
				}
				&.title{
				    padding: 30px 0 21px;
					font-size: 22px;
					line-height: 28px;
					span{
						font-size: 23px;
					}
				}
			}

		}
		.boxs{
			position: relative;
			padding-top: 55px;
			.right{
				position: relative;
				top:200px;
				float: right;
				@include opacity(0);
				@include css3(transition , all 0.8s);

				&.scrollevent{
					right:0;
				}
			}
			.left{
				position: relative;
				top:200px;
				width: 465px;
				@include opacity(0);
				@include css3(transition , all 0.8s);

				&.scrollevent{
					left:0;
				}
				h2{
					padding-bottom: 56px;
				    font:700 27px/38px 'NotosansKR';
				    letter-spacing: -2px;
				    color: #000;
				}
				.button_area{
					margin-bottom: 54px;
					a{
						width:466px;
						height: 71px;
						span{
							line-height: 71px;
							font-size: 20px;
						}
					}
				}
			}
		}
	}

	.prd_main{
		position: relative;
		height: 728px;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -951px;
		}
		.thumb{
			position: absolute;
			left:-138px;
			top:60px;
			@include opacity(0);
			@include css3(transition , all 0.3s);
			&.event{
				top:60px;
				@include opacity(1);

			}
		}
		.txt_area{
			position: relative;
			display: inline-block;
			padding: 235px 0 0 520px;
			z-index: 1;
			@include opacity(0);
			@include css3(transition , all,0.3s);

			p{
				padding-top: 30px;
				font:400 19px/20px 'NotosansKR';
				color:#000;
				letter-spacing: -0.6px;
			}
			.button_area{
				margin-top: 46px;
				a{
					width: 261px;
					height: 57px;
					span{
						line-height: 57px;
						font-size:16px;
					}

				}
			}
		}
	}

	.prd_wrap{
		position: relative;
		height: 676px;
		transition: opacity, 0.2s;

		opacity: 0;
		&.event{
			opacity: 1;
		}
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -951px;
		}
		h3{
			padding: 74px 0 43px;
			text-align: center;
		}
		ul{
			li{
				position: relative;
				top:110px;
				margin-right: 31px;
				width: 296px;
				height: 440px;
				float: left;
				display: inline-block;
				background-repeat: no-repeat;
				background-size:100% auto;
				background-position: 50% 50%;
				overflow: hidden;
				text-align: center;
				&.prd1{
					background-image:url('http://image.adidas.co.kr/images/adidas/event/on_the_move/prd_link1.jpg')
				}
				&.prd2{
					background-image:url('http://image.adidas.co.kr/images/adidas/event/on_the_move/prd_link2.jpg')
				}
				&.prd3{
					margin-right: 0;
					background-image:url('http://image.adidas.co.kr/images/adidas/event/on_the_move/prd_link3.jpg')
				}
				.button_area{
					position: absolute;
				    bottom: 20px;
				    display: inline-block;
				    left: 50%;
				    margin-left: center;
				    margin-left: -122px;
					a{
						background: #fff;
						width:247px;
						height: 58px;
						span{
							line-height: 58px;
							color:#000;
							font-size:16px;
							font-family: 'NotosansKR';
							font-weight: 700;
							.spt_bg{
								width: 14px;
								height: 13px;
								background:url('http://image.adidas.co.kr/images/adidas/event/on_the_move/ico_arrow_black.png');
									margin-top: -6px;
							}

						}
					}
				}
			}
		}
	}

	.find_prd{
		height:auto;
		overflow: hidden;
		.box{
			position: relative;
			display: inline-block;
			width: 50%;
			overflow: hidden;
			float: left;
			.section{
				position: relative;
				height: auto;
				width:100%;
				overflow: hidden;
				&:hover{
					img{
						@include css3(transform , scale(1.1));
					}
				}
				img{
					width:100%;
					@include css3(transition , transform 4.5s);
				}
			}

			.txt_area{
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				@include css3(transform , translate(13%,-50%));
				p{
					position: relative;
					top:100px;
					text-align: center;
					font:56px/56px 'adinenuPro-black';
					color:#fff;
					@include opacity(0);
					@include css3(transition , all 0.8s);
					&.event{
						top:0;
						@include opacity(1);
					}
				}
				.button_area{
					position: relative;
					top:100px;
					margin-top: 10px;
					@include opacity(0);
					@include css3(transition , all 0.8s);
					&.event{
						top:0;
						@include opacity(1);
					}
					a{
						background: rgba(255,255,255,0.9);
						width:250px;
						height: 54px;
						span{
							line-height: 54px;
							color:#000;
							font-size:16px;
							font-family: 'NotosansKR';
							font-weight: 700;
							.spt_bg{
								width: 14px;
								height: 13px;
								background:url('http://image.adidas.co.kr/images/adidas/event/on_the_move/ico_arrow_black.png');
								    margin-top: -6px;
							}
						}
					}
				}
			}

			&.right{
				.txt_area{
					@include css3(transform , translate(-116%, -50%));

				}
			}
		}
	}

}
