@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
html,body{
	height: 100%;
}
#wrap{
	overflow: hidden;
	min-width: 1280px;
}

#supercourt{
	position: relative;
	background: #d3d0cb;
	border: 13px solid #318ace;
	border-bottom:0;
	//common
	.button_area_v2{
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			padding:0 15px;
			font: 500 14px/48px 'NotoSansKR';
			letter-spacing: 0.7px;
		}
	}

	//start
	.main{
		background:url('/images/adidas/2019/event/originals/supercourt/1908_a_supercourt_topCont_DT.jpg') no-repeat;
		background-position: center;
		background-size: 100% 100%;
		.main_img{
			position: relative;
			top:25px;
			.img{
				text-align: left;
				margin-left:30px;
				img{
					width:97%;
					height: 100%;
				}
			}
		}
		.main_txt{
			position: relative;
			height: 581px;
			.txt{
				position: absolute;
				bottom:140px;
				left:50%;
				transform: translateX(-50%);
				h1,p,.btn_wrap{
					text-align: center;
				}
				h1{
					font: 68px/68px 'adinenuPro-bold';
					color:#000;
					letter-spacing: 2px;
				}
				p{
					font: 400 22px/30px 'NotoSansKR';
					color: #000;
					margin: 4px 0 55px 0;
					letter-spacing: 1px;
				}
				.btn_wrap{
					.button_area_v2{
						&:first-child{
							// margin-right:20px;
						}
				}
			}
			}
		}
	}

	.evt{
		background: url('/images/adidas/2019/event/originals/supercourt/1908_a_supercourt_evtBg_DT.jpg') no-repeat;
		background-position: center;
		background-size: auto 100%;
		.txt{
			width:950px;
			margin:0 auto;
			.top_txt{
				text-align: center;
				padding: 55px 0 35px;
				// >div{
				// 	text-align: center;
				// 	h2{
				// 		font: 900 30px/30px 'NotoSansKR';
				// 		position: relative;
				// 		z-index:1;
				// 		display: inline-block;
				// 		color:#000;
				// 		text-align: center;
				// 		letter-spacing: 3px;
				// 		&::after{
				// 			position: absolute;
				// 			top:13px;
				// 			left:2px;
				// 			right:2px;
				// 			bottom:-1px;
				// 			height: 15px;
				// 			background:#ddf654;
				// 			clear: both;
				// 			display: block;
				// 			content:'';
				// 			z-index:-1;
				// 		}
				// 	}
				// }
				div.p{
					h3{
						font: 700 38px/38px 'NotoSansKR';
						color: #000;
						text-align: center;
						position: relative;
						z-index: 1;
						display: inline-block;
						letter-spacing: 5px;
					}
					p{
						font: 400 16px/25px 'NotoSansKR';
						letter-spacing: 0.7px;
						&.highlight{
							margin:15px 0 15px;
							font: 500 20px/25px 'NotoSansKR';
							background: #ddf653;
						}
					}
				}
				.button_area_v2{
					margin: 0 0 25px 0;
					div{
						.bg{
							background:#ddf653;							
						}
						a{
							background:#ddf653;
							color:#000;
							font: 900 24px/37px 'NotoSansKR';
							height:37px;
							border:1px solid #000;
							cursor: default;
						}
						&:hover{
							a{
								-webkit-transform: translate(0px,0px);
								transform: translate(0px,0px);
							}
							.bg{
								&::after{
									-webkit-transform: translate(0px,0px);
									transform: translate(0px,0px);
								}
							}
						}
					}
				}
				>span{
					font: 500 30px/60px 'NotoSansKR';
					color:#000;
					letter-spacing: 3px;
				}
				.p{
					text-align: center;
					p{
						font: 700 38px/38px 'NotoSansKR';
						color:#000;
						text-align: center;
						position: relative;
						z-index: 1;
						display: inline-block;
						// &::after{
						// 	position: absolute;
						// 	top:13px;
						// 	left:3px;
						// 	right:3px;
						// 	bottom:-1px;
						// 	height: 15px;
						// 	background:#ddf654;
						// 	clear: both;
						// 	display: block;
						// 	content:'';
						// 	z-index:-1;
						// }
						span{
							font: 400 17px/21px 'NotoSansKR';
							position: relative;
							z-index: 1;
							margin: 20px 0 10px;
							display: inline-block;
							text-align: center;
							color:#333333;
							&::after{
								position: absolute;
								top:3px;
								left:11px;
								right:11px;
								bottom:-1px;
								height: 15px;
								background:#ddf654;
								clear: both;
								display: block;
								content:'';
								z-index:-1;
							}
							em{
								position: relative;
								z-index: 1;
								&::after{
									position: absolute;
									top:3px;
									left:-2px;
									right:-2px;
									bottom:-1px;
									height: 15px;
									background:#ddf654;
									clear: both;
									display: block;
									content:'';
									z-index:-1;
								}
							}
						}
					}
				}
				.date{
					font: 500 16px/25px 'NotoSansKR';
					color: #000;
					letter-spacing: 1px;
				}
			}
			>img{
				display: block;
				margin: 0 auto;
			}
			.btn_wrap{
				text-align: center;
				margin: 50px 0;
				.button_area_v2{
					text-align: center;
					&:first-child{
						margin-right: 20px;
					}
				}
			}
			.dotted{
				border-top: 2px dotted #a9a5a2;
				height: 5px;
				// margin: 0 32px;
			}
			.btm_info{
				overflow: hidden;
				padding: 25px 0 55px 0;
				&::after{
					display: block;
					content: '';
					clear: both;
				}
				.btn_adi{
					margin-left:10px;
					width: 135px;
					display: inline-block;
					background: #666666;
					color:#fff;
					text-align: center;
					font:13px/25px 'NotoSansKR';
					letter-spacing: -0.7px;
					em{
						position: relative;
						top:1px;
						display: inline-block;
						margin:0 0 0 2px;
						width:14px;
						height: 13px;
						background: url('/images/adidas/2019/event/originals/supercourt/ico.jpg') no-repeat;

					}
				}
				ul{
					float: left;
					text-align: center;
					&:first-child{
						// margin-right: 13px;
					}
					li{
						font: 400 14px/28px 'NotoSansKR';
						color: #666666;
						letter-spacing: -0.7px;
						&.none{
							padding-left: 10px;
							&:before{
								display: none;
							}
						}
						&:before {
							content: "·";
							font-size: 20px;
							vertical-align: middle;
							line-height: 20px;
							margin-right: 0px;
							position: relative;
    						top: -3px;
						}
					}
				}
			}
		}
	}

	.aside{
		position: relative;
		height: 545px;
		padding: 65px 0 0 0;
		.img{
			text-align: center;
		}
		.txt{
			width: 950px;
			margin:0 auto;
			padding: 35px 0 0;
			h3{
				font: 32px/32px 'adinenuPro-bold';
				color:#000;
				text-align: center;
			}
			p{
				font: 400 18px/30px 'NotoSansKR';
				color: #000;
				text-align: center;
			}

		}
	}

	.vid{
		position: relative;
		padding: 100px 0 130px 0;
		.inner{
			text-align: center;
			video{
				object-fit: cover;
				width:1191px;
				height:702px;
			}
			.txt{
				position: absolute;
				bottom: 195px;
				left:50%;
				transform: translateX(-50%);
				text-align: center;
				>div{
					position: relative;
					>a{
						display: inline-block;
						position: absolute;
						top:50%;
						left:50%;
						margin-top:-230px;
						margin-left:-32px;
					}
				}

				h4{
					font: 32px/40px 'adinenuPro-bold';
					color:#fff;
					text-align: center;
				}
				p{
					font: 500 18px/30px 'NotoSansKR';
					color: #fff;
					text-align: center;
					margin: 0 0 26px 0;
				}

			}
		}

	}

	.grid_cont{
		position: relative;
		padding: 0 90px 72px;;
		// grid common
		img{
			width:100%;
		}
		.button_area_v2{
			display: inline-block;
			position: absolute;
			bottom:30px;
			left:50%;
			transform: translateX(-50%);
			&:hover{
				a{
					-webkit-transform: translate(3px,3px);
					transform: translate(3px,3px);
					-webkit-transition: all .5s;
					transition: all .5s;
					opacity: .9;
				}
				.bg{
					&::after{
						-webkit-transform: translate(0px,0px);
						transform: translate(0px,0px);
					}
				}
			}
			a{
				padding:0 17px;
				font:500 14px/48px 'NotoSansKR';
				letter-spacing: 0.7px;
				line-height: 48px;
			}
		}
		.grids{
			overflow: hidden;
			position: relative;
			display: inline-block;
			&:hover{
				img{
					transform: scale(1.1);
					transition: all 5s ease-in-out;
				}
			}
		}

		
		//grid section start
		.top{
			&::after{
				clear: both;
				display: block;
				content:'';
			}
			.inner{
				width:50%;
				float:left;
				&::after{
					clear: both;
					display: block;
					content:'';
				}
				.grids{
					width:50%;
					float:left;
				}
				&.lt{
					.grids{
						&:last-child{
							clear: both;
							width:100%;
						}
					}
				}
				&.rt{
					.grids{
						&:first-child{
							clear: both;
							width:100%;
						}
						&:nth-child(3){
							float: right;
						}
					}
				}
			}
		}
		.mid{
			&::after{
				clear: both;
				display: block;
				content:'';
			}
			.grids{
				width:25%;
				float: left;
				&:nth-child(2){
					width:50%;
				}
			}
		}
		.btm{
			&::after{
				clear: both;
				display: block;
				content:'';
			}
			.grids{
				width:50%;
				float: left;
			}
		}
	}
	.slide_cont{
		background: url('/images/adidas/2019/event/originals/supercourt/1908_a_supercourt_slideBg_DT.jpg') no-repeat;
		background-position: center;
		background-size: auto 100%;
		height: 920px;
		.sliders1{
			margin: 0 auto;
			width: 1050px;
			text-align: center;
			position: relative;
			top: 135px;
			#sliders1{
				overflow:unset!important;
				ul{
					li{
						text-align: center;
						img{
	
						}
					}
				}
			}
			.slide_nav{
				padding-top: 40px;
				overflow: hidden;
				>*{
					float: left;
				}
				.prev-button{
					position: absolute;
					top: 144px;
					left: 50%;
					margin-left: -555px;
				}
				.next-button{
					position: absolute;
					top: 144px;
					left: 50%;
					margin-left: 455px;
					transform: rotate(-180deg);
				}
			}
			.txt{
				text-align: center;
				h5{
					position: relative;
					height: 50px;
					display: inline-block;
					font: 28px/28px 'adinenuPro-bold';
					color:#000;
					&::after{
						display: block;
						content:'';
						clear:both;
						border-bottom:3px solid #000;
						height: 3px;
						bottom:0;
						position: absolute;
						width: 100%;
					}
				}
				p{
					font:500 18px/27px 'NotoSansKR';
					color:#000;
					text-align: center;
					margin:25px 0;
				}
			}
			.button_area_v2{
				margin: 0 0 45px 0;
			}
			.indicator{
				width: 1050px;
				padding: 40px 0 65px 0;
				text-align: center;
				a{
					margin: 0 5.5px;
					display: inline-block;
					width: 36px;
					height: 2px;
					border: 2px solid #000;
					box-sizing: border-box;
					&.on{
						height: 8px;
						background: #000;
					}
				}
			}
		}
	}
	//end

}
@media screen and (max-width:1550px) {
	#supercourt{
		.grid_cont{
			.button_area_v2{
				a{
					padding: 0 17px;
					font: 500 12px/48px 'NotoSansKR'!important;
					letter-spacing: 0;
					line-height: 48px;
				}
			}
		}
	}
}
@media screen and (max-width:1400px) {
	#supercourt{
		.grid_cont{
			.button_area_v2{
				a{
					padding: 0 17px;
					font: 500 10px/48px 'NotoSansKR'!important;
					letter-spacing: 0;
					line-height: 48px;
				}
			}
		}
	}
}