@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';


#wrap{
	min-width: 1190px;
	overflow: hidden;
}
/* ultra_boost */

#ultra_boost{
	position: relative;
	.button{
		display: inline-block;
		width: 245px;
		a{
			display: block;
			text-align: center;
			font:500 16px/55px 'NotoSansKR';
			background: #000;
			color:#fff;
			@include css3(transition, all 0.5s);
			&:hover{
				background: #fff;
				color:#000;
			}
		}
	}
	.main{
		position: relative;
		height: 710px;
		text-align: center;
		&.on{
			.inn{
				img{
					top:0;
					left:0;
					@include css3(opacity,1);

				}
			}
		}
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.inn{
			position: relative;
			padding: 50px 0 0 0;
			z-index: 2;
			text-align: center;
			img{
				position: relative;
				top:50px;
				left:-50px;
				@include css3(opacity,0);
				@include css3(transition, all 0.5s);

			}

		}
	}

	.history{
		position: relative;
		height: 1162px;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.inn{
			position: relative;
			z-index: 1;
			text-align: center;
			h2{
				font: 60px/58px 'adinenuPro-bold';
			    color: #fff;
			    text-align: center;
			    padding: 80px 0 10px 0;
			}
			>p{
				padding: 0 0 100px 0;
				font:400 28px/42px 'NotoSansKR';
				color:#fff;
				text-align: center;
			}
			.box{
				position: relative;
				margin: 0 0 90px 0;
				&.on{
					span{
						width: 102px;
					}
					p.desc{
						@include css3(opacity,1);


					}
				}
				p{
					display: inline-block;
					padding: 0 0 0 50px;
					vertical-align: middle;
					font:400 18px/30px 'NotoSansKR';
					text-align: left;
					color:#fff;
					&.title{
						padding: 0 50px 0 0px;
						font:120px/115px 'adihaus-bold';
					}
					&.desc{
						@include css3(opacity,0);
						@include css3(transition, all 0.5s);
						transition-delay: 1.8s;
					}
				}
				span{
					display: inline-block;
					width: 0px;
					height: 1px;
					background: #fff;
					@include css3(transition, all 0.5s);
					transition-delay: 1.4s;
				}
			}
		}
	}

	.bottom{
		position: relative;
		height: 760px;
		&.on{
			.inn{
				.box{
					top:0;
					@include css3(opacity,1);

				}
			}
		}

		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.inn{
			position: relative;
			z-index: 2;
			text-align: center;
			padding: 153px 0 0 0;
			.box{
				position: relative;
				top:20px;
				display: inline-block;
				margin-right: 60px;
				text-align: center;
				@include css3(opacity,0);
				@include css3(transition, all 0.5s);
				&.box1{
					transition-delay: 0.5s;
				}
				&.box2{
					transition-delay: 0.7s;
				}
				&.box3{
					transition-delay: 0.9s;
				}
				.txt{
					p{
						font:300 17px 'NotoSansKR';
						color:#fff;
						text-align: center;
						&.title{
							padding: 20px 0 10px;
							font:500 28px 'NotoSansKR';
						}
					}
				}
			}
			.btn{
				position: relative;
				margin: 30px 0 0 0;
				width: 190px;
				display: inline-block;
				background: #fff;
				&:hover{
					a{
						span{
							margin-left: 20px;
						}
					}
				}
				a{
					display: block;
				    font: 500 17px/50px 'NotoSansKR';
					color:#000;
					text-align: center;
					span{
						display: inline-block;
						margin-left: 10px;
						width: 30px;
						height: 11px;
						background: url('/images/adidas/event/ultra_boost/181212/icon_arrow.png') no-repeat;
						background-size: 100% 100%;
						@include css3(transition, all 0.2s);
					}
				}
			}
		}
	}
}

/* End of ultra_boost */
