@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

html, body{
	height: 100%;
}
.button_area_v2{
	display: inline-block;
	&:hover{
		div{
			.bg{
				box-shadow: inset 0 0 0 1px #000;
					-webkit-box-shadow: inset 0 0 0 1px #000;
				@include css3(transition, all 0.5s);
			}
			a{
				color: #767677;
				span{
					background: #767677;
					em{
						background: #767677;
					}
				}

			}
		}
	}
	a{
		letter-spacing: 1px;
		padding:0 20px;
		border: 1px solid #000;
		white-space: nowrap;
	}
	.bg{
		box-shadow: inset 0 0 0 1px #000;
			-webkit-box-shadow: inset 0 0 0 1px #000;
	}
}
.beyonce {
	main{
		p{
			font: 300 18px/18px 'NotoSansKR';
			color: #000;
			text-align: center;
		}
		section{
			position:relative;
			>img{
				width: 100%;
			}
		}
		.visuals{
			.visuals__text{
				position: absolute;
				bottom: 7%;
				left: 50%;
				transform: translateX(-50%);
				text-align: center;
				h3{
					font: 700 36px/36px 'NotoSansKR';
					color: #000;
					text-align: center;
				}
				p{
					line-height: 75px;
				}
			}
		}
	}
}



