@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#prada {
	position: relative;
	// .button_area_v2{
	// 	margin-top: 25px;
	// 	display: inline-block;
	// 	&:hover{
	// 		a{
	// 			-webkit-transform: translate(3px,3px);
	// 			transform: translate(3px,3px);
	// 			-webkit-transition: all .5s;
	// 			transition: all .5s;
	// 			opacity: .9;
	// 		}
	// 		.bg{
	// 			&::after{
	// 				-webkit-transform: translate(0px,0px);
	// 				transform: translate(0px,0px);
	// 			}
	// 		}
	// 	}
	// 	a{
	// 		padding:0 15px;
	// 		font: 500 14px/48px 'NotoSansKR';
	// 		letter-spacing: 0.7px;
	// 	}
	// }
	.button_area_v2{
		.orange{
			.bg{
				box-shadow: inset 0 0 0 1px #ed493d;
				-webkit-box-shadow: inset 0 0 0 1px #ed493d;
				@include css3(transition, all 0.5s);
			}
			a{
				color: #fff;
				background: #ed493d;
				span{
					background: #ed493d;
					em{
						background: #ed493d;
					}
				}

			}
		}
		&:hover{
			div{
				.bg{
					box-shadow: inset 0 0 0 1px #000;
    				-webkit-box-shadow: inset 0 0 0 1px #000;
					@include css3(transition, all 0.5s);
				}
				a{
					color: #767677;
				    background: #000;
					span{
						background: #767677;
						em{
							background: #767677;
						}
					}

				}
			}
			.orange{
				.bg{
					box-shadow: inset 0 0 0 1px #ed493d;
    				-webkit-box-shadow: inset 0 0 0 1px #ed493d;
					@include css3(transition, all 0.5s);
				}
				a{
					color: #ccc;
				    background: #ed493d;
					span{
						background: #ed493d;
						em{
							background: #ed493d;
						}
					}

				}
			}
		}
		a{
			letter-spacing: 1px;
			padding:0 20px;
		}
	}

	.main__wrapper{
		position: relative;
		height: 660px;
		.sect_img{
			position: absolute;
			width: 1920px;
			top: 0;
			left: 50%;
			margin-left: -960px;
			>img{
				display: block;
				width:100%;
			}
		}
	}
	.section__wrapper{
		position: relative;
		.sect_img{
			position: absolute;
			width: 1920px;
			top: 0;
			left: 50%;
			margin-left: -960px;
			>img{
				display: block;
				width:100%;
			}
		}
		.inn{
			margin: 0 auto;
			text-align: right;
			.button_area_v2{
				display: inline-block;
			}
		}
	}
}
