@import "./front/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 1230px;
}
#contents_wrap{padding: 0;}
.campaign_puremove_bra{
    .btn{
        margin: 35px 0 0;
        display: inline-block;
        width: 266px;
        text-align: center;
        font:500 21px/70px 'NotoSansKR';
        background: #000;
        color:#fff;
        transition: all 0.5s;
        &:hover{
            background: #5f5f5e;
        }
    }

    .main_visual{
        overflow: hidden;
        position: relative;
        width:1920px;
        height: 1080px;
        top: 0;
        left: 50%;
        margin-left: -960px;
        &.on{
            .inn{
                h1{
                    top:10px;
                    opacity: 1;

                }
                p{
                    opacity: 1;
                }
            }
        }
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left: -960px;
        }
        .inn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            h1{
                font: 500 80px/80px 'DINWebPro-CondBold';
                color: #fff;
                text-align: center;
                opacity: 0;
                transition: all 0.5s;
            }
            p{
                font: 400 16px 'NotoSansKR';
                color: #fff;
                text-align: center;
                opacity: 0;
                transition: all 0.5s;
                transition-delay: 0.5s;
            }

        }
        .bottom_title{
            position: absolute;
            bottom: 31px;
            margin-left: -77px;
            left: 50%;
            text-align: center;
            /* width: 100%; */
            z-index: 2;
            p{
                text-transform: uppercase;
                font: 33px 'DINWebPro-CondMedium';
                text-align: center;
                color: #ff4814;
                letter-spacing: 5px;
                &.small{
                    letter-spacing: 3.8px;
                    font: 16px 'DINWebPro-Cond';
                }
            }
        }
    }

    .main_visual_overlay{
        position: relative;
        width: 100%;
        height: 1080px;
        overflow: hidden;
    }

    .grid_women{
        position: relative;
        background: #fff;
        ul{
            overflow: hidden;
            width: 1080px;
            margin : 0 auto;
            li{
                overflow: hidden;
                float: left;
                width: 33%;
                a{
                    img{
                        display: block;
                        transition: ease-in-out 5s;
                    }
                }
                &:hover{
                    img{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    .content_wrap{      
        position: relative;
        height: 1880px;
        &.on{
            .prd_section{
                .bra{
                    top:0;
                    opacity: 1;

                }
                .inn{
                    img{
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
        }
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left: -990px;
        }
        .prd_section{
            position: relative;
            padding: 50px 0 0 0;
            z-index: 1;
            .bra{
                position: relative;
                top:100px;
                text-align: center;
                opacity: 0;
                transition: all 0.8s;
            }
            .inn{
                position: absolute;
                top:115px;
                left:50%;
                margin-left: -574px;
                img{
                    transform: scale(1.3);
                    opacity: 0;
                    transition: all 0.8s;
                    transition-delay: 0.5s;
                }
            }
            .prd_txt{
                position: relative;
                padding: 33px 0 0 0;
                text-align: center;
                z-index: 2;
                p{
                    text-align: center;
                    font:500 18px 'NotoSansKR';
                    color:#ff4814;
                }

            }
        }
    }

    .products_collection{
        position: relative;
        z-index: 1;

        width: 100%;
        height: 750px;
        padding-top: 100px;
        position: relative;
        text-align: center;


        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:640px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            .arrow-prev{
                position: absolute;
                top:50%;
                left:50%;
                margin-left: -495px;

                z-index: 2;
                width: 26px;
                height: 26px;
            }
            .arrow-next{
                position: absolute;
                top:50%;
                left:50%;
                margin-left:490px;

                z-index: 2;
                width: 26px;
                height: 26px;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 640px;
                li{
                    width: 990px;
                    position: relative;
                    float: left;
                    text-align: center;
                    @include opacity(0.4);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                    img{
                        display: inline-block;
                    }
                }
                li.active{
                    @include opacity(1);
                }
            }
        }
        .slider-btn{
            width: 100%;
            position: relative;
            padding: 30px 0 20px;
            text-align: center;
            a{
                display: inline-block;
                width: 12px;
                height: 10px;
                padding-top: 2px;
                text-align: center;
                margin-right: 8px;
                background: #000;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                color: #fff;
                opacity: .4;
                &.on{
                    opacity: 1;
                }
            }
        }
    }
}
