@import "./app/css/reebok/scss/about.scss";
#contents_wrap{
    padding: 0;
    background: #fff;
}
.Aztrek2018{
    .box1{
        position:relative;
        height: 1106px;
        .img{
            position: absolute;
            top:50%;
            left: 50%;
            margin-top:-553px;
            margin-left: -960px;
        }
        .wrap{
            position: absolute;
            bottom: 50%;
            left: 50%;
            margin-bottom: -512px;
            margin-left: -337px;
            .btn{
                float: left;
                display: inline-block;
                background: rgba(255, 255, 255, .2);
                border: 1px solid #fff;
                margin-right: 30px;
                a{
                    display: block;
                    padding: 25px 103px;
                    color: #fff;
                    font-family: 'NotoSansKR';
                    font-weight: 400;
                    font-size: 18px;
                }
            }
        }
    }

    .box2{
        position: relative;
        height: 382px;
        .img{
            position: absolute;
            top:50%;
            left: 50%;
            margin-top:-191px;
            margin-left: -960px;
        }
        p{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -119px;
            margin-left: -343px;
            font-family: 'NotoSansKR';
            font-weight: 300;
            font-size: 44px;
            color: #fff;
            line-height: 64px;
        }
        .btn{
            position: absolute;
            bottom: 50%;
            left: 50%;
            margin-bottom: -108px;
            margin-left: -343px;
            display: inline-block;
            background: #fff;
            line-height: 20px;
            a{
                display: block;
                padding: 23px 52px;
                color:#000;
                font-family:'NotoSansKR';
                font-weight:400;
                font-size:18px;
            }
        }
    }


    .slide_lineup{
        position: relative;
        width: 100%;

        background:url('/images/reebok/event/about/Aztrek/180919/slider_bg.jpg') 100% 100% no-repeat;
        background-size: cover;
        .wrap{
            position: relative;
            text-align: center;
            .btm_logo{
                padding:50px 0;
                text-align: center;
            }
            .btn{
                display: inline-block;
                background: #000;
                border: 1px solid #ccc;
                text-align: center;
                margin: 30px 0 70px 0;
                a{
                    display: block;
                    padding: 17px 87px;
                    color:#fff;
                    font:18px 'NotoSansKR';
                  font-weight:500;
                }
                &:hover{
                    background:#fff;
                    @include prefix-css3(transition , all .5s ease-in 0.1s);
                    a{
                        color:#000;
                    }
                }
            }
        }

        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:821px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            .arrow-prev{
                position: absolute;
                top:50%;
                left:50%;
                margin-left: -335px;
                background-position: -125px -80px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            .arrow-next{
                position: absolute;
                top:50%;
                left:50%;
                margin-left:340px;
                background-position: -125px -125px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 821px;
                li{
                    width: 580px;
                    position: relative;
                    float: left;
                    text-align: center;
                    margin: 0 45px;
                    @include opacity(1);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                    img{
                        display: inline-block;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        top: 0;
                        // left: 40px;
                        display: block;
                        width: 580px;
                        height: 821px;
                        background-color: #000;
                        @include opacity(0.5);
                        @include prefix-css3(transition ,opacity 0.7s ease-in 0.3s);
                        z-index: 1;
                    }
                }
                li.active{
                    @include opacity(1);
                    @include prefix-css3(transition ,ease-in 0.3s);
                    &::after{
                        content: '';
                        display: none;
                    }
                }
            }
        }
        .indicator{
            text-align: center;
            padding:25px 0 50px 0;
            a{
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #aba399;
                margin: 0 2px;
                &.on{
                    background: #000;
                }
            }
        }
    }
}




/* floatride end */
