@import "./front/css/reebok/scss/about.scss";

#wrap {
  overflow: hidden;
  min-width: 1190px;
}

#contents_wrap {
  padding: 0;
}

.campaign_bt21 {
  .btn{
		display: inline-block;
		>div{
			position: relative;
			&::before{
				border-bottom: 1px solid #000;
				border-left: 1px solid #000;
				bottom: -4px;
				height: 3px;
				left: 3px;
				width: calc(100%);
				content: "";
				display: block;
				position: absolute;
			}
			&::after{
				border-right: 1px solid #000;
				border-top: 1px solid #000;
				height: calc(100%);
				right: -4px;
				top: 3px;
				width: 3px;
				content: "";
				display: block;
				position: absolute;
			}
			a{
				width: auto;
				font: 500 14px/48px 'NotoSansKR';
				letter-spacing: 0;
				position: relative;
				display: block;
				padding: 0 20px;
				text-align: center;
				height: 50px;
				color: #fff;
				background: #000;
				z-index: 2;
				border: 1px solid #000;
				letter-spacing: 0.7px;
				transition: .4s;
				.arrow{
					display: inline-block;
					width: 24px;
					height: 11px;
					margin-left: 10px;
					background: url(/images/reebok/2019/event/interval_og/arrow_w.png) no-repeat;
				}
			}
		}
		&:hover{
			a{
				transform: translate(3px, 3px);
			}
		}
  }
  
  .main{
    position: relative;
    height: 1080px;
    video{
      width: 1920px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -960px;
    }
    .vid_box{
      position: absolute;
      top: 58%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      z-index: 5;
      h2{
        text-align: center;
        img{
          display: block;
          width: 100%;
        }
      }
      a.play-video-cust{
        margin-top: 15px;
        display: inline-block;
        width: 60px;
        img{
          display: block;
          width: 100%;
        }
      }
    }
  }
  .state{
    position: relative;
    padding: 70px 0;
    p{
      font: 500 24px 'NotoSansKR';
      color: #000;
      text-align: center;
    }
    h3 {
      margin-top: 20px;
      text-align: center;
      img {
        display: inline-block;
      }
    }
  }
  
  .members{
    padding:64px 0;
    background: #fcf2d7;
    text-align: center;
    .video{
      margin:0 auto;
      width:640px;height:640px;
      video{width:100%;}
    }
    p{
      font: 500 16px 'NotoSansKR';
      color:#686358;
      text-align: center;
      &.title{
        font: 700 32px 'NotoSansKR';
        color:#000;
      }
    }
    .btn{
      margin:30px 0 0 0;
    }
  }
  .characters-box-wrap{
    margin:70px auto 0;
    width:1024px;
    overflow: hidden;
    &:after{
      content:'';
      display: inline-block;
      clear: both;
    }
    .character-box{
      /* float: left; */
      display: inline-block;
      width: 253px;
      margin-bottom: 70px;
      text-align: center;
      opacity: 0;
      transform: rotate(20deg);
      transition: all 0.2s;
      &.show{
        transform: rotate(0deg);
        opacity: 1;
      }
    } 
  }
  .copyright{
    position: relative;
    margin-bottom: 60px;;
    text-align: center;
    img{}
  }
}
