@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';


#container_r{
	min-width: 1220px;
	overflow: hidden;
}
/* ultra_boost */

#ultra_boost_keycity{
	position: relative;
	.button{
		display: inline-block;
		width: 190px;
		&.ready{
			a{
				cursor: default;

			}
		}
		a{
			display: block;
			text-align: center;
			font:300 20px/50px 'NotoSansKR';

			background: #000;
			color:#fff;
			@include css3(transition, all 0.5s);
			text-transform: uppercase;
			// &:hover{
			// 	background: #fff;
			// 	color:#000;
			// }
		}
	}

	.main_visual{
		position: relative;
		height: 999px;
		overflow: hidden;
		&.on{
			.txt{
				.title{
					top:0;
					@include css3(opacity,1);

				}
				.kor{
					top:0;
					@include css3(opacity,1);

				}
			}
			.button{
				a{
					span{
						left:100%;
					}
				}
			}
		}

		.ct1190{
			padding: 520px 0 0 0 ;
			text-align: right;
		}
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.txt{
			position: relative;
			.kor{
				position: relative;
				top:10px;
				padding: 10px 0 0 0;
				text-align: right;
				font:400 22px/22px 'NotoSansKR';
				color:#fff;
				@include css3(opacity,0);
				@include css3(transition, all 0.5s);
				transition-delay: 0.4s;


			}
			.title{
				position: relative;
				top:10px;
				font: 63px/60px 'adinenuPro-black';
				color:#fff;
				text-align: right;
				@include css3(opacity,0);
				@include css3(transition, all 0.5s);
				&.title2{
					transition-delay: 0.2s;
				}
			}
		}
		.button{
			padding: 50px 0 0 0;
			a{
				position: relative;
				overflow: hidden;
				font:500 16px/50px 'NotoSansKR';
				em{
					display: inline-block;
					margin-left: 10px;
					width: 30px;
					height: 11px;
					background: url('/images/adidas/event/ultra_boost/180917_keycity/icon_arrow.png') no-repeat;
					background-size:100% 100%;
				}
				span{
					position: absolute;
					left:0%;
					background: #000;
					top:0;
					width: 100%;
					height: 100%;
					display: inline-block;
					@include css3(transition, all 0.8s);
					transition-delay: 0.6s;

				}
			}
		}
	}

	.prd_description{
		position: relative;
		height: 1070px;
		&.on{
			.inn{
				p{
					top:0;
					@include css3(opacity,1);
				}
				.img{
					top:0;

					@include css3(opacity,1);

				}
			}
		}
		.bg{
			position: absolute;
			top:82px;
			left:50%;
			margin-left: -800px;
		}
		.inn{
			position: relative;
			padding: 170px 0 0 0;
			p{
				position: relative;
				top:10px;
				text-align: center;
				font:500 24px/35px 'NotoSansKR';
				color:#000;
				@include css3(opacity,0);
				@include css3(transition, all 0.8s);


			}
			.img{
				position: relative;
				top:10px;
				padding: 40px 0 0 0;
				text-align: center;
				@include css3(opacity,0);
				@include css3(transition, all 0.8s);
				transition-delay: 0.6s;

			}
		}
	}

	.prd_cuts_wrapper{
		position: relative;
		margin: 160px 0 0 0;
		&.on{
			.left{
				.bg{
					&.pink{
						width: 236px;
						@include css3(opacity,1);
					}
				}
				.big_shoe{
					width: 533px;
					@include css3(opacity,1);

				}
			}
			.right{
				.blue{
					width: 188px;
					@include css3(opacity,1);
				}
				.shoe{
					width: 321px;
					@include css3(opacity,1);
				}
			}
		}
		.left{
			text-align: left;
		    width: 1190px;
		    height: 696px;
		    margin: 0 auto;

			.bg{
				position: absolute;
				left:50%;
				&.blue{
				    margin-left: -952px;
					width: 755px;
					height: 695px;
					background: #848fe8;
					background: url('/images/adidas/event/ultra_boost/180917_keycity/prd_cut1_bg1.jpg') no-repeat;
				}
				&.pink{
				    margin-left: -197px;
					width: 0px;
					height: 261px;
					@include css3(opacity,0);
					@include css3(transition, all 0.6s);
					transition-delay: 0.5s;
					background: url('/images/adidas/event/ultra_boost/180917_keycity/prd_cut1_bg2.jpg') no-repeat;
					background-size: 100% 100%;

				}
			}
			p{
				position: absolute;
			    display: inline-block;
			    margin-left: -43px;
			    top: 135px;
			    left: 50%;
			    font: 18px/18px 'adihaus-bold';
			    color: #fff;
			    text-transform: uppercase;
				@include css3(transform, rotate(90deg));
				z-index: 2;
			}
			.big_shoe{
				position: relative;
			    display: inline-block;
			    top: 137px;
			    left: -61px;
			    width: 0px;
			    overflow: hidden;
				@include css3(opacity,0);
				@include css3(transition, all 0.6s);
			}
		}
		.right{
			position: absolute;
		    left: 50%;
		    top: 137px;
		    margin-left: 296px;
			.blue{
				position: absolute;
		        left: -38px;
			    top: 104px;
			    width: 0px;
			    height: 158px;
			    background: #8f96eb;
				@include css3(opacity,0);
				@include css3(transition, all 0.6s);
				transition-delay: 1s;
			}
			.shoe{
				position: relative;
				width: 0px;
				overflow: hidden;
				@include css3(opacity,0);
				@include css3(transition, all 0.6s);
				transition-delay: 1.5s;
			}
			p{
				position: relative;
				top: 125px;
				left: -188px;
				text-align: left;
				font: 400 18px/33px 'NotoSansKR';
				color: #000;
			}
			span{
				position: absolute;
				bottom: -213px;
				left: -223px;
				display: inline-block;
				font: 12px/18px 'adihaus-bold';
				color: #bdbdbd;
				transform: rotate(-90deg);
			}
		}
	}

	.prd_cuts_wrapper.second{
		position: relative;
		height: 437px;
		margin: 110px 0 0 0;
		&.on{
			.ct1190{
				.bg1988{
					// span{
					// 	left:100%;
					// }
					.letter_txt{


						&.txt1{
							left:0;
							@include css3(opacity,1);
						}
						&.txt2{
							left:0;
							@include css3(opacity,1);
						}
						&.txt3{
							left:0;
							@include css3(opacity,1);
						}
						&.txt4{
							left:0;
							@include css3(opacity,1);
						}
					}
				}
				.img{
					width: 441px;
					@include css3(opacity,1);
				}
			}
		}
		.ct1190{
			position: relative;

			.bg1988{
				position: absolute;
				top:0;
			    left: -46px;
				.letter_txt{
					position: relative;
					display: inline-block;
					float: left;
					text-align: center;
					&.txt1{
						width: 131px;
						left:-500px;
						@include css3(opacity,0);

						@include css3(transition, all 0.8s);
						transition-delay: 0.6s;

					}
					&.txt2{
						width: 199px;
						left:-500px;
						@include css3(opacity,0);

						@include css3(transition, all 0.8s);
						transition-delay: 0.5s;

					}
					&.txt3{
						width: 183px;
						left:-500px;
						@include css3(opacity,0);
						@include css3(transition, all 0.8s);
						transition-delay: 0.4s;
					}
					&.txt4{
						width: 164px;
						left:-500px;
						@include css3(opacity,0);
						@include css3(transition, all 0.8s);
						transition-delay: 0.3s;
					}
				}
				.txt1{
					// position: absolute;

				}
				span{
					position: absolute;
					top:0;
					left:0;
					width: 100%;
					display: inline-block;
					height: 100%;
					background: #fff;
					@include css3(transition, all 1s);

				}
			}
			.txt{
				position: relative;
				top: 91px;
				left: 186px;
				p{
					padding: 0 0 40px 0;
					text-align: left;
					font: 400 18px/33px 'NotoSansKR';
					color: #000;
				}
			}
			.img{
				position: absolute;
			    top: 98px;
				left:50%;
				width: 0px;
		        margin-left: 112px;
				overflow: hidden;
				@include css3(opacity,0);
				@include css3(transition, all 0.6s);
				transition-delay: 1.2s;

			}
			.bg{
				position: absolute;
			    top: 225px;
			    left: 50%;
			    margin-left: 366px;
			}
		}
	}

	.seoul_wrapper{
		position: relative;
		margin: 80px 0 0 0;
		&.on{
			.ct1190{
				.seoul_txt{
					@include css3(opacity,1);

				}
				.center_img{
					@include css3(opacity,1);

				}
				.left_img{
					@include css3(opacity,1);

				}
			}
		}
		.ct1190{
			.seoul_txt{
				position: absolute;
			    left: -197px;
			    top: 180px;
				@include css3(opacity,0);
				@include css3(transition, all 0.6s);
			}
			.center_img{
				text-align: center;
				@include css3(opacity,0);
				@include css3(transition, all 0.6s);
				transition-delay: 0.8s;
			}
			.left_img{
				position: absolute;
			    right: -266px;
			    top: 82px;
				@include css3(opacity,0);
				@include css3(transition, all 0.6s);
				transition-delay: 0.4s;
			}
		}
	}

	.coll_wrapper{
		position: relative;
		margin: 115px 0 0 0;
	    padding-bottom: 53%;
		&.on{
			.bg_wrap{
				.box1{
					@include css3(opacity,1);

				}
				.box2{
					@include css3(opacity,1);

				}
				.box3{
					@include css3(opacity,1);

				}
				.box4{
					@include css3(opacity,1);

				}
			}
			.inn{
				top:50%;

				@include css3(opacity,1);

			}
		}
		@media screen and (max-width: 1450px){
			.inn{
				width: 80%;
				// display: none;
				img{
					width: 100%;
				}
			}

		}
		.bg_wrap{
			&:after{
				content: '';
				display: inline-block;
				clear: both;
			}
			div{
				display: inline-block;
				float: left;
				width: 50%;
				@include css3(opacity,0);
				img{
					width: 100%;
				}
				&.box1{
					@include css3(transition, all 0.5s);
					transition-delay: 0.7s;
				}
				&.box2{
					@include css3(transition, all 0.5s);
					transition-delay: 0.9s;


				}
				&.box3{
					@include css3(transition, all 0.5s);
					transition-delay: 1.1s;


				}
				&.box4{
					@include css3(transition, all 0.5s);
					transition-delay: 1.4s;
				}
			}
		}
		.inn{
			position: absolute;
			top:55%;
			left:50%;
			transform: translate(-50%,-50%);
			-webkit-transform: translate(-50%,-50%);
			@include css3(opacity,0);
			@include css3(transition, all 0.5s);
			transition-delay: 1.5s;

			img{
				// width: 100%;
			}
		}
	}

	.bottom{
		position: relative;
		padding: 75px 0;
		text-align: center;
		&.on{
			.title{
				top:0;
				@include css3(opacity,1);

			}
			.kor{
				top:0;

				@include css3(opacity,1);

			}
			.button{
				position: relative;
				top:0px;
				@include css3(opacity,1);
				span{
					left:100%;
				}

			}
		}
		.button{
			display: inline-block;
			overflow: hidden;
			position: relative;
			top:10px;
			@include css3(opacity,0);
			@include css3(transition, all 0.6s);
			transition-delay: 0.4s;
			&.ready{
				a{
				    cursor: default;
				}
			}
			a{
				font: 500 16px/50px 'NotoSansKR';
				em{
					display: inline-block;
					margin-left: 10px;
					width: 30px;
					height: 11px;
					background: url('/images/adidas/event/ultra_boost/180917_keycity/icon_arrow.png') no-repeat;
					background-size:100% 100%;
				}
			}
			span{
				position: absolute;
			    left: 0%;
			    background: #000;
			    top: 0;
			    width: 100%;
			    height: 100%;
			    display: inline-block;
				@include css3(transition, all 0.6s);
				transition-delay: 1s;
			}
		}
		.storelist{
			display: block;
			text-align: center;
			p{
				display: inline-block;
				margin: 0 0 40px 0;
				text-align: center;
				font: 300 14px 'NotoSansKR';
				color: #000;
				border-bottom: 1px solid #000;
				cursor: pointer;
			}

		}
		p{
			position: relative;
			// top:10px;
		    font: 34px 'adihaus-bold';
			text-align: center;
			color:#000;
			&.title{
				padding: 0 0 25px 0;
				@include css3(opacity,0);
				@include css3(transition, all 0.6s);
				transition-delay: 0.2s;

			}
			&.kor{
				font:300 17px 'NotoSansKR';
				@include css3(opacity,0);
				@include css3(transition, all 0.6s);
				transition-delay: 0.6s;

				span{
					font:18px 'adihaus';
				}
			}

		}
	}

}
/* End of ultra_boost */
#footer{
	z-index: 19;
}
.modal-popup-wrapper.ultra_boost_keycity{
	// display: block;
	// position: relative;
	// z-index: 200;
	.popup{
		.popup-header{
			border-bottom:0px;
			    padding: 27px 30px 00px;
		}
		.popup-contents{

			.table_wrap{
				height: 400px;

				overflow: scroll;
				overflow-x: hidden;
			}
			table{
				width: 100%;
				tr{
					&.title{
						padding: 10px 0;
					    border-bottom: 1px solid #ccc;
						td{
							padding: 0 0 10px 0;
							font:500 14px 'NotoSansKR';

						}
					}
					td{
						font:400 12px 'NotoSansKR';
						color:#000;
						text-align: center;
						padding: 7px 0;
					}
				}
			}
		}
	}
}
