@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
.campaign_nano_m{

    min-width: 1200px;
    .about_passion{
        position: relative;
        height: 640px;
        overflow: hidden;

        .main{
            overflow: inherit;
            .main_bg{
                img{
                    position: absolute;
                    top:0;
                    left:50%;
                    margin-left: -990px;
                }
            }
            .logo{
                position: absolute;
                top:100px;
                left:50%;
                margin-left: -340px;
                text-align: right;
                width: 889px;

                .tit{
                    position: absolute;
                    top:323px;
                    right:100px;
                    text-transform: uppercase;
                    font:29px/30px 'DINWebPro-Cond';
                    color:#fff;
                }
                a.buy{
                    position: absolute;
                    top:370px;
                    right:99px;
                    border:2px solid #d7d8d8;
                    &:hover{
                        .bg{
                            @include opacity (0.1);
                        }
                    }
                    p{
                        position: relative;
                        padding:2px 78px 0 78px;
                        color:#fff;
                        font:22px/56px 'DINWebPro-Cond','NotoSansKRRegular';
                        z-index: 3;
                    }
                    .bg{
                        position: absolute;
                        top:0;left:0;
                        width: 100%;
                        height: 100%;
                        background: #000;
                        @include opacity (0.5);
                        z-index: 2;
                    }
                    &.buy_w{
                        top:440px;
                        p{
                            padding:0 64px;
                        }
                    }
                }

            }
        }

    }
    .perform{

        position: relative;
        width: 100%;
        height: 845px;
        overflow: hidden;
        @media screen and (max-width: 1850px){
            height: 760px;
            .bg{
                img{
                }
            }

        }
        @media screen and (max-width: 1570px){
            height: 760px;
            .bg{
                img{

                }
            }
        }
        @media screen and (max-width: 1570px){
            height: 680px;
            .bg{
                img{

                }
            }
        }
        @media screen and (max-width: 1400px){
            height: 600px;
            .bg{
                img{
                    width: 130% !important;
                }
            }
        }
        .bg{
            position: relative;
            transition:all 0.3s ease-out;
            img{
                width:120%;
                // width: 120vw;
                // margin-top: -3px;
            }
        }
        .bg_shoe{
            width: 40%;
            position: absolute;
            top:10%;
            left:50%;
            margin-left:-590px;
            transition:all 0.1s ease-out;
            @media screen and (max-width: 1585px){
                top:19%;
                left:50%;
                margin-left:-498px;
            }
            @media screen and (max-width: 1400px){
                top:20%;
                left:50%;
                margin-left:-468px;
            }
            img{
                width: 100%;
            }

        }
        .txt_wrapper{

            .txt_box{
                position: absolute;
                top:100px;
                right:50%;
                margin-right: -450px;
                @media screen and (max-width: 1585px){
                    top:98px !important;

                }
                .main_txt{
                    text-align: right;
                    img{
                        // opacity: .7;
                        // transition:all 0.5s ease-in;
                    }
                }
                .main_txt:hover img{
                    opacity: 1;
                }
                .main_txt:before{
                    position: absolute;
                    top: -13px;
                    right:0;
                    display: inline-block;
                    content: '';
                    width: 378px;
                    height:3px;
                    opacity: .8;
                    background: #fff;
                }
                .nano_txt{
                    text-align: right;
                    color:#c5eb6c;
                    text-transform: uppercase;
                    font:85px 'QStencil';
                    @media screen and (max-width: 1585px){
                        font:45px 'QStencil';
                    }
                }
                .sub_txt{
                    text-align: right;
                    color:#f5f5f5;
                    text-transform: uppercase;
                    font:600 20px/33px  'NotoSansKRlight','Nanum Gothic';
                    @media screen and (max-width: 1585px){
                        font:600 18px/25px  'NotoSansKRlight','Nanum Gothic';
                    }
                }
                a.buy{
                    position: absolute;
                    top:473px;
                    right:0px;
                    border:2px solid #d7d8d8;
                    @media screen and (max-width: 1585px){
                        top:360px !important;
                    }
                    &:hover{
                        .bg{
                            @include opacity (0.3);
                        }
                    }
                    p{
                        position: relative;
                        padding:2px 78px 0 78px;
                        color:#fff;
                        font:22px/56px 'DINWebPro-Cond','NotoSansKRRegular';
                        z-index: 3;
                    }
                    .bg{
                        position: absolute;
                        top:0;left:0;
                        width: 100%;
                        height: 100%;
                        background: #000;
                        @include opacity (0.5);
                        z-index: 2;
                    }
                }
            }
        }
        .spot{
            .target1{
                    position: relative;
                    display: inline-block;
                    width: 46px;
                    height: 46px;
                    background:url('http://image.reebok.co.kr/images/reebok/event/about/nano7_m/target1.png') 50% 100% no-repeat;
                    transition:all 0.2s ease-out;
                    z-index: 5;
                    &:hover{ background:#c1dc81; }
                    a{
                        position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -7px;
                    margin-top: -7px;
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                        background:url('http://image.reebok.co.kr/images/reebok/event/about/nano7_m/icon.png') 50% 100% no-repeat;
                        background-position: 0 0;
                    }
                }
            .content1{
                visibility: hidden;
                margin-left: -307px;
                margin-top: -183px;
                transition:all 0.6s ease-out;
                .con_img{
                    width: 320px;
                    @include prefix-css3(transform,scale(0));
                    @include prefix-css3(transform-origin,center right);
                    @include prefix-css3(transition,all 0.5s);
                }
                .text{

                    @include prefix-css3(transition,all 0.2s ease-out);
                    @media screen and (max-width: 1585px){
                        margin-top:-203px;
                    }

                    .heading{
                        display: inline-block;
                        padding-right: 80px;
                        margin-bottom: 20px;
                        color:#fff;
                        opacity: 0;
                        border-bottom:1px solid #c1dc81;
                        font:600 26px/60px  'NotoSansKRlight','Nanum Gothic';
                        @include prefix-css3(transform,translate3d(20px,0,0));
                        transition:all 0.5s ease-out;
                        @media screen and (max-width: 1585px){
                            font:600 20px/30px  'NotoSansKRlight','Nanum Gothic';
                        }
                        }
                    .desc{
                        color:#fff;
                        opacity: 0;
                        font:600 15px/20px  'NotoSansKRlight','Nanum Gothic';
                        @include prefix-css3(transform,translate3d(20px,0,0));
                        transition:all 0.5s ease-out;
                        @media screen and (max-width: 1585px){
                            font:600 15px/18px  'NotoSansKRlight','Nanum Gothic';
                        }
                        }
                    }
                }

                &.active{
                    .con_img{
                        @include prefix-css3(transform,scale(1));
                        @media screen and (max-width: 1585px){
                            @include prefix-css3(transform,scale(0.8));
                        }
                        @media screen and (max-width: 1200px){
                            @include prefix-css3(transform,scale(0.6));
                        }
                    }
                    .text{
                        // margin-left:-337px;
                        .heading{
                            opacity: 1;
                            @include prefix-css3(transform,translate3d(0,0,0));
                            @include prefix-css3(transition-delay,0.5s);
                        }
                        .desc{
                            opacity: 1;
                            @include prefix-css3(transform,translate3d(0,0,0));
                            @include prefix-css3(transition-delay,0.8s);
                        }
                    }

                }
            &.point1{
                position: absolute;
                top:590px;
                left:50%;
                margin-left:16px;
                @media screen and (max-width: 1585px){
                    top:545px;
                    left:50%;
                    margin-left:-5px;
                }
                @media screen and (max-width: 1400px){
                    top:490px;
                    left:50%;
                    margin-left:-46px;
                }

                .target1.active{
                    background:#c1dc81;
                    a{
                        background:url('http://image.reebok.co.kr/images/reebok/event/about/nano7_m/icon.png') 50% 100% no-repeat;
                        background-position:-27px 0;
                    }
                }
                .content1{
                    .text{
                        margin-left:-237px;
                        margin-top:-218px;
                        @media screen and (max-width: 1585px){
                            margin-left:-158px;
                            margin-top:-150px;
                        }
                        @media screen and (max-width: 1200px){
                            margin-top:-215px;
                            margin-left: -91px;
                        }
                    }
                }
            }
            &.point2{
                position: absolute;
                top:382px;
                left:50%;
                margin-left:-182px;
                @media screen and (max-width: 1585px){
                    top:345px;
                    left:50%;
                    margin-left:-149px;
                }
                @media screen and (max-width: 1400px){
                    top:358px;
                    margin-left:-199px;
                }
                .target1{
                    display: inline-block;
                    width: 46px;
                    height: 46px;
                    background:url('http://image.reebok.co.kr/images/reebok/event/about/nano7_m/target1.png') 50% 100% no-repeat;
                    transition:all 0.2s ease-out;
                    &:hover{ background:#c1dc81; }
                    a{
                        position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -7px;
                    margin-top: -7px;
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                        background:url('http://image.reebok.co.kr/images/reebok/event/about/nano7_m/icon.png') 50% 100% no-repeat;
                        background-position: 0 0;
                    }
                    }
                    .target1.active{
                        background:#c1dc81;
                        a{
                            background:url('http://image.reebok.co.kr/images/reebok/event/about/nano7_m/icon.png') 50% 100% no-repeat;
                            background-position:-27px 0;
                        }
                    }
                .content1{
                    .text{
                        margin-left: 0px;
                        margin-top:14px;
                        @media screen and (max-width: 1585px){
                            margin-top: -20px;
                        }
                        @media screen and (max-width: 1200px){
                            margin-top: -72px;
                        }
                    }
                }
            }
            &.point3{
                position: absolute;
                top:230px;
                left:50%;
                margin-left:-450px;
                @media screen and (max-width: 1585px){
                    top:223px;
                    left:50%;
                    margin-left:-437px;
                }
                .target1{
                    display: inline-block;
                    width: 46px;
                    height: 46px;
                    background:url('http://image.reebok.co.kr/images/reebok/event/about/nano7_m/target1.png') 50% 100% no-repeat;
                    transition:all 0.2s ease-out;
                    &:hover{ background:#c1dc81; }
                    a{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-left: -7px;
                        margin-top: -7px;
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        background:url('http://image.reebok.co.kr/images/reebok/event/about/nano7_m/icon.png') 50% 100% no-repeat;
                        background-position: 0 0;
                    }
                    }
                    .target1.active{
                        background:#c1dc81;
                        a{
                            background:url('http://image.reebok.co.kr/images/reebok/event/about/nano7_m/icon.png') 50% 100% no-repeat;
                            background-position:-27px 0;
                        }
                    }

                .content1{
                    .text{
                        margin-left: 0px;
                        margin-top:14px;
                        @media screen and (max-width: 1200px){
                            margin-left:67px;
                            margin-top:-37px;
                        }
                    }
                }
            }

        }
    }

    .product-list{
        .item{
            width: 25%;
            float: left;
            // float:none;
            margin:0 auto;
            text-align: center;
            .img{
                height: 208px;
                padding-top: 37px;
            }
            .tit{
                margin-bottom: 5px;
            }
        }
    }

    .products_collection{
        width: 100%;
        position: relative;
        background: #323232;
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left:-980px;
            }
        h4{
            position: relative;
            padding:90px 0 14px;
            z-index: 1;
            font:55px/55px 'DINWebPro-Cond';
            text-align: center;
            color:#fff;
            }
        p.title{
            position: relative;
            padding-bottom: 44px;
            width: 100%;
            font:18px/25px 'NotoSansKRlight';
            text-align: center;
            color:#fff;
        }
        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:550px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            background: #000;
            .arrow-prev{
                position: absolute;
                top:50%;
                left:50%;
                margin-left: -420px;
                background-position: -125px -80px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            .arrow-next{
                position: absolute;
                top:50%;
                left:50%;
                margin-left:420px;
                background-position: -125px -125px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 550px;
                li{
                    width: 765px;
                    position: relative;
                    float: left;
                    @include opacity(0.4);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                }
                li.active{
                    @include opacity(1);
                }
            }

        }
        .prodlist_wrap{
            position: relative;
            height: 335px;
            background: #ebeaee;
            overflow: inherit;
            z-index: 2;
            margin-top: 70px;
            border-bottom-width: 0;
            .arrow{
                position: absolute;
                left:50%;
                top:-21px;
                margin-left: -21px;
                background-position: -140px 0;
                width: 43px;
                height: 21px;
            }
            .prodlist_box{
                width: 889px;
                position: absolute;
                top:0;
                left:50%;
                margin-left: -446px;
                display: none;
            }
            .prodlist_box.last{
                margin-left: -230px;
                display: none;
                .item{
                    float: left;
                }
            }
            .slider-btn{
                width: 100%;
                position: absolute;
                top:-49px;
                left:0;
                text-align: center;
            }
        }
    }

    .banner_wrap{
        width:100%;
        position: relative;
        margin-top: -89px;
        .banner1{
            img{
                width: 100%;
            }
        }
    }
}
/* nano7_m Campaign end */
