@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';


#wrap{
	min-width: 1280px;
	overflow: hidden;
}
#adiclub_week {
	overflow: hidden;
	.button_area_v2{
		display: inline-block;
		// width: 145px;
		&:hover{
			div{
				.bg{
					box-shadow: inset 0 0 0 1px #000;
    				-webkit-box-shadow: inset 0 0 0 1px #000;
					@include css3(transition, all 0.5s);
				}
				a{
					color: #fff;
				    background: #000;
					@include css3(transition, all 0.5s);

					span.arrow{
						background: #fff;
						@include css3(transition, all 0.5s);
						em{
							background: #fff;
							@include css3(transition, all 0.5s);
						}
					}

				}
			}
		}
		a{
			padding:0 20px;
			font: 600 15px/49px 'NotoSansKR';
			letter-spacing: 1px;
			span.arrow{
				margin-left: 15px;
			}
		}
		// width: 140px;
	}

	.section{
		position: relative;		
		&.sect_state {
			padding: 60px 0;
			border-bottom: 1px solid #ebedee;
			.inner{
				text-align: center;
				h3 {
					padding: 0 0 20px;
					font: 800 32px/32px 'NotoSansKR';
					color: #000;
					text-align: center;
				}

				.desc {
					text-align: center;

					p {
						text-align: center;
						display: inline-block;
						font: 300 17px/28px 'NotoSansKR';
						color: #000;
						vertical-align: middle;
					}
				}

				.button_area_v2 {
					display: inline-block;
					margin: 40px 0 0 0;
				}
			}
		}

		&.sect_stage{
			.sect_stage_wrap {
				video {
					display: block;
					width: 100%;
				}
				.stage_ytbwrap{
					position: relative;
					>img{
						display: block;
						width: 100%;
					}
					.btn-play {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						z-index: 2;
					}
				}
				.stage_buybox{
					padding: 60px 0 70px;
					text-align: center;
					h3 {
						font: 700 45px/45px 'adinenuPro-bold';
						color: #000;
						text-align: center;
						letter-spacing: 3px;
					}
					p {
						padding: 10px 0 25px;
						text-align: center;
						font: 300 17px/27px 'NotoSansKR';
						color: #000;
						vertical-align: middle;
						text-transform: uppercase;
					}
					.button_area_v2 {
						display: inline-block;
					}
				}
				.stage_bottxt{
					padding-bottom: 30px;
					h5{
						text-align: center;
						font: 800 32px/32px 'NotoSansKR';
						color: #000;
					}
				}
			}
		}

		&.sect_prdspot {
			text-align: center;
			padding-bottom: 60px;

			a {
				display: inline-block;
				width: 82%;
				min-width: 1280px;

				>img {
					display: block;
					width: 100%;
				}
			}

		}

		&.sect_member {
			padding: 35px 0 60px;
			.member_inner{
				overflow: hidden;
				width: 1220px;
				margin: 0 auto;
				>div{
					float: left;
					width: 50%;
					-webkit-box-sizing: border-box;
					box-sizing: border-box;
					>img{
						display: block;
						width: 100%;
					}
					&.member_textbox{
						padding: 100px 0 0 50px;
						h3 {
							font: 700 45px/45px 'adinenuPro-bold';
							color: #000;							
							letter-spacing: 3px;
						}
						p {
							padding: 5px 0 30px;
							display: inline-block;
							font: 300 16px/26px 'NotoSansKR';
							color: #000;
							vertical-align: middle;
						}
						.button_area_v2 {
							display: inline-block;
						}
					}
				}
			}
		}

		&.sect_salebnn {
			text-align: center;
			padding-bottom: 100px;
			>a{
				width: 1220px;
				display: inline-block;
			}
		}

		&.sect_crtprodslider {
			padding-bottom: 50px;

			.crtprodslider_inner {
				margin: 0 auto;
				width: 1220px;
				text-align: center;

				h3 {
					font: 800 32px/32px 'NotoSansKR';
					color: #000;
					text-align: center;
				}

				p {
					padding: 20px 0 0;
					text-align: center;
					font: 300 17px/27px 'NotoSansKR';
					color: #000;
					vertical-align: middle;
				}

				.button_area_v2 {
					display: inline-block;
					margin: 30px 0 35px;
				}

				.slider__wrapper__inner {
					padding: 20px;
					.slick-list {
						width: 100%;

						.slick-slide {
							padding: 0 7px;
						}
					}

					.slider_nav {
						a {
							top: 33%;
						}
					}
				}
			}
		}

		&.sect_prodslider {
			padding: 50px 0;
			background: url('/images/adidas/2020/event/adiclub/prod_bg.jpg') 0 0 no-repeat;
			background-size: cover;

			.prodslider_inner {
				margin: 0 auto;
				width: 1220px;
				text-align: center;

				h3 {
					font: 800 32px/32px 'NotoSansKR';
					color: #000;
					text-align: center;
				}

				.button_area_v2 {
					display: inline-block;
					margin: 30px 0 35px;
				}

				.slider__wrapper__inner {
					padding: 20px 13px;
					background: #fff;

					.slick-list {
						width: 100%;

						.slick-slide {
							padding: 0 7px;
						}
					}

					.slider_nav {
						a {
							top: 33%;
						}
					}
				}
			}
		}

		&.sect_subbottom{
			ul{
				li{
					display: block;
					padding-bottom: 90px;
					text-align: center;
					>img{
						display: block;
						width: 100%;
					}
					.button_area_v2{
						margin-top: 40px;
						display: inline-block;
					}
				}
			}
		}
	}

	.navi_wrap{
		position: relative;
		display: block;
		height: 60px;
		max-width: 1920px;
		margin: 0 auto;
		border-top: 1px solid #ebedee;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		.navi {
			position: absolute;
			overflow: hidden;
			width: 100%;
			background: #fff;
			border-bottom: 1px solid #ebedee;
			&.fixed {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				max-width: 1920px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 10;
			}
			.navi_inner{
				margin: 0 auto;
				width: 300px;
			}
			.inn_box {
				width: 50%;
				height: 58px;
				float: left;
				box-sizing: border-box;
				transition: all 0.2s;
				cursor: pointer;
				&:hover {
					.btn {
						opacity: 1;
					}
				}
				&.on {
					.btn {
						opacity: 1;
						color: #000;
						font-weight: 600;
						border-bottom: 1px solid #000;
					}
				}
				.btn {
					box-sizing: border-box;
					margin: 0 auto;
					text-align: center;
					width: 150px;
					height: 58px;
					font: 400 15px/60px 'NotoSansKR';
					color: #000;
					letter-spacing: normal;
					opacity: 0.5;
					transition: all 0.2s;

					&.white {
						background: rgba(255, 255, 255, 0.4);
						color: #000;
						font-weight: 600;
					}
				}

			}
		}
	}

	.slider__wrapper__inner {
		position: relative;
		// &:last-child {
		// 	margin-bottom: 0;
		// }

		.slider__common {
			.slick-list {
				width: 100%;
				margin: 0 auto;
				.slick-slide {
					padding-right: 15px;
					outline: 0 none;
					cursor: pointer;

					&::after {
						display: block;
						clear: both;
						content: '';
					}
					a {
						display: block;
						outline: 0 none;
					}
					img {
						width: 100%;
					}
				}
			}
			.slick-dots {
				padding: 15px 0 0 0;
				text-align: center;


				li {
					display: inline-block;
					margin-right: 6px;

					button {
						width: 14px;
						height: 1px;
						border: 1px solid #111;
						background: none;
						padding: 0;
						text-indent: -9999px;
						vertical-align: bottom;
						// transition: 0;
					}

					&.slick-active {
						button {
							height: 4px;
							background: #111;
						}
					}
				}
			}
		}

		.slider_nav {
			a{
				display: inline-block;
				width: 34px;
				height: 34px;
				z-index: 3;
				&.prev-button {
					position: absolute;
					top: 50%;
					left: -2%;
					transform: translateY(-50%);
					background: url('/images/adidas/2020/event/adiclub/prev.png') 0 0 no-repeat;
					transition: 0.6s;
					&:hover {
						background: url('/images/adidas/2020/event/adiclub/prev_hover.png') 0 0 no-repeat;
					}
				}

				&.next-button {
					position: absolute;
					top: 50%;
					right: -2%;
					transform: translateY(-50%);
					background: url('/images/adidas/2020/event/adiclub/next.png') 0 0 no-repeat;
					transition: 0.6s;
					&:hover {
						background: url('/images/adidas/2020/event/adiclub/next_hover.png') 0 0 no-repeat;
					}
				}
			}
		}
	}
}
