#contents_wrap{
    min-width: 1190px;
    overflow: hidden;
    padding: 0 !important;
}
#campaign_contents_wrap{
    overflow: hidden;
    padding:0
    }
.campaign_wrap .cont_area{
    position:relative;
    top:0;
    left:50%;
    margin-left:-960px;
    }
.pro_list_bar{
    width:100%;
    height:100px;
    background-color:#000;
    position:relative;
    }
.pro_list_bar a{
    display:block;
    width:100%;
    height:100px;
    text-align:center;
    }
.pro_list_bar a span{
    font:28px/100px 'DINWebPro-CondMedium';
    color:#fff;
    letter-spacing:6px;
    }
.pro_list_bar a span .ico_arrow{
    display:inline-block;
    width:10px;
    height:18px;
    background:url("//image.adidas.co.kr/images/adidas/common/arrow10x16_right.png") no-repeat;
    }
