
/* StyleMovie */


#style_movie{width:890px;height:610px;}
#style_movie h4{padding:10px 0 23px 0;text-align:center;}
#style_movie div.moviebox{width:890px;height:460px;}

#style_movie div.moviebox div.moviebox_left{width:530px;height:460px;float:left;margin-right:60px;}
#style_movie div.moviebox div.moviebox_left div.movie{width:530px;height:396px;margin-bottom:5px;}
#style_movie div.moviebox div.moviebox_left div.movie_desc{width:530px;height:59px;position:relative;}
#style_movie div.moviebox div.moviebox_left div.movie_desc p.desc{width:360px;padding:6px 0 0 14px;font:normal 11px/15px 'dotum',Dotum;color:#a5a4a4;letter-spacing:-.25px;position:relative;z-index:10;}
#style_movie div.moviebox div.moviebox_left div.movie_desc p.btn{position:absolute;top:15px;right:12px;z-index:10;}
#style_movie div.moviebox div.moviebox_left div.movie_desc div.op_bg{
	width:530px;
	height:59px;
	background:#000;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}


#style_movie div.moviebox div.moviebox_right{width:281px;height:460px;float:left;}
#style_movie div.moviebox div.moviebox_right div.movie_list{width:281px;height:396px;margin-bottom:5px;}
#style_movie div.moviebox div.moviebox_right div.movie_list li a{
	display:block;
	width:236px;
	height:44px;
	padding-left:45px;
	background:url(//image.reebok.co.kr/images/reebok/reestyle/bg_movielist.png) 0 0 no-repeat;
	font:normal 12px/40px 'Gulim',gulim;
	color:#737373;
}
#style_movie div.moviebox div.moviebox_right div.movie_list li a:hover{
	background:url(//image.reebok.co.kr/images/reebok/reestyle/bg_movielist_on.png) 0 0 no-repeat;
	text-decoration:underline;
	color:#fff;
}
#style_movie div.moviebox div.moviebox_right div.movie_list li a.view{
	background:url(//image.reebok.co.kr/images/reebok/reestyle/bg_movielist_on.png) 0 0 no-repeat;
	text-decoration:underline;
	font-weight:bold;
	color:#fff;
	letter-spacing:-1px;
}
#style_movie div.moviebox div.moviebox_right div.movie_paging{height:29px;padding:14px 0;}
#style_movie div.moviebox div.moviebox_right div.movie_paging div.paging{margin-top:0;}
#style_movie div.moviebox div.moviebox_right div.movie_paging div.paging a{
	display:inline-block;
	width:26px;
	height:27px;
	border:1px solid #6a6a6a;
	background:#595959;
	color:#fff;
	font:normal 14px/27px 'Verdana',verdana;
}
#style_movie div.moviebox div.moviebox_right div.movie_paging div.paging a:hover{border:1px solid #e4e4e4;background:#e4e4e4;color:#3a3a3a;font-weight:bold;}
#style_movie div.moviebox div.moviebox_right div.movie_paging div.paging strong{
	display:inline-block;
	width:26px;
	height:27px;
	border:1px solid #e4e4e4;
	background:#e4e4e4;
	color:#3a3a3a;
	font:bold 14px/27px 'Verdana',verdana;
}
/* //StyleMovie */


/* StyleMatch */
#style_match h4{padding-bottom:20px;text-align:center;}
#style_match div.match_tab ul{width:246px;height:31px;margin:0 auto;}
#style_match div.match_tab li{height:31px;float:left;}
#style_match div.match_tab li a{display:block;height:31px;text-indent:-5000px;}

#style_match div.match_tab li.tab1 a{width:123px;background:url(//image.reebok.co.kr/images/reebok/reestyle/bg_match_tab1.gif) 0 0 no-repeat;}
#style_match div.match_tab li.tab1 a.on{background:url(//image.reebok.co.kr/images/reebok/reestyle/bg_match_tab1_on.gif) 0 0 no-repeat;}
#style_match div.match_tab li.tab2 a{width:123px;background:url(//image.reebok.co.kr/images/reebok/reestyle/bg_match_tab2.gif) 0 0 no-repeat;}
#style_match div.match_tab li.tab2 a.on{background:url(//image.reebok.co.kr/images/reebok/reestyle/bg_match_tab2_on.gif) 0 0 no-repeat;}

#style_match div.match_body{clear:both;padding:0 5px 0 20px;width:865px;height:580px;position:relative;}

#style_match div.match_body div.match_prod_desc{width:222px;float:left;padding-top:24px;}
#style_match div.match_body div.match_prod_desc dl{width:220px;height:147px;margin-bottom:10px;border:1px solid #000;position:relative;z-index:1;}
#style_match div.match_body div.match_prod_desc div.box{position:relative;}
#style_match div.match_body div.match_prod_desc div.box div.bg{background:#000;opacity:0.7;position:absolute;top:1px;left:1px;width:220px;height:147px;z-index:0;}
#style_match div.match_body div.match_prod_desc dl dt{height:28px;padding:18px 0 18px 15px;border-bottom:1px solid #414141;}
#style_match div.match_body div.match_prod_desc dl dt a.market{position:absolute;top:20px;right:15px;}
#style_match div.match_body div.match_prod_desc dl dt .tit{display:block;margin-bottom:3px;font:normal 11px 'Gulim',gulim;letter-spacing:-.25px;}
#style_match div.match_body div.match_prod_desc dl dt .tit a{color:#c9c9c9;}
#style_match div.match_body div.match_prod_desc dl dt .price{display:block}
#style_match div.match_body div.match_prod_desc dl dt .price span{color:#777;font:bold 12px 'Verdana',verdana;}
#style_match div.match_body div.match_prod_desc dl dt .price span.won{font:normal 11px 'Dotum',dotum;}
#style_match div.match_body div.match_prod_desc dl dt .price span.sale{color:#bf000f;}
#style_match div.match_body div.match_prod_desc dl dt .price span.sale span.won{color:#bf000f;}
#style_match div.match_body div.match_prod_desc dl dt .price span.line_through{text-decoration:line-through;}
#style_match div.match_body div.match_prod_desc dl dd{padding:20px 20px 0 15px;font:normal 11px/15px 'Dotum',dotum;color:#a2a2a2;}

#style_match div.match_body div.match_prod{width:431px;height:579px;position:absolute;top:0;left:225px;background:url(//image.reebok.co.kr/images/reebok/reestyle/bg_match_body.png) 0 0 no-repeat;}
#style_match div.match_body div.match_prod div{display:none;}
#style_match div.match_body div.match_prod div.top{width:230px;height:230px;position:absolute;left:102px;top:36px;z-index:3;}
#style_match div.match_body div.match_prod div.bottom{width:305px;height:305px;position:absolute;left:70px;top:184px;z-index:2;}
#style_match div.match_body div.match_prod div.shoes{width:120px;height:120px;position:absolute;left:172px;top:425px;z-index:1;}

div.match_body div.match_prod_list{width:246px;padding-top:31px;float:right;}
div.match_body div.match_prod_list div.clothe_list{width:246px;height:120px;margin-bottom:35px;}
div.match_body div.match_prod_list div.clothe_list a.arrow_left{display:block;width:17px;height:102px;float:left;background:url(//image.reebok.co.kr/images/reebok/reestyle/bg_arrow_l.gif) 0 46px no-repeat;position:relative;z-index:100;text-indent:-5000px;}
div.match_body div.match_prod_list div.clothe_list a.arrow_left:hover{background:url(//image.reebok.co.kr/images/reebok/reestyle/bg_arrow_l_on.gif) 0 46px no-repeat;}
div.match_body div.match_prod_list div.clothe_list a.arrow_right{display:block;width:17px;height:102px;float:left;background:url(//image.reebok.co.kr/images/reebok/reestyle/bg_arrow_r.gif) right 46px no-repeat;position:relative;z-index:100;text-indent:-5000px;}
div.match_body div.match_prod_list div.clothe_list a.arrow_right:hover{background:url(//image.reebok.co.kr/images/reebok/reestyle/bg_arrow_r_on.gif) right 46px no-repeat;}
div.match_body div.match_prod_list div.clothe_list div.clothe_thumbnail{width:212px;height:102px;position:relative;float:left;}
div.match_body div.match_prod_list div.clothe_list div.thumbnail{position:absolute;top:0;left:0;display:none;}
div.match_body div.match_prod_list div.clothe_list div.thumbnail li{width:102px;height:102px;float:left;margin-right:8px;}
div.match_body div.match_prod_list div.clothe_list div.thumbnail li.last{margin-right:0px;}
div.match_body div.match_prod_list div.clothe_list div.thumbnail li a{display:block;width:100px;height:93px;padding-top:7px;border:1px solid #a6a6a6;position:relative;text-align:center;}
div.match_body div.match_prod_list div.clothe_list div.thumbnail li a .prod_info{display:none;font-size:0;}
div.match_body div.match_prod_list div.clothe_list div.thumbnail li a img{width:85px;height:85px;}
div.match_body div.match_prod_list div.clothe_list div.thumbnail li a .bg{
	width:100px;
	height:100px;
	position:absolute;
	top:0;
	left:0;
	background:#fff;
    filter: alpha(opacity=15);
    -moz-opacity: 0.15;
    -khtml-opacity: 0.15;
    opacity: 0.15;
	display:block
}
div.match_body div.match_prod_list div.clothe_list div.thumbnail li a img{position:relative;}
div.match_body div.match_prod_list div.clothe_list div.thumbnail li a:hover,
div.match_body div.match_prod_list div.clothe_list div.thumbnail li a.on{border:1px solid #d00000;}

div.match_body div.match_prod_list div.clothe_list div.thumbnail_pg{clear:both;width:246px;height:35px;text-align:center;font:normal 10px/35px 'Verdana',verdana;}
div.match_body div.match_prod_list div.clothe_list div.thumbnail_pg strong{color:#ff0000;}
div.match_body div.match_prod_list div.clothe_list div.thumbnail_pg span{color:#fff;}
/*
#style_match div.match_body div.match_prod_list div.list li a{display:block;width:100px;height:100px;border:1px solid #a6a6a6;}
#style_match div.match_body div.match_prod_list div.list li a:hover{border:1px solid #d00000e;}
*/

/* //StyleMatch */


/* StyleBook */
#style_book div.lookbook div.slide_wrap {width:30000px;}

#style_book{width:890px;min-height:600px;overflow:hidden;}
#style_book h4{padding:7px 0 0 0;text-align:center;}
#style_book div.lookbook{width:865px;overflow:hidden;margin:0 auto;padding-bottom:10px;}
#style_book div.lookbook div.prev{width:42px;float:left;padding-top:268px;}
#style_book div.lookbook div.next{width:21px;padding-left:21px;float:right;padding-top:268px;}
#style_book div.lookbook div.prev a{display:block;width:22px;height:37px;background:url(//image.reebok.co.kr/images/reebok/reestyle/btn_arrow_left.png) 0 0 no-repeat;text-indent:-5000px;}
#style_book div.lookbook div.next a{display:block;width:22px;height:37px;background:url(//image.reebok.co.kr/images/reebok/reestyle/btn_arrow_right.png) 0 0 no-repeat;text-indent:-5000px;}
#style_book div.lookbook div.prev a:hover{background:url(//image.reebok.co.kr/images/reebok/reestyle/btn_arrow_left_over.png) 0 0 no-repeat;}
#style_book div.lookbook div.next a:hover{background:url(//image.reebok.co.kr/images/reebok/reestyle/btn_arrow_right_over.png) 0 0 no-repeat;}

#style_book div.lookbook div.lookbook_slide{width:780px;height:378px;float:left;position:relative;overflow:hidden;padding:78px 0 115px 0;}
#style_book div.lookbook div.lookbook_slide div.slide_wrap{position:absolute;top:78px;left:0;}
#style_book div.lookbook div.lookbook_slide div.slide_wrap li{width:256px;height:378px;float:left;margin-right:6px;position:relative;}
#style_book div.lookbook div.lookbook_slide div.slide_wrap li.last{margin-right:0;}
#style_book div.lookbook div.lookbook_slide div.slide_wrap li h5{height:38px;color:#fff;font:bold 11px/38px 'Dotum',dotum;text-align:center;}
#style_book div.lookbook div.lookbook_slide div.slide_wrap li a{display:block;width:254px;height:338px;position:absolute;top:38px;left:0;border:1px solid #606060;background-image:url(about:blank);text-indent:-5000px;}
#style_book div.lookbook div.lookbook_slide div.slide_wrap li a:hover{width:242px;height:326px;border:7px solid #be000f;}
#style_book div.lookbook div.lookbook_slide div.slide_wrap li a:focus{width:242px;height:326px;border:7px solid #be000f;}
#style_book div.lookbook div.lookbook_slide div.slide_wrap div{width:254px;height:338px;padding:1px 0 0 1px;}



#style_book div.lookbook div.book_gallery{width:780px;float:left;padding:25px 0 60px 0;}
#style_book div.lookbook div.book_gallery div.gallery_top{width:755px;height:23px;padding:7px 10px 0 15px;background:#171717;}
#style_book div.lookbook div.book_gallery div.gallery_top h5{float:left;font:normal 11px 'Dotum',dotum;color:#a7a7a7;padding-top:3px;}
#style_book div.lookbook div.book_gallery div.gallery_top a{float:right;}
#style_book div.lookbook div.book_gallery div.gallery_slide{width:780px;height:465px;position:relative;overflow:hidden;}
#style_book div.lookbook div.book_gallery div.gallery_slide li{width:780px;height:465px;margin-right:0;float:left;}
#style_book div.lookbook div.book_gallery div.gallery_slide li span{display:none;}
#style_book div.lookbook div.book_gallery div.gallery_bottom{width:780px;height:30px;margin-top:8px;}
#style_book div.lookbook div.book_gallery div.gallery_bottom div.list_length{float:left;font:normal 10px 'Verdana',verdana;color:#fff;}
#style_book div.lookbook div.book_gallery div.gallery_bottom div.list_length strong{font-size:15px;font-weight:normal;}
#style_book div.lookbook div.book_gallery div.gallery_bottom div.btn{float:right;}



div.book_prodlist{padding-top:25px;}
div.book_prodlist div.book_prodlist_top{width:435px;height:430px;margin:0 auto;}
div.book_prodlist div.book_prodimage_big{width:350px;float:left;}
div.book_prodlist div.book_prodimage_big div.book_prod_slides{width:350px;height:372px;overflow:hidden;position:relative;}
div.book_prodlist div.book_prodimage_big div.book_prod_slides span.close_prod{position:absolute;top:7px;right:8px;z-index:100;cursor:pointer;}
div.book_prodlist div.book_prodimage_big div.book_prod_slides div.img{width:350px;height:336px;padding:26px 0 10px;float:left;text-align:center;background:#fff;position:absolute;display:none;top:0;left:0;}

div.book_prodlist div.book_prodimage_big div.book_desclist{width:350px;height:57px;}
div.book_prodlist div.book_prodimage_big div.book_prod_desc{height:57px;background:#f2f2f2;border-top:1px solid #c5c5c5;position:relative;}
div.book_prodlist div.book_prodimage_big div.book_prod_desc p.tit{padding:12px 0 5px 15px;color:#3e3e3e;font:normal 11px 'Dotum',dotum;letter-spacing:-.5px;}
div.book_prodlist div.book_prodimage_big div.book_prod_desc p.prod_price{padding-left:15px;font:bold 11px 'verdana',verdana;color:#47494b;}
div.book_prodlist div.book_prodimage_big div.book_prod_desc p.prod_price span.line_through{text-decoration:line-through;}
div.book_prodlist div.book_prodimage_big div.book_prod_desc p.prod_price span.sale {color:#E4000F;}
div.book_prodlist div.book_prodimage_big div.book_prod_desc p.prod_price span.won {font-family:'dotum',dotum;font-size:11px;font-weight:normal;}
div.book_prodlist div.book_prodimage_big div.book_prod_desc a.market{position:absolute;top:17px;right:13px;}

div.book_prodlist div.book_prodlist_bottom{width:550px;height:80px;margin-top:23px;position:relative;}
div.book_prodlist div.book_prodlist_bottom div.thumbnail{width:550px;height:80px;margin:0 auto;position:relative;overflow:hidden;}
div.book_prodlist div.book_prodlist_bottom div.thumbnail div.thumbnail_list{width:460px;height:80px;margin-left:45px;overflow:hidden;position:relative;}
div.book_prodlist div.book_prodlist_bottom div.thumbnail a.thumbnail_left{
	width:26px;
	height:27px;
	border:1px solid #6a6a6a;
	background:#595959;
	color:#fff;
	text-align:center;
	line-height:27px;
	display:block;
	position:absolute;
	top:26px;
	left:0;
	z-index:100;
}
div.book_prodlist div.book_prodlist_bottom div.thumbnail a.thumbnail_right{
	width:26px;
	height:27px;
	border:1px solid #6a6a6a;
	background:#595959;
	color:#fff;
	text-align:center;
	line-height:27px;
	display:block;
	position:absolute;
	top:26px;
	right:0;
	z-index:100;
}
div.book_prodlist div.book_prodlist_bottom div.thumbnail li{width:80px;height:80px;float:left;margin-right:15px;position:relative;}
div.book_prodlist div.book_prodlist_bottom div.thumbnail li div{width:80px;height:80px;}
div.book_prodlist div.book_prodlist_bottom div.thumbnail li a{position:absolute;top:0;height:0;width:80px;height:80px;background-image:url(about:blank);text-indent:-5000px}
div.book_prodlist div.book_prodlist_bottom div.thumbnail li a:hover,
div.book_prodlist div.book_prodlist_bottom div.thumbnail li a.on{width:70px;height:70px;border:5px solid #be000f;}
div.book_prodlist div.book_prodlist_bottom div.thumbnail li a:focus{width:70px;height:70px;border:5px solid #be000f;}


/* //StyleBook */