@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

html.no_scroll {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.button_area_v2 {
  display: inline-block;

  // width: 145px;
  &:hover {
    div {
      .bg {
        box-shadow: inset 0 0 0 1px #000;
        -webkit-box-shadow: inset 0 0 0 1px #000;
        @include css3(transition, all 0.5s);
      }

      a {
        color: #fff;
        background: #000;
        @include css3(transition, all 0.5s);

        span.arrow {
          background: #fff;
          @include css3(transition, all 0.5s);

          em {
            background: #fff;
            @include css3(transition, all 0.5s);
          }
        }

      }
    }
  }

  a {
    padding: 0 20px;
    font: 600 15px/49px 'NotoSansKR';
    letter-spacing: 1px;

    span.arrow {
      margin-left: 15px;
    }
  }

  // width: 140px;
}


.video_layer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	.close {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 20;
		background-position: 0 -685px;
		opacity: 0;
		-ms-filter: alpha(opacity=0);
		filter: alpha(opacity=0);
		transition: opacity 0.4s ease-in 0.2s;
		-webkit-transition: opacity 0.4s ease-in 0.2s;
	}

	.bg {
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0;
		-ms-filter: alpha(opacity=0);
		filter: alpha(opacity=0);
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;
		transition: opacity 0.4s;
		-webkit-transition: opacity 0.4s;
	}

	&.loaded {
		.bg {
			opacity: 0.6;
			-ms-filter: alpha(opacity=60);
			filter: alpha(opacity=60);
		}

		.close {
			opacity: 1;
			-ms-filter: alpha(opacity=100);
			filter: alpha(opacity=100);
		}
	}

	.video {
		width: 100%;
		height: 100%;
		z-index: 6;
		position: absolute;
		top: 0;
		left: 0;
	}
}


#contents_r {
  margin: 0;
  padding: 0;
  width: auto;
}

#adiclubweek {
  margin: 0;
  padding: 0;
  font-family: 'NotoSansKR', sans-serif;
  font-weight: 400;
}

.contain-visual {
  margin: 0;
  padding: 0;
  min-width: 1440px;
  height: 660px;
  background: url('/images/adidas/2020/event/adiclub/sub_benefit/bg_acw201015_visual.jpg') no-repeat 50% top;
  border-bottom: 8px solid #000;
  box-sizing: border-box;

  .logo {
    display: block;
    padding-top: 185px;
    text-align: center;
  }
}

.contain-section1 {
  min-width: 1440px;
  height: 372px;
  text-align: center;
  border-bottom: 1px solid #000;
  box-sizing: border-box;

  dl {
    padding-top: 45px;
  }

  dt {
    margin-bottom: 25px;
    font-size: 60px;
    color: #000;
    font-weight: 900;
    text-align: center;
    line-height: 100%;
  }

  dd {
    margin-bottom: 40px;
    font-size: 20px;
    color: #000;
    line-height: 140%;
    text-align: center;
    line-height: 140%;
  }
}

.contain-section2 {
  position: relative;
  padding-top: 50px;
  min-width: 1440px;
  height: 711px;
  background: url('/images/adidas/2020/event/adiclub/sub_benefit/bg_acw201015_cont2.jpg') no-repeat 50% top;
  box-sizing: border-box;

  dl {
    padding-top: 30px;
  }

  dt {
    margin-bottom: 15px;
    font-size: 60px;
    color: #000;
    font-weight: 900;
    text-align: center;
    line-height: 100%;
  }

  dd {
    margin-bottom: 35px;
    font-size: 20px;
    color: #000;
    line-height: 140%;
    text-align: center;
    line-height: 140%;
  }

  .text1 {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #000;
  }

  .swiper-container {
    width: 1180px;
    height: 380px;
  }

  .swiper-pagination {
    position: static;
    margin-top: 23px;
    margin-bottom: 20px;
    text-align: center;
  }

  .swiper-button-next {
    &::after {
      content: none;
    }

    right: 50%;
    margin-top: 40px;
    margin-right: -650px;
    background: url('/images/adidas/2020/event/adiclub/sub_benefit/img_roll_right.png') no-repeat 50%;
    outline: none;
  }

  .swiper-container-rtl .swiper-button-prev {
    right: 50%;
    margin-top: 40px;
    margin-right: -650px;
    background: url('/images/adidas/2020/event/adiclub/sub_benefit/img_roll_right.png') no-repeat 50%;
    outline: none;
  }

  .swiper-button-prev {
    &::after {
      content: none;
    }

    left: 50%;
    margin-top: 40px;
    margin-left: -650px;
    background: url('/images/adidas/2020/event/adiclub/sub_benefit/img_roll_left.png') no-repeat 50%;
    outline: none;
  }

  .swiper-container-rtl .swiper-button-next {
    left: 50%;
    margin-top: 40px;
    margin-left: -650px;
    background: url('/images/adidas/2020/event/adiclub/sub_benefit/img_roll_left.png') no-repeat 50%;
    outline: none;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom {
    bottom: 60px;
  }
}

.swiper-pagination-fraction {
  bottom: 60px;
}

.contain-section2 {
  .swiper-pagination-bullet {
    margin: 0 4px;
    width: 12px;
    height: 12px;
    border: 1px solid #000;
    background: #fff;
    opacity: 1;
    outline: none;
  }

  .swiper-pagination-bullet-active {
    background: #fff;
    background: #000;
  }
}

.contain-section3 {
  min-width: 1440px;
  background: url(/images/adidas/2020/event/adiclub/sub_benefit/bg_acw201015_cont3.jpg) no-repeat 50% top;
  box-sizing: border-box;

  .contain-inner {
    display: flex;
    margin: 0 auto;
    width: 1084px;

    div {
      position: relative;
    }

    a {
      display: block;
      text-indent: -1000px;
      overflow: hidden;
      position: absolute;
      left: 160px;
      top: 491px;
      right: 163px;
      bottom: 102px;
    }
  }
}

.contain-section4 {
  min-width: 1440px;
  height: 576px;
  box-sizing: border-box;

  .contain-inner {
    display: flex;
    margin: 100px auto 0;
    width: 1180px;
    justify-content: space-between;
  }

  dl {
    width: 380px;
  }

  dt {
    display: table-cell;
    width: 380px;
    vertical-align: middle;
    height: 105px;
    font-size: 34px;
    font-weight: 900;
    text-align: center;
    color: #000;
    line-height: 100%;
    font-family: 'adinenuPro-black';
  }

  dd {
    margin-top: -13px;
    margin-bottom: 26px;
    height: 60px;
    line-height: 130%;
    font-size: 20px;
    text-align: center;
    color: #000;

    strong {
      font-family: 'adinenuPro-bold';
    }

    &.image {
      margin: 0;
      height: auto;
      line-height: 100%;
    }

    &.button {
      height: auto;
    }
  }
}

.contain-section5 {
  min-width: 1440px;
  height: 610px;
  background: url('/images/adidas/2020/event/adiclub/sub_benefit/bg_acw201015_cont5.jpg') no-repeat 50% top;
  box-sizing: border-box;

  .contain-inner {
    display: flex;
    margin: 0 auto 30px auto;
    padding-left: 240px;
    width: 1440px;
    box-sizing: border-box;
  }

  a {
    display: block;
    width: 400px;
    height: 480px;
    text-indent: -10000px;
    overflow: hidden;
  }

  .text1 {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #000;
  }
}

.sect_prodslider {
  padding: 50px 0;
  background: url('/images/adidas/2020/event/adiclub/prod_bg.jpg') 0 0 no-repeat;
  background-size: cover;

  .prodslider_inner {
    margin: 0 auto;
    width: 1220px;
    text-align: center;

    h3 {
      font: 800 32px/32px 'NotoSansKR';
      color: #000;
      text-align: center;
    }

    .button_area_v2 {
      display: inline-block;
      margin: 30px 0 35px;
    }

    .slider__wrapper__inner {
      padding: 20px 13px;
      background: #fff;

      .slick-list {
        width: 100%;

        .slick-slide {
          padding: 0 7px;
        }
      }

      .slider_nav {
        a {
          top: 33%;
        }
      }
    }
  }
}

.memeberslider_inner {
  margin: 0 auto;
  width: 1220px;
  text-align: center;

  .button_area_v2 {
    display: inline-block;
    margin: 30px 0 35px;
  }

  .slider__wrapper__inner {
    padding: 20px;

    .slick-list {
      width: 100%;

      .slick-slide {
        padding: 0 7px;
      }
    }

    .slider_nav {
      a {
        top: 33%;
      }
    }
  }
}

.slider__wrapper__inner {
  position: relative;
  // &:last-child {
  // 	margin-bottom: 0;
  // }

  .slider__common {
    .slick-list {
      width: 100%;
      margin: 0 auto;

      .slick-slide {
        padding-right: 15px;
        outline: 0 none;
        cursor: pointer;

        &::after {
          display: block;
          clear: both;
          content: '';
        }

        a {
          display: block;
          outline: 0 none;
        }

        img {
          width: 100%;
        }
      }
    }

    .slick-dots {
      padding: 15px 0 0 0;
      text-align: center;


      li {
        display: inline-block;
        margin-right: 6px;

        button {
          width: 14px;
          height: 1px;
          border: 1px solid #111;
          background: none;
          padding: 0;
          text-indent: -9999px;
          vertical-align: bottom;
          // transition: 0;
        }

        &.slick-active {
          button {
            height: 4px;
            background: #111;
          }
        }
      }
    }
  }

  .slider_nav {
    a {
      display: inline-block;
      width: 34px;
      height: 34px;
      z-index: 3;

      &.prev-button {
        position: absolute;
        top: 50%;
        left: -2%;
        transform: translateY(-50%);
        background: url('/images/adidas/2020/event/adiclub/prev.png') 0 0 no-repeat;
        transition: 0.6s;

        &:hover {
          background: url('/images/adidas/2020/event/adiclub/prev_hover.png') 0 0 no-repeat;
        }
      }

      &.next-button {
        position: absolute;
        top: 50%;
        right: -2%;
        transform: translateY(-50%);
        background: url('/images/adidas/2020/event/adiclub/next.png') 0 0 no-repeat;
        transition: 0.6s;

        &:hover {
          background: url('/images/adidas/2020/event/adiclub/next_hover.png') 0 0 no-repeat;
        }
      }
    }
  }
}

