@import "./front/css/reebok/scss/about.scss";

/* common */
#wrap{
    overflow: hidden;
    min-width: 1160px;
}
html,body{
	height:100%;
}
#contents_wrap{padding: 0;}
.button_area_v2{
	display: inline-block;
	&:hover{
		>div{
			a{
				color: #767677!important;
				// background: #000!important;
				span{
					background: #767677!important;
					em{
						background: #767677!important;
					}
				}
			}
			&.white{
				a{
					background: #fff!important;
				}
			}
		}
	}
	div{
		position: relative;
		&.white{
			.bg{
				box-shadow: inset 0 0 0 1px #fff;
				-webkit-box-shadow: inset 0 0 0 1px #fff;
			}
			a{
				color: #000;background: #fff;
				.arrow{
					background: #000;
					em{
						background: #000;
					}
				}
			}
		}
		.bg{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translate(3px,3px);
			-webkit-transform: translate(3px,3px);
			box-shadow: inset 0 0 0 1px #000;
			-webkit-box-shadow: inset 0 0 0 1px #000;
			z-index:1;
		}
		a{
			position: relative;
			display: block;
			text-align: center;
			height: 50px;
			font: 500 15px/49px 'NotoSansKR';
			color: #fff;
			background: #000;
			z-index: 2;
			letter-spacing: 1px;
			padding:0 20px;
			.arrow{
				position: relative;
				top:-1px;
				display: inline-block;
				margin-left: 20px;
				width: 25px;
				height: 2px;
				background: #fff;
				vertical-align: middle;
					em{
						position: absolute;
						right: 0;
						width: 8px;
						height: 3px;
						background: #fff;
						transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						&.top{
							top:-3px;
						}
						&.bottom{
							bottom: -3px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);
						}
					}

			}
		}
	
	}
}

.luckymonday{
	a:focus,button:focus {
		outline: 0;
	}
	div{
		outline: 0;
	}
	h1,p,span{
		text-transform: uppercase;
	}
	$ct: translateX(-50%);
	.visuals{
		position: relative;
		.visuals__figure{
			img{
				width:100%;
			}
		}
		&.on{
			.visuals__text{
				.text{
					h3{
						opacity: 1;
						transition-delay: 0.3s;
						span{
							opacity: 1;
							transition-delay: 1s;
						}
					}
				}
				.deco01, .deco02{
					img{
						transform: translateX(0);
					}
					&.deco02{
						img{
							transition-delay: 0.7s;
						}
					}
				}
			}
		}
		.visuals__text{
			position: absolute;
			bottom: 10%;
			left: 4%;
			white-space: nowrap;
			.text{
				position: relative;
				z-index:2;
				h3{
					font: 300 85px/85px 'neueplak';
					color: #000;
					z-index: 1;
					position: relative;
					opacity:0;
					transition: all 1s;
					span{
						display:block;
						font: 900 85px/70px 'neueplak-ext';
						color: #ffd400;
						opacity:0;
						transition: all 1s;
					}
				}
				.button_area_v2{
					margin: 50px 0 20px;
					position: relative;
				}
				>span{
					position: relative;
					font: 400 15px/15px 'NotoSansKR';
					color: #000;
					display: block;
				}
			}
			.deco01, .deco02{
				position: absolute;
				overflow:hidden;
				z-index: 0;
				img{
					transform: translateX(-100%);
					transition: all 1s;
				}
				&.deco01{
					top: 50px;
					left: -76px;
					opacity: 0.8;
				}
				&.deco02{
					top: 122px;
					left: 61px;
				}
			}
		}
	}
	.article{
		padding: 65px 0;
		text-align: center;
		background: #ffd400;
		.article__head{
			p{
				font: 500 30px/35px 'NotoSansKR';
				color:#000;
				text-align: center;
				span{
					font: 900 36px/36px 'neueplak-ext';
					color:#000;
				}
			}
		}
		.article__body{
			text-align: center;
			margin: 25px 0 15px 0;
			.button_area_v2{
				&:first-child{
					margin: 0 20px 0 0;
					.bg{
						box-shadow: inset 0 0 0 1px #000;
						-webkit-box-shadow: inset 0 0 0 1px #000;
					}
					a{
						background:#fff;
						color: #000;
						border: 1px solid #000;
						.arrow{
							background: #000;
							em{
								background: #000;
							}
						}
					}
				}
			}
		}
		span{
			display: inline-block;
			font: 400 15px/15px 'NotoSansKR';
			color:#000;
		}
	}
	.carousel{
		text-align: center;
		position: relative;
		background: #ffd400;
		@keyframes textSlide {
			from {
			  width: 0%;
			}
			to {
			  width: 105.5%;
			}
		  }
		@keyframes slidein {
			from {
			  width: 0%;
			  margin-left:50%;
			}
			to {
			  width: 100%;
			  margin-left:0%;
			}
		  }
		&.on{
			.carousel__head{
				.deco01, .deco02{
					opacity:1;
					img{
						animation-name: slidein;
						animation-duration: 2s;
						animation-fill-mode:both;
					}
				}
				.deco02{
					img{
						transition-delay: 0.3s;
						animation-delay:0.5s;
					}
				}
				.txt{
					span{
						&::after{
							opacity:1;
							animation-name: textSlide;
							animation-duration: 1s;
							animation-fill-mode:both;
							animation-delay:1.3s;
						}
					}
				}
			}
		}
		.carousel__head{
			&.yellow{
				.txt{
					h4{
						margin: 35px 0 30px;
					}
				}
			}
			.txt{
				position:relative;
				text-align:center;
				top:40px;
				z-index:2;
				margin: 0 0 100px;
				h4{
					font: 900 92px/92px 'neueplak';
					color: #ffd400;
					text-align:center;
					margin:25px 0 30px;
					span{
						position: relative;
						z-index:1;
						color:#000;
						&::after{
							position: absolute;
							top: 40px;
							bottom: 15px;
							left: -8px;
							right: -8px;
							content: '';
							clear: both;
							display: block;
							background: #ffd400;
							z-index: -1;
							transition: all 0.5s ease-in;
							opacity:0;
						}
					}
				}
				>div{
					p{
						font: 700 24px/32px 'NotoSansKR';
						color: #000;
						text-align:center;
					}
				}
			}
			.deco01, .deco02{
				position: absolute;
				left:50%;
				transform: $ct;
				overflow:hidden;
				opacity:0;
				&.deco01{
					top:0;
					z-index:0;
					width:60%;
					height: 15%;
					img{
						// height: 135px;
						height: 100%;
					}
				}
				&.deco02{
					top:58px;
					z-index:1;
					width:45%;
					height: 13%;
					img{
						height: 100%;
					}
				}
			}
		}
		.carousel__body{
			position: relative;
			#slider{
				margin: 0 auto;
				.slick-list{
					width: 90%;
					margin: 0 auto;
				}
				.item{
					position:relative;
					box-sizing: border-box;
					margin:0 8px;
					&.yellow{
						.txt{
							>span{
								font: 900 86px/86px 'neueplak';
								display:inline-block;
								position:relative;
								transition:none;
								width:50px;
								&::after{
									display: block;
									clear: both;
									content: '';
									position: absolute;
									bottom: -8px;
									left: 3px;
									right: 0;
									height: 3px;
									background: #ffd400;
									z-index: 2;
									width: 100%;
								}
							}
						}
					}
					img{
						width: 100%;
					}
					&::before{
						opacity:0;
						transition: all 0.17s ease-in;
						content:'';
						clear:both;
						border:1.5px solid #000;
						position:absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						z-index: 4;
					}
					&::after{
						opacity:0;
						transition: all 0.17s ease-in;
						content:'';
						clear:both;
						border:20px solid #fff;
						position:absolute;
						top:0;
						left:0;
						right:0;
						bottom:0;
						z-index: 3;
					}
					&.text-active{
						.txt{
							span,p{
								opacity:1;
							}
							p{
								transition-delay:0.3s;
							}
						}
					}
					&.stroke{
						&::before{
							opacity:1;
						}
					}
					&.stroke{
						&::after{
							opacity:1;
						}
					}
					&.done{
						>div{
							.overlay{
								position: absolute;
								top:0;
								bottom:0;
								left:0;
								right:0;
								background: #000;
								opacity:0.7;
								z-index:2;
							}
							&::after{
								display:block;
								clear:both;
								content:'종료';
								font: 700 60px/60px 'NotoSansKR';
								text-align:center;
								opacity:1;
								z-index:3;
								position:relative;
								position:absolute;
								top:50%;
								left:50%;
								transform: translate(-50%,-50%);
								color: #fff;
							}
						}
					}
					.txt{
						position: absolute;
						bottom:10%;
						left:10%;
						text-align: left;
						span,p{
							color:#fff;
							opacity:0.5;
							transition:all 1s ease-out;
						}
						>span{
							font: 900 86px/86px 'neueplak';
							display:inline-block;
							position:relative;
							transition:none;
							width:50px;
							&::after{
								display: block;
								clear: both;
								content: '';
								position: absolute;
								bottom: -8px;
								left: 3px;
								right: 0;
								height: 3px;
								background: red;
								z-index: 2;
								width: 100%;
							}
						}
						>p{
							font: 400 45px/45px 'neueplak';
							margin:10px 0 20px 0;
						}
						>div{
							p{
								font: 900 45px/45px 'neueplak';
							}
						}
					}
				}
			}
			.arrows{
				position: absolute;
				top:50%;
				left:50%;
				transform:translateY(-50%);
				&.prev-button{
					margin-left: -48%;
					img{
					}
				}
				&.next-button{
					margin-left:46%;
				}
			}
			// 캐러셀 폰트 사이즈 미디어쿼리
			@media all and (max-width:1700px) {
				#slider{
					.item{
						.txt{
							>span{
								font: 900 65px/65px 'neueplak';
							}
							>p{
								font: 400 43px/43px 'neueplak';
							}
							>div{
								p{
									font: 900 43px/43px 'neueplak';
								}
							}
						}
					}
				}
			}
			@media all and (max-width:1600px) {
				#slider{
					.item{
						.txt{
							>span{
								font: 900 55px/55px 'neueplak';
								width:initial;
							}
							>p{
								font: 400 33px/33px 'neueplak';
							}
							>div{
								p{
									font: 900 33px/33px 'neueplak';
								}
							}
						}
					}
				}
			}
		}
	}
	.contents{
		background: #ffd400;
		.contents__body{
			position:relative;
			padding-bottom: 50%;
			.item{
				position:absolute;
				top:0;
				left:50%;
				transform:$ct;
				color:#fff;
				font: 700 30px/30px "NotoSansKR";
				opacity:0;
				width: 91%;
				transition: all 0.8s ease-in-out;
				text-align: center;
				&.contents__yellow{
					>div{
						padding: 35px 0 0 0;
					}
					h6{
						position: relative;
						height: auto;
						padding-bottom: 7%;
						z-index: 2;
						div{
							position: absolute;
							bottom: -25%;
							left: 50%;
							transform: translateX(-50%);
						}
					}
				}
				h6{
					position: relative;
					height: auto;
					padding-bottom: 7%;
					z-index: 2;
					div{
						position: absolute;
						bottom: -38%;
						left: -3%;
						img{
							width: 100%;
						}
						span{
							font: 900 120px/120px 'neueplak';
							color:#ffd400;
							em{
								font:inherit;
							}
						}
					}
				}
				>div{
					position: relative;
					>img{
						width:100%;
					}
				}
				&.done{
					>div{
						.overlay{
							position: absolute;
							top: 7%;
							bottom: 5.3%;
							left: 1.2%;
							right: 3.1%;
							background: #000;
							opacity:0.7;
							z-index:2;
						}
						&::after{
							display:block;
							clear:both;
							content:'종료';
							font: 700 60px/60px 'NotoSansKR';
							text-align:center;
							opacity:1;
							z-index:3;
							position:relative;
							position:absolute;
							top:50%;
							left:50%;
							transform: translate(-50%,-50%);
							color: #fff;
						}
					}
				}
				&.on{
					opacity:1;
				}
				&:nth-child(2){
					&.done{
						>div{
							.overlay{
								right: 9.9%;
							}
						}
					}
					h6{
					}
				}
				// &:nth-child(3){
				// 	h6{
				// 		div{
				// 			left:-4%;
				// 		}
				// 	}
				// }
				&:nth-child(4){
					h6{
						div{
							left: 18%;
						}
					}
				}
				// &:nth-child(5){
				// 	h6{
				// 		div{
				// 			bottom: -50%;
				// 			left: 50%;
				// 			transform: translateX(-50%);
				// 			width: 78%;
				// 		}
				// 	}
				// }
				// &:nth-child(6){
				// 	h6{
				// 		div{
				// 			bottom: -39%;
				// 			left: 50%;
				// 			transform: translateX(-50%);
				// 			width: 75%;
				// 		}
				// 	}
				// }
				// &:nth-child(7){
				// 	h6{
				// 		div{
				// 			bottom: -41%;
				// 			left: 50%;
				// 			transform: translateX(-50%);
				// 			width: 72%;
				// 		}
				// 	}
				// }
			}	
		}
		.contents__foot{
			text-align:center;
			padding: 35px 0 30px;
			.button_area_v2{
			}
			>span{
				display:block;
				font : 400 15px/15px 'NotoSansKR';
				color:#000;
				text-align:center;
				margin: 15px 0;
			}
		}
	}
	.notice{
		margin: 70px 0;
		h5,p{
			text-align: center;
			color: #000;
		}
		.notice__head{
			h5{
				font: 900 20px/20px 'NotoSansKR';
				margin: 80px 0 25px 0;
			}
			p{
				font: 300 16px/24px 'NotoSansKR';
				span{
					position: relative;
					z-index:1;
					&::after{
						position: absolute;
						top: 3px;
						bottom: 3px;
						left: -2px;
						right: -2px;
						content:'';
						clear: both;
						display: block;
						background: #fadb4c;
						z-index: -1;
					}
				}
			}
		}
		.notice__body{
			text-align:center;
			margin: 0 0 110px 0;
			h5{
				margin: 65px 0 25px 0;
				font: 300 53px/53px 'neueplak';
				span{
					font: 900 53px/53px 'neueplak';
					color: #000;
				}
			}
		}
		.notice__foot{
			width:100%;
			text-align: center;
			>div{
				display: inline-block;
				width: 46%;
				text-align: center;
				img{
					width:95%;
				}
				p{
					font: 900 32px/32px 'neueplak-ext';
					margin: 15px 0 30px 0;
				}
			}
		}
	}
}


