@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';
#container_r{
	overflow: hidden;
	min-width: 1190px;
}
.ie8{
	.main{
		background:url('/images/adidas/event/originals/atric/main.jpg') no-repeat;height:875px;
	}
}
#atric{
	.eventScroll{
		top:50px;
		opacity: 0;
		-webkit-opacity: 0;
		@include css3(transition, all 0.5s);
		&.on{
			top:0;
			opacity: 1;
			-webkit-opacity: 1;
		}
	}
	.main{
		position: relative;
		height: 875px;
		margin: 0 0 30px 0;
		overflow: hidden;
		background:url('/images/adidas/event/originals/atric/main.jpg') no-repeat; height:875px;

		&.on{
			.bg{
				video{
					@include css3(opacity,1);
				}
			}
		}

		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -952px;

			video{
				position: relative;
				top:-132px;
				@include css3(transition, all 0.5s);
				@include css3(opacity,0);

			}
		}
		.ct1190{
			padding: 20px 0 0 0;
			text-align: center;
		}
	}

	.button_area{
		position: relative;
		margin: 0 auto;
		width: 170px;
		a{
			height: 56px;
			span{
				font: 900 16px/56px 'NotoSansKR','Nanum Gothic';
			}
		}
		&.white{
			a{
				background: #fff;
				span{
					color:#000;
					.spt_bg{
					    display:inline-block;
					    width: 14px;
					    height: 14px;
					    background: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_black_14x14.png');
					}
				}
			}
		}
	}
	.text{
		text-align: center;
		font: 500 40px/40px 'NotoSansKR','Nanum Gothic';
		color:#000;
		letter-spacing: -0.7px;
		strong{
			padding: 0 0 5px 0;
			font: 900 40px/40px 'NotoSansKR','Nanum Gothic';
			display: block;
			span{
				font: 47px 'adinenuPro-bold';
			}
		}
		&.white{
			color:#fff;
		}
	}
	.desc{
		position: relative;
		padding: 44px 0;
		text-align: center;
		color:#000;
		font: 700 30px/30px 'NotoSansKR','Nanum Gothic';
		letter-spacing: -0.7px;

	}
	.statement{
		position: relative;
	}
	.banner{
		position: relative;
		height: 552px;
		&.bottom{
			.ct1190{
				.img{
					video{
						width: 146%;
						position: relative;
						left: -52px;
					}
				}
			}
		}
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -600px;
		}
		.ct1190{
			position: relative;
    		padding: 50px 0 0 0;
			.img{
				width: 556px;
				overflow: hidden;
				video{
					width: 100%;
				}
				img{
					// width: 100%;
				}
			}
			.txt_box{
				background: #000;
				width: 556px;
			    height: 444px;
				p{
					padding: 100px 0 0 0;
					strong{
						padding: 0 0 5px 0;
						span{
							font-size: 45px;
						}
					}
					padding-left:28px;
					text-align: left;
					font:500 20px/30px 'NotoSansKR';
				}
				.button_area{
				    margin: 30px 0 0 28px;
				}
			}
			.left{float:left; margin-left: 25px;}
			.right{float:right; margin-right: 25px;}
		}
	}

	.products_collection{
		.wide-slider-wrapper{
			position: relative;
			width: 100%;
			height: 480px;
			left: inherit;
			margin-left: inherit;
			z-index: 1;
			overflow: hidden;
			.btn{
				position: relative;
			    width: 660px;
			    top: 42%;
			    margin: 0 auto;
			}
			.navi_btn{
				position: absolute;
				top:50%;
				left:50%;
				width: 33px;
				height: 64px;
			    z-index: 1;
				overflow: hidden;
				img{
					position: absolute;
				}
				&.arrow-prev{
    				margin-left: -340px;
					@include css3(transition,left 0.4s ease-out 0.1s);
					img{
						animation: arrow 2s infinite;
						-webkit-animation: arrow 2s infinite;
					}
				}
				&.arrow-next{
				    margin-left: 324px;
					@include css3(transition,right 0.4s ease-out 0.1s);
					img{
						animation: arrow2 2s infinite;
						-webkit-animation: arrow2 2s infinite;
					}

				}
			}
			ul{
				position: absolute;
				top: 0;
				width: 100%;
				height: 480px;
				li{
					position: relative;
					float: left;
				    // margin: 0 30px;
				}
			}
		}
	}
}
@include keyframe(arrow){
	0%{
		left: 100%;
	}

	25%{
		left: 0%;
	}

	50%{
		left: 0%;
	}

	75%{
		left: 0%;
	}

	100%{
		left: -110%;
	}
}
@include keyframe(arrow2){
	0%{
		left: -100%;
	}

	25%{
		left: 0%;
	}

	50%{
		left: 0%;
	}

	75%{
		left: 0%;
	}

	100%{
		left: 110%;
	}
}
