@import "./app/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
#contents_wrap{padding: 0;}



.campaign_wannaone{
    background: #c8ced5;
    .btn_wrap{
        display: inline-block;
        &:hover{
            a{
                background: rgba(255,255,255,0.4);
            }
        }
        a{
            display: block;
            box-sizing: border-box;
            width: 200px;
            text-align: center;
            border:2px solid #20336e;
            font:700 18px/55px 'NotoSansKR';
            color:#20336e;
            letter-spacing: 5px;
            transition: all 0.5s;
        }
    }
    .main{
        position: relative;
        height: 889px;
        .bg{
            position: absolute;
            top:0px;
            left:50%;
            margin-left: -990px;
        }
        .txt{
            position: relative;
            padding: 710px 0 0 0;
            z-index: 1;
            text-align: center;
        }
        h2{
            text-align: center;
            font: 110px/95px 'DINWebPro-CondBold';
            color:#20336e;
        }
        .btn_wrap{
            margin: 20px 0 0 0;
        }
    }

    .video_wrap{
        position: relative;
        padding: 80px 0 0 0;
        height: 780px;
        .bg{
            position: absolute;
            top:80px;
            left:50%;
            margin-left: -750px;
        }
        .video{
            position: absolute;
            top: 145px;
            left: 50%;
            margin-left: -650px;
            opacity: 0;
            transition: all 0.5s;
            &.on{
                opacity: 1;
            }
            .btn{
                position: absolute;
                top:50%;
                left:50%;
                margin-left: -35px;
                margin-top: -35px;
            }
        }
    }

    .products_collection{
        width: 100%;
        height: 1030px;
        position: relative;
        background: #c8ced5;
        .title{
            width: 1190px;
            margin: 0 auto;
            text-align: center;
            font: 140px/135px 'DINWebPro-CondBold';
            color: #9da7b3;
            letter-spacing: 21px;
            padding: 43px 0 0 0;
            position: relative;
            top: 57px;
        }
        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:750px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            .arrow-prev{
                position: absolute;
                top:48%;
                left:50%;
                margin-left: -372px;
                background: url('/images/reebok/event/about/wannaone/181226/arrow_prev.png')0 0 no-repeat;
                z-index: 2;
                width: 76px;
                height: 24px;
            }
            .arrow-next{
                position: absolute;
                top:48%;
                left:50%;
                margin-left: 280px;
                background: url('/images/reebok/event/about/wannaone/181226/arrow_next.png')0 0 no-repeat;
                z-index: 2;
                width: 76px;
                height: 24px;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 700px;
                li{
                    width: 500px;
                    margin:0 73px;
                    position: relative;
                    float: left;
                    @include opacity(0.5);

                    &:after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 5;
                        // background: #fff;
                        @include opacity(0.4);
                        @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                    }
                }
                li.active{
                    @include opacity(1);

                    &:after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 5;
                        opacity: .4;
                        @include opacity(0);
                    }
                }
            }
        }
        .slider-btn{
            width: 100%;
            position: relative;
            padding: 30px 0;
            text-align: center;
            a{
                display: inline-block;
                box-sizing: border-box;
                width: 14px;
                height: 14px;
                padding-top: 2px;
                text-align: center;
                margin: 0 3px;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                border:3px solid #20336e;
                color: #fff;
                transition: all 0.5s;
                &.on{
                    background: #20336e;
                }
            }
        }
    }

    .bottom{
        position: relative;
        padding: 0 0 128px 0;
        .inn{
            width: 1070px;
            margin: 0 auto;
            position: relative;
            .bg{
                position: absolute;
                top: 72px;
                left: -157px;
                width: 548px;
                height: 56px;
                background: #9da7b3;
            }
            .left{
                position: relative;
                z-index: 2;
                padding-left: 90px;
                p{
                    padding: 15px 0 0 0;
                    font: 60px/55px 'DINWebPro-CondBlack';
                    letter-spacing: 10px;
                    color: #20336e;
                }
            }
            .btn_wrap{
                position: absolute;
                top:30px;
                right:90px;
                z-index: 3
            }
        }
    }
}
