@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#ultra_boost {
	html,body{
		height:100%;
	}
	.button_area_v2{
		display: inline-block;
		&:hover{
			div{

				a{
					color: #767677;
					span{
						background: #767677;
						em{
							background: #767677;
						}
					}

				}
			}
		}
		a{
			letter-spacing: 1px;
			padding:0 20px;
		}
	}
	h1{
		font: 50px/50px 'adinenuPro-regular';
		color:#fff;
		text-transform: uppercase;
		span{
			padding-left: 10px;
			font: 50px/50px 'adinenuPro-bold';
		}
	}
	.main__wrapper{
		position: relative;
		.main__wrapper__img{
			img{
				display: block;
				width: 100%;
			}
		}
		.main__wrapper__txt{
			position: absolute;
			top:130px;
			left: 50%;
			width: 1188px;
			margin-left: calc(-1188px/2);
			// transform: translateX(-50%);
			.logo{
				display: block;
				margin-bottom: 40px;
			}
			p{
				font: 400 25px/33px 'NotoSansKR';
				color:#fff;
				margin:15px 0 0 0;
				letter-spacing: -1px;
			}
			.button_area_v2{
				margin:40px 0 0 0;
			}
		}
	}
	.section__wrapper{
		position: relative;
		.section__wrapper__img{
			>img{
				display: block;
				width: 100%;
			}
		}
		.section__wrapper__video {
			
			>img {
				display: block;
				width: 100%;
			}

			video {
				display: block;
				width: 100%;
			}

			a.btn-play {
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;

				img {
					display: block;
					width: 100%;
				}
			}
		}
		&:nth-child(2){
			
		}
		&:nth-child(3){
			
		}	
		&:nth-child(4){
			
		}	
		&:nth-child(5) {
			position: relative;
			.section__wrapper__txt {
				position: absolute;
				text-align: center;
				width: 1200px;
				top: 81%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
				span.logo{
					display: inline-block;
					width: 140px;
					margin-bottom: 60px;
					img{
						display: block;
						width: 100%;
					}
				}
				h1{
					text-align: center;
				}
				.button_area_v2 {
					margin: 50px 0 0 0;
				}
			}
		}
	}
}
