@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

#wrap{
    min-width: 1280px;
    overflow: hidden;
}
.popup-layer{
    position: fixed;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 701;
    overflow: auto;
    @include css3(opacity,0);
    @include css3(transition,all 0.4s);
    &.ambassor{
        .popup-content{
            padding: 0;
            width: 748px;
            height: 640px;
            margin: -320px 0px 0px -374px;
            .txtlist{
                width: 260px;
                margin-left: 20px;
                padding: 35px 0 0 0;
                .txt{
                    border-bottom: 2px solid #000;
                }
                p{
                    // display: inline-block;
                    vertical-align: top;
                    &.nameEng{
                        font: 500 38px/33px 'adinenuPro-black';
                    }
                    &.nameKor{
                        padding: 0px 0 15px 0;
                        border-bottom: 0px;
                    }
                }
                .li-dot{
                    li{
                        letter-spacing: -0.7px;
                        p{
                            display: inline-block;
                        }
                        &.group{
                            p{
                                span{display: block;width:100%;font:400 13px 'NotoSansKR';}
                            }
                        }
                        &.insta{
                            padding: 35px 0 0 0;
                            position: absolute;
                            right: 30px;
                            bottom: 35px;
                            width: 255px;
                            a{
                                span{
                                    padding-left: 50px;
                                }
                            }
                        }
                    }
                }

            }

        }
    }
    &.on{
        top:0;
        @include css3(opacity,1);
    }
    &.athlete{
        .li-dot{
            li{
                &.insta{
                    display: block;
                }
            }
        }
    }
    .overlay{
        width: 100%;
        height: 100%;
        z-index: 700;
        background: #000;
        opacity: 0.8;
        -ms-filter: alpha(opacity=80);
        filter: alpha(opacity=80);
        position: fixed;
        top: 0;
        left: 0;
    }
    .popup-content{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        background: #fff;
        z-index: 701;
        width: 955px;
        height: 602px;
        margin: -301px 0px 0px -474px;
        .close{
            position: absolute;
            top: -50px;
            right: 0;
            cursor: pointer;
        }
        .main{
            display: inline-block;
        }
        .tips{
            position: absolute;
            bottom: 35px;
            right: 50px;
            p{
                font:300 12px 'NotoSansKR';
            }
        }
        .txtlist{
            display: inline-block;
            vertical-align: top;
            margin-left: 30px;
            width: 230px;
            p{
                text-transform: uppercase;
                color:#000;
                &.nameEng{
                    font: 500 38px/35px 'adinenuPro-black';
                }
                &.nameKor{
                    font:400 16px 'NotoSansKR';
                    padding: 2px 0 20px 0;
                    border-bottom: 2px solid #000;
                }
            }
            .li-dot{
                margin: 20px 0 0 0;
                li{
                    margin: 0 0 5px 0;
                    .bul{width: 3px;height: 3px;}
                    font:400 13px 'NotoSansKR';
                    color:#000;
                    span{
                        display: inline-block;
                        width: 75px;
                        font:700 13px 'NotoSansKR';
                    }
                    &.insta{
                        padding: 35px 0 0 0;
                        position: absolute;
                        right: 30px;
                        bottom: 146px;
                        width: 242px;
                        margin: 0;
                        background: url('/images/adidas/event/golf/temadidas/insta_btn.png');
                        background-repeat: no-repeat;
                        background-position: 0px 97%;
                        background-size: 100%;
                        a{
                            display: block;
                            span{
                                padding-left: 46px;
                                font: 13px/43px 'adinenuPro-light';
                                text-transform: uppercase;
                                color: #000;
                                letter-spacing: 0.4px;
                            }
                        }
                    }
                }

            }
        }
        .thumbnail{
            margin: 15px 0 0 0;
            .img{
                position: relative;
                display: inline-block;
                float: left;
                margin-right: 10px;
                width: 95px;height: 95px;
                background: #f4f4f4;
                cursor: pointer;
                &:after{
                    content: '';
                    display: inline-block;
                    position: absolute;
                    left:0;
                    bottom:0;
                    width: 100%;
                    height: 3px;
                    background: transparent;
                }
                &.on{
                    &:after{
                        background: #ec0000;
                    }
                }
                &.none{
                    display: none;
                    &:after{
                        background: transparent;
                    }
                }
                img{
                    width: 100%;
                }
            }
        }
    }
}
#temadidas{
    .temadidas_inner{
        padding-bottom: 275px;
        background-image: url('/images/adidas/event/golf/temadidas/bg.jpg');
        background-position: 0 1px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        &.ambassor{
            background-image: url('/images/adidas/event/golf/temadidas/ambassor_bg.jpg');
        }
        &.olaphic{
            background-image: url('/images/adidas/event/golf/temadidas/olaphic_bg.jpg');
        }
    }
    .main{
        position: relative;
        height: 296px;
        img{
            position: absolute;
            left:50%;
            margin-left: -965px;
        }
    }
    .contents_wrap{
        position: relative;
        padding: 85px 0 0 0;
        text-align: center;

        .tab{
            display: inline-block;
            width: 960px;
            text-align: center;
            div{
                display: inline-block;
                // float: left;
                margin: 0 5px;
                width: 310px;
                border-bottom: 1px solid #fff;
                vertical-align: bottom;
                cursor: pointer;
                &.on{
                    border-bottom: 3px solid #000;
                    p{
                        color:#000;
                    }
                }
                p{
                    padding: 0 0 15px 0;
                    text-align: center;
                    font:800 20px 'NotoSansKR';
                    color:#fff;
                    letter-spacing: -0.7px;
                    span{
                        font:500 24px 'adinenuPro-bold';
                        padding: 0 5px 0 0px;
                        letter-spacing: 0px;
                    }
                }
            }
        }
        .content{
            position: relative;
            display: block;
            @include css3(opacity,0);
            height: 0px;
            @include css3(transition, all 0.5s);
            &.on{
                height: auto;
                @include css3(opacity,1);
                z-index: 10;
            }
            &.none{
                display: none;
            }

            &.olapic{
                h2{
                    padding: 8px 0 0px 0;
                    font: 500 32px/32px 'NotoSansKR','Nanum Gothic';
                }
                .jcarousel-holder{
                    margin: 0 auto;
                }
                .olapic-slider-footer{
                    margin: 20px 0 0 0;
                }
            }
            h2{
                padding: 58px 0 40px 0;
                color:#000;
                text-align: center;
                font:400 18px 'NotoSansKR';
                span{
                    display: block;
                    text-align: center;
                    font:500 30px 'adinenuPro-black';
                    text-transform: uppercase;
                }
            }
            .row{
                margin-bottom: 35px;
                .box{
                    display: inline-block;
                    margin: 0 5px 0 0;
                    width: 288px;
                    border:1px solid #dadada;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    cursor: pointer;
                    @include css3(transition, all 0.5s);
                    &.last{
                        margin: 0;
                    }
                    &:hover{
                        border: 1px solid #fff;
                        box-shadow: 0 0 10px #9e9e9e;
                        .txt{
                            span{
                                @include css3(opacity, 1);

                            }
                        }
                    }
                    .img{
                        width: 288px;
                        overflow: hidden;
                        &:hover{
                            img{
                                @include css3(transform,scale(1.05));

                            }
                        }
                        img{
                            width: 100%;
                            @include css3(transition, all 0.3s);
                        }
                    }
                    .txt{
                        position: relative;
                        padding: 20px 24px;
                        background: #fff;
                        p{
                            color:#000;
                            font:500 15px/15px 'NotoSansKR';
                            letter-spacing: -0.7px;
                            &.eng{
                                text-transform: uppercase;
                                font:500 18px/18px 'adinenuPro-black';
                                letter-spacing: -0.1px;
                            }
                        }
                        span{
                            position: absolute;
                            right:20px;
                            bottom:20px;
                            display: inline-block;
                            width: 25px;
                            height: 11px;
                            background: url('/images/adidas/event/golf/temadidas/banner_arrow.png') no-repeat;
                            @include css3(opacity, 0);
                            @include css3(transition, all 0.3s);
                        }
                    }
                }
            }
            .table_wrap{
                table{
                    border-top: 1px solid #c0c0c0;
                    tr{
                        th{
                            padding: 18px 0;
                            color:#000;
                            font:600 14px 'NotoSansKR';
                            border-bottom: 2px solid #c0c0c0;
                            text-align: center;
                            &.gray{
                                background: rgba(0,0,0,0.03);
                            }
                        }
                        td{
                            padding: 12px 0;
                            color:#000;
                            font:400 13px 'NotoSansKR';
                            text-align: center;
                            border-bottom: 1px solid #e5e4e4;
                            &.gray{
                                background: rgba(0,0,0,0.03);

                            }
                            &.left{
                                padding-left: 95px;
                                text-align: left;
                            }
                            &.snstxt{
                                text-align: left;
                                width: 125px;
                                padding-left: 40px;
                            }
                            &.insta{
                                text-align: left;
                                &:hover{
                                    a{
                                        background: rgba(0,0,0,0.1) url('/images/adidas/event/golf/temadidas/bg_arrow.png') no-repeat;
                                        background-position: 95% 7px;
                                        }
                                }
                                &.nodata{
                                    span{
                                        display: inline-block;
                                        margin-left: 20px;
                                        width: 0;
                                        height: 1px;
                                        background: #9aa1a5;
                                    }

                                }
                                a{
                                    display: inline-block;
                                    width: 195px;
                                    border-radius: 8px;
                                    -webkit-border-radius: 8px;
                                    padding: 4px 0 4px 10px;
                                    font:14px/15px 'adinenuPro-regular';
                                    text-transform: uppercase;
                                    color:#000;
                                    background:rgba(0,0,0,0.05) url('/images/adidas/event/golf/temadidas/bg_arrow.png') no-repeat;
                                    background-position: 95% 7px;
                                    @include css3(transition, all 0.5s);
                                    span{
                                        position: relative;
                                        display: inline-block;
                                        top:2px;
                                        width: 15px;
                                        height: 15px;
                                        padding-right: 5px;
                                        background: url('/images/adidas/event/golf/temadidas/ico_insta.png') no-repeat;
                                    }
                                }

                            }
                            &.tor{
                                font:14px/15px 'adinenuPro-light','NotoSansKR';

                            }
                            span{
                                padding-right: 10px;
                                font:14px/15px 'adinenuPro-black';
                                text-transform: uppercase;
                            }

                        }
                    }
                }
            }
        }
    }
}
