@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#tour360 {
	position: relative;
	.main{
		position: relative;
		height: 800px;
		>.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.inn{
			position: relative;
			padding: 190px 0 0 0;
			width: 440px;
			margin: 0 auto;
			text-align: center;
			z-index: 1;
			transition: all 0.5s;
			@media screen and(max-width: 1190px){
				width: 950px;
			}
			.play{
				display: inline-block;
				margin-bottom: 90px;
				cursor: pointer;
			}
			h2{
				display: inline-block;
				font:52px/45px 'adinenuPro-bold';
				color:#fff;
				letter-spacing: 1.8px;
			}
		}
	}
	.statement{
		position: relative;
		padding: 75px 0;
		text-align: center;
		p{
			text-align: center;
			font:400 26px 'NotoSansKR';
			letter-spacing: 0.2px;
			color: #000;
			&.title{
				padding-bottom: 15px;
				font:500 53px 'NotoSansKR';
			}
			strong{
				font:600 53px 'NotoSansKR';
				letter-spacing: 0.2px;
			}
			span{
				font: 56px 'adinenuPro-bold';
				letter-spacing: 0.4px;

			}
		}
		img{
			position: relative;
    		top: 4px;
			height: 53px;
		}
		.button_area_v2{
			margin: 20px auto 0;
			width: 150px;
			a{
				height: 46px;
				line-height: 46px;
			}
		}
	}
	.contents{
		height: 2492px;
		>div{
			position: relative;
			width: 1280px;
			margin: 0 auto;
			&.con_01{
				height: 773px;
				img{
				position: absolute;
					&.con_img{
						top: 5%;
						left: -5%;
					}
					&.con_tit{
						top: 18%;
						left: 55%;
					}
				}
				p{
					top: 34%;
					left: 67%;
				}
			}
			&.con_02{
				height: 976px;
				top: -378px;
				img{
				position: absolute;
					&.con_img{
						top: 0%;
						right: -5%;
					}
					&.con_tit{
						top: 56%;
						left: 11%;
					}
				}
				p{
					top: 66%;
					left: 9%;	
				}
			}
			&.con_03{
				height: 949px;
				top: -457px;
				img{
				position: absolute;
					&.con_img{
						top: 5%;
						left: -5%;
					}
					&.con_tit{
						top: 15%;
						left: 55%;
					}
				}
				p{
					top: 31%;
					left: 71%;
				}
			}
			img{
				position: absolute;
				&.con_img{
					transition: ease-in-out 0.4s;
					opacity: 0;
				}
				&.con_tit{
					top: 68%;
					left: 0;
					transition: ease-in-out 0.4s;
					transition-delay: 0.3s;
					opacity: 0;	
				}
			}
			p{
				position: absolute;
				font: 400 22px 'NotoSansKR';
				color: #000;
				transition: ease-in-out 0.4s;
				transition-delay: 0.6s;
				opacity: 0;	
			}
			&.on{
				&.con_01{
					.con_img{
						top: 0%;
						left: 0%;
						opacity: 1;
					}
					.con_tit{
						left: 52%;
						opacity: 1;
					}
				}
				&.con_02{
					.con_img{
						top: 0%;
						right: 0%;
						opacity: 1;
					}
					.con_tit{
						left: 8%;
						opacity: 1;
					}
				}
				&.con_03{
					.con_img{
						top: 0%;
						left: 0%;
						opacity: 1;
					}
					.con_tit{
						left: 52%;
						opacity: 1;
					}
				}
				p{
					opacity: 1;
				}
			}
		}
		.logo{
			height: 174px;
			top: -500px;
			text-align: center;
			img{
				position: static;
				display: inline-block;
			}
		}
	}
	.video_area{
		position: relative;
		height: 500px;
		>img{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.inn{
			position: relative;
			padding: 190px 0 0 0;
			width: 440px;
			margin: 0 auto;
			text-align: center;
			z-index: 1;
			transition: all 0.5s;
			@media screen and(max-width: 1190px){
				width: 950px;
			}
			.play{
				display: inline-block;
				cursor: pointer;
			}
		}
	}
	.prds{
		position: relative;
		padding-top: 60px;
		.prds_box{
			overflow: hidden;
			width: 960px;
			margin: 0 auto 80px;
			li{
				float: left;
				padding: 10px 5px;
				a{
					display: inline-block;
					transition: 0.4s ease-out;
    				-webkit-transition: 0.4s ease-out;
					img{
						display: block;
					}
					&:hover{
						box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
					}
				}
			}
		}
	}
	.bottom_area{
		position: relative;	
		height: 861px;	
		>.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		&.on{
			.bt_link{
				top: 0;
				opacity: 1;
			}
		}
		.bt_link{
			position: absolute;
			width: 100%;
			top: 3%;
			left: 50%;
			margin-left: -50%;
			text-align: center;
			transition: ease-in-out 0.4s;
			opacity: 0;
			h2{
				font: 400 2.8rem 'adinenuPro-bold';
				color: #000;
				text-align: center;
				text-transform: uppercase;
			}
			.button_area_v2{
				margin: 20px auto 0;
				width: 150px;
				a{
					height: 46px;
					line-height: 46px;
				}
			}
		}
	}
}
