@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

/* video_layer */
.video_layer {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:110
}
.video_layer .video {
	width:100%;
	height:100%;
	z-index:6;
	position:absolute;
	top:0;
	left:0
}
.video_layer .close {
	width:45px;
	height:45px;
	position:absolute;
	top:25px;
	right:25px;
	z-index:20;
	display:block;
	background:url("/images/reebok/event/about/sprite.png") -80px 0 no-repeat;
	text-indent:-5000px;
	opacity:0;
	transition:opacity 0.4s ease-in 0.5s;
	-webkit-transition:opacity 0.4s ease-in 0.5s;
	-moz-transition:opacity 0.4s ease-in 0.5s;
	-o-transition:opacity 0.4s ease-in 0.5s;
	-ms-transition:opacity 0.4s ease-in 0.5s
}
.video_layer .bg {
	width:100%;
	height:100%;
	background:#000;
	z-index:5;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transition:opacity 0.4s;
	-webkit-transition:opacity 0.4s;
	-moz-transition:opacity 0.4s;
	-o-transition:opacity 0.4s;
	-ms-transition:opacity 0.4s
}
.video_layer.loaded .bg {
	opacity:.6
}
.video_layer.loaded .close {
	opacity:1
}
/* video_layer end */
.video_wrap{
	position: relative;
	// height: 850px;
	padding-bottom: 52.0828%;
	overflow: hidden;
	z-index: 2;

	.bg{
		position: absolute;
		top:0px;
		left:50%;
		margin-left: -960px;
		z-index: 1;
	}
	.player{
		position: absolute;
		top:0;
		// left:50%;
		// margin-left: -982px;
		z-index: 5;
	}
}
/* ultra_boost */
.crazy{
	position: relative;
	background: #fff;
	.version{
		position: absolute;
		top:0;
		a{
			display: inline-block;
			width:30px;height:30px;
			background: #f1f1f1;
			color:#000;
			font:15px/30px 'Dodum';
			text-align: center;
			border-radius: 50px;
		}
	}
	.inner{
		position: relative;
		width:950px;
		margin: 0 auto;
		padding: 50px 0;
	}

	.inner_wrap{
		min-width: 1280px;
		overflow: hidden;
		.statement{
			position: relative;
			height: 376px;
			background: url('/images/adidas/event/crazy/171120/bg_statement.jpg') 0 0 no-repeat;
			background-size: auto 376px;
			.inner{
				padding: 30px 0;
				text-align: center;
				h2{
					font:600 25px/25px 'NotosansKRBold','Nanum Gothic';
					color: #fff;
					text-align: center;
				}
				.statement_txt{
					p{
						padding: 20px 0 40px;
						font:18px/25px 'NotosansKRBold','Nanum Gothic';
						color: #fff;
						text-align: center;
					}
				}
				.btn-ctm{}
			}
			.txt{
				position: relative;
				top:142px;
				p{
					padding-bottom: 40px;
					text-align: center;
					font:18px/25px 'NotosansKRBold','Nanum Gothic';
					color:#000;
				}
			}

		}
		.visual_video{
			position: relative;
			cursor: pointer;
			&:hover{
				.masthead{
					.play{
						background: #000;
						border:3px solid #000;
						&:after{
							background-position: 100% 0;
						}
					}
				}
			}
			.bg{
				text-align: center;
				img{
					width: 100%;
				}
			}
			.masthead{
				position: absolute;
				top:50%;
				left:50%;
				.play{
					position: relative;
					display: inline-block;
					width:105px;
					height: 105px;
					margin-left: -52px;
					margin-top: -52px;
					border:3px solid #fff;
					border-radius: 100px;
					@include css3(transition , all 0.5s);
					&:after{
						position: absolute;
						top:35px;
						left:41px;
						content: "";
						width:25px;
						height:31px;
					    display: block;
						background: url("http://image.adidas.co.kr/images/adidas/event/pure_boost_v2/btn_arrow.png");
						background-position: 0 0;
						@include css3(transition , all 0.5s);

					}

				}
			}
		}
		.slider_area{
			overflow: hidden;
			position: relative;
			height: 1291px;
			.bg{
				position: absolute;
				top:0px;
				left:50%;
				margin-left: -960px;
				z-index: 1;
			}
			.slider_wrap{
				position: absolute;
				top: 520px;
				left: 50%;
				margin-left: -475px;
				z-index: 5;
				.prev-button{
					position: absolute;
					top: 50%;
					left: -30px;
				}
				.next-button{
					position: absolute;
					top: 50%;
					right: -30px;
				}
				.indicator{
					position: absolute;
					bottom: -30px;
					left: 50%;
					margin-left: -41px;
					a{
						margin-right: 10px;
						&:last-child{
							margin-right: 0;
						}
						span{
							display: inline-block;
						    width: 10px;
						    height: 10px;
						    border-radius: 50%;
							background: #fff;
							@include opacity(0.8)
						}
						&.on{
							span{
								@include opacity(1);
							}
						}
					}
				}
			}
		}
		.img{
			position: absolute;
			overflow: hidden;
			>div{
				position: relative;
				.mm{
					position: absolute;
				}
			}
			&.scroll{
				>div{
					&:after{
						left:100% !important;
						// @include opacity(0);
					}
				}
			}
			&.img1{
				top:0;
				left:0;
				img{
					width: 580px;
				}
			}
			&.img2{
				top:0;
				right:0;
				z-index: 1;
				img{
					width: 580px;
				}
			}
		}
		.buy{
			display: inline-block;
			width:150px;
			background: #fff;
			font:600 12px/50px 'NotosansKRRegular','Nanum Gothic';
			color:#000;
			text-align: center;
			&:hover{
				em{
					margin-left: 20px;
				}
			}
			em{
				display: inline-block;
				margin-left: 5px;
				width:14px;
				height:13px;
				background: url("http://image.adidas.co.kr/images/adidas/event/pure_boost_v2/icons.png");
				background-position: 0 0;
				vertical-align: middle;
				@include css3(transition , all 0.5s);
			}
		}
		.prd_cut{
			position: relative;
			background: #222;
			h3{
				position: relative;
				padding-top: 150px;
				padding-bottom: 150px;
				z-index: 5;
				p{
					color:#fff;
					&.cut_title{
						font:32px/32px 'adihaus-medium';
					}
					&.desc{
						font:600 14px/22px 'NotosansKRRegular','Nanum Gothic';
						width: 300px;
						padding-top: 20px;
						padding-bottom: 40px;
						letter-spacing: -0.7px;
					}
				}
			}
			.cut{
				position: relative;
				&.cut1{
					h3{
						padding-left: 575px;
					}
				}
				&.cut2{
					h3{
						padding-left: 100px;
					}
				}
			}

		}

		.banner_wrap{
			background: #222;
			padding-bottom: 102px;
			.banners{
				text-align: center;
				ul{
					display: inline-block;
					li{
						position: relative;
						float:left;
						margin-right: 20px;
						text-align: center;
						width:345px;
						height: 450px;
						overflow: hidden;
						&:hover{
							.masthead{
								.play{
									background: #000;
									border:3px solid #000;
									&:after{
										background-position: 100% 0;
									}
								}
							}
						}
						img{
							@include css3(transition , all 3s);
						}
						.masthead{
							position: absolute;
							top:50%;
							left:50%;
							.play{
								position: relative;
								display: inline-block;
								width:64px;
								height: 64px;
								margin-left: -32px;
								margin-top: -32px;
								border:2px solid #fff;
								border-radius: 50%;
								cursor: pointer;
								@include css3(transition , all 0.5s);
								&:after{
									position: absolute;
									top:18px;
									left:22px;
									content: "";
									width:20px;
									height:23px;
								    display: block;
									background: url("/images/adidas/event/crazy/btn_arrow.png");
									background-position: 0 0;
									background-size: 40px;
									@include css3(transition , all 0.5s);

								}

							}
						}
						p{
							position: absolute;
							bottom: 30px;
							width: 100%;
							font: 18px/18px 'adihaus-medium';
							color: #fff;
							text-align: center;
						}
						&:hover{
							img{
								transform: scale(1.1);
							}
						}
						&.last{
							margin-right: 0px;
						}
					}
				}
			}
		}
	}
}
/* End of ultra_boost */


/*
 * For ie old version
 */
