@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
.campaign_pump_supreme{
    .modal-popup-wrapper{
        .popup-contents{
            p{
                font:13px/15px 'NotoSansKRLight';
                color:#666666;
                margin-bottom: 30px;
            }
            .shop_head{
            table{
                width:100%;
                th{
                    height: 50px;
                    border-top:1px solid #000;
                    border-bottom: 1px solid #000;
                    color:#000;
                    font:13px/15px 'NotoSansKRBold';
                    text-align: center;

                }
            }
            }
            .shop_cont{
                height: 530px;
                overflow-y: scroll;
                border-bottom: 1px solid #000;
            table{
                width:100%;
                td{
                    height: 50px;
                    border-bottom: 1px solid #ececec;
                    color:#000;
                    font:13px/15px 'NotoSansKRRegular';
                    text-align: center;
                    &.left{
                        text-align: left;
                        padding-left: 25px;
                    }
                }
            }
            }
        }
    }
    .visual_video{
        background: #000;
        height: 920px;
        h2{
            height: inherit;
            text-indent: 0;
            background:none;
            font:85px/90px 'QStencil';
            text-transform: uppercase;
            span{
                font:25px/45px 'QStencil';
                vertical-align: top;
            }

        }
        .video_bg{
            width: 100%;
            .ie &{
                video{
                    width:100%;
                    min-width: 1900px;
                    height: 920px;
                }
            }
        }
        .desc_eng{
            font:24px/24px 'DINWebPro-CondMedium';
            text-transform: uppercase;
            letter-spacing: 12px;
        }
        .desc_eng2{
            margin-bottom: 55px;
            font:22px/28px 'NotoSansKRRegular','Nanum Gothic';
        }

        .bg{
            @include opacity(0);
            @include prefix-css3(transition ,opacity 1.2s ease-in);
        }

        .masthead{
            @include opacity(0);
            @include prefix-css3(transition ,opacity 1s ease-in);
            &.active{
                @include opacity(1);
            }
        }

        &.active{
            .bg{
                @include opacity(1);
            }
        }

        .video_bg{
            &.ended{
                @include opacity(0);
                @include prefix-css3(transition ,opacity 1.6s ease-in);
            }
        }
        .masthead{
            @include opacity(0);
            @include prefix-css3(transition,opacity 0.6s ease 1.5s);

            &.active{
                top:52%;
                @include opacity(1);
                h2{
                    margin:0 auto 8px;
                }
                .desc_eng{
                    color:#fff;
                }
            }
            .play-video {
                width: 176px;
                height: 177px;
                background: url('/images/reebok/event/about/workoutstory/171228/play.png') center center no-repeat;
                border: none;
                @include prefix-css3(transition ,all ease-in 0.3s);
                &:hover{
                    background: url('/images/reebok/event/about/workoutstory/171228/play_ov.png') center center no-repeat;
                    @include prefix-css3(transition ,all ease-in 0.3s);
                }
            }
        }
    }
    .main{
        position: relative;
        height: 854px;
        .bg{
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -984px;
        }
        .txt{
            position: absolute;
            top: 330px;
            left: 50%;
            margin-left: -250px;
            p{
                text-align: center;
                font:34px 'DINWebPro-Cond';
                color: #fff;
                text-transform: uppercase;
            }
            h2{
                text-align: center;
                font:100px/110px 'DINWebPro-CondBold';
                color: #fff;
                text-transform: uppercase;
            }
        }
    }
    .slider_wrap{
        position: relative;
        height: 2246px;
        div.cont_bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left: -990px;

        }

        h4{
            font:70px/23px 'DINWebPro-CondBold';
            text-align: center;
            color: #000;
            margin-top: 85px;
            margin-bottom: 30px;
            position: absolute;
            width: 100%;
            p{
                font:26px/40px 'DINWebPro-CondBold';
                color:#b81c25;
                text-align: center;
            }
            a.buy{
                display: inline-block;
                height: 50px;
                padding: 0 0px;
                position: relative;
                border:2px solid #000;
                color:#fff;
                background-color: #000;
                margin-top: 40px;
                span{
                    position: relative;
                    padding:0 65px;
                    font:300 16px/48px 'NotoSansKR';
                    z-index: 2;
                }
                &:hover{
                    background: #fff;
                    border:2px solid #000;
                    color: #000;
                    span{
                        font:700 16px/48px 'NotoSansKR';
                    }
                }

                }

                a.shop{
                    display: inline-block;
                    height: 50px;
                    padding: 0 10px;
                    position: relative;
                    border:1px solid #fff;
                    color:#fff;
                    margin-top: 20px;
                    span{
                        position: relative;
                        padding:0 49px;
                        font:16px/48px 'NotoSansKRLight','Nanum Gothic';
                        z-index: 2;

                    }
                    &:hover{
                        background: #fff;
                        color: #000;
                        span{
                            font:16px/48px 'NotoSansKR','Nanum Gothic';
                        }
                    }

                    }
        }
        .inner{
            position: relative;
            height: 1024px;
            width: 781px;
            ul{
                li.item{
                    width:100%;
                    position: absolute;
                    bottom: 50px;
                    left:50%;
                    margin-left: -450px;
                    text-align: center;
                    @include prefix-css3(transition ,all ease-in 0.5s);
                    @include opacity(0);


                    .img{
                        position: relative;
                        left:30px;
                        // left:-600px;
                        padding-bottom: 42px;
                        @include opacity(0);
                        @include prefix-css3(transition ,all ease-in 0.3s);
                    }
                    .num{
                        text-align: center;
                        display: none;
                        @include opacity(0);
                        ul{
                            li{
                                float:left;
                                width: 33%;
                                text-align: center;
                                &:hover{
                                    p{
                                        @include opacity(1);
                                    }
                                }
                                &:first-child{
                                    position: relative;
                                    left:-70px;
                                }
                                &:last-child{
                                    position: relative;
                                    right:-70px;
                                }
                                p{
                                    text-align: center;
                                    font:36px 'DINWebPro-CondBold';
                                    color:#fff;
                                    letter-spacing: 1px;
                                    cursor: pointer;
                                    @include opacity(.5);
                                    @include prefix-css3(transition ,opacity 0.2s ease);


                                }
                                p.tit{
                                    position: relative;
                                    top:4px;
                                    width: 100%;
                                    padding-bottom: 20px;
                                    text-align: center;
                                    font:20px 'DINWebPro-CondLight';
                                    color:#fff;
                                    letter-spacing: 0px;
                                    @include prefix-css3(transition ,opacity 0.2s ease);

                                }

                                }

                            }


                        }
                        &.item.on{
                            @include opacity(1);
                            a{
                                display: block;
                                position: absolute;
                                width: 83px;
                                height: 25px;
                                z-index: 5;
                            }
                            .img{
                                // left:30px;
                                @include opacity(1);
                            }
                            .num{
                                display: block;
                                @include opacity(1);

                            }
                        }
                        &.on{
                                p{
                                    @include opacity(1);
                                }
                                a.buy{
                                    display: inline-block;;
                                }


                        }
                        &:after{
                            content: '';
                            display: block;
                            clear:both;
                        }

                    }

                }

            }
            .navi{
                position:relative;
                width: 100%;
                top:79%;
                text-align: center;
                .next{
                    position: absolute;
                    right:0;
                    top:-35px;
                }
                .prev{
                    position: absolute;
                    left:0;
                    top:-35px;
                }
            }
            .bottom_num{
                position: absolute;
                bottom: 50px;
                left:50%;
                margin-left: -47px;
                z-index: 1;
                a{
                    display: inline-block;
                    width: 12px;
                    height: 10px;
                    padding-top: 2px;
                    text-align: center;
                    margin-right: 8px;
                    background: #4d4d4d;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    color: #fff;
                    &.on{
                        background: #fff;
                    }
                }
            }
            .prod_map{
                position: relative;

                .img1{

                }
                .cut{
                    position: absolute;
                    z-index: 5;
                    left: 50%;
                    margin-left: -512px;
                    .point{
                        width: 26px;
                        height: 26px;
                        position: absolute;
                        .bg{
                            width: 100%;
                            height: 100%;
                            background: #000;
                            opacity: 0.7;
                            filter:alpha(opacity=70);
                            -ms-filter:alpha(opacity=70);
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                        span{
                            width: 100%;
                            height: 20px;
                            display: block;
                            text-align: center;
                            font:16px/20px 'DINWebPro-CondBold';
                            color: #fff;
                            position: absolute;
                            top: 50%;
                            margin-top: -10px;
                            left: 0;
                            z-index: 2;
                        }
                        .bg_active{
                            width: 26px;
                            height: 26px;
                            border:2px solid #fff;
                            z-index: 1;
                            opacity: 0;
                            filter:alpha(opacity=0);
                            -ms-filter:alpha(opacity=0);
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                }
                .info{
                    position: absolute;
                    z-index: 10;
                    left: 50%;
                    margin-left: -230px;
                    .left{
                        margin-left: -210px;
                        position: absolute;
                        top: 1630px;
                    }

                    .right{
                        margin-left: 270px;
                        position: absolute;
                        top: 450px;
                    }


                        h4.left_tit{
                            font:70px 'DINWebPro-CondBold';
                            color:#000;
                            text-align: left;
                            position: absolute;
                            top: -150px;
                            left: -10px;
                            margin: 0;
                            padding: 0;
                            position: absolute;
                            width: 500px;
                            left: -225px;
                            .buy_bt{
                                display: inline-block;
                                width: 193px;
                                height: 44px;
                                background: url('/images/reebok/event/about/workoutstory/171228/bt_bg.png')center center no-repeat;
                                color:#000;
                                font:700 16px/44px 'NotoSansKR';
                                margin-top: 7px;
                                text-align: center;
                                @include prefix-css3(transition ,all ease-in 0.3s);
                                &:hover{
                                    background: url('/images/reebok/event/about/workoutstory/171228/bt_bg_ov.png')center center no-repeat;
                                    color:#fff;
                                    @include prefix-css3(transition ,all ease-in 0.3s);
                                }
                            }
                        }


                    h4.right_tit{
                        font:70px/62px 'DINWebPro-CondBold';
                        color:#000;
                        text-align: right;
                        position: absolute;
                        top: -220px;
                        left: -10px;
                        margin: 0;
                        padding: 0;
                        width: 500px;
                        left: 180px;
                        position: absolute;
                        .buy_bt{
                            display: inline-block;
                            width: 193px;
                            height: 44px;
                            background: url('/images/reebok/event/about/workoutstory/171228/bt_bg.png')center center no-repeat;
                            color:#000;
                            font:700 16px/44px 'NotoSansKR';
                            margin-top: 7px;
                            text-align: center;
                            @include prefix-css3(transition ,all ease-in 0.3s);
                            &:hover{
                                background: url('/images/reebok/event/about/workoutstory/171228/bt_bg_ov.png')center center no-repeat;
                                color:#fff;
                                @include prefix-css3(transition ,all ease-in 0.3s);
                            }
                        }
                    }

                    li{
                        width: 380px;
                        height: 40px;
                        padding: 5px 0 5px 25px;
                        position: relative;
                        &:hover{
                            background: url("/images/reebok/event/about/workoutstory/171228/line_ov.png")center 35px no-repeat;
                        }
                        .txt{
                            padding-left: 5px;
                            position: relative;
                            font:700 16px 'NotoSansKR','Nanum Gothic';
                            color: #000;
                            z-index: 10;
                            span{
                                font: 16px 'DINWebPro-CondMedium';
                                color:#000;
                                margin-right: 15px;
                            }
                                .num{
                                    img{
                                        position: absolute;
                                        width: 32px;
                                        height: 32px;
                                        top: -3px;
                                        left: -36px;
                                    }
                            }
                        }
                        .link{
                            padding-right: 17px;
                            display: block;
                            position: absolute;
                            top: 15px;
                            right: 0px;
                            color: #000;
                            font: 13px/13px 'NotoSansKR','Nanum Gothic';
                            z-index: 10;
                            .disable{
                                background:none;
                                color: #999999;
                            }
                            em{
                                display: inline-block;
                                width: 13px;
                                height: 13px;
                                background: url("/images/reebok/event/about/workoutstory/171228/arrow.png")center center no-repeat;
                                position: absolute;
                                right: -2px;
                                top: 1px;
                            }
                        }
                        .no_prod{
                            color: #707070;
                        }
                        .line{
                            position: absolute;
                            top: -1px;
                            left: -14px;
                            width: 28px;
                            height: 28px;
                            border: 2px solid #fff;
                            opacity: 0;
                            filter: alpha(opacity=0);
                            -ms-filter: alpha(opacity=0);
                        }
                    }
                }
            }
    }
    .products_collection{
        width: 100%;
        height: 928px;
        // height: 1135px;
        position: relative;
        background: #323232;
        // background:url('http://image.reebok.co.kr/images/reebok/event/about/printsmooth/gal_bg.jpg') no-repeat;
        background-size: 100% 100%;

        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left:-990px;
            }
            h4{
                font: 47px/45px 'QStencil';
                text-align: center;
                color: #fff;
                padding-top: 60px;
                margin-bottom: 40px;
                position: relative;

                span{
                    font:15px/35px 'NotoSansKRRegular';
                }
                a.buy{
                    display: inline-block;
                    height: 50px;
                    padding: 0 10px;
                    position: relative;
                    border:1px solid #fff;
                    color:#fff;
                    margin-top: 20px;
                    span{
                        position: relative;
                        padding:0 65px;
                        font:16px/48px 'NotoSansKRLight','Nanum Gothic';
                        z-index: 2;

                    }
                    &:hover{
                        background: #fff;
                        color: #000;
                        span{
                            font:16px/48px 'NotoSansKR','Nanum Gothic';
                        }
                    }

                    }
            }
        p.title{
            position: relative;
            padding-bottom: 44px;
            width: 100%;
            font:18px/25px 'NotoSansKRlight';
            text-align: center;
            color:#fff;
        }
        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:550px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            background: #000;
            .arrow-prev{
                position: absolute;
                top:46%;
                left:50%;
                margin-left: -420px;
                background-position: -125px -80px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            .arrow-next{
                position: absolute;
                top:46%;
                left:50%;
                margin-left:420px;
                background-position: -125px -125px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 550px;
                li{
                    width: 970px;
                    position: relative;
                    float: left;
                    @include opacity(0.4);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);

                }
                li.active{
                    @include opacity(1);
                }
            }
        }
        }

        .slider-btn{
            width: 100%;
            position: relative;
            padding: 20px 0;
            text-align: center;
            a{
                display: inline-block;
                width: 12px;
                height: 10px;
                padding-top: 2px;
                text-align: center;
                margin-right: 8px;
                background: #4d4d4d;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                color: #fff;
                &.on{
                    background: #fff;
                }
            }
        }
        .prodlist_wrap{
            position: relative;
            height: 380px;
            background: #ebeaee;
            overflow: inherit;
            z-index: 2;
            border-bottom-width: 0;
            // margin-bottom: 100px;
            a.shop{
                display: inline-block;
                position: absolute;
                top: 270px;
                left:50%;
                margin-left: -93px;
                height: 50px;
                position: relative;
                border:1px solid #000;
                color:#000;
                margin-top: 20px;
                span{
                    position: relative;
                    padding:0 45px;
                    font:500 16px/48px 'NotoSansKR','Nanum Gothic';
                    z-index: 2;

                }
                &:hover{
                    background: #000;
                    color: #fff;
                    span{
                        font:400 16px/48px 'NotoSansKR','Nanum Gothic';
                    }
                }

                }
            .arrow{
                position: absolute;
                left:50%;
                top:-21px;
                margin-left: -21px;
                background-position: -140px 0;
                width: 43px;
                height: 21px;
            }
            .prodlist_box{
                width: 980px;
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -365px;
                display: none;
                h5{
                    position: absolute;
                    top:36px;
                    text-align: center;
                    width: 100%;
                }
                .product-list{
                    &:after{
                        content: '';
                        display: block;
                        height: 0;
                        clear: both;
                    }
                    .item{
                        width: 25%;
                        float: left;
                        // float:none;
                        margin:0 auto;
                        text-align: center;
                        .img{
                            height: 203px;
                            // padding-top: 70px;
                            img{
                                margin-top: 65px;
                            }
                        }
                        .tit{
                            margin-bottom: 5px;
                        }
                        .ctgr{
                            font:16px 'DINWebPro-CondBold';
                            span{
                                &.men{
                                    color:#6d9c12;
                                }
                                &.women{
                                    color:#aa4398;
                                }
                            }
                        }
                    }
                }
            }
            .prodlist_box.last{
                ul{
                    li{
                        .img{
                            img{
                                margin-top: 23px !important;
                            }
                        }
                    }
                }
            }
            .slider-btn{
                width: 100%;
                position: absolute;
                bottom: -48px;
                left:0;
                text-align: center;
                a{
                    margin-right: 15px;
                }
            }
        }
}
/* pump_supreme end */
