@import "./front/css/reebok/scss/about.scss";

/* common */
#wrap{
    overflow: hidden;
    min-width: 1160px;
}
html,body{
	height:100%;
}
#contents_wrap{padding: 0;}
.button_area_v2 {
	>div {
		position: relative;
		display: inline-block;
		&:hover{
			a{
				color: #767677;
				background: #000;
				span{
					&.arrow{
						background: #767677;
						em{
							background: #767677;
						}
					}

				}
			}
		}
		.bg {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translate(3px,3px);
			-webkit-transform: translate(3px,3px);
			box-shadow: inset 0 0 0 1px #000;
			-webkit-box-shadow: inset 0 0 0 1px #000;
		}
		a {
			position: relative;
			display: block;
			text-align: center;
			height: 50px;
			font: 500 15px/49px 'NotoSansKR';
			color: #fff;
			background: #000;
			z-index: 2;
			padding:0 20px;
			span {
				&.arrow {
					position: relative;
					top: -1px;
					display: inline-block;
					margin-left: 20px;
					width: 25px;
					height: 2px;
					background: #fff;
					vertical-align: middle;
					em {
						position: absolute;
						right: 0;
						width: 8px;
						height: 3px;
						background: #fff;
						transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						&.top {
							top: -3px;
						}
						&.bottom {
							bottom: -3px;
							transform: rotate(-45deg);
							-webkit-transform: rotate(-45deg);
						}
					}
				}
			}
		}
		&.white {
			&:hover{
				a{
					color: #767677;
					background: #fff;
					span {
						&.arrow {
							background: #767677;
							em {
								background: #767677;
							}
						}
					}
				}
			}
			.bg {
				box-shadow: inset 0 0 0 1px #fff;
				-webkit-box-shadow: inset 0 0 0 1px #fff;
			}
			a {
				color: #000;
				background: #fff;
				span {
					&.arrow {
						background: #000;
						em {
							background: #000;
							
						}
					}
				}
			}
		}
	}

}

.campaign_inner{
	.pump_main{
		position:relative;
		width:100%;
		>img{display:block;width:100%;}
		.txt{
			position:absolute;left:50%;bottom:14%;
			transform: translate(-50%, -50%);
			width:100%;
			p{
				color:#fff; text-align:center;
				span{display:block;}
				font: 400 22px/28px 'NotoSansKR';
			}
		}
		
	}

}
.pump_video{
	.pump_video_list{
		position:relative;
		video{
			//position:absolute;left:50%; top:0;
			//transform:translate(-50%, -50%);
			width:100%;
		}
		.txt{
			position:absolute;left:50%;top:47%;
			transform:translateX(50%);
				a{
					display:block;
				}
		}
	}
	
}

.by_btn{
	a{
		position: relative;
		display: inline-block;
		background: #fff;
		padding: 17px 20px 17px 22px;
		white-space: nowrap;
		em{
			font: 700 14px/16px 'NotoSansKR';
			letter-spacing:2px;
			color:#111;
			text-align:center;
			position:relative;
			padding-right:20px;
		}
		//em:before {
			//content: '';
			//display: block;
			//position: absolute;
			//right: -35px;
			//top: 5px;
			//width: 24px;
			//height: 12px;
			//background: url('/images/reebok/2020/event/pumpday/arrow_off.png') center center no-repeat;
		//}
	}
	
	a:before {
		content: '';
		display: block;
		position: absolute;
		right: -3px;
		bottom: -3px;
		width: 140px;
		height: 48px;
		border: 1px solid #fff;
	}
	a:hover em{color:#797b80; transition:0.4s;}
	
}

.by_btn1{
	position:absolute;left:50%;bottom:10%;
	transform: translate(-50%, -50%);
}

.img_w{width:100%; display:block;}

.pump_fury{
	position:relative;
}


.by_btn2{
	//position:absolute;left:375px;top:340px;
	//position:absolute;left:24%;top:26%;
	//transform:translate(-60%, -70%);
    position: absolute;
    left: 19%;
    top: 24%;
}


.pump_city{
	position:relative;
}

.by_btn3{
	position:absolute;left:52%;top:18%;	
}

.pump_court{
	position:relative;
}

.by_btn4{
	position:absolute;left:58%;top:17%;
}
.pump_list{
	position:relative;
}
.pump_box{position:relative;}
.slick-slide img {width:100%;}
.pump_slide .slick-dots{
	text-align:center; 
	background:#fee800;
	padding:70px 0;
	
	//position:absolute;left:50%; bottom:100px;
}
.slick-dots li{
	display:inline-block;
	vertical-align:top;
	margin-right:10px;
}

.slick-dots li button{
	width: 10px;
    height: 10px;
	border-radius: 50%;
	background:none;
    border: 1px solid #111;
    padding: 0;
    text-indent: -9999px;
}

.slick-dots li.slick-active button {
	background: #111;
}

.pump_list .paging {
    position: absolute;
	bottom: 50%;
	z-index: 9;
	width:100%;
		
	.pump_list .paging p:first-child {
		margin-left: 0;
	}
	.pump_list .paging p {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		margin: 0 12px;
	}

	.pump_list .paging p:before {
		content: '';
		display: block;
		position: absolute;
		left: 70px;
		top: 13px;
		width: 3px;
		height: 29px;
		background: rgba(255,255,255,0.2);
	}
	.slick-arrow{
		display:inline-block;
		position:absolute; top:0;
		border:0;
		background:none;
		text-decoration:none;
		&:nth-child(1){
			left:1%;
		}		
		&:nth-child(2){
			right:1%;
		}
	}


	.slick-next button {
		width:49px;
		height:90px;			
		background:url('/images/reebok/2020/event/pumpday/pump_left.png') no-repeat;
		background-size:auto auto;
		background-position: top;
		border:0;
		//display:none;
	}
	.slick-prev button {
		width:49px;
		height:90px;			
		background:url('/images/reebok/2020/event/pumpday/pump_right.png') no-repeat;
		background-size:auto auto;
		background-position: top;
		border:0;
	}		
}


.day_slider {
	position:relative;

	.slick-dots{
		text-align:center; 
		padding:45px 0;
	}
	.slick-arrow{
		width:33px;
		height:60px;
		border: 0;
		text-indent: -9999px;
		display: inline-block;
		position: absolute;
		bottom: 20px;
		left: 50%;
		
		&.slick-prev{
			background:url('/images/reebok/2020/event/pumpday/left_ar.png') no-repeat;
			background-size:auto auto;
			background-position: top;
			margin-left: -550px;
		}
		&.slick-next{
			background:url('/images/reebok/2020/event/pumpday/right_ar.png') no-repeat;
			background-size:auto auto;
			background-position: top;
			margin-left: 515px;
		}
	}
	//position:absolute;left:50%; bottom:100px;
}