@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

#prada{
	section{position: relative;margin: 0 auto; min-width: 1190px;};
	
	.btn_default{
		margin-top: 0;
	}

	p{
		font: 400 21px/35px $noto;
	}
	.visual{
		.visual__figure{
			img{
				width: 100%;
			}
		}
	}
	.content{
		text-align: center;
		background: #000;
		h3,p{text-align: center;}
		h3{
			font: 700 38px/38px 'Helvetica Neue';
			color: #fff;
		}
		p{
			font: 700 25px/35px $noto;
			color: #fff;
			span{
				font: 700 25px/25px 'Helvetica Neue';
				color: #fff;
			}
		}

		&.cont01{
			padding: 120px 0;
			p{
				margin: 45px 0 70px;
			}
			.content__wrapper{
				width: 85%;
				margin: 220px auto 0;
				>div{
					display: inline-block;
					width: 49%;
					text-align: center;
					img{
						width: 95%;
						margin: 0 auto;
					}
					.btn_default{
						margin-top: 60px;
						text-align: center;
					}
				}
			}
		}
		&.cont02{
			img{
				&:nth-child(3){
					display: block;
					width: 85%;
					margin: 0 auto;
				}
				&:nth-child(4){
					margin-top: 100px;
				}
			}
			p{
				margin: 60px 0 170px;
				&:nth-child(5){
					margin: 65px 0 70px;
				}
			}
		}
		&.cont03{
			img.cont{
				display: block;
				width: 100%;
				padding: 150px 0 130px;
			}
			p{
				margin-top: 70px;
			}
		}
	}
	.bottom-content{
		background-color: #000;
		padding: 90px 0 110px;
		text-align: center;
	}
}
