@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';


#wrap{
	min-width: 1250px;
	overflow: hidden;
}
#outdoor_cp {
	overflow: hidden;
	position: relative;
	background: #000;
	.button_area_v2{
		display: inline-block;
		// width: 145px;
		&:hover{
			div{
				.bg{
					box-shadow: inset 0 0 0 1px #000;
    				-webkit-box-shadow: inset 0 0 0 1px #000;
					@include css3(transition, all 0.5s);
				}
				a{
					color: #fff;
				    background: #000;
					@include css3(transition, all 0.5s);

					span.arrow{
						background: #fff;
						@include css3(transition, all 0.5s);
						em{
							background: #fff;
							@include css3(transition, all 0.5s);
						}
					}

				}
			}
		}
		a{
			padding:0 20px;
			font: 600 15px/49px 'NotoSansKR';
			letter-spacing: 1px;
			span.arrow{
				margin-left: 15px;
			}
		}
		// width: 140px;
	}

	.main{
		position: relative;
		height: 880px;
		z-index: 3;
		.bg_wrap{
			position: absolute;
			left:50%;
			top:0;
			margin-left: -960px;
			img{
				position: absolute;
				top:0;
				left:0;
				@include css3(opacity,1);
				@include css3(transition, all 0.5s);
				&.on{
					@include css3(opacity,1);

				}
			}
		}
		.inn_wrap{
			width: 1190px;
			margin: 0 auto;
			position: relative;
			z-index: 2;
			padding: 292px 0 0 50px;
			.txt{
				h2{
					padding:15px 0 25px 0;
					font:600 26px 'NotoSansKR';
					color:#fff;
				}
				p{
					padding-top: 20px;
					font:400 18px/26px 'NotoSansKR';
					color:#fff;
				}
				.button_area_v2{
					
					margin: 40px 0 0 0;
					a{
						padding:0 20px;
					}
				}
			}
		}
	}

	.statement{
		position: relative;
		height:370px;
		text-align: center;
		.imgbg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.content{
			position: relative;
			text-align: center;
			padding: 80px 0 0;
			z-index: 2;
		}
		h2{
			
			font:600 56px/56px 'NotoSansKR';
			color:#fff;
			text-align: center;
			letter-spacing: 6px;
		}
		h3{
			padding: 30px 0 20px;
			font:600 42px/42px 'NotoSansKR';
			color:#fff;
			text-align: center;
			letter-spacing: 6px;
		}
		.desc{
			text-align: center;
			p{
				text-align: center;
				display: inline-block;
				font:300 18px/28px 'NotoSansKR';
				color:#fff;
				vertical-align: middle;
			}
		}
		.button_area_v2{
			margin:40px 0 0 0;
		}

	}

	.navi_wrap{
		position: relative;
		display: block;
		height: 200px;
		max-width: 1920px;
		margin: 0 auto;
		.navi {
			position: absolute;
			overflow: hidden;
			width: 100%;
			
			&.fixed {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				max-width: 1920px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 10;
			}

			.inn_box {
				width: 50%;
				height: 200px;
				float: left;
				box-sizing: border-box;
				transition: all 0.2s;
				&:hover {
					.btn {
						opacity: 1;
					}
				}
				&.on {
					.btn {
						opacity: 1;
						color: #000;
						font-weight: 600;
						background: rgba(255, 255, 255, 0.4);
					}
					&.left {
						background: url('/images/adidas/2020/event/outdoor/0121/btn_left_bg_on.jpg') no-repeat;
						background-position: center;
					}
					&.right {
						background: url('/images/adidas/2020/event/outdoor/0121/btn_right_bg_on.jpg') no-repeat;
						background-position: center;
					}
				}
				&.left {
					background: url('/images/adidas/2020/event/outdoor/0121/btn_left_bg.jpg') no-repeat;
					background-position: center;
				}
				&.right {
					background: url('/images/adidas/2020/event/outdoor/0121/btn_right_bg.jpg') no-repeat;
					background-position: center;
				}
				.btn {
					box-sizing: border-box;
					margin: 120px auto 0;
					text-align: center;
					width: 440px;
					height: 64px;
					font: 500 22px/62px 'NotoSansKR';
					background: rgba(0, 0, 0, 0.4);
					color: #fff;
					letter-spacing: 3px;
					opacity: 0.5;
					transition: all 0.2s;

					&.white {
						background: rgba(255, 255, 255, 0.4);
						color: #000;
						font-weight: 600;
					}
				}

			}
		}
	}
	

	.items_wrapper{
		position: relative;
		height: 9650px;
		background: #000;
		.item_wrap{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
			transition: all 0.4s;
			&.on{
				opacity: 1;
				z-index: 2;
			}
			&.item2{

			}
			.coll_top{
				position: relative;
				height: 1708px;
				
				.title{
					padding-top: 640px;
				}
				.imgbg{
					position: absolute;
					top:0;
					left:50%;
					margin-left: -960px;
				}
				.txt_area{
					position: absolute;
					top:1477px;
					left: 50%;
					width:290px;
					height:200px;
					>*{
						color:#fff;
					}
					span{
						font:18px 'adinenuPro-light';
						letter-spacing: 1px;
					}
					p{
						font:300 20px 'NotoSansKR','adinenuPro-light';
						
					}
					.price{
						font:400 19px 'adinenuPro-light','NotoSansKR';
						letter-spacing: 1px;
						span{
							font: 22px 'adinenuPro-regular';

						}
	
					}
					.button_area_v2{
						margin:25px 0 0 0;
					}
				}
			}
			
		}
	}

	.product_info{
		position: relative;
		height: 770px;
		&.type2{
			height: 1080px;
			.txt_box {
				position: absolute;
				top: 600px;
				left: 50%;
				width: 960px;
				background: none;
				padding: 0;
				margin-left: -480px;
				h3 {
					text-align: center;
				}
				p {
					text-align: center;
				}
			}
		}
		.imgbg {
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -960px;
		}
		.txt_box{
			position: absolute;
			top: 170px;
			left: 50%;
			width: auto;
			background: rgba(0, 0, 0, 0.4);
			padding: 40px 27px;
			margin-left: -600px;
			h3{
				font:600 36px 'NotoSansKR';
				color:#fff;
				letter-spacing: 4px;
			}
			p{
				padding-top: 30px;
				font: 300 18px/28px 'NotoSansKR';
				color:#fff;
			}
		}
	}

	.video_full_wrap {
		position: relative;
		height: 1080px;
		video {
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -960px;
			// display: block;
			// width: 100%;
		}
	}

	.cont_img{
		position: relative;
		height: 915px;
		.imgbg {
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -960px;
		}
	}

	.collection{
		position: relative;
		height:960px;
		.imgbg{
			position: absolute;
			top:0;
			left:50%;
			margin-left:-960px;
		}
		.slider_content{
			padding-top: 120px;
			overflow: visible !important;
			position: relative;
			left: 50%;
			margin-left: -460px;
			ul{
				overflow: hidden;
				li{
					float: left;
					text-align: center;
					img{
						display: inline-block;
					}
				}
			}
		}
		.btnarrow_wrap{
			position: absolute;
			top: 38%;
			left: 50%;
			width: 960px;
			height: 60px;
			margin-left: -480px;
			.btnarrow {
				position: absolute;
				top: 0px;
				left: 0;
				z-index: 4;
				&.next-button {
					right: 0;
					left: auto;
				}

				&.prev-button {
					left: 0;
				}
			}
		}
		
		.indicator{
			position: relative;
			left: 0;
			padding: 40px 0;
			z-index: 1;
			text-align: center;
			width: 100%;
			a{
				display: inline-block;
				margin:0 3px;
				width:13px;
				height:13px;
				border:2px solid #fff;
				border-radius: 50px;
				box-sizing: border-box;
				text-indent: -9999px;
				&.on{
					background: #fff;
				}
			}
		}
		.slider_bottom{
			position: relative;
			text-align: center;
			p{
				font: 500 28px 'NotoSansKR';
				color: #fff;
				text-align: center;
				letter-spacing: 2.5px;
				text-transform: uppercase;
				span{
					text-transform: uppercase;
					font: 30px 'adinenuPro-bold';
				}
			}
			.button_area_v2{
				margin:32px 0 0 0;
			}
		}
	}

	.collection_s{
		position: relative;
		height: 690px;
		.imgbg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.inn{
			position: relative;
			margin:0 auto;
			width: 1200px;
			.s_slider_wrap{
				position: relative;
				display: inline-block;

			}
			.s_slider{
				display: inline-block;
			}
			.indicator{
				width: 100%;
				position: relative;
				margin:23px 0 0 0;
				z-index: 1;
				text-align: center;
				a{
					display: inline-block;
					margin: 0 3px;
					width: 13px;
					height: 13px;
					border: 2px solid #fff;
					border-radius: 50px;
					box-sizing: border-box;
					// text-indent: -9999px;
					&.on{
						background: #fff;
					}
				}
			}
			.txt_area{
				position: absolute;
				top:430px;
				left: 50%;
				width:290px;
				height:200px;
				>*{
					color:#fff;
				}
				span{
					font:18px 'adinenuPro-light';
					letter-spacing: 1px;
				}
				p{
					font:300 20px 'NotoSansKR','adinenuPro-light';

				}
				.price{
					font:400 19px 'adinenuPro-light','NotoSansKR';
					letter-spacing: 1px;
					span{
						font: 22px 'adinenuPro-regular';

					}

				}
				.button_area_v2{
					margin:25px 0 0 0;
				}
			}
		}
	}

	.video_wrap{
		position: relative;
		height:800px;
		&.right{
			.txt{
				margin-left: 230px;
				p{
					// text-align: right !important;
				}
			}
		}
		.video_bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.txt{
			position: relative;
			display: inline-block;
			width:640px;
			padding:388px 0 0 0;
			left: 50%;
			margin-left: -620px;
			z-index: 1;
			p{
				color:#fff;
				font: 400 18px 'NotoSansKR';
				letter-spacing: -0.1px;

				&.bold{
					padding:0 0 10px 0;
					font: 500 30px 'NotoSansKR';
				}
			}
		}
	}

	#notizone {
		position: relative;
		.imgbg {
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -960px;
		}
	}
}
