@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
.campaign_kang{
    .visual_video{
        background: #fff;
        .bg{
            @include opacity(0);
            @include prefix-css3(transition,opacity 1.3s);

            &.active{
                @include opacity(1);
            }
        }

        .video_bg{
            width: 100%;
            .ie &{
                video{
                    width:100%;
                    min-width: 1900px;
                    height: 650px;
                }
            }
        }

        .masthead{

            @include opacity(0);
            @include prefix-css3(transition,opacity 0.6s ease 1.5s);

            &.active{
                @include opacity(1);
                h2{
                    width: 375px;
                    height: 271px;
                    background: url("http://image.reebok.co.kr/images/reebok/event/about/nada/text-video.png") no-repeat !important;
                    margin:0 auto 25px;
                    text-indent:-5555px;
                }
                .desc_eng{
                    text-transform: uppercase;
                    color:#fff;
                }
            }
        }
    }
    .about_passion{
        position: relative;
        .part{
            position: relative;
            top:46px;

            .video_box{
                position: relative;
                left:-20px;
                overflow: hidden;
                width: 485px;
                height: 333px;
                z-index: 10;

                @include prefix-css3(transition, all 0.3s);

                .play{
                    position: absolute;
                    top:50%;
                    margin-top: -36px;
                    left:50%;
                    margin-left: -36px;
                    z-index: 10;
                }

                .effect{
                    position: absolute;
                    top:50%;
                    left:-14%;
                    width: 800px;
                    height: 20px;
                    background: #cad45d;
                    visibility: hidden;
                    @include opacity (0.5);
                    @include prefix-css3(transform,rotate(45deg));
                    @include prefix-css3(transition, all 0.3s);
                    z-index: 8;

                }
                .bg{
                    img{
                        @include prefix-css3(transition, all 0.3s);
                    }
                }
            }

            .video_box:hover{
                .effect{
                    visibility: visible;
                    height: 185%;
                    top:-29%;
                    left:-19%;
                }
                .bg{
                    img{
                        @include prefix-css3(transform,scale(1.1));
                    }
                }
            }

            .video_bg{
                position: absolute;
                top:20px;
                width: 485px;
                height: 333px;
                left:0px;
                background: #fff;
                @include opacity(0.1);
            }


            .video_desc{
                position: absolute;
                top:50%;
                margin-top: -40px;
                left:517px;
                .title{
                    font:40px/40px 'DINWebPro-CondMedium';
                    color:#fff;
                    text-transform: uppercase;
                    letter-spacing: 7px;
                }
                .title:after{
                    position: absolute;
                    top:-21px;
                    left:0;
                    width: 38px;
                    height: 2px;
                    background: #fff;
                    content: '';
                }
                .title2{
                    font:40px/40px 'DINWebPro-CondMedium';
                    color:#cad45d;
                    text-transform: uppercase;
                    letter-spacing: 7px;
                }
            }
            &.type2{
                top:100px;
                .video_box{
                    margin-left: 445px;
                }
                .video_bg{
                    left:403px;
                }
                .video_desc{
                    left:inherit;
                    left:0;
                }
            }
            &.type3{
                top:160px;
            }
        }


        .box{
            width: 100%;
            position: relative;
            padding: 120px 0 30px 0;
            background: #202020;
            background: url("http://image.reebok.co.kr/images/reebok/event/about/kangsisters/bg.jpg") no-repeat;
            background-size: 100% 100%;
            height: 2576px;


            h3{
                padding-bottom: 30px;
                color: #FFF;
                font:90px/80px 'QStencil';
                span{

                }
            }

            .desc{
                padding-bottom: 10px;
                top: 190px;
                color: #bababa;
                text-align: left;
                font:19px/27px 'NotoSansKRRegular','Nanum Gothic';
            }

            .inner-buybtn{
                display: inline-block;
                margin:30px 0 0 0;
                padding:0 75px;
                vertical-align: middle;
                font:22px/60px 'NotoSansKRRegular','Nanum Gothic';
                border:1px solid #fff;
                color:#fff;
            }




            .textbg_bg1{
                position:absolute;
                top:264px;
                right:-57%;
                font:214px/170px 'DINWebPro-CondMedium';
                color:#fff;
                text-align: right;
                text-transform: uppercase;
                @include opacity (0.1);
            }
            .textbg_bg2{
                position:absolute;
                top:732px;
                left:-58%;
                font:214px 'DINWebPro-CondMedium';
                color:#fff;
                @include opacity (0.1);
            }
            .textbg_bg3{
                position:absolute;
                bottom:-670px;
                left:-42%;
                font:214px 'DINWebPro-CondMedium';
                color:#fff;
                @include opacity (0.1);
            }

            .bg_ban1{
                position: absolute;
                top:0;
                right:-57%;
                .bg_ban1_deco{
                    display: block;
                    position: absolute;
                    top:-13px;
                    right: 5%;
                    width: 20px;
                    height: 240px;
                    background: #cacbaa;
                    mix-blend-mode:overlay;
                    // opacity: 0.2;
                    // -ms-opacity:0.2;
                    // -ms-filter:alpha(opacity=20);
                    @include opacity (0.5);
                }
            }
            .bg_ban2{
                position: absolute;
                top:1189px;
                right:-46%;
            }

        }


    }

    .banner_area{
        position: relative;
        height: 484px;
        background: url("http://image.reebok.co.kr/images/reebok/event/about/kangsisters/bg_wall.jpg") no-repeat;

        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left: -990px;
        }
        .inner{
            padding-top: 50px;
            text-align: center;
        }

    }

    .instagram{
        position: relative;
        padding:272px 50px 0 50px;
        width: 100%;
        // background: url("http://image.reebok.co.kr/images/reebok/event/about/kangsisters/bg2.jpg") no-repeat;
        background-size: 100% 100%;
        .inner_wrap{
            width: 899px;
            margin:0 auto;
            .title{
                .tit{
                    text-align: center;
                    font:26px 'DINWebPro-CondLight';
                    color:#fff;
                }
                .main_tle{
                    padding-bottom: 20px;
                    text-align: center;
                    font:55px 'DINWebPro-CondLight';
                    color:#fff;
                }
            }
            .content{

                dl{
                    float:left;
                    width: 49.5%;
                    dd{
                        padding: 30px 0;
                        text-align: center;
                        span{
                            display: inline-block;
                            vertical-align: middle;
                        }
                        a{
                            padding-left: 8px;
                            font:16px/29px 'NotoSansKRLight';
                            color:#fff;
                        }
                        a:hover{
                            color:#cad45d;
                        }
                    }
                }
            }
            .goUrl{

                a{
                    display: block;
                    width: 100%;
                    text-align: center;
                    border:2px solid #d4d4d4;
                    font:20px/80px 'NotoSansKR';
                    color:#cad45d;
                    span{
                        color:#fff;
                    }
                    em{
                        display: inline-block;
                        width: 29px;
                        height: 29px;
                        margin-left: 10px;
                        vertical-align: middle;

                        background: url("http://image.reebok.co.kr/images/reebok/event/about/kangsisters/icon.png") 0 3px no-repeat;
                    }
                }
            }


        }

    }

}
/* 2l Campaign end */
