@import "./front/css/reebok/scss/about.scss";

/* common */
#wrap{
    overflow: hidden;
    min-width: 1160px;
}
html,body{
	height:100%;
}
a{
	outline:none;
}
button{
	outline:none;
}
map{
	outline:none;
	border:0;
}

#contents_wrap{padding: 0;}


.button_area_v2 {
	>div {
		position: relative;
		display: inline-block;
		&:hover{
			a{
				color: #767677;
				background: #000;
				span{
					&.arrow{
						background: #767677;
						em{
							background: #767677;
						}
					}

				}
			}
		}
		.bg {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translate(3px,3px);
			-webkit-transform: translate(3px,3px);
			box-shadow: inset 0 0 0 1px #000;
			-webkit-box-shadow: inset 0 0 0 1px #000;
		}
		a {
			position: relative;
			display: block;
			text-align: center;
			height: 50px;
			font: 500 15px/49px 'NotoSansKR';
			color: #fff;
			background: #000;
			z-index: 2;
			padding:0 20px;
			span {
				&.arrow {
					position: relative;
					top: -1px;
					display: inline-block;
					margin-left: 20px;
					width: 25px;
					height: 2px;
					background: #fff;
					vertical-align: middle;
					em {
						position: absolute;
						right: 0;
						width: 8px;
						height: 3px;
						background: #fff;
						transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						&.top {
							top: -3px;
						}
						&.bottom {
							bottom: -3px;
							transform: rotate(-45deg);
							-webkit-transform: rotate(-45deg);
						}
					}
				}
			}
		}
		&.white {
			&:hover{
				a{
					color: #767677;
					background: #fff;
					span {
						&.arrow {
							background: #767677;
							em {
								background: #767677;
							}
						}
					}
				}
			}
			.bg {
				box-shadow: inset 0 0 0 1px #fff;
				-webkit-box-shadow: inset 0 0 0 1px #fff;
			}
			a {
				color: #000;
				background: #fff;
				span {
					&.arrow {
						background: #000;
						em {
							background: #000;
							
						}
					}
				}
			}
		}
	}

}

#nanox{
	.main{
		position:relative;
		>img{
			width:100%;
		}
		.txt{
			position:absolute;
			left:50%;
			top:62%;
			transform:translate(-50%,-50%);
			margin-left:-27.5%;;
		}
		.video_wrap{
			position:absolute;
			left: 94%;
			top: 48%;
			transform: translate(-50%, -50%);
			width: 100%;
			.video_box{
				// width:968px;
				// height:684px;
				max-width: 968px;
				width:50%;
				box-sizing:border-box;
				img{
					width:100%;
				}
			}
		}		
	}
	.nanox_cont2{
		padding:60px 0;
		>img{
			width:100%;
		}
	}
	.nanox_cont3{
		padding-bottom:60px;
		>img{
			width:100%;
		}
	}	
	.nanox_cont4{
		position:relative;
		.con4_box{

			>img{
				width:100%;
				position:relative;
				
			}
			.cont4_video_wrap{
				position:absolute;
				left: 59%;
				top: 42%;
				transform: translate(-50%, -50%);
				width:100%;
				z-index:4;
				>img{
					width:83%;
				}				
				.video{
					position:absolute;
					left: 42%;
					top: 25%;
					transform: translate(-50%, -50%);
					
					a{
						max-width:738px;
						display:block;
						>img{
							width:100%;
						}
					}
				}
			}
		}
	}
}
