@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';


#ecomzone{
	// width: 720px;
	overflow: hidden;
	margin: 0 auto;
	.header{
		padding: 24px 0.5rem 25px;
		ul{

			li{
				position: relative;
				display: inline-block;
				float: left;
				width: 33.33%;
				text-align: center;
				font:1.2rem/2rem 'adinenuPro-black';
				text-transform: uppercase;
				color:#aaaaaa;
				@include css3(transition, all 1.2s);
				span{
					position: absolute;
					bottom:0px;
					left:50%;
					margin-left: -8px;
					width: 17px;
					height: 9px;
					background:url('http://image.adidas.co.kr/images/adidas/event/ecomzone_k_171130/arrow.png') no-repeat;
					@include css3(opacity, 0);
					@include css3(transition, all 0.5s);
					-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

				}
				&.on{
					color:#000;
					span{
						bottom:-10px;
						@include css3(opacity, 1);
						-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

					}
				}
			}
			&:after{
				content: '';
				display: block;
				height: 0;
				clear: both;
			}
		}
	}

	.container{

		.main_visual{
			overflow: hidden;
			position: relative;
			width: 100%;
			padding-bottom: 30%;
		    // margin: 0 0 2rem 0;
			ul{
				li{
					position: absolute;
					top:0;
					display: block;
					width: 100%;
					// height: 228px;
					// height: 20rem;
					@include css3(opacity, 0);
					overflow: hidden;
					@include css3(transition, opacity 0.5s);
					-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";


					.img{
						@include css3(transform, scale(1));
						@include css3(transition, opacity 0.5s, transform 10s);
						@include css3(transition-delay, 0.5s);

						img{
							width: 100%;
						}
					}

					&.on{
						@include css3(opacity, 1);
						-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

						z-index: 5;
						.img{
							@include css3(transform, scale(1.15));

						}
						.txt{
							// top:50%;
							@include css3(opacity, 1);
							-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

						}
					}
					.txt{
						width: 100%;
						position: absolute;
						top:50%;
						left:50%;
						@include css3(transform, translate(-50%,-50%));
						@include css3(opacity, 0);
						@include css3(transition, all 0.8s);
						-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";


						// transition: all 0.8s;
						// -webkit-transition: all 0.8s;
						// transition-delay: 0.8s;
					}
					p{
						text-align: center;
						color:#fff;
						font:20px 'NotoSansKR';
						&.eng{
							text-transform: uppercase;
							font:64px/65px 'adinenuPro-black';
						}
					}
				}
			}
		}
		.prd_wrapper{
			position: relative;
			padding-bottom: 100%;
			.prd_wrap{
				position: absolute;
				top:0;
				bottom:0;
				left:0;
				right:0;
				opacity: 0;
				-webkit-opacity: 0;
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
				&.on{
					z-index: 2;
					opacity: 1;
					-webkit-opacity: 1;
					-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
					.prd_section{
					    // margin: 30px 13rem 0;
						transition: all 0.8s;
						-webkit-transition: all 0.8s;
						// transition-delay: 1s;
						&.active{
							margin: 2rem 0rem 20px;
							.box{
								.tit{
									width: 30px;
									height: 30px;
									font:18px/32px 'adinenuPro-bold';
								}
								.title{
									margin: 5px 0 0 0;
									p{
										&.title{
											font:500 18px/20px 'NotoSansKR';
										}
										&.price{
											opacity: 1;
											-webkit-opacity: 1;
											-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

											font:400 13px 'NotoSansKR';
											span{
												display: inline-block;
												padding: 0 3px;
												font:18px 'adihaus-bold';
											}
											&.sale{
												color:#c53622;
												span{
													&.pre_price{
														color:#000;
														font:400 13px 'NotoSansKR';
														em{
															position: relative;
															font:15px 'adihaus';
															color:#000;
															&:after{
																content: '';
																display: block;
																width: 100%;
																height: 1px;
																background: #000;
																position: absolute;
																top:60%;
															}
														}
													}
												}
											}
										}
									}
								}
								.img{
									height: 230px;

									img{
										// height: 100%;
										transition-duration: 8s;
									    -webkit-transition-duration: 8s;
									    transform: translate3d(0, 0, 50px);
									    -webkit-transform: translate3d(0, 0, 50px);
									}
								}
							}
						}
						.box{
							position: relative;
							float: left;
							display: inline-block;
		    				width: 31.3%;
							margin: 0 1%;
							text-align: center;
							.img{
								img{
									width: 100%;
									// height: 121px;
								}
							}
							.tit{
								position: absolute;
								top:0;
								left:0;
								width: 16px;
								height: 16px;
								display: inline-block;
								background: #000;
								color:#fff;
								font:11px/18px 'adinenuPro-bold';
								 z-index: 2;
								 transition: all 0.5s;
								 -webkit-transition: all 0.5s;
							}
						}
						&:after{
							content: '';
							display: block;
							height: 0;
							clear: both;
						}
					}
				}
				.prd_section{
					margin: 2rem 10rem 20px;
					-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
					// margin: 30px 13rem 0;
					@media screen and (min-width: 1080px ) {
						margin: 2rem 13rem 20px;

					  }

					.box{
						position: relative;
						float: left;
						display: inline-block;
						width: 31.3%;
						margin: 0 1%;
						text-align: center;
						.img{
							height: 122px;
							perspective: 500px;
							-webkit-perspective: 500px;
							overflow: hidden;
							img{
								width: 100%;
								// height: 100%;
								transform: translate3d(0, 0, 0);
								-webkit-transform: translate3d(0, 0, 0);
								transition-duration: 3s;
							    -webkit-transition-duration: 3s;
							}
						}
						.tit{
							position: absolute;
							top:0;
							left:0;
							width: 16px;
							height: 16px;
							display: inline-block;
							background: #000;
							color:#fff;
							text-align: center;
							font:11px/16px 'adinenuPro-bold';
							transition: all 1.2s;
						}
						.title{
							padding: 2px 0 0 0;
							p{
								text-align: center;
								color:#000;
								font:13px 'NotoSansKR';
								transition: all 1.2s;
								-webkit-transition: all 1.2s;
								&.title{
									font:13px 'NotoSansKR';
								}
								&.price{
									opacity: 0;
									-webkit-opacity: 0;
									-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

								}
							}
						}
					}
					&:after{
						content: '';
						display: block;
						height: 0;
						clear: both;
					}
				}

			}
		}

	}

	.date{
	    margin: 7.9% 0 1.8% 0;
		p{
			font:400 0.8rem 'NotoSansKR';
			color:#666;
			text-align: center;
			letter-spacing: -0.5px;

		}
	}

	.footer{
		position: relative;
		background: #444444;
		.bg{
			img{
				width: 100%;
			}
		}
		.content{
			position: absolute;
			top:50%;
			left:50%;
			width: 100%;
			transform: translate(-50%, -50%);
		    -webkit-transform: translate(-50%, -50%);
			p{
				text-align: center;
				color:#fff;
    			font: 700 1.5rem/2rem 'NotoSansKR', 'Nanum Gothic';
				letter-spacing: -0.5px;
				&.logo{
    				padding: 0 0 11px 0;
				}

			}
		}
	}
}

.ie10, .ie9, .ie8{
	#ecomzone{
		.header{
			ul{
				li{
					font:20px/30px "adiBlack";
				}
			}
		}

		.date{
			p{
				font: 400 12px "NotoSansKR", "Nanum Gothic"
			}
		}

	}
}

.ie8{
	#ecomzone{
		.header{
			ul{
				li{
					&.on{
						font-weight: bold;
						span{
							display: block;
						}
					}
					span{
						display: none;
					}
				}
			}
		}
		.container{
			.main_visual{
				ul{
					li{
						padding: 20px 0;
						.txt{
							top:35%;
							left:auto;
						}

					}
				}
			}
			.prd_wrapper{
				.prd_wrap{
					.prd_section{
						margin:5% 20% 0% 20%;
						.box{
							.title{
								p{
									&.price{
										.pre_price{
											display: inline-block;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
