@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
html,body{
	height:100%;
}
#footer{
    z-index: 19;
}
#stylepick {
	.rel{
		position: relative;
	}
	.ct{
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
	}
	.button_area_v2{
		display: inline-block;
		&:hover{
			div{
				.bg{
					box-shadow: inset 0 0 0 1px #000;
    				-webkit-box-shadow: inset 0 0 0 1px #000;
					@include css3(transition, all 0.5s);
				}
				a{
					color: #767677;
					span{
						background: #767677;
						em{
							background: #767677;
						}
					}

				}
			}
		}
		a{
			letter-spacing: 1px;
			padding:0 20px;
			border: 1px solid #000;
			white-space: nowrap;
		}
		.bg{
			box-shadow: inset 0 0 0 1px #000;
    		-webkit-box-shadow: inset 0 0 0 1px #000;
		}
	}
	// modal pop
    .modal-popup-wrapper{
        .overlay{
            background: rgba(0, 0, 0, 0.99)!important;
		}
		.popup{
			background:none;
			.button_area_v2{
				position: relative;
				bottom: -145px;
			}
			.popup-contents{
				padding: 0;
				background:none;
				width: 100%;
				height: 100%;
				text-align: center;
				.close{
					display: inline-block;
					// position: absolute;
					top: -120px;
					right: -60px;
					width: 60px;
					height: 60px;
					padding: 0 10px;
					box-sizing: border-box;
					img{
						width: 40px;
						height: 40px;
					}
				}
				.slider{
					position: relative;
					width: 100%;
					height: 100%;                
					ul{
						position: relative;
						width: 100%;
						height: 100%;
						&:after{
							content: '';
							display: block;
							clear: both;
						}
						li{
							position: absolute;
							display: none;
							&.on{
								display: block;
							}
							top:50%;
							left:50%;
							transform: translate(-50%,-50%);
							&:nth-child(5),
							&:nth-child(11),
							&:nth-child(12),
							&:nth-child(18){
								// top:50%;
								// left:50%;
								// transform: translate(-50%,-50%);

								// margin-top:-260px;
								// margin-left:-390px;
							}
						}
					}
				}
				>a{
					display: inline-block;
					position: absolute;
					top: 250px;
					display: inline-block;
					width: 75px;
					height: 38px;
					// text-indent: -3000px;
					&.prev{
						left: -15px;
						background: url('/images/adidas/2020/event/originals/stylepic/0331/prev.png') 0 0 no-repeat;
						background-position: center;
					}
					&.next{
						right: -20px;
						background: url('/images/adidas/2020/event/originals/stylepic/0331/next.png') 0 0 no-repeat;
						background-position: center;
					}
				}
				.dot{
					position: absolute;
					bottom:-145px;
					left:50%;
					transform: translateX(-50%);
					text-align:center;
					span{
						display:inline-block;
						transition: all .5s ease-out;
						font: 20px/20px 'adihaus-bold';
						color:#fff;	
					}
				}
			}
		}
		&:nth-child(5),
		&:nth-child(11),
		&:nth-child(12),
		&:nth-child(18){
			.popup{
				.popup-contents{
					.dot{
						bottom:-35px;
					}
				}
			}
		}
	}

	.main__wrapper{
		.main__wrapper__inner{
			position: relative;
			padding-bottom: 50.5%;
			img{
				position: absolute;
				top:0;
				left:50%;
				transform: translateX(-50%);
				width:100%;
				height:auto;
			}
		}
	}

	.aside__wrapper{
		text-align: center;
		padding: 80px 0;
		h1{
			text-align: center;
		}
		em{
			font: 700 22px/29px 'NotoSansKR';
			color:#000;
			margin: 28px 0 15px;
			display: inline-block;
		}
		p{
			font: 400 18px/28px 'NotoSansKR';
			color:#000;
			text-align: center;
			display: block;
		}
		.aside__wrapper__img{
			text-align: center;
			min-width: 970px;
			padding: 60px 0 0 0;
			>div.rel{
				display: inline-block;
				margin:0 30px;
				&:hover{
					>div.hover{
						opacity: 1;
						transition: all 1s;
					}
				}
				div.hover{
					opacity: 0;
					display: block;
					background:url('/images/adidas/2020/event/originals/stylepic/0331/2003_a_stylepick_hover01_.jpg') no-repeat;
					background-position: top;
					background-size:100% auto;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					cursor:pointer;
					.txt{
						text-align: center;
						margin:235px 0 0 0;
						h3{
							text-align: center;
							color:#ff5757;
							font:32px/35px 'adinenuPro-black';
						}
						>div{
							position: relative;
							background:#ff5757;
							display:inline-block;
							padding: 4px 9px;
							span{
								font:700 19px/19px 'NotoSansKR';
								color:#fff;

							}
						}
					}
				}
				&:nth-child(2){
					div.hover{
						background:url('/images/adidas/2020/event/originals/stylepic/0331/2003_a_stylepick_hover02_.jpg') no-repeat;
						background-position: top;
						background-size:100% auto;
						.txt{
							h3{
								color:#0006ff!important;
							}
							>div{
								background:#0006ff!important;
							}
						}
					}
				}
			}
		}
	}
	.tabs{
		display: none;
		&.fixed{
			position: fixed;
			display: block;
			top:0;
			width:100%;
			z-index:3;
		}
		>div{
			font-size: 0;
			background:url('/images/adidas/2020/event/originals/stylepic/0331/2003_a_stylepick_tabBg_.jpg') no-repeat;
			background-position: top;
			background-size: 100% 100%;
			div{
				text-align: center;
				width:50%;
				background:url('/images/adidas/2020/event/originals/stylepic/0331/2003_a_stylepick_tab01_off.png') no-repeat;
				background-position: right;
				padding-bottom: 6.4%;
				display: inline-block;
				cursor:pointer;
				position: relative;
				left: -7%;
				background-size: 30% auto;
				&.active{
					background:url('/images/adidas/2020/event/originals/stylepic/0331/2003_a_stylepick_tab01_on.png') no-repeat;
					background-position: right;
					background-size: 30% auto;
				}
				&:nth-child(2){
					background:url('/images/adidas/2020/event/originals/stylepic/0331/2003_a_stylepick_tab02_off.png') no-repeat;
					background-position: left;
					position: relative;
					left: 7%;
					background-size: 30% auto;
					&.active{
						background:url('/images/adidas/2020/event/originals/stylepic/0331/2003_a_stylepick_tab02_on.png') no-repeat;
						background-position: left;
						background-size: 30% auto;
					}
				}
			}
		}
	}
	.section{
		text-align: center;
		.section__wrapper{
			padding: 60px 0;
			.button_area_v2{
				position: absolute;
				top: 50px;
				left: 76%;
				transform: translateX(-50%);
				z-index:2;
			}
			>img{
				position: absolute;
				top:60px;
				left:50%;
				transform:translateX(-50%);
				z-index:1;
			}
		}
		&.sec1{
			.head__line{
				h1{
					color:#ff5656;
					font:32px/35px 'adinenuPro-black';
					text-align: center;
					padding: 10% 0 5%;
				}
			}
			.section__wrapper{
				&:nth-child(2){
					padding: 0 0 60px 0;
					height:867px;
					>img{
						top:0;
					}
				}
				&:nth-child(3){
					background:#fcf8f3;
					height:865px;
					.button_area_v2{
						top: 100px;
						left: 42%;
					}
				}
				&:nth-child(4){
					height:867px;					
					.button_area_v2{
						top: 100px;
					}
				}
				&:nth-child(5){
					height:879px;					
				}
				&:nth-child(6){
					height:864px;
				}
				&:nth-child(7){
					height:889px;
				}
			}
			>.button_area_v2{
				padding: 55px 0;
			}
		}
		&.sec2{
			.head__line{
				background:#f9fbfd;
				h1{
					color:#0006ff;
					font:32px/35px 'adinenuPro-black';
					text-align: center;
					padding: 10% 0 2%;
				}
			}
			.section__wrapper{
				background:#f9fbfd;
				&:nth-child(2){
					padding: 0 0 60px 0;
					height:879px;
					>img{
						top:0;
					}
				}
				&:nth-child(3){
					background:#fff;
					height:864px;
					.button_area_v2{
						top: 100px;
						left: 42.5%;
					}
				}
				&:nth-child(4){
					height:889px;					
					.button_area_v2{
						top: 100px;
					}
				}
				&:nth-child(5){
					height:879px;					
				}
				&:nth-child(6){
					height:864px;
				}
				&:nth-child(7){
					height:889px;
				}
			}
			>.button_area_v2{
				padding: 55px 0 100px;
			}
		}
		.popup_slide_wrapper{
			background:url('/images/adidas/2020/event/originals/stylepic/0331/2003_a_stylepick_slideBg01.jpg') no-repeat;
			background-position: top;
			background-size:100% 100%;
			padding: 60px 0;
			&.bg02{
				background:url('/images/adidas/2020/event/originals/stylepic/0331/2003_a_stylepick_slideBg02.jpg') no-repeat;
				background-position: top;
				background-size:100% 100%;
				padding: 60px 0;
			}
			.popup_slide_wrapper_inner{
				position: relative;
				margin-bottom: 2%;
				&:last-child{
					margin-bottom:0;
				}
				.popup_slider{
					.slick-list{
						width:90%;
						margin:0 auto;
						.slick-track{
							.item{
								&::after{
									display:block;
									clear:both;
									content:'';
								}
								>div{
									float:left;
									width:20%;
									overflow:hidden;
									>a{
										position: relative;
										display: block;
										>img{
											width:99%;
											margin: 0 auto;
										}
										.hover{
											position: absolute;
											top:0;
											left:0.5%;
											opacity: 0;
											width: 99%;
											height: 100%;
											margin:0 auto;
											background: rgba(255,255,255,0.55);
											>div{
												position: relative;
												height: 100%;
												>img{
													width: 10%;
													position: absolute;
													top: 50%;
													left: 50%;
													transform: translate(-50%, -50%);
												}
											}
										}
										&:hover{
											.hover{
												opacity: 1;
												transition: all 0.2s;
											}
										}
	
									}
								}
							}
						}
					}
				}
				.popup_slider_nav{
					.prev-button{
						position: absolute;
						top:50%;
						left:1.5%;
						transform: translateY(-50%);
					}
					.next-button{
						position: absolute;
						top:50%;
						right:1%;
						transform: translateY(-50%);
					}
				}
			}
		}
	}
	.bottom__wrapper{
		background:#e6e7ed;
		.bottom__wrapper__inner{
			width:1190px;
			min-width:1190px;
			margin:0 auto;
			padding:40px 0;
			div{
				display: inline-block;
				margin:0 15px;
				img{

				}
			}
		}
	}
}

@media screen and (min-width: 1190px) and (max-width: 1450px) { 
	body { 
		#stylepick{
			.section{
				.section__wrapper{
					.button_area_v2{
						left: 82%;
					}
				}
			}
		}
	} 
}
