@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
.campaign_clubc_90_v2{
    .button_area{
        display: inline-block;
        a{
            display: inline-block;
            @include border-box();
            width: 277px;
            height: 60px;
            border: 2px solid #ddd;
            font:22px/55px 'NotoSansKR','Nanum Gothic';
            color:#fff;
            background: rgba(0,0,0,0.2);
            text-align: center;
            @include transition (all, 0.4s);
            &:hover{
                background: rgba(0,0,0,0.6);
            }
        }
    }
    .inner{
        width: 890px;
        margin: 0 auto;
    }
    .visual_video{
        background: #000;
        h2{
            height: inherit;
            text-indent: 0;
            background:none;
            font:85px/90px 'QStencil';
            text-transform: uppercase;
            span{
                font:25px/45px 'QStencil';
                vertical-align: top;
            }
        }
        .video_bg{
            width: 100%;
            .ie &{
                video{
                    width:100%;
                    min-width: 1900px;
                    height: 650px;
                }
            }
        }
        .desc_eng{
            font:24px/24px 'DINWebPro-CondMedium';
            text-transform: uppercase;
            letter-spacing: 0;
        }
        .video_bg{
            &.ended{
                @include opacity(0);
                @include prefix-css3(transition ,opacity 1.6s ease-in);
            }
        }
        .masthead{
            @include prefix-css3(transition,opacity 0.6s ease 1.5s);
            p{
                margin-bottom: 5px;
            }
            &.active{
                @include opacity(1);
                .desc_eng{
                    color:#fff;
                }
            }
        }
    }
    .main_cut{
        overflow: hidden;
        position: relative;
        height: 650px;
        .bg{
            position: absolute;
            left:50%;
            top:0;
            margin-left: -990px;
            @include opacity(1);
            @include prefix-css3(transition,opacity 0.6s ease 1s);
            img{
                transform: scale(1);
                @include prefix-css3(transition,all 0.6s ease 1s);
            }
            &.event{
                z-index: 1;
                @include opacity(0);
                img{
                    transform: scale(1.1);
                }
            }
        }

        .inner{
            position: relative;
            h2{
                position: relative;
                padding-top: 340px;
                text-align: center;
                z-index: 1;
            }
            .bt_box{
                padding-top: 20px;
                text-align: center;
                a{
                    width: 208px;
                    height: 38px;
                    color:#fff;
                    border: 1px solid #fff;
                    font:500 18px/18px 'NotoSansKR';
                    background-color: none;
                    display: inline-block;
                    text-align: center;
                    padding-top: 20px;
                    margin : 10px 5px 0 5px;
                    &:hover{
                        background-color: #fff;
                        color:#14043d;
                    }
                }

            }
        }

    }
    .event_section{
        position: relative;
        height: 770px;
        .bg{
            position: absolute;
            left:50%;
            margin-left: -980px;
        }
        .txt{
            padding-top: 86px;
        }
        .tips{
            margin: 30px 0 0 0;
            padding: 20px;
            background: rgba(255,255,255,0.6);
            @include transition (all, 0.6s);
            &:hover{
                background: rgba(255,255,255,0.8);
            }
            ul{
                li{
                    font:500 12px/20px 'NotoSansKR';
                    color:#bfbfbf;
                }
            }
        }
    }
    .products_collection{
        width: 100%;
        height: 928px;
        // height: 1135px;
        position: relative;
        background: #323232;
        // background:url('http://image.reebok.co.kr/images/reebok/event/about/printsmooth/gal_bg.jpg') no-repeat;
        background-size: 100% 100%;

        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left:-990px;
            }
            h4{
                font: 52px/50px 'DINWebPro-CondBold';
                text-align: center;
                color: #fff;
                padding-top: 60px;
                margin-bottom: 40px;
                position: relative;

                span{
                    font:15px/35px 'NotoSansKRRegular';
                }
                a.buy{
                    display: inline-block;
                    height: 50px;
                    position: relative;
                    border:1px solid #fff;
                    color:#fff;
                    margin-top: 20px;
                    background-color: rgba(0, 0, 0, 0.3);
                    span{
                        position: relative;
                        padding:0 65px;
                        font:16px/48px 'NotoSansKRLight','Nanum Gothic';
                        z-index: 2;

                    }
                    &:hover{
                        background: #fff;
                        color: #000;
                        span{
                            font:16px/48px 'NotoSansKR','Nanum Gothic';
                        }
                    }

                    }
            }
        p.title{
            position: relative;
            padding-bottom: 44px;
            width: 100%;
            font:18px/25px 'NotoSansKRlight';
            text-align: center;
            color:#fff;
        }
        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:550px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            background: #000;
            margin-top: 30px;
            .arrow-prev{
                position: absolute;
                top:46%;
                left:50%;
                margin-left: -420px;
                background-position: -125px -80px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            .arrow-next{
                position: absolute;
                top:46%;
                left:50%;
                margin-left:420px;
                background-position: -125px -125px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 550px;
                li{
                    width: 970px;
                    position: relative;
                    float: left;
                    @include opacity(0.4);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);

                }
                li.active{
                    @include opacity(1);
                }
            }
        }
        }

        .slider-btn{
            width: 100%;
            position: relative;
            padding: 30px 0;
            text-align: center;
            a{
                display: inline-block;
                width: 12px;
                height: 10px;
                padding-top: 2px;
                text-align: center;
                margin-right: 5px;
                background: #4d4d4d;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                color: #fff;
                &.on{
                    background: #fff;
                }
            }
        }

}
/* campaign_clubc_90_v2 end */
