@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';
#wrap{
    min-width: 1190px;
    overflow: hidden;
    @media screen and(max-width: 1400px){
        #reddy_campaign{
            .type1{
                .row{
                    .img1_1{
                        width: 500px;
                    }
                    .img1_2{
                        width: 280px;
                    }
                    .prd_name{
                        left: 0;
                        top: 439px;
                    }
                    &.col3{
                        margin: 150px 0 0 0 !important;
                        left:10px;
                        .prd_name{
                            left: -130px;
                            top: 472px;
                        }
                        img{
                            width: 300px !important;

                        }
                    }
                }
            }
            .type2{
                .row{
                    .img1_1{
                        width: 1000px;
                    }
                    .prd_name{
                        left: 0;
                        top: 639px;
                    }
                    &.col3{
                        margin: 204px 0 0 0;
                        left:10px;
                        .prd_name{
                            left: 0;
                            top: 507px;
                        }
                        img{
                            width: 220px !important;

                        }
                    }
                }

            }
        }

    }

}

#reddy_campaign{
    min-width: 1190px;
    overflow: hidden;
    .scrollContent{
        &.active.type1{
            .content{
                .row{
                    img{
                        &.img1_1{
                            @include css3(opacity,1);
                        }
                        &.img1_2{
                            @include css3(opacity,1);
                            transition-delay: 0.3s;
                        }
                        &.img1_3{
                            top: 106px;
                            @include css3(opacity,1);
                            transition-delay: 1s;

                        }
                        &.img1_4{
                            top: 46px;
                            @include css3(opacity,1);
                            transition-delay: 1.2s;

                        }
                        &.img1_5{
                            top: 75px;
                            @include css3(opacity,1);
                            transition-delay: 1.4s;
                        }

                    }
                }
            }
        }
        &.active.type2{
            .content{
                .row{
                    img{
                        &.img1_1{
                            @include css3(opacity,1);
                        }
                        &.img1_2{
                            @include css3(opacity,1);
                            transition-delay: 0.3s;
                        }
                        &.img1_3{
                            top: 106px;
                            @include css3(opacity,1);
                            transition-delay: 1s;

                        }
                        &.img1_4{
                            top: 128px;
                            @include css3(opacity,1);
                            transition-delay: 1.2s;

                        }
                        &.img1_5{
                            top: 90px;
                            @include css3(opacity,1);
                            transition-delay: 1.4s;
                        }
                        &.img1_6{
                            top: 112px;
                            @include css3(opacity,1);
                            transition-delay: 1.6s;
                        }

                    }
                }
            }
        }
    }
    .main{
        position: relative;
        height: 788px;
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left: -960px;
        }
        h2{
            padding: 235px 0 0 0;
            text-align: center;
            font: 85px/85px 'adihaus';
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 5px;
            strong{
                display: block;
                font:85px/85px 'adihaus-bold';
            }
        }
        .btn{
            padding: 25px 0 0 0;
            text-align: center;
            cursor: pointer;
        }
    }
    .button{
        margin: 0;
        &.black{
            a{
                border: 3px solid #000;
                &:hover{
                    background: rgba(0,0,0,0.1);
                }
                span{
                    color:#000;
                    span{
                        width: 14px;
                        height: 14px;
                        background: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_black_14x14.png');
                    }
                }
            }
        }
        a{
            width: 160px;
            height: 58px;
            background: rgba(0,0,0,0);
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border: 3px solid #fff;
            &:hover{
                background: rgba(0,0,0,0.3);

                >span{
                    // left:-10px;
                }
            }
            >span{
                font:500 16px/52px 'NotoSansKR';
            }
        }
    }
    .prd_name{
        @include css3(transition, all 0.5s);
        p{
            padding: 0 0 53px 0;
            text-transform: uppercase;
            font: 17px/16px 'adihaus-bold';
            color: #000;
            text-align: right;
            letter-spacing: 9px;
        }
        &.black{
            .row{
                color:#000;
            }
        }
        .row{
            padding: 0 0 8px 0;
            text-transform: uppercase;
            color:#fff;
            letter-spacing: 1px;
            font: 16px/16px 'adihaus';
            strong{
                padding: 0 3px 0;
                font: 16px/16px 'adihaus-bold';
            }
        }
    }
    .slider_section{
        position: relative;
        height: 1010px;
        &.black_nizza{
            height: 1132px;
            .content{
                .prd_name{
                    bottom: 11px;
                    margin-left: -280px;
                    .row{
                        display: inline-block;
                        margin: 0 25px 0 0;
                        vertical-align: bottom;
                        strong{
                            display: block;
                            padding: 0 0 5px 0;

                        }
                        span{
                            // padding: 0 0 3px 0;
                            display: block;
                            font: 16px/20px 'adihaus';
                        }
                    }
                    .button{
                        display: inline-block;
                        margin-left: 13px;
                        a{
                            background: rgba(0,0,0,0.5);
                            &:hover{
                                background: rgba(0,0,0,0.7);

                            }
                        }

                    }
                }
            }

        }
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left: -960px;
        }
        .content{
            position: relative;
            height: 1010px;
            .slider_wrap{
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -690px;
                .slide{
                    position: absolute;top:50px;left:0;
                    @include css3(opacity,0);
                    @include css3(transition, all 0.5s);
                    &.on{
                        @include css3(opacity,1);
                        z-index: 1;
                        .sub_slide{
                            margin-left: 166px;
                            @include css3(opacity,1);
                            transition-delay: 0.6s;
                        }
                    }
                    .sub_slide{
                        position: absolute;
                        top: 345px;
                        left: 50%;
                        margin-left: 180px;
                        z-index: 1;
                        @include css3(opacity,0);
                        @include css3(transition, all 0.5s);


                    }
                }
            }
            .indicator{
                display: inline-block;
                position: absolute;
                left: 50%;
                top: 934px;
                margin-left: -340px;
                span{
                    display: inline-block;
                    margin: 0 4px;
                    width: 10px;height: 10px;
                    background: rgba(255,255,255,0.3);
                    content: '';
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    &.on{
                        background: rgba(255,255,255,1);

                    }
                }
            }
            .info_wrap{
                position: absolute;
                left:50%;
                top: 150px;
                margin-left: 324px;
                z-index: 2;
                p{
                    font:600 60px 'NotoSansKR';
                    color:#fff;
                    &.eng{
                        padding: 12px 0 0 0;
                        font:30px/25px 'adihaus';
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        strong{
                            display: block;
                            padding: 0 0 10px 0;
                            font:30px/25px 'adihaus-bold';

                        }
                    }
                }
                .button{
                    margin: 36px 0 0 0;
                }
            }
            .prd_name{
                position: absolute;
                left: 50%;
                bottom: 142px;
                margin-left: 75px;
                display: inline-block;
            }
        }
    }
    .prd_cuts{
        position: relative;
        height: 1385px;
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left: -960px;
        }
        &.type1{
            .content{
                .row{
                    position: relative;
                    &.col3{
                        img{
                            margin: 0 4px 0;
                        }
                        .prd_name{
                            left: -225px;
                        }
                    }
                    img{
                        position: relative;
                        left: 49px;
                        &.img1_1{
                            top:84px;
                            left: 41px;
                        }
                        &.img1_2{
                            top: 47px;
                        }
                        &.img1_3,&.img1_4,&.img1_5{
                            top: 150px;
                        }
                    }
                    .prd_name{
                        position: absolute;
                        display: inline-block;
                        left: -136px;
                        top: 568px;
                        .row{
                            text-align: right;
                        }

                    }
                }
            }
        }
        &.type2{
            .content{
                .row{
                    position: relative;
                    &.col3{
                        margin: 91px 0 0 0;
                        left: 149px;
                        left: 158px;
                        width: 1400px;
                        position: absolute;
                        img{
                            margin: 0 4px 0;
                        }
                        .prd_name{
                            left: -241px;
                            top: 637px;
                        }
                    }
                    img{
                        position: relative;
                        left: 0;
                        &.img1_1{
                            top: 92px;
                            left: 37px;
                        }
                        &.img1_3,&.img1_4,&.img1_5,&.img1_6{
                            top: 150px;
                        }
                    }
                    .prd_name{
                        position: absolute;
                        display: inline-block;
                        left: -158px;
                        top: 623px;
                        .row{
                            text-align: right;
                        }

                    }
                }
            }
        }
        .content{
            position: relative;
            .row{
                position: relative;
                text-align: center;
                &.col3{
                    @include css3(transition, all 0.5s);

                }
                img{
                    @include css3(opacity,0);
                    @include css3(transition, all 0.5s);
                }
            }
        }
    }
    .link{
        text-align: center;
        position: relative;
        padding: 0 0 45px 0;
        text-align: right;
        .prd_name{
            display: inline-block;
            padding: 0 13px 0;
            vertical-align: top;
            .row{
                display: inline-block;
                text-align: center;
                font: 30px/58px 'adihaus';
                letter-spacing: 17px;
                strong{
                    font: 30px/30px 'adihaus-bold';
                }
            }
        }
        .button{
            display: inline-block;
        }
        img{
            display: block;
            margin: 75px auto;
            margin-right: 0;
        }
    }
}
