@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';
#container_r{
	overflow: hidden;
	min-width: 1190px;	
}
/* zne_170918 */
#spring_festival{
	width: 100%;
	position: relative;
	overflow: hidden;
	min-width: 1190px;
	.eventScroll{
		opacity: 0;
		transition: all 0.5s;
		&.effect{
			opacity: 1;
		}
	}
	.main{
		position: relative;		
		height: 570px;
		overflow: hidden;
		.bg{			
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -960px;
		}
		.slider_wrap{
			position: absolute;
			bottom: 0;
			left: 50%;		
			z-index: 5;
		}	
	}

	.content{		
		.box{
			position: relative;
			top: 0;
			left: 50%;
			margin-left: -960px;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			&.box1{
				height: 1247px;
			}
			&.box2{
				height: 694px;
			}
			&.box3{
				height: 658px;
			}
			&.box4{
				height: 929px;
			}
			&.box5{
				height: 623px;
			}
		}		
	}
}
