@import "./front/css/reebok/scss/about.scss";
html,body{
    height:100%;
}
#wrap{
    overflow: hidden;
    // min-width: 1460px;
    min-width: 1190px;
}
#contents_wrap{padding: 0;}

.fury_cp{
 
	.scroll{
		&.on{
			opacity:1;
		}
	}
    .btn{
		display: inline-block;
		&.sold{
			>div{
				a{
					border: 1px solid #bbb;
					background: #bbb;
	
				}
				&:before{
					border-bottom: 1px solid #bbb;
					border-left: 1px solid #bbb;
	
				}
				&::after{
					border-right: 1px solid #bbb;
					border-top: 1px solid #bbb;
				}
			}
		}
		>div{
			position: relative;
			&::before{
				border-bottom: 1px solid #000;
				border-left: 1px solid #000;
				bottom: -4px;
				height: 3px;
				left: 3px;
				width: calc(100%);
				content: "";
				display: block;
				position: absolute;
			}
			&::after{
				border-right: 1px solid #000;
				border-top: 1px solid #000;
				height: calc(100%);
				right: -4px;
				top: 3px;
				width: 3px;
				content: "";
				display: block;
				position: absolute;
			}
			a{
				width: auto;
				font: 500 14px/48px 'NotoSansKR';
				letter-spacing: 0;
				position: relative;
				display: block;
				padding: 0 20px;
				text-align: center;
				height: 50px;
				color: #fff;
				// background:transparent;
				background: #000;
				z-index: 2;
				border: 1px solid #000;
				letter-spacing: 0.7px;
				transition: .4s;
				.arrow{
					display: inline-block;
					width: 24px;
					height: 11px;
					margin-left: 10px;
					background: url(/images/reebok/2019/event/interval_og/arrow_w.png) no-repeat;
				}
			}
		}
		&:hover{
			a{
				transform: translate(3px, 3px);
			}
		}
	}
	.main{
		position: relative;
		height:1062px;
		opacity:0;
		transition: all 1s;
		.main_img{
			position: absolute;
			top:0;
			left:50%;
			transform: translateX(-50%);
			img{}
		}
	}
	.aside{
		position: relative;
		opacity:0;
		transition: all 1s;
		.aside_txt{
			padding:70px 0;
			text-align: center;
			h1{
				font: 34px/34px 'dinpro bold';
				color:#000;
				text-align: center;
			}
			p{
				text-align: center;
				font: 500 18px/18px 'NotoSansKR';
				color:#000;
				margin:25px 0 40px;
			}
			>span{
				display: block;
				font: 400 15px/15px 'NotoSansKR';
				color:#000;
				text-align: center;
				margin-top:10px;
			}
			//오픈후 btn 주석처리
			.btn{
				text-align: center;
				&:hover{
					a{
						transform: translate(0px, 0px);
					}
				}
			}
			&.date25{
				.btn{
					margin:25px 0 45px 0;
				}
			}
			.notice{
                text-align: center;
                min-width:990px;
				.notice_inner{
					position: relative;
					border: 1px solid #cccccc;
					padding: 30px 50px 30px 88px;
					display: inline-block;
					overflow: hidden;
					width: 853px;
					h1{
						display: inline-block;
						font: 500 15px/15px 'NotoSansKR';
						color: #000;
						margin: 0 75px 0 0;
						position: relative;
						top: -10px;
					}
					ul{
						list-style: disc!important;
						display: inline-block;
						li{
							color:#000;
							list-style: disc!important;
							span{
								font: 400 13px/25px 'NotoSansKR';
								vertical-align: middle;
							}
						}
					}
				}
			}
		}
	}
	.section{
		position: relative;
		height:889px;
		opacity:0;
		transition: all 1s;
		.section_bg{
			position: absolute;
			top:0;
			left:50%;
			transform: translateX(-50%);
			z-index:0;
		}
		.section_txt{
			position: absolute;
			top: 53%;
			left: 34%;
			transform: translate(-50%, -50%);
			z-index: 1;
			padding: 65px 85px;
			background: #fff;
			.wrap{
				h1{
					display: inline-block;
					font: 400 30px/30px 'NotoSansKR';
					color:#fff;
					margin:25px 0 35px;
					position: relative;
					z-index:1;
					&::after{
						display: block;
						content:'';
						clear:both;
						position: absolute;
						top:-3px;
						bottom:-3px;
						left:-4px;
						right:-4px;
						z-index:-1;
						background:#000;
					}
				}
			}
		
			p{
				font: 500 17px/29px 'NotoSansKR';
				color:#000;
				span{
					display: block;
					height:15px;
				}
			}
		}
	}
	.lookbook{
		position: relative;
		opacity:0;
		transition: all 1s;
		.lookbook_wrap{
			position: relative;
			height: 662px;
			.line{
				position: absolute;
				top:34px;
				left:50%;
				margin-left: 168px;
				z-index:2;
			}
			.lookbook_img{
				position: absolute;
				left: 50%;
				&:nth-child(2){
					top: 34px;
					left: 50%;
					margin-left: -840px;
				}
				&:nth-child(3){
					top: 83px;
					margin-left: 258px;
				}
			}
			&:nth-child(2){
				height: 1040px;
				.lookbook_img{
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: -650px;
					&:nth-child(2){
						top:15px;
						margin-left: 258px;
					}
					&:nth-child(3){
						margin-left: -798px;
    					top: 535px;
					}
				}
			}
			&:nth-child(3){
				height: 643px;
				.lookbook_img{
					position: absolute;
					top: -162px;
					left: 50%;
					margin-left: 258px;
					&:nth-child(2){
						top:-30px;
						margin-left:-641px;
					}
				}
			}
		}
	}
	.btm{
		position: relative;
		// height:433px;
		height:220px;
		// 오픈후 위에 높이값 적용
		text-align: center;
		.store{
			position: relative;
			background:#000;
			width: 1080px;
			margin: 0 auto;
			height: 192px;
			.store_wrap{
				text-align: center;
				display: block;
				height: 100%;
				&::after{
					display: block;
					content:'';
					clear:both;
				}
				.store_wrap_inner{
					display: inline-block;
					position: relative;
					top: -39px;
					left: -80px;
					h1{
						font:700 18px/18px 'NotoSansKR';
						color:#fff;
					}
					&:nth-child(2){
						top: 22px;
						left: 5px;
						ul{
							li{
								font:400 15px/30px 'NotoSansKR';
								color:#fff;
							}
						}
					}
					&:nth-child(3){
						top: -8px;
						left: 90px;
						ul{
							li{
								font:400 15px/30px 'NotoSansKR';
								color:#fff;
							}
						}
					}
				}
			}
		}
		>img{
			// padding: 80px 0 100px 0;
			padding: 0 0 100px 0;
			// 오픈후 위에 패딩 적용
		}
	}

}
