@import "./front/css/adidas/scss/common/mixin.scss";
@import "./front/css/adidas/scss/common/common.scss";

#wrap {
  min-width: 1190px;
  overflow: hidden;
}
#blackfriday {
  position: relative;

  .button_area_v2 {
    &:hover {
      div {
        .bg {
          box-shadow: inset 0 0 0 1px #000;
          -webkit-box-shadow: inset 0 0 0 1px #000;
          @include css3(transition, all 0.5s);
        }
        a {
          color: #fff;
          background: #000;
          @include css3(transition, all 0.5s);

          span {
            background: #fff;
            @include css3(transition, all 0.5s);
            em {
              background: #fff;
              @include css3(transition, all 0.5s);
            }
          }
        }
      }
    }
    a {
      letter-spacing: 1px;
    }
  }

  > div {
    position: relative;
    > .bg {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -960px;
    }
  }

  .main {
    height: 570px;
    &.on {
      .inn {
        > * {
          &::before {
            height: 0;
          }
        }
      }
    }
  }

  .sect_timer {
	height: 405px;
	.inner{
		width: 800px;
		margin: 0 auto;
		padding: 175px 0 0;
	}
  }

  .sect_coupon {
    height: 293px;
  }

  .sect_days {
    height: 1544px;
  }

  .sect_scdeal {
    height: 1107px;
  }

  .sect_bottom {
    height: 258px;
  }
}

.flipper {
	color: #333;
	display: block;
	font-size: 50px;
	line-height: 100% !important;
	padding: 0;
	margin: 0;
	height: 1.7em;
	font: 400 50px/110px "adihausDIN-Cond-medium";
	&.flipper-invisible {
		font-size: 0px !important;
	}

  	&.flipper-dark {
		color: #fff;
		.flipper-delimiter {
			color: #333;
		}
		.digit-next {
			background: #2b437f;
		}
		.digit-top {
			background: #2b437f;
			&.r {
			background: #16264d;
			}
		}
		.digit-top2 {
			background: #16264d;
			&.r {
			background: #2b437f;
			}
		}
		.digit-bottom {
			background: #2b437f;
		}
	}

	&.flipper-dark .flipper-group label {
		font: 40px "adihausDIN-Cond-medium";
		text-transform: uppercase;
		color: #292d53;
	}
}

.flipper-group {
  position: relative;
  white-space: nowrap;
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  z-index: 10;
  label {
    position: absolute;
    color: #fff;
    font-size: 20%;
    top: 100%;
    line-height: 1em;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: center;
    padding-top: 0.5em;
  }
}

.flipper-digit {
  white-space: nowrap;
  position: relative;
  padding: 0;
  margin: 0;
  display: inline-block;
  float: left;
  height: 1em;
  overflow-y: hidden;

  span {
    font-size: 25%;
  }
}

.flipper-delimiter {
  white-space: nowrap;
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  color: #fff;
  min-width: 0.1em;
  white-space: nowrap;
  display: block;
//   padding-top: 0.1em;
  padding-bottom: 0.1em;
  line-height: 1em;
  text-align: center;
  img{
	  display: inline-block;
	  width: 85%;
  }
}

.digit-face {
  display: block;
  visibility: hidden;
  position: relative;
  border-radius: 3px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.17em;
  padding-right: 0.17em;
  box-sizing: border-box;
  text-align: center;
}

.digit-next {
  display: block;
  position: relative;
  border-radius: 3px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  height: 1em;
  line-height: 110px;
  background: #fff;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  box-sizing: border-box;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.digit-top {
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  line-height: 110px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  background: #fff;
  padding-top: 0.1em;
  padding-bottom: 0;
  padding-left: 0.1em;
  padding-right: 0.1em;
  border-top-left-radius: 0.1em;
  border-top-right-radius: 0.1em;
  box-sizing: border-box;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background 0s linear, -webkit-transform 0s linear;
  transition: transform 0s linear, background 0s linear;
  transition: transform 0s linear, background 0s linear,
    -webkit-transform 0s linear;
  -webkit-transform-origin: 0 0.6em 0 !important;
  transform-origin: 0 0.6em 0 !important;
  -webkit-transform-style: preserve-3d !important;
  transform-style: preserve-3d !important;
  z-index: 20;

  &.r {
    transition: background 0.2s linear, -webkit-transform 0.2s linear;
    transition: transform 0.2s linear, background 0.2s linear;
    transition: transform 0.2s linear, background 0.2s linear,
      -webkit-transform 0.2s linear;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    background: #cccccc;
  }
}

.digit-top2 {
  visibility: hidden;
  position: absolute;
  height: 50%;
  left: 0;
  right: 0;
  background: #cccccc;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  line-height: 22px !important;
  top: 50% !important;
  bottom: auto !important;
  padding-top: 0;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  border-bottom-left-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
  overflow: hidden;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background 0s linear, -webkit-transform 0s linear;
  transition: transform 0s linear, background 0s linear;
  transition: transform 0s linear, background 0s linear,
    -webkit-transform 0s linear;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-style: preserve-3d !important;
  transform-style: preserve-3d !important;
  -webkit-transform-origin: 0 0 0 !important;
  transform-origin: 0 0 0 !important;
  z-index: 20;

  &.r {
    visibility: visible;
    transition: background 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
    transition: transform 0.2s linear 0.2s, background 0.2s linear 0.2s;
    transition: transform 0.2s linear 0.2s, background 0.2s linear 0.2s,
      -webkit-transform 0.2s linear 0.2s;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background: #fff;
  }
}

.digit-bottom {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  background: #fff;
  height: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
//   line-height: 0em;
  line-height: 22px;
  padding-top: 0;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  border-bottom-left-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
  box-sizing: border-box;
  text-align: center;
  transition: none;

  &.r {
    transition: background 0.2s linear;
    background: #cccccc;
  }
}

.flipper-digit:after {
  content: "";
  position: absolute;
  height: 2px;
  background: #fff;
  top: 50%;
  display: block;
  z-index: 30;
  left: 0;
  right: 0;
}

.ie .digit-next {line-height: 140px !important;}					
.ie .digit-top {line-height: 140px !important;}
.ie .digit-top2 {line-height: 52px !important;}
.ie .digit-bottom {line-height: 52px !important;}




