@import "./app/css/reebok/scss/about.scss";
.campaign_dmx1200 .visual_video .bg video{
    width: 100%;
}
.campaign_dmx1200 .visual_video .iebg{
    display: none;
}
.ie7 .campaign_wrap.campaign_dmx1200  .visual_video .masthead, .ie8 .campaign_wrap.campaign_dmx1200  .visual_video .masthead, .ie9 .campaign_wrap.campaign_dmx1200  .visual_video .masthead{
    width: 1190px;
    margin: 0 auto;
    left:auto;
    position: relative;
    top:500px;
    text-align: center;
}
.ie7 .campaign_wrap.campaign_dmx1200 .visual_video .iebg, .ie8 .campaign_wrap.campaign_dmx1200 .visual_video .iebg{
    display: block;
}
.ie7 .campaign_wrap.campaign_dmx1200 .visual_video .masthead p, .ie8 .campaign_wrap.campaign_dmx1200 .visual_video .masthead p{
    display: none;
}
#contents_wrap{padding: 0;}
.campaign_dmx1200{





    .inner{
        p{
            font: 500 16px/18px 'NotoSansKR';
            color:#fff;
            &.p2{
                margin-bottom: 15px;
            }
        }
    }


    // module 모음
    .btn{
        display: inline-block;
        &:hover{
            background: rgba(255,255,255,0.9);
            transition: all .5s ease-in;
            a{
                color:#000;
                border: 3.5px solid #000;
                transition: all .5s ease-out;
            }
        }
        a{
            display: block;
            font: 700 18px/48px 'NotoSansKR';
            color: #fff;
            width: 187px;
            border: 3.5px solid #fff;
            text-align: center;
        }
    }
    .btn_clt{
        display: inline-block;
        &:hover{
            background: rgba(255,255,255,0.6);
            transition: all .5s ease-in;
            a{
                color:#000;
                border: 3.5px solid #000;
                transition: all .5s ease-out;
            }
        }
        a{
            display: block;
            font: 700 18px/48px 'NotoSansKR';
            color: #5f1129;
            width: 187px;
            border: 3.5px solid #5f1129;
            text-align: center;
        }
    }
    .bg{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -990px !important;
        // width: 1920px;
        z-index: 0;
    }
    .box{
        .txt{
            position: absolute;
            p{
                font: 700 46px/46px 'DINWebPro-CondBold';
                color: #5d1230;
                letter-spacing: 4px;
            }
            span{
                display: block;
                color: #927780;
                margin: 15px 0 30px 0;
                font: 700 18px/18px 'DINWebPro-CondBold';
                letter-spacing: 1px;
            }
        }
    }



    //컨텐츠 시작
    .visual_video{
        position: relative;
        height: 650px;
        .bg{
            position: absolute;
            top:0;
            left: -960px;
            left: 50%;
        }
        .video_bg{
            z-index: 0;
        }
        .txt{
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            img{
                display: block;
                margin: 0 auto;
                &:first-child{
                    margin-bottom: 50px;
                }
                &:nth-child(2){
                    margin-bottom: 30px;
                }
            }
            p{
                text-align: center;
                font: 700 20px/25px 'NotoSansKR';
                color: #fff;
                // margin-bottom: 128px;
            }
            .masthead{
                position: static;
                top:initial;
                left: initial;
                transform: none;
                margin: 30px 0;
                // -webkit-transform: translate3d(-50%, 0%, 0);
                a{
                }
            }
        }
    }

    .slide_collection{
        position: relative;
        background: url('/images/reebok/event/about/dmx/181212/bg.jpg') 100% 100% no-repeat;
        background-size: cover;
        background-position: top;
        .outer{
            padding:45px 0;
            .box{
                position: relative;
                width:1077px;
                height: 680px;
                margin: 45px auto;
                .wrap{
                    position: absolute;
                    .vid{
                        position: relative;
                        .inner{
                            position: absolute;
                            top:24px;
                            left: 26px;
                            z-index: 1;
                            .highlight{
                                display: inline-block;
                                background: #f8664f;
                                width:26px;
                                height: 3px;
                                margin-bottom:5px;
                            }
                            .margin{
                                margin-bottom: 10px;
                            }
                            a{
                                &.play-video{
                                    width:55px;
                                    height: 55px;
                                    border: 5px solid #fff;
                                }
                            }
                        }
                    }
                    .indicator{
                        margin-top:25px;
                        a{
                            margin:0 13px;
                            color:#b97f71;
                            padding-bottom: 2px;
                            font: 700 15px/15px 'NotoSansKR';
                            &.on{
                                border-bottom: 2px solid #fb8971;
                                color:#5b1031;
                            }
                            &:first-child{
                                margin-left: 0;
                            }
                            &:last-child{
                                margin-right: 0;
                            }
                        }
                    }
                }
                &.box1{
                    margin-top:0;
                    .back{
                        position: absolute;
                        bottom:0;
                        right: 0;
                        background: rgba(255,255,255,0.3);
                        width:820px;
                        height: 460px;
                    }
                    .wrap{
                        top:0;
                        left: 0;
                        .inner{
                        }
                    }
                    #sliders1{

                    }
                    .sub_img{
                        position: absolute;
                        top:119px;
                        right:-100px;
                    }
                    .txt{
                        bottom:120px;
                        right:205px;
                    }
                }

                &.box2{
                    .back{
                        position: absolute;
                        bottom:0;
                        left: 0;
                        background: rgba(255,255,255,0.3);
                        width:820px;
                        height: 460px;
                    }
                    .wrap{
                        top:0;
                        right: 0;
                        .indicator{
                            text-align: right;
                        }


                    }
                    #sliders2{

                    }
                    .sub_img{
                        position: absolute;
                        top:119px;
                        left: -100px;
                    }
                    .txt{
                        bottom:120px;
                        right:540px;
                        text-align: right;
                        span{
                            text-align: right;
                        }
                    }
                }

                &.box3{
                    height: 700px;
                    .back{
                        position: absolute;
                        top:0;
                        right: 0;
                        background: rgba(255,255,255,0.3);
                        width:820px;
                        height: 580px;
                    }
                    .wrap{
                        top:40px;
                        left: 0;
                        .inner{
                        }
                    }
                    #sliders3{

                    }
                    .sub_img{
                        position: absolute;
                        top:57px;
                        right:-64px;
                    }
                    .txt{
                        bottom:100px;
                        right:205px;
                    }
                }

                &.box4{
                    .back{
                        position: absolute;
                        top:0;
                        left: 0;
                        background: rgba(255,255,255,0.3);
                        width:820px;
                        height: 580px;
                    }
                    .wrap{
                        top:40px;
                        right: 0;
                        .indicator{
                            text-align: right;
                        }
                    }
                    #sliders4{

                    }
                    .sub_img{
                        position: absolute;
                        top:60px;
                        left: -80px;
                    }
                    .txt{
                        bottom:80px;
                        right:540px;
                        text-align: right;
                        span{
                            text-align: right;
                        }
                    }
                }

                &.box5{
                    height: 700px;
                    .back{
                        position: absolute;
                        bottom:0;
                        right: 0;
                        background: rgba(255,255,255,0.3);
                        width:825px;
                        height: 460px;
                    }
                    .wrap{
                        top:40px;
                        left: 0;
                        .inner{
                        }
                    }
                    #sliders5{

                    }
                    .sub_img{
                        position: absolute;
                        top:118px;
                        right:-98px;
                    }
                    .txt{
                        bottom:120px;
                        right:205px;

                    }
                }


            }
        }

    }



    .slide_lineup{
        position: relative;
        width: 100%;
        background: #ec9c8f;
        padding: 60px 0 50px 0;
        h1{
            color:#000;
            text-align: center;
            padding: 0 0 35px 0;
            font: 43px/50px 'dinpro bold';
        }
        .wrap{
            position: relative;
            text-align: center;
            .btm_logo{
                padding:50px 0;
                text-align: center;
            }
            .btn{
                display: inline-block;
                background: #000;
                border: 1px solid #ccc;
                text-align: center;
                margin: 30px 0 70px 0;
                a{
                    display: block;
                    padding: 17px 87px;
                    color:#fff;
                    font:18px 'NotoSansKR';
                    font-weight:500;
                }
                &:hover{
                    background:#fff;
                    @include prefix-css3(transition , all .5s ease-in 0.1s);
                    a{
                        color:#000;
                    }
                }
            }
        }

        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:740px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            .arrow-prev{
                position: absolute;
                bottom:0;
                left:50%;
                margin-left: -437px;
                background-position: -125px -80px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            .arrow-next{
                position: absolute;
                bottom:0;
                left:50%;
                margin-left:365px;
                background-position: -125px -125px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            .indicator{
                // padding: 0 0 30px 0;
                position: absolute;
                bottom:20px;
                left: 50%;
                margin-left: -34px;
                a{
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    border: 3px solid #fff;
                    margin: 0 3px;
                    &.on{
                        background: #fff;
                    }
                }
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 720px;
                li{
                    width: 970px;
                    position: relative;
                    float: left;
                    text-align: center;
                    // margin: 0 45px;
                    @include opacity(.5);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                    img{
                        display: inline-block;
                        width:92%;
                    }
                }
                li.active{
                    @include opacity(1);
                    @include prefix-css3(transition ,ease-in 0.3s);
                }
            }
        }
    }

    .btm_video{
        position: relative;
        background: #ec9c8f;
        padding: 60px 0 50px 0;
        height: 410px;
        .wrap{
            position: relative;
            width:1070px;
            height: 335px;
            margin:0 auto;
            .bg{
                position: relative;
                top:0;
                left: 50%;
                margin-left: -532px!important;
                width: 50%;
                .masthead{
                    -webkit-transform: translate3d(-90%, -65%, 0);
                }
                .h1{
                    position: absolute;
                    top:-35px;
                    left:-93px;
                    h1{
                        font: 63.16px/64px'DINWebPro-CondBold';
                        color:#fff;
                    }
                }
            }
            .img{
                position: absolute;
                top:50%;
                left: 50%;
                text-align: center;
                margin-top: -65px;
                img{
                    margin-bottom:30px;
                }
            }
        }
    }



}

/* dmx Camapign end */
.campaign-btn {
    width: 200px;
}
