@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

#wrap{
	overflow: hidden;
	min-width: 1240px;
}
.campaign-content .image-grids .image-grid .col > div{
	transition: all 0.5s;
}
#ultrasboost_cp{
	position: relative;
	//common
	.button_area_v2{
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			width:140px;
			font: 700 14px/48px 'NotoSansKR';
			letter-spacing: 0;
		}
	}

	.main{
		position: relative;
		height:298px;
		overflow: hidden;
		background: #ff0d1d;
		&.on{
			.imgbg{
				div{
					
					&.color1{
						top:0;
					}
					&.color2{
						top:48px;
					}
					&.color3{
						top:98px;
					}
					&.color4{
						top:148px;
					}
					&.color5{
						top:198px;
					}
					&.color6{
						top:248px;
					}
				}
			}
		}
		.imgbg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
			
			div{
				position: absolute;
				top:400px;
				transition: all 0.5s;
				&.color1{
					
				}
				&.color2{
					transition-delay: 0.2s;
				}
				&.color3{
					transition-delay: 0.3s;
				}
				&.color4{
					transition-delay: 0.4s;
				}
				&.color5{
					transition-delay: 0.5s;
				}
				&.color6{
					transition-delay: 0.6s;
				}
			}
		}
		.img{
			position: absolute;
			top:0;
			left:403px;
			opacity: 0;
		}
		.inn{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			z-index: 1;
			text-align: center;
			h2{
				text-align: center;
				padding:0 0 18px 0;

			}
			p{
				text-align: center;

				font:600 18px/26px 'NotoSansKR';
				color:#fff;
			}
			.button_area_v2{
				margin:20px 0 0 0;
				a{
					padding: 0 2px;
				}
			}
		}
	}

	.section{
		position: relative;
		height: 630px;
		
		.imgbg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.inn{
			position: relative;
			z-index: 1;
			width:1190px;
			margin:0 auto;
			height: 630px;
			.logo{
				position: absolute;
				bottom:60px;
				right:88px;
				z-index: 3;
			}
			.slider{
				div{
					position:absolute;
					top:0;
					left:0;
					@include css3(opacity,0);
					transition: all 0.5s;
					&.on{
						@include css3(opacity,1);
					}
				}
			}
			
		}
	}

	.video_wrap{
		position: relative;
		.video{
			img{
				width:100%;
			}
		}
		.video_btn{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 50px;
			height: 50px;
		}
	}

	.collection_wrap{
		position: relative;
		padding:80px 80px ;
		background:#e5e8d6;
		transition: all 0.8s;
		z-index: 2;
		&.on{
			.image-grids{
				.igrid1{
					@include css3(opacity,1);
				}
				.igrid2{
					div{
						@include css3(opacity,1);
					}
				}
				.img1-3{
					// @include css3(opacity,1);

				}
			}
		}
		&.action{
			background:#fff;
			.image-grids{
				.igrid1{
					top:0px;
					left:0;
					transform: rotate(0deg);
				}
				.igrid2{
					div{
						top:0px;
						transform: rotate(0deg);
						&.img1-3{
							left:0;
						}
						&.img2-3{
							right: 25%;
						}
					}
				}
				

			}
		}
		&.action2{
			.image-grids{
				.img1-3{
					@include css3(opacity,1);
					&.igrid4{
						top: -1px;
						left: 0px;
						transform: rotate(0deg);
						
					}
					&.igrid5{
						top: -1px;
						left: 0px;
					}
					&.igrid6{
						top: -1px;
						left: 0px;
					}
				}
			}
		}
		&.action3{
			.row{
				div{
					@include css3(opacity,1);
				}
			}
		}
		
		.image-grids{
			.igrid1{
				top: 100px;
				left: 20px;
				transform: rotate(-25deg) scale(1.2);
				@include css3(opacity,0);
				transition: all 0.5s;
			}
			.igrid2{
				div{
					@include css3(opacity,0);
				}
				.img1-3{
					top: 186px;
					left: 13px;
					transform: rotate(15deg) scale(0.98);
					transition-delay: 0.1s;
				}
				.img2-3{
					top: 150px;
					right: 300px;
					transform: rotate(-25deg) scale(1.12);
					transition-delay: 0.2s;
				}
			}
			.img1-3{
				@include css3(opacity,0);
				
				&.igrid4{
					top: 50px;
					left: 0px;
					// transform: rotate(-25deg);
					// transition-delay: 0.6s;

				}
				&.igrid5{
					top: 50px;
					left: 0px;
					transition-delay: 0.2s;
					// transform: rotate(-25deg);
				}
				&.igrid6{
					top: 50px;
					left: 0px;
					transition-delay: 0.3s;
				}
			}

		}
		.row{
			position: relative;
			top: -1px;
			div{
				@include css3(opacity,0);
				transition: all 0.5s;

			}
			&.col2{
				overflow: hidden;
				.img{
					float: left;
					width:50%;
				}
			}
			&.col3{
				overflow: hidden;
				.img{
					float: left;
					width:50%;
					&.wd25{
						width:25%;
					}
				}
			}
			.img{
				img{
					width:100%;
				}
			}
		}
	}
	

	.bottom_wrap{
		position: relative;
		height:327px;
		&.on{
			.inn{
				h3{
					top:0;
					opacity: 1;
				}
				p{
					opacity: 1;
				}
				.button_area_v2{
					opacity: 1;
				}
			}
		}
		.imgbg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.inn{
			position: relative;
			z-index: 1;
			padding:60px 0 0 0;
			margin:0 auto;
			width:1190px;
			text-align: center;
			h3{
				text-align: center;
				opacity: 0;
				transition: all 0.5s;
				transition-delay: 0.1s;

			}
			p{
				text-align: center;
				color:#fff;
				font:11px/11px 'adinenuPro-light';
				letter-spacing: 5px;
				text-transform: uppercase;
				opacity: 0;
				transition: all 0.5s;
				transition-delay: 0.3s;
				&.title{
					padding: 16px 0 1px 0;
					font: 14px/14px 'adinenuPro-bold';
					letter-spacing: 3px;
					transition-delay: 0.2s;

				}
			}
			.button_area_v2{
				margin: 25px 0 0 0;
				opacity: 0;
				transition: all 0.5s;
				transition-delay: 0.4s;

				a{
					width:auto;
					padding: 0 20px;
				}
			}
		}
	}

}
