@import url('/css/reebok/efu2018/classic.css');

#wrapper {min-width:1190px;}
/* brand Index */
#brandIndex {position:fixed; left:0; top:0; width:100%; height:100%; background:#2c2c2c no-repeat 50% 50%; transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1);}
#brandIndex.fitness {background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/bg_fitness.jpg) no-repeat 50% 50%; background-size:cover;}
#brandIndex.classic {background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/bg_classic.jpg) no-repeat 50% 50%; background-size:cover;}
#brandIndex.campaign {background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/bg_campagin.jpg) no-repeat 50% 50%; background-size:cover;}
#brandIndex.reeclub {background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/bg_reeclub.jpg) no-repeat 50% 50%; background-size:cover;}
#brandIndex.promotion {background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/bg_promotion.jpg) no-repeat 50% 50%; background-size:cover;}
#brandIndex.blog {background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/bg_blog.jpg) no-repeat 50% 50%; background-size:cover;}
#brandIndex .titArea {position:absolute; top:20%; left:0; width:100%; padding-left:40px; text-align:center; box-sizing:border-box;} 
#brandIndex h2 {position:relative; display:inline-block; padding:0;}   
#brandIndex h2:before {content:""; position:absolute; left:-20px; top:50%; width:100%; height:1px; background:rgba(0,0,0,.3); font-size:0; line-height:0;}    
#brandIndex h2 span {position:relative; display:inline-block; color:#b71c26; font-size:24px; line-height:46px; font-family:'dinpro bold'; letter-spacing:40px;}
#brandIndex .paging {position:absolute; left:50%; bottom:10%; width:130px; height:20px;  margin-left:-65px; text-align:left;}  
#brandIndex .paging:before {content:""; display:block; position:absolute; left:0; top:50%; width:80%; height:1px; background:#b71c26; font-size:0; line-height:0;}
#brandIndex .paging span {position:absolute; display:inline-block;  top:0; font-size:15px; line-height:20px; font-family:'dinpro bold'; transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1);} 
#brandIndex .paging .now {position:relative; left:5px; color:#fff; }
#brandIndex .paging .total {right:0; color:#b71c26;}
#brandIndex #emblem {position:absolute; left:50%; top:50%; width:390px; height:340px; margin:-130px 0 0 -195px; background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/emblem.png) no-repeat 0 0; }
#brandIndex #emblem.targetOpen {oapcity:0; transform:scale(10,10); transition:transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);} 
#bi_list {position:absolute; left:0; top:50%; width:100%; height:400px; margin-top:-160px; }  
#bi_list:before {content:""; position:absolute; left:0; top:50%; display:block; height:1px; width:100%; font-size:0; line-height:0; background:rgba(255,255,255,.1); }
	#bi_listBody {position:absolute; left:0; top:96px; width:4800px; }
	#bi_listBody.ready {transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1);} 
	#bi_listBody .section {float:left; padding:0 90px; box-sizing:border-box;  text-align:center;}
	#bi_listBody .section a {position:relative; display:inline-block; font-size:98px; line-height:200px; color:rgba(255,255,255,.20); font-family:'dinpro bold'; white-space:nowrap; transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1);}
	#bi_listBody .section a span {font-size:22px; position:absolute; top:30px; left:6px; line-height:26px; letter-spacing:3px;}
	#bi_listBody .section.on a {color:#fff;}  
	#bi_listBody .section.on a span {}  
#preLoadArea {position:absolute; left:-20px;; top:-20px; width:0; height:0; overflow:hidden;}
#brandIndex #movieArea {visibility:hidden; opacity:0; position:relative;  transition:opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1);}
#brandIndex #movieArea.show {visibility:visible; z-index:100; opacity:1;}
#brandIndex #movieArea video {display:none;}
#brandIndex #movieArea:after {content:""; display:block; position:absolute; left:0; top:0; width:100%; height:100%; background: url(//image.reebok.co.kr/images/reebok/efu2018/main/dot2.gif) repeat; opacity: .5;}

/* campaignListWrap */
.campaignListWrap {width:100%; height:889px; position:relative; padding-right:300px; box-sizing:border-box; overflow:hidden;} 
.campaignListWrap h3.tit {width:100%; position:absolute; top:117px; left:0; padding-right:300px; box-sizing:border-box;  text-align:center; font-size:28px; color:#fff; letter-spacing:10px; font-family:'DINWebPro-CondBold'; z-index:9;}
.campaignListWrap h3.tit span {width:100%; position:absolute; top:30px; left:0; padding-right:300px; box-sizing:border-box; text-align:center; font-size:14px; color:#fff; letter-spacing:1px; font-weight:100; font-family:'NotoSansKR';}
.campaignListWrap .visualArea {width:100%;}
.campaignListWrap .visualArea img {width:2000px; position:absolute; left:50%; top:0; margin-left:-1000px;}
.visualArea .visual {width:100%; height:889px; position:absolute; z-index:1; overflow:hidden;}
.campaignListWrap .visualBox .bx-wrapper {width:100%; height:889px;}
.campaignListWrap .visualBox .bx-wrapper .bx-pager {position:absolute; left:88px; bottom:30px; text-align:left; z-index:99;}
.campaignListWrap .visualBox .bx-wrapper .bx-pager .bx-pager-item {display:inline-block; margin:0 6px;}
.campaignListWrap .visualBox .bx-wrapper .bx-pager .bx-pager-item a {display:block; width:10px; height:10px; border-radius:50%; border:none; font-size:0; background:#dfdfdf;}
.campaignListWrap .visualBox .bx-wrapper .bx-pager .bx-pager-item a.active {width:10px; height:10px; border-radius:18px; background:#fff; background:#b03c25;}
.campaignListWrap .visualBox .bx-wrapper .bx-controls-direction a {display:none;}

.visualArea .visual .bg {width:100%; height:158px; position:absolute; bottom:0; left:0; background:#000; opacity:0.3;}
.visualArea .visual .bg_tit {position:absolute; bottom:78px; left:0; font-size:20px; color:#fff; font-weight:300; font-family: 'NotoSansKR'; margin-left:94px; padding-bottom:20px;}
.visualArea .visual .bg_cont {position:absolute; bottom:63px; left:0; font-size:13px; color:#c1c1c1; letter-spacing: 0.3px; font-weight:200; font-family: 'NotoSansKR'; margin-left:94px;}

.campaignListWrap .listArea {position:absolute; right:-500px; top:0; width:800px; height:100%; background:#fff; overflow:inherit; transition: 0.2s ease-in; z-index:100;}
.campaignListWrap .listArea .btn {display:inline-block; position:absolute; right:0px; top:0; width:120px; height:40px; background:url("/images/reebok/efu2018/brand/campaign_btnarrow.png") no-repeat 84px 15px #a52f30; padding-left:30px; box-sizing:border-box; font-size:15px; letter-spacing:3px; line-height:43px; color:#fff; font-family:'DINWebPro-CondLight'; z-index:99;} 
.campaignListWrap .listArea:after {content:""; display:block; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(255,255,255,.5);}
.campaignListWrap .listArea ul {width:100%; height:100%; padding:42px 0; overflow:hidden;} 
.campaignListWrap .listArea ul:after {content:""; display:block; clear:both;}
.campaignListWrap .listArea ul li {width:357px; height:665px; float:left; padding-left:26px;}
.campaignListWrap .listArea ul li:nth-child(2n+0) {position:relative; top:94px; left:0; padding-right:0px;}
.campaignListWrap .listArea ul li a {display:block; width:357px; height:665px; z-index:99; background:#red;}
.campaignListWrap .listArea ul li img {width:357px; height:450px;}
.campaignListWrap .listArea ul li strong {display:block; padding-top:26px; padding-bottom:8px; font-size:34px; color:#000; letter-spacing:3px; line-height:37px; font-family:'DINWebPro-CondBold', 'NotoSansKR';}
.campaignListWrap .listArea ul li p {display:inline-block; font-size:16px; color:#777; letter-spacing:0.5px; line-height:25px; font-weight:400; font-family:'NotoSansKR';}

.campaignListWrap.open .visualBox {z-index:999;}
.campaignListWrap.open .visualBox:after {content:""; display:block; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.5); z-index:100;}
.campaignListWrap.open .listArea {right:0;}
.campaignListWrap.open .listArea:after {display:none;} 

/* blog  */
.blogWrap {position:relative; padding-left:264px; background:#191919; }
.blogWrap .blogList {position:absolute; left:0; top:0; background:#191919; z-index:1; }
.blogWrap .blogList .listArea {width:261px; padding:40px 0 40px 35px; height:880px; background:#191919; overflow-y:auto; box-sizing:border-box;}
.blogWrap .blogList .listArea li {padding-bottom:41px; width:194px;}
.blogWrap .blogList .listArea li:last-child {padding-top:0;}
.blogWrap .blogList .listArea li a {display:block;}
.blogWrap .blogList .listArea li a img {width:100%;}
.blogWrap .blogList .listArea li a p {padding-top:10px; height:35px; font-size:13px; color:#fff; line-height:18px; overflow:hidden;} 
          
.blogWrap .blogView {position:relative;  width:100%;height:880px; background-size:cover !important; box-sizing:border-box;}
.blogWrap .blogView:before {content:""; display:block; clear:both; width:100%; height:100%; background:rgba(0,0,0,0.6);}
.blogWrap .blogView .viewArea {position:absolute; top:50%; left:0; width:100%; text-align:center; visibility:hidden;} 

.blogWrap .blogView .viewArea>a {display:inline-block; text-align:inherit;}
.blogWrap .blogView .viewArea div.viewImg {position:relative; display:inline-block;}
.blogWrap .blogView .viewArea div.viewImg:after {content:""; display:block; clear:both; position:absolute; left:50%; top:50%; margin:-36px 0 0 -326px; width:652px; height:72px; background:url("/images/reebok/efu2018/brand/blogSectionTit01.png") no-repeat 0 0;}
.blogWrap .blogView .viewArea>img{width:100%; display:inline-block;}
.blogWrap .blogView .viewArea .viewTxt{display:block; margin-top:40px; }
.blogWrap .blogView .viewArea .viewTxt h2{font-size:20px; color:#fff; font-family: 'NotoSansKR'; font-weight: 400; text-align:center;}
.blogWrap .blogView .viewArea .viewTxt>p{padding-top:15px;font-size:13px; color:#c1c1c1; font-family: 'NotoSansKR'; font-weight: 300; line-height:18px; text-align:center;}

@-webkit-keyframes show{
from {-webkit-transform:translateY(20px); opacity:0;}
to {-webkit-transform:translateY(0px); opacity:1;}
}
@-webkit-keyframes show2{
from {-webkit-transform:translateX(-100%); opacity:0;}
30% {opacity:0;}
to {-webkit-transform:translateX(0px); opacity:1;}
}

/* fitness  */
.fitnessWrap {position:relative; padding-top:45px; background:#191919; overflow:hidden;}
.fitnessWrap .titTypeA {top:45px; height:50px;}
.fitnessWrap .fitnessTab {margin-top:100px; border-top:1px solid #2b2b2b;}
.fitnessWrap .fitnessTab ul {margin:0 auto; width:890px;}
.fitnessWrap .fitnessTab ul:after {content:""; display:block; clear:both;}
.fitnessWrap .fitnessTab li {position:relative; padding-top:12px;float:left; width:178px; height:98px;   }
.fitnessWrap .fitnessTab li:before {content:""; display:block; position:absolute; left:50%; top:0; width:0; height:1px; background:#b71c26; transition:all .2s cubic-bezier(0.77, 0, 0.175, 1);}
.fitnessWrap .fitnessTab li:after {content:""; display:block; clear:both; position:absolute; left:50%; top:12px; margin-left:-31px; width:62px; height:98px; background:url("/images/reebok/efu2018/brand/fitness/fitnessTab_off.png") no-repeat 0 0;z-index:1;  transition:all .5s cubic-bezier(0.77, 0, 0.175, 1); }
.fitnessWrap .fitnessTab li.tab01:after {background-position-x:0;}
.fitnessWrap .fitnessTab li.tab02:after {background-position-x:-62px;}
.fitnessWrap .fitnessTab li.tab03:after {background-position-x:-124px;}
.fitnessWrap .fitnessTab li.tab04:after {background-position-x:-186px;}
.fitnessWrap .fitnessTab li.tab05:after {background-position-x:-248px;}
.fitnessWrap .fitnessTab li a {position:absolute; left:50%; top:40px; display:block; margin-left:-89px; width:178px; font-size:18px; color:#777; font-family: 'ReefontCondensed'; letter-spacing:4px; text-align:center;z-index:2; transition:all .5s cubic-bezier(0.77, 0, 0.175, 1); }
.fitnessWrap .fitnessTab li.on:before {left:0; width:100%;}
.fitnessWrap .fitnessTab li.on a {color:#de000e; }
.fitnessWrap .fitnessTab li.on:after {left:15px; background:url("/images/reebok/efu2018/brand/fitness/fitnessTab_on.png") no-repeat 0 0;}
.fitnessWrap .fitnessTab li.tab01.on:after {background-position-x:0;}
.fitnessWrap .fitnessTab li.tab02.on:after {background-position-x:-62px;}
.fitnessWrap .fitnessTab li.tab03.on:after {background-position-x:-124px;}
.fitnessWrap .fitnessTab li.tab04.on:after {background-position-x:-186px;}
.fitnessWrap .fitnessTab li.tab05.on:after {background-position-x:-248px;}

.trainingHead {width:100%; height:580px; background:url("/images/reebok/efu2018/brand/fitness/training/training.jpg") no-repeat center center;}
.runningHead {width:100%; height:580px; background:url("/images/reebok/efu2018/brand/fitness/running/running.jpg") no-repeat center center;}
.crossfitHead {width:100%; height:580px; background:url("/images/reebok/efu2018/brand/fitness/crossfit/crossfit.jpg") no-repeat center center;}
.studioHead {width:100%; height:580px; background:url("/images/reebok/efu2018/brand/fitness/studio/studio.jpg") no-repeat center center;}
.combatHead {width:100%; height:580px; background:url("/images/reebok/efu2018/brand/fitness/combat/combat.jpg") no-repeat center center;}

.fitnessHead .txtArea {padding-top:200px; margin:0 auto; width:1190px; text-align:center;}
.fitnessHead .txtArea>p {font-size:22px; color:#fff; font-family: 'NotoSansKR'; font-weight: 500; text-align:center; -webkit-animation:show 1.5s 1 ease; }
.fitnessHead .txtArea .tit {padding-top:25px; letter-spacing:20px;  -webkit-animation:show2 2s 1 ease; }
.fitnessHead .txtArea .tit span {display:block; font-size:16px; color:#d1d1d1; font-family: 'NotoSansKR'; font-weight: 100;  text-align:center; line-height:100px; letter-spacing:4px;}
.fitnessHead .txtArea02 {padding-top:150px; margin:0 auto; width:1190px; text-align:center;}
.fitnessHead .txtArea02>p {font-size:22px; color:#fff; font-family: 'NotoSansKR'; font-weight: 500;  text-align:center;}
.fitnessHead .txtArea02 .tit {padding-top:25px; letter-spacing:20px;}
.fitnessHead .txtArea02 .tit span {display:block; font-size:16px; color:#d1d1d1; font-family: 'NotoSansKR'; font-weight: 100;  text-align:center; line-height:100px; letter-spacing:4px;}

.fitnessCont {position:relative;padding-bottom:135px;}
.fitnessCont .fitnessBg {position:absolute; left:50%; top:0; margin-left:-1000px;}
.fitnessCont:before {content:""; display:block; clear:both; position:absolute; left:60%; top:0; margin-left:-285px; width:570px; height:332px; background:url("/images/reebok/efu2018/brand/fitness/fitnessBg05.png") no-repeat 0 0;}
.fitnessCont:after {content:""; display:block; clear:both; position:absolute; left:0; top:690px; width:434px; height:250px; background:url("/images/reebok/efu2018/brand/fitness/fitnessBg06.png") no-repeat 0 0;}
.fitnessCont .sectionArea01:before {content:""; display:block; clear:both; position:absolute; left:0; top:0; width:585px; height:335px; background:url("/images/reebok/efu2018/brand/fitness/fitnessBg01.png") no-repeat 0 0; background-size:65% auto}
/* .fitnessCont .sectionArea01:after {content:""; display:block; clear:both; position:absolute; left:0; top:230px; width:100%; height:1440px; background:url("/images/reebok/efu2018/brand/fitness/fitnessBg02.png") no-repeat center center; } */
.fitnessCont .sectionArea02 .section:before {content:""; display:block; clear:both; position:absolute; left:786px; top:180px; width:100%; height:773px; background:url("/images/reebok/efu2018/brand/fitness/fitnessBg04.png") no-repeat 0 0;z-index:2;}
.fitnessCont .section h3 {font-size:160px; color:#fff; font-family: 'ReefontCondensed'; font-weight:100; letter-spacing:17px; line-height:160px; letter-spacing:26px;}
.fitnessCont .section h3 span {display:block; margin-left:142px; line-height:160px;}
.fitnessCont .section .txtCont>p,
.fitnessCont .section .txtCont>p span {text-align:left;}
.fitnessCont .section .txtCont .txt1 {font-size:38px; color:#fff; font-family: 'NotoSansKR'; font-weight: 400; line-height:50px; letter-spacing:5px;}
.fitnessCont .section .txtCont .txt2 {padding-top:20px; font-size:20px; color:#b7b7b7; font-family: 'NotoSansKR'; font-weight: 500; line-height:30px; letter-spacing:5px;}
.fitnessCont .section .txtCont .txt2 span.color {display:block; padding-bottom:30px; color:#ab2328;line-height:30px;}
.fitnessCont .section .txtCont .txt2 span.sTxt {display:block; font-size:16px; color:#5c5c5c; font-family: 'NotoSansKR'; font-weight: 300; line-height:24px; letter-spacing:1px;}

.fitnessCont .sectionArea01 {position:relative;}
.fitnessCont .sectionArea01 .section {position:relative; margin:0 auto; width:1190px;}
.fitnessCont .sectionArea01 .section01 {position:relative; margin:0 auto; padding-bottom:270px; width:1190px;}
.fitnessCont .sectionArea01 .section02 {position:relative; margin:0 auto; padding-bottom:200px; width:1190px;}
.fitnessCont .sectionArea02 {position:relative; }
.fitnessCont .sectionArea02 .section {position:relative; margin:0 auto; width:1190px; z-index:1;}
.fitnessCont .sectionArea02 .section>div:before {content:""; display:block; clear:both; position:absolute; left:200px; top:-70px; width:286px; height:274px; background:url("/images/reebok/efu2018/brand/fitness/fitnessBg07.png") no-repeat 0 0;z-index:0;}
.fitnessCont .sectionArea03 {position:relative; padding-top:228px;}
.fitnessCont .sectionArea03:before {content:""; display:block; clear:both; position:absolute; left:0; top:15px; width:536px; height:438px; background:url("/images/reebok/efu2018/brand/fitness/fitnessBg08.png") no-repeat 0 0;}
.fitnessCont .sectionArea03 .section {margin:0 auto; width:1190px;}

.fitnessCont .productViewTypeA {position:relative;}
.fitnessCont .productViewTypeA .productViewTxt {position:absolute; left:67px; top:76px;}
.fitnessCont .productViewTypeA .productViewTxt h4 {font-size:68px; color:#fff; font-family: 'ReefontCondensed'; font-weight:100; line-height:56px; letter-spacing:5px;}
.fitnessCont .productViewTypeA .productViewTxt p.txt01 {font-size:36px; color:#fff; font-family: 'ReefontCondensed'; font-weight:100; line-height:36px; letter-spacing:4px}
.fitnessCont .productViewTypeA .productViewTxt p.txt02 {margin-top:25px; font-size:20px; color:#fff;font-family: 'NotoSansKR'; font-weight: 300;}
.fitnessCont .productViewTypeA .productViewBtn {display:inline-block; position:absolute; left:65px; top:270px; padding:14px 21px 14px 28px; font-size:16px; color:#fff; font-family: 'ReefontCondensed'; letter-spacing:5px; background:#b71c26; }

.fitnessCont .productViewTypeB {position:relative; margin:0 auto; width:1190px;}
.fitnessCont .productViewTypeB>h3 {font-size:46px; color:#fff; font-family: 'ReefontCondensed'; font-weight:100; line-height:42px; letter-spacing:5px;}
.fitnessCont .productViewTypeB>h3 span {font-size:36px; color:#fff; font-family: 'NotoSansKR'; font-weight: 300; letter-spacing:1px;}
.fitnessCont .productViewTypeB>p.subTit {margin-top:7px; font-size:40px; color:#fff; font-family: 'NotoSansKR'; font-weight: 300; line-height:40px; letter-spacing:1px;}
.fitnessCont .productViewTypeB div.movie  {margin-top:44px;}
.fitnessCont .productViewTypeB .productViewTxt {margin-top:42px;}
.fitnessCont .productViewTypeB .productViewTxt>p.tit {margin-bottom:20px; font-size:22px; color:#fff; font-family: 'NotoSansKR'; font-weight: 300; line-height:22px;}
.fitnessCont .productViewTypeB .productViewTxt>p.txt {font-size:16px; color:#5c5c5c; font-family: 'NotoSansKR'; font-weight:300; letter-spacing:1px;}
.fitnessCont .productViewTypeB .productViewTxt .veiwCont {position:relative; margin-top:72px; width:1190px; height:412px; background:url("/images/reebok/efu2018/brand/fitness/running/running04.png") no-repeat center center;}
.fitnessCont .productViewTypeB .productViewTxt .veiwCont>p {margin-left:195px; padding-top:15px; width:210px; font-size:100px; color:#fff; font-family: 'ReefontCondensed'; line-height:85px; text-align:right;  letter-spacing:10px;}
.fitnessCont .productViewTypeB .productViewTxt .veiwCont dl {position:absolute;}
.fitnessCont .productViewTypeB .productViewTxt .veiwCont dl.view01 {left:190px;top:256px;}
.fitnessCont .productViewTypeB .productViewTxt .veiwCont dl.view01 dt,
.fitnessCont .productViewTypeB .productViewTxt .veiwCont dl.view01 dd {text-align:right;}
.fitnessCont .productViewTypeB .productViewTxt .veiwCont dl.view02 {right:115px; top:43px;}
.fitnessCont .productViewTypeB .productViewTxt .veiwCont dl.view03 {right:162px; top:192px;}
.fitnessCont .productViewTypeB .productViewTxt .veiwCont dl dt {padding-bottom:15px; font-size:22px; color:#971b23; letter-spacing:3px; font-family: 'NotoSansKR'; font-weight: 500; line-height:22px;}
.fitnessCont .productViewTypeB .productViewTxt .veiwCont dl dd {font-size:14px; color:#5c5c5c; font-family: 'NotoSansKR'; font-weight: 300;  line-height:20px;}
.fitnessCont .productViewTypeB .productViewBtn {display:inline-block; position:absolute; left:0; top:532px; padding:14px 21px 14px 28px; font-size:16px; color:#fff; font-family: 'ReefontCondensed'; letter-spacing:5px; background:#b71c26; }

/* training  */
.trainingArea .sectionArea01 .section01 {height:702px;}
.trainingArea .sectionArea01 .section01:after {content:""; display:block; clear:both; position:absolute; right:120px; top:332px; width:530px; height:370px; background:url("/images/reebok/efu2018/brand/fitness/training/training01.png") no-repeat 0 0; z-index:2;}
.trainingArea .sectionArea01 .section01>div {position:absolute; left:150px; top:150px; width:652px; z-index:1;}
.trainingArea .sectionArea01 .section01>div .txtCont {margin-top:50px;}
.trainingArea .sectionArea01 .section02 {height:640px;}
.trainingArea .sectionArea01 .section02:before {content:""; display:block; clear:both; position:absolute; left:0; top:12px; width:404px; height:516px; background:url("/images/reebok/efu2018/brand/fitness/training/training02.jpg") no-repeat 0 0;}
.trainingArea .sectionArea01 .section02>div {position:absolute; left:338px; top:140px; width:820px; height:477px; z-index:2;}
.trainingArea .sectionArea01 .section02:after {content:""; display:block; clear:both; position:absolute; left:140px; top:-30px; width:320px; height:666px; background:url("/images/reebok/efu2018/brand/fitness/training/training03.png") no-repeat 0 0;z-index:1;}
.trainingArea .sectionArea01 .section02>div .txtCont {margin:30px 0 0 150px;}

.trainingArea .sectionArea02 .section {height:535px;}
.trainingArea .sectionArea02 .section:before {top:0;}
.trainingArea .sectionArea02 .section:after {content:""; display:block; clear:both; position:absolute; right:0; top:0; width:404px; height:544px; background:url("/images/reebok/efu2018/brand/fitness/training/training04.jpg") no-repeat 0 0;z-index:0;}
.trainingArea .sectionArea02 .section .sectionBgArea {margin:0 auto; width:1190px; height:535px;}
.trainingArea .sectionArea02 .section .sectionBgArea>div {position:absolute; right:0; top:0; width:1190px;  height:535px;  z-index:4;}
.trainingArea .sectionArea02 .section>div:after {content:""; display:block; clear:both; position:absolute; right:-39px; top:54px; width:432px; height:462px; background:url("/images/reebok/efu2018/brand/fitness/training/training05.png") no-repeat 0 0;z-index:2;}
.trainingArea .sectionArea02 .section h3 {position:absolute; right:261px; top:65px; text-align:left; z-index:2;}
.trainingArea .sectionArea02 .section .txtCont {position:absolute; right:478px; top:410px;}
.trainingArea .sectionArea02 .section .txtCont>p,
.trainingArea .sectionArea02 .section .txtCont>p span {text-align:right;}
.trainingArea .sectionArea03:before {width:0;height:0; background:none;}

/* running  */
.runningHead .txtArea {padding-top:160px; }
.runningArea .sectionArea01 .section01 {padding-bottom:55px; height:855px;}
.runningArea .sectionArea01 .section01:after {content:""; display:block; clear:both; position:absolute; right:39px; top:130px; width:574px; height:724px; background:url("/images/reebok/efu2018/brand/fitness/running/running01.png") no-repeat 0 0; z-index:2;}
.runningArea .sectionArea01 .section01>div {position:absolute; left:150px; top:215px; width:625px; z-index:1;}
.runningArea .sectionArea01 .section02 {height:580px;}
.runningArea .sectionArea01 .section02:before {content:""; display:block; clear:both; position:absolute; left:0; top:12px; width:404px; height:516px; background:url("/images/reebok/efu2018/brand/fitness/running/running02.jpg") no-repeat 0 0;}
.runningArea .sectionArea01 .section02>div {position:absolute; left:318px; top:60px; width:820px; height:477px; z-index:2;}
.runningArea .sectionArea01 .section02>div h3 {line-height:140px;}
.runningArea .sectionArea01 .section02:after {content:""; display:block; clear:both; position:absolute; left:43px; top:72px; width:318px; height:456px; background:url("/images/reebok/efu2018/brand/fitness/running/running03.png") no-repeat 0 0;z-index:2;}
.runningArea .sectionArea01 .section02>div .txtCont {margin:50px 0 0 185px;}
.runningArea .sectionArea02 {margin-bottom:0;}

/* crossfit  */
.crossfitArea .sectionArea01 .section01 .txtCont {width:456px;}
.crossfitArea .sectionArea01 .section01 .txtCont>p,
.crossfitArea .sectionArea01 .section01 .txtCont>p span {text-align:right;}
.crossfitArea .sectionArea01 .section01 {height:637px;}
.crossfitArea .sectionArea01 .section01:after {content:""; display:block; clear:both; position:absolute; right:156px; top:212px; width:355px; height:563px; background:url("/images/reebok/efu2018/brand/fitness/crossfit/crossfit01.png") no-repeat 0 0; z-index:2;}
.crossfitArea .sectionArea01 .section01>div {position:absolute; left:184px; top:150px; width:705px; z-index:3;}
.crossfitArea .sectionArea01 .section02 {height:570px;}
.crossfitArea .sectionArea01 .section02:before {content:""; display:block; clear:both; position:absolute; left:0; top:12px; width:404px; height:516px; background:url("/images/reebok/efu2018/brand/fitness/crossfit/crossfit02.jpg") no-repeat 0 0;}
.crossfitArea .sectionArea01 .section02:after {content:""; display:block; clear:both; position:absolute; left:52px; top:12px; width:400px; height:558px; background:url("/images/reebok/efu2018/brand/fitness/crossfit/crossfit03.png") no-repeat 0 0;z-index:2;}
.crossfitArea .sectionArea01 .section02>div {position:absolute; left:0; top:0; padding-top:50px; width:960px; height:477px; z-index:2;}
.crossfitArea .sectionArea01 .section02>div h3 {margin-left:140px;}
.crossfitArea .sectionArea01 .section02>div h3.last {position:absolute; left:200px; top:210px;z-index:3;}
.crossfitArea .sectionArea01 .section02>div .txtCont {padding-top:180px; margin-left:485px;}

.crossfitArea .sectionArea02 .section {height:722px;}
.crossfitArea .sectionArea02 .section:after {content:""; display:block; clear:both; position:absolute; right:0; top:180px; width:404px; height:544px; background:url("/images/reebok/efu2018/brand/fitness/crossfit/crossfit04.jpg") no-repeat 0 0;z-index:0;}
.crossfitArea .sectionArea02 .section .sectionBgArea {margin:0 auto; width:1190px; height:722px;}
.crossfitArea .sectionArea02 .section .sectionBgArea>div {position:absolute; right:0; top:0; z-index:4;}
.crossfitArea .sectionArea02 .section>div:before {left:330px; top:-201px;}
.crossfitArea .sectionArea02 .section>div:after {content:""; display:block; clear:both; position:absolute; right:116px; top:123px; width:215px; height:539px; background:url("/images/reebok/efu2018/brand/fitness/crossfit/crossfit05.png") no-repeat 0 0;z-index:2;}
.crossfitArea .sectionArea02 .section h3 {position:relative; margin-right:261px; text-align:right; margin-top:-45px;}
.crossfitArea .sectionArea02 .section h3:after {content:""; display:block; clear:both; position:absolute; right:420px; bottom:31px; width:90px; height:70px; background:url("/images/reebok/efu2018/brand/fitness/crossfit/crossfitBg03.png") no-repeat 0 0;}
.crossfitArea .sectionArea02 .section .txtCont {margin-right:487px; text-align:right;}
.crossfitArea .sectionArea02 .section .txtCont .txt1 {font-size:38px; color:#fff; font-family: 'NotoSansKR'; font-weight: 400; line-height:50px; letter-spacing:5px; text-align:right;}
.crossfitArea .sectionArea02 .section .txtCont .txt2 {padding-top:20px; font-size:20px; color:#b7b7b7; font-family: 'NotoSansKR'; font-weight: 500; line-height:30px; letter-spacing:5px; text-align:right;}
.crossfitArea .sectionArea02 .section .txtCont span.color {display:block; padding-bottom:30px; color:#ab2328;line-height:30px; text-align:right;}
.crossfitArea .sectionArea02 .section .txtCont span.sTxt {display:block; font-size:16px; color:#5c5c5c; font-family: 'NotoSansKR'; font-weight: 300; line-height:24px; letter-spacing:1px; text-align:right;}
.crossfitArea .productViewTypeB .productViewBtn {top:581px;}

/* studio  */
.studioArea .sectionArea01 .section01 {padding-bottom:240px;height:675px;}
.studioArea .sectionArea01 .section01:after {content:""; display:block; clear:both; position:absolute; right:40px; top:212px; width:520px; height:464px; background:url("/images/reebok/efu2018/brand/fitness/studio/studio01.png") no-repeat 0 0; z-index:2;}
.studioArea .sectionArea01 .section01>div {position:absolute; left:150px; top:150px; width:600px; z-index:1;}
.studioArea .sectionArea01 .section01>div .txtCont {position:absolute; left:-20px; top:360px; }
.studioArea .sectionArea01 .section01>div .txtCont>p,
.studioArea .sectionArea01 .section01>div .txtCont>p span {text-align:right;}
.studioArea .sectionArea01 .section02 {height:640px;}
.studioArea .sectionArea01 .section02:before {content:""; display:block; clear:both; position:absolute; left:80px; top:0; width:404px; height:516px; background:url("/images/reebok/efu2018/brand/fitness/studio/studio02.jpg") no-repeat 0 0;}
.studioArea .sectionArea01 .section02>div {position:absolute; left:370px; top:40px; width:625px; height:477px; z-index:2;}
.studioArea .sectionArea01 .section02>div h3 {text-align:right;}
.studioArea .sectionArea01 .section02:after {content:""; display:block; clear:both; position:absolute; left:13px; top:-34px; width:382px; height:646px; background:url("/images/reebok/efu2018/brand/fitness/studio/studio03.png") no-repeat 0 0;z-index:1;}
.studioArea .sectionArea01 .section02>div .txtCont {margin-left:150px;}
.studioArea .sectionArea02 .section:before {width:0; height:0; background:none;}
.studioArea .sectionArea02 .section:after {width:0; height:0; background:none;}
.studioArea .sectionArea02 .section>div:before {width:0; height:0; background:none;}
.studioArea .sectionArea02 .section>div:after {width:0; height:0; background:none;}

/* combat  */
.combatHead .txtArea {padding-top:150px;}
.combatCont:before {content:""; display:block; clear:both; position:absolute; left:62%; top:0; margin-left:145px; width:570px; height:332px; background:url("/images/reebok/efu2018/brand/fitness/fitnessBg05.png") no-repeat 0 0;}
.combatCont .sectionArea01 h3 span {display:block; margin-left:399px; line-height:160px;}
.combatCont .sectionArea03 {position:relative; padding-top:228px;}
.combatCont .sectionArea03 .section:before {content:""; display:block; clear:both; position:absolute; left:158px; top:-28px; width:536px; height:438px; background:url("/images/reebok/efu2018/brand/fitness/fitnessBg09.png") no-repeat 0 0;}

.combatArea .sectionArea01 .section01 {padding-bottom:226px; height:772px;}
.combatArea .sectionArea01 .section01:after {content:""; display:block; clear:both; position:absolute; right:120px; top:0px; width:520px; height:773px; background:url("/images/reebok/efu2018/brand/fitness/combat/combat01.png") no-repeat 0 0; z-index:1;}
.combatArea .sectionArea01 .section01>div {position:absolute; left:150px; top:150px; width:625px; z-index:2;}
.combatArea .sectionArea01 .section02 {height:420px;}
.combatArea .sectionArea01 .section02:before {content:""; display:block; clear:both; position:absolute; left:0; top:-96px; width:404px; height:515px; background:url("/images/reebok/efu2018/brand/fitness/combat/combat02.jpg") no-repeat 0 0;}
.combatArea .sectionArea01 .section02>div {position:absolute; left:160px; top:-76px; width:820px; height:477px; z-index:2;}
.combatArea .sectionArea01 .section02:after {content:""; display:block; clear:both; position:absolute; left:-42px; top:-14px; width:635px; height:432px; background:url("/images/reebok/efu2018/brand/fitness/combat/combat03.png") no-repeat 0 0 ;z-index:2;}
.combatArea .sectionArea01 .section02>div .txtCont {margin-left:480px; width:500px;}

.combatCont .sectionArea02 h3 span {display:block; margin-left:193px; line-height:160px;}
.combatArea .sectionArea02 .section {height:535px;}
.combatArea .sectionArea02 .section:before {top:0;}
.combatArea .sectionArea02 .section:after {content:""; display:block; clear:both; position:absolute; right:0; top:0; width:404px; height:516px; background:url("/images/reebok/efu2018/brand/fitness/combat/combat04.jpg") no-repeat 0 0;z-index:0;}
.combatArea .sectionArea02 .section>div {position:absolute; right:0; top:0; width:1190px;  height:535px;  z-index:4;}
.combatArea .sectionArea02 .section .sectionBgArea:after {content:""; display:block; clear:both; position:absolute; right:-50px; top:-184px; width:591px; height:649px; background:url("/images/reebok/efu2018/brand/fitness/combat/combat05.png") no-repeat 0 0;z-index:1;}
.combatArea .sectionArea02 .section h3 {position:absolute; right:91px; top:0px; text-align:left; z-index:1; letter-spacing:15px;}
.combatArea .sectionArea02 .section .txtCont {position:absolute; right:478px; top:366px;}
.combatArea .sectionArea02 .section .txtCont>p,
.combatArea .sectionArea02 .section .txtCont>p span {text-align:right;}
.combatArea .sectionArea03:before {width:0;height:0; background:none;}

/* reeclub */ 
.interSection { position:relative; width:1200px; margin:0 auto; }
.clubMain {min-width:1190px; background:url("/images/reebok/efu2018/brand/reeclub/clubMain_bg.jpg") no-repeat center center; height:1028px; }
.clubMain .interSection .left { position:absolute; top:245px; left:145px; text-align:center; width:360px; height:300px; }
.clubMain .interSection .left .clubLogo { background:url("/images/reebok/efu2018/brand/reeclub/clubLogo.png") no-repeat; display:inline-block; width:238px; height:202px; }
.clubMain .interSection .left p { color:#999; font-family: 'ReefontCondensed'; font-size:24px; margin-top:40px; word-spacing:15px; letter-spacing:15px; text-align:center; line-height:40px; }
.clubMain .interSection .right { position:absolute; top:230px; right:115px; width:465px; height:345px; }
.clubMain .interSection .right .clubTitle { background:url("/images/reebok/efu2018/brand/reeclub/clubTitle.png") no-repeat; display:inline-block; width:463px; height:215px; }
.clubMain .interSection .right p { color:#fff; font-family:"notosanskr"; font-size:16px; margin:20px 0 30px; }
.clubInfo:after {content:""; display:block; clear:both; margin-top:-60px; width:100%; height:429px; background:url("/images/reebok/efu2018/brand/reeclub/clubInfo_bg.jpg") no-repeat center center;}
.reeclubContArea .infoTitle {position:absolute; top:-350px; left:-90px; width:100%; height:364px; background:url("/images/reebok/efu2018/brand/reeclub/clubBg.png") no-repeat;}
.reeclubContArea .infoTitle h2 {position:absolute; left:120px; top:220px;}
.reeclubContArea .infoTitle>p.txt {position:absolute; left:430px; top:220px; font-size:16px; color:#191919; font-family: 'NotoSansKR'; font-weight: 300; line-height:22px;}
.clubInfo .infoBox {position:relative; padding-top:63px; margin-left:30px;  width:1200px;}
.clubInfo .infoBox dl dt {display:inline-block; padding-top:20px; width:190px; line-height:35px; font-size:22px; color:#b82329; font-family: 'NotoSansKR'; font-weight:500;  border-top:5px solid #cc2626; box-sizing:border-box; ; vertical-align:top;}
.clubInfo .infoBox dl dd {display:inline-block; margin-left:50px; padding:30px 0; width:700px; font-family: 'NotoSansKR'; font-weight:300; border-top:1px solid #898989; box-sizing:border-box;}
.clubInfo .infoBox dl dd strong { color:#3c3c3c; font-size:16px; display:block; margin-bottom:20px; }
.clubInfo .infoBox dl dd p { color:#565656; font-size:15px; line-height:28px; }
.clubInfo .infoBox dl dd p.color {color:#b71c26;}
.clubInfo .infoBox dl dd p>span {display:block; margin-left:112px;}
.clubInfo .infoBox dl dd.bulet p:before { content:"·"; padding-right:5px; margin-left:-5px; }
.btnClubJoin { background:#b71c26; box-sizing:border-box; position:relative; }
.btnClubJoin a {display:inline-block; padding:20px 80px 20px 40px; color:#ecc2c5; font-size:16px; }
.btnClubJoin:after { content: ">"; color: #f1d2d4; font-weight: bold; position: absolute; top:21px; right: 30px; }

.clubStep {padding-top:220px; background:#191919; position:relative; height:1133px; }
.clubStep .infoTitle {position:absolute; top:-440px; left:-90px; width:100%; height:364px; background:url("/images/reebok/efu2018/brand/reeclub/clubBg.png") no-repeat;}
.clubInfo.clubStep .infoTitle h2 {top:230px; }
.clubStep .infoTitle>p.txt {left:517px; top:230px; color:#fff; opacity:0.6;}
.clubStep .infoTitle .btnClubJoin{position:absolute; left:517px; top:310px;}
.clubStep .center { width:430px; margin:0 auto 110px; }
.clubStep .center .btnClubJoin { line-height:15px; }
.clubStep .center p { font-family: notosanskr; font-size:16px; margin-bottom:30px; line-height:25px; }

.reeclubContArea .mobileCardInfo {padding-top:220px; height:2155px; background:#191919;}
.reeclubContArea .mobileCardInfo h2 {position:absolute !important; left:30px; top:0;}
.reeclubContArea .mobileCardInfo .infoTitle {position:static; left:0; top:0; height:302px; background:none;}
.reeclubContArea .mobileCardInfo .infoTitle:after {content:""; display:block; clear:both; position:absolute; right:55px; top:71px; width:228px; height:231px; background:url("/images/reebok/efu2018/brand/reeclub/cardInfoBg.png") no-repeat;}
.mobileCardInfo .reeclubJoinMethod {position:relative;  margin-bottom:100px; height:1133px;}
.mobileCardInfo .infoArea dl {position:relative;}
.mobileCardInfo .infoArea dl dt {position:absolute; left:0; top:0; padding-top:25px; width:200px; font-size:22px; color:#b82329; font-family: 'NotoSansKR'; font-weight:500; line-height:30px; border-top:5px solid #cc2626;} 
.mobileCardInfo .infoArea dl dd {padding-top:30px; margin-left:250px; font-size:16px; color:#fff; font-family: 'NotoSansKR'; font-weight:300; border-top:1px solid #898989;}
.mobileCardInfo .infoArea dl dd p {padding-bottom:20px; line-height:24px; color:#7e7e7e;} 
.mobileCardInfo .infoArea dl dd span {display:block; padding-bottom:25px; font-weight:500; color:#fff;} 
.mobileCardInfo .infoArea dl dd p .btnClubJoin {margin-left:30px; padding:10px 59px 10px 29px; font-size:12px; color:#fff;} 
.mobileCardInfo .infoArea dl dd p .btnClubJoin:after {top:12px;} 

.reeclubContArea .mobileCardInfo .infoTitle h2 {position:static;}
.reeclubContArea .mobileCardInfo .infoTitle>p.txt {top:0; color:#fff; opacity:0.6;}
.reeclubContArea .mobileCardInfo .infoTitle .btnClubJoin {position:absolute; left:430px; top:100px; }
.reeclubContArea .mobileCardInfo .reeClubcont {display:block !important; height:1133px;}
.reeclubContArea .mobileCardInfo .reeclubJoinMethod .tab li a {padding:20px 17px;}

.reeclubJoinMethod {height:1133px;}
.reeclubJoinMethod .tab { position:absolute; left:0; }
.reeclubJoinMethod .tab li { letter-spacing: 10px; width:80px; height:240px; line-height:25px; background:#d5d5d5;transition:all .5s cubic-bezier(0.77, 0, 0.175, 1);}
.reeclubJoinMethod .tab li:first-child a { padding: 0px 30px; }
.reeclubJoinMethod .tab li a { box-sizing:border-box; color:#919191; font-family: 'NotoSansKR'; font-weight: 500;font-size:18px; padding:20px 17px; text-align:center; writing-mode: tb-rl; width:100%; height:100%; line-height:25px; }
.reeclubJoinMethod .tab li.on { background:#4b4b4b; transition:all .5s cubic-bezier(0.77, 0, 0.175, 1);}
.reeclubJoinMethod .tab li.on a { color:#fff; }

.reeclubJoinMethod .memberCard {position:absolute; left:0;}
.reeclubJoinMethod .memberCard li { padding:20px 17px; width:47px; height:240px; font-size:18px; color:#fff;  font-family:'NotoSansKR'; font-weight: 500; line-height:25px; text-align:center; letter-spacing: 10px; writing-mode: tb-rl;  background:#4b4b4b; }

.reeclubJoinMethod .reeClubcont {position:absolute; left:80px; top:0; height:1133px; background:#fff;}
.reeClubcont>div { text-align:center; background:#fff; width:1120px; }
.reeClubcont>div .stepImg:before { background:#d1d1d1; content:""; position:absolute; top:60%; left:-217px; width:218px; height:1px; }
.reeClubcont>div .stepImg:after { background:#d1d1d1; content:""; position:absolute; top:60%; right:-30px; width:30px; height:1px; }
.reeClubcont>div .stepBulet { position:absolute; top:50%; right:0; box-sizing:border-box; border-radius:100%; font-family:'DINPro'; letter-spacing:1px; display:inline-block; padding:20px 0; text-align:center; width:76px; height:76px; }
.reeClubcont>div .stepBulet b { font-size:20px; display:block; line-height:30px; }

.reeclubJoinMethod .stepArea {position:relative; height:522px;}
.reeclubJoinMethod .stepArea .stepCont:first-child {display:block;}
.reeclubJoinMethod .stepArea:before {content:""; display:block; clear:both; position:absolute; left:110px; top:355px; width:850px; height:1px; background:#d1d1d1;}
.reeclubJoinMethod .stepArea .stepTitle {position:absolute; right:135px; top:113px; font-size:36px; color:#191919; font-family: 'NotoSansKR'; font-weight: 300; line-height:50px; z-index:1; letter-spacing:11px;}
.reeclubJoinMethod .stepArea .stepTitle span {display:block; margin:15px 0;  letter-spacing:0px;}
.reeclubJoinMethod .stepArea .stepTitle a.reclubJounBtn {position:relative; display:inline-block; margin-top:9px; padding:6px 30px 6px 10px; font-size:12px; color:#a8a8a8; background:#5c5c5c; letter-spacing:0; font-family: 'NotoSansKR'; font-weight: 300; text-align:left;}
.reeclubJoinMethod .stepArea .stepTitle a.reclubJounBtn:after { content: ">"; color: #a8a8a8; font-weight: bold; position: absolute; right:10px; }
.reeclubJoinMethod .stepArea .stepTitle b {display:block; font-weight: 500; letter-spacing:0px;}
.reeclubJoinMethod .stepArea2 .stepTitle,
.reeclubJoinMethod .stepArea2 .stepTitle span,
.reeclubJoinMethod .stepArea3 .stepTitle span,
.reeclubJoinMethod .stepArea4 .stepTitle span {letter-spacing:11px;}
.reeclubJoinMethod .stepArea2 .stepTitle,
.reeclubJoinMethod .stepArea4 .stepTitle {right:96px;}
.reeclubJoinMethod .stepArea2 .stepTitle b,
.reeclubJoinMethod .stepArea4 .stepTitle b {letter-spacing:33px;}
.reeclubJoinMethod .stepArea3 .stepTitle b {letter-spacing:0px;}
.reeclubJoinMethod .stepArea5 .stepTitle{right:33px; letter-spacing:100px;}
.reeclubJoinMethod .stepArea5 .stepTitle span {letter-spacing:11px;}
.reeclubJoinMethod .stepArea6 .stepTitle{right:33px; letter-spacing:100px;}
.reeclubJoinMethod .stepArea6 .stepTitle b {letter-spacing:33px;}
.reeclubJoinMethod .stepArea6 .stepTitle span {letter-spacing:11px;}

.reeclubJoinMethod .reeClubcont .stepCont {display:none; position:absolute; left:0; top:0; padding-top:124px; width:1120px; height:398px;}
.reeclubJoinMethod .reeClubcont .stepCont>ul:after {content:""; display:block; clear:both;}
.reeclubJoinMethod .reeClubcont .stepCont>ul li {float:left; margin:0 8px; width:76px; height:76px; border-radius:50px; text-align:center;}
.reeclubJoinMethod .reeClubcont .stepCont>ul li a {display:block; margin-top:13px; width:76px; height:76px; font-size:10px; color:#3c1e1e; font-family: 'dinpro'; text-align:center;}
.reeclubJoinMethod .reeClubcont .stepCont>ul li a span {display:block; margin-top:8px; font-size:30px; font-weight:bold; text-align:center;}
.reeclubJoinMethod .reeClubcont .stepCont li.type {background:#fae100;}
.reeclubJoinMethod .reeClubcont .stepCont .stepOff {position:absolute; left:90px; top:315px;}
.reeclubJoinMethod .reeClubcont .stepCont .stepOff li {width:76px; height:76px; background:#cacbc6;}
.reeclubJoinMethod .reeClubcont .stepCont .stepOff li:first-child {margin-left:0;}
.reeclubJoinMethod .reeClubcont .stepCont .stepOff li.type {background:#fae100;}
.reeclubJoinMethod .reeClubcont .stepCont .stepOff li a {color:#fff;}
.reeclubJoinMethod .reeClubcont .stepCont .stepOn {position:absolute; right:90px; top:315px;}
.reeclubJoinMethod .reeClubcont .stepCont .stepOn li {background:#fae100}
.reeclubJoinMethod .reeClubcont .stepCont .stepOn li:last-child {margin-right:0;}
.reeclubJoinMethod .reeClubcont .stepCont .stepTxt {position:relative; margin:0 auto; width:336px; height:398px; }
.reeclubJoinMethod .reeClubcont .stepCont .stepTxt img {position:absolute; left:47px; top:0;}
.reeclubJoinMethod .reeClubcont .stepCont .stepTxt:after {content:""; display:block; clear:both; width:336px; height:396px; background:url("/images/reebok/efu2018/brand/reeclub/stepBg.png") no-repeat 0 60px; }

.reeclubJoinMethod .reeClubcont .stepArea2 .stepCont .stepTxt:after,
.reeclubJoinMethod .reeClubcont .stepArea6 .stepCont .stepTxt:after {content:""; display:block; clear:both; width:336px; height:396px; background:url("/images/reebok/efu2018/brand/reeclub/stepBg2.png") no-repeat 0 60px; }
.reeclubJoinMethod .reeClubcont .stepArea2 .stepCont .stepOff li.type,
.reeclubJoinMethod .reeClubcont .stepArea6 .stepCont .stepOff li.type {background:#fc7648;}
.reeclubJoinMethod .reeClubcont .stepArea2 .stepCont .stepOn li,
.reeclubJoinMethod .reeClubcont .stepArea6 .stepCont .stepOn li {background:#fc7648;}
.reeclubJoinMethod .reeClubcont .stepArea2 .stepCont .stepOn li a {color:#fff;}

.reeclubJoinMethod .reeClubcont .stepArea3 .stepCont .stepTxt:after {content:""; display:block; clear:both; width:336px; height:396px; background:url("/images/reebok/efu2018/brand/reeclub/stepBg3.png") no-repeat 0 60px; }
.reeclubJoinMethod .reeClubcont .stepArea3 .stepCont .stepOn li {background:#b71c26;}
.reeclubJoinMethod .reeClubcont .stepArea3 .stepCont li.type {background:#e4e4e4;}
.reeclubJoinMethod .reeClubcont .stepArea3 .stepCont .stepOn li a {color:#fff;}
.reeclubJoinMethod .reeClubcont .stepArea3 .stepCont .stepTxt img {position:absolute; left:-15px; top:106px;}
.reeclubJoinMethod .reeClubcont .stepArea3 .step04 .stepTxt img {position:absolute; left:47px; top:0;}

.reeclubJoinMethod .reeClubcont .stepArea4 .stepCont .stepTxt:after {content:""; display:block; clear:both; width:336px; height:396px; background:url("/images/reebok/efu2018/brand/reeclub/stepBg4.png") no-repeat 0 60px; }
.reeclubJoinMethod .reeClubcont .stepArea4 .stepCont .stepOn li {background:#4d4d4d;}
.reeclubJoinMethod .reeClubcont .stepArea4 .stepCont li.type {background:#e4e4e4;}
.reeclubJoinMethod .reeClubcont .stepArea4 .stepCont .stepOn li a {color:#fff;}
.reeclubJoinMethod .reeClubcont .stepArea4 .stepCont .stepTxt img {position:absolute; left:-15px; top:106px;}
.reeclubJoinMethod .reeClubcont .stepArea4 .step01 .stepTxt img{position:absolute; left:-20px; top:66px;}
.reeclubJoinMethod .reeClubcont .stepArea4 .step02 .stepTxt img,
.reeclubJoinMethod .reeClubcont .stepArea4 .step04 .stepTxt img {position:absolute; left:47px; top:0;}

/* 카테고리 메인 */
.categoryArea:before {content:""; display:block; clear:both; position:absolute; left:0; top:579px; width:100%; height:770px; background:#efefef;}
.categoryArea>.top a {display:block; width:100%; height:500px;}
.categoryArea .categoryCont {margin:0 auto; width:1190px;}
.categoryArea h2 {padding:65px 0 64px 0; font-size:18px; color:#000;  font-family: 'dinpro';  text-align:center; font-weight:bold; letter-spacing:10px;}
.categoryArea .categoryCont .category {position:relative;padding-top:118px;}
.categoryArea .categoryCont .category h2 {position:absolute; left:0; top:0; width:100%;}
.categoryArea .categoryCont ul:after {content:""; display:block; clear:both;}
.categoryArea .categoryCont .category ul.cont1 li {position:relative; float:left; margin-left:10px;}
.categoryArea .categoryCont .category ul.cont1 li:first-child {margin-left:0;}
.categoryArea .categoryCont .category ul.cont1 li p {position:absolute; right:30px; top:85px; padding-top:10px; font-size:30px; color:#000; font-weight:bold;  font-family: 'NotoSansKR'; text-align:right; line-height:30px;}
.categoryArea .categoryCont .category ul.cont1 li p:before {content:""; display:block; clear:both; position:absolute; right:0; top:0; width:30px; height:3px; background:#b71c26;}
.categoryArea .categoryCont .category ul.cont1 li p span {display:block; padding-top:5px; font-size:14px; color:#474747; text-align:right; font-weight:normal;}
.categoryArea .categoryCont .category ul.cont2 {margin-top:80px;}
.categoryArea .categoryCont .category ul.cont2 li {position:relative; float:left;}
.categoryArea .categoryCont .category ul.cont2 li p {position:absolute; left:50%; bottom:110px; padding-top:10px; margin-left:-60px; width:120px; font-size:14px; color:#fff; font-family: 'NotoSansKR'; font-weight:normal;}
.categoryArea .categoryCont .category ul.cont2 li p:before {content:""; display:block; clear:both; position:absolute; left:50px; top:0;  margin-left:-15px; width:30px; height:1px; background:#b71c26;}
.categoryArea .categoryCont .fitness { margin-top:60px;}
.categoryArea .categoryCont .fitness ul li {position:relative; float:left; height:227px;}
.categoryArea .categoryCont .fitness ul li p {position:absolute; left:26px; top:92px; color:0; font-size:22px; color:#262626;font-family: 'NotoSansKR'; font-weight:bold; }
.categoryArea .categoryCont .fitness ul li p span {display:block; padding-top:10px; font-size:14px; color:#262626;font-weight:normal;}
.categoryArea .bestProduct {padding-bottom:65px; margin-top:60px; background:#f0f0f0;}
.categoryArea .bestProduct .productList {margin:0 auto; width:1190px;}
.categoryArea .bestProduct .productList:after {content:""; display:block; clear:both;}
.categoryArea .bestProduct .productList li {position:relative; float:left; margin-left:63px; width:250px;}
.categoryArea .bestProduct .productList li:after {content:""; display:block; clear:both; position:absolute; right:0; top:0; width:55px; height:55px; background:url("/images/reebok/efu2018/blt/blt_best.png") no-repeat 0 0;}		
.categoryArea .bestProduct .productList li:first-child {margin-left:0;}
.categoryArea .bestProduct .productList li a  {display:block; padding:0 0px 15px 0px; width:250px !important; height:320px !important;background:#fff;overflow:hidden;}
.categoryArea .bestProduct .productList li a img {width:100%;}
.categoryArea .bestProduct .productList li a p.tit {padding:10px 15px 0 15px; font-size:16px; color:#000; font-family: 'NotoSansKR'; font-weight: 500; line-height:18px;}
.categoryArea .bestProduct .productList li a p.tit span {display:block; font-size:12px; color:#999; font-family: 'NotoSansKR'; font-weight: 700;}
.categoryArea .bestProduct .productList li a p.price {padding:5px 15px 0 15px; font-size:19px; color:#000; font-family: 'NotoSansKR'; font-weight: 700;}
.categoryArea .bestProduct .productList li a p.price>span {font-size:13px; color:#000; font-family: 'NotoSansKR'; font-weight: 500;}
.categoryArea .bestProduct .productList li a p.price.sale>span {padding-top:10px; font-size:13px; color:#999; font-family: 'NotoSansKR'; font-weight: 500; text-decoration:line-through;}
.categoryArea .bestProduct .productList li a p.price.sale span.salePrice {margin-left:10px; font-size:19px; color:#c80000; font-family: 'NotoSansKR'; font-weight: 700;text-decoration:none;}
.categoryArea .bestProduct .productList li a p.price.sale span.salePrice>span {font-size:13px; color:#000; font-family: 'NotoSansKR'; font-weight: 500;}
.categoryArea.fitnessStyle:before {width:0; height:0; background:none;}
.categoryArea.fitnessStyle .fitness ul li {margin:0 0 12px 12px; height:auto}
.categoryArea.fitnessStyle .fitness ul li:nth-child(1),
.categoryArea.fitnessStyle .fitness ul li:nth-child(3) {margin-left:0;}
.categoryArea.fitnessStyle .fitness ul li p {top:158px; font-size:14px; color:#272727; font-weight:normal;}
.categoryArea.fitnessStyle .fitness ul li:nth-child(3) p,
.categoryArea.fitnessStyle .fitness ul li:nth-child(4) p,
.categoryArea.fitnessStyle .fitness ul li:nth-child(5) p {top:115px;}
#topBanner {position:relative; }
#topBanner ul li {width:100%; height:500px;}
#topBanner #nav {position:absolute; left:50%; bottom:20px; margin-left:-100px; width:200px; text-align:center; z-index:1000;}
#topBanner #nav a {display:inline-block; margin:0 4px; width:11px; height:11px; background:rgba(0, 0, 0, 0.5); border-radius:20px; text-indent:-10000px;}
#topBanner #nav a.activeSlide {background:#b71c26}
