
.transition {transition:transform 0.2s linear !important;}


#classicWrap {position:fixed; left:0; top:0; width:100%; height:100%; min-height:350px; background:#2c2c2c;  z-index:8;} 
	#classicListArea {position:relative; width:100%; height:100%;}
	#classicListArea .titTypeA {top:16%;} 
	#classicList {position:fixed; left:0; top:50%; width:100%; height:500px; margin-top:-230px; overflow:hidden;}  
	#classicList:before {content:""; display:block; position:absolute; left:0; top:235px; width:100%; height:1px; background:#565656; font-size:0; line-height:0;}
	#classicList:before {transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1);}
	#classicList.open:before {height:800px; background:#fff; transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1);}
	#classicListBody {position:absolute; left:0; top:50px; transition:left 0.5s cubic-bezier(0.77, 0, 0.175, 1)}
	#classicListBody .section {position:relative; float:left; width:800px; min-height:320px; text-align:center; transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1);}
	#classicListBody .section.hide {opacity:0 !important;}
	#classicListBody .section a {cursor:default;}
	#classicListBody .section .thum {position:relative; text-align:center; transition:transform 0.5s cubic-bezier(0.77, 0, 0.175, 1); z-index:2;} 
	#classicListBody .section .since {display:inline-block; position:absolute; left:50%; top:115px; margin-left:-28px; font-size:13px; color:#666; font-family:'dinpro'; letter-spacing:4px;} 
	#classicListBody .section .yearArea {position:absolute; left:50%; top:98px; /* width:230px; height:75px; margin-left:-115px; */ width:440px; height:170px; margin-left:-220px; text-indent:-3000em; transition:all .5s cubic-bezier(0.77, 0, 0.175, 1); text-align:left; z-index:5;}
	#classicListBody .section .nowTxt {visibility:hidden; opacity:0; position:absolute; left:50%; top:145px; height:229px; top:110px; text-indent:-3000em; transition:all .7s cubic-bezier(0.77, 0, 0.175, 1); text-align:left;}
	#classicListBody .section .nowTxt1 {width:300px; margin-left:-270px; background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/common/now.png) no-repeat 0 0; z-index:3;}
	#classicListBody .section .nowTxt2 {width:187px; margin-left:30px;  background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/common/now.png) no-repeat 100% 0;}
	#classicListBody .section.next .since {margin-left:-335px;} 
	#classicListBody .section.next .yearArea {margin-left:-345px; background-position:0 50% !important;}
	#classicListBody .section.prev .since {margin-left:120px;}  
	#classicListBody .section.prev .yearArea {margin-left:90px; background-position:0 50% !important;} 
	#classicListBody .section .cont {position:relative; margin-top:35px; height:103px; text-align:center;} 
	#classicListBody .section.next .cont {text-align:left;}  
	#classicListBody .section.prev .cont {text-align:right;}  
	#classicListBody .section strong {position:relative; display:inline-block; padding:0 20px; color:#666; font-size:34px; letter-spacing:5px; font-style:italic; font-family:'dinpro'; line-height:38px; font-weight:normal; transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1)}
	#classicListBody .section strong span {position:relative; display:block; z-index:1; line-height:38px; transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1)}
	#classicListBody .section strong:before {content:""; position:absolute; left:0; top:19px; background:#b71c26; height:2px; width:0; font-size:0; line-height:0; transition:all 1s cubic-bezier(0.77, 0, 0.175, 1)}
	#classicListBody .section.next strong span  {padding-left:70px;}
	#classicListBody .section.prev strong span {text-align:right; padding-right:70px;} 
	#classicListBody .section p {opacity:0; padding-top:10px; text-align:center; color:#fff; font-size:15px; line-height:20px; font-family: 'NotoSansKR'; font-weight:300; transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1)}
	 
	#classicListBody .section.section1994 .yearArea {background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/year_1994_off.png) no-repeat 50% 50%;}
	#classicListBody .section.section1987 .yearArea {background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/year_1987_off.png) no-repeat 50% 50%;}
	#classicListBody .section.section1985 .yearArea {background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/year_1985_off.png) no-repeat 50% 50%;}
	#classicListBody .section.section1983 .yearArea {background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/year_1983_off.png) no-repeat 50% 50%;}
	#classicListBody .section.section1982 .yearArea {background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/year_1982_off.png) no-repeat 50% 50%;}
	
	#classicListBody .section.on a {cursor:pointer;}
	#classicListBody .section.on .since {display:none;} 
	#classicListBody .section.on .yearArea {left:50%; top:90px; width:440px; height:170px; margin-left:-220px;}
	#classicListBody .section.on strong {display:inline-block; color:#fff;}
	#classicListBody .section.on strong:before {width:100%;  transition:width 1s cubic-bezier(0.77, 0, 0.175, 1)} 
	#classicListBody .section.on p {opacity:1;}
	#classicListBody .section.section1994.on .yearArea {background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/year_1994_on.png) no-repeat 50% 50%;}
	#classicListBody .section.section1987.on .yearArea {background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/year_1987_on.png) no-repeat 50% 50%;}
	#classicListBody .section.section1985.on .yearArea {background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/year_1985_on.png) no-repeat 50% 50%;}
	#classicListBody .section.section1983.on .yearArea {background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/year_1983_on.png) no-repeat 50% 50%;}
	#classicListBody .section.section1982.on .yearArea {background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/year_1982_on.png) no-repeat 50% 50%;}
#classicWrap.detailShow {position:static;}
#classicWrap.detailShow #classicListArea .titTypeA {display:none;} 
#classicWrap.detailShow #classicList {overflow:visible;}
#classicWrap.detailShow #classicListBody .section {visibility:hidden !important; transition:all 0s cubic-bezier(0.77, 0, 0.175, 1)}
#classicWrap.detailShow #classicListBody .section.on {visibility:visible !important;}
#classicWrap.detailShow #classicListBody .section.on a {cursor:default;}
#classicWrap.detailShow #classicListBody .section.on .thum {transform:rotate(22deg)}
#classicWrap.detailShow #classicListBody .section.on .yearArea {z-index:5;}
#classicWrap.detailShow #classicListBody .section.on.now .yearArea {visibility:hidden; opacity:0;}
#classicWrap.detailShow #classicListBody .section.on.now .nowTxt {visibility:visible; opacity:1; display:block;} 
#classicWrap.detailShow #classicListBody .section.on .cont {margin-top:-467px;}  
#classicWrap.detailShow #classicListBody .section.on .cont strong {font-style:normal; font-size:30px; font-family:'ReefontCondensed'; letter-spacing:10px; line-height:30px; font-weight:400;}
#classicWrap.detailShow #classicListBody .section.on .cont strong:before {display:none;}
#classicWrap.detailShow #classicListBody .section.on .cont p {display:none;}

#classicWrap.detailShow #classicList.open #classicListBody .section.on.now .cont {margin-top:-400px; transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1)}
#classicWrap.detailShow #classicList.open #classicListBody .section.on.now .thum { transform:rotate(22deg) scale(.9,.9);}
#classicWrap.detailShow #classicList.open #classicListBody .section.on.now .nowTxt,
#classicWrap.detailShow #classicList.open #classicListBody .section.on.now .yearArea {transform:scale(.9,.9)}



/* �긽�꽭 */

.pastArea .move1,
.pastArea .move2,
.pastArea .move3,
.pastArea .move4 {transition:transform .5s cubic-bezier(0.77, 0, 0.175, 1);}
.pastArea.move .move1 {transform:translateY(1000px);}
.pastArea.move .move2 {transform:translateY(800px);}
.pastArea.move .move3 {transform:translateY(600px);}
.pastArea.move .move4 {transform:translateY(500px);} 

.classicDetail {position:relative; width:100%;  z-index:9; overflow:hidden;}
.classicDetail .btnBuy {position:fixed; display:block; left:50%; top:151px; width:80px; height:30px; padding-left:2px; margin-left:515px; background:#000; color:#fff; font-family: 'dinpro bold'; text-align:center; line-height:30px; font-size:14px; letter-spacing:2px; box-sizing:border-box; z-index:60;}
.classicDetail .lineUpArea {padding:200px 0 110px;}  
.classicDetail .lineUpArea strong.tit {display:block; padding-left:11px; padding-bottom:25px; font-size:20px; line-height:34px; color:#000; letter-spacing:11px; text-align:center; box-sizing:border-box;font-family: 'dinpro bold';}
.classicDetail .lineUpArea ul {width:1190px; margin:0 auto;}
.classicDetail .lineUpArea ul:after {content:""; display:block; clear:both;}
.classicDetail .lineUpArea ul li {float:left; width:150px; margin-left:58px;}
.classicDetail .lineUpArea ul li:first-child {margin-left:0;} 
.classicDetail .lineUpArea ul li p {padding-top:5px; font-family:'NotoSansKR'; font-weight:300; font-size:14px; line-height:18px; text-align:center; color:#292222; letter-spacing:-0.6px;}

#footBtnArea {position:fixed; left:50%; bottom:0; margin-left:-40px; z-index:10; transition:transform .5s cubic-bezier(0.77, 0, 0.175, 1);} 
#footBtnArea.move {transform:translateY(500px); }
#footBtnArea a {position:relative; display:inline-block; width:80px; height:72px; background:#b71c26;}
#footBtnArea a span {display:inline-block; text-indent:-3000em; text-align:left; height:0px; width:80px; font-size:0; line-height:0;}
#footBtnArea a span:before,
#footBtnArea a:after,
#footBtnArea a:before {content:""; display:block; width:26px; height:2px; position:absolute; left:50%; margin-left:-13px; font-size:0; line-height:0; background:rgba(255,255,255,.8);}
#footBtnArea a span:before {top:34px;}
#footBtnArea a:after {top:24px;}
#footBtnArea a:before  {top:44px;}

/* INSTAPUMP FURY  1994 */
#classicDetail1994 .pastArea {position:relative; height:890px; max-width:1190px; margin:0 auto; }
#classicDetail1994 .pastArea .section1 {position:absolute; top:220px; left:20px;}
#classicDetail1994 .pastArea .section1:before {content:""; position:absolute; right:170px; top:-160px; display:block; height:270px; width:300px; background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/common/bg_stripe_v.png) repeat;}
#classicDetail1994 .pastArea .section1 strong {color:#fff; font-size:22px; font-weight:300; line-height:34px; font-family: 'NotoSansKR';}    
#classicDetail1994 .pastArea .section1 p {padding-top:10px; font-size:14px; line-height:26px; color:#c6bdaf; font-family: 'NotoSansKR';}
/* 20180409 ���� */
#classicDetail1994 .pastArea .section2 {position:absolute; top:147px; right:25px;}
#classicDetail1994 .pastArea .section2:before {content:""; position:absolute; bottom:48px; right:35px; display:block; width:115px; height:115px; background:#393838; z-index:-1;}    
/* // 20180409 ���� */
#classicDetail1994 .pastArea .section3 {position:absolute; top:525px; left:90px;} 
#classicDetail1994 .pastArea .section3:before {content:""; position:absolute; top:40px; right:-115px; display:block; width:750px; height:329px; background:rgba(106,100,45,.2); z-index:-1;}      
#classicDetail1994 .pastArea .section4 {position:absolute; top:560px; right:30px;}
#classicDetail1994 .pastArea .section4 p {position:absolute; padding-right:190px; right:0; bottom:80px; color:#565656; font-size:15px; line-height:20px; font-family:'dinpro'; letter-spacing:30px;}
#classicDetail1994 .nowArea {position:relative; height:890px; max-width:1190px; margin:0 auto; }
#classicDetail1994 .nowArea .section1 {position:absolute; top:140px; left:15px;}
#classicDetail1994 .nowArea .section1 span {display:inline-block; padding:0 24px; color:#b1b1b1; font-family:'NotoSansKR'; font-weight:300; line-height:40px; background:#1f1f1f; font-size:14px; }
#classicDetail1994 .nowArea .section2 {position:absolute; top:155px; right:20px; width:270px;}
#classicDetail1994 .nowArea .section2 .sidePaging {position:absolute; left:0; bottom:-25px; width:100%; text-align:center;}
#classicDetail1994 .nowArea .section2 .sidePaging a {display:inline-block; width:8px; height:8px; margin:0 5px; border-radius:50%; background:#616161; line-height:0; font-size:0; text-indent:-3000em;}
#classicDetail1994 .nowArea .section2 .sidePaging a.activeSlide {background:#b71c26;}
#classicDetail1994 .nowArea .section2 .contSlide {width:270px; height:197px;}
#classicDetail1994 .nowArea .section2 .contSlide li img {width:100%;}
#classicDetail1994 .nowArea .section2 .contSlide li a {display:block; position:absolute; right:10px; top:10px; width:30px; height:30px; background:url(//image.reebok.co.kr/images/reebok/efu2018/btn/btn_more.png) no-repeat 0 0;}
#classicDetail1994 .nowArea .section3 {position:absolute; top:470px; left:30px;}
#classicDetail1994 .nowArea .section3 strong {display:block; padding:0 0 15px 15px; text-align:center; color:#fff; font-size:16px; line-height:18px; letter-spacing:15px; font-family: 'dinpro bold';}
#classicDetail1994 .nowArea .section3 div {display:table; width:250px; height:231px; background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/1994/banner5.jpg) no-repeat 0 0;}
#classicDetail1994 .nowArea .section3 div a {display:block; width:100%; height:100%; text-align:center;}
#classicDetail1994 .nowArea .section3 p {/*display:table-cell;*/  padding-top:50px; width:100%; text-align:center; font-size:15px; line-height:26px; letter-spacing:-1px; font-family:'NotoSansKR'; font-weight:300; color:#fff; vertical-align:middle;}
#classicDetail1994 .nowArea .section4 {position:absolute; top:660px; right:70px;}


/* WORK OUT 1987 */
#classicDetail1987 .pastArea {position:relative; height:890px; max-width:1190px; margin:0 auto; }
#classicDetail1987 .pastArea .section1 {position:absolute; top:147px; left:0px;}
/* 20180409 ���� */
#classicDetail1987 .pastArea .section1 p {position:absolute; top:209px; right:-100px; color:#565656; font-size:15px; line-height:20px; font-family:'dinpro'; letter-spacing:36px; writing-mode:tb-rl; z-index:9;}   
#classicDetail1987 .pastArea .section2 {position:absolute; top:147px; right:15px;}
#classicDetail1987 .pastArea .section2 img.move2 {position:absolute; top:41px; left:-159px}
#classicDetail1987 .pastArea .section2:before {content:""; position:absolute; top:140px; right:-235px; display:block; width:567px; height:423px; background:rgba(155,90,75,.3); z-index:-1;}   
#classicDetail1987 .pastArea .section2:after {content:""; position:absolute; top:46px; right:58px; display:block; width:115px; height:115px; background:#1b2630; z-index:-1;}  
#classicDetail1987 .pastArea .section3 {position:absolute; top:525px; left:150px;} 
#classicDetail1987 .pastArea .section3:before {content:""; position:absolute; top:-20px; left:-85px; display:block; width:115px; height:115px; background:#000; z-index:-1;}     
/* // 20180409 ���� */
#classicDetail1987 .pastArea .section4 {position:absolute; top:586px; right:30px;}
#classicDetail1987 .pastArea .section4:before {content:""; position:absolute; right:-358px; top:25px; display:block; height:270px; width:300px; background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/common/bg_stripe_h.png) repeat;}
#classicDetail1987 .pastArea .section4 .move4 {position:absolute; top:-30px; right:0px; width:209px;}
#classicDetail1987 .pastArea .section4 strong {color:#fff; font-size:22px; font-weight:300; line-height:34px; font-family: 'NotoSansKR'; padding-left:21px;}    
#classicDetail1987 .pastArea .section4 p {padding-top:10px; font-size:14px; line-height:26px; color:#c6bdaf; font-family: 'NotoSansKR'; text-align:right;}
#classicDetail1987 .nowArea {position:relative; height:890px; max-width:1190px; margin:0 auto; }
#classicDetail1987 .nowArea .section1 {position:absolute; top:140px; left:15px;}
#classicDetail1987 .nowArea .section1 .contSlide {width:270px; height:197px;}
#classicDetail1987 .nowArea .section1 .contSlide li img {width:100%;}
#classicDetail1987 .nowArea .section1 .contSlide li a {display:block; position:absolute; right:10px; top:10px; width:30px; height:30px; background:url(//image.reebok.co.kr/images/reebok/efu2018/btn/btn_more.png) no-repeat 0 0;}
#classicDetail1987 .nowArea .section1 .sidePaging {position:absolute; left:0; bottom:-25px; width:100%; text-align:center;}
#classicDetail1987 .nowArea .section1 .sidePaging a {display:inline-block; width:8px; height:8px; margin:0 5px; border-radius:50%; background:#616161; line-height:0; font-size:0; text-indent:-3000em;}
#classicDetail1987 .nowArea .section1 .sidePaging a.activeSlide {background:#b71c26;}
#classicDetail1987 .nowArea .section2 {position:absolute; top:155px; right:20px; width:270px;}
#classicDetail1987 .nowArea .section2 span {display:inline-block; padding:0 24px; color:#b1b1b1; font-family:'NotoSansKR'; font-weight:300; line-height:40px; background:#1f1f1f; font-size:14px;}
#classicDetail1987 .nowArea .section2 .contSlide {width:250px; height:197px;}
#classicDetail1987 .nowArea .section3 {position:absolute; top:470px; left:30px;}
#classicDetail1987 .nowArea .section3 strong {display:block; padding:0 0 15px 15px; text-align:center; color:#fff; font-size:16px; line-height:18px; letter-spacing:15px; font-family: 'dinpro bold';}
#classicDetail1987 .nowArea .section3 div {display:table; width:250px; height:231px; background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/1987/banner5.jpg) no-repeat 0 0;}
#classicDetail1987 .nowArea .section3 div a {display:block; width:100%; height:100%; text-align:center;}
#classicDetail1987 .nowArea .section3 p {/*display:table-cell;*/  padding-top:50px; width:100%; text-align:center; font-size:15px; line-height:26px; letter-spacing:-1px; font-family:'NotoSansKR'; font-weight:300; color:#fff; vertical-align:middle;}
#classicDetail1987 .nowArea .section4 {position:absolute; top:660px; right:70px;}


/* CLUB C 1985 */
#classicDetail1985 .pastArea {position:relative; height:890px; max-width:1190px; margin:0 auto; }
#classicDetail1985 .pastArea .section1 {position:absolute; top:114px; left:-50px;}
#classicDetail1985 .pastArea .section1:before {content:""; position:absolute; top:198px; right:-174px; display:block; width:423px; height:596px; background:rgba(78,22,24,.4); z-index:-1;}     
#classicDetail1985 .pastArea .section1:after {content:""; position:absolute; top:608px; right:193px; display:block; width:277px; height:188px; background:rgba(0,0,0,.2); z-index:-1;}     
#classicDetail1985 .pastArea .section2 {position:absolute; top:190px; right:27px;}
#classicDetail1985 .pastArea .section2:before {content:""; position:absolute; bottom:-488px; right:-42px; display:block; width:115px; height:115px; background:#201e32; z-index:-1;}    
#classicDetail1985 .pastArea .section3 {position:absolute; top:476px; left:-47px;} 
#classicDetail1985 .pastArea .section3 strong {color:#fff; font-size:22px; font-weight:300; line-height:34px; font-family:'DINWebPro-CondLight'; letter-spacing:3px;}    
#classicDetail1985 .pastArea .section3 p {padding-top:10px; font-size:14px; line-height:26px; color:#c6bdaf; font-family: 'NotoSansKR';}
#classicDetail1985 .pastArea .section3:before {content:""; position:absolute; right:-246px; top:201px; display:block; height:102px; width:375px; background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/common/bg_stripe_s.png) repeat;}
#classicDetail1985 .pastArea .section4 {position:absolute; top:560px; right:30px;}
#classicDetail1985 .pastArea .section4 p {position:absolute; padding-right:190px; right:0; bottom:0px; width:243px; color:#565656; font-size:15px; line-height:20px; font-family:'dinpro'; letter-spacing:30px;}
#classicDetail1985 .nowArea {position:relative; height:890px; max-width:1190px; margin:0 auto;}
#classicDetail1985 .nowArea .section1 {position:absolute; top:160px; left:-30px;}
#classicDetail1985 .nowArea .section1 strong {display:block; padding:0 0 15px 15px; text-align:center; color:#fff; font-size:16px; line-height:18px; letter-spacing:15px; font-family: 'dinpro bold';}
#classicDetail1985 .nowArea .section1 div {display:table; width:250px; height:231px; background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/1985/banner4.jpg) no-repeat 0 0;}
#classicDetail1985 .nowArea .section1 div a {display:block; width:100%; height:100%; text-align:center;}
#classicDetail1985 .nowArea .section1 p {/*display:table-cell;*/ padding-top:50px; width:100%; text-align:center; font-size:15px; line-height:26px; letter-spacing:-1px; font-family:'NotoSansKR'; font-weight:300; color:#fff; vertical-align:middle;}
#classicDetail1985 .nowArea .section2 {position:absolute; top:140px; right:15px;}
#classicDetail1985 .nowArea .section2 span {display:inline-block; padding:0 24px; color:#b1b1b1; font-family:'NotoSansKR'; font-weight:300; line-height:40px; background:#1f1f1f; font-size:14px;}
#classicDetail1985 .nowArea .section3 {position:absolute; top:500px; left:17px;}
#classicDetail1985 .nowArea .section4 {position:absolute; top:155px; right:20px; width:270px;}
#classicDetail1985 .nowArea .section4 .sidePaging {position:absolute; left:0; bottom:-25px; width:100%; text-align:center;}
#classicDetail1985 .nowArea .section4 .sidePaging a {display:inline-block; width:8px; height:8px; margin:0 5px; border-radius:50%; background:#616161; line-height:0; font-size:0; text-indent:-3000em;}
#classicDetail1985 .nowArea .section4 .sidePaging a.activeSlide {background:#b71c26;}
#classicDetail1985 .nowArea .section4 {position:absolute; top:580px; right:22px;}
#classicDetail1985 .nowArea .section4 .contSlide {width:270px; height:197px;}
#classicDetail1985 .nowArea .section4 .contSlide li img {width:100%;}
#classicDetail1985 .nowArea .section4 .contSlide li a {display:block; position:absolute; right:10px; top:10px; width:30px; height:30px; background:url(//image.reebok.co.kr/images/reebok/efu2018/btn/btn_more.png) no-repeat 0 0;}


/* CLASSIC LEATHER 1983 */
#classicDetail1983 .pastArea {position:relative; height:890px; max-width:1190px; margin:0 auto;}
/* 20180409 ���� */
#classicDetail1983 .pastArea .section1 {position:absolute; top:143px; left:46px;}
#classicDetail1983 .pastArea .section1:before {content:""; position:absolute; top:130px; right:-13px; display:block; width:704px; height:398px; background:rgba(0,34,111,.5); z-index:-1;}   
/* // 20180409 ���� */
#classicDetail1983 .pastArea .section2 {position:absolute; top:273px; right:15px;}
#classicDetail1983 .pastArea .section2:before {content:""; position:absolute; bottom:-38px; left:169px; display:block; width:115px; height:115px; background:#6a090a; z-index:-1;}     
#classicDetail1983 .pastArea .section3 {position:absolute; top:460px; left:-30px;}
#classicDetail1983 .pastArea .section3 strong {color:#fff; font-size:22px; font-weight:300; line-height:34px; font-family:'DINWebPro-CondLight'; letter-spacing:3px;}    
#classicDetail1983 .pastArea .section3 p {padding-top:10px; font-size:14px; line-height:26px; color:#b1b1b1; font-family: 'NotoSansKR';}
#classicDetail1983 .pastArea .section4 {position:absolute; top:586px; right:30px;}
#classicDetail1983 .pastArea .section4:before {content:""; position:absolute; right:768px; top:11px; display:block; height:426px; width:283px; background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/common/bg_stripe_v.png) repeat;}
#classicDetail1983 .pastArea .section4 .move4 {position:absolute; top:84px; right:900px; width:209px;}
#classicDetail1983 .pastArea .section4 p {position:absolute; top:-74px; right:111px; color:#565656; font-size:15px; line-height:20px; font-family:'dinpro'; letter-spacing:38px; writing-mode:tb-rl; z-index:9; line-height:39px;}   
#classicDetail1983 .nowArea {position:relative; height:890px; max-width:1190px; margin:0 auto; }
#classicDetail1983 .nowArea .section1 {position:absolute; top:140px; left:15px;}
#classicDetail1983 .nowArea .section1 .contSlide {width:270px; height:197px;}
#classicDetail1983 .nowArea .section1 .contSlide li img {width:100%;}
#classicDetail1983 .nowArea .section1 .contSlide li a {display:block; position:absolute; right:10px; top:10px; width:30px; height:30px; background:url(//image.reebok.co.kr/images/reebok/efu2018/btn/btn_more.png) no-repeat 0 0;}
#classicDetail1983 .nowArea .section1 .sidePaging {position:absolute; left:0; bottom:-25px; width:100%; text-align:center;}
#classicDetail1983 .nowArea .section1 .sidePaging a {display:inline-block; width:8px; height:8px; margin:0 5px; border-radius:50%; background:#616161; line-height:0; font-size:0; text-indent:-3000em;}
#classicDetail1983 .nowArea .section1 .sidePaging a.activeSlide {background:#b71c26;}
#classicDetail1983 .nowArea .section1 .contSlide {width:270px; height:197px;}
#classicDetail1983 .nowArea .section2 {position:absolute; top:238px; right:20px; width:270px;}
#classicDetail1983 .nowArea .section2 span {display:inline-block; padding:0 24px; color:#b1b1b1; font-family:'NotoSansKR'; font-weight:300; line-height:40px; background:#1f1f1f; font-size:14px;}
#classicDetail1983 .nowArea .section3 {position:absolute; top:560px; left:-30px;}
#classicDetail1983 .nowArea .section3 strong {display:block; padding:0 0 15px 15px; text-align:center; color:#fff; font-size:16px; line-height:18px; letter-spacing:15px; font-family: 'dinpro bold';}
#classicDetail1983 .nowArea .section3 div {display:table; width:250px; height:231px; background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/1983/banner5.jpg) no-repeat 0 0;}
#classicDetail1983 .nowArea .section3 div a {display:block; width:100%; height:100%; text-align:center;}
#classicDetail1983 .nowArea .section3 p {/*display:table-cell;*/  padding-top:75px; width:100%; text-align:center; font-size:15px; line-height:26px; letter-spacing:-1px; font-family:'NotoSansKR'; font-weight:300; color:#fff; vertical-align:middle;}
#classicDetail1983 .nowArea .section4 {position:absolute; top:660px; right:70px;}


/* FREESTYLE HI 1982 */
#classicDetail1982 .pastArea {position:relative; height:890px; max-width:1190px; margin:0 auto; }
#classicDetail1982 .pastArea .section1 {position:absolute; top:147px; left:0px;}
#classicDetail1982 .pastArea .section1 p {position:absolute; top:380px; right:170px; color:#565656; font-size:15px; line-height:20px; font-family:'dinpro'; letter-spacing:15px; writing-mode:tb-rl; z-index:9; height:330px;}   
/* 20180409 ����*/
#classicDetail1982 .pastArea .section2 {position:absolute; top:178px; right:15px;}
#classicDetail1982 .pastArea .section2:before {content:""; position:absolute; top:106px; right:-83px; display:block; width:380px; height:566px; background:rgba(147,128,96,.5); z-index:-1;}   
#classicDetail1982 .pastArea .section3 {position:absolute; top:597px; left:150px;} 
#classicDetail1982 .pastArea .section3:before {content:""; position:absolute; top:98px; left:-85px; display:block; width:115px; height:115px; background:rgba(58,15,16,.8); z-index:-1;}     
/* // 20180409 ����*/
#classicDetail1982 .pastArea .section3:after {content:""; position:absolute; right:-223px; top:-19px; display:block; height:119px; width:367px; background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/common/bg_stripe_s.png) repeat; z-index:-2;}
#classicDetail1982 .pastArea .section4 {position:absolute; top:526px; right:0px;}
#classicDetail1982 .pastArea .section4 .move4 {position:absolute; top:-30px; right:0px; width:260px;}
#classicDetail1982 .pastArea .section4 strong {color:#fff; font-size:22px; font-weight:300; line-height:34px; font-family: 'NotoSansKR'; padding-left:113px; text-align:right;}    
#classicDetail1982 .pastArea .section4 strong.paddingLeft {color:#fff; font-size:22px; font-weight:300; line-height:34px; font-family: 'NotoSansKR'; padding-left:158px; text-align:right;}    
#classicDetail1982 .pastArea .section4 p {padding-top:10px; font-size:14px; line-height:26px; color:#c6bdaf; font-family: 'NotoSansKR'; text-align:right;}
#classicDetail1982 .nowArea {position:relative; height:890px; max-width:1190px; margin:0 auto; }
#classicDetail1982 .nowArea .section3 {position:absolute; top:490px; left:15px;}
#classicDetail1982 .nowArea .section3 .contSlide {width:270px; height:197px;}
#classicDetail1982 .nowArea .section3 .contSlide li img {width:100%;}
#classicDetail1982 .nowArea .section3 .contSlide li a {display:block; position:absolute; right:10px; top:10px; width:30px; height:30px; background:url(//image.reebok.co.kr/images/reebok/efu2018/btn/btn_more.png) no-repeat 0 0;}
#classicDetail1982 .nowArea .section3 .sidePaging {position:absolute; left:0; bottom:-25px; width:100%; text-align:center;}
#classicDetail1982 .nowArea .section3 .sidePaging a {display:inline-block; width:8px; height:8px; margin:0 5px; border-radius:50%; background:#616161; line-height:0; font-size:0; text-indent:-3000em;}
#classicDetail1982 .nowArea .section3 .sidePaging a.activeSlide {background:#b71c26;}
#classicDetail1982 .nowArea .section1 {position:absolute; top:155px; left:20px; width:270px;}
#classicDetail1982 .nowArea .section1 span {display:inline-block; padding:0 24px; color:#b1b1b1; font-family:'NotoSansKR'; font-weight:300; line-height:40px; background:#1f1f1f; font-size:14px;}
#classicDetail1982 .nowArea .section2 {position:absolute; top:170px; right:30px;}
#classicDetail1982 .nowArea .section2 strong {display:block; padding:0 0 15px 15px; text-align:center; color:#fff; font-size:16px; line-height:18px; letter-spacing:15px; font-family: 'dinpro bold';}
#classicDetail1982 .nowArea .section2 div {display:table; width:250px; height:231px; background:url(//image.reebok.co.kr/images/reebok/efu2018/brand/classic/1982/banner4.jpg) no-repeat 0 0;}
#classicDetail1982 .nowArea .section2 div a {display:block; width:100%; height:100%; text-align:center;}
#classicDetail1982 .nowArea .section2 p {/*display:table-cell;*/  padding-top:65px; width:100%; text-align:center; font-size:15px; line-height:26px; letter-spacing:-1px; font-family:'NotoSansKR'; font-weight:300; color:#fff; vertical-align:middle;}
#classicDetail1982 .nowArea .section4 {position:absolute; top:660px; right:70px;}

/* 20180409 css �߰�*/
.classicDetail .lineUpArea02 {padding:200px 0 110px; text-align:center;}  
.classicDetail .lineUpArea02 strong.tit {display:block; padding-left:11px; padding-bottom:25px; font-size:20px; line-height:34px; color:#000; letter-spacing:11px; text-align:center; box-sizing:border-box;font-family: 'dinpro bold';}
.classicDetail .lineUpArea02 ul {display:inline-block; margin:0 auto;}
.classicDetail .lineUpArea02 ul:after {content:""; display:block; clear:both;}
.classicDetail .lineUpArea02 ul li {float:left; width:150px; margin-left:58px;}
.classicDetail .lineUpArea02 ul li:first-child {margin-left:0;} 
.classicDetail .lineUpArea02 ul li p {padding-top:5px; font-family:'NotoSansKR'; font-weight:300; font-size:14px; line-height:18px; text-align:center; color:#292222; letter-spacing:-0.6px;}

