/* main  */
#efu_mainWrap #wrapper {min-width:1190px;}/*20180327*/
#efu_mainWrap #wrapper:before {content:""; display:block; clear:both; position:absolute; left:0; top:0; width:100%; height:200px; background:url("/images/reebok/efu2018/common/gradienBg.png") repeat-x 0 0; }
#visualArea {position:relative; left:0; top:0; width:100%; height:1000px; max-height:1000px; min-height:900px; overflow:hidden; z-index:10; transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1);}
#visualArea.small {position:fixed;  min-height:0; height:130px !important;}
#visualArea .section {position:absolute; left:0; top:0; width:100%; height:100%; overflow:hidden;} 
#visualArea #section1 {z-index:10;} 
#visualArea .section.before {z-index:1;}
#visualArea .section.on {z-index:20;}
#visualArea .section:after {content:""; display:block; position:absolute; left:0; top:0; width:100%; height:100%; background:url(//image.reebok.co.kr/images/reebok/efu2018/main/dot2.gif) repeat; opacity:.5;}
#visualArea.small .section:after {background:#333 url(//image.reebok.co.kr/images/reebok/efu2018/main/dot2.gif) repeat; opacity:.5;}
#visualArea .section canvas,
#visualArea .section .afterShow,
#visualArea .section .afterShow {position:absolute; left:50%; top:50%; width:2000px; height:1000px; margin-left:-1000px; margin-top:-500px;}
#visualArea .section .afterShow {opacity:0;}
#visualArea .section .visualProArea {opacity:0; position:fixed; bottom:-115px; left:50%; width:1190px; height:133px; margin-left:-595px; *zoom:1;  transition:all 0.5s cubic-bezier(0.77, 0, 0.175, 1); z-index:10;}
#visualArea.small .section .visualProArea {opacity:0 !important;}
#visualArea .section .visualProArea.show {bottom:0; opacity:1;}
#visualArea .section .visualProArea:after {content:""; display:block; clear:both;}
#visualArea .section .visualProArea li {position:relative; float:left; width:33.3%; height:100%; box-sizing:border-box; vertical-align:bottom; transition:all 0.2s cubic-bezier(0.77, 0, 0.175, 1);}
#visualArea .section .visualProArea li:first-child {width:33.4%; }
#visualArea .section .visualProArea li a {position:relative; display:block; height:115px; margin-top:18px; padding:25px 0 0 175px; background:#fff; box-sizing:border-box; /* border-left:1px solid #e3e3e3; */ transition:all 0.2s cubic-bezier(0.77, 0, 0.175, 1);}
#visualArea .section .visualProArea li:first-child a {border-left:none; }
#visualArea .section .visualProArea li .thum {position:absolute; left:20px; top:0; width:115px; height:115px; transition:all 0.2s cubic-bezier(0.77, 0, 0.175, 1);} 
#visualArea .section .visualProArea li span {display:block; font-size:11px; color:#b0b0b0; line-height:16px; font-weight:400; font-family: 'NotoSansKR';}
#visualArea .section .visualProArea li strong {display:block; font-size:15px; color:#2d2d2d; line-height:20px; font-weight:500; font-family: 'NotoSansKR';}
#visualArea .section .visualProArea li .cost {padding-top:7px; color:#464646; font-weight:500; transition:all 0.2s cubic-bezier(0.77, 0, 0.175, 1); font-family: 'NotoSansKR';}
#visualArea .section .visualProArea li .cost b {display:inline-block; font-size:18px; color:#272323; font-weight:900;}
#visualArea .section .visualProArea li .txt {display:none; padding-top:10px; color:#c80000; font-size:12px; font-weight:700; font-size:12px; transition:all 0.2s cubic-bezier(0.77, 0, 0.175, 1);}
/*20180709 수정*/
#visualArea .section .visualProArea li .txt:after {content:"▶"; margin-left:5px; color:#c80000; font-size:10px;}
#visualArea .section .visualProArea li a:hover {margin-top:0px; height:133px; padding-top:34px;}
#visualArea .section .visualProArea li a:hover .thum {top:9px;}
#visualArea .section .visualProArea li a:hover .cost {display:none;}
#visualArea .section .visualProArea li a:hover .txt {display:block;}
#visualArea .section .visualProArea li.on a {margin-top:0px; height:133px; padding-top:34px;}
#visualArea .section .visualProArea li.on a .thum {top:9px;}
#visualArea .section .visualProArea li.on a .cost {display:none;}
#visualArea .section .visualProArea li.on a .txt {display:block;}
#visualArea .section .btnArea {display:none; position:absolute; left:50%; top:50%; margin:-80px 0 0 -583px; z-index:2;} 
#visualArea .section .btnArea a {display:block; margin-bottom:15px; width:140px; height:42px; padding-left:10px; background:rgba(0,0,0,.1); line-height:40px; border:1px solid rgba(255,255,255,.7); color:rgba(255,255,255,.7); font-size:17px; font-family:ReefontCondensed; letter-spacing:10px; text-align:center; box-sizing:border-box; transition:background 0.2s cubic-bezier(0.77, 0, 0.175, 1);}
#visualArea .section .btnArea a:hover {background:rgba(0,0,0,.3);}
/* mainbanner_link_area 180905 */
#visualArea .section .view_link_area{display: inline-block;position: absolute;width: 1190px;height: 74vh;top: 13vh;left: 50%;transform: translateX(-50%);z-index: 1;/*background: rgba(0, 0, 0, 0.5);*/}
#visualPaging {position:absolute; right:-600px; top:160px; z-index:30; transition:right 0.2s cubic-bezier(0.77, 0, 0.175, 1);}
#visualPaging li {float:left; width:190px; text-align:center;}
#visualPaging li.on {display:none;}
#visualPaging li a {position:relative; display:inline-block; height:90px; vertical-align:top;}
#visualPaging li a:before {content:""; display:block; width:100%; height:100%; position:absolute; left:0; top:0; background:rgba(0,0,0,.4); transition:opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1);}
#visualPaging.over li a:before {opacity:0;}
#visualPaging li a img {height:100%;}

/* now reebok */
#efu_mainWrap h2 {padding:40px 0 64px 0; font-size:22px; color:#000; font-family: 'ReefontCondensed'; text-align:center; letter-spacing:14px;}
#efu_mainWrap .mainSection {background:#e9e9e9;}
.newReebok {margin:0 auto; padding-bottom:115px; width:1190px;}
.newReebok ul:after {content:""; display:block; clear:both;}
.newReebok ul li {float:left; margin-left:55px; width:540px;}
.newReebok ul li:last-child {width:270px;}
.newReebok ul li:first-child {width:270px; margin-left:0;}
.newReebok ul li img {max-width:100%;} 
 
/* fitness, classic */
#efu_mainWrap .mainSection02 {position:relative; }
#efu_mainWrap .mainSection02 ul li:before {content:""; display:block; clear:both; position:absolute; left:0; top:0; width:100%; height:230px;background:url("/images/reebok/efu2018/main/fitness.jpg") no-repeat 0 0; background-size:51% auto; background-attachment:fixed;}
#efu_mainWrap .mainSection02 ul li + li:before {content:""; display:block; clear:both;  position:absolute; right:0; top:0; width:100%; height:230px;background:url("/images/reebok/efu2018/main/classic.jpg") no-repeat 0 0; background-size:50% auto;background-attachment:fixed;background-position-x:right}
#efu_mainWrap .mainSection02 ul {position:relative; margin:0 auto; min-width:1190px; height:230px;}
#efu_mainWrap .mainSection02 ul:after {content:""; display:block; clear:both;}
#efu_mainWrap .mainSection02 ul li  {position:absolute; left:0; top:0; float:left; width:50%; height:230px;}
#efu_mainWrap .mainSection02 ul li + li  {position:absolute; right:0; left:auto; top:0; z-index:1;}
#efu_mainWrap .mainSection02 ul li a {display:block; position:relative; width:100%; height:100%;}
#efu_mainWrap .mainSection02 ul li a p {position:absolute; right:118px; top:72px; width:376px; font-size:15px; color:#fff; font-family: 'NotoSansKR'; font-weight: 400; text-align:center; letter-spacing:11px;}
#efu_mainWrap .mainSection02 ul li a p span  {display:block; padding:20px 10px; margin-bottom:15px; font-size:30px; color:#00d8ff; font-family: 'dinpro bold'; font-weight:bold; letter-spacing:51px; border-top:1px solid rgba(100,100,100,0.45); border-bottom:1px solid rgba(100,100,100,0.45)}
#efu_mainWrap .mainSection02 ul li + li a p {left:118px; letter-spacing:6px;}
#efu_mainWrap .mainSection02 ul li + li a p span  {color:#ff0085; letter-spacing:40px;}

/* new, best */
#efu_mainWrap .mainSection03 ul {min-width:1190px; background:#fff;}
#efu_mainWrap .mainSection03 ul:after {content:""; display:block; clear:both;}
#efu_mainWrap .mainSection03 ul li {position:relative; float:left; width:20%; min-height:240px; font-size:20px; color:#000; font-family: 'dinpro bold'; text-align:center; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; box-sizing:border-box;}
#efu_mainWrap .mainSection03 ul li:nth-child(5n) {border-right:none;}
#efu_mainWrap .mainSection03 ul li:after {content:""; display:block; clear:both; position:absolute; right:0; top:0; width:55px; height:55px;}
/*#efu_mainWrap .mainSection03 ul li.tit {padding-top:9%; letter-spacing:3px;}
#efu_mainWrap .mainSection03 ul li.tit span.and {display:inline-block; position: absolute; left: 50%;top: 40%;margin-left: -36px; font-size:100px; color:#dfdfdf;}
#efu_mainWrap .mainSection03 ul li.tit span.best {margin-left:80px;}*/
#efu_mainWrap .mainSection03 ul li.new:after {background:url("/images/reebok/efu2018/blt/blt_new.png") no-repeat 0 0;}
#efu_mainWrap .mainSection03 ul li.best:after {background:url("/images/reebok/efu2018/blt/blt_best.png") no-repeat 0 0;}
#efu_mainWrap .mainSection03 ul li img {width:100%;}

/* trend magazine */

#efu_mainWrap .mainSection04 {position:relative; width:100%; height:700px;transition:all .5s cubic-bezier(0.77, 0, 0.175, 1); overflow:hidden;}
#efu_mainWrap .mainSection04.vm1Bg {position:relative; width:100%; height:700px;}
#efu_mainWrap .mainSection04.vm2Bg {position:relative; width:100%; height:700px;}
#efu_mainWrap .mainSection04 h2 {color:#fff;}
#efu_mainWrap .mainSection04 .trendList {position:absolute; left:50%; top:210px; margin-left:-595px; width:1190px; height:335px; z-index:1;}

#efu_mainWrap .mainSection04 .trendList .bx-wrapper {position:relative; height:335px !important; }
#efu_mainWrap .mainSection04 .trendList .bx-wrapper .bx-viewport {}
#efu_mainWrap .mainSection04 .trendList .bx-wrapper .bx-controls .bx-controls-direction {display:none;}


#efu_mainWrap .mainSection04 .trendList .bx-wrapper .bx-controls {position:absolute; left:10px; top:45px; }
#efu_mainWrap .mainSection04 .trendList .bx-wrapper .bx-controls .bx-pager-item a {display:inline-block; margin:10px 0; width:2px; height:2px; background:#fff; opacity:1; text-indent:-10000px;}
#efu_mainWrap .mainSection04 .trendList .bx-wrapper .bx-controls .bx-pager-item a.active {display:inline-block;width:2px; height:80px; background:#9d9d9d; border-radius:0; opacity:1;}
#efu_mainWrap .mainSection04 .trendList .trendListWrap {margin:140px 0 0 50px; height:320px;}
#efu_mainWrap .mainSection04 .trendList .trendListWrap li {float:inherit; padding-bottom:60px; height:65px !important; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;  -webkit-transition:all 0.2s cubic-bezier(0.77, 0, 0.175, 1); -moz-transition:all 0.2s cubic-bezier(0.77, 0, 0.175, 1); -o-transition:all 0.2s cubic-bezier(0.77, 0, 0.175, 1); transition:all 0.2s cubic-bezier(0.77, 0, 0.175, 1);}
#efu_mainWrap .mainSection04 .trendList .trendListWrap li span.sTxt {display:block; padding-bottom:20px; font-size:15px; color:#fff; font-weight:200; font-family: 'NotoSansKR'; opacity:0.3;}
#efu_mainWrap .mainSection04 .trendList .trendListWrap li span.txt {font-size:35px; color:#fff; font-family: 'NotoSansKR'; font-weight:300; opacity:0.3;}
#efu_mainWrap .mainSection04 .trendList .trendListWrap li.on span.txt {opacity:1;}
#efu_mainWrap .mainSection04 .trendList .trendListWrap li.on span.txt span.color {color:#b41f28;}
#efu_mainWrap .mainSection04 .trendList .trendListWrap li.on span.sTxt {opacity:1;}
#efu_mainWrap .mainSection04 .trendList .trendListWrap li.on span.txt img {margin-top:-31px;}


#efu_mainWrap .mainSection04 .vmWrap {position:absolute; right:0; top:0; /*width:0;*/ height:700px; background:#d5d5d5; opacity:0;transition:all .5s ease-in-out; z-index:2;}
#efu_mainWrap .mainSection04 .vmWrap.on {right:100%;width:100%; height:700px; transition:all .5s ease-in-out;}
#efu_mainWrap .mainSection04 .vmWrap:after {content:""; display:block; clear:both; position:absolute; left:50%; top:0; width:50%; height:700px; background:#e4e4e4;z-index:1;}
#efu_mainWrap .mainSection04 .vmWrap .vmWrapBg1 {position:relative; /*margin:0 auto; width:1600px;*/ height:700px; background:url("/images/reebok/efu2018/main/vmMenBg.jpg?v=1") no-repeat center center; z-index:2;}
#efu_mainWrap .mainSection04 .vmWrap .vmWrapBg2 {position:relative; /*margin:0 auto; width:1600px;*/ height:700px; background:url("/images/reebok/efu2018/main/vmWomenBg.jpg?v=1") no-repeat center center; z-index:2;}
#efu_mainWrap .mainSection04 .vmWrap.on .vmCont {position:absolute; right:50%; top:0; margin-right:-595px; width:1250px; height:700px; text-align:center;  z-index:2; transition:all .5s ease-in-out;}
#efu_mainWrap .mainSection04 .vmWrap .vmCont img {position:absolute; left:0; top:0;}
#efu_mainWrap .mainSection04 .vmWrap .smallBtn {position:absolute; left:0; top:93px; width:238px; height:84px;  transition:all .5s ease-in-out; z-index:2;}
#efu_mainWrap .mainSection04 .vmWrap.on .smallBtn {left:auto; right:0;}
#efu_mainWrap .mainSection04 .vmWrap .vmClose { position:absolute; left:0; top:320px; padding:19px 24px; background:#fff; z-index:2;}
#efu_mainWrap .mainSection04 .vmWrap.men.on {right:0; width:100%; opacity: 1; z-index:2;}
#efu_mainWrap .mainSection04 .vmWrap.women.on {right:0; width:100%; opacity: 1; z-index:1;}
#efu_mainWrap .mainSection04 .vmWrap .vmCont{left: 50%;margin-left: -625px;}

#efu_mainWrap .mainSection04 .vmWrap.women .vmWrapBg {position:relative; margin:0 auto; width:1600px; height:700px; background:url("/images/reebok/efu2018/main/vmWomenBg.jpg") no-repeat center center; z-index:2;}
#efu_mainWrap .mainSection04 .vmWrap:after {content:""; display:block; clear:both; left:0; width:100%;background:url("/images/reebok/efu2018/main/vmMenBg2.jpg") repeat-x center center; z-index:1;}
#efu_mainWrap .mainSection04 .vmWrap.vmWrapStyle2 .smallBtn {position:absolute; left:0; width:162px; height:52px; transition:all .5s ease-in-out; z-index:2; text-indent:-10000px;}
#efu_mainWrap .mainSection04 .vmWrap.vmWrapStyle2 .smallBtn.menBtn {top:93px; background:url("/images/reebok/efu2018/main/vmMen_s2_off.png?v=1") no-repeat 0 0;}
#efu_mainWrap .mainSection04 .vmWrap.vmWrapStyle2 .smallBtn.womenBtn {top:148px; background:url("/images/reebok/efu2018/main/vmWomen_s2_off.png?v=1") no-repeat 0 0;}
#efu_mainWrap .mainSection04 .vmWrap.vmWrapStyle2.on .smallBtn {left:auto; right:0;}
#efu_mainWrap .mainSection04 .vmWrap.men.on .menBtn {background:url("/images/reebok/efu2018/main/vmMen_s2_on.png?v=1") no-repeat 0 0;}
#efu_mainWrap .mainSection04 .vmWrap.women.on .womenBtn {background:url("/images/reebok/efu2018/main/vmWomen_s2_on.png?v=1") no-repeat 0 0;}
#efu_mainWrap .mainSection04 .vmWrap.vmWrapStyle2 .vmClose {background:#6b6b6b;}
/* online only */

#efu_mainWrap .mainSection05 .onlineProduct {position:relative; padding-bottom:75px; margin:0 auto;width:100%; height:375px; overflow:hidden;}
#efu_mainWrap .mainSection05 .onlineProduct:after {content:""; display:block; clear:both; width:100%; height:375px; background:url("/images/reebok/efu2018/main/saleBg.png") no-repeat center center;}
#efu_mainWrap .mainSection05 .onlineProduct #productListWrap {position:absolute; left:50%; top:53px; margin-left:-595px; width:1190px;}
#efu_mainWrap .mainSection05 .onlineProduct #productListWrap .productList { position:absolute; left:0; top:0; width:100%; height:300px !important;}
#efu_mainWrap .mainSection05 .onlineProduct #productListWrap .productList li {height:300px !important;}
#efu_mainWrap .mainSection05 .onlineProduct #productListWrap .productList li:after {content:""; display:block; clear:both;}
#efu_mainWrap .mainSection05 .onlineProduct #productListWrap .productList li>div {float:left; padding:0 38px; box-sizing:border-box;}
#efu_mainWrap .mainSection05 .onlineProduct #productListWrap .productList li>div>a  {display:block; padding:0 0px 15px 0px; width:220px !important; height:300px !important;background:#fff;overflow:hidden;}
#efu_mainWrap .mainSection05 .onlineProduct #productListWrap .productList li>div:first-child {margin-left:0;}
#efu_mainWrap .mainSection05 .onlineProduct #productListWrap .productList li>div a img {width:100%;}
#efu_mainWrap .mainSection05 .onlineProduct #productListWrap .productList li>div p.tit {padding:10px 15px 0 15px; font-size:16px; color:#000; font-family: 'NotoSansKR'; font-weight: 500; line-height:18px;}
#efu_mainWrap .mainSection05 .onlineProduct #productListWrap .productList li>div p.tit span {display:block; font-size:12px; color:#999; font-family: 'NotoSansKR'; font-weight: 700;}
#efu_mainWrap .mainSection05 .onlineProduct #productListWrap .productList li>div p.price {padding:5px 15px 0 15px; font-size:19px; color:#000; font-family: 'NotoSansKR'; font-weight: 700;}
#efu_mainWrap .mainSection05 .onlineProduct #productListWrap .productList li>div p.price>span {font-size:13px; color:#000; font-family: 'NotoSansKR'; font-weight: 500;}
#efu_mainWrap .mainSection05 .onlineProduct #productListWrap .productList li>div p.price.sale>span {padding-top:10px; font-size:13px; color:#999; font-family: 'NotoSansKR'; font-weight: 500; text-decoration:line-through;}
#efu_mainWrap .mainSection05 .onlineProduct #productListWrap .productList li>div p.price.sale span.salePrice {margin-left:10px; font-size:19px; color:#c80000; font-family: 'NotoSansKR'; font-weight: 700;text-decoration:none;}
#efu_mainWrap .mainSection05 .onlineProduct #productListWrap .productList li>div p.price.sale span.salePrice>span {font-size:13px; color:#000; font-family: 'NotoSansKR'; font-weight: 500;}
#efu_mainWrap .mainSection05 .onlineProduct .btnPrev {position:absolute; top:190px; left:2%; z-index:4;}
#efu_mainWrap .mainSection05 .onlineProduct .btnNext {position:absolute; top:190px; right:2%; z-index:4;}

#efu_mainWrap .mainSection05 .onlineInfoWrap {background:#fff; border-bottom:1px solid #e3e3e3;}    
#efu_mainWrap .mainSection05 .onlineInfo {margin:0 auto; width:1100px;}
#efu_mainWrap .mainSection05 .onlineInfo:after {content:""; display:block; clear:both;}
#efu_mainWrap .mainSection05 .onlineInfo>div {position:relative; padding:30px 30px 10px 30px; float:left; width:366px; height:115px; border-left:1px solid #e3e3e3; box-sizing:border-box;}
#efu_mainWrap .mainSection05 .onlineInfo>div a {display:block; height:75px;}
#efu_mainWrap .mainSection05 .onlineInfo>div:after {content:""; display:block; clear:both; position:absolute; left:100px; top:30px; width:88px; height:72px; background:url("/images/reebok/efu2018/blt/blt_online.png") no-repeat 0 0;}
#efu_mainWrap .mainSection05 .onlineInfo>div + div:after {left:88px; background-position-x:-94px;}

#efu_mainWrap .mainSection05 .onlineInfo>div + div + div:after {left:110px; background-position-x:-186px;}
#efu_mainWrap .mainSection05 .onlineInfo>div + div + div .infoTxt {position:relative; padding-right:30px;}

#efu_mainWrap .mainSection05 .onlineInfo>div .infoTit {float:left; font-size:19px; color:#000; font-family: 'ReefontCondensed'; line-height:18px; text-align:right; letter-spacing:1px}
#efu_mainWrap .mainSection05 .onlineInfo>div .infoTxt {float:right; font-size:14px; color:#000; font-family: 'NotoSansKR'; font-weight:400;line-height:18px;}
#efu_mainWrap .mainSection05 .onlineInfo>div:first-child {border-left:0;}
#efu_mainWrap .mainSection05 .onlineInfo>div:first-child .infoTxt {position:relative; padding-right:25px;}
#efu_mainWrap .mainSection05 .onlineInfo>div .infoTxt .bltQuestion {position:absolute; right:0; top:16px}

/* story, reeclub */
#efu_mainWrap .mainSection06 {width:100%; height:368px; background:url("/images/reebok/efu2018/main/storeBg.jpg") no-repeat center center; background-size:cover;}
#efu_mainWrap .mainSection06>div {float:left; width:50%; height:368px;}
#efu_mainWrap .mainSection06>div>p {float:right; padding:160px 100px 0 100px; font-size:20px; color:#fff; font-family: 'ReefontCondensed'; letter-spacing:14px;}
#efu_mainWrap .mainSection06>div + div>p {float:left;}
#efu_mainWrap .mainSection06>div .detailBox {display:none; position:relative; padding-top:50px; width:100%; height:318px; background:rgba(0,0,0,0.5)}
#efu_mainWrap .mainSection06>div .detailBox>p,
#efu_mainWrap .mainSection06>div .detailBox>div {position:absolute; right:76px;}
#efu_mainWrap .mainSection06>div .detailBox .detailTit {top:50px; font-size:13px; color:#fff; font-family: 'NotoSansKR'; font-weight: 100; text-align:right;}
#efu_mainWrap .mainSection06>div .detailBox .detailTit span {display:block; padding-bottom:10px; font-size:20px; color:#fff; font-family: 'ReefontCondensed'; letter-spacing:2px; text-align:right;}
#efu_mainWrap .mainSection06>div .detailBox .detailGo {top:116px;}
#efu_mainWrap .mainSection06>div .detailBox .detailGo>p {padding:10px; width:330px; font-size:13px; color:#fff; font-family: 'dinpro bold'; background:#cc2626;}
#efu_mainWrap .mainSection06>div .detailBox .detailGo>p>a {display:inline-block; font-size:13px; color:#fff; font-family: 'NotoSansKR'; font-weight: 300;}
#efu_mainWrap .mainSection06>div .detailBox .detailGo>p>a span {margin-left:10px; padding:5px; font-size:10px; color:#fff; font-family: 'NotoSansKR'; font-weight: 300; background:#7a1717; border-radius:20px;}
#efu_mainWrap .mainSection06>div .detailBox .detailGo>p>span.blt {padding:10px;}
#efu_mainWrap .mainSection06>div +div .detailBox>p,
#efu_mainWrap .mainSection06>div +div .detailBox>div {position:absolute; left:76px;}
#efu_mainWrap .mainSection06>div +div .detailBox .detailTit {text-align:left !important;}
#efu_mainWrap .mainSection06>div +div .detailBox .detailTit span {text-align:left !important;}
#efu_mainWrap .mainSection06>div +div .detailBox .detailGo>p {background:#343434;}
#efu_mainWrap .mainSection06>div +div .detailBox .detailGo>p>a span {background:#1f1f1f;}

/* instagram */
#efu_mainWrap .mainSection07 {padding-bottom:90px; background:#fff !important;}
#efu_mainWrap .mainSection07 .hashtag {margin:0 auto; padding-bottom:30px; width:1190px; text-align:center;}
#efu_mainWrap .mainSection07 .hashtag:after {content:""; display:block; clear:both;}
#efu_mainWrap .mainSection07 .hashtag li {display:inline-block; margin-left:20px; font-size:15px; color:#999; font-family: 'NotoSansKR'; font-weight: 500;}
#efu_mainWrap .mainSection07 .hashtag li:first-child {margin-left:0;}
#efu_mainWrap .mainSection07 .instagramCont {margin:0 auto; width:942px !important; height:445px !important}
#efu_mainWrap .mainSection07 .instagramCont:after {content:""; display:block; clear:both;}
#efu_mainWrap .mainSection07 .instagramCont li {float:left; margin:0 20px 20px 0; width:942px !important}
#efu_mainWrap .mainSection07 .instagramCont li a {display:inline-block; margin:0 6px 14px 6px;}
#efu_mainWrap .mainSection07 #instagramNav {margin-top:20px; text-align:center;}
#efu_mainWrap .mainSection07 #instagramNav a {display:inline-block; margin:0 2px; width:10px; height:10px; background:#dfdfdf; border-radius:10px; text-indent:-10000px;}
#efu_mainWrap .mainSection07 #instagramNav a.activeSlide {background:#b03c25;}





/* 200106 features start */
#efu_mainWrap .features__wrapper h2{
    padding:0;
}
#efu_mainWrap .features__wrapper{
	width:100%;
	padding:1rem;
	box-sizing: border-box;
}
#efu_mainWrap .features__wrapper{}
#efu_mainWrap .features__wrapper .features__wrapper__row{
	padding: 1rem 0 0 0;

}
#efu_mainWrap .features__wrapper .features__wrapper__row:nth-child(1){
	padding: 0;
}
#efu_mainWrap .features__wrapper .features__wrapper__row::after{
	display:block;
	content:'';
	clear:both;
}
#efu_mainWrap .features__wrapper .features__wrapper__grid{
	width:50%;
	float:left;
	box-sizing: border-box;
	position:relative;
}
#efu_mainWrap .features__wrapper .features__wrapper__row .features__wrapper__grid:nth-child(1){
	padding: 0 .5rem 0 0;
}
#efu_mainWrap .features__wrapper .features__wrapper__row .features__wrapper__grid:nth-child(2){
	padding: 0 0 0 .5rem;
}
#efu_mainWrap .features__wrapper .features__wrapper__row .features__wrapper__grid div img{
	width:100%;
}
#efu_mainWrap .features__wrapper .features__wrapper__row .features__wrapper__grid .wrap{
	position:absolute;
	bottom:20px;
	left:50%;
	transform:translateX(-50%);
	width: 100%;
}
#efu_mainWrap .features__wrapper .features__wrapper__row .features__wrapper__grid .wrap h2{
	text-align:center;
	font: 700 20px/20px 'neueplak-ext','NotoSansKR';
	color:#000;
	letter-spacing: 1px;
}
#efu_mainWrap .features__wrapper .features__wrapper__row .features__wrapper__grid .wrap .features__wrapper__paragraph{
	margin: 5px 0 0 0;
}
#efu_mainWrap .features__wrapper .features__wrapper__row .features__wrapper__grid .wrap .features__wrapper__paragraph p{
	font:700 17px/17px 'NotoSansKR','neueplak-ext';
	color:#000;
	letter-spacing: 1px;
	text-align:center;
}
#efu_mainWrap .features__wrapper .features__wrapper__row .features__wrapper__grid .wrap .button_area_v2{
	padding: 20px 0 0 0;
}
/* features txt_white */
#efu_mainWrap .features__wrapper .features__wrapper__row .features__wrapper__grid.txt_white .wrap h2,
#efu_mainWrap .features__wrapper .features__wrapper__row .features__wrapper__grid.txt_white .wrap p{
	color:#fff;
}
/* features txt_white */

/* 200106 features end */


