.plp-products .price-container .prc.sale .b2b_coupon_txt{
	padding: 0 5px 0 0;
	font:600 11px 'NotoSansKR';
	color:#c53622;
	letter-spacing: -0.4px;
}

.plp-wrapper .products-list-tpl{
	left:0;
}

.plp_spt_bg{background:url('/images/reebok/efu2018/common/icon_mypage.png') 0 0 no-repeat;display:block;}

.plp_paging{
	position:relative; 
	float: right;
	padding-right: 90px;
}

.plp_paging dl>*{
	float: left;
	color: #000;
	font:12px 'adihaus';
}

.plp_paging dl dt{
	margin: 7px 9px 0 0;
}

.plp_paging dl dd .paging_select{
	width: 90px;
	float: left;
}

.plp_paging dl dd span{
	float: left;
	margin: 7px 0 0 9px;
	color: #aaa;
}

.plp_paging .paging_button{
	width: 70px;
	position: absolute;
	top: 0;
	right: 5px;
}

.plp_paging .paging_button a{
	width: 30px;
	height: 30px;
	margin-right: 10px;
	overflow: hidden;
	float: left;
	background: #000;
}

.plp_paging .paging_button a .plp_spt_bg{
	width: 8px;
	height: 14px;
	margin: 7px 0 0 12px;
	background-position: -83px -20px;
}

.plp_paging .paging_button a.next{
	margin-right: 0;
}

.plp_paging .paging_button a.next .plp_spt_bg{
	background-position: -96px -20px;
}

.plp_paging .paging_button a.disable{
	background: #ccc;
}

.plp-wrapper .promo_prodlist.plp-contents .plp-products{
	padding-bottom: 0;
	float:none;
	margin-left: -5px;
}

.plp-wrapper .promo_prodlist.plp-contents .plp-products .plp-grid{
	margin: 0;
}

.plp-wrapper .promo_prodlist.plp-contents .plp-products .plp-grid .item{
	background: #fff;
}

/* Product list page */
.plp-wrapper{
	width: 1195px;
	position: relative;
	margin: 0 auto;
	padding:20px 0 100px;
}

/* Product list top bnn btn */
.plp-btn-sale{
	width: 1190px;
	margin: 25px auto 0;
	overflow: hidden;
}
.plp-btn-sale div{
	float: left;margin-right: 25px;
}
.plp-btn-sale div a{
	display: block;
}
.plp-btn-sale div.last {
	margin:0;
}

/* Search result */
.plp-wrapper .search_result_info{
	margin-bottom: 20px;
}

.plp-wrapper .search_result_info .keyword{
	margin-bottom: 15px;
	font:300 20px/20px 'NotoSansKR','Nanum Gothic';
	color: #000;
	letter-spacing: -0.5px;
}

.plp-wrapper .search_result_info .keyword strong{
	font-weight: 700;
	color: #000;
	letter-spacing: -0.5px;
}

.plp-wrapper .search_result_info .keyword span{
	margin-left: 20px;
	font-size: 13px;
}

.plp-wrapper .search_result_info .relate_keywords{

}

.plp-wrapper .search_result_info .relate_keywords dt{
	margin:3px 10px 0 0;
	float: left;
	font:700 13px/13px 'NotoSansKR','Nanum Gothic';
	color: #000;
	letter-spacing: -0.5px;
}

.plp-wrapper .search_result_info .relate_keywords dd{
	float: left;
}

.plp-wrapper .search_result_info .relate_keywords dd a{
	display: inline-block;
	margin-right: 5px;
	padding: 2px 10px 3px;
	border: 1px solid #ededed;
	font:300 13px/13px 'NotoSansKR','Nanum Gothic';
	color: #999;
	letter-spacing: -0.5px;
	transition: border-color 0.1s;
	-webkit-transition: border-color 0.1s;
}

.plp-wrapper .search_result_info .relate_keywords dd a:hover{
	border-color: #d0d0d0;
}

.plp-wrapper .location_r{
	padding: 0 0 15px;
}

.plp-wrapper h3{
	margin:0 0 17px;
	font:700 19px/19px 'adinenuPro-black','NotoSansKR','Nanum Gothic';
	color: #000;
	letter-spacing: -0.5px;
	text-transform: uppercase;
}

.plp-wrapper h3.white{
	color: #fff;
}

.plp-wrapper h3 a{
	margin: 0 5px;
	color: #000;
	vertical-align: middle;
}

.plp-wrapper h3.white a{
	color: #fff;
}

.plp-wrapper h3 a:first-child{
	margin-left: 0;
}

.plp-wrapper h3 span{
	margin-left: 10px;
	font-family:'NotoSansKR';
	font-weight: 300;
	vertical-align: middle;
    position: relative;
    top: -3px;
}

.plp-wrapper h3.white span{
	color: #fff;
}

.plp-wrapper.serarch_plp h3>strong{
	position: relative;
}

.plp-wrapper .plp-contents .plp-navigation{
	width: 220px;
	position: relative;
	float: left;
	margin-right: 15px;
	background: #fff;
}

.plp-wrapper .plp-contents .plp-navigation h4{
	padding: 20px 0 19px;
	font:16px 'adiBlack';
	color: #000;
	letter-spacing: 0.25px;
	border-bottom: 1px dotted  #c8cbcc;
}

.plp-wrapper .plp-contents .plp-navigation .selected_ctgr_wrapper{
	padding: 0 10px 10px;
	background: #ededed;
}

.plp-wrapper .plp-contents .plp-navigation .selected_ctgr_wrapper .content{
	padding-top: 20px;
}

.plp-wrapper .plp-contents .plp-navigation .selected_ctgr_wrapper .content .ctgr_item{
	position: relative;
	height: 21px;
	padding:5px 0 0 37px;
	margin-bottom: 10px;
}

.plp-wrapper .plp-contents .plp-navigation .selected_ctgr_wrapper .content .ctgr_item .close{
	position: absolute;
	top: 0;
	left: 0;
	width: 26px;
	height: 26px;
}

.plp-wrapper .plp-contents .plp-navigation .selected_ctgr_wrapper dl{
	margin-bottom: 10px;
}

.plp-wrapper .plp-contents .plp-navigation .selected_ctgr_wrapper dl>*{
	float: left;
	color: #000;
}

.plp-wrapper .plp-contents .plp-navigation .selected_ctgr_wrapper dl dt{
	font:700 14px/14px 'NotoSansKR','Nanum Gothic';
}

.plp-wrapper .plp-contents .plp-navigation .selected_ctgr_wrapper dl dd{
	margin-left: 2px;
	font:400 14px/14px 'NotoSansKR','Nanum Gothic';
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper{
	width: 220px;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box{
	border-bottom: 1px dotted  #c8cbcc;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box .kidsIcon{
	margin-top:20px;
	text-align:center;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.last,
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box:last-child{
	border-bottom-width: 0;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box .title{
	position: relative;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box .title .plp_spt_bg{
	width: 14px;
	height: 8px;
	background-position: -65px 0;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -4px;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.open .title .plp_spt_bg{
	background-position:-65px -15px;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box .title a{
	display: block;
	padding: 23px 0;
	font:400 14px/14px 'NotoSansKR','Nanum Gothic';
	color: #000;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box .content{
	overflow: hidden;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box .content .content_inner{
	padding-bottom: 20px;
	overflow: hidden;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box .content .input-check-ctm label{
	color: #000;
	font:300 14px 'NotoSansKR','Nanum Gothic';
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.size_filter .content{
	width: 201px;
}


.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.size_filter .content .content_inner .button_box a{
	width: 60px;
	height: 32px;
	position: relative;
	margin: 0 5px 5px 0;
	display: block;
	float: left;
	border: 1px solid  #ccc;
	text-align: center;
	color: #000;
	font:14px/32px 'adihaus';
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.size_filter .content .content_inner .button_box a::after{
	content:'';
	display: none;
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #0286ce;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.size_filter .content .content_inner .button_box a:hover,
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.size_filter .content .content_inner .button_box a.on{
	border-color: #0286ce;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.size_filter .content .content_inner .button_box a:hover::after,
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.size_filter .content .content_inner .button_box a.on::after{
	display: block;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.price_filter .input-check-ctm{
	margin-bottom: 20px;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.price_filter .input-radio-ctm{
	margin-bottom: 10px;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.price_filter .input-radio-ctm label{
	font:14px 'adihaus';
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box .btn-ctm{
	width: 100%;
	height: 34px;
	display: none;
	margin: 15px 0 0 0;
	float:none;
	opacity: 0;
	border-width: 0;
	color: #fff;
	transition:opacity 0.3s;
	-webkit-transition:opacity 0.3s;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box .btn-ctm.active{
	opacity: 1;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box .btn-ctm span{
	line-height: 34px;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content .content_inner .button_box a{
	width: 34px;
	height: 34px;
	position: relative;
	border: 1px solid transparent;
	float: left;
	margin: 0 10px 10px 0;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content .content_inner .button_box a.on,
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content .content_inner .button_box a:hover{
	border-color:#0286ce;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content .content_inner .button_box a::after{
	content:'';
	display: none;
	width: 100%;
	height: 2px;
	background: #0286ce;
	position: absolute;
	bottom: 0;
	left: 0;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content .content_inner .button_box a::before{
	content:'';
	width: 32px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid  #fff;
	border-bottom-width: 0;
	display: none;
	z-index: 1;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content .content_inner .button_box a.on::before,
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content .content_inner .button_box a:hover::before{
	display: block;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content .content_inner .button_box a.on::after,
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content .content_inner .button_box a:hover::after{
	display: block;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a .c1,
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a .c2{
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a .c2{
	left: auto;
	right: 0;
}

/* filter icon black */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.black>span{
    background: #000;
}

/* filter blue icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.blue>span.c1{
    background: #0172ae;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.blue>span.c2{
    background: #0286cd;
}

/* filter white icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.white>span.c1{
    background: #d9d9d9;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.white>span.c2{
	width: 17px;
	height: 32px;
    background: #fff;
	border: 1px solid #d9d9d9;
	border-left-width: -0px;
}

/* filter grey icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.grey>span.c1{
    background: #838484;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.grey>span.c2{
    background: #9a9b9b;
}

/* filter red icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.red>span.c1{
    background: #be3536;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.red>span.c2{
    background: #eb2728;
}

/* filter orange icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.orange>span.c1{
    background: #d97500;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.orange>span.c2{
    background: #ff8a00;
}

/* filter brown icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.brown>span.c1{
    background: #806b53;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.brown>span.c2{
    background: #967e62;
}

/* filter yellow icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.yellow>span.c1{
    background: #d2d18a;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.yellow>span.c2{
    background: #f6f5a2;
}

/* filter green icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.green>span.c1{
    background: #5c9961;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.green>span.c2{
    background: #6cb472;
}

/* filter beige icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.beige>span.c1{
    background: #ccc5bd;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.beige>span.c2{
    background: #efe7de;
}

/* filter silver icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.silver>span.c1{
    background: #acacac;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #a3a3a3), color-stop(100%, #c0c0c0)); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, #a3a3a3 0%, #c0c0c0 100%); /* safari5.1+,chrome10+ */
	background: linear-gradient(90deg, #a3a3a3 0%, #c0c0c0 100%); /* w3c */
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.silver>span.c2{
	background: #e2e2e2;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e2e2e2), color-stop(100%, #c7c7c7));
    background: -webkit-linear-gradient(0deg, #e2e2e2 0%, #c7c7c7 100%);
    background: linear-gradient(90deg, #e2e2e2 0%, #c7c7c7 100%);
}

/* filter gold icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.gold>span.c1{
    background: #acacac;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ac9e6b), color-stop(100%, #c8ba8a)); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, #ac9e6b 0%, #c8ba8a 100%); /* safari5.1+,chrome10+ */
    background: linear-gradient(90deg, #ac9e6b 0%, #c8ba8a 100%); /* w3c */
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.gold>span.c2{
	background: #ebdba2;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ebdba2), color-stop(100%, #d3c07e));
	background: -webkit-linear-gradient(0deg, #ebdba2 0%, #d3c07e 100%);
	background: linear-gradient(90deg, #ebdba2 0%, #d3c07e 100%);
}

/* filter purple icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.purple>span.c1{
    background: #764497;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.purple>span.c2{
    background: #8b50b1;
}

/* filter sand icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.sand>span.c1{
    background: #c38c5d;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.sand>span.c2{
    background: #f4a460;
}

/* filter aerred icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.aerred>span.c1{
    background: #9d4949;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.aerred>span.c2{
    background: #ca4242;
}

/* filter khaki icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.khaki>span.c1{
    background: #58503a;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.khaki>span.c2{
    background: #353b1f;
}

/* filter ivory icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.ivory>span.c1{
    background: #ededde;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.ivory>span.c2{
    background: #fffff0;
}

/* filter pink icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.pink>span.c1{
    background: #d55f8f;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.pink>span.c2{
    background: #fa6fa8;
}

/* filter navy icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.navy>span.c1{
    background: #32325f;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.navy>span.c2{
    background: #1c1c7b;
}

/* filter champa icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.champa>span.c1{
    background: #acacac;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ad8a68), color-stop(100%, #be9d7c)); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, #ad8a68 0%, #be9d7c 100%); /* safari5.1+,chrome10+ */
	background: linear-gradient(90deg, #ad8a68 0%, #be9d7c 100%); /* w3c */
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.champa>span.c2{
	background: #e8c091;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e8c091), color-stop(100%, #d2b18e));
	background: -webkit-linear-gradient(0deg, #e8c091 0%, #d2b18e 100%);
	background: linear-gradient(90deg, #e8c091 0%, #d2b18e 100%);
}

/* filter lemon icon */
.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.lemon>span.c1{
    background: #fffacd;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.color_filter .content a.lemon>span.c2{
    background: #efeaba;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .title{
	padding: 22px 0 22px 20px;
	border-bottom: 1px dotted  #c8cbcc;
	font:700 16px/16px 'adinenuPro-black','NotoSansKR','Nanum Gothic';
	text-transform: uppercase;
	color: #fff;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .content .depth1>li{
	border-bottom: 1px dotted  #c8cbcc;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .content .depth1>li:last-child{
	border-bottom-width: 0;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .content .depth1>li>a{
	position: relative;
	display: block;
    padding: 15px 0;
    font:400 14px/14px 'NotoSansKR','Nanum Gothic';
    color: #000;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .sale_box{
	padding: 0 0 8px 0;
	border-bottom: 1px dotted #c8cbcc;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .sale_box ul>li>a{
	display: block;
	color: #c53622;
	font: 400 14px/45px 'NotoSansKR','Nanum Gothic';
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .sub_title{
	position: relative;
	display: block;
    padding: 23px 0;
    font:400 14px/14px 'NotoSansKR','Nanum Gothic';
    color: #000;
	border-bottom: 1px dotted  #c8cbcc;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .sub_title a{
	font:400 12px/12px 'NotoSansKR','Nanum Gothic';
	color: #000;
	margin-left: 5px;
	position: relative;
	top: -1px;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .sub_title.eng{
	padding: 17px 0;
	font:16px 'adiBlack';
	text-transform: uppercase;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .content .depth1>li>a .plp_spt_bg{
    width: 14px;
    height: 8px;
    background-position: -65px 0;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -4px;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .content .depth1>li.open>a .plp_spt_bg{
	background-position:-65px -15px;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .content .depth1>li .depth2>ul>li{

}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .content .depth1>li .depth2>ul>li>a{
	display: block;
	margin-bottom: 20px;
	color: #000;
	font:400 14px/14px 'NotoSansKR','Nanum Gothic';
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .content .depth1>li .depth2>ul>li dt{
	margin-bottom: 15px;
	font:700 14px/14px 'NotoSansKR','Nanum Gothic';
	color: #000;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .content .depth1>li .depth2>ul>li dl{
	margin-bottom: 20px;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .content .depth1>li .depth2>ul>li dd li{
	margin-bottom: 10px;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .content .depth1>li .depth2>ul>li dd li:last-child{
	margin-bottom: 0;
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .content .depth1>li .depth2>ul>li dd li a{
	display: block;
	padding-left: 10px;
	color: #000;
	font:300 13px/13px 'NotoSansKR','Nanum Gothic';
}

.plp-wrapper .plp-contents .plp-navigation .filter_wrapper .filter_box.product_category .content .depth1>li .depth2>ul>li dd li a span{
	margin-left: 5px;
	color: #999;
}

.plp-wrapper .plp-contents .plp-navigation .banner{
	margin-top: 10px;
}

.searchResult .plp-wrapper .plp-contents .plp-products, 
.searchResult .plp-wrapper .plp-contents .plp-products .plp-grid{margin-top:0}
{margin-top:0}
.plp-wrapper .plp-contents .plp-products{
	margin-top:-50px;
	width: 960px;
	position: relative;
	float: left;
	padding-bottom: 80px;
}

.plp-wrapper .plp-contents .plp-products p.none{margin-top:20px; padding-top:140px; font-size:30px; color:#616362; font-weight:500; text-align:center; border-top:1px solid #e0e0e0;font-family: 'NotoSansKR','Nanum Gothic';}

.plp-wrapper .plp-contents .plp-products .paging-wrapper{
	padding: 0 5px;
}

.plp-wrapper .plp-contents .plp-products .paging-wrapper .paging-wrapper-inner{
	height: 34px;
	width:555px;
	float:right;
}

.plp-wrapper .plp-contents .plp-products .plp-grid{
	margin: 16px 0;
	width:960px;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item{
	width: 230px;
	height: 395px;
	position: relative;
	float: left;
	margin: 0 5px 10px;
	background: #fff;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item.hover{
	/*border:1px solid #c1c1c1; */
	z-index: 100;
	box-sizing:border-box;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item>.inner{
	position: relative;
	padding-top: 230px;
	transition: box-shadow 0.2s ease-out;
	-webkit-transition: box-shadow 0.2s ease-out;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item.hover>.inner{
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .img{
	width: 230px;
	height: 230px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background: #e5e5e5;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .img .product-badge{
	top: 0;
	right:0;
	left:auto;
	z-index: 5;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .img .logo{
	position: absolute;
	top: 13px;
	left: 10px;
	opacity: 0;
	filter:alpha(opacity=0);
	-ms-filter:alpha(opacity=0);
	z-index: 5;
	transition:opacity 0.2s;
	-webkit-transition:opacity 0.2s;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item.hover .img .logo{
	opacity: 1;
	filter:alpha(opacity=100);
	-ms-filter:alpha(opacity=100);
	transition-duration:0.5s;
	-webkit-transition-duration:0.5s;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item.originals .img .logo{
	width: 21px;
	height: 21px;
	background-position: -65px -60px;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item.performance .img .logo{
	width: 20px;
	height: 14px;
	background-position: -65px -85px;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .img img{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper{
	min-height: 145px;
	position: relative;
	background: #fff;
	z-index: 10;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper>a{padding: 0 34px;}

.plp-wrapper .plp-contents .plp-products .plp-grid .item.hover .info_wrapper{padding-bottom:20px;}

.plp-wrapper .plp-contents .plp-products .plp-grid .item:hover .info_wrapper{
	/*box-shadow: 0 0 20px rgba(0,0,0,0.2);*/
}


.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner{
	position: relative;
	min-height: 30px;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .item_info{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/*.plp-wrapper .plp-contents .plp-products .plp-grid .item.hover .info_wrapper .info_inner .item_info{
	display: none;
}*/

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .item_info .colors{
	padding-top: 7px;
	font:300 12px 'NotoSansKR','Nanum Gothic';
	color: #666;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .item_info .mi_logo{
	position: absolute;
	top: 10px;
	right: 0;
	padding-right: 25px;
	color: #000;
	font:12px 'adinenuPro-bold';
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .item_info .mi_logo strong{
	color: #0088cd;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .item_info .mi_logo .plp_spt_bg{
	width: 19px;
	height: 19px;
	position: absolute;
	right: 0;
	top: -6px;
	background-position:-35px 0;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .othercolor_slider{
	width: 210px;
	height: 50px;
	margin: 15px 0;
	position: relative;
	z-index: 5;
	display: none;
	background: #fff;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item.hover .info_wrapper .info_inner .othercolor_slider{
	display: block;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .othercolor_slider .prev{
	width: 24px;
	height: 24px;
	position: absolute;
	top: 12px;
	left: -10px;
	background-position: 0 -30px;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .othercolor_slider .next{
	width: 24px;
	height: 24px;
	position: absolute;
	top: 12px;
	right: -10px;
	background-position: -30px -30px;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .othercolor_slider .disable{
	opacity: 0.3;
	filter:alpha(opacity=30);
	-ms-filter:alpha(opacity=30);
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .othercolor_slider .slider_wrapper{
	width: 160px;
	height: 50px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .othercolor_slider .slider_wrapper ul{
	width: 3000px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .othercolor_slider .slider_wrapper ul li{
	float:left;
	margin-right: 5px;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .othercolor_slider .slider_wrapper ul li a{
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .othercolor_slider .slider_wrapper ul li a{
	display: block;
	width: 48px;
	height: 48px;
	position: relative;
	border: 1px solid transparent;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .othercolor_slider .slider_wrapper ul li a::after{
	content:'';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .othercolor_slider .slider_wrapper ul li a:hover,
.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .othercolor_slider .slider_wrapper ul li a.on{
	border-color: #e7e8e8;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .othercolor_slider .slider_wrapper ul li a:hover::after{
	background: #0286cd;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .othercolor_slider .slider_wrapper ul li a.on::after{
	background: #000;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .info_inner .othercolor_slider .slider_wrapper ul li a img{
	position: absolute;
	top: 0;
	left: 0;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .link{
	margin-top:10px;
	width: 100%;
	min-height: 106px;
	position: relative;
	display: block;
	box-sizing:border-box;
	
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .title{
	height: 34px;
	max-height: 34px;
	overflow: hidden;
	padding-top: 10px;
	margin-bottom: 10px;
	color: #000;
	letter-spacing: -0.25px;
	font:500 14px/17px 'NotoSansKR','Nanum Gothic';
	display: -webkit-box;
	text-overflow: ellipsis;
	white-space:normal;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .title .searchTxt{font-size:15px; font-weight:bold;}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .price-container .line{
	marign-right:8px;
	width: 100px;
	font-size: 16px;
	color:#575757;
	margin: 0;
	text-align: right;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .price-container .won{
	font-size: 14px;
	color:#000;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .txt{
	color: #868585;
	font:12px 'adihaus';
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .star-container{
	position:relative; 
	margin:15px 0 5px 0;
	width: 61px;
	height: 10px;
	display: none; /* PLP 별점 삭제 */
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .star-container img{
	width: 60px;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .star-container .star-point{
	position:absolute; left:0; top:0;
	height: 10px;
	overflow: hidden;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .info_wrapper .star-container span{
	position: absolute;
	top: 0;
	right: -13px;
	color: #999;
	font:12px/12px 'adihaus';
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .img .b2b_label{
	position: absolute;
    top: 0;
    right: 0;
    background: #000;
    width: 75px;
    text-align: center;
	z-index: 1;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .item .img .b2b_label span{
	color:#fff;
	font:11px/20px 'NotoSansKR';
}

.plp-wrapper .plp-contents .plp-products .products-list-tpl{
	margin: 100px 0 0 -15px;
}

.plp-wrapper .plp-contents .plp-products .plp-grid .nodata{
	font: 300 20px 'NotoSansKR';
    color: #000;
    text-align: center;
    padding: 120px 0;
    background: #fff;
}

#container_r .plp-wrapper .viewed_items .products-list-wrapper{ margin-left: 0px; }

@media only screen and (max-width: 1190px) {
	.plp-wrapper .plp-contents .plp-products{
		width: 722px;
	}
}
.productTop {position:relative; display:block; width:100%; height:498px;}
.productTop .banner {height:498px;}
.productTop .banner li {height:498px;}
.productTop .bx-controls-direction a {position:absolute; top:230px; display:block; width:18px; height:36px; z-index:10;}
.productTop .bx-controls-direction .bx-prev {left:50px;  background:url("/images/reebok/efu2018/common/icon_mypage.png") no-repeat; background-position: -55px -91px; text-indent:-1000000px;}
.productTop .bx-controls-direction .bx-next {right:50px; background:url("/images/reebok/efu2018/common/icon_mypage.png") no-repeat; background-position: -80px -91px; text-indent:-1000000px;}
.productTop .bx-pager .bx-pager-item {width:10px; height:10px;}
.productTop .bx-wrapper .bx-pager {position:absolute; left:50%; bottom:30px; text-align:left; z-index:99;}
.productTop .bx-wrapper .bx-pager .bx-pager-item {display:inline-block; margin:0 6px;}
.productTop .bx-wrapper .bx-pager .bx-pager-item a {display:block; width:10px; height:10px; border-radius:50%; border:none; font-size:0; background:#dfdfdf;}
.productTop .bx-wrapper .bx-pager .bx-pager-item a.active {width:10px; height:10px; border-radius:18px; background:#fff; background:#b03c25;}


/*제품list*/
.plp-wrapper>h3 {margin-left:19px;}
.plp-wrapper>h3 a.tit {font-size:40px; color:#000; font-family:'dinpro bold'; line-height:40px;}
.plp-wrapper>h3>span {display:inline-block; padding-top:22px; margin-left:0;font-size:14px; color:#000; font-family:"notosanskr"; font-weight:400;}
.plp-wrapper>h3>span:before {content:"·"; display:inline-block; clear:both;}
.plp-wrapper>h3>span .num {margin-left:0; font-size:14px; color:#b71c26; font-family:"notosanskr"; font-weight:400;}
.productSnb {border-top:2px solid #000;}
.productSnb>li { background:#fff;}
.productSnb>li>a {display:inline-block; width:100%; line-height:45px;}
.productSnb>li a {font-size:16px; color:#000;font-family:"notosanskr"; font-weight:500}
.productSnb>li.style01 {padding-left:19px; line-height:45px; border-bottom:1px solid #bebebe; background:#e1e1e1;}
.productSnb>li.style01 a {font-family:"notosanskr"}
.productSnb>li.style01.on a {color:#b71c26;}
.productSnb>li.style02 {line-height:45px; border-bottom:1px solid #bebebe; box-sizing:border-box;}
.productSnb li.style02>a {position:relative;padding-left:19px; box-sizing:border-box;}
.productSnb li.style02>a:after {content:""; display:block; clear:both; position:absolute; right:10px; top:18px; width:10px; height:10px; background:url("/images/reebok/efu2018/common/icon_mypage.png") no-repeat; background-position: -67px -45px;}
.productSnb li.style02.bgNone>a:after {width:0; height:0; background:none;}
.productSnb li.style02.on>a {color:#b71c26;}
.productSnb li.style02.on>a:after {content:""; display:block; clear:both; position:absolute; right:10px; top:18px; width:10px; height:10px; background:url("/images/reebok/efu2018/common/icon_mypage.png") no-repeat; background-position: -52px -41px;}
.productSnb li.style02.bgNone.on>a:after {width:0; height:0; background:none}							
.productSnb li.style02>div {display:none; padding:17px 19px; border-top:1px solid #e3e2e2; background:#f6f6f6;}
.productSnb li.style02>div>p {position:relative; padding:0 0 10px 10px; font-size:15px; color:#000; font-family:"notosanskr"; font-weight:500;}
.productSnb li.style02>div>p.all {margin: -18px -18px 14px -18px; height:31px; background:#f1f1f1; line-height: 42px; border-bottom:1px solid #e3e2e2;}
.productSnb li.style02>div>p.all:before {width:0; height:0; background:none;}
.productSnb li.style02>div>p.all a {padding-left:18px; line-height:42px;}
.productSnb li.style02>div>p.on a {color:#b71c26; font-weight:500;}
.productSnb li.style02>div>p>a {font-size:15px; color:#000; font-family:"notosanskr"; font-weight:500;}
.productSnb li.style02>div>p:before {content:""; display:block; clear:both; position:absolute; left:0; top:3px; width:5px; height:7px; background:url("/images/reebok/efu2018/common/icon_mypage.png") no-repeat; background-position: -43px -46px;}
.productSnb li.style02>div ul {padding-bottom:20px;}
.productSnb li.style02>div ul li {padding-left:10px; line-height:26px;}
.productSnb li.style02>div ul li a {font-size:14px; color:#000; font-family:"notosanskr"; font-weight:400; line-height:28px;}
.productSnb li.style02>div ul li.on a {color:#b71c26; font-weight:500;}
.productSnb li.style02>div .snbStyle.on a {color:#b71c26; font-weight:500;}
.productSnb>li.style03 {margin:0 20px;}
.productSnb>li.style03>a {font-size:14px; color:#7e7e7e; font-weight:bold;}
.productSnb>li.style03>div>p {margin-bottom:10px; font-size:14px; color:#7e7e7e; font-family:"notosanskr";}
.productSnb>li.style03>div> ul {margin-bottom:20px; }
.productSnb>li.style03>div> ul:after {content:""; display:block; clear:both;}
.productSnb>li.style03>div> ul li {float:left; margin:-1px 0 0 -1px;width:25%; height:45px; border:1px solid #b8b8b8; background:#f8f8f8; box-sizing:border-box;}
.productSnb>li.style03>div> ul li a {display:block; width:100%; font-size:14px; color:#646464; font-weight:400; text-align:center; line-height:45px; }
.productSnb>li.style03>div> ul li.on {border:1px solid #000; background:#000;}
.productSnb>li.style03>div> ul li.on a {color:#fff;}
.productSnb>li.style04 {margin:50px 20px 0 20px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; }
.productSnb>li.style04 a {display:block; width:100%; height:100%; font-size:14px; color:#7e7e7e; font-weight:bold;}
.productSnb>li.style04>div>ul {margin-bottom:50px;}
.productSnb>li.style04>div>ul:after {content:""; display:block; clear:both;}
.productSnb>li.style04>div>ul li {position:relative; float:left; margin:0 6px 6px 0; width:21%; height:37px; box-sizing:border-box;}
.productSnb>li.style04>div>ul li a.on:before {content:""; display:block; clear:both; position:absolute; left:0; top:0; margin:7px 0 0 7px; width:23px; height:20px; background:url("/images/reebok/efu2018/common/icon_mypage.png") no-repeat; background-position: -38px -60px;}
.productSnb>li.style04>div>ul li.black a.on:before {content:""; display:block; clear:both; margin:7px 0 0 7px; width:23px; height:20px; background:url("/images/reebok/efu2018/common/icon_mypage.png") no-repeat; background-position: -66px -60px;}
.productSnb>li.style04>div>ul li.sand {background:#c38c5d;}
.productSnb>li.style04>div>ul li.aerred {background:#9d4949;}
.productSnb>li.style04>div>ul li.ivory {background:#ededde;}
.productSnb>li.style04>div>ul li.black {background:#000;}
.productSnb>li.style04>div>ul li.red {background:#be3536;}
.productSnb>li.style04>div>ul li.navy {background:#32325f;}
.productSnb>li.style04>div>ul li.gold {background:#b5a775;}
.productSnb>li.style04>div>ul li.green {background:#5c9961;}
.productSnb>li.style04>div>ul li.grey {background:#838484;}
.productSnb>li.style04>div>ul li.purple {background:#764497;}
.productSnb>li.style04>div>ul li.silver {background:#b0b0b0}
.productSnb>li.style04>div>ul li.pink {background:#d55f8f;}
.productSnb>li.style04>div>ul li.brown {background:#806b53;}
.productSnb>li.style04>div>ul li.white {background:#d9d9d9;}
.productSnb>li.style04>div>ul li.champa {background:#b59372;}
.productSnb>li.style04>div>ul li.lemon {background:#fffacd;}
.productSnb>li.style04>div>ul li.khaki {background:#58503a;}
.productSnb>li.style04>div>ul li.beige {background:#ccc5bd;}
.productSnb>li.style04>div>ul li.blue {background:#0172ae;}
.productSnb>li.style04>div>ul li.yellow {background:#d2d18a;}
.productSnb>li.style04>div>ul li.orange {background:#d97500;}

/* 검색 결과 */
.searchResult {margin:60px auto 0 auto; width:1195px;}
.searchResult h3 {margin-left:12px; font-size:24px; color:#000; font-family:"notosanskr";}
.searchResult h3 span.tit {font-size:30px; color:#b71c26; }
.searchResult .searchResuitTop {margi-left:12px;}
.searchResult .searchResuitTop .related {position:relative; margin-top:34px; padding-left:100px;}
.searchResult .searchResuitTop .related .tit {position:absolute; left:19px; top:4px; font-size:13px; color:#000; font-family:"notosanskr";}
.searchResult .searchResuitTop .related ul:after {content:""; display:block; clear:both;}
.searchResult .searchResuitTop .related ul li {float:left; margin:0 7px 10px 0; padding:3px 5px;  border:1px solid #999;}
.searchResult .searchResuitTop .related ul li a {font-size:12px; color:#999;}
.searchResult p.none{margin-top:20px; padding-top:140px; font-size:30px; color:#616362; font-weight:500; text-align:center; border-top:1px solid #e0e0e0;font-family: 'NotoSansKR','Nanum Gothic';}

.productSnb >li.style01.tit {font-size:16px; color:#000; line-height:45px; font-weight:500;  font-family:"notosanskr"; }
.productSnb >li.categoryBox>p.title {background:#2e2e2e;}
.productSnb >li.categoryBox>p.title a {padding:0 0 0 19px !important;font-size:16px !important;color:#fff !important;font-family:"notosanskr" !important;line-height:45px !important;display: inline-block;width: 100%;box-sizing: border-box;}
.productSnb >li.categoryBox.on>p.title a {color:#b71c26 !important;}
.productSnb >li.categoryBox>ul li {padding-left:19px; font-size:16px; color:#000; font-family:"notosanskr"; line-height:26px;}
.productSnb >li.categoryBox>ul li:last-child {border-bottom:none;}
.productSnb >li.categoryBox>ul li.style02 {padding:0; border-bottom:1px solid #e3e2e2;}
.productSnb >li.categoryBox>ul li.style02>a {display:block; width:100%; line-height:45px;}
.productSnb >li.categoryBox>ul li.style02.none a:after {width:0; height:0; background:none;}

.searchWord>.tit {padding:14px 20px; font-size:15px; color:#fffefe;  font-family:"notosanskr"; background:#b71c26;}
.searchWord>ul {background:#f6f6f6;}
.searchWord>ul li {position:relative; padding:0 20px; height:34px; line-height:34px; border-bottom:1px solid #e3e2e2;}
.searchWord>ul li:last-child {border-bottom:none;}
.searchWord>ul li a {display:block; width:100%; height:34px; font-size:14px; color:#000; font-family:"notosanskr"; line-height:34px;}
.searchWord>ul li a span {display:inline-block; width:40px; color:#797979;}
.searchWord>ul li:after {content:""; display:block; clear:both; position:absolute; right:20px; top:14px; width:12px; height:7px; background:url('/images/reebok/efu2018/common/icon_mypage.png') 0 0 no-repeat; background-position: -82px -43px;}
.searchWord>ul li.up:after {background-position: -98px -45px;}
.searchWord>ul li.down:after {background-position: -114px -45px;}
.searchResultNone>h3 {margin-bottom:23px;}
.searchResultNone .resultNone {margin-top:20px; padding-bottom:145px;}
.searchResultNone .resultNone:after {content:""; display:block; clear:both;}
.searchResultNone .resultNone>ul {float:left; margin-right:15px; width:220px;}
.searchResultNone .resultNone .cont {float:right; padding:76px 0 74px 0; width:960px; height:239px;border-top:1px solid #e3e2e2; border-bottom:1px solid #e3e2e2; background:#fdfdfd url("/images/reebok/efu2018/common/resultNone.png") no-repeat center 93px;}
.searchResultNone .resultNone .cont .txt {font-size:30px; color:#000; font-family:"notosanskr";  text-align:center; line-height:30px; font-weight:500;}
.searchResultNone .resultNone .cont .txt span {display:block; margin-top:20px; color:#b71c26;  text-align:center;}
.searchResultNone .resultNone .cont .txt2 {margin-top:35px; font-size:14px; color:#000; font-family:"notosanskr";  text-align:center;}
.searchResultNone .resultNone .cont .txt2 span {color:#b71c26;}
.searchResultNone .resultNone .cont .rebrowsing {position:relative; margin:50px auto 0 auto; width:362px;}
.searchResultNone .resultNone .cont .rebrowsing>p {padding-bottom:10px; font-size:20px; color:#000; font-family:"notosanskr"; font-weight:500; line-height:20px;}
.searchResultNone .resultNone .cont .rebrowsing>input {padding:0 45px 0 10px; width:305px; height:38px; line-height:38px; border:1px solid #b7b7b7; vertical-align:middle;border-radius:0; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
.searchResultNone .resultNone .cont .rebrowsing>input::-ms-expand {display:none;}
.searchResultNone .resultNone .cont .rebrowsing a.searchBtn {position:absolute; right:0; top:30px;}

.paging-wrapper-inner .speedChk {display:inline-block; position:relative; padding-left:20px; width:100px;}
.paging-wrapper-inner .speedChk input {position:absolute; left:0; top:7px; width:22px; height:22px; border:1px solid #ccc; background:#fff; vertical-align:top;}
.paging-wrapper-inner .speedChk label {position:relative; margin-left:10px; padding-left:25px; font-size:14px; color:#161616; font-family:"notosanskr"; line-height:34px;}
.paging-wrapper-inner .speedChk label:before {content:""; display:block; clear:both; position:absolute; left:0; top:3px; width:22px; height:15px; background: url(/images/reebok/efu2018/common/icon_mypage.png) no-repeat 0 0; background-position:-145px 0;}
.plp_paging select {margin-right:28px; padding:0 20px 0 20px; width:160px; height:34px;  font-size:14px; color:#161616;  font-family:"notosanskr"; border:1px solid #ccc; vertical-align:middle;border-radius:0; -webkit-appearance:none; -moz-appearance:none; appearance:none; background: url(/images/reebok/efu2018/common/select.gif) no-repeat right 0;}
.plp_paging select::-ms-expand {display:none;}
.plp_paging .pageNum {position:relative; float:right; padding-left:35px;  width:100px; font-size:13px; color:#3c3c3c; font-weight:bold;}
.plp_paging .pageNum .tit {position:absolute; left:0; top:7px; font-size:12px; color:#000; font-family:"notosanskr"; font-weight:normal;}
.plp_paging .pageNum select.num1 {display:inline-block; margin-right:3px; padding:0 15px; width:60px; height:30px;  font-size:14px; color:#161616;  font-family:"notosanskr"; border:1px solid #ccc; vertical-align:middle;border-radius:0; -webkit-appearance:none; -moz-appearance:none; appearance:none; background: url(/images/reebok/efu2018/common/icon_select.gif) no-repeat 38px 10px;}
.plp_paging .pageNum select.num1::-ms-expand {display:none;}
.plp_paging .pageNum .num2 {display:inline-block; font-size:12px; color:#000; font-family:"notosanskr"; font-weight:normal;}

.relationImgArea {visibility:hidden; position:absolute; /* margin:0 17px; */ height:71px; width:230px; padding:0 17px; box-sizing:border-box;}
.hover .relationImgArea {position:relative;}
.relationImgArea .bx-viewport {height:71px !important;} 
.relationImgArea:after {content:""; display:block; clear:both;}
.relationImgArea .relationImg {float:left; margin:0 20px 0 0; width:100%; box-sizing:border-box;}
.relationImgArea .relationImg li {float:left; width:66px; height:66px; overflow:hidden; cursor:pointer;}
.relationImgArea .relationImg li.on {border-bottom:2px solid #b71c26;}
.relationImgArea .relationImg img {width:66px;}
.relationImg .slick-next {display:block; padding:0; margin-top:0 !important; width:17px; height:66px; position:absolute; top:0; right:-17px !important; text-indent:-100000px; background:#eaeaea; border:none;cursor:pointer;}
.relationImg .slick-next:before {content:""; display:block; clear:both; position:absolute; left:5px; top:31px; width:6px; height:11px; background:url("/images/reebok/efu2018/common/icon_mypage.png") no-repeat center center;  background-position: -120px -21px;}
.relationImg .slick-prev {display:block; padding:0; margin-top:0 !important; width:17px; height:66px; position:absolute; top:0; left:-17px !important; text-indent:-100000px; background:#eaeaea; border:none;cursor:pointer;}
.relationImg .slick-prev:before {content:""; display:block; clear:both; position:absolute; left:5px; top:31px; width:6px; height:11px; background:url("/images/reebok/efu2018/common/icon_mypage.png") no-repeat center center; background-position: -109px -21px;}

.product-badge{
	height: 20px;
	position: absolute;
	top: 20px;
	left: 0;
}

.product-badge span{
	height: 17px;
	display: block;
    font:11px 'adihaus';
    padding: 3px 10px 0;
	color: #fff;
	text-transform: uppercase;
}

.product-badge.new span{
	padding:0;
	width:40px; 
	height:40px;
	background:url('/images/reebok/efu2018/common/new.png') no-repeat 0 0;
	background-size:40px 40px;
	text-indent:-100000px
}

.product-badge.best span{
	padding:0;
	width:40px; 
	height:40px;
	background:url('/images/reebok/efu2018/common/best.png') no-repeat 0 0;
	background-size:40px 40px;
	text-indent:-100000px
}

.product-badge.outlet span{
	padding:0;
	width:40px; 
	height:40px;
	background:url('/images/reebok/efu2018/common/outlet.png') no-repeat 0 0;
	background-size:40px 40px;
	text-indent:-100000px
}

.product-badge.sale span{
	background:rgb(197,54,34);
	background:rgba(197,54,34,0.8);
}

.product-badge.mi span{
	padding-right:25px;
	background:rgb(0,0,0) url('//image.adidas.co.kr/images/adidas/common/ico_customize.png') 59px 3px no-repeat;
	background-color:rgba(0,0,0,0.8);
}

.product-badge.mi span em{
	color:#407DBE;
}

.product-badge.oneday span{
	padding:0;
	width:40px; 
	height:40px;
	background:url('/images/reebok/efu2018/common/speed.png') no-repeat 0 0;
	background-size:40px 40px;
	text-indent:-100000px
}

.product-badge.onlineOnly span{
	padding:0;
	width:45px; 
	height:45px;
	background:url('/images/reebok/efu2018/common/onlineOnly.jpg') no-repeat 0 0;
	background-size:41px 41px;
	text-indent:-100000px
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.plp-wrapper .productArea {overflow:hidden;}
