/*
	break width
 */
$break-small: 1000px;
$break-large: 1400px;
$width320:320px;
$width400:400px;
$width480:480px;
$width600:600px;
/*
	@@ mixin
 */
@mixin box-sizing($value){
			box-sizing: $value;
	-webkit-box-sizing: $value;
}

@mixin css3($prop,$value){
	#{$prop} :$value;
	-webkit-#{$prop} :$value;
	-moz-#{$prop}:$value;
	-o-#{$prop} :$value;
	-ms-#{$prop} :$value;
}

@mixin transition($prop , $duration , $easing , $delay){
	transition :$prop $duration $easing $delay;
	-webkit-transition :$prop $duration $easing $delay;
	-moz-transition:$prop $duration $easing $delay;
	-o-transition :$prop $duration $easing $delay;
}

@mixin opacity($value){
	opacity : $value;
	filter:alpha(opacity=$value * 100);
	-ms-filter:alpha(opacity=$value * 100);
}

@mixin transform($value){
	transform:$value;
	-webkit-transform:$value;
	-moz-transform:$value;
	-o-transform:$value;
}

@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    -webkit-animation-iteration-count:infinite;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    -moz-animation-iteration-count:infinite;

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    -o-animation-iteration-count:infinite;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    animation-iteration-count:infinite;
}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@media screen and (max-width: 320px) {
	html{
		font-size: 10px;
	}
}

@media screen and (min-width: 800px) {
	html{
		font-size: 12px;
	}
}

// for pseudo element
.pseudo-element{
	content:'';
	display: block;
}

#preloadPanel{
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left:0;
	z-index: 1000;
	@include css3(transition,opacity 0.9s);

	div{
		position: relative;
		font:50px 'adiBlack';
		color: #000;
		position: absolute;
		top:50%;
		left:50%;
		@include css3(transform,translate3d(-50%,-50%,0));


		&::after {
			@extend .pseudo-element;
			position: absolute;
			top: -110%;
			left: -210%;
			width: 200%;
			height: 100%;

			background: rgba(255, 255, 255, 0.5);
			background: linear-gradient(
			to right,
			rgba(255, 255, 255, 0.5) 0%,
			rgba(255, 255, 255, 0.5) 77%,
			rgba(255, 255, 255, 0.5) 92%,
			rgba(255, 255, 255, 0.0) 100%
			);

			@include opacity(0);
			@include css3(transform,rotate(30deg));
			@include animation(1s,1.2s,shining);

			transition-property: left, top, opacity;
			transition-duration: 0.7s, 0.7s, 0.15s;
			transition-timing-function: ease;

			-webkit-transition-property: left, top, opacity;
			-webkit-transition-duration: 0.7s, 0.7s, 0.15s;
			-webkit-transition-timing-function: ease;
		}
	}

	&.loaded{
		@include opacity(0);
	}
}

$color_1: #fff;
$color_2: #000;
$color_3: #0392b0;

html.no_scroll {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#ecomzone {
	width: 720px;
	overflow: hidden;
	margin: 0 auto;
	#header{
		width: 650px;
		margin: 30px auto 20px;
		ul{
			li{
				position: relative;
				display: inline-block;
				text-align: center;
				font:18px 'adinenuPro-black';
				color:#aaaaaa;
				margin: 0 20px;
				&:nth-child(2){
					margin : 0 80px 0 100px;
				}
				&:nth-child(3){
					margin : 0;
				}
				&.on{
					color:#000;
					&:after{
						content: '';
						opacity: 1;
					}
				}
				&:after{
					content: '';
					display: block;
					width: 17px;
					height: 9px;
					background: url('http://image.adidas.co.kr/images/adidas/temp/ecom_zone/arrow.png')center center no-repeat;
					opacity: 0;
					margin: 10px auto 0;
				}
			}
		}
	}
	.cont_wrapper{
		position: relative;
		width: 3220px;
		.cont_wrap {
			height: 975px;
			float: left;
			.visual{
				position: relative;
				.tit{
					width: 100%;
					position: absolute;
					top: 160px;
					margin: 0 auto;
					z-index: 1;
					opacity: 0;
					h2{
						font:64px/50px 'adinenuPro-black';
						color:#fff;
						text-align: center;
					}
					p.sub{
						font:500 21px 'NotoSansKR';
						color:#fff;
						text-align: center;
					}
					&.on{
						top:80px;
						opacity: 1;
						transition: all 1s;
						-webkit-transition: all 1s;
					}
				}
			}
			.prod_wrap{
				.prod_list{

					ul{
						height: 130px;
						margin: 30px auto;
						width: 421px;
						li{
							position: relative;
							float: left;
							width: 135px;
							height: 135px;
							&:nth-child(2){
								margin: 0 8px;
							}
							img{
								width: 100%;
							}
							span{
								&.num{
									display: block;
									width: 16px;
									height: 16px;
									position: absolute;
									background-color: #000;
									color:#fff;
									top: 0;
									left: 0;
									font:11px/20px 'adinenuPro-bold';
									text-align: center;
									z-index: 2;
								}
							}
							.prod_tit{
								text-align: center;
								font:500 12px/14px 'NotoSansKR';
								color:#000;
								margin-top: 5px;;
							}
							.prod_price{
								font:16px 'adihaus-bold';
								color:#000;
								width: 100%;
								opacity: 0;
								text-align: center;
							}
						}
					}
					&.on{

						ul{
							height: 290px;
							margin: 30px auto;
							width: 721px;
							height: 325px;

							li{
								position: relative;
								float: left;
								width: 235px;
								height: 325px;
								overflow: hidden;
								transform: translate3d(0, 0, 0);
								-webkit-transform: translate3d(0, 0, 0);
								transform-origin: center;
								-webkit-transform-origin: center;
								transition-duration: 1s;
								-webkit-transition-duration: 1s;
								&:nth-child(2){
									margin: 0 8px;
								}
								img{
									width: 100%;
									transform: scale(1.05);
					                -webkit-transform: scale(1.05);
									transition-duration: 2s;
									-webkit-transition-duration: 2s;
								}
								span{
									&.num{
										display: block;
										width: 30px;
										height: 30px;
										position: absolute;
										background-color: #000;
										color:#fff;
										top: 0;
										left: 0;
										font:16px/33px 'adinenuPro-bold';
										text-align: center;
										transition: all 1s;
										-webkit-transition: all 1s;
									}
								}
								.prod_tit{
									text-align: center;
									font:500 18px/23px 'NotoSansKR';
									color:#000;
									margin: 10px 0 5px;
									transition: all 1s;
									-webkit-transition: all 1s;
								}
								.prod_price{
									opacity: 1;
									transition: all 1s;
									-webkit-transition: all 1s;
								}
							}
						}
					}
				}
			}
		}
	}
	#footer{
		margin-top: 50px;
		p.date_info{
			font:400 12px 'NotoSansKR';
			color:#666666;
			text-align: center;
			span{
				font:13px 'adihaus';
			}
		}
		.footer_area{
			margin-top: 15px;
			text-align: center;
			width: 100%;
			height: 170px;
			background-color: #444444;
			img{
				margin: 30px 0 12px 0;
			}
			p.txt{
				color:#fff;
				font:700 24px 'NotoSansKR';
				text-align: center;
				span{
					font:25px 'adihaus-bold';
				}
			}
			p.txt_eng{
				color:#fff;
				text-align: center;
				font:22px 'adinenuPro-bold';
			}
		}
	}
}
