@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

/* zne_170918 */
#zne_170918{
	width: 100%;
	position: relative;
	overflow: hidden;

	.button{
		width: 280px;
		height: 58px;
		display: block;
		background: #000;
		text-align: center;

		.button_text{
			position: relative;
			display: inline-block;
			left: -10px;
			font:700 15px/58px 'NotoSansKR';
			color: #fff;
			letter-spacing: 2px;

			.eng{
				font:15px/58px 'adihaus-bold';
				text-transform: uppercase;
				letter-spacing: 2px;
			}

			.ico{
				width: 15px;
				height: 15px;
				display: block;
				position: absolute;
				top: 21px;
    			right: -21px;
				background:url('//image.adidas.co.kr/images/adidas/event/zne/170918/arrow.png') 0 0 no-repeat;
			}
		}

		&.red{
			background: #b32d34;

			&:hover{
				background: #a0292f;
			}
		}

		&:hover{
			background: #333;
		}
	}
	/* button END */

	.button_video{
		width: 126px;
		height: 126px;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -63px 0 0 -63px;

		.bg{
			width: 126px;
			height: 126px;
			display: block;
			background:url('//image.adidas.co.kr/images/adidas/event/zne/170918/video_button.png') 0 0 no-repeat;

			@include opacity(0.6);
			@include css3(transition,opacity 0.2s);
		}

		.ico{
			width: 32px;
			height: 38px;
			background:url('//image.adidas.co.kr/images/adidas/event/zne/170918/video_button_play.png') 0 0 no-repeat;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -19px 0 0 -14px;
		}

		&:hover{
			.bg{
				@include opacity(1);
			}
		}
	}
	/* button_video END */

	.block{
		width: 100%;
		position: relative;

		.background_image{
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -960px;
		}
	}

	.inner{
		width: 1190px;
		margin: 0 auto;
		position: relative;
	}

	.features_grid{
		width: 100%;
		position: relative;

		.copy_warpper{
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 10;

			.title{
				margin-bottom: 10px;
				font:64px/68px 'adinenuPro-black';
				text-transform: uppercase;
				color: #000;
			}

			.desc{
				margin-bottom: 40px;
				font:400 24px/24px 'NotoSansKR';
				letter-spacing: -0.75px;
				color: #000;
			}
		}

		.image_warpper{
			position: absolute;
			top: 0;
			right: 0;
		}

	}
	/* features_grid END */

	.masthead{
		width: 100%;
		height: 842px;
		position: relative;
		background: #1a1a1a;

		.inner{
			height: 842px;
		}

		.features_grid{
			.copy_warpper{
				top: 330px;
				left: 120px;

				.title{
					color: #fff;
				}

				.desc{
					color: #fff;
				}
			}

			.image_warpper{
				top: 107px;
				right: -130px;
			}
		}

		@media (max-width: 1366px) {
			height: 614px;
			.background_image{
				margin-left: -700px;

				img{
					width: 1400px;
				}
			}

			.features_grid{
				.copy_warpper{
					top: 190px;
					left: 0;
				}

				.image_warpper{
					top: 60px;
					right: 0;
					.frame_image{
						img{
							width: 620px;
						}
					}
				}
			}


		}
	}
	/* masthead END */

	.video_wrapper{
		width: 100%;
		height: 900px;
		background: #000;

		@media (max-width: 1366px) {
			height: 656px;
			.background_image{
				margin-left: -700px;

				img{
					width: 1400px;
				}
			}
		}
	}
	/* video_wrapper END */

	.pulse{
		height: 416px;

		.background_image{
			// left: 50%;
		}
	}

	.statement{
		padding: 139px 0 141px;
		.copy_wrapper{
			text-align: center;
			font:400 24px/42px 'NotoSansKR';
			color: #000;

			strong{
				font-weight: 700;
			}
		}

		@media (max-width: 1366px) {
			padding: 80px 0;
			.copy_wrapper{
				font-size: 20px;
				line-height: 32px;
			}
		}
	}

	.features{
		.inner{
			height: 754px;

			.features_grid{
				.copy_warpper{
					left: 120px;
					top: 225px;

					.title{
						font-size: 68px;
						line-height: 72px;
					}

					.desc{
						font-size: 19px;
						line-height: 28px;
					}
				}

				.image_warpper{
					top: 100px;
					right: -156px;
				}
			}
		}

		&.features2{
			.inner{
				height: 615px;

				.features_grid{
					.copy_warpper{
						top: 80px;
					}

					.image_warpper{
						top: 0;
						right: -310px;
					}
				}
			}
		}
	}
	/* video_wrapper END */


}
