@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';
#falcon{
	position: relative;
	min-width: 1280px;
	overflow: hidden;
	background: #fff;
	img{
		position: absolute;
		left: 50%;
		top: 0;
		margin-left: -952px;
	}
	.main{
		height: 1014px;
	}
.bottom{
	position: relative;
	height: 965px;
}
a{
	display: block;


	&.link{
		z-index: 5;
		position: absolute;
	    top: 599px;
	    left: 50%;
	    margin-left: -58px;
	    width: 350px;
	    height: 67px;
	}
}
}
