@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

html.no_scroll {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.video_layer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	.close {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 20;
		background-position: 0 -685px;
		opacity: 0;
		-ms-filter: alpha(opacity=0);
		filter: alpha(opacity=0);
		transition: opacity 0.4s ease-in 0.2s;
		-webkit-transition: opacity 0.4s ease-in 0.2s;
	}

	.bg {
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0;
		-ms-filter: alpha(opacity=0);
		filter: alpha(opacity=0);
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;
		transition: opacity 0.4s;
		-webkit-transition: opacity 0.4s;
	}

	&.loaded {
		.bg {
			opacity: 0.6;
			-ms-filter: alpha(opacity=60);
			filter: alpha(opacity=60);
		}

		.close {
			opacity: 1;
			-ms-filter: alpha(opacity=100);
			filter: alpha(opacity=100);
		}
	}

	.video {
		width: 100%;
		height: 100%;
		z-index: 6;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.azx {
	min-width: 1370px;
	.section{
		position: relative;
		>img {
			display: block;
			width: 100%;
		}
		&.sect_visual{}
		&.sect_state{
			video{
				display: block;
				width: 100%;
			}
			&.on{
				.state_buybox {
					>*{
						// transform: translateY(0) !important;
						// opacity: 1 !important;
					}
				}
			}
			.state_buybox{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;
				text-align: center;
				>*{
					// transform: translateY(30px);
					// transition: 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
					// opacity: 0;
				}
				p{
					font: 300 20px 'NotoSansKR';
					color: #fff;
					text-align: center;
				}
				.btn-play{					
					margin-top: 60px;
					text-align: center;
					a{
						display: inline-block;
						font: 300 16px 'NotoSansKR';
						color: #fff;
						text-decoration: underline;
					}
				}
				.button_area_v2{
					display: inline-block;
					margin-top: 25px;
					
					transition-delay: 0.1s;
					a{
						padding: 0 20px;
					}
				}
			}
		}
		&.minicard__wrapper {
			padding: 50px 0;
			background: url(/images/adidas/2020/event/zx/azx/minicard_bg.jpg) no-repeat;
			background-size: cover;
			position: relative;

			.minicard__wrapper__head {
				
				text-align: center;
				h3{
					text-align: center;
				}
				p{
					padding: 20px 0 45px;
					font: 400 22px/22px 'NotoSansKR';
					color: #000;
					text-align: center;
				}
			}

			#minicard__wrapper__slider {
				width: 1150px;
				margin: 0 auto;
				.slick-slide {
					outline: none;
				}
				.minicard__wrapper__inner {
					.minicard__wrapper__img {
						text-align: center;
						width: 270px;
						height: 250px;
						border: 3px solid #fff;
						-webkit-box-sizing: border-box;
						box-sizing: border-box;
						background: transparent;
						img {
							width:100%;
						}
					}

					.minicard__wrapper__txt {
						position: relative;
						left: 6.3%;
						margin: 25px 0 0 0;
						.txt_inn{
							height: 131px;
							h4 {
								// height: 56px;
								font: 400 24px/24px 'adinenuPro-black';
								color: #000;
							}

							p {
								height: 78px;
								font: 400 16px/22px 'NotoSansKR';
								color: #000;
								margin: 5px 0 0 0;
							}
						}
						.button_area_v2 {
							display: inline-block;
							margin: 15px auto 5px;
							margin-left: 0;
							a {
								padding: 0 20px;
							}
						}
					}
				}


			}

			.carousel_wrapper_nav {
				.arrow-button {
					position: absolute;
					top: 42%;

					&.prev-button01 {
						left: 50%;
						margin-left: -650px;
					}

					&.next-button01 {
						position: absolute;
						left: 50%;
						margin-left: 585px;
					}
				}
			}

			@media all and (max-width:1300px) {
				.carousel_wrapper_nav {
					.arrow-button {
						&.prev-button01 {
							margin-left: -626px;
						}

						&.next-button01 {
							margin-left: 568px;
						}
					}
				}
			}
		}

		&.sect_contents{
			position: static;
			padding: 50px;
			background: #fff;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			>div{
				margin-bottom: 50px;
				&:last-child{
					margin-bottom: 0;
				}
				>img{
					display: block;
					width: 100%;
				}
			}
			.cont_thisprd{
				position: relative;
				&.on {
					.thisprd_buybox {
						>*{
							// transform: translateY(0) !important;
							// opacity: 1 !important;
						}
					}
				}
				.thisprd_buybox{
					position: absolute;
					top: 50%;
					left: 5%;
					transform: translateY(-50%);
					z-index: 2;
					>*{
						// transform: translateY(30px);
						// transition: 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
						// opacity: 0;
					}
					h3{
						padding-bottom: 15px;
						font: 400 35px 'adinenuPro-bold';
						letter-spacing: 1px;
						color: #000;
					}
					p{
						font: 400 16px 'NotoSansKR';
						color: #000;
						transition-delay: 0.1s;
					}
					.button_area_v2{
						display: inline-block;
						margin-top: 40px;
						transition-delay: 0.2s;
						a {
							padding: 0 20px;
						}
					}
				}
			}
			.cont_prds{

			}
			.cont_bnnzx{
				position: relative;
				&.on {
					.bnnzx_buybox {
						>* {
							// filter: blur(0) !important;
							// opacity: 1 !important;
						}
					}
				}
				.bnnzx_buybox{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 2;
					text-align: center;
					>* {
						// filter: blur(20px);
						// transition: 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
						// opacity: 0;
					}
					h3 {
						font: 400 50px/50px 'adinenuPro-bold';
						color: #000;
						text-align: center;
					}
					.button_area_v2 {
						margin-top: 40px;
						display: inline-block;
						transition-delay: 0.2s;
						a {
							padding: 0 20px;
						}
					}
				}
			}
		}
	}
}



