@import "./front/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
#contents_wrap{
    background: #fff;
}
.btn{
    position: relative;
    display: inline-block;
    // width: 155px;
    margin-top: 30px;
    border:1px solid #fff;
    box-sizing: border-box;
    a{
        display: block;
        padding:0 25px;
        background: #000;
        color:#fff;
        font: 600 14px/48px 'NotoSansKR';
        text-align: center;
        letter-spacing: 1px;
        span.arrow{
            display: inline-block;
            width: 24px;
            height: 11px;
            margin-left: 10px;
            background: url('/images/reebok/2019/event/interval_og/arrow_w.png') no-repeat;
        }
        &::after{
            display: inline-block;
            content: '';
            position: absolute;
            top: 0;right: 0;left: 0;bottom: 0;
            border: 1px solid #fff;
            z-index: -1;
            transform: translate(5px, 5px);
        }
    }
}

.campaign_og{

    .bg{
        position: absolute;
        top:0;
        left: 50%;
        width: 1920px;
        transform:translateX(-50%);
    }

    .visual_main{
        position: relative;
        height: 800px;
        &.on{
            .txt{
                h1{opacity: 1; padding-left: 0;}
                >p{opacity: 1; padding-left: 0;}
                .btn{opacity: 1; margin-left: 0;}
            }
            .logo{
                top: 62px;
                opacity: 1;
                
            }
        }
        .bg{
            position: absolute;
            top:0;
            left: 50%;
            width: 1920px;
            transform:translateX(-50%);
        }
        .txt{
            // outline: 1px solid #fff;
            // width: 480px;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%, -50%);
            text-transform: uppercase;
            text-align: center;
            h1{
                text-align: center;
                opacity: 0;
                transition: all .6s;
                transition-delay: 0.4s;
                img{
                    display: inline-block;
                }
            }  
            a.btn-play{
                display: inline-block;
                margin: 30px 0;
            }          
            >p{ 
                display: block;
                font: 18px/28px 'NotoSansKR';
                color:#fff;
                text-align: center;
                opacity: 0;
                text-transform: initial;
                transition: all .6s;
                transition-delay: 0.4s;
            }
            .btn{
                margin:20px 0 0 0;
                opacity: 0;
                transition: all .6s;
                transition-delay: 0.4s;
            }
        }        
    }

    .section{
        position: relative;
        
        &.sect1{
            height: 1729px;
                .cont{
                position: relative;
                width: 1160px;
                margin: 0 auto;
                padding-top: 70px;
                text-align: center;
                >img{
                    display: inline-block;
                    &:last-child{
                        padding-top: 64px;
                    }
                }
                .tit{
                    overflow: hidden;
                    width: 662px;
                    height: 121px;
                    padding: 0 0 5px 5px;

                    position: absolute;
                    top: 663px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 5;
                    >img{
                        position: absolute;
                        transition: .6s cubic-bezier(0.39, 0.575, 0.565, 1);
                        transition-delay: 1s;
                        &:first-child{ // 빨간거
                            
                            transition-delay: 1.6s;
                        }
                        &:last-child{ // 흰거
                            top: 100%;
                        }
                    }
                }
            }
            &.on{
                .cont{
                    .tit{
                        >img{
                            &:first-child{
                                transform: translate(-5px, 5px);
                            }
                            &:last-child{
                               top: 0;
                            }
                        }
                    }
                }
            }
        }
        &.sect2{
            height: 2105px;
            .cont{
                position: relative;
                width: 1160px;
                margin: 0 auto;
                padding-top: 35px;
                text-align: center;
                >img{
                    &:last-child{
                        padding-top: 50px;
                        margin-left: -320px;
                    }
                }
                .tit{
                    position: absolute;
                    overflow: visible;
                    width: 500px;
                    height: 176px;
                    padding: 0;
                    top: 330px;
                    left: 0;
                    margin-left: -220px;
                    text-align: center;
                    z-index: 1;
                    >img{
                        position: static;
                        transition: .6s;
                    }
                    .btn{
                        
                    }
                }
            }
        }
    }

    .end_area{
        position: relative;
        height: 541px;
        text-align: center;
        .btn{
            margin-top: 440px;
            z-index: 1;
        }
    }
}
