@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';
#preloadPanel {
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	@include css3(transition, opacity 0.9s);
	div {
		position: relative;
		font: 50px 'adiBlack';
		color: #000;
		position: absolute;
		top: 50%;
		left: 50%;
		@include css3(transform, translate3d(-50%, -50%, 0));
		&::after {
			@extend .pseudo-element;
			position: absolute;
			top: -110%;
			left: -210%;
			width: 200%;
			height: 100%;
			background: rgba(255, 255, 255, 0.5);
			background: linear-gradient( to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
			@include opacity(0);
			@include css3(transform, rotate(30deg));
			@include animation(1s, 1.2s, shining);
			transition-property: left, top, opacity;
			transition-duration: 0.7s, 0.7s, 0.15s;
			transition-timing-function: ease;
			-webkit-transition-property: left, top, opacity;
			-webkit-transition-duration: 0.7s, 0.7s, 0.15s;
			-webkit-transition-timing-function: ease;
		}
	}
	&.loaded {
		@include opacity(0);
	}
}

.video-viewer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	.video {
		width: 100%;
		height: 100%;
		z-index: 6;
		position: absolute;
		top: 0;
		left: 0;
	}
	.close {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 20;
		background-position: 0 -685px;
		@include opacity(0);
		@include css3(transition, opacity 0.4s ease-in 0.2s);
	}
	.bg {
		width: 100%;
		height: 100%;
		background: #000;
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;
		@include opacity(0);
		@include css3(transition, opacity 0.4s);
	}
	&.loaded {
		.bg {
			@include opacity(0.6);
		}
		.close {
			@include opacity(1);
		}
	}
}

#kids_running {
	position: relative;
	background: #fff;
	overflow: hidden;
	a {
		&.button {
			display: block;
			width: 261px;
			height: 52px;
			font:500 16px/48px 'NotoSansKR', 'Nanum Gothic';
			background: #fff;
			border: 2px solid #fff;
			color: #000;
			transition: all 0.8s;
			-webkit-transition: all 0.8s;
			-moz-transition: all 0.8s;
			-o-transition: all 0.8s;
			-ms-transition: all 0.8s;
			letter-spacing: -1px;
			text-align: center;
			.spt_bg{
				display: inline-block;
				width: 16px;
				height: 16px;
				margin-left: 8px;
				background: #000;
			}
		}
		&:hover.button {
			background: #000;
			color: #fff;
			border: 2px solid #000;
		}
	}	
	.main{
		position: relative;
		overflow: hidden;
		height: 540px;
		.bg{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 50%;
			margin-left: -960px;
		}
		.inn{
			position: relative;
			width: 1200px;
			margin: 0 auto;
			h3{
				position: absolute;
				top: 80px;
				left: 125px;
				font: 106px/106px 'adinenuPro-black';
				color:#fff;
				z-index: 1;
			}
			.button{
				position: absolute;
				top: 380px;
				left: 125px;				
				margin: 30px auto 0;
				z-index: 1;
			}
		}
		
	}
	.section{
		position: relative;
		padding: 100px 0;
		.inn{
			position: relative;
			width: 1200px;
			margin: 0 auto;
			.sec_line{
					
				&:first-child{
					margin-bottom: 50px;
				}
				.sec_box{
					position: relative;
					color: #000;
					text-align: left;
					&.lt{
						float: left;
					}
					&.rt{
						float: right;
					}
					>img{

					}
					.sec_img_sub{
						position: absolute;
						img{
							position: relative;
							z-index: 1;
						}
						&::before{
							content : "";
							position: absolute;							
							display: inline-block;
							opacity: .6;
							z-index: 0;
						}
					}					
					h3{
						font: 600 43px 'NotoSansKR';
						letter-spacing: -2px;					
					}
					h4{
						font: 400 17px 'NotoSansKR';
						padding-bottom: 15px;
					}
					.prd_code{
						border-left: 2px solid #868686;
						padding-left: 10px;
						font: 400 14px 'adinenuPro-regular','NotoSansKR';
						p{
							color: #868686;
							padding-bottom: 5px;
							&:last-child{
								padding-bottom: 0;
							}
						}						
					}
				}
			}			
		}
	}
	.sec_01{
		.sl_01{
			height: 440px;
			.sec_img_sub{				
				top: 185px;
				left: 365px;				
				&::before{					
					top: -30px;
					left: -30px;					
					width: 358px;
					height: 256px;
					background: #a4dbf4;					
				}
			}
		}
		.sl_02{
			height: 480px;
			.sec_img_sub{				
				top: 198px;
				left: -310px;				
				&::before{
					content : "";				
					top: -30px;
					left: 30px;					
					width: 367px;
					height: 295px;
					background: #9be3ec;				
				}
			}
		}
	}
	.sec_02{
		background : #fafee2;
		.sl_01{
			height: 530px;
			.sec_img_sub{				
				top: 275px;
				left: 333px;				
				&::before{					
					top: -30px;
					left: -30px;					
					width: 358px;
					height: 256px;
					background: #ccf485;					
				}
			}
		}
		.sl_02{
			height: 484px;
			.sec_img_sub{				
				top: 188px;
				left: -320px;				
				&::before{
					content : "";				
					top: -30px;
					left: 30px;					
					width: 367px;
					height: 295px;
					background: #efefb4;				
				}
			}
		}
	}
	.sec_03{
		height: 665px;
		.sec_line{
			margin: 0 !important;
			.sec_box{
				h3{
					padding-top: 30px;
				}
			}
		}
		.lt{
			height: 665px;
			>img{
				margin-left: -125px;
			}
			.sec_img_sub{				
				top: -50px;
				right: -50px;				
				&::before{					
					top: 0;
					left: 0;					
					width: 0;
					height: 0;
					background: none;					
				}
			}
		}
		.rt{
			height: 665px;
			.sec_img_sub{				
				top: 140px;
				right: -80px;				
				&::before{					
					content : "";				
					top: 0;
					left: 0;					
					width: 0;
					height: 0;
					background: none;				
				}
			}
		}
	}
	.sec_04{
		height: 912px;
		padding: 0;
		.bg{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 50%;
			margin-left: -960px;
		}
		.button_box{
			position: absolute;
			bottom: 55px;
			left: 50%;
			width: 950px;
			margin-left: -475px;
			z-index: 1;
			.button{
				float: left;
				width: 460px;
				&:last-child{
					float: right;
				}
			}
		}		
	}
	.sec_05{
		.sl_01{
			height: 440px;
			margin-bottom: 80px !important;
			.sec_img_sub{				
				top: 185px;
				left: 365px;				
				&::before{					
					top: -30px;
					left: -30px;					
					width: 358px;
					height: 256px;
					background: #8df3c4;					
				}
			}
		}
		.sl_02{
			height: 440px;
			.sec_img_sub{				
				top: 188px;
				left: -320px;				
				&::before{
					content : "";				
					top: -30px;
					left: 30px;					
					width: 367px;
					height: 295px;
					background: #efefb4;				
				}
			}
		}
	}
	.sec_06{
		background : #feeef1;
		.sl_01{
			height: 530px;
			.sec_img_sub{				
				top: 275px;
				left: -270px;				
				&::before{					
					top: -30px;
					left: -30px;					
					width: 358px;
					height: 256px;
					background: #fcc8d0;					
				}
			}
		}
		.sl_02{
			height: 510px;
			margin-bottom: 100px;
			.sec_img_sub{				
				top: 110px;
				left: -420px;				
				&::before{
					content : "";				
					top: -30px;
					left: 30px;					
					width: 447px;
					height: 365px;
					background: #df957f;				
				}
			}
		}
		.sl_03{
			height: 500px;
			.sec_img_sub{				
				top: 241px;
				right: -122px;				
				&::before{
					content : "";				
					top: -30px;
					left: -30px;					
					width: 358px;
					height: 256px;
					background: #f3e7a3;				
				}
			}
			.sec_img_sub2{	
				position: absolute;			
				top: -68px;
				right: -31px;
			}
		}
	}
	.sec_07{
		position: relative;		
		text-align: center;	
		p{
			font:72px/70px 'adinenuPro-black';
			color:#000;
			text-align: center;
			margin-top: 50px;
			opacity: 1;
			transition: all 0.8s;
			-webkit-transition: all 0.8s;
			-moz-transition: all 0.8s;
			-o-transition: all 0.8s;
			-ms-transition: all 0.8s;
			span{
				font: 32px/32px 'adinenuPro-bold';
			}
		}
		.button{
			margin: 20px auto 0;
			border: 2px solid #000;
		}
	}

	a {
		&.buy {
			margin-top: 35px;
			display: block;
			width: 200px;
			height:48px;
			font:500 16px/46px 'NotoSansKR', 'Nanum Gothic';
			border: 2px solid #000;
			background-color: #000;
			color: #fff;
			transition: all 0.8s;
			-webkit-transition: all 0.8s;
			-moz-transition: all 0.8s;
			-o-transition: all 0.8s;
			-ms-transition: all 0.8s;
			letter-spacing: -1px;
			text-align: center;
		}
		&:hover{
			background: none;
			color: #000;
			border: 2px solid #000;
		}
	}
}
