@import "./front/css/reebok/scss/about.scss";

/* common */
#wrap{
    overflow: hidden;
    min-width: 1160px;
}
html,body{
	height:100%;
}
#contents_wrap{padding: 0;}
.btn{
	display: inline-block;
	&.sold{
		>div{
			a{
				border: 1px solid #bbb;
				background: #bbb;

			}
			&:before{
				border-bottom: 1px solid #bbb;
				border-left: 1px solid #bbb;

			}
			&::after{
				border-right: 1px solid #bbb;
				border-top: 1px solid #bbb;
			}
		}
	}
	>div{
		position: relative;
		&::before{
			border-bottom: 1px solid #000;
			border-left: 1px solid #000;
			bottom: -4px;
			height: 3px;
			left: 3px;
			width: calc(100%);
			content: "";
			display: block;
			position: absolute;
		}
		&::after{
			border-right: 1px solid #000;
			border-top: 1px solid #000;
			height: calc(100%);
			right: -4px;
			top: 3px;
			width: 3px;
			content: "";
			display: block;
			position: absolute;
		}
		a{
			width: auto;
			font: 500 14px/48px 'NotoSansKR';
			letter-spacing: 0;
			position: relative;
			display: block;
			padding: 0 20px;
			text-align: center;
			height: 50px;
			color: #fff;
			// background:transparent;
			background: #000;
			z-index: 2;
			border: 1px solid #000;
			letter-spacing: 0.7px;
			transition: .4s;
			.arrow{
				display: inline-block;
				width: 24px;
				height: 11px;
				margin-left: 25px;
				background: url(/images/reebok/2019/event/interval_og/arrow_w.png) no-repeat;
			}
		}
	}
	&:hover{
		a{
			transform: translate(3px, 3px);
		}
	}
}

.respecttheicon{

	.rel{
		position: relative;
	}
	.txt{
		font : 500 20px/20px 'NotoSansKR';
		color:#000;
		text-align: center;
	}
	.ct{
		position: absolute;
		left:50%;
		transform: translateX(-50%);
	}
	.main__wrapper{		
		video{
			display: block;
			width: 100%;
		}
		.txt{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);			
			a{
				img{
					width:100%;
				}
			}
		}		
	}
	.aside__wrapper{		
		padding: 65px 0 75px 0;
		.aside__wrapper__txt{
			text-align: center;
			h3{
				font:900 44px/46px 'neueplak';
				color:#000;				
				text-align: center;
				text-transform:uppercase;
				span{
					font:200 44px/46px 'neueplak';
				}				
			}
			.btn{
				margin:40px 0 0 0;
			}
		}
		.aside__wrapper__img{			
			position: relative;	
			height: 1044px;		
			.img_box{
				white-space: nowrap;
				position: absolute;
				top: 70px;
				left: 50%;
				transform: translateX(-50%);
				img{
					display: inline-block;
					&:first-child{
						margin-right: 28px; 
					}
				}		
			}
		}
		
	}
	.section__wrapper01{
		margin-top: 70px;
		position: relative;
		background: url('/images/reebok/2020/event/respecttheicon/0406/cont1_bg.jpg');
		background-position: center;
		height: 1231px;
		.txt_box{
			position: absolute;
			top: 120px;
			left:50%;
			margin-left: 30px;
			p{
				float: left;
				font:700 26px/36px 'NotoSansKR';
				color:#000;
				.atc{
					font:300 20px/36px 'neueplak-nrrw';
					letter-spacing: 1px;
				}
				.price{
					font:600 20px/20px 'neueplak-nrr';
					margin-left: 5px;
					span{
						font:700 16px/20px 'NotoSansKR';
					}
				}				
				&::after{
					content: '';
					clear: both;
				}
			}
			.btn{
					margin-top: 5px;
					margin-left: 60px;
					float: right;
				}
		}
		.img_box{
			position: absolute;
			left: 50%;
			img{
				display: block;
			}
		}

	}

	.section__wrapper02{		
		position: relative;
		background: url('/images/reebok/2020/event/respecttheicon/0406/cont2_bg.jpg');
		background-position: center;
		height: 1140px;
		.txt_box{
			position: absolute;
			top: 50px;
			left:50%;
			margin-left: 30px;
			p{
				float: left;
				font:700 26px/36px 'NotoSansKR';
				color:#000;
				.atc{
					font:300 20px/36px 'neueplak-nrrw';
					letter-spacing: 1px;
				}
				.price{
					font:600 20px/20px 'neueplak-nrr';
					margin-left: 5px;
					span{
						font:700 16px/20px 'NotoSansKR';
					}
				}				
				&::after{
					content: '';
					clear: both;
				}
			}
			.btn{
					margin-top: 5px;
					margin-left: 60px;
					float: right;
				}
		}
		.img_box{
			position: absolute;
			left: 50%;
			img{
				display: block;
			}
		}

	}

	.section__wrapper03{		
		position: relative;
		background: url('/images/reebok/2020/event/respecttheicon/0406/cont3_bg.jpg');
		background-position: center;
		height: 836px;
		.txt_box{
			position: absolute;
			top: 50px;
			left:50%;
			margin-left: -405px;
			p{
				float: left;
				font:700 26px/36px 'NotoSansKR';
				color:#000;
				.atc{
					font:300 20px/36px 'neueplak-nrrw';
					letter-spacing: 1px;
				}
				.price{
					font:600 20px/20px 'neueplak-nrr';
					margin-left: 5px;
					span{
						font:700 16px/20px 'NotoSansKR';
					}
				}				
				&::after{
					content: '';
					clear: both;
				}
			}
			.btn{
					margin-top: 5px;
					margin-left: 60px;
					float: right;
				}
		}
		.img_box{
			position: absolute;
			left: 50%;
			img{
				display: block;
			}
		}

	}
	.section__wrapper04{		
		position: relative;
		background: url('/images/reebok/2020/event/respecttheicon/0406/cont4_bg.jpg');
		background-position: center;
		height: 841px;
		.txt_box{
			position: absolute;
			top: 50px;
			left:50%;
			margin-left: -405px;
			p{
				float: left;
				font:700 26px/36px 'NotoSansKR';
				color:#000;
				.atc{
					font:300 20px/36px 'neueplak-nrrw';
					letter-spacing: 1px;
				}
				.price{
					font:600 20px/20px 'neueplak-nrr';
					margin-left: 5px;
					span{
						font:700 16px/20px 'NotoSansKR';
					}
				}				
				&::after{
					content: '';
					clear: both;
				}
			}
			.btn{
					margin-top: 5px;
					margin-left: 60px;
					float: right;
				}
		}
		.img_box{
			position: absolute;
			left: 50%;
			img{
				display: block;
			}
		}

	}
	.btm__wrapper{		
		padding: 65px 0 75px 0;
		.btm__wrapper__txt{
			text-align: center;
			h3{
				font:900 44px/46px 'neueplak';
				color:#000;				
				text-align: center;
				text-transform:uppercase;
				span{
					font:200 44px/46px 'neueplak';
				}				
			}
			.btn{
				margin:40px 0 0 0;
			}
		}		
	}

}


