/* 제휴몰 전달 css */
p	{margin:0px;}
ul{list-style:none;margin:0px;padding:0px;}
img	{ border:0px; }
div	{ text-align:left; }
input {margin:0;}
dl, dt, dd { margin:0; padding:0; }
td, input, li, div,p, textarea, select	{ font-size:12px;font-family:dotum,돋음;color:#5C5C5C; }
h1,h2,h3,h4,h5,h6{font-size:12px;text-align:left;margin:0;padding:0;}
li{font-size:12px;line-height:1.5em;float:left;}
.blind{display:block;left:0;overflow:hidden;position:absolute;top:-5000px;}
.clr{clear:both;}
body { background-color: #FFFFFF; scrollbar-face-color: #F2F2F2; scrollbar-shadow-color: #999999; scrollbar-highlight-color: #999999; scrollbar-3dlight-color: #FFFFFF; scrollbar-darkshadow-color: #FFFFFF; scrollbar-track-color: #F2F2F2; scrollbar-arrow-color: #999999; }
/*smart_view1*/
div.smart_view1{display:none;position:fixed;top:480px;left:50%;margin:-204px 0 0 -214px;width:408px;height:428px;background:#31aaf7;border:1px solid #0086e7;z-index:10000000;}
div.smart_view1 div.header{height:33px}
div.smart_view1 div.header h1{margin:10px 0 0 10px;float:left;display:inline;}
div.smart_view1 div.header a{float:right;margin:12px 12px 0 0;}
div.smart_view1 div.smart_content{width:402px;height:392px;margin-left:3px;}


div.smart_view1 div.smart_content div.smart_left{float:left;width:340px;height:392px;background:#fff;}
div.smart_view1 div.smart_content div.smart_left p.smart_img{padding-left:10px;margin-bottom:15px;}
div.smart_view1 div.smart_content div.smart_left p.smart_tit{margin-bottom:12px;padding-left:11px;color:#0096ff;}
div.smart_view1 div.smart_content div.smart_left p.smart_price{padding-left:11px;}
div.smart_view1 div.smart_content div.smart_left p.smart_price span{color:#000;}
div.smart_view1 div.smart_content div.smart_left p.smart_price span.sale{color:#ed0000;}
div.smart_view1 div.smart_content div.smart_left p.smart_price span.line_through{color:#000;padding-right:5px;text-decoration:line-through;}


div.smart_view1 div.smart_content div.smart_right{width:52px;height:382px;float:right;padding:10px 0 0 9px;background:#efebef;border-left:1px solid #e7e3e7;}
div.smart_view1 div.smart_content div.smart_right li{width:42px;height:42px;margin-bottom:4px;}
div.smart_view1 div.smart_content div.smart_right li a{width:40px;height:40px;border:1px solid #e2e2e2;cursor:pointer;display:block;}
div.smart_view1 div.smart_content div.smart_right li a:hover{border:1px solid #34a8f7;}




/*smart_view2*/
div.smart_view2{display:none;position:fixed;top:480px;left:50%;margin:-204px 0 0 -214px;width:408px;height:428px;background:#393839;border:1px solid #222;z-index:10000000;}
div.smart_view2 div.header{height:33px}
div.smart_view2 div.header h1{margin:10px 0 0 10px;float:left;display:inline;}
div.smart_view2 div.header a{float:right;margin:12px 12px 0 0;}
div.smart_view2 div.smart_content{width:402px;height:392px;margin-left:3px;}


div.smart_view2 div.smart_content div.smart_left{float:left;width:340px;height:392px;background:#fff;}
div.smart_view2 div.smart_content div.smart_left p.smart_img{padding-left:10px;margin-bottom:15px;}
div.smart_view2 div.smart_content div.smart_left p.smart_tit{margin-bottom:12px;padding-left:11px;color:#000;}
div.smart_view2 div.smart_content div.smart_left p.smart_price{padding-left:11px;}
div.smart_view2 div.smart_content div.smart_left p.smart_price span{color:#000;}
div.smart_view2 div.smart_content div.smart_left p.smart_price span.sale{color:#ed0000;}
div.smart_view2 div.smart_content div.smart_left p.smart_price span.line_through{color:#000;padding-right:5px;text-decoration:line-through;}


div.smart_view2 div.smart_content div.smart_right{width:52px;height:382px;float:right;padding:10px 0 0 9px;background:#efebef;border-left:1px solid #e7e3e7;}
div.smart_view2 div.smart_content div.smart_right li{width:42px;height:42px;margin-bottom:4px;}
div.smart_view2 div.smart_content div.smart_right li a{width:40px;height:40px;border:1px solid #e2e2e2;cursor:pointer;display:block;}
div.smart_view2 div.smart_content div.smart_right li a:hover{border:1px solid #333;}


div.smart_view2,div.smart_view1{
 _position: absolute; 
 _top: expression(280+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px'); 
 _left: expression(50+((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'%');
 }

/*detail*/
div.adi_detailWrap{width:700px;}
div.adi_dtTop{width:700px;height:179px;margin-bottom:10px;}
div.zoom_area{width:700px;overflow:hidden;margin:10px 0;}
div.zoom_header{height:43px;padding:0 15px 0 20px;background:url(/images/alliance/sub/bg_zoomHeader.gif) 0 0 repeat-x;}
div.zoom_header h1{float:left;font-family:dotum;font-size:18px;color:#fff;font-weight:bold;line-height:43px;}
div.zoom_header div.zoom_control{float:right;margin-top:12px;}
div.zoom_header div.zoom_control a{display:block;width:20px;height:20px;float:left;text-indent:-5000px;}
div.zoom_header div.zoom_control a.zoomin{background:url(/images/alliance/sub/btn_zoomin.gif) 0 0 no-repeat;margin-right:5px;}
div.zoom_header div.zoom_control a.zoomout{background:url(/images/alliance/sub/btn_zoomout.gif) 0 0 no-repeat;}
div.zoom_header div.zoom_control a.zoomin:hover{background:url(/images/alliance/sub/btn_zoomin_h.gif) 0 0 no-repeat;}
div.zoom_header div.zoom_control a.zoomout:hover{background:url(/images/alliance/sub/btn_zoomout_h.gif) 0 0 no-repeat;}
div.zoom_contents{width:690px;height:570px;padding-top:120px;position:relative;border:5px solid  #383838;border-top:none;background-color:#fff;}
div.zoom_list{position:absolute;bottom:20px;left:127px;z-index:10005;}
div.zoom_list ul {width:auto !important;}
div.zoom_list li{width:auto !important;float:left !important;margin-right:5px !important;}
div.zoom_list li a{display:block;width:57px;height:57px;padding: 2px 0 0 2px;border:1px solid #dddddd;background:#fff;}
div.zoom_list li a:hover,div.zoom_list li a.on{border:1px solid #666;}
div#zoom_img{width:445px;height:445px;position:relative;margin:0 auto;background:url(/images/alliance/sub/1m.jpg) 0 0 no-repeat;}
div#zoom_img div#img_hover{width:445px;height:445px;position:absolute;top:0;left:0;z-index:10005;}
div#zoom_img a{position:absolute;top:184px;left:182px;opacity:.99;display:none;z-index:10010;}
div#zoom_image{width:690px;height:690px;position:absolute;top:0;left:0;display:none;}
div#zoom_layer{width:690px;height:690px;position:absolute;top:0;left:0;background:#e6e6e6;opacity:0.3;z-index:10000;display:none;-ms-filter: alpha(opacity=30);filter:alpha(opacity=30);}
		
div.adi_detailProd{width:700px;margin:0 0 10px 0;background:#6b6c6d;}

div.adi_dtTab{height:30px;background:url(/images/alliance/sub/bg_tab_border.gif) 0 bottom repeat-x;}
div.adi_dtTab a{display:block;width:113px;height:29px;float:left;text-indent:-5000px;margin-right:-1px;}
div.adi_dtTab a#adi_t1.on{margin-right:0;background:url(/images/alliance/sub/tab_detail.gif) 0 -29px no-repeat;}
div.adi_dtTab a#adi_t1{background:url(/images/alliance/sub/tab_detail.gif) 0 0 no-repeat;}
div.adi_dtTab a#adi_t2.on{margin-right:0;background:url(/images/alliance/sub/tab_detail.gif) -112px -29px no-repeat;}
div.adi_dtTab a#adi_t2{background:url(/images/alliance/sub/tab_detail.gif) -112px 0 no-repeat;}

div.adi_dtTab a#adi_t3.on{width:158px;margin-right:0;background:url(/images/alliance/sub/tab_detail.gif) -224px -29px no-repeat;}
div.adi_dtTab a#adi_t3{width:158px;background:url(/images/alliance/sub/tab_detail.gif) -224px 0 no-repeat;}
div.adi_dtTab a#adi_t4.on{width:133px;margin-right:0;background:url(/images/alliance/sub/tab_detail.gif) -381px -29px no-repeat;}
div.adi_dtTab a#adi_t4{width:133px;background:url(/images/alliance/sub/tab_detail.gif) -381px 0 no-repeat;}

div.adi_dtContents1,div.adi_dtContents2{width:698px;overflow:hidden;padding-bottom:8px;border:1px solid #4e4e4e;border-top:none;background:#6B6C6D;}
div.adi_dtContents2{padding-top:10px;}
div.adi_dtGs{width:700px !important;border:0px solid #4e4e4e !important;padding-bottom:0 !important;}
div.adi_dtTable{width:680px;padding:0 9px;margin-bottom:10px;background:url(images/sub/bg_gridx_dt.gif) 0 bottom repeat-x;}
div.adi_dtTable h2{padding:26px 0 13px 8px;font-size:14px;font-weight:bold;color:#fff;}
div.adi_dtTable table{width:680px;margin:0 auto;table-layout:fixed;}
div.adi_dtTable table td,div.adi_dtTable table th{height:22px;padding:5px 0;border-bottom:1px solid #888;}
div.adi_dtTable table th{padding-left:5px;text-align:left;color:#cecece;font-weight:bold;font-size:11px;}
div.adi_dtTable table th img{margin-left:10px;}
div.adi_dtTable table td{font-size:11px;color:#d3d3d3;}
div.adi_dtTable table td img{width:auto;}
div.adi_dtTable table td iframe{height:380px;} /* 120611 */
div.adi_dtTable table td p{font-size:11px;color:#d3d3d3;}
div.adi_dtTable table th.last{border-bottom:none;height:35px;}
div.adi_dtTable table td.last{border-bottom:none;padding:6px 0 15px;line-height:16px;color:#D3D3D3;}

div.adi_dtImage{text-align:center;}
