@charset "utf-8";
@import url("../css/sub.css");
/* 서브 공통 시작 */
html,body,ol,ul,dl,dt,dd,frameset,frame {
	margin:0;
	padding:0
}
body{
	font: normal 12px Dotum,Gulim,Verdana,Arial,sans-serif;
	letter-spacing:-1px;
}
table, tr, td, th {
	margin:0; 
}
table {
	table-layout:fixed;
}
h1, h2, h3 ,h4 {
	margin:0; padding:0;
}
ol, ul {
	list-style-type: none;
}
img {
	border: 0;
	vertical-align:top;
}
input, textarea {
	_margin:-1px;
}
input, button {
	border: 0.0625em solid grey; 
}
input.radio, input.checkbox {
	border: none;
	width : 1.4em; 
}
a {
	text-decoration: none;
}
a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none;
}
a:link,
a:visited,
a:active {
	color: #666;
}
a:hover {
	color: #68391f;
}
/* 스크롤 삭제 - style.css에 있는 스크롤 css사용 */
/*
div {
	margin:0; padding:0;
	scrollbar-face-color:#dfeffc;
	scrollbar-highlight-color:#ffffff;
	scrollbar-3dlight-color:#B8B8B8;
	scrollbar-darkshadow-color:#B8B8B8 ;
	scrollbar-shadow-color:#ffffff;
	scrollbar-arrow-color:#9A9A9A;
	scrollbar-track-color:#dfeffc;
	scrollbar-base-color:#cccccc;
}
*/

.L5 {padding-left:5px;}
.L10 {padding-left:10px;}
.L15 {padding-left:15px;}
.L20 {padding-left:20px;}

.T5 {padding-top:5px;}
.T10 {padding-top:10px;}
.T15 {padding-top:10px;}
.T20 {padding-top:10px;}

.R5 {padding-right:5px;}
.R10 {padding-right:10px;}
.R15 {padding-right:15px;}
.R20 {padding-right:20px;}
.R30 {padding-right:30px;}

.B5 {padding-bottom:5px;}
.B10 {padding-bottom:10px;}
.B15 {padding-bottom:15px;}
.B20 {padding-bottom:20px;}

/* DIV 좌우 위치 */
.left {
	float:left;
	zoom:1;
}
.right {
	float:right;
	zoom:1;
}

/* 텍스트 정렬 */
.tal {
	text-align:left;
}
.tac {
	text-align:center;
}
.tar {
	text-align:right;
}
.taj {
	text-align:justify;
}
/* 플로트된 엘리먼트만을 포함하는 블럭의 클리어 */
.xb:after {
    /*content: ".";*/
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clfix:after {
    /*content: ".";*/
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Hides from IE-mac \*/ * html .xb {
    height: 1%;
}
/* 서브 공통 끝 */