/*
 * Tab 기능 자동 레이아웃
 * 2009.02.11 @suyas
 */
.tab_tabFirst_nCell{background:url('../img/tap_bag.gif'); }
.tab_tabFirst_Content1{border: 1px solid #cccccc;border-top-width:0;padding:4px}
.tab_tabFirst_Content2{font:12px 굴림;}
.tab_tabFirst_Cell{
	padding-top:3;
	font:12px 굴림;
	background:url('../img/tap_on.gif')  no-repeat 0%;
	height:27;
	width:155;
	text-align:center;
	cursor:hand;
}
.tab_tabFirst_sCell{
	padding-top:5;
	font:12px 굴림;
	background:url('../img/tap_over.gif')  no-repeat 0%; 
	height:27;
	width:155;
	text-align:center;
	cursor:hand;
	font-weight:bold;
	color:#1a3c61;
}
/*
 * Tab 기능 자동 레이아웃
 * 2009.02.11 @suyas
 */
.tab_tabFirst2_nCell{
	border-bottom: 1px solid #cccccc; 
	background:url('../img/tap_bag.gif'); 
}
.tab_tabFirst2_Content1{border: 1px solid #cccccc;border-top-width:0;padding:4px}
.tab_tabFirst2_Content2{font:12px 굴림;}
.tab_tabFirst2_Cell{
	padding-top:3;
	font:11px 굴림;
	background:url('../img/tap_on.gif')  no-repeat 0%;
	height:23;
	width:105;
	text-align:center;
	cursor:pointer;
	cursor:hand;
}
.tab_tabFirst2_sCell{
	padding-top:5;
	font:11px 굴림;
	background:url('../img/tap_over.gif')  no-repeat 0%; 
	height:23;
	width:105;
	text-align:center;
	cursor:pointer;
	cursor:hand;
	font-weight:bold;
	color:#1a3c61;
}