BODY,TD,SELECT,DIV,center,option,pre,blockquote,table 
{ font : 9pt/140% "  굴림, Dotum, sans-serif, Arial", sans-serif;  COLOR: #666666;   LETTER-SPACING: -0.2px;  }

a:link                      {color:#666666;text-decoration:none;   }
a:visited                 {color:#666666;text-decoration:none;  }
a:active                  {color:#666666;text-decoration:none;   }
a:hover                  {color:#FF3300;text-decoration:none;  }

body
{   background:#Ffffff url(/img/front/basis/popup_bag.gif) repeat-x  left top;

	scrollbar-face-color:#ffffff;
	scrollbar-shadow-color:#CCCCCC;
	scrollbar-highlight-color:#EEEEEE;
	scrollbar-3dlight-color:#EEEEEE;
	scrollbar-darkshadow-color:#EEEEEE;
	scrollbar-track-color:#EEEEEE;
	scrollbar-arrow-color:#CCCCCC;
	margin:  0 0 0 0;  

}

.input                              {  border: #E1E1E1 1px solid;  HEIGHT:20px;         BACKGROUND-COLOR: #ffffff;} 
.input_top                        {  border: #BC6C26 3px solid;  HEIGHT:24px;         BACKGROUND-COLOR: #ffffff;} 
.tdalign                           {  text-align:justify;   PADDING : 0 0 5 0;   } 
.textarea                         {  color: #666666;    background-color: #FFFFff;  border: 1px solid #E1E1E1;  }

.popup_TABLE                 {  PADDING : 15;  } 




IMG                               { border: none;  } 
.border_banner               { border: #E1C997 1px solid;   } 
.border_img                   { border: #E5E5E5 1px solid;   } 

/* PRICE FONT */ 
.price1                          { color: #CC9966;    font-weight: bold;     } 
.price2                          { color: #CCCCCC;   text-decoration: line-through;     text-align: center;        font-weight: bold;  font : 8pt/150%;} 
.price_hot                      { color: #000000;    font-weight: bold;  } 



.BD_title_bar                {   background:#ffffff url(/img/front/basis/board_bar1.gif) repeat-x  left top;    BORDER-right: 1px solid #E0E0E0;      PADDING : 7 0 7 0;     text-align: center;    }
.BD_title_end               {   background:#ffffff url(/img/front/basis/board_bar1.gif) repeat-x  left top;       text-align: center; }
.BD_line_textcenter      {   PADDING : 3 0 3 0;     BORDER-bottom: 1px solid  #E4E4E4;      BORDER-right: 1px solid  #E4E4E4;     text-align: center; }
.BD_line_textleft           {   PADDING : 3 0 3 8;     BORDER-bottom: 1px solid  #E4E4E4;      BORDER-right: 1px solid  #E4E4E4;   }
.BD_line_end               {   PADDING : 3 0 3 0;     BORDER-bottom: 1px solid  #E4E4E4;      text-align: center; }
.BD_line                     {   PADDING : 3 0 3 0;     BORDER-bottom: 1px solid  #E4E4E4;      }
.BD_end                     {      BORDER-top: 1px solid  #DFC99A;     }


/* TEXT FONT COLOR */ 
.text_sale                     { color: #F06EAA;    text-align: center;    } 
.text_home                   { color: #EBEBEB;    PADDING-top:1px;    PADDING-left:8px;   } 
.product_list_top            { color: #D3B36E;     font-weight: bold; } 
.product_list_topbold      { color: #44191A;     font-weight: bold;      } 
.text_pagenumber          { color: #7D4800;     font-weight: bold;      } 




.product_name         {   color: #000000;    font-weight: bold;      font-size:10pt;    }
.popup_text              { color: #D3B36E;    PADDING-bottom:8px;   } 
.popup_text_Color     { color: #9966CC;    font-weight: bold;   } 


.TB_COLOR_ed        {  background-color: #F7F7F7;    color: #A89075;     VERTICAL-ALIGN:TOP;    PADDING : 8 0 0 8;     BORDER-bottom: 2px solid  #EDEDED;     BORDER-right: 1px solid  #EDEDED;  }
.TB_COLOR_top       {  background-color: #F7F7F7;    color: #A89075;    VERTICAL-ALIGN:TOP;    PADDING : 8 0 0 8;     BORDER-bottom: 1px solid  #EDEDED;      BORDER-right: 1px solid  #EDEDED;  BORDER-top: 2px solid  #EDEDED;    }
.TB_COLOR_line      {  background-color: #F7F7F7;     color: #A89075;    VERTICAL-ALIGN:TOP;    PADDING : 8 0 0 8;     BORDER-bottom: 1px solid  #EDEDED;     BORDER-right: 1px solid  #EDEDED;   }

.TB_line                  {   PADDING : 3 0 3 8;     BORDER-bottom: 1px solid  #EDEDED;   }
.TB_line_ed             {   PADDING : 3 0 3 8;     BORDER-bottom: 2px solid  #EDEDED;   }
.TB_line_top            {   PADDING : 3 0 3 8;     BORDER-bottom: 1px solid  #EDEDED;     BORDER-top: 2px solid  #EDEDED;     }


  

.BOX1                {   PADDING : 0 15 7 15;    background-color: #ffffff;       BORDER: 2px solid  #CA0000;   }