@charset "utf-8";
#mainContent {
	width:824px;
	padding:0;
	margin:0;
}
#header {
    height: 1.6em;
}

#leftMenu {
    width: 98%;
    float: left;
}

#content {
    padding: 0.125em;
}

#bottom {
    height: 0.25em;
}

/* 입력란에 대한 설정 */
input.full {
    width: 98%
}

input.half {
    width: 47%;
}

#contentTitle {
    font-size: 2em;
	border-bottom: 0.15em double #d0e0ff;
	margin-bottom:5px;
}

/* 검색조건 영역 */
.searchWrap {
    border: 0.15em solid #d0e0ff;
    padding: 0.0625em;
    width: 100%;
    margin-bottom: 0.3125em;
}

.searchTbl {
    width: 100%;
}

.searchTbl th, td {
    line-height: 1.4em;
}

.searchTbl th {
    background: #dfeffc;
}

.searchBtn, .buttonBar {
    padding: 0.3125em 0 0.3125em 0;
    height: 1%;
}

/* 리스트 영역 윗 부분(필요할 경우 추가) */
/* 리스트 영역 */
.listWrap {
    clear: both;
    padding-top: 0.4em;
    width: 100%;
}

.listTbl {
    width: 100%;
}

.listTbl th {
    background: #2f6fff;
    line-height: 1.4em;
}

/* 리스트영역 아랫부분(필요할 경우 추가) */
/* 상세 영역 */
.detailWrap, .detailBox {
    padding: 0.0625em;
    width: 100%;
}

.detailBox {
    border: 0.15em solid #d0e0ff;
}

.detailTbl {
    width: 100%;
}

.detailTbl th {
    background: #dfeffc;
    width: 10em;
}

.detailTbl th.long {
    width: 15em;
}

.detailTbl th, .detailTbl td {
    line-height: 1.6em;
}

.detailTbl td {
    padding-left: 0.3em;
}

.detailTbl td input {
}

.detailTbl textarea {
    width: 99%;
}

.formBtn {
}
