@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1480px;
	overflow: hidden;
}
.ct850{
	margin:0 auto;
	width:850px;
}
.ct890{
	position: relative;
	margin:0 auto;
	width:890px;
}
#adi70_cp {
	position: relative;

	.button_area_v2{
		display: inline-block;
		&:hover{
			div{
				.bg{
					box-shadow: inset 0 0 0 1px #000;
    				-webkit-box-shadow: inset 0 0 0 1px #000;
					@include css3(transition, all 0.5s);
				}
				a{
					color: #fff;
				    background: #000;
					@include css3(transition, all 0.5s);

					span.arrow{
						background: #fff;
						@include css3(transition, all 0.5s);
						em{
							background: #fff;
							@include css3(transition, all 0.5s);
						}
					}

				}
			}
		}
		a{
			padding:0 20px;

			letter-spacing: 1px;
			span.arrow{
				margin-left: 15px;
			}
		}
		// width: 140px;
	}

	.main_visual{
		position: relative;
		// height:960px;
		.bgimg{
			img{
				width:100%;
			}
		}
	}
	.sec{
		position: relative;
		.bgimg{
			img{
				width: 100%;
			}
		}
		&.evt{
			height: 1342px;;
			.bgimg{
				position: absolute;
				top:0;
				left:50%;
				margin-left: -960px;
				img{
					width:auto;
				}
			}
		}
		a{
			position: absolute;
			top:0;
			left:50%;
			width:200px;
			height:50px;
			display: inline-block;
			&.btn1{
				top: 104px;
				margin-left: 534px;
			}
			&.btn2{
				top: 1150px;
				margin-left: -275px;
			}
			&.btn3{
				top: 1085px;
				margin-left: 444px;
			}
			&.btn4{
				top: 1157px;
				margin-left: 444px;
			}
		}
		.ct890{
			// height: 866px;
			// position: absolute;
			// top: 0;
			// left: 50%;
			// margin-left: -495px;
			// width: 980px;
		}
	}


}
