@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
#wrap{
    min-width: 950px;
    overflow: hidden;
    @media screen and(max-width: 950px){
        .products_collection{
            .wide-slider-wrapper{
                .arrow-prev{
                    margin-left: 0;
                    left:0;
                }
                .arrow-next{
                    margin-left: 0;
                    right:0;
                    left:inherit;

                }
            }
        }
    }
}
.campaign_complete{
    .inner{
        text-align: center;
    }
    .btn{
        display: inline-block;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 210px;
        border:2px solid #fff;
        font:500 18px/58px 'NotoSansKR';
        color:#fff;
        background: #bddce8;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        &:hover{
            background: #b3dbeb;
        }
    }
    .main{
        position: relative;
        height: 744px;

        .bg{
            position: absolute;
            left:50%;
            margin-left: -990px;
        }
        .txt{
            position: relative;
            padding: 600px 0 0 0;
            display: inline-block;
            z-index: 1;
            a{
                text-align: center;
            }
        }
    }
    .visual_video{
        .masthead{
            width: 100%;
            h2{

            }
        }
    }

    .products_collection{
        width: 100%;
        height: 916px;
        position: relative;
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left:-990px;
        }
        h4{
            font: 52px/50px 'DINWebPro-CondBold';
            text-align: center;
            color: #fff;
            padding: 80px 0 0;
            position: relative;
            text-transform: uppercase;
            span{
                text-transform: uppercase;
                font:52px/50px 'DINWebPro-CondLight';
            }
        }
        .wide-slider-wrapper{
            position: relative;
            margin-top: 50px;
            width: 100%;
            height:520px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            background: none;
            .arrow{
                position: absolute;
                top:50%;
                left:50%;
                width: 26px;
                height: 26px;
                z-index: 2;
                // background: url('http://image.reebok.co.kr/images/reebok/event/about/clubc/170921/arrow_btn_black.png');
            }
            .arrow-prev{
                margin-left: -320px;
                background: url('http://image.reebok.co.kr/images/reebok/event/about/workout_plus/btn-prev.png') 0 0 no-repeat;
                // background-position: 0 0;
            }
            .arrow-next{
                margin-left: 320px;
                background: url('http://image.reebok.co.kr/images/reebok/event/about/workout_plus/btn-next.png') 0 0 no-repeat;
                // background-position: 100% 0;

            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 550px;
                li{
                    width: 646px;
                    position: relative;
                    float: left;
                    @include opacity(0.4);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                    text-align: center;
                    img{
                        display: inline-block;
                    }
                }
                li.active{
                    @include opacity(1);
                }
            }
        }
        .slider-btn{
            width: 100%;
            position: relative;
            padding: 36px 0;
            text-align: center;
            a{
                display: inline-block;
                width: 12px;
                height: 10px;
                padding-top: 2px;
                text-align: center;
                margin-right: 5px;
                background: #d1d1d1;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                color: #fff;
                &.on{
                    background: #ba2727;
                }
            }
        }
    }

}
/* campaign_clubc_90_v2 end */
