@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';



//common
.button_area_v2{
	display: inline-block;
	&:hover{
		div{
			a{
				color: #767677;
				span{
					background: #767677;
					em{
						background: #767677;
					}
				}

			}
		}
	}
	div{
		&.white{
			.bg{
				box-shadow: inset 0 0 0 1px #fff;
				-webkit-box-shadow: inset 0 0 0 1px #fff;
				@include css3(transition, all 0.5s);
			}
			a{
				background: #fff;
			}
		}
		.bg{
			box-shadow: inset 0 0 0 1px #000;
			-webkit-box-shadow: inset 0 0 0 1px #000;
			@include css3(transition, all 0.5s);
		}
		a{
			letter-spacing: 1px;
			padding:0 20px;
			background: #000;
		}
	}
}
div, img, button {
	outline: none;
}
span, p{
	white-space: nowrap;
}
#blackfriday{
	section{position: relative;margin: 0 auto; min-width: 1190px;}

	@for $i from 1 through 2 {
		.bg0#{$i} {
			background: url('/images/adidas/2020/event/blackfriday/bg0#{$i}.jpg') no-repeat;
			background-position: top;
			background-size: auto 100%;
		}
		// .bg02{
		// 	background-size: 100% 100%;
		// }
	}
	
	.visuals{
		// $val: 825px;
		$val: auto;
		@include auto($val);
		video{
			display: block;
		}
		.visuals__text{
			@include center(78%, auto, 11%, $ctY);
			// h3{
			// 	font: 130px/110px $adinBlk;
			// 	color: #2d3d7b;
			// 	letter-spacing: 5px;
			// }
			// p{
			// 	font: 22px/22px $noto;
			// 	color: #fff;
			// 	margin: 5px 0 40px;
			// }
			@media screen and (max-width: 1300px) { 
				h3{
					font: 90px/80px $adinBlk;
					color: #2d3d7b;
					letter-spacing: 4px;
				}
				p{
					font: 17px/17px $noto;
					color: #fff;
					margin: 5px 0 40px;
				}
			}

		}
	}
	.benefit{
		img{
			width: 100%;
			margin: 0 auto;
		}
	}
	.event{
		min-width: 1190px;
		margin: 0 auto; 
		height: 941px;
		.event__figure{
			@include center(0,auto,50%,$ctX);
		}
		.event__contents{
			background: #2d3d7b;
			padding-top: 510px;
			ul{
				width: 1200px;
				margin: 0 auto;
				@include after();
				li{
					float: left;
					margin: 0 20px 20px 0;
					&:nth-of-type(4), &:last-of-type {
						margin-right: 0;
					}
					&:nth-of-type(5) {
						clear: both;
					}
				}
			}
		}
	}
	.slide__container{
		.slider{
			.slick-list{
				.slick-track{
					.item{
						img{
							margin: 0 auto;
						}
					}
				}
			}
			.slick-dots{
				text-align: center;
				margin:60px 0 0;
				li{
					display: inline-block;
					text-align: center;
					background: #b8c5da;
					width: 15px;
					height: 15px;
					margin-right: 9px;
					border-radius: 50%;
					button{
						border: 0;
						background: none;
						text-indent: -9999px;
					}
					&.slick-active{
						background: #f54772;
					}
					&:last-of-type{
						margin: 0;
					}
				}
			}
		}
		.slider__nav{
			@include center(50%, auto, auto, $ctY);
			width: 100%;
			.prev-button{
				@include center(50%, auto, 0, $ctY);
			}
			.next-button{
				@include center(50%, auto, auto, $ctY);
				right: 0;
				img{
					transform: rotate(-180deg);
				}
			}
		}
		&.slide__container01{
			text-align: center;
			.txt{
				white-space:nowrap;
				padding: 90px 0 25px;
				p,span,em{display:block;color:#fff;text-align:center;}
				p{
					font: 76px/76px $adinBlk;
					letter-spacing: 5px;
				}
				em{
					font: 900 30px/30px $noto;
					margin: 10px 0 20px 0;
					letter-spacing: 1px;
				}
				span{
					font: 26px/26px $adinReg;
					letter-spacing: 1px;
				}
			}
			.button_area_v2{
				padding: 45px 0 80px;
			}
		}
		&.slide__container02{
			width: 700px;
			.txt{
				margin-bottom: 50px;
				h4,em,span{display:block;text-align: center;}
				h4{
					font: 120px/120px $adinBlk;
					color: #2d3d7b;
					em{
						font: 120px/95px $adinBlk;
						color: #f54772;
					}
					margin-bottom: 20px;
				}
				span{
					font: 900 30px/30px $noto;
					color: #2d3d7b;
				}
			}
			.slider{
				.slick-list{
					width: 700px;
					margin: 0 auto;
					.item{
						>div{
							position: relative;
							top: 24px;
							vertical-align: bottom;
							text-align: center;
							p, span{
								text-align: center;
							}
						}
						&.slick-current{
							>div{
								top:0;
								p, span{
									font: 700 25px/25px $noto;
									color: #000;
								}
							}
						}
					}
				}
			}
		}
		&.slide__container03{
			width: 950px;
			margin: 0 auto;
			margin-top: 55px;
			.slider{
				.slick-list{
					width: 950px;
					margin: 0 auto;
					.item{
						margin: 20px;
						img{
							width: 100%;
						}
					}
				}
			}
			.slider__nav{
				width: 100%;
				.prev-button{
					left: 60px;
				}
				.next-button{
					right: 60px;
					img{
						transform: rotate(-180deg);
					}
				}
			}
		}
	}
	.slider__wrapper{
		padding: 150px 0 170px;
	}
	.asides{
		height: 300px;
		.asdies__figure{
			@include center(0, auto, 50%, $ctX);
		}
		.button_area_v2{
			@include center(190px, auto, 50%, $ctX);
		}
	}
	.banners{
		height: 657px;
		.banners__figure{
			@include center(0,auto,50%,$ctX);
		}
		.button_area_v2{
			@include center(413px, auto, 49.7%, none);
		}
		&.last{
			height: 576px;
			padding-bottom: 90px;
			.button_area_v2{
			@include center(486px, auto, 50%, $ctX);
				div{
					a{
						background: #2e3c7e;
					}
					.bg{
						box-shadow: inset 0 0 0 1px #2e3c7e;
						-webkit-box-shadow: inset 0 0 0 1px #2e3c7e;
					}
				}
			}
		}
	}
	.notes{
		height: 733px;
		margin-top: 90px;
		.notes__figure{
			@include center(0, auto, 50%, $ctX);
		}
		.button_area_v2{
			@include center(409px, auto, 50%, none);
			div{
				a{
					background: #2e3c7e;
				}
				.bg{
					box-shadow: inset 0 0 0 1px #2e3c7e;
					-webkit-box-shadow: inset 0 0 0 1px #2e3c7e;
				}
			}
		}
	}
}
