@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
html,body{
	height:100%;
}
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
button{
	outline:none;
}
.inner{
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}
.button_area_v2 {
	display: inline-block;

	&:hover {
		div {
			a {
				color: #767677;

				span {
					background: #767677;

					em {
						background: #767677;
					}
				}

			}
		}
	}

	div {
		&.white {
			.bg {
				box-shadow: inset 0 0 0 1px #fff;
				-webkit-box-shadow: inset 0 0 0 1px #fff;
				@include css3(transition, all 0.5s);
			}

			a {
				background: #fff;
			}
		}

		.bg {
			box-shadow: inset 0 0 0 1px #000;
			-webkit-box-shadow: inset 0 0 0 1px #000;
			@include css3(transition, all 0.5s);
		}

		a {
			letter-spacing: 1px;
			padding: 0 20px;
			background: #000;
		}
	}
}

#readyforsummer {
	max-width: 1920px;
	.section{
		position: relative;
		&.sect_visual {
			>img{
				display: block;
				width: 100%;
			}
			.sect_visual_title{
				display: inline-block;
				width: 1100px;
				position: absolute;
				top: 15%;
				left: 50%;
				margin-left: calc(-1100px/2);
				z-index: 2;
				font-family: 'NotoSansKR';
				color: #fff;
				&.dn{
					display: none;
				}
				h3{
					>img{
						display: block;
					}
				}
				h4{
					padding-top: 15px;
					font-size: 48px;
					line-height: 48px;
					font-weight: 600;
				}
			}
		}

		&.sect_line {
			>img{
				display: block;
				width: 100%;
			}
		}

		&.sect_video {
			text-align: center;
			.btn-play {
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;
				background: none;
				border: 0 none;
				cursor: pointer;
			}
		}

		&.sect_statment {
			padding: 35px 0 50px;
			.inner{
				color: #000;
				text-align: center;
				>*{
					text-align: center;
				}
				h3{
					padding-bottom: 15px;
					>img{
						display: inline-block;
					}
				}
				h4{
					padding-bottom: 25px;
					font: 600 48px/48px 'NotoSansKR';
					letter-spacing: 4px;
				}
				p{
					padding-bottom: 25px;
					font: 400 20px/26px 'NotoSansKR';
					letter-spacing: 1px;
					&.boldtext {
						font-size: 24px;
						line-height: 30px;
						font-weight: 600;
					}
				}
				.button_area_v2 {	
					margin-top: 20px;
					display: inline-block;
				}
			}
		}

		&.sect_feature {
			padding: 70px 0;
			background: url('/images/adidas/2020/event/rdy/0713_summer/feature_bg.jpg') 0 0 no-repeat;
			background-size: auto 100%;
			ul{
				overflow: hidden;
				width: 76.5625%;
				min-width: 1300px;
				margin: 0 auto;
				li{
					float: left;
					width: 31.2925%;
					padding: 0 1.0204%;
					color: #000;
					img{
						display: block;
						width: 100%;
					}
					h5{
						padding: 30px 0 10px;
						font: 600 26px/26px 'NotoSansKR';
						text-align: center;
					}
					p{
						font: 400 20px/20px 'NotoSansKR';
						text-align: center;
					}
				}
			}
		}

		&.sect_prds {
			height: 831px;
			.sect_prds_bg{
				width: 1920px;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				z-index: 1;
			}
			.sect_prds_img{
				width: 1440px;
				height: 100%;
				top: 60px;
				.sect_prds_buybox{
					// overflow: hidden;
					position: absolute;
					bottom: 8%;
					left: 50%;
					transform: translateX(-50%);
					z-index: 2;
					h3 {
						display: inline-block;
						float: left;
						>img {
							display: inline-block;
						}
					}
					.button_area_v2 {
						margin: -7px 0 0 30px;
						float: left;
						display: inline-block;
					}
				}
			}	
		}

		&.sect_subcut {
			ul{
				overflow: hidden;
				width: 100%;
				li{
					float: left;
					width: 25%;
					img{
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
}
