
 <div id="footer">
    <div class="wrapper">
        <div class="footer_top">
            <div class="footer_top_wrapper">






                <ul class="footer-social-icons" style="padding:&#32;0&#32;0&#32;10px&#32;0;">
                    <li>
                        <a class="twitter" target="_blank" href="https://twitter.com/Reebok"></a>
                    </li>
                    <li>
                        <a class="facebook" target="_blank" href="https://www.facebook.com/Reebok"></a>
                    </li>
                    <li>
                        <a class="instagram" target="_blank" href="https://instagram.com/reebok"></a>
                    </li>
                    <li>
                        <a class="pinterest" target="_blank" href="https://www.pinterest.com/reebok/"></a>
                    </li>
                </ul>


            </div>
        </div>

        <div class="promo-navigation-wrapper">
            <div class="footer_navigation">







                <ul>
                    <li>
                        <h5>Men</h5>
                    </li>
                    <li><a href="https://global.reebok.com/men-Shoes">Shoes</a>
                    </li>
                    <li><a href="https://global.reebok.com/men-Clothing">Clothing</a>
                    </li>
                    <li><a href="https://global.reebok.com/men-Accessories">Accessories</a>
                    </li>
                    <li>&nbsp;</li>
                    <li>
                        <h5>Women</h5>
                    </li>
                    <li><a href="https://global.reebok.com/women-Shoes">Shoes</a>
                    </li>
                    <li><a href="https://global.reebok.com/women-Clothing">Clothing</a>
                    </li>
                    <li><a href="https://global.reebok.com/women-Accessories">Accessories</a>
                    </li>
                    <li>&nbsp;</li>
                    <li>
                        <h5>Kids</h5>
                    </li>
                    <li><a href="https://global.reebok.com/kids-Shoes">Shoes</a>
                    </li>
                    <li>&nbsp;</li>
                </ul>
                <ul>
                    <li>
                        <h5>Sport</h5>
                    </li>
                    <li><a href="https://global.reebok.com/Sport?prefn1=sport&amp;prefv1=Running">Running</a>
                    </li>
                    <li><a href="https://global.reebok.com/Sport?prefn1=sport&amp;prefv1=CrossFit">CrossFit</a>
                    </li>
                    <li><a href="https://global.reebok.com/Sport?prefn1=sport&amp;prefv1=Fitness%20%26%20Training">Training</a>
                    </li>
                    <li><a href="https://global.reebok.com/Sport?prefn1=sport&amp;prefv1=Walking">Walking</a>
                    </li>
                    <li><a href="https://global.reebok.com/Sport?prefn1=sport&amp;prefv1=Yoga">Yoga</a>
                    </li>
                    <li><a href="https://global.reebok.com/Sport?prefn1=sport&amp;prefv1=Dance">Dance</a>
                    </li>
                    <li><a href="https://global.reebok.com/Sport?prefn1=sport&amp;prefv1=Basketball">Basketball</a>
                    </li>
                    <li><a href="https://global.reebok.com/Sport?prefn1=sport&amp;prefv1=Hockey">Hockey</a>
                    </li>
                    <li><a href="https://global.reebok.com/Sport?prefn1=sport&amp;prefv1=Baseball">Baseball</a>
                    </li>
                    <li><a href="https://global.reebok.com/Sport?prefn1=sport&amp;prefv1=Tennis">Tennis</a>
                    </li>
                    <li>&nbsp;</li>
                </ul>
                <ul>
                    <li>
                        <h5>Services</h5>
                    </li>
                    <li><a href="https://www.reebok.com/reebokone">ReebokONE</a>
                    </li>
                    <li>&nbsp;</li>
                    <li>
                        <h5>About Reebok</h5>
                    </li>
                    <li><a onclick="window.open(&#39;//fitness.reebok.com/international/store-locator/&#39;,&#39;&#39;,&#39;height=&#39;+$(window).height()/2+&#39;,width=&#39;+$(window).width()/2+&#39;,resizable=1,&#32;scrollbars=1&#39;);&#32;return&#32;false;" href="#">Store Locator</a>
                    </li>
                    <li><a target="_blank" href="https://corporate.reebok.com/en/about_reebok/default.asp">Company Information</a>
                    </li>
                    <li><a target="_blank" href="https://darwin.affiliatewindow.com/merchant-profile-terms/2392">Affiliate Program</a>
                    </li>
                    <li><a target="_blank" href="https://careers.adidas-group.com/default.aspx?bid=3">Careers</a>
                    </li>
                    <li><a href="https://global.reebok.com/help-topics-sitemap.html">Site Map</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h5>Customer Service</h5>
                    </li>
                    <li><a href="https://global.reebok.com/help-topics-privacy_policy.html">Privacy Policy</a>
                    </li>
                    <li><a href="https://global.reebok.com/help-topics-terms_and_conditions_for_website_use.html">Terms and Conditions</a>
                    </li>
                </ul>

                <script>
                var type, promotion, link, slotNumber = 1,
                    heroPromotions = new Array(),
                    i = 0;


                 // Cycle through all available Content Slots in this order
                $(".hp-slot-1, #hp-slot-2, #hp-slot-3, #hp-slot-4, .shp-slot-1, .shp-slot-2, #shp-slot-3, #shp-slot-4, #shp-slot-5, #shp-slot-6, #shp-slot-7, #glp-slot-1, #glp-slot-2, #glp-slot-3, #glp-slot-4, #glp-slot-5, #clp-slot-1, #clp-slot-2, #clp-slot-3, #clp-slot-4, #clp-slot-5, #clp-slot-6").each(function() {
                    // Type
                    type = 'slot-' + slotNumber;

                    // Cycle through all Hero Elements
                    $(this).find('.slide').each(function() {
                        promotion = $(this).data('contentasset');

                        // Hero on SHP, GLP and CLP
                        $(this).find('a').each(function() {
                            link = $(this).text();

                            $(this).attr('manual_cm_sp', type.toLowerCase() + '-_-' + promotion.toLowerCase() + '-_-' + link.toLowerCase());
                        });

                        // Store Asset Names in Array for HP Hero (see next block)
                        heroPromotions[i] = $(this).data('contentasset');
                        i++;

                    });

                    // Hero on HP
                    i = 0;
                    $(this).find('.slide_link_wrapper').each(function() {
                        promotion = heroPromotions[i];

                        $(this).find('a').each(function() {
                            link = $(this).text();

                            $(this).attr('manual_cm_sp', type.toLowerCase() + '-_-' + promotion.toLowerCase() + '-_-' + link.toLowerCase());
                        });

                        i++;
                    });

                    // Link Area
                    i = 1;
                    $(this).find('.glp-menu ul, .clp-menu ul').each(function() {
                        promotion = 'linkfarm-column-' + i;

                        $(this).find('a').each(function() {
                            link = $(this).text();

                            $(this).attr('manual_cm_sp', type.toLowerCase() + '-_-' + promotion.toLowerCase() + '-_-' + link.toLowerCase());
                        });

                        i++;
                    });


                    // Feature
                    $(this).find('.features_slot .block').each(function() {
                        promotion = $(this).data('contentasset');

                        $(this).find('a').each(function() {
                            link = $(this).text();

                            $(this).attr('manual_cm_sp', type.toLowerCase() + '-_-' + promotion.toLowerCase() + '-_-' + link.toLowerCase());
                        });
                    });


                    // Team
                    $(this).find('.teams_slot .block > div').each(function() {
                        promotion = $(this).data('contentasset');

                        $(this).find('a').each(function() {
                            link = $(this).text();

                            $(this).attr('manual_cm_sp', type.toLowerCase() + '-_-' + promotion.toLowerCase() + '-_-' + link.toLowerCase());
                        });
                    });


                    // Brandpromo
                    $(this).find('.brandspromo_slot .block').each(function() {
                        promotion = $(this).data('contentasset');

                        $(this).find('a').each(function() {
                            link = $(this).text();

                            $(this).attr('manual_cm_sp', type.toLowerCase() + '-_-' + promotion.toLowerCase() + '-_-' + link.toLowerCase());
                        });
                    });


                    // Brandshop
                    $(this).find('.brandshop').each(function() {
                        promotion = $(this).find('.brandspromoasset').data('contentasset');

                        $(this).find('a').each(function() {
                            link = $(this).text();

                            $(this).attr('manual_cm_sp', type.toLowerCase() + '-_-' + promotion.toLowerCase() + '-_-' + link.toLowerCase());
                        });
                    });

                    slotNumber++;
                });

                 // Header
                $(".categorymenu .topcat_list_item").each(function(index) {
                    var currentTopcatListItem = $(this).find('a.topcat_link, a.shop');

                    if (currentTopcatListItem.length > 0) {
                        promotion = currentTopcatListItem.text();
                        link = promotion;

                        currentTopcatListItem.attr('manual_cm_sp', 'header' + '-_-' + promotion.toLowerCase() + '-_-' + link.toLowerCase());

                        $(this).find('.subcategorymenu a').each(function(index) {
                            link = $(this).text();

                            $(this).attr('manual_cm_sp', 'header-_-' + promotion.toLowerCase() + '-_-' + link.toLowerCase());
                        });
                    }
                });

                 // Customer Data
                $("#header .headercustomerinfo").each(function(index) {
                    $(this).find('a').each(function(index) {
                        link = $(this).text();

                        $(this).attr('manual_cm_sp', 'header-_-customerinfo-_-' + link.toLowerCase());
                    });
                });

                 // Subnav
                $(".subnav").each(function(index) {
                    $(this).find('a').each(function(index) {
                        link = $(this).text();

                        $(this).attr('manual_cm_sp', 'header-_-subnav-_-' + link.toLowerCase());
                    });
                });


                 // Footer
                $("#footer .footer-copy ul").each(function(index) {
                    promotion = $(this).find('h5').text();

                    $(this).find('a').each(function(index) {
                        link = $(this).text();

                        $(this).attr('manual_cm_sp', 'footer-_-' + promotion.toLowerCase() + '-_-' + link.toLowerCase());
                    });
                });
                </script>


            </div>
            <div class="footer_promo">







                <h5>Store Locator</h5>
                <p>
                    <a target="_blank" href="https://fitness.reebok.com/international/store-locator/">
                        <img src="https://global.reebok.com/on/demandware.static/Sites-Reebok-INT-Site/Sites-Reebok-INT-Library/en_IT/v1409205622022/homepage/store-locator.png" width="180" height="114" alt="Store&#32;Locator" />
                    </a>
                </p>


            </div>
        </div>
        <div class="footer_newsletter">
            <script>
            function submitNewsletter() {
                document.location.href = "https://global.reebok.com/on/demandware.store/Sites-Reebok-INT-Site/en_IT/Newsletter-Subscribe?email=" + jQuery("input[name=dwfrm_profile_customer_footeremail]").val();
                return false;
            }
            </script>
            <form id="footer-email-send-form" onsubmit="submitNewsletter();&#32;return&#32;false;" method="post">
                <fieldset>
                    <div class="formfield">
                        <div class="formactions">
                            <button class="btn-regular-red" type="submit" id="footernewslettersubmitbutton" name="footer-dwfrm_profile_subscribe" value="Submit">
                                <span>Sign Up</span>
                            </button>
                        </div>










                        <label for="dwfrm_profile_customer_footeremail" class="">
                            <span>Sign up</span>for exclusive sales and product news</label>





                        <div class="value">




                            <input class="textinput" id="dwfrm_profile_customer_footeremail" type="text" name="dwfrm_profile_customer_footeremail" value="" maxlength="50" placeholder="Your&#32;email&#32;address" />
                            <!-- display text area input field -->


                            <span class="hidden&#32;json">{label:"&lt;span&gt;Sign up&lt;/span&gt; for exclusive sales and product news"}</span>
                            <!-- this MUST be immediately after the input/field tag. Hiden data to be attached to the input field (app.hiddenData in app.js -->



                        </div>










                    </div>
                </fieldset>
            </form>
        </div>
        <div class="footer_copy">



            <a class="country_selector&#32;showpopup" href="https://global.reebok.com/on/demandware.store/Sites-Reebok-INT-Site/en_IT/Page-Include?cid=country-selector" onclick="return&#32;false" _dialogtitle="Please&#32;select&#32;a&#32;country/region">
                <span class="en_IT">en_IT</span>Please select a country</a>








            <div class="htmlslotcontainer">
                <ul>
                    <li><a href="https://global.reebok.com/help-topics-privacy_policy.html">Privacy Policy</a>
                    </li>
                    <li><a href="https://global.reebok.com/help-topics-terms_and_conditions_for_website_use.html">Terms &amp; Conditions</a>
                    </li>
                    <li><a href="https://global.reebok.com/help-topics-sitemap.html">Site Map</a>
                    </li>
                    <li>&copy; 2014 adidas International Trading B.V., Hoogoorddreef 9a, 1101 BA Amsterdam, The Netherlands</li>
                </ul>
            </div>



        </div>

    </div>
</div>
