<section class="prefooter text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 margin-top50 margin-bottom50">
                <img class="inline-block img-responsive" src="images/footer-logo.png">
            </div>
        </div>

        <div class="row">
            <div class="footer-quote">
                <div class="inner-wrapper">
                    <div class="copy-wrapper">
                        <h3>{{languageObj.footerTitle}}</h3>
                        <h2>{{ languageObj.footerCopy}}</h2>
                    </div>
                </div>
                <img class="img-responsive" src="images/footer-image.jpg">
            </div>
        </div>
        <div class="row margin-top50 border-white">
            <div class="col-xs-6 col-sm-5 col-sm-offset-1">
            	<a href="{{languageObj.shopUrlMen}}" class="btnButton" target="_blank">jhvghhghvjh
                    <span>{{languageObj.shopMens}}</span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-5">
                <a href="{{languageObj.shopUrlWomen}}" class="btnButton" target="_blank">
                	<span>{{languageObj.shopWomens}}</span>
                </a>
            </div>
        </div>

    </div>
    
</section>
