@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';


/* falcon */
.falcon{
	position: relative;
	min-width: 1280px;
	overflow: hidden; 
	background: #fff;
	.tease{
		height: 1827px;
		img{
			position: absolute;
			left: 50%;
			top: 0;
			margin-left: -952px;
		}
	}
}
// @keyframes glitch-background {
// 		0% {
// 			visibility: visible;
// 		}
// 		5% {
// 			visibility: hidden;
// 		}
// 	}
/* End of alexander_wang */


/*
 * For ie old version
 */
