@import "./app/css/reebok/scss/about.scss";
.campaign_bridge .visual_video .bg video{
    width: 100%;
}
.campaign_bridge .visual_video .iebg{
    display: none;
}
.ie7 .campaign_wrap.campaign_bridge  .visual_video .masthead, .ie8 .campaign_wrap.campaign_bridge  .visual_video .masthead, .ie9 .campaign_wrap.campaign_bridge  .visual_video .masthead{
    width: 1190px;
    margin: 0 auto;
    left:auto;
    position: relative;
    top:500px;
    text-align: center;
}
.ie7 .campaign_wrap.campaign_bridge .visual_video .iebg, .ie8 .campaign_wrap.campaign_bridge .visual_video .iebg{
    display: block;
}
.ie7 .campaign_wrap.campaign_bridge .visual_video .masthead p, .ie8 .campaign_wrap.campaign_bridge .visual_video .masthead p{
    display: none;
}
#contents_wrap{padding: 0;}
.campaign_bridge{
    >div{
        &.dn{
            display: none;
        }
    }
    .visual_main{
        position: relative;
        background: #fff;
        height:850px;
        .gradi_line{
            width: 100%;
            height: 20px;
        	color: #fff;
        	background: linear-gradient(90deg, #b5b0c6, #285576, #b5b0c6, #285576);
        	background-size: 400% 400%;
        	-webkit-animation: Gradient 10s ease infinite;
        	-moz-animation: Gradient 10s ease infinite;
        	animation: Gradient 10s ease infinite;
        }
        .bg{
            position: absolute;
            top: 20px;
            left: 50%;
            margin-left: -990px;
            width: 1980px;
            z-index: 0;
            img{
                display: block;
            }
        }
        .vm_box{
            position: absolute;
            top: 430px;
            left: 50%;
            transform: translateX(-267%);
            text-align: center;
            a.btn-buy{
                .gradi-border{
                    display: inline-block;
                    width: 200px;
                    height: 60px;
                    border-style: solid;
                    border-image: linear-gradient(to right, #b5b0c6 0%, #285576 100%);
                    border-image-slice: 1;
                    box-sizing: border-box;
                    transition: 0.8s;
                    &.all { border-image-width: 10px; }
                    h4{
                        font: 500 16px/51px 'NotoSansKR';
                        color: #285576;
                        text-align: center;
                    }
                }
            }
        }
    }
    .section{
        background: #e8e9ea;
        .sect_tit{
            position: relative;
            width: 100%;
            height: 175px;
        	color: #fff;
        	background: linear-gradient(90deg, #b5b0c6, #285576, #b5b0c6, #285576);
        	background-size: 400% 400%;
            img{
                position: absolute;
                top: 45px;
                right: 0;
            }
            .inner{
                position: relative;
                width: 1170px;
                margin: 0 auto;
                h2{
                    font: 400 40px/175px 'NotoSansKR';
                    color: #000;
                    letter-spacing: 10px;
                }
            }
        }
        .sect_01{
            overflow: hidden;
            padding: 160px 0 65px;
            .inner{
                position: relative;
                width: 1170px;
                height: 928px;
                margin: 0 auto;
                background: url('/images/reebok/event/about/Dashonic/sect_01_main.png') 0 0 no-repeat;
                #slideshow {
                    float: right;
                    position: relative;
                    width: 631px;
                    height: 714px;
                    top: 180px;
                    > div {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                    }
                }
                .sect_01_video{
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: -150px;
                    cursor: pointer;
                }
                .sect_01_sub{
                    display: inline-block;
                    position: absolute;
                    top: 420px;
                    left: -283px;
                }
            }
        }
        .sect_02{
            overflow: hidden;
            position: relative;
            background: url(/images/reebok/event/about/dashonic/bg_sect.jpg) center bottom no-repeat;
            .inner{
                position: relative;
                width: 1170px;
                margin: 0 auto;
            }
            .slide_prd{
                // overflow: hidden;
                position: relative;
                .slide_tit{
                    position: relative;
                    height: 160px;
                    margin-left: 50px;
                    padding-left: 50px;
                    z-index: 5;
                    .gradi_line{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 19px;
                        height: 241px;
                        background: linear-gradient(180deg, #939ab2, #d997bf);
                    	background-size: 100% 100%;
                    }
                    h2{
                        font: 600 40px/40px 'NotoSansKR';
                        color: #000;
                        letter-spacing: 8px;
                        padding-bottom: 20px;
                    }
                    p{
                        font: 600 26px/50px 'NotoSansKR';
                        color: #000;
                        span{
                            font: 600 50px/50px 'NotoSansKR';
                        }
                    }
                }
                .images-slider{
                    margin: 0 auto;
                    li{
                        img{

                        }
                    }
                }
                .prev-button{
                    position: absolute;
                    bottom:0;
                    left:0;
                    z-index: 2;
                    width: 94px;
                    height: 22px;
                }
                .next-button{
                    position: absolute;
                    bottom:0;
                    right:0;
                    z-index: 2;
                    width: 94px;
                    height: 22px;
                }
                .indicator{
                    text-align: center;
                    margin-top: 30px;
                    a{
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background: none;
                        border: 2px solid #5b7693;
                        margin: 0 5px;
                        &.on{
                            background: #5b7693;
                        }
                    }
                }
            }
            .bot_area{
                padding: 100px 0 150px;
                .inner{
                    position: relative;
                    width: 1170px;
                    margin: 0 auto;
                    h2{
                        font: 500 100px 'DINWebPro-CondBold';
                        color: #000;
                        letter-spacing: 40px;
                        padding-bottom: 40px;
                    }
                    a.btn-buy{
                        .gradi-border{
                            display: inline-block;
                            width: 200px;
                            height: 60px;
                            border-style: solid;
                            border-image: linear-gradient(to right, #b5b0c6 0%, #285576 100%);
                            border-image-slice: 1;
                            box-sizing: border-box;
                            transition: 0.8s;
                            &.all { border-image-width: 10px; }
                            h4{
                                font: 500 16px/51px 'NotoSansKR';
                                color: #285576;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* dmx Camapign end */
.campaign-btn {
    width: 200px;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
