@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#superstar {
	position: relative;
	background: #f4ece8;
	.button_area_v2{
		&.soon{
			margin-top: 25px;
			div {
				.bg {
					box-shadow: inset 0 0 0 1px #ccc;
					-webkit-box-shadow: inset 0 0 0 1px #ccc;
				}

				a {
					cursor: default;
					color: #fff;
					background: #ccc;
					@include css3(transition, all 0.5s);

					span {
						background: #fff;
						@include css3(transition, all 0.5s);

						em {
							background: #fff;
							@include css3(transition, all 0.5s);
						}
					}

				}
			}
		}
		&:hover{
			div{
				.bg{
					box-shadow: inset 0 0 0 1px #000;
    				-webkit-box-shadow: inset 0 0 0 1px #000;
					@include css3(transition, all 0.5s);
				}
				a{
					color: #fff;
				    background: #000;
					@include css3(transition, all 0.5s);

					span{
						background: #fff;
						@include css3(transition, all 0.5s);
						em{
							background: #fff;
							@include css3(transition, all 0.5s);
						}
					}

				}
			}
		}
		a{
			letter-spacing: 1px;
		}
	}

	.main{
		position: relative;
		text-align: center;
		>img{
			display: block;
			width: 100%;
		}
		video{
			display: block;
			width: 100%;
		}
		a.play-video{
			display: inline-block;
			position: absolute;
			bottom: 5%;
			left: 50%;
			transform: translateX(-50%);
			font: 500 16px/16px 'NotoSansKR';
			color: #fff;
			text-decoration: underline;
			z-index: 3;
		}
		.button_area_v2{
			display: inline-block;
			position: absolute;
			top: 89%;
			left: 50%;
			transform: translateX(-50%);
			a{
				padding: 0 20px;
			}
		}
	}

	.state{
		position: relative;
		padding: 65px 0;
		background: #f4ece8;
		text-align: center;
		p{
			font: 500 20px/32px 'NotoSansKR';
			color: #000;
			text-align: center;
		}
		.button_area_v2{
			margin-top: 40px;
			display: inline-block;
			a{
				padding: 0 20px;
			}
		}
	}

	
	.contents{
		.vid_cont{
			position: relative;
			&.vid_cont1{
				margin-bottom: 30px;
			}
			
			>img{
				display: block;
				width: 100%;
			}
			video {
				display: block;
				width: 100%;
			}
			.buy_box{
				position: absolute;
				top: 0;
				left: 50%;
				width: 36.4583%;
				z-index: 3;
				p{
					font: 400 18px/28px 'NotoSansKR';
					color: #000;
					word-break: keep-all;
					em{
						font: 500 18px/28px 'adihaus-medium';
					}
					strong {
						font-weight: 700;
					}
				}
				.button_area_v2 {
					margin-top: 30px;
					display: inline-block;
					a {
						padding: 0 20px;
					}
				}
				>span{
					display: block;
					margin-top: 20px;
					font: 400 15px/15px 'NotoSansKR';
					color: #000;
				}
			}
			.btn-play{
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 3;
			}
			.btn-play-abs{
				display: inline-block;
				position: absolute;
				top: 10%;
				left: 52%;
				z-index: 3;

				width: 35%;
				height: 45%;
				// background: red;
				// opacity: 0.4;
			}
		}
		.cont_lastteam {
			position: relative;
			background: #fef7f3;
			text-align: center;
			padding: 80px 0;
			.inn{
				display: inline-block;
				text-align: center;
				>img{
					display: inline-block;
					margin-bottom: 30px;
				}
				h4{
					font: 700 30px/35px 'NotoSansKR';
					color: #000;
					text-align: center;
				}
				p{
					padding-top: 10px;
					font: 400 20px/28px 'NotoSansKR';
					color: #000;
					word-break: keep-all;
					text-align: center;
				}
				.button_area_v2{
					margin-top: 30px;
					display: inline-block;
					a {
						padding: 0 20px;
					}
				}
			}
		}
		.team_cont{
			position: relative;
			padding: 70px 0 120px;
			text-align: center;
			.txt_area{
				width: calc(1200px - 30px);
				margin: 0 auto;
				h3 {
					font: 500 30px/30px 'adinenuPro-bold';
					color: #000;
					text-transform: uppercase;
				}

				>p {
					padding: 15px 0 45px;
					font: 500 20px/20px 'NotoSansKR';
					color: #000;
				}
			}
			ul#slider_team {
				overflow: hidden;
				width: 1200px;
				margin: 0 auto;
				li{
					float: left;
					margin: 0 15px;
					padding-bottom: 3px;

					img{
						display: block;
						width: 100%;
					}
					h3{
						padding: 25px 5px 0;
						font: 700 20px/20px 'NotoSansKR';
						color: #000;
						text-transform: uppercase;
						// letter-spacing: -1px;
					}
					h4{
						padding: 10px 5px 0;
						font: 500 16px/22px 'NotoSansKR';
						color: #000;
					}
					>p{
						padding: 20px 5px 30px;
						font: 400 14px/24px 'NotoSansKR';
						color: #000;
						box-sizing: border-box;
					}
					.button_area_v2{
						display: inline-block;
						margin-left: 5px;
						a{
							padding: 0 20px;
							text-transform: uppercase;
						}
					}
					&:last-child{
						p{
							padding: 20px 5px 28px;
						}
					}
				}
			}
			.slider_nav {
				width: 1430px;
				position: absolute;
				top: 38%;
				left: 50%;
				transform: translateX(-50%);
				margin-top: -12px;

				.prev-button {
					padding: 10px;
					float: left;
				}

				.next-button {
					padding: 10px;
					float: right;
				}
			}
			ul.slick-dots {
				overflow: hidden;
				text-align: center;
				margin: 40px 0 50px;
				li {
					float: unset !important;
					display: inline-block;
					width: 13px;
					height: 13px;
					border-radius: 50%;
					border: 2px solid #000;
					margin: 0 5px !important;
					padding: 0 !important;
					cursor: pointer;

					button {
						display: none;
					}

					&.slick-active {
						background: #000;
					}
				}
			}
		}
	}

	.vid_bottom{
		position: relative;
		video {
			display: block;
			width: 100%;
		}
	}
}

@media screen and (max-width:1600px) {
	.contents {
		.vid_cont {
			&.vid_cont1 {
				margin-bottom: 100px !important;
			}
			&.vid_cont2 {
				margin-bottom: 80px !important;
			}
		}
	}
}
