@import "./front/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
#contents_wrap{padding: 0;}

.campaign_smartvent{


    .main{
        position: relative;
        height: 660px;
        z-index: 0;
        .first_slide{
            position: absolute;
            top:0;
            left:50%;
            transform: translateX(-50%);
            z-index: -1;
            width: 1920px;
            overflow: hidden;
            ul{
                width:7680px;
                position: relative;
                li{
                    float: left;
                    height: 660px;
                    &.on{
                        display: block;
                    }

                }
            }
        }
        .bg{
            position: absolute;
            top:0;
            left:50%;
            transform: translateX(-50%);
            z-index: -1;
        }
        .wrap{
            width:500px;
            margin: 0 auto;
            z-index: 1;
            padding-top: 245px;
            .txt{
                text-align: center;
                // p{
                //     font: 700 30px/30px 'NotoSansKR';
                //     color:#fff;
                //     text-align: center;
                //     letter-spacing: 2px;
                // }
                .btn{
                    display: inline-block;
                    border: 1px solid #fff;
                    margin-top: 93px;
                    a{
                        display: block;
                        font: 700 17px/57px 'NotoSansKR';
                        color:#fff;
                        letter-spacing: 1px;
                        padding: 0 60px;
                        img{
                            vertical-align: middle;
                            padding-left:8px;
                        }
                    }
                }
            }
        }
    }

    .visual_video{
        height:676px;
        .bg{
            margin-left: -960px;
        }
        .play-video{
            margin: 0 auto;
            position: relative;
            left: -30px;
            top: 10px;
            background:url('/images/reebok/2019/event/smartvent/1903_smartvent_play.png') no-repeat;
            border:0;
            width: 71px;
            height: 71px;
            display: block;
            border-radius: 0;
            &::after{
                border:0;
            }
        }
    }

    

    
    .slide_container{
        padding-top: 65px;
        background:url('/images/reebok/2019/event/smartvent/1903_smartvent_slide_container_bg.jpg') no-repeat;
        background-size: cover;
        position: relative;

        .outer{
            position: relative;
            height: 630px;
            .layout{
                position: relative;
                width:1060px;
                height:580px;
                margin:0 auto;
                .usp{
                    position: absolute;
                    top:0;
                    left:0;
                }
                .bg{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 213px;
                    height: 350px;
                    background: #87e0fd; /* Old browsers */
                    background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
                }
                .second_slide{
                    position: absolute;
                    top:31px;
                    left:50%;
                    margin-left: 50px;
                    width: 450px;
                    overflow: hidden;
                    ul{
                        width:1808px;
                        position: relative;
                        li{
                            float: left;
                            height: 542px;
                            &.on{
                                display: block;
                            }
        
                        }
                    }
                }
            }
            .indi{
                position: absolute;
                bottom:31px;
                left: 50%;
                margin-left: 267px;
                a{
                    display: inline-block;
                    width:10px;
                    height: 10px;
                    border-radius:50%;
                    background: #737478;
                    margin-right: 6px;
                    &.on{
                        background:#fff;
                    }
                }
            }
        }


        .slide_lineup{
            position: relative;
            bottom:0;
            width: 100%;
            // padding: 0 0 80px;
            text-align: center;
            h1{
                font-family:'DINWebPro-CondBold';
                font-size:50px;
                color:#fff;
                text-align: center;
                padding: 50px 0 35px 0;
                letter-spacing: 5px;
            }
            .wrap{
                position: relative;
                text-align: center;
                .btm_logo{
                    padding:50px 0;
                    text-align: center;
                }
            }
    
            .wide-slider-wrapper{
                position: relative;
                width: 100%;
                height:544px;
                left: inherit;
                margin-left:inherit;
                z-index: 1;
                overflow: hidden;
                .arrow-prev{
                    position: absolute;
                    top:50%;
                    left:50%;
                    margin-top: -13px;
                    margin-left: -496px;
                    background-position: -125px -80px;
                    z-index: 2;
                    width: 22px;
                    height: 42px;
                }
                .arrow-next{
                    position: absolute;
                    top:50%;
                    left:50%;
                    margin-top: -13px;
                    margin-left:488px;
                    background-position: -125px -125px;
                    z-index: 2;
                    width: 22px;
                    height: 42px;
                }
                ul{
                    position: absolute;
                    top:0;
                    width: 100%;
                    height: 550px;
                    li{
                        width: 962px;
                        position: relative;
                        float: left;
                        text-align: center;
                        @include opacity(1);
                        @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                        img{
                            display: inline-block;
                            width:99%;
                        }
                    }
                    li.active{
                        @include opacity(1);
                        @include prefix-css3(transition ,ease-in 0.3s);
                        &::after{
                            content: '';
                            display: none;
                        }
                    }
                }
            }
            .indicator{
                padding: 20px 0 30px;
                text-align: center;
                a{
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    background: rgba(255, 255, 255, 0.4);
                    margin: 0 2px;
                    &.on{
                        background: #fff;
                    }
                }
            }
            .btn_wrap{
                width:510px;
                margin:0 auto;
                text-align: center;
                padding-bottom:60px;
                .btn{
                    display: inline-block;
                    border:1px solid #fff;
                    margin:0 8px;
                    a{
                        display: block;
                        font: 700 17px/55px 'NotoSansKR';
                        color:#fff;
                        padding: 0 60px;
                        letter-spacing: 1px;
                        img{
                            padding-left: 13px;
                        }
                    }
                    &:nth-of-type(2){
                        a{
                            padding: 0 38px;
                        }
                    }
                }
            }
        }
    

    }



}
