@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

#wrap{
	overflow: hidden;
	min-width: 1190px;
}

#ultrasboost_cp{
	position: relative;
	//common
	.button_area_v2{
		margin-top: 25px;
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			width:140px;
			font: 700 14px/48px 'NotoSansKR';
			letter-spacing: 0;
		}
	}

	.main{
		position: relative;
		height:720px;
		overflow: hidden;
		&.on{
			.inn{
				.img{
					opacity: 1;
				}
				.img1{
					left:403px;
				}
				.img2{
					transform: rotate(0deg);

				}
			}
		}
		.imgbg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.img{
			position: absolute;
			top:0;
			left:403px;
			opacity: 0;
			
			&.img1{
				left:380px;
				// opacity: 1;

				transition: all 0.4s;
			}
			&.img2{
				left: 796px;
				top: 115px;
				transform: rotate(-45deg);
				transition: all 0.3s;
				transition-delay: 0.4s;
			}
		}
		.inn{
			position: relative;
			z-index: 1;
			width:1190px;
			margin:0 auto;
			padding:240px 0 0 90px;
			.logo{
				padding:0 0 14px 0;
			}
			p{
				font:500 20px/24px 'NotoSansKR';
				color:#000;
				&.txt{
					position: relative;
					margin:20px 0 0 0;
					span{
						position: relative;
						font: 500 16px 'NotoSansKR';
						background: #ddd;
						background: #faff00;
					}
				}
			}
			.button_area_v2{
				a{
					padding: 0 18px;
				}
			}
		}
	}

	.video_wrap{
		position: relative;
		padding:40px 0;
		text-align: center;
		background: #faff00;
		.box{
			width: 28%;
			overflow: hidden;
			display: inline-block;
			margin: 0 1%;
			.video{
				width: 100%;
				padding-bottom: 320px;
				position: relative;
				video{
					position: absolute;
					top: 0;
					left: 50%;
					transform: translate(-50%,-0%);
				}
			}
			.info{
				position: relative;
				padding:0 0 70px 0;
				background: #fff;
				p{
					text-align: center;
					color:#000;
					font:400 16px/24px 'NotoSansKR';
					&.title{
						padding:40px 0 10px 0;
						font:25px 'adinenuPro-black';
					}
				}
			}
		}
	}

	.statement{
		position: relative;
		.video_s{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			z-index: 2;
		}
		// .inn{
		// 	width:1190px;
		// 	margin:0 auto;
		// 	.txt{
		// 		padding:202px 0 206px 90px ;
		// 		.button_area_v2{
		// 			margin:40px 0 0 0;
		// 			a{
		// 				padding: 0 18px;
		// 			}
		// 		}
		// 		p{
		// 			color:#000;
		// 			font:500 16px/26px 'NotoSansKR';

		// 			&.title{
		// 				padding:0 0 10px 0;
		// 				font:600 40px/48px 'NotoSansKR';

		// 			}
		// 			&.txt2{
		// 				padding:20px 0 0 0;
		// 				span{
		// 					background: #faff00;
		// 				}
		// 			}

		// 		}
		// 	}
		// 	.img{
		// 		position: absolute;
		// 		right: 0;
		// 		top: 0;
		// 	}
		// }
		video{
			width:100%;
		}
	}

	.bnn_wrap{
		position: relative;
		overflow: hidden;
		background: #000;
		.box{
			position: relative;
			width: 50%;
			padding-bottom: 36%;
			float: left;
			.txt{
				position: absolute;
				top:73%;
				left:50%;
				transform: translate(-50%,-50%);
				text-align: center;
				width:100%;

				p{
					text-align: center;
					color:#fff;
					font: 400 16px/24px 'NotoSansKR';

					&.title{
						padding:0 0 12px 0;
						font: 500 26px/24px 'NotoSansKR';
					}
				}
				.button_area_v2{
					display: inline-block;
					a{
						padding: 0 18px;
					}
				}
			}
		}
	}

	.bottom_wrap{
		position: relative;
		height:480px;
		.imgbg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.inn{
			position: relative;
			z-index: 1;
			margin:0 auto;
			width:1190px;
			text-align: center;
			p{
				text-align: center;
				color:#fff;
				font: 400 16px/24px 'NotoSansKR';
				&.title{
					padding:300px 0 20px 0;
					font: 600 26px/24px 'NotoSansKR';

				}
			}
			.button_area_v2{
				a{
					width:auto;
					padding: 0 20px;
				}
			}
		}
	}

}
