@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

#wrap{
	min-width: 950px !important;
	overflow: hidden;
}
.campaign-content{
	min-width: auto !important;
}
#donaldglover{
	position: relative;
	z-index: -1;
	//common
	.button_area_v2{
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			width:initial;
			font: 700 14px/50px 'NotoSansKR';
			letter-spacing: .5px;
			padding: 0 20px;
		}
	}

	.main_visual{
		position: relative;
		overflow: hidden;
		&.on{
			video{
				@include css3(opacity,1);
				z-index: 3;
			}
			
		}

		.bg{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			width:100%;
			// margin-left: -960px;
			@include css3(opacity,1);
			img{
				width:100%;
			}
			
		}

		video{
			position: relative;
			width:100%;
			@include css3(opacity,0);
			@include css3(transition,all .5s);

			
		}
	}

	.statement{
		position: relative;
		padding: 60px 0;
		text-align: center;

		p{
			text-align: center;
			color: #000;
			font:500 20px/35px 'NotoSansKR';
		}
		.button_area_v2{
			margin:40px 0 0 0;
			display: inline-block;
		}
	}

	.image-grids{
		background:#000;
		.col{
			.video_btn{
				position: absolute;
				top:50%;
				left:50%;
				transform: translate(-50%,-50%);
			}
			.img2-3{
				background: #f4f0e5;
				.inn{
					position: absolute;
					top:50%;
					left:50%;
					transform: translate(-50%,-50%);
				}
				h4{
					padding:0 0 10px 0;
					font: 600 24px/24px 'NotoSansKR';
					color:#000;
				}
				p.title{
					padding:0 0 18px 0;

					font:30px/30px 'adinenuPro-bold';
				}
				p{
					text-align: center;
					color:#000;

					font: 400 20px/28px 'NotoSansKR';
				}
			}
		}
	}

	.bottom_wrap{
		position: relative;
		padding:0 0 100px 0;;
		p.title{
			padding:55px 0;
			text-align: center;
			color: #000;
			font:500 36px/36px 'adinenuPro-bold';
			text-transform: uppercase;
		}
		.videos{
			text-align: center;
			.video{
				display: inline-block;
				width: 30%;
				height: 470px;
				margin: 0 7px;
				position: relative;
				overflow: hidden;

				
				video{
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					transform: none;
					min-width: 100%;
					min-height: 100%;
					width: auto;
					height: auto;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
				}
				.button_area_v2{
					width:160px;
					position: absolute;
					left: 50%;
					top: 86%;
					transform: translate(-50%, -50%);
					@media screen and (max-width:1500px){
						a{
							font-size: 12px;
						}
					}
					a{
						letter-spacing: 1.2px;
					}
				}
			}
		}
	}

	
}
