@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
.campain_heritage{
    .visual_video{
        h2{
            width:inherit;
            height: inherit;
            text-indent: 0;
            background:none;
            font:85px/90px 'QStencil';
        }
        .desc_eng{
            font:24px/24px 'DINWebPro-CondMedium';
        }
        .desc_eng2{
            font:22px/28px 'NotoSansKRRegular','Nanum Gothic';
        }
    }
    .about_passion{
        .box1{
            padding:80px 0 118px 0;
            height: inherit;
            background:url('http://image.reebok.co.kr/images/reebok/event/about/heritage/box1_bg.png') 100% 100% repeat;
            .btn{
                padding:30px 0 0 36px;
                a.inner-buybtn{
                    position: relative;
                    display:inline-block;
                    margin:0;
                    padding:0 71px;
                    color:#866432;
                    border:2px solid #866432;
                    font:22px/56px  'NotoSansKR','Nanum Gothic';
                    overflow: hidden;
                        em{
                            position: relative;
                            z-index: 100;
                            transition:all 0.6s ease-out;
                        }
                        .bg{
                            display: inline-block;
                            margin:0 auto;
                            width: 100%;
                            height: 63px;
                            position: absolute;
                            top:inherit;
                            bottom: -63px;
                            right:inherit;
                            left:0;
                            background: #866432;
                            transition:all 0.4s ease-out;
                        }
                    }

                a.inner-buybtn:hover{
                    color:#fff;
                    .bg{
                        bottom: 0px;
                    }
                }
            }
            .inner{
                width:951px;
                height: 100%;
                h3{
                    position: relative;
                    width:664px;
                    margin:0 auto;
                    text-align: center;
                    font:80px/118px 'QStencil';
                    color:#000;
                    // border-top:2px solid #000;
                    // border-bottom:2px solid #000;
                    z-index: 2;
                }
                h3+p{
                    padding:21px 0 30px 0;
                    text-align: center;
                    font:20px/28px  'NotoSansKR','Nanum Gothic';
                    color:#000;
                    letter-spacing: -1px;
                }
                .btn{
                    margin-bottom:50px;
                    text-align:center;
                    .inner-buybtn{
                        margin:0;
                        color:#866432;
                        border:2px solid #866432;
                    }
                }
                .packs{
                    ul{
                        position: relative;
                        height:434px;
                        li{
                            float: left;
                            width:307px;
                            height:434px;
                            margin-right:10px;
                            background:#fdfdfd;
                            transition:all 0.6s ease-out;

                            .item_inner{
                                box-sizing:border-box;
                                height:412px;
                                margin:10px;
                                border:2px solid transparent;
                                @include prefix-css3(transition,all 0.2s ease-out);
                                .img{
                                    padding:88px 0 49px;
                                    text-align:center;
                                    img{
                                        // transition:all 0.6s ease-out;
                                        // transform:rotate(-5deg);
                                        opacity: 0.6;
                                        @include prefix-css3(transform,translate3d(0,-1px,0));
                                        @include prefix-css3(transition,all 0.6s ease-out);
                                    }
                                }

                                .ctgr{
                                    font:18px/32px 'DINWebPro-CondBold';
                                    text-align: center;
                                    color:#7f7979;
                                    text-transform: uppercase;
                                }
                                .tit{
                                    font:30px 'DINWebPro-CondBold';
                                    text-align: center;
                                    color:#000;
                                }
                                p{
                                    padding-top: 15px;
                                    font:16px/20px  'NotoSansKRMedium','Nanum Gothic';
                                    text-align:center;
                                    color:#866432;
                                    span{
                                        display: inline-block;
                                        margin:-3px 0 0 6px;
                                        width:16px;
                                        height: 16px;
                                        vertical-align: middle;
                                        background:url('http://image.reebok.co.kr/images/reebok/event/about/heritage/detail_icon.png') 50% no-repeat;
                                    }
                                }


                            }
                        }
                        li:nth-child(2){
                            background: #e9e8e4;

                        }
                        li:last-child{
                            margin-right:0;
                        }
                        li:hover{
                            background: #e9e8e4;
                        }
                        li:hover .item_inner{border:2px solid #7e7e7e;;}
                        li:hover .item_inner .img img{
                            @include prefix-css3(transform,translate3d(0,-10px,0));
                            opacity: 1;
                        }
                    }
                }
                .bg1{
                    position: absolute;
                    top:0px;
                    right:-50%;
                }
                .bg2{
                    position: absolute;
                    width: 432px;
                    top:421px;
                    left:-50%;
                    right: inherit;
                    z-index: 0;
                }
                .txt1{
                    position: absolute;
                    top:0px;
                    left:-51%;
                    color:#babbb8;
                    font:120px/102px 'DINWebPro-CondLight';
                }
                .txt2{
                    position: absolute;
                    bottom: -138px;
                    right:-50%;
                    color:#babbb8;
                    font:120px/102px 'DINWebPro-CondLight';
                }
            }
        }
    }
    .products_collection{
        width: 100%;
        position: relative;
        h4{
            position: relative;
            padding:90px 0 45px;
            z-index: 1;
            font:55px/55px 'DINWebPro-Cond';
            text-align: center;
            color:#fff;
        }
        .prodlist_wrap{
            position: relative;
            padding:18px 0 100px 0;
            height:63px;
            background:url('http://image.reebok.co.kr/images/reebok/event/about/heritage/bg_wall.png') 50% 100% no-repeat;
            border-bottom: 0px;
            .slider-btn{
                width: 100%;
                position: absolute;
                top:30px;
                left:0;
                text-align: center;
                a{
                    margin:0 4px;
                }
            }
            .button-anim{
                margin:0 auto;
            }
        }
        .bg{
            position: absolute;
            top:0;
            left: 50%;
            margin-left: -980px;
        }
        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height: 550px;
            z-index: 1;
            overflow: hidden;
            background:#000;
            .arrow-prev{
                width: 22px;
                height: 42px;
                position: absolute;
                top:50%;
                left:50%;
                margin-left:-420px;
                background-position: -125px -80px;
                z-index: 2;
            }
            .arrow-next{
                width: 22px;
                height: 42px;
                position: absolute;
                top:50%;
                left:50%;
                margin-left: 420px;
                background-position: -125px -125px;
                z-index: 2;
            }
            ul{
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height: 550px;
                li{
                    float:left;
                    opacity: .4;
                    @include prefix-css3(transition ,opacity 0.3s ease-in 0.5s);
                }
                li.active{
                    opacity: 1;
                }
            }
        }
    }
}
/* Heritage Campaign end */
