@import "./front/css/reebok/scss/about.scss";

/* common */
#wrap {
	min-width: 1190px;
	overflow: hidden;
}

html,
body {
	height: 100%;
}

.holiday_2020_08_wrap {
	position: relative;
	overflow: hidden;
}


@mixin notResponsive{
	position: relative;
	height: 641px;
	.box__figure{
		position: absolute;
		top:0;
		left: 50%;
		transform: translateX(-50%);
		img{
			width: initial;
		}
	}
}
.box{
	position: relative;
	.box__figure{
		img{
			width: 100%;
		}
	}
	.button{
    z-index: 2;
		a{
			position: relative;
			text-align: center;
			display: inline-block;
			padding: 0 20px;
			height: 45px;
			font: 700 14px/45px 'NotoSansKR';
			color: #fff;
			border: 1px solid #fff;
			background: #004ec8;
			&::after{
				display: inline-block;
				content: '';
				clear: both;
				position: absolute;
				top: 2.5px;
				left: 1px;
				right: 0px;
				bottom: 0;
				background: #fff;
				width: 100%;
				height: 100%;
				z-index: -1;
				border: 1px solid #fff;
			}
			.arrow{
				position: relative;
				top:-1px;
				display: inline-block;
				margin-left: 20px;
				width: 25px;
				height: 2px;
				background: #fff;
				vertical-align: middle;
					em{
						position: absolute;
						right: 0;
						width: 8px;
						height: 3px;
						background: #fff;
						transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						&.top{
							top:-3px;
						}
						&.bottom{
							bottom: -3px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);
						}
					}

			}
			// &:hover{
			// 	color: #ccc;
			// 	.arrow{
			// 		background: #ccc;
			// 		em{
			// 			background: #ccc;
			// 		}
			// 	}
			// }
		}
	}
	&:nth-of-type(1) {
		.button{
			position: absolute;
			transform: translateX(-50%);
			top: 71%;
			left: 55.6%;
		}
	}
	&:nth-of-type(2) {
		@include notResponsive();
	}
	&:nth-of-type(3) {
		.button{
			position: absolute;
			top: 51%;
			transform: translateX(-50%);
			left: 58%;
			display: inline-block;
			a{
				background: #f1f0f5;
				border: 1px solid #004ec8;
				color: #004ec8;
				.arrow{
					background: #004ec8;
					em{
						background: #004ec8;
					}
				}
				&::after{
					border: 1px solid #004ec8;
					background: #000;
					z-index: -1;
					left: 2px;
				}
			}
		}
	}
	&:nth-of-type(4) {
		.button{
			position: absolute;
			top: 40%;
			transform: translateX(-50%);
			left: 60.5%;
			display: inline-block;
			a{
				background: #f1f0f5;
				border: 1px solid #004ec8;
				color: #004ec8;
				.arrow{
					background: #004ec8;
					em{
						background: #004ec8;
					}
				}
				&::after{
					border: 1px solid #004ec8;
					background: #000;
					z-index: -1;
					left: 2px;
				}
			}
		}
	}
	&:nth-of-type(5) {
		@include notResponsive();
		height: 690px;
	}
}






// .btn {
// 	display: inline-block;

// 	>div {
// 		position: relative;

// 		&::before {
// 			border-bottom: 1px solid #fff;
// 			border-left: 1px solid #fff;
// 			bottom: -4px;
// 			height: 3px;
// 			left: 3px;
// 			width: calc(100%);
// 			content: "";
// 			display: block;
// 			position: absolute;
// 		}

// 		&::after {
// 			border-right: 1px solid #fff;
// 			border-top: 1px solid #fff;
// 			height: calc(100%);
// 			right: -4px;
// 			top: 3px;
// 			width: 3px;
// 			content: "";
// 			display: block;
// 			position: absolute;
// 		}

// 		a {
// 			width: auto;
// 			font: 500 14px/48px 'NotoSansKR';
// 			letter-spacing: 0;
// 			position: relative;
// 			display: block;
// 			padding: 0 20px;
// 			text-align: center;
// 			height: 50px;
// 			color: #000;
// 			background: #fff;
// 			z-index: 2;
// 			border: 1px solid #fff;
// 			letter-spacing: 0.7px;
// 			transition: 0.4s;

// 			.arrow {
// 				display: inline-block;
// 				width: 24px;
// 				height: 11px;
// 				margin-left: 25px;
// 				background: url(/images/reebok/2019/event/interval_og/arrow.png) no-repeat;
// 			}
// 		}
// 	}
// }