@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#athletics {
	position: relative;

	.button_area_v2{
		display: inline-block;
		&:hover{
			div{
				.bg{
					box-shadow: inset 0 0 0 1px #000;
    				-webkit-box-shadow: inset 0 0 0 1px #000;
					@include css3(transition, all 0.5s);
				}
				a{
					color: #fff;
				    background: #000;
					@include css3(transition, all 0.5s);

					span{
						background: #fff;
						@include css3(transition, all 0.5s);
						em{
							background: #fff;
							@include css3(transition, all 0.5s);
						}
					}

				}
			}
		}
		a{
			padding: 0 20px;
			letter-spacing: 1px;
		}
	}

	.main{
		position: relative;
		&.on{
			.inn{
				>*{
					&::before{
						height:0;
					}
				}
			}
		}
		img {
			display: block;
			width: 100%;
		}
	}

	.section{
		position: relative;

		&.video_wrap{
			video{
				display: block;
				width: 100%;
			}
			.btn-play {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;
			}
		}

		&.ytb_wrap {
			overflow: hidden;
			text-align: center;
			height: 1436px;
			background: url('/images/adidas/2020/event/athletics/0221/ytb_bg.jpg') left top no-repeat;
			color: #fff;
			h3{
				margin-top: 120px;
				font: 600 34px/38px "NotoSansKR";
				text-align: center;
			}
			>p{
				padding: 20px 0 35px;
				font: 500 22px "NotoSansKR";
				text-align: center;
			}
			.slider_nav_ytb {
				width: 670px;
				margin: 36px auto 20px;
				>*{
					display: inline-block;
				}
				.nav_name{
					margin: 0 58px;
					ul{
						overflow: hidden;
						position: relative;
						width: 480px;
						height: 130px;
						li{
							position: absolute;
							img {
								display: block;

								opacity: 0;
								transform: translateY(30px);
								filter: blur(10px);
								transition: 0.6s;
							}
							&.on {
								img {
									opacity: 1;
									transform: translateY(0);
									filter: blur(0);
								}
							}
						}
					}
				}
			}
			.slider_ytb_sub{
				position: absolute;
				width: 100%;
				ul{
					position: relative;
					width: 670px;
					height: 430px;
					top: 0;
					left: 50%;
					margin-left: -335px;
					// background: rgba(0, 0, 0, 0.4);
					li{
						position: absolute;
						width: 670px;
						height: 430px;
						top: 0;
						left: 0;
						opacity: 0;
						.prds {
							position: absolute;
							top: 65px;
							z-index: 3;

							opacity: 0;
							transition: 1s;
							&.prd_1 {left: -430px;}
							&.prd_2 {right: -430px;}
						}
						
						&.on{
							opacity: 1;
							.prds{
								opacity: 1;
								&.prd_1 {left: -480px;}
								&.prd_2 {right: -480px;}
							}
						}
					}
				}
			}
			#slider_ytb {
				margin: 0 auto;
				width: 670px; // h430
				.slick-list{
					border: 7px solid #fff;
					box-sizing: border-box;
					.item {
						position: relative;
						>video{
							display: block;
							width: 100%;
						}
						>img {
							display: block;
							width: 100%;
						}
	
						a.btn-play {
							display: inline-block;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							z-index: 3;
						}
					}
				}
				.slick-dots{
					overflow: hidden;
					width: 1050px;
					margin: 20px 0 35px -190px;
					background:url('/images/adidas/2020/event/athletics/0221/arrws.png') no-repeat;
					background-position: center;
					background-size:auto auto;
					li{
						float: left;
						width: 225px;
						margin-right: 50px;
						
						// outline: 1px solid #fff;
						&:last-child{
							margin-right: 0;
						}
						&.slick-active{
							.dot_inner_ytb {
								.dot-img{
									border:5px solid #fff;
									img{
										filter: grayscale(0);
										-ms-filter: grayscale(0);
									}
								}
							}
						}
						&:hover{
							.dot_inner_ytb {
								.dot-img {
									border: 5px solid #fff;
								}
							}
						}
						.dot_inner_ytb{
							color: #fff;
							text-align: center;
							span{
								display: inline-block;
								padding: 0 0 10px;
								font: 500 20px/20px 'adihausDIN-Cond-bold';
							}
							.dot-img{
								width: 225px;
								height: 135px;
								background: #000;
								box-sizing: border-box;
								-ms-box-sizing: border-box;
								-webkit-box-sizing: border-box;
								-moz-box-sizing: border-box;
								border-width: 0;
								transition: 0.2s;
								img{
									display: block;
									width: 100%;
									height: 100%;
									filter: grayscale(100%);
									-ms-filter: grayscale(100%);
								}
							}
							p{
								padding: 10px 0 0;
								font: 500 20px/20px 'NotoSansKR';
								text-align: center;
							}
						}
					}
				}
			}
		}

		&.state_wrap {
			padding: 75px 0;
			color: #000;
			text-align: center;
			>*{
				text-align: center;
			}
			h3{
				font: 600 34px/40px "NotoSansKR";
			}
			p{
				padding: 30px 0;
				font: 22px "NotoSansKR";
			}
			strong{
				display: inline-block;
				padding-top: 20px;
				font: 500 22px/28px "NotoSansKR";
			}
		}

		&.view_wrap {
			overflow: hidden;
			&.view01 {
				background: url('/images/adidas/2020/event/athletics/view_01_bg.jpg') 0 0 no-repeat;
				background-size: 100% 100%;
			}
			&.view02 {
				background: url('/images/adidas/2020/event/athletics/view_02_bg.jpg') 0 0 no-repeat;
				background-size: 100% 100%;
			}
			&.view03 {
				background: url('/images/adidas/2020/event/athletics/view_03_bg.jpg') 0 0 no-repeat;
				background-size: 100% 100%;
			}

			.view_top {
				margin: 100px 0 50px;
				color: #000;
				text-align: center;

				h3 {
					font: 600 50px "adinenuPro-bold";
					text-align: center;
					text-transform: uppercase;
					letter-spacing: 2px;
				}

				p {
					font: 500 20px "NotoSansKR";
					text-align: center;
				}

				.button_area_v2 {
					margin-top: 30px;
				}
			}

			.view_mid {
				position: relative;
				.mid_sld{
					margin: 0 auto;
					display: block;
					max-width: 1600px;
					.slick-slide{
						img{
							width: 100%;
						}
					}
					.slick-dots {
						text-align: center;
						margin: 40px 0 50px;

						li {
							display: inline-block;
							width: 13px;
							height: 13px;
							border-radius: 50%;
							border: 1px solid #000;
							margin: 0 5px;
							cursor: pointer;

							button {
								display: none;
							}

							&.slick-active {
								background: #000;
							}
						}
					}
				}
				.slider_nav {
					width: 100%;
					position: absolute;
					top: 50%;
					margin-top: -70px;
					.prev-button{
						padding: 10px;
						float: left;
						margin-left: 50px;
					}
					.next-button{
						padding: 10px;
						float: right;
						margin-right: 50px;
					}
				}
			}

			.view_bot {
				>img{
					display: block;
					width: 100%;
					margin-bottom: 50px;
				}
				.bot_sld{
					width: 100%;
					margin-bottom: 50px;
					.slick-slide {
						img {
							width: 100%;
						}
					}
				}
			}
		}

		&.creator_wrap{
			background: url('/images/adidas/2020/event/athletics/creator_bg.jpg') 0 0 no-repeat;
			background-size: auto 100%;
			text-align: center;
			padding-bottom: 110px;
			h3 {
				padding: 110px 0 70px;
				font: 600 34px "NotoSansKR";
				color: #fff;
				text-align: center;
				text-transform: uppercase;
			}
			ul{
				margin: 0 auto 40px;
				width: 1328px;
				text-align: center;
				li{
					margin: 0 5px;
					display: inline-block;
					background: #fff;
					color: #000;
					text-align: center;
					>*{
						text-align: center;
					}
					p{
						&.p1{
							padding-top: 20px;
							font: 700 26px "adihausDIN-Cond-bold";
							text-transform: uppercase;
							letter-spacing: 1px;
							span{
								font: 400 16px "NotoSansKR";
							}
						}
						&.p2{
							padding: 10px 0 5px;
							font: 600 16px "NotoSansKR";
						}
						&.p3{
							padding-bottom: 30px;
							font: 400 16px "NotoSansKR";
						}
					}
				}
			}
		}

		&.bottom_wrap {
			.buybox{
				padding: 70px 0;
				text-align: center;
				h3{
					font: 600 34px/44px "NotoSansKR";
					text-align: center;
					color: #000;
				}
				.button_area_v2{
					margin-top: 20px;
				}
			}
			>img{
				display: block;
				width: 100%;
			}
		}

	}
}

@media screen and (max-width:1780px) {
	.view_mid {

		.slider_nav {

			.prev-button {
				float: left;
				margin-left: 50px;
				background: #fff;
			}

			.next-button {
				float: right;
				margin-right: 50px;
				background: #fff;
			}
		}
	}
}
