@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';
.ie{
	#ecomzone{
		.container{
			// margin: 29px 27px 58px 34px;
			// margin: 30px 38px 78px 55px;
			margin: 20px auto 80px;
			overflow: hidden;
		}
		.prd_wrapper{
			.swiper-container{
				.swiper-slide{
					.prd-box{
						// width: 31%;
						// padding-right: 1%;
						&.nopadding{
							// padding-right: 0;
						}
					}
				}
			}
		}
	}
}
#ecomzone{
	overflow: hidden;
	.main_visual{
		position: relative;
		padding-bottom: 36%;
		overflow: hidden;
		.content{
			width: 100%;
			position: absolute;
			@include css3(opacity, 0);
			&.active{
				@include css3(opacity, 1);
				z-index: 1;
				.bg{
					@include css3(transform, scale(1.15));
				}
			}
			.bg{
				@include css3(transition, opacity 0.5s, transform 10s);
				@include css3(transition-delay, 0.1s);
				img{
					width: 100%;
				}
			}
			.txt{
				position: absolute;
				top:50%;
				left:50%;
				width: 100%;
				@include css3(transform, translate(-50%,-50%));
				>*{
					text-align: center;
				}
				p{
					text-align: center;
				    color: #fff;
				    font: 500 32px 'NotoSansKR';
				    letter-spacing: -0.5px;
					&.title{
						text-transform: uppercase;
						font: 64px/65px 'adinenuPro-black';
						letter-spacing: 4px;
						color:#fff;
					}
				}
			}
		}
	}
	.menu_wrap{
		position: relative;
		width: 100%;
		background: #000;
		.menu{
			float: left;
			width: 33.33%;
			text-align: center;
			&.active{
				p{
					color:#fff;
					span{
						@include css3(opacity, 1);
					}
				}
			}
			p{
				position: relative;
				display: inline-block;
				padding: 35px 0 30px;
				text-align: center;
				font: 1.3rem/1.3rem 'adinenuPro-black';
				text-transform: uppercase;
				color:#757575;
				span{
					display: inline-block;
					position: absolute;
					top:0;
					left:0;
					width: 100%;
					height: 3px;
					background: #ffde00;
					@include css3(opacity, 0);
					@include css3(transition, opacity 0.5s);


				}
			}
		}
	}
	.container{
		// margin: 29px 17px 48px 23px;
		// margin: 0 auto;
	    margin: 30px auto 82px;
	    overflow: hidden;
	    // padding: 3% 3% 5% 3%;
	}
	.prd_wrapper{
		// padding: 2%;
		visibility: hidden;
		height: 0px;
		@include css3(opacity, 0);
		@include css3(transition, opacity 0.5s);
		&.active{
			visibility: visible;
			height: auto;
			@include css3(opacity, 1);
		}
		#prd_arri{
			.prd-box{
				&.on{
					.img{
						border: 5px solid #92d39f;
					}
				}
			}
		}
		#prd_exclu{
			.prd-box{
				&.on{
					.img{
						border: 5px solid #c71500;
					}
				}
			}
		}
		.prd_inner{
			// position: absolute;
		}

		.swiper-container{
		    padding-bottom: 5%;
			.swiper-slide{
				.prd-box{
					display: inline-block;
    				width: 32%;
				    padding-right: 1%;
					vertical-align: top;
					padding-bottom: 6%;
					text-align: center;
					&.on{
						.img{
							border:5px solid #ffdf00;
						}
					}
					&.nopadding{
						// padding-right: 0;
					}
					.img{
						box-sizing: border-box;
						-webkit-box-sizing: border-box;
						@include css3(transition, all 0.4s);

						img{
							width: 100%;
						}
					}
					.title{
						display: inline-block;
						width: 60%;
						padding-top: 20px;
						text-align: center;
						p{
						    font: 500 20px/20px 'NotoSansKR';
							text-align: center;
							color:#000;
							&.tle{
								height: 30px;
								padding-bottom: 10px;
							}
							&.price{
								opacity: 1;
								-webkit-opacity: 1;
								-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
								font:400 13px 'NotoSansKR';
								span{
									display: inline-block;
									padding: 0 3px;
									font:18px 'adihaus-bold';
								}
								&.sale{
									color:#c53622;
									span{
										&.pre_price{
											color:#000;
											font:400 13px 'NotoSansKR';
											em{
												position: relative;
												font:15px 'adihaus';
												color:#000;
												&:after{
													content: '';
													display: block;
													width: 100%;
													height: 1px;
													background: #000;
													position: absolute;
													top:60%;
												}
											}
										}
									}
								}
							}
							&.price{
								font: 400 13px/18px 'NotoSansKR';
								span{
									padding: 0 3px;
									font: 18px 'adihaus-bold';
								}
							}
						}
					}
				}
			}
			.swiper-pagination {
				bottom:0;
				span{
					width: 16px;
					height: 16px;
					background: #ccc;
					margin: 0 10px;
					opacity: 1;
					&.swiper-pagination-bullet-active{
						background: #000;
					}
				}
			}
		}

	}
	.date{
		p{
		    padding: 8% 5% 2% 0;
			font: 400 0.8rem 'NotoSansKR';
		    color: #666;
		    text-align: right;
		    letter-spacing: -0.5px;
		}

	}
	.footer{
		background: #555;
		padding: 11px 0;
		img{
			width: 100%;
		}
	}
}

.ecomzone.modal-popup-wrapper{
	.popup{
		position: relative;
		.popup-header{
			padding: 0;
			background: none;
			border:0;
			a{
				&.btn{
					position: absolute;
				    width: 100%;
				    top: 402px;
				    height: 82px;
				    left: 0;
				}
			}
		}
		.popup-contents{
			padding: 0;
			img{
				width: 100%;
			}

		}
	}
}
