@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';



#threemc{
	position: relative;
	background:#fff;
	// common
	.button_area_v2{
		display: inline-block;
		// padding-left: 15px;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			width: initial;
			font: 700 16px/49px 'NotoSansKR';
			letter-spacing: .5px;
			padding: 0px 18px;
			height: 49px;
		}
	}

	//video
	.visual_main{
		position: relative;
		height: 800px;
		&.on{
			.video,.txt{
				opacity:1;
			}
		}
		.video{
			position: absolute;
			top: 0;
			left: 50%;
			margin-left:-960px;
			opacity: 0;
			transition: all 2s;
			-webkit-transition: all 2s;
			video{ 
			}
		}
		.txt{
			position: absolute;
			top:325px;
			left:50%;
			margin-left:-480px;
			opacity: 0;
			transition: all 1s;
			transition-delay: .8s;
			-webkit-opacity: 0;
			-webkit-transition: all 1s;
			-webkit-transition-delay: .8s;
			p{
				color:#fff;
				font:700 20px/20px 'NotoSansKR';
				margin-top:10px;
			}
			.wrap{
				display: block;
				margin-top:30px;
				.button_area_v2{
				}
			}
		}

	}

	.section{
		position: relative;
		height: 680px;
		&.on{
			.img, .txt{
				opacity:1;
			}
		}
		.img{
			position: absolute;
			top:100px;
			left:50%;
			margin-left:-860px;
			opacity: 0;
			-webkit-opacity: 0;
			transition: all 1s;
			-webkit-transition: all 1s;
		}
		.txt{
			text-align: center;
			padding-top:340px;
			opacity: 0;
			transition: all 2s ease-out;
			transition-delay: .8s;
			-webkit-opacity: 0;
			-webkit-transition: all 1s ease-out;
			-webkit-transition-delay: .5s;
			p,span{
				text-align: center;
				position: relative;
				color:#fff;				
			}
			p{
				font:43px/43px 'adihausDIN-Cond-bold';
				letter-spacing: 2px;
			}
			span{
				font:500 18px/28px 'NotoSansKR';
				letter-spacing: 2px;
				display: block;
				margin: 10px 0;
			}
			img{
				z-index: 2;
				position: relative;
			}
		}
	}

	.aside{
		text-align: center;
		position: relative;
		height: 180px;
		padding-top:80px;
		p{
			color:#000;
			font: 42px/42px 'adihausDIN-Cond-bold';
			letter-spacing: 2px;
			text-align: center;
		}
		.button_area_v2{
			margin-top:15px;
		}
	}

	#image-grid{
		&.on{
			opacity: 1;
			-webkit-opacity: 1;
			top:0;
		}
		opacity: 0;
		-webkit-opacity: 0;
		transition: all 1.5s;
		-webkit-transition: all 1.5s;
		position: relative;
		top:30px;
		.content_inner{
			text-align: center;
			vertical-align: middle;
	
			.wrap{
				position: relative;
				height: 100%;
				.button_area_v2{
					position: absolute;
					top:50%;
					left:50%;
					transform: translate(-50%,-50%);
				}
			}
	
		}
	}


}