/*
	break width
 */
/*
	@@ mixin
 */
@media screen and (max-width: 320px) {
  html {
    font-size: 10px; } }

@media screen and (min-width: 800px) {
  html {
    font-size: 12px; } }

.pseudo-element, #preloadPanel div::after, #nmd .navigation ul li::before, #nmd .navigation ul li::after {
  content: '';
  display: block; }

#preloadPanel {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: alpha(opacity=0);
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s; }
  #preloadPanel div {
    position: relative;
    font: 60px 'adiBlack';
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    text-transform: uppercase; }
    #preloadPanel div::after {
      position: absolute;
      top: -110%;
      left: -210%;
      width: 200%;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
      background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
      opacity: 0;
      filter: alpha(opacity=0);
      -ms-filter: alpha(opacity=0);
      transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -o-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -webkit-animation-delay: 0.5s;
      -webkit-animation-duration: 1.6s;
      -webkit-animation-name: shining;
      -webkit-animation-fill-mode: fowards;
      /* this prevents the animation from restarting! */
      -webkit-animation-iteration-count: infinite;
      -moz-animation-delay: 0.5s;
      -moz-animation-duration: 1.6s;
      -moz-animation-name: shining;
      -moz-animation-fill-mode: fowards;
      /* this prevents the animation from restarting! */
      -moz-animation-iteration-count: infinite;
      -o-animation-delay: 0.5s;
      -o-animation-duration: 1.6s;
      -o-animation-name: shining;
      -o-animation-fill-mode: fowards;
      /* this prevents the animation from restarting! */
      -o-animation-iteration-count: infinite;
      animation-delay: 0.5s;
      animation-duration: 1.6s;
      animation-name: shining;
      animation-fill-mode: fowards;
      /* this prevents the animation from restarting! */
      animation-iteration-count: infinite;
      transition-property: left, top, opacity;
      transition-duration: 1.2s, 1.7s, 0.15s;
      transition-timing-function: ease;
      -webkit-transition-property: left, top, opacity;
      -webkit-transition-duration: 1.2s, 1.7s, 0.15s;
      -webkit-transition-timing-function: ease; }
  #preloadPanel.loaded {
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: alpha(opacity=100); }

.no_scroll {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

#nmd {
  width: 100%;
  min-height: 1000px;
  position: relative;
  background: #ededed;
  overflow: hidden;
  background: #eee;
  /* navigation END */
  /* navigation START */
  /* navigation END */ }
  #nmd .nmd_spt_bg {
    display: block;
    background: url("/images/adidas/event/nmd/20170711/sprite.png") 0 0 no-repeat; }
  #nmd .navigation {
    width: 100%;
    height: 68px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border-bottom: 1px solid  #dedad9;
    box-shadow: 0 0 5px #dedad9;
    z-index: 10; }
    #nmd .navigation .ct950 {
      position: relative; }
    #nmd .navigation h2 {
      width: 135px;
      float: left;
      color: #000;
      font: 30px/58px 'adihaus-bold';
      letter-spacing: 4px; }
    #nmd .navigation ul {
      overflow: hidden; }
      #nmd .navigation ul li {
        position: relative;
        float: left; }
        #nmd .navigation ul li::before {
          width: 1px;
          height: 12px;
          margin-top: -6px;
          position: absolute;
          top: 50%;
          background: #e0e0e0; }
        #nmd .navigation ul li::after {
          width: 100%;
          height: 2px;
          background: #000;
          position: absolute;
          bottom: -2px;
          left: 0; }
        #nmd .navigation ul li a {
          position: relative;
          display: block;
          height: 68px;
          padding: 0 25px;
          text-align: center;
          color: #000;
          font: 14px/68px 'adihaus-bold'; }
        #nmd .navigation ul li.lnk a {
          padding-right: 55px;
          font-family: 'adihaus';
          font-size: 15px; }
          #nmd .navigation ul li.lnk a .nmd_spt_bg {
            width: 17px;
            height: 17px;
            position: absolute;
            top: 25px;
            right: 27px;
            background-position: -120px -40px; }
        #nmd .navigation ul li.first::before {
          display: none; }
        #nmd .navigation ul li.on::after, #nmd .navigation ul li:hover::after {
          bottom: 0; }
    #nmd .navigation .logo {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 17px;
      right: 0;
      background-position: right 0; }
    #nmd .navigation .logo_line {
      width: 111px;
      height: 27px;
      position: absolute;
      top: 20px;
      right: 72px;
      text-indent: -9999px; }
    #nmd .navigation.fixed {
      position: fixed; }
  #nmd .contents {
    /* visual end */
    /* nmd_contents_wrapper end */ }
    #nmd .contents .visual {
      width: 100%;
      height: 630px;
      position: relative;
      margin-top: 68px; }
      #nmd .contents .visual .bg {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -951px; }
    #nmd .contents .nmd_contents_wrapper {
      width: 100%;
      height: 4420px;
      position: relative; }
      #nmd .contents .nmd_contents_wrapper area {
        outline: 0; }
      #nmd .contents .nmd_contents_wrapper .box {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -951px;
        display: none;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: alpha(opacity=0);
        transition: opacity 0.4s;
        -webkit-transition: opacity 0.4s;
        -moz-transition: opacity 0.4s;
        -o-transition: opacity 0.4s;
        -ms-transition: opacity 0.4s; }
        #nmd .contents .nmd_contents_wrapper .box.active {
          display: block;
          opacity: 1;
          filter: alpha(opacity=100);
          -ms-filter: alpha(opacity=100); }
        #nmd .contents .nmd_contents_wrapper .box.anim_active {
          opacity: 1;
          filter: alpha(opacity=100);
          -ms-filter: alpha(opacity=100); }
        #nmd .contents .nmd_contents_wrapper .box.anim_hide {
          opacity: 0;
          filter: alpha(opacity=0);
          -ms-filter: alpha(opacity=0); }
