/*
	break width
 */
/*
	@@ mixin
 */
#originals_kids {
  width: 100%;
  position: relative;
  overflow: hidden; }
  #originals_kids .sprite, #originals_kids .cta-button .ico, #originals_kids .title_wrapper .logo, #originals_kids .lookbook .slider_wrapper .prev-button, #originals_kids .lookbook .slider_wrapper .next-button {
    background: url("/images/adidas/event/originals_kids/sprite.png") 0 0 no-repeat;
    display: block; }
  #originals_kids .cta-button {
    position: relative;
    display: inline-block;
    padding: 11px 90px 15px 70px;
    font: 500 16px/16px 'NotoSansKR','Nanum Gothic';
    color: #fff;
    background: #000;
    letter-spacing: -1px;
    transition: background 0.1s;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    -ms-transition: background 0.1s; }
    #originals_kids .cta-button > div {
      position: relative; }
      #originals_kids .cta-button > div > span {
        margin-right: 1px;
        font: 17px 'adihaus-bold'; }
    #originals_kids .cta-button .ico {
      position: absolute;
      top: 50%;
      right: -22px;
      width: 16px;
      height: 15px;
      margin-top: -7px;
      background-position: 0 0; }
    #originals_kids .cta-button:hover {
      background: #111; }
  #originals_kids .title_wrapper {
    width: 950px;
    margin: 0 auto; }
    #originals_kids .title_wrapper .logo {
      width: 56px;
      height: 55px;
      background-position: -90px 0;
      margin: 0 auto 20px; }
    #originals_kids .title_wrapper h4 {
      font: 28px/28px 'adihaus';
      text-align: center;
      color: #000; }
      #originals_kids .title_wrapper h4 strong {
        font-weight: normal;
        font-family: 'adihaus-bold';
        color: #000; }
  #originals_kids .masthead {
    width: 100%;
    height: 765px;
    position: relative; }
    #originals_kids .masthead .bg {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -951px; }
  #originals_kids .statement {
    width: 100%;
    padding: 60px 0 100px;
    text-align: center;
    background: #fff; }
    #originals_kids .statement > * {
      color: #000;
      letter-spacing: -0.5px;
      text-align: center; }
    #originals_kids .statement h3 {
      position: relative;
      padding-bottom: 27px;
      margin-bottom: 30px;
      font: 300 40px/40px 'NotoSansKR','Nanum Gothic'; }
      #originals_kids .statement h3::after {
        content: '';
        width: 36px;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -18px; }
    #originals_kids .statement .desc {
      margin-bottom: 45px;
      font: 500 18px/18px 'NotoSansKR','Nanum Gothic'; }
    #originals_kids .statement .cta-button {
      color: #fff; }
  #originals_kids .lookbook {
    width: 100%;
    height: 685px;
    position: relative;
    background: url("/images/adidas/event/originals_kids/lookbook_bg.jpg") center center no-repeat;
    overflow: hidden; }
    #originals_kids .lookbook .title_wrapper {
      margin: 40px auto; }
    #originals_kids .lookbook .slider_wrapper {
      width: 950px;
      position: relative;
      margin: 0 auto; }
      #originals_kids .lookbook .slider_wrapper .prev-button, #originals_kids .lookbook .slider_wrapper .next-button {
        width: 23px;
        height: 40px;
        position: absolute;
        top: 230px; }
      #originals_kids .lookbook .slider_wrapper .prev-button {
        background-position: -20px 0;
        left: -50px; }
      #originals_kids .lookbook .slider_wrapper .next-button {
        background-position: -60px 0;
        right: -50px; }
      #originals_kids .lookbook .slider_wrapper #sliders {
        width: 950px;
        height: 500px;
        position: relative;
        overflow: hidden; }
      #originals_kids .lookbook .slider_wrapper .indicator {
        width: 950px;
        position: absolute;
        bottom: -35px;
        left: 0;
        text-align: center; }
        #originals_kids .lookbook .slider_wrapper .indicator a {
          width: 12px;
          height: 12px;
          margin: 0 2px;
          display: inline-block;
          background: #ababab; }
          #originals_kids .lookbook .slider_wrapper .indicator a.on {
            background: #fd5a84; }
  #originals_kids .video_box {
    padding: 60px 0 120px;
    background: #fff; }
    #originals_kids .video_box .ct950 {
      text-align: center; }
    #originals_kids .video_box .title_wrapper {
      margin-bottom: 40px; }
    #originals_kids .video_box .video {
      margin-bottom: 40px;
      border-top: 8px solid  #79b914;
      border-bottom: 8px solid  #79b914; }
