/*
	break width
 */
/*
	@@ mixin
 */
#originals_climacool {
  width: 100%;
  position: relative;
  overflow: hidden; }
  #originals_climacool .fixed_logo {
    position: fixed;
    top: 100px;
    right: 100px;
    padding-top: 30px;
    z-index: 15; }
    #originals_climacool .fixed_logo.text {
      top: auto;
      right: auto;
      bottom: 100px;
      left: 100px;
      padding: 0;
      margin: 0; }
    #originals_climacool .fixed_logo.line {
      top: auto;
      bottom: 100px; }
  #originals_climacool .cta-button {
    position: relative;
    display: inline-block;
    padding: 11px 55px 15px 20px;
    font: 16px/16px 'NotoSansKR','Nanum Gothic';
    color: #fff;
    border: 2px solid  #fff;
    letter-spacing: -1px; }
    #originals_climacool .cta-button .ico {
      position: absolute;
      top: 50%;
      right: 20px;
      width: 16px;
      height: 15px;
      margin-top: -7px;
      background: url("/images/adidas/event/originals_climacool/6901-btn-icon-a.png") 0 0 no-repeat; }
    #originals_climacool .cta-button:hover {
      background: #fff;
      border-color: #fff;
      color: #000; }
      #originals_climacool .cta-button:hover .ico {
        background: url("/images/adidas/event/originals_climacool/6901-btn-icon-b.png") 0 0 no-repeat; }
  #originals_climacool .box {
    width: 100%;
    height: 1000px;
    position: relative; }
    #originals_climacool .box .bg {
      width: 1920px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -960px; }
      #originals_climacool .box .bg img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        vertical-align: top; }
    #originals_climacool .box .copy_container .copy_wrap {
      width: 500px;
      margin-left: -250px;
      text-align: center;
      transform: translate3d(0, -50%, 0);
      -webkit-transform: translate3d(0, -50%, 0);
      -moz-transform: translate3d(0, -50%, 0);
      -o-transform: translate3d(0, -50%, 0);
      -ms-transform: translate3d(0, -50%, 0); }
      #originals_climacool .box .copy_container .copy_wrap > * {
        text-align: center; }
    #originals_climacool .box#box1 {
      height: 938px; }
      #originals_climacool .box#box1 .bg {
        width: 1920px;
        height: 938px;
        margin-left: -960px; }
      #originals_climacool .box#box1 .copy_container .copy_wrap {
        width: auto;
        left: 0;
        margin: -128px 0 0 0;
        text-align: left;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0); }
        #originals_climacool .box#box1 .copy_container .copy_wrap > * {
          text-align: left; }
    #originals_climacool .box#box3, #originals_climacool .box#box4, #originals_climacool .box#box5 {
      height: 999px; }
      #originals_climacool .box#box3 .bg, #originals_climacool .box#box4 .bg, #originals_climacool .box#box5 .bg {
        height: 999px; }
  #originals_climacool .copy_container {
    width: 950px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -475px; }
    #originals_climacool .copy_container .copy_wrap {
      position: absolute;
      top: 50%;
      left: 50%; }
      #originals_climacool .copy_container .copy_wrap h3 {
        margin-bottom: 25px;
        font: 30px/30px 'adinenuPro-black';
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 20px; }
      #originals_climacool .copy_container .copy_wrap .desc {
        margin-bottom: 35px;
        font: 18px/30px 'NotoSansKRRegular','Nanum Gothic';
        color: #fff;
        letter-spacing: -1px; }

#footer {
  position: relative;
  z-index: 22;
  background: #fff; }
