/*
	break width
 */
/*
	@@ mixin
 */
@media screen and (max-width: 320px) {
  html {
    font-size: 10px; } }

@media screen and (min-width: 800px) {
  html {
    font-size: 12px; } }

.pseudo-element, #preloadPanel div::after {
  content: '';
  display: block; }

#preloadPanel {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: opacity 0.9s;
  -webkit-transition: opacity 0.9s;
  -moz-transition: opacity 0.9s;
  -o-transition: opacity 0.9s;
  -ms-transition: opacity 0.9s; }
  #preloadPanel div {
    position: relative;
    font: 50px 'adiBlack';
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    #preloadPanel div::after {
      position: absolute;
      top: -110%;
      left: -210%;
      width: 200%;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
      background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
      opacity: 0;
      filter: alpha(opacity=0);
      -ms-filter: alpha(opacity=0);
      transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -o-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -webkit-animation-delay: 1s;
      -webkit-animation-duration: 1.2s;
      -webkit-animation-name: shining;
      -webkit-animation-fill-mode: forwards;
      /* this prevents the animation from restarting! */
      -webkit-animation-iteration-count: infinite;
      -moz-animation-delay: 1s;
      -moz-animation-duration: 1.2s;
      -moz-animation-name: shining;
      -moz-animation-fill-mode: forwards;
      /* this prevents the animation from restarting! */
      -moz-animation-iteration-count: infinite;
      -o-animation-delay: 1s;
      -o-animation-duration: 1.2s;
      -o-animation-name: shining;
      -o-animation-fill-mode: forwards;
      /* this prevents the animation from restarting! */
      -o-animation-iteration-count: infinite;
      animation-delay: 1s;
      animation-duration: 1.2s;
      animation-name: shining;
      animation-fill-mode: forwards;
      /* this prevents the animation from restarting! */
      animation-iteration-count: infinite;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
      -webkit-transition-property: left, top, opacity;
      -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
      -webkit-transition-timing-function: ease; }
  #preloadPanel.loaded {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0); }

.video-viewer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  .video-viewer .video {
    width: 100%;
    height: 100%;
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0; }
  .video-viewer .close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    background-position: 0 -685px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    transition: opacity 0.4s ease-in 0.2s;
    -webkit-transition: opacity 0.4s ease-in 0.2s;
    -moz-transition: opacity 0.4s ease-in 0.2s;
    -o-transition: opacity 0.4s ease-in 0.2s;
    -ms-transition: opacity 0.4s ease-in 0.2s; }
  .video-viewer .bg {
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s; }
  .video-viewer.loaded .bg {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: alpha(opacity=60); }
  .video-viewer.loaded .close {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: alpha(opacity=100); }

#sports17 {
  background: #fff;
  /* Collection */
  /* Collection END */ }
  #sports17 .visual {
    position: relative;
    overflow: hidden;
    height: 991px; }
    #sports17 .visual img {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -952px; }
    #sports17 .visual p {
      font: 90px/80px 'adinenuPro-black';
      color: #fff;
      position: absolute;
      top: 300px;
      left: 50%;
      margin-left: -475px; }
      #sports17 .visual p span {
        font-family: 'NotoSansKR';
        font-weight: 700;
        font-size: 44px;
        line-height: 50px; }
    #sports17 .visual a {
      width: 248px;
      height: 36px;
      background-color: #177dc6;
      color: #fff;
      text-align: center;
      position: absolute;
      top: 620px;
      left: 50%;
      margin-left: -475px;
      font-family: 'NotoSansKR';
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      padding-top: 17px; }
    #sports17 .visual .icons {
      display: inline-block;
      margin-left: 5px;
      width: 14px;
      height: 13px;
      background-image: url("http://image.adidas.co.kr/images/adidas/event/sports17/20170712/icons.png"); }
    #sports17 .visual .play {
      position: absolute;
      top: 50%;
      margin-top: -45px;
      left: 50%;
      margin-left: -45px; }
  #sports17 .bg {
    width: 100%;
    height: 520px;
    background-image: url("/images/adidas/event/sports17/bg.jpg");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; }
    #sports17 .bg p {
      padding-top: 120px;
      font: 26px/35px 'NotoSansKR';
      text-align: center;
      color: #000; }
  #sports17 .wrap {
    width: 100%;
    position: relative;
    overflow: hidden; }
    #sports17 .wrap .slider_wrap {
      margin: 0 auto;
      position: relative;
      width: 952px; }
      #sports17 .wrap .slider_wrap ul.slider {
        position: relative; }
        #sports17 .wrap .slider_wrap ul.slider li {
          width: 1202px;
          float: left;
          margin-top: 30px;
          text-align: center; }
          #sports17 .wrap .slider_wrap ul.slider li .title {
            padding: 76px 0 54px 0;
            text-align: center; }
            #sports17 .wrap .slider_wrap ul.slider li .title p {
              text-transform: uppercase;
              text-align: center;
              font: 40px/45px 'adinenuPro-black';
              color: #000; }
            #sports17 .wrap .slider_wrap ul.slider li .title span {
              font: 26px/28px 'NotoSansKRRegular';
              color: #000; }
          #sports17 .wrap .slider_wrap ul.slider li img {
            width: 952px; }
      #sports17 .wrap .slider_wrap ul.slider:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        clear: both; }
    #sports17 .wrap .num_wrap {
      position: relative;
      width: 100%;
      margin: 26px 0 53px 0;
      height: 45px; }
      #sports17 .wrap .num_wrap .num {
        position: absolute;
        left: 0;
        width: 10000px; }
        #sports17 .wrap .num_wrap .num a {
          position: relative;
          top: 0;
          width: 217px;
          display: inline-block;
          text-align: center;
          font: 24px/30px 'NotoSansKRRegular';
          color: #000;
          vertical-align: middle;
          transition: all 0.3s ease-out; }
          #sports17 .wrap .num_wrap .num a span {
            position: relative;
            display: inline-block;
            overflow: hidden;
            height: 45px;
            line-height: 35px; }
        #sports17 .wrap .num_wrap .num a.on {
          position: relative;
          font: 24px/30px 'NotoSansKR';
          font-weight: 700;
          overflow: hidden; }
    #sports17 .wrap .btn {
      position: absolute;
      top: 240px;
      left: 50%;
      width: 950px;
      margin-left: -475px;
      z-index: 10; }
      #sports17 .wrap .btn a {
        width: 33px;
        height: 64px;
        position: absolute;
        top: 0;
        overflow: hidden;
        opacity: 0.5;
        filter: alpha(opacity=50);
        -ms-filter: alpha(opacity=50); }
        #sports17 .wrap .btn a img {
          position: relative; }
        #sports17 .wrap .btn a.next {
          right: -100px;
          transition: right 0.4s ease-out 0.1s;
          -webkit-transition: right 0.4s ease-out 0.1s;
          -moz-transition: right 0.4s ease-out 0.1s;
          -o-transition: right 0.4s ease-out 0.1s;
          -ms-transition: right 0.4s ease-out 0.1s; }
          #sports17 .wrap .btn a.next img {
            animation: arrow2 2s infinite;
            -webkit-animation: arrow2 2s infinite; }
        #sports17 .wrap .btn a.prev {
          left: -100px;
          transition: left 0.4s ease-out 0.1s;
          -webkit-transition: left 0.4s ease-out 0.1s;
          -moz-transition: left 0.4s ease-out 0.1s;
          -o-transition: left 0.4s ease-out 0.1s;
          -ms-transition: left 0.4s ease-out 0.1s; }
          #sports17 .wrap .btn a.prev img {
            animation: arrow 2s infinite;
            -webkit-animation: arrow 2s infinite; }
  #sports17 .video {
    background: url("http://image.adidas.co.kr/images/adidas/event/sports17/20170712/video_bg.jpg") top left no-repeat;
    height: 800px;
    position: relative; }
    #sports17 .video .txt {
      position: absolute;
      top: 300px;
      left: 50%;
      margin-left: -465px; }
      #sports17 .video .txt p {
        font: 29px/38px 'NotoSansKR';
        font-weight: 900;
        color: #000; }
        #sports17 .video .txt p span {
          font: 18px/40px 'NotoSansKR';
          font-weight: 400; }
    #sports17 .video .img {
      position: absolute;
      top: 150px;
      left: 50%;
      margin-left: -120px; }
  #sports17 .statement_wrap {
    position: relative;
    height: 500px;
    overflow: hidden; }
    #sports17 .statement_wrap ul li {
      height: 500px;
      width: 1920px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -952px;
      display: none; }
      #sports17 .statement_wrap ul li.soccer {
        background: url("http://image.adidas.co.kr/images/adidas/event/sports17/20170712/soccer_bg.jpg") 0 0 no-repeat; }
      #sports17 .statement_wrap ul li.baseball {
        background: url("http://image.adidas.co.kr/images/adidas/event/sports17/20170712/baseball_bg.jpg") 0 0 no-repeat; }
      #sports17 .statement_wrap ul li.football {
        background: url("http://image.adidas.co.kr/images/adidas/event/sports17/20170712/football_bg.jpg") 0 0 no-repeat; }
      #sports17 .statement_wrap ul li.basketball {
        background: url("http://image.adidas.co.kr/images/adidas/event/sports17/20170712/basketball_bg.jpg") 0 0 no-repeat; }
      #sports17 .statement_wrap ul li.volleyball {
        background: url("http://image.adidas.co.kr/images/adidas/event/sports17/20170712/volleyball_bg.jpg") 0 0 no-repeat; }
      #sports17 .statement_wrap ul li.training {
        background: url("http://image.adidas.co.kr/images/adidas/event/sports17/20170712/training_bg.jpg") 0 0 no-repeat; }
      #sports17 .statement_wrap ul li p {
        text-align: center;
        font: 900 32px/46px 'NotoSansKR';
        color: #000;
        margin-top: 210px; }
  #sports17 .gal_wrap {
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    overflow: hidden; }
    #sports17 .gal_wrap .gal ul li {
      position: absolute;
      overflow: hidden;
      display: none; }
      #sports17 .gal_wrap .gal ul li .box_left {
        width: 475px;
        float: left;
        overflow: hidden; }
      #sports17 .gal_wrap .gal ul li .box_right {
        width: 475px;
        float: right;
        overflow: hidden; }
      #sports17 .gal_wrap .gal ul li img {
        width: 100%; }
    #sports17 .gal_wrap .gal ul li:after {
      content: '';
      display: block;
      clear: both;
      width: 0;
      height: 0; }
    #sports17 .gal_wrap .gal ul li.on {
      display: block; }
    #sports17 .gal_wrap .gal_btn {
      position: absolute;
      left: 0;
      bottom: 50px;
      width: 100%;
      text-align: center; }
      #sports17 .gal_wrap .gal_btn a {
        display: inline-block;
        padding: 0 22px;
        height: 45px;
        font: 16px/45px 'NotoSansKRBold';
        background: #fff;
        color: #000;
        opacity: .8;
        transition: all 0.6s; }
        #sports17 .gal_wrap .gal_btn a .icons {
          display: inline-block;
          margin-left: 30px;
          width: 14px;
          height: 13px;
          background-image: url("http://image.adidas.co.kr/images/adidas/event/sports17/20170712/icons.png"); }
      #sports17 .gal_wrap .gal_btn a:hover {
        opacity: 1; }
  #sports17 .collections {
    position: relative;
    width: 100%;
    overflow: hidden; }
    #sports17 .collections img {
      opacity: 1; }
    #sports17 .collections .colfix {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 25.1%;
      background: #fff; }
      #sports17 .collections .colfix img {
        transition: all 2s;
        -webkit-transition: all 2s;
        -moz-transition: all 2s;
        -o-transition: all 2s;
        -ms-transition: all 2s; }
      #sports17 .collections .colfix:hover img {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1); }
    #sports17 .collections .imgs {
      position: relative;
      background: #fff;
      left: 25%;
      width: 100%; }
      #sports17 .collections .imgs .col > div {
        overflow: hidden; }
      #sports17 .collections .imgs .col .img2 {
        width: 25%;
        position: relative;
        float: left; }
        #sports17 .collections .imgs .col .img2 img {
          width: 100%;
          transition: all 2s;
          -webkit-transition: all 2s;
          -moz-transition: all 2s;
          -o-transition: all 2s;
          -ms-transition: all 2s; }
        #sports17 .collections .imgs .col .img2:hover img {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          -ms-transform: scale(1.1); }
      #sports17 .collections .imgs .col .img3 {
        position: relative;
        width: 50%;
        float: left;
        text-align: center;
        overflow: hidden;
        opacity: 1;
        transition: all 2s;
        -webkit-transition: all 2s;
        -moz-transition: all 2s;
        -o-transition: all 2s;
        -ms-transition: all 2s;
        padding-bottom: 25%;
        overflow: hidden; }
        #sports17 .collections .imgs .col .img3 div {
          position: absolute;
          top: 43%;
          text-align: center;
          left: 50%;
          margin-left: -375px;
          color: #fff;
          font: 300 20px/35px 'NotoSansKR'; }
          #sports17 .collections .imgs .col .img3 div span {
            color: #fff;
            font: 40px/40px 'adinenuPro-black','Nanum Gothic';
            letter-spacing: 3px; }
          #sports17 .collections .imgs .col .img3 div a.button {
            color: #fff;
            font: 16px/20px 'NotoSansKR','Nanum Gothic';
            font-weight: 500;
            background: #177dc6;
            width: 246px;
            height: 37px;
            display: inline-block;
            text-align: center;
            padding-top: 15px;
            margin-top: 10px; }
            #sports17 .collections .imgs .col .img3 div a.button .icons {
              display: inline-block;
              margin-left: 5px;
              width: 14px;
              height: 13px;
              background-image: url("http://image.adidas.co.kr/images/adidas/event/sports17/20170712/icons.png"); }
          #sports17 .collections .imgs .col .img3 div.bt {
            top: 40%; }
        #sports17 .collections .imgs .col .img3.soccer {
          background: url("http://image.adidas.co.kr/images/adidas/event/sports17/20170712/soccer_col03.jpg") center left no-repeat;
          padding-left: 224px; }
        #sports17 .collections .imgs .col .img3.baseball {
          background: url("http://image.adidas.co.kr/images/adidas/event/sports17/20170712/baseball_col03.jpg") center left no-repeat;
          padding-left: 165px; }
        #sports17 .collections .imgs .col .img3.football {
          background: url("http://image.adidas.co.kr/images/adidas/event/sports17/20170712/football_col03.jpg") center left no-repeat;
          padding-left: 80px; }
        #sports17 .collections .imgs .col .img3.basketball {
          background: url("http://image.adidas.co.kr/images/adidas/event/sports17/20170712/basketball_col03.jpg") center left no-repeat;
          padding-left: 300px; }
        #sports17 .collections .imgs .col .img3.volleyball {
          background: url("http://image.adidas.co.kr/images/adidas/event/sports17/20170712/volleyball_col03.jpg") center right no-repeat; }
        #sports17 .collections .imgs .col .img3.training {
          background: url("http://image.adidas.co.kr/images/adidas/event/sports17/20170712/training_col03.jpg") center left no-repeat;
          padding-left: 230px; }
      #sports17 .collections .imgs .col .img4 {
        width: 25%;
        position: relative;
        float: left; }
        #sports17 .collections .imgs .col .img4 img {
          width: 100%;
          transform: scale(1);
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -o-transform: scale(1);
          -ms-transform: scale(1);
          transition: all 1.2s;
          -webkit-transition: all 1.2s;
          -moz-transition: all 1.2s;
          -o-transition: all 1.2s;
          -ms-transition: all 1.2s; }
        #sports17 .collections .imgs .col .img4:hover img {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          -ms-transform: scale(1.1); }

@-webkit-keyframes shining {
  0% {
    opacity: 0;
    top: -110%;
    left: -210%; }
  100% {
    opacity: 1;
    top: 100%;
    left: 100%; } }

@-moz-keyframes shining {
  0% {
    opacity: 0;
    top: -110%;
    left: -210%; }
  100% {
    opacity: 1;
    top: 100%;
    left: 100%; } }

@-o-keyframes shining {
  0% {
    opacity: 0;
    top: -110%;
    left: -210%; }
  100% {
    opacity: 1;
    top: 100%;
    left: 100%; } }

@keyframes shining {
  0% {
    opacity: 0;
    top: -110%;
    left: -210%; }
  100% {
    opacity: 1;
    top: 100%;
    left: 100%; } }

@-webkit-keyframes arrow {
  0% {
    left: 100%; }
  25% {
    left: 0%; }
  50% {
    left: 0%; }
  75% {
    left: 0%; }
  100% {
    left: -110%; } }

@-moz-keyframes arrow {
  0% {
    left: 100%; }
  25% {
    left: 0%; }
  50% {
    left: 0%; }
  75% {
    left: 0%; }
  100% {
    left: -110%; } }

@-o-keyframes arrow {
  0% {
    left: 100%; }
  25% {
    left: 0%; }
  50% {
    left: 0%; }
  75% {
    left: 0%; }
  100% {
    left: -110%; } }

@keyframes arrow {
  0% {
    left: 100%; }
  25% {
    left: 0%; }
  50% {
    left: 0%; }
  75% {
    left: 0%; }
  100% {
    left: -110%; } }

@-webkit-keyframes arrow2 {
  0% {
    left: -100%; }
  25% {
    left: 0%; }
  50% {
    left: 0%; }
  75% {
    left: 0%; }
  100% {
    left: 110%; } }

@-moz-keyframes arrow2 {
  0% {
    left: -100%; }
  25% {
    left: 0%; }
  50% {
    left: 0%; }
  75% {
    left: 0%; }
  100% {
    left: 110%; } }

@-o-keyframes arrow2 {
  0% {
    left: -100%; }
  25% {
    left: 0%; }
  50% {
    left: 0%; }
  75% {
    left: 0%; }
  100% {
    left: 110%; } }

@keyframes arrow2 {
  0% {
    left: -100%; }
  25% {
    left: 0%; }
  50% {
    left: 0%; }
  75% {
    left: 0%; }
  100% {
    left: 110%; } }
