@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
.campaign_nano_w{
    min-width: 1200px;
    .visual_video{

        background: #fff;
        .bg{
            // @include opacity(0);
            // @include prefix-css3(transition,opacity 1.3s);

            &.active{
                @include opacity(1);
            }
        }

        .video_bg{
            width: 100%;
            .ie &{
                video{
                    width:100%;
                    min-width: 1900px;
                    height: 650px;
                }
            }
        }

        .nslider{
            position: relative;
            @include opacity(0);
            @include prefix-css3(transition,opacity 0.6s ease 1.5s);

            &.active{
                position: relative;
                z-index: 2;
                @include opacity(1);
                h2{
                    width: 375px;
                    height: 271px;
                    background: url("http://image.reebok.co.kr/images/reebok/event/about/nada/text-video.png") no-repeat !important;
                    margin:0 auto 25px;
                    text-indent:-5555px;
                }
                .desc_eng{
                    color:#fff;
                }
            }
        }
    }
    .about_passion{
        position: relative;
        height: 650px;
        .perform{
            overflow: visible;
            .bg{
                img{
                    // width: 120%;
                    width: 1980px;
                    position: absolute;
                    left:50%;
                    top:0;
                    margin-left: -990px;
                    // width: 120%;
                    // width: 110vw;
                    // margin-top: -15px;
                }
            }
            .logo{
                position: absolute;
                top:100px;
                left:50%;
                margin-left: -545px;
                text-align: left;
                width: 889px;
                .tit{
                    position: absolute;
                    top:323px;
                    left:100px;
                    text-transform: uppercase;
                    font:29px/30px 'DINWebPro-Cond';
                    color:#fff;
                }

                a.buy{
                    position: absolute;
                    top:376px;
                    left:99px;
                    border:2px solid #d7d8d8;
                    &:hover{
                        .bg{
                            @include opacity (0.1);
                        }
                    }
                    p{
                        position: relative;
                        padding:2px 78px 0 78px;
                        color:#fff;
                        font:23px/56px 'DINWebPro-Cond', 'NotoSansKRRegular';
                        z-index: 3;
                    }
                    .bg{
                        position: absolute;
                        top:0;left:0;
                        width: 100%;
                        height: 100%;
                        background: #000;
                        @include opacity (0.5);
                        z-index: 2;
                    }
                    &.buy_w{
                        top:445px;
                        p{
                            padding:0 75px;
                        }
                    }
                }
            }
        }

    }

    .box{
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 915px;
        .video_bg_ie_old{
            display: none;
            &.ie7{
                display: block;
            }
        }
    }
    #videobcg{
        position: absolute;
        top: 0px;
        left: 0px;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: auto;
        overflow: hidden;
        z-index: 1;
        &.hide{
            display: none;
        }
        @media screen and(max-width: 1850px){
            margin-top: -10px;
        }
        @media screen and(max-width: 1630px){
            margin-top: -32px;
        }
        @media screen and(max-width: 1530px){
            margin-top: -82px;
        }
        @media screen and(max-width: 1350px){
            margin-top: -155px;
        }

    }

    .slider_wrap{
        position: relative;
        width: 100%;
        height: 915px;
        z-index: 5;
        @media screen and(max-width: 1850px){
            height: 900px;
        }
        @media screen and(max-width: 1630px){
            height: 850px;
        }
        @media screen and(max-width: 1530px){
            height: 750px;
        }
        @media screen and(max-width: 1350px){
            height: 650px;
        }
        @media screen and(max-width: 1280px){
            height: 632px;
        }
        .main_title{
            position: relative;
            z-index: 12;
            text-align: center;
            padding-top: 160px;
            .tit{
                font:25px/30px 'DINWebPro-Cond';
                color:#c5eb6c;
            }
            .title_img{
                position: relative;
                z-index: 2;
                @media screen and(max-width: 1530px){
                    top:-96px;
                }
                @media screen and(max-width: 1380px){
                    top:-119px;
                    img{
                        width: 24%;
                    }
                }
            }
            >p{
                text-align: center;
                font:64px/64px 'DINWebPro-CondLight';
                text-transform: uppercase;
                color:#fff;
            }
            a.buy{
                position: absolute;
                top:330px;
                left:50%;
                margin-left: -150px;
                border:2px solid #d7d8d8;
                @media screen and(max-width: 1530px){
                    top:254px;
                }
                @media screen and(max-width: 1380px){
                    top:173px;
                }
                @media screen and(max-width: 1280px){
                    top:168px;
                }
                &:hover{
                    .bg{
                        @include opacity (0.1);
                    }
                }
                p{
                    position: relative;
                    padding:2px 78px 0 78px;
                    color:#fff;
                    font:23px/56px 'DINWebPro-Cond', 'NotoSansKR';
                    z-index: 3;
                }
                .bg{
                    position: absolute;
                    top:0;left:0;
                    width: 100%;
                    height: 100%;
                    background: #000;
                    @include opacity (0.5);
                    z-index: 2;
                    @include prefix-css3(transition, all 0.2s);
                }
            }
        }
        ul{
            li{
                float: left;
                @include opacity (0);
                width: 100%;
                position: absolute;
                top:0;
                left:0;

                @include prefix-css3(transition, all 0.3s);

                .thumb{
                    position: absolute;
                    top:0;
                    z-index: 12;
                    // left:100px;
                    left:50%;
                    // margin:515px -315px 0 0;
                    margin-left: -393px;
                    margin-top: 515px;
                    width: 787px;
                    height: 277px;
                    overflow: hidden;
                    background: url("http://image.reebok.co.kr/images/reebok/event/about/nano7_w/info_bg.jpg") repeat;
                    transition: left 0.7s;
                    @media screen and(max-width: 1630px){
                        margin-top: 480px;

                    }
                    @media screen and(max-width: 1530px){
                        margin-top: 374px;

                    }
                    @media screen and(max-width: 1380px){
                        margin-top: 270px;

                    }
                    @media screen and(max-width: 1280px){

                    }

                    .img{
                        float:left;
                        overflow: hidden;
                        img{
                            @include prefix-css3(transition,all 2s);
                        }

                    }

                    .img:hover{
                        img{
                            @include prefix-css3(transform,scale(1.1,1.1));
                        }
                    }

                    .info{
                        // float:right;
                        position: absolute;
                        top:80px;
                        right:40px;
                        width: 319px;
                        // padding:80px 40px 85px 40px;
                        // @include border-box();
                        .title{
                            display: block;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #000;
                            font:28px/30px 'NotoSansKR';
                            color:#000;
                        }
                        .sub{
                            display: block;
                            padding-top: 5px;
                            font:17px/25px 'NotoSansKR';
                            color:#808080;
                        }
                    }
                }
                &.on{
                    @include opacity(1);
                    z-index: 10;
                    .thumb{
                        // left:0;
                    }
                }
            }
        }
        .navi{
            position: absolute;
            top:69%;
            width: 786px;
            left:50%;
            margin-left: -393px;
            text-align: center;
            z-index: 15;
            @media screen and(max-width: 1530px){
                    top:63%;
                }
            .prev{
                position: absolute;
                left:-40px;
            }
            .next{
                position: absolute;
                right: -40px;
            }
        }
        .num{
            position: absolute;
            width: 100%;
            text-align: center;
            bottom:50px;
            z-index: 15;
            a{
                display: inline-block;
                margin-right: 15px;
                border-radius: 50px;
                border:1px solid #fff;
                width: 28px;
                height: 28px;
                text-align: center;
                vertical-align: middle;

                color:#fff;
                font:16px/30px 'DINWebPro-CondBold';
                &.on{
                background: #fff;
                color:#000;
                }
            }
            a:last-child{
                margin-right: 0px;
            }

        }


    }

    .product-list{
        .item{
            width: 25%;
            float: left;

            margin:0 auto;
            text-align: center;
            .img{
                height: 208px;
                padding-top: 37px;
            }
            .tit{
                margin-bottom: 5px;
            }
        }
    }

    .products_collection{
        width: 100%;
        position: relative;
        background: #323232;
        z-index: 10;
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left:-980px;
            }
        h4{
            position: relative;
            padding:90px 0 14px;
            z-index: 1;
            font:55px/55px 'DINWebPro-Cond';
            text-align: center;
            color:#fff;
            }
        p.title{
            position: relative;
            padding-bottom: 44px;
            width: 100%;
            font:18px/25px 'NotoSansKRlight';
            text-align: center;
            color:#fff;
        }
        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:550px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            background: #000;
            .arrow-prev{
                position: absolute;
                top:50%;
                left:50%;
                margin-left: -420px;
                background-position: -125px -80px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            .arrow-next{
                position: absolute;
                top:50%;
                left:50%;
                margin-left:420px;
                background-position: -125px -125px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 550px;
                li{
                    width: 765px;
                    position: relative;
                    float: left;
                    @include opacity(0.4);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                }
                li.active{
                    @include opacity(1);
                }
            }

        }
        .prodlist_wrap{
            position: relative;
            height: 335px;
            background: #ebeaee;
            overflow: inherit;
            z-index: 2;
            margin-top: 70px;
            border-bottom-width: 0;
            .arrow{
                position: absolute;
                left:50%;
                top:-21px;
                margin-left: -21px;
                background-position: -140px 0;
                width: 43px;
                height: 21px;
            }
            .prodlist_box{
                width: 889px;
                position: absolute;
                top:0;
                left:50%;
                margin-left: -446px;
                display: none;
            }
            .prodlist_box.last{
                margin-left: -230px;
                display: none;
                .item{
                    float: left;
                }
            }
            .slider-btn{
                width: 100%;
                position: absolute;
                top:-49px;
                left:0;
                text-align: center;
            }
        }
    }

    .banner_area{
        position: relative;
        height: 110px;
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left: -990px;
        }
        .bnn{
            padding-top: 97px;
        }

        .button-anim{
            margin: 0 auto;
        }
    }
}
/* nano7_w Camapign end */
