@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

@font-face {
    font-family: 'AdihausDIN';
    src: url('//hp.dev.brand.adidas.com/com/apps/nmd/CDN_PATH/fonts/adidas/AdihausDIN-Medium.ttf?locale=ko_KR') format('truetype'),
         url('//hp.dev.brand.adidas.com/com/apps/nmd/CDN_PATH/fonts/adidas/AdihausDIN-Medium.woff?locale=ko_KR') format('woff');
    font-weight: 400;
}

/* 기본 색 셋팅 */
$black : #000;
$white: #fff;
$pointRed : #e71418;
$textG : #888;

#golfCampaign{
  width: 100%;

  img{
    width: auto;
    max-width: 100%;
    height: auto;
  }
}//#golfCampaign

#golfTop{
  position: relative;
  overflow: hidden;
  background: $black;

  >img{
    opacity: 0;
    min-width: 1300px;
    margin: 0 auto;
  }

  >div{
    width: 950px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -237px;
    margin-left: -475px;
  }

  .deco_line{
    height: 474px;
    z-index: 15;

    div{
      display: none;
      position: absolute;
      background-color: $white;
    }

    div:nth-child(2n){
      width: 3px;
      height: 0;
    }

    div:nth-child(2n-1){
      width: 0;
      height: 3px;

    }

    div:nth-child(1){
      top:0;
      left: 0;
      z-index: 4;
    }

    div:nth-child(2){
      top:0;
      right: 0;
      z-index: 4;
    }

    div:nth-child(3){
      bottom: 0;
      right: 0;
      z-index: 2;
    }

    div:nth-child(4){
      bottom: 0;
      left: 0;
      z-index: 2;
    }
  }//.deco_line

  .top_title{
    height: 160px;
    padding: 68px 0;
    z-index: 20;

    h4{
      width: 100%;
      height: 120px;
      padding-left: 20px;
      font: 600 105px/120px 'adinenuPro-black';
      letter-spacing: 40px;
      text-align: center;
      color: $white;
      display: none;
    }

    h4:nth-of-type(2){
      letter-spacing: 39px;
    }

    h4:nth-of-type(3){
      padding-left: 22px;
      letter-spacing: 47px;
    }
  }
}//#golfTop

#golfCamMain{
  width: 100%;
  height: auto;
  min-height: 800px;
  padding-bottom: 160px;
  background-image: url("http://image.adidas.co.kr//images/adidas/event/golf/greatsmoments/1808_campaign_bgi.jpg");
  background-position: center top;
  overflow: hidden;

  // 멤버 부분 공통 스타일
  >div{
    width: 1200px;
    margin: 0 auto;

    >img{
      width: auto;
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      opacity: 0;
    }
  }

  .golf_member_info{
    width: 100%;
    height: auto;
    position: relative;

    .link_img{
      position: relative;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 80px 0;
      overflow: hidden;
      opacity: 0;

      .pdp_link{
        width: 23px;
        height: 23px;
        position: absolute;
        top:0;
        left:0;
        display: block;
        opacity: 0;
      }
    }

    &.effectLinkImg{

      .link_img{
        background-position: 0 0;
        opacity: 1;
        -webkit-transition: all 1.5s 1s;
        transition: all 1.5s 1s;
      }

      .pdp_link{
        opacity: 1;
        -webkit-transition: all 0.3s 2.5s;
        transition: all 0.3s 2.5s;
      }
    }

    &.effectLinkImgAhn{

      .link_img:nth-of-type(3){
        background-position: 0 0;
        opacity: 1;
        -webkit-transition: all 1.5s 1s;
        transition: all 1.5s 1s;
      }

      .link_img:nth-of-type(3) .pdp_link{
        opacity: 1;
        -webkit-transition: all 0.3s 2.8s;
        transition: all 0.3s 2.8s;
      }

      .link_img:nth-of-type(2){
        background-position: 0 0;
        opacity: 1;
        -webkit-transition: all 1.5s 2.5s;
        transition: all 1.5s 2.5s;
      }

      .link_img:nth-of-type(2) .pdp_link{
        opacity: 1;
        -webkit-transition: all 0.3s 3.2s;
        transition: all 0.3s 3.2s;
      }
    }

    .pdp_link{
      height: 23px;
      display: inline-block;

      span{
        height: 23px;
        font: 600 15px/23px 'NotoSansKR';
      }

      span:nth-of-type(1){
        width: 23px;
        display: block;
        float: left;
        font: 600 13px/26px 'adinenuPro-black';
        position: relative;
        text-align: center;
        color: $white;
        z-index: 20;
        overflow: hidden;
      }

      span:nth-of-type(1):before, span:nth-of-type(1):after{
        height: 23px;
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }

      span:nth-of-type(1):before{
        width: 23px;
        background: $black;
        z-index: -1;
      }

      &.on_link{
        span:nth-of-type(1):before{
          background: $pointRed;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
        }
      }

      &.out_link{
        span:nth-of-type(1):before{
          background: $black;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
        }
      }

      span:nth-of-type(2){
        width: auto;
        margin-left: 15px;
        text-align: left;
        color: $black;
      }

      span:nth-of-type(3){
        width: auto;
        float: right;
        padding-right: 16px;
        text-align: left;
        color: $textG;
        position: relative;
      }

      span:nth-of-type(3):before, span:nth-of-type(3):after{
        width: 2px;
        height: 7px;
        content: " ";
        display: block;
        position: absolute;
        right: 0;
        z-index: 2;
        background-color: $textG;
      }

      span:nth-of-type(3):before{
        transform: rotate(-45deg);
        top: 0;
        margin-top: 6px;
      }

      span:nth-of-type(3):after{
        transform: rotate(45deg);
        bottom: 0;
        margin-bottom: 5px;
      }

    }

    .member_text{
      h3{
        font: 300 40px/65px 'adinenuPro-bold';
        letter-spacing: 7.5px;
        color: $black;
        opacity: 0;
        margin-left: -80px;
      }

      p{
        padding-top: 13px;
        font: 300 18px/32px 'NotoSansKR';
        letter-spacing: -0.9px;
        color: $black;
        opacity: 0;
        padding-left: 50px;
      }

      p.mem_name{
        padding: 0;
        font: 700 20px/28px 'NotoSansKR';
        letter-spacing: 1.8px;
        padding-left: 0;
      }

      ul{
        padding-top: 50px;
        padding-left: 50px;
        opacity: 0;

        li{
          margin-bottom: 15px;
        }

        .pdp_link{
          width: 320px;
        }
      }
    }

    .more_mem{
      width: auto;
      min-width: 250px;
      // height: 58px;
      display: block;

      &:before,&:after{
        content: "";
        display: block;
        clear: both;
      }

      &.mem_pop_on{

        .btn > span{
          &:after{
            opacity: 1;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
          }

        }
      }

      &.mem_pop_off{

        .btn > span{
          &:after{
            opacity: 0;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
          }

        }
      }

      span{
        display: block;
        float: left;
        margin-top: 5px;
      }

      .btn{
        width: 58px;
        height: 58px;
        background-image: url("http://image.adidas.co.kr//images/adidas/event/golf/greatsmoments/1808_cam_btn_plus_bgi.png");
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 50%;

        >span{
          width: 42px;
          height: 42px;
          margin: 8px;
          border-radius: 50%;
          position: relative;
          overflow: hidden;

          &:before{
            width: 42px;
            height: 42px;
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            background-image: url("http://image.adidas.co.kr//images/adidas/event/golf/greatsmoments/1808_cam_btn_plus_black.jpg");
            background-position: center center;
            background-repeat: no-repeat;
          }

          &:after{
            width: 42px;
            height: 42px;
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 5;
            background-image: url("http://image.adidas.co.kr//images/adidas/event/golf/greatsmoments/1808_cam_btn_plus_red.jpg");
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
      }

      .text{
        font: 600 12px/65px 'adihausDIN';
        letter-spacing: 3px;
      }

      .bl{
        padding-left: 15px;
        color: $black;
      }

      .red{
        padding-left: 6px;
        padding-right: 15px;
        color: $pointRed;
      }

    }

  }//.golf_member_info

  // 멤버 부분 각각 스타일
  // 1.세르히오가르시아
  .member_sergio{
    height: 1360px;
    position: relative;
    z-index: 300;

    >img:nth-of-type(1){
      margin-top: 230px;
      margin-left: -400px;
      // margin-left: -300px;
      z-index: 10;
    }

    >img:nth-of-type(2){
      margin-top: 157px;
      margin-left: 337px;
      // margin-left: 237px;
      z-index: 5;
    }

    .golf_member_info{
      padding-top: 660px;

      .link_img{
        width: 400px;
        height: 500px;
        margin-left: 120px;
        float: left;
        background-image: url('http://image.adidas.co.kr//images/adidas/event/golf/greatsmoments/1808_cam_sergioGarcia_main.jpg');

        .pdp_link{
          margin-top: 167px;
          margin-left: 76px;
        }
      }

      .member_text{
        padding: 90px 0 0 115px;
        display: table-cell;
      }

      .more_mem{
        width: 350px;
        margin-left: 47px;
      }
    }
  }//.member_sergio

  // 2.안신애
  .member_ahn{
    height: 1200px;
    position: relative;
    z-index: 300;

    >img:nth-of-type(1){
      margin-top: 65px;
      margin-left: -480px;
      // margin-left: -380px;
      z-index: 10;
    }

    >img:nth-of-type(2){
      margin-top: 165px;
      margin-left: 165px;
      z-index: 5;
    }

    .golf_member_info{
      padding-top: 475px;

      .link_img:nth-of-type(2){
        width: 290px;
        height: 386px;
        margin-top: 170px;
        margin-right: 80px;
        float: right;
        background-image: url('http://image.adidas.co.kr//images/adidas/event/golf/greatsmoments/1808_cam_anShinAe_main02.jpg');

        .pdp_link{
          margin-top: 321px;
          margin-left: 220px;
        }
      }

      .link_img:nth-of-type(3){
        width: 367px;
        height: 500px;
        float: right;
        margin-right: 33px;
        background-image: url('http://image.adidas.co.kr//images/adidas/event/golf/greatsmoments/1808_cam_anShinAe_main01.jpg');

        .pdp_link:nth-child(1){
          margin-top: 128px;
          margin-left: 244px;
        }

        .pdp_link:nth-child(2){
          margin-top: 415px;
          margin-left: 93px;
        }
      }

      .member_text{
        padding-top: 70px;
        float: left;
      }

      .more_mem{
        width: 316px;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 1020px;

        .btn span{
            background-image: url("http://image.adidas.co.kr//images/adidas/event/golf/greatsmoments/1808_cam_btn_plus_a.jpg");
          }
      }
    }
  }//.member_ahn

  .member_video{
    height: 670px;
    padding-top: 150px;
    position: relative;
    z-index: 300;

    > div{
      width: 580px;
      height: 0;
      float: left;
      margin-right: 40px;
      background-position: left top;
      overflow: hidden;
    }

    > div:first-child{
      background-image: url("http://image.adidas.co.kr//images/adidas/event/golf/greatsmoments/men_video_DT.gif");
    }

    > div:last-child{
      margin-right: 0;
      background-image: url("http://image.adidas.co.kr//images/adidas/event/golf/greatsmoments/women_Video_DT.gif");
    }

    .bgBox{
      width: 580px;
      height: 255px;
      background: rgba(0,0,0,0.7);
      padding-top: 115px;
    }

    a{
      width: 150px;
      height: 115px;
      display: block;
      margin: 0 auto;
      padding-top: 25px;
      cursor: pointer;

      span{
        display: block;
        overflow: hidden;
      }

      span:nth-child(1){
        width: 47px;
        height: 56px;
        margin: 0 auto;
        position: relative;

        &:after{
          width: 47px;
          height: 56px;
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          margin-left: 0;
          z-index: 5;
          background-image: url("http://image.adidas.co.kr//images/adidas/event/golf/greatsmoments/1808_cam_btn_play.png");
        }
      }

      span:nth-child(2){
        width: 100%;
        height: 40px;
        font: 500 20px/40px 'adinenuPro-bold';
        text-align: center;
        letter-spacing: 4px;
        color: $white;
      }

      &:hover{
        span:nth-child(1):after{
          animation: camPlayMotion 1s 1;
        }
      }

      @keyframes camPlayMotion{
        0%{margin-left: 0;}
        40%{margin-left: 120%;}
        41%{margin-left: -150%;}
        100%{margin-left: 0;}
      }
    }
  }

  // 3.최진호
  .member_choi{
    height: 1300px;
    position: relative;
    z-index: 300;

    >img:nth-of-type(1){
      margin-top: 154px;
      margin-left: -395px;
      // margin-left: -295px;
      z-index: 10;
    }

    >img:nth-of-type(2){
      margin-top: 154px;
      margin-left: 0;
      z-index: 10;
    }

    >img:nth-of-type(3){
      margin-top: 400px;
      // margin-top: 304px;
      margin-left: 300px;
      z-index: 5;
    }

    .golf_member_info{
      padding-top: 660px;

      .link_img{
        width: 380px;
        height: 500px;
        margin-left: 160px;
        float: left;
        background-image: url('http://image.adidas.co.kr//images/adidas/event/golf/greatsmoments/1808_cam_choiJinHo_main.jpg');

        .pdp_link{
          margin-top: 167px;
          margin-left: 76px;
        }
      }

      .member_text{
        padding: 90px 0 0 110px;
        display: table-cell;
      }

      .more_mem{
        width: 350px;
        margin-left: 86px;
      }
    }
  }//.member_choi

  // 4.홍순상
  .member_hong{
    height: 1140px;
    position: relative;
    z-index: 300;

    >img:nth-of-type(1){
      margin-top: 86px;
      margin-left: -670px;
      // margin-left: -570px;
      z-index: 10;
    }

    >img:nth-of-type(2){
      margin-top: 86px;
      margin-left: -200px;
      // margin-left: -300px;
      z-index: 10;
    }

    >img:nth-of-type(3){
      margin-top: 320px;
      margin-left: -860px;
      z-index: 5;
    }

    .golf_member_info{
      padding-top: 480px;

      .link_img:nth-of-type(2){
        width: 350px;
        height: 490px;
        margin-left: 130px;
        float: left;
        background-image: url('http://image.adidas.co.kr//images/adidas/event/golf/greatsmoments/1808_cam_hongSoonSang_main.jpg');

        .pdp_link{
          margin-top: 136px;
          margin-left: 238px;
        }
      }

      .member_text{
        padding: 120px 0 0 160px;
        float: left;

        h3{
          letter-spacing: 6.2px;
        }
      }

      .more_mem{
        width: 362px;
        float: right;
        margin-right: 34px;
      }
    }
  }//.member_hong

  // 5.김비오
  .member_kim{
    height: 1200px;
    position: relative;
    z-index: 300;

    >img:nth-of-type(1){
      margin-top: 0;
      margin-left: -400px;
      // margin-left: -300px;
      z-index: 10;
    }

    >img:nth-of-type(2){
      margin-top: 164px;
      // margin-top: 64px;
      margin-left: 0;
      z-index: 10;
    }

    .golf_member_info{
      padding-top: 530px;

      .link_img{
        width: 360px;
        height: 480px;
        margin-left: 180px;
        float: left;
        background-image: url('http://image.adidas.co.kr//images/adidas/event/golf/greatsmoments/1808_cam_kimBiO_main.jpg');

        .pdp_link{
          margin-top: 155px;
          margin-left: 71px;
        }
      }

      .member_text{
        padding: 100px 0 0 130px;
        display: table-cell;
      }

      .more_mem{
        width: 280px;
        margin-left: 105px;
      }
    }
  }//.member_kim

  .final_img{
    width: 960px;
    height: 490px;
    box-sizing: border-box;
    position: relative;

    .deco_line{
      width: 960px;
      height: 490px;
      z-index: 15;
      position: relative;

      div{
        display: none;
        position: absolute;
        background-color: $white;
      }

      div:nth-child(2n){
        width: 5px;
        height: 0;
      }

      div:nth-child(2n-1){
        width: 0;
        height: 5px;

      }

      div:nth-child(1){
        top:0;
        left: 0;
        z-index: 4;
      }

      div:nth-child(2){
        top:0;
        right: 0;
        z-index: 4;
      }

      div:nth-child(3){
        bottom: 0;
        right: 0;
        z-index: 2;
      }

      div:nth-child(4){
        bottom: 0;
        left: 0;
        z-index: 2;
      }
    }//.deco_line

    img{
      width: 920px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 20px;
      margin-left: 20px;
      z-index: 10;
    }

    .final_text{
      width: 920px;
      height: 450px;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 20px;
      margin-left: 20px;
      z-index: 10;

      h4{
        width: 100%;
        height: 66px;
        padding-left: 15px;
        font: 600 53px/80px 'adinenuPro-black';
        text-align: center;
        color: $white;
        -ms-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
      }

      h4:nth-of-type(1){
        padding-top: 118px;
        letter-spacing: 26px;
      }

      h4:nth-of-type(2){
        letter-spacing: 24px;
      }

      h4:nth-of-type(3){
        padding-left: 14px;
        letter-spacing: 28px;
      }

      &.fanalTextEff{

        h4{
          -ms-transform: translateY(0);
          transform: translateY(0);
          opacity: 1;
        }

        h4:nth-of-type(1){
          -webkit-transition: all 1s;
          transition: all 1s;
        }

        h4:nth-of-type(2){
          -webkit-transition: all 1s 0.3s;
          transition: all 1s 0.3s;
        }

        h4:nth-of-type(3){
          -webkit-transition: all 1s 0.6s;
          transition: all 1s 0.6s;
        }
      }
    }
  }
}

@media screen and (max-width: 1310px){

  #golfTop {
    height: 620px;

    > img{
      position: absolute;
      left: 50%;
      margin-left: -650px;
    }
  }

}


.popup-layer{
    position: fixed;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 701;
    overflow: auto;
    @include css3(opacity,0);
    @include css3(transition,all 0.4s);
    &.on{
        top:0;
        @include css3(opacity,1);
    }
    &.athlete{
        .li-dot{
            li{
                &.insta{
                    display: none;
                }
            }
        }
    }
    .overlay{
        width: 100%;
        height: 100%;
        z-index: 700;
        background: #000;
        opacity: 0.8;
        -ms-filter: alpha(opacity=80);
        filter: alpha(opacity=80);
        position: fixed;
        top: 0;
        left: 0;
    }
    .popup-content{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        background: #fff;
        z-index: 701;
        width: 955px;
        height: 602px;
        margin: -301px 0px 0px -474px;
        .close{
            position: absolute;
            top: -50px;
            right: 0;
            cursor: pointer;
        }
        .main{
            display: inline-block;
        }
        .tips{
            position: absolute;
            bottom: 35px;
            right: 50px;
            p{
                font:300 12px 'NotoSansKR';
            }
        }
        .txtlist{
            display: inline-block;
            vertical-align: top;
            margin-left: 30px;
            width: 230px;
            p{
                text-transform: uppercase;
                color:#000;
                &.nameEng{
                    font: 500 38px/35px 'adinenuPro-black';
                }
                &.nameKor{
                    font:400 16px 'NotoSansKR';
                    padding: 2px 0 20px 0;
                    border-bottom: 2px solid #000;
                }
            }
            .li-dot{
                margin: 20px 0 0 0;
                li{
                    margin: 0 0 5px 0;
                    .bul{width: 3px;height: 3px;}
                    font:400 13px 'NotoSansKR';
                    color:#000;
                    span{
                        display: inline-block;
                        width: 75px;
                        font:700 13px 'NotoSansKR';
                    }
                    &.insta{
                        padding: 35px 0 0 0;
                        position: absolute;
                        right: 30px;
                        bottom: 146px;
                        width: 242px;
                        margin: 0;
                        background: url('/images/adidas/event/golf/temadidas/insta_btn.png');
                        background-repeat: no-repeat;
                        background-position: 0px 97%;
                        background-size: 100%;
                        a{
                            display: block;
                            span{
                                padding-left: 46px;
                                font: 13px/43px 'adinenuPro-light';
                                text-transform: uppercase;
                                color: #000;
                                letter-spacing: 0.4px;
                            }
                        }
                    }
                }

            }
        }
        .thumbnail{
            margin: 15px 0 0 0;
            .img{
                position: relative;
                display: inline-block;
                float: left;
                margin-right: 10px;
                width: 95px;height: 95px;
                background: #f4f4f4;
                cursor: pointer;
                &:after{
                    content: '';
                    display: inline-block;
                    position: absolute;
                    left:0;
                    bottom:0;
                    width: 100%;
                    height: 3px;
                    background: transparent;
                }
                &.on{
                    &:after{
                        background: #ec0000;
                    }
                }
                &.none{
                    display: none;
                    &:after{
                        background: transparent;
                    }
                }
                img{
                    width: 100%;
                }
            }
        }
    }
}
.modal-popup-wrapper.golf_greatest_moments{
    .popup{
        top:0 !important;
        left:0 !important;
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        .popup-header{
            position: absolute;
            right:0;
            z-index: 100;
            // padding: 0;
            background: url(/images/adidas/common/adidas_spirite.png?v=170613) 0 0 no-repeat;
            display: block;
            background-position: 0 -685px !important;
            border-bottom: 0px !important;

            a{
                span{
                    width: 50px;
                    height: 50px;
                    margin: 0;
                }

            }
        }
        .popup-contents{
            width: 100%;
            height: 100%;
            overflow: hidden;
            padding: 0;
            background: #000;
            video{
                width: 100%;
                height: 100%;
            }
        }
    }
}
