@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';


.initiator_pack{
	background-color:white;
	position:relative;
	overflow: hidden;
	.box1{
		position: relative;
		height: 672px;
		.banner_conts{
			position: relative;
			ul{
				li{
					display:none;
					// opacity: 0;
					position: absolute;
					top:0;
					left:50%;
					margin-left: -960px;
					&.on{
						display: block;
						// opacity: 1;
						// transition: all 1.5s ease-out;
					}
					.txt{
						position: absolute;
						top:50%;
						left:50%;
					    margin-top: -100px;
						margin-left: -605px;
						@media screen and (max-width: 1190px) {
							// body{
							// 	display: none;
							// }
							position: absolute;
							top:50%;
							left:50%;
							margin-top:-100px;
							margin-left:-545px;
						}
						h1{
							font:37px 'adinenuPro-bold';
							color: #fff;
							line-height: 20px;
							letter-spacing: 1px;
						}
						p{
							font-family:'NotoSansKR';
							font-weight:700;
							font-size:15px;
							color: #fff;
							margin: 20px 0;
							letter-spacing: 1px;
						}
						.btn{
							position: relative;
							display: inline-block;
							background: #fff;
							&:hover{
								span{
									color:#98989a;
								}
							}
							a{
								display: inline-block;
								position: absolute;
								top:0;
								left: 0;
								width:100%;
								height: 100%;
								z-index: 2;
							}
							span{
								display: block;
								text-align: center;
								font-family:'NotoSansKR';
								font-weight:700;
								font-size:14px;
								color: #000;
								padding: 17px 19px;
								letter-spacing: 2px;
								img{
									padding-left: 13px;
								}
							}
							&:after{
								display: block;
							    content: '';
							    clear: both;
							    border: 1px solid #fff;
							    position: absolute;
								top: 3px;
							    left: 3px;
							    width: 100%;
							    height: 100%;
							}
						}
					}
				}
			}
		}
	}

	.tabs{
		position: relative;
		height: 55px;
		.wrap{
			text-align: center;
			background: #ecedef;
			width: 56%;
			height: inherit;
			margin: 0 auto;
			.tab{
				display: inline-block;
				padding: 10px 40px;
				cursor: pointer;
				span{
					font:16px 'adihaus';
					color:#000;
					line-height: 27.5px;
					letter-spacing: 1px;
					&.active{
						border-bottom: 1px solid #000;
					}
					&:after{
						display: block;
						position: absolute;
						bottom: 0;
						left: 0;
						width: inherit;
					}
				}
			}
		}
	}

	.box2{
		position: relative;
		.grid{
			display: none;
			text-align: center;
			padding:0;
			&.active{
				display: block;
			}
			.txt{
				position: absolute;
				top:50%;
				right: 50%;
				&.txt1{
					margin-top: -37px;
					margin-right: -156.875px;
				}
				&.txt2{
					margin-top: -37px;
					margin-right: -102.6px;
				}
				&.txt3{
					margin-top: -37px;
					margin-right: -204.815px;
				}
				&.txt4{
					margin-top: -37px;
					margin-right: -102.6px;
				}
				h4{
					letter-spacing: 2px;
				}
				.wrap{
					text-align: center;
					margin-top:15px;
					.btn{
						position: relative;
						display: inline-block;
						background: #fff;
						margin-right: 5px;
						&:hover{
							a{
								color:#98989a;
								opacity: .4;
							}
						}
						a{
							display: block;
							text-align: center;
							font-family:'NotoSansKR';
							font-weight:400;
							font-size:16px;
							color: #000;
							padding: 19px 22px;
						    line-height: 10px;
							letter-spacing: 2px;
							img{
								width: 23%;
							    display: inline-block;
							    padding-left: 13px;
								transform: none;
							}
						}
						&:after{
							display: block;
							content: '';
							clear: both;
							border: 1px solid #fff;
							position: absolute;
							top: 3px;
							left: 3px;
							width: 100%;
							height: 100%;
							z-index: -1;
						}
					}
				}
			}

		}
	}


	.box3{
		width: 100%;
	    position: relative;
		h1{
			font:38px 'adinenuPro-bold';
			color:#000;
			text-align: center;
			margin: 30px 0 20px 0;
		}
		.outer{
			width:950px;
			margin: 0 auto;
			padding: 0 0 5rem 0;
			.wrap1{
				position: relative;
				// width:100%;
				.btm{
					float: left;
					margin:10px;
					img{
					}
					.txt{
						position: absolute;
						bottom:50%;
						left: 50%;
						p{
							font:22px 'adinenuPro-bold';
							color:#fff;
							letter-spacing: 1px;
						}
						.btn{
							display: inline-block;
							background: #fff;
							margin-top: 13px;
							margin-right: 10px;
							&:hover{
								a{
									color:#98989a;
								}
							}
							a{
								position: relative;
								display: block;
								font-family:'NotoSansKR';
								font-weight:700;
								font-size:14px;
								color: #000;
								padding: 17px 19.5px;
								letter-spacing: 2px;
								img{
									padding-left: 13px;
								}
								&:after{
									display: block;
									content: '';
									clear: both;
									border: 1px solid #fff;
									position: absolute;
									top: 3px;
									left: 3px;
									width: 100%;
									height: 100%;
								}
							}
						}
					}
					&.btm1{
						.txt{
							margin-bottom:-180px;
							margin-left: -329px;
						    text-align: center;
						}
					}
					&.btm2{
						.txt{
							margin-bottom:-180px;
							margin-left: 118px;
						    text-align: center;
						}
					}
				}
				overflow: hidden;
			}
			.wrap2{
				position: relative;
				width:100%;
				.btm{
					float: left;
					margin:10px;
					.txt{
						position: absolute;
						bottom:50%;
						left: 50%;
						p{
							font:22px 'adinenuPro-bold';
							color:#fff;
							letter-spacing: 1px;
						}
						.btn{
							display: inline-block;
							background: #fff;
							margin-top: 13px;
							margin-right: 10px;
							&:hover{
								a{
									color:#98989a;
								}
							}
							a{
								position: relative;
								display: block;
								font-family:'NotoSansKR';
								font-weight:700;
								font-size:14px;
								color: #000;
								padding: 17px 19.5px;
								letter-spacing: 2px;
								img{
									padding-left: 13px;
								}
								&:after{
									display: block;
									content: '';
									clear: both;
									border: 1px solid #fff;
									position: absolute;
									top: 3px;
									left: 3px;
									width: 100%;
									height: 100%;
								}
							}
						}
					}
					&.btm3{
						.txt{
							margin-bottom:-180px;
							margin-left: -329px;
						    text-align: center;
						}
					}
					&.btm4{
						.txt{
							margin-bottom:-180px;
							margin-left: 118px;
						    text-align: center;
						}
					}
				}
				overflow: hidden;
			}
		}


	}

}
