@import "./front/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
#contents_wrap{padding: 0;}

.campaign_smartvent{
    background: url('/images/reebok/2019/event/menshealth/1904_bg_img.jpg') 100% 100% no-repeat;
    // background-size: cover;
    background-position: top;
    background-size: 100% 100%;
    .visual_main{
        position: relative;
        height: 1145px;
        .txt{
            position: absolute;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            z-index: 2;
            h1{
                font: italic 700 70px/70px 'NotoSansKR';
                color:#fff;
                position: relative;
                z-index:0;
                text-align: center;
                &::after{
                    display: block;
                    position: absolute;
                    clear:both;
                    content:'';
                    left:55px;
                    right:50px;
                    height: 30px;
                    bottom:-3px;
                    background:#e93c3c;
                    z-index: -1;
                }
            }
            p{
                font: 500 45px/70px 'NotoSansKR';
                color:#fff;
                position: relative;
                z-index:0;
                display: inline-block;
                &::after{
                    display: block;
                    position: absolute;
                    clear:both;
                    content:'';
                    left:-5px;
                    right:-10px;
                    height: 30px;
                    bottom:-3px;
                    background:#e93c3c;
                    z-index: -1;
                }
            }
        }
        .wrap{
            // width:1545px;
            // height: 1080px;
            // position: relative;
            margin: 220px 0 0 auto;
            z-index:1;
            height:1360px;
            &::after{
                display: block;
                position: absolute;
                clear: both;
                content: '';
                left: 50%;
                width: 955px;
                height: 255px;
                bottom: 0;
                background: rgba(19,53,72,0.2);
                z-index: 0;
                margin-left: -960px;
            }
            .img{
                height: 1080px;
                position: absolute;
                left: 50%;
                margin-left: -580px;
                z-index: 1;
                img{
                }
            }
        }
    }

    .tabSlide{
        position: relative;
        h1{
            font: 700 36px/75px 'NotoSansKR';
            color:#fff;            
            text-align:center;
        }
        .tabs{
            width:960px;
            margin:0 auto;
            text-align: center;
            // font-size:0;
            .tab{
                display: inline-block;
                text-align: center;
                background:#fff;
                vertical-align: middle;
                padding: 20.4px 24px;
                margin-bottom:3px;
                &.on{
                    background:#e93c3c;
                    p,span{
                        color:#fff;
                    }
                }
                // &:nth-child(2){
                //     padding:20.4px 56px;
                // }
                // &:nth-child(3){
                //     padding: 8px 11px;
                // }
                // &:nth-child(4){
                //     padding:20.4px 7px;
                // }
                // &:nth-child(5){
                //     padding:20.4px 48px;
                // }
                // 익스
                &.tab2{
                    padding:20.4px 56px;
                }
                &.tab3{
                    padding: 8px 11px;
                }
                &.tab4{
                    padding:20.4px 7px;
                }
                &.tab5{
                    padding:20.4px 48px;
                }
                p{
                    text-align: center;
                    font: 700 24px/24px 'dinpro black';
                    color:#b0b0b0;
                }
                span{
                    font: 500 18px/35px 'NotoSansKR';
                    color:#b0b0b0;
                }
            }
        }

        #sliders{
            margin:0 auto;
            ul{
                li{

                }
            }
        }
        .prev-button{
            position: absolute;
            top: 453px;
            left: 50%;
            margin-left: -530px;
        }
        .next-button{
            position: absolute;
            top: 453px;
            right: 50%;
            margin-right: -530px;
        }
        .texts{
            width:918px;
            height: 170px;
            margin:10px auto 0;
            text-align: center;
            border: 1px solid #909595;
            background:rgba(255,255,255,.1);
            z-index: -1;
            padding: 20px;
            .tab{
                display: none;
                &.on{
                    display: block;
                }
                h1{
                    font: 25px/35px 'dinpro bold';                    
                    color:#fff;
                    text-align: left;
                    z-index: 1;
                    display: inline-block;
                    position: relative;
                    left: 15px;
                    letter-spacing: 10px;
                    &::after{
                        display: block;
                        position: absolute;
                        clear: both;
                        content: '';
                        left: -15px;
                        right: -15px;
                        top: 7px;
                        bottom: 4px;
                        background: #e93c3c;
                        z-index: -1;
                    }
                }
                p{
                    font: 500 20px/50px 'NotoSansKR';
                    color:#fff;
                }
                ul{
                    li{
                        float:none;
                        font: 300 16px/30px 'NotoSansKR';
                        color:#b0b0b0;
                        padding-right:  30px;                   
                    }
                }
                &:first-child{
                    ul{
                        li{
                            float:none;
                            &:nth-child(3),&:nth-child(4){
                                float:left;
                            }
                        }
                    }
                }
                &:nth-child(2){
                    ul{
                        li{
                            float:none;
                            &:nth-child(3),&:nth-child(4){
                                float:left;
                            }
                        }
                    }
                }
                &:nth-child(3){
                    ul{
                        li{
                            float:none;
                        }
                    }
                }
                &:nth-child(4){
                    ul{
                        li{
                            float:none;
                            &:nth-child(2),&:nth-child(3),&:nth-child(4){
                                float:left;
                            }
                        }
                    }
                }
                &:last-child{
                    ul{
                        li{
                            float:none;
                            &:first-child,&:nth-child(2),&:nth-child(3),
                            &:nth-child(4),&:nth-child(5),&:last-child{
                                float:left;
                            }
                        }
                    }
                }
            }

        }
    }


    .btm{
        position: relative;
        padding-top: 55px;
        &::after{
            display: block;
            clear: both;
            content: '';
        }
        .wrap{
            position:relative;
            text-align: right;
            h1{
                position:relative;
                display: inline-block;
                right: 125px;
                font: 700 30px/80px 'NotoSansKR';
                color:#fff;
                z-index: 1;
                &::after{
                    display: block;
                    position: absolute;
                    clear: both;
                    content: '';
                    left: -10px;
                    right: -10px;
                    top: 42px;
                    bottom: 21px;
                    background: #1f506b;
                    z-index: -1;
                }
            }
            float: left;
            width: 50%;
            img{
                width: 100%;
            }
            &:nth-child(2){
                text-align: left;
                h1{
                    position:relative;
                    left: 125px;
                    &::after{
                        background: #7c4c2c;
                    }
                }
            }

            .btn_wrap{
                position: absolute;
                .btn{
                    float: left;
                    border:1px solid #fff;
                    margin-right:10px;
                    display: inline-block;
                    a{
                        font: 700 16px/55px 'NotoSansKR';
                        color:#fff;
                        padding: 0 25px;
                        display: block;
                        img{
                            padding-left:5px;
                            width:25px;
                            height:15px;
                        }
                    }
                    &:last-child{
                        margin-right:0;
                    }
                }
            }
            &:first-child{
                .btn_wrap{
                    bottom: 25px;
                    right:15px;
                }
            }
            &:last-child{
                .btn_wrap{
                    bottom: 25px;
                    left:15px;
                }
            }
        }
    }


}
//end
