@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

button{
	outline:none;
}
a{
	outline:none;
}
area:focus{
	border: none;
	outline:none;
	outline-style: none;
	-moz-outline-style:none; 
 }
  
#wrap{
	min-width: 1250px;
	overflow: hidden;
}
#stylepick {
	overflow: hidden;
	position: relative;
	background: #000;
	.button_area_v2{
		display: inline-block;
		// width: 145px;
		&:hover{
			div{
				.bg{
					box-shadow: inset 0 0 0 1px #000;
    				-webkit-box-shadow: inset 0 0 0 1px #000;
					@include css3(transition, all 0.5s);
				}
				a{
					color: #fff;
				    background: #000;
					@include css3(transition, all 0.5s);

					span.arrow{
						background: #fff;
						@include css3(transition, all 0.5s);
						em{
							background: #fff;
							@include css3(transition, all 0.5s);
						}
					}

				}
			}
		}
		a{
			padding:0 20px;
			font: 600 15px/49px 'NotoSansKR';
			letter-spacing: 1px;
			span.arrow{
				margin-left: 15px;
			}
		}
		// width: 140px;
	}

	.section{position: relative;}

	.sect_visual {
		height: 720px;
		.visual_img {
			position: absolute;
			left:50%;
			top:0;
			margin-left: -960px;
			img{
				position: absolute;
				top:0;
				left:0;
				@include css3(opacity,1);
				@include css3(transition, all 0.5s);
				&.on{
					@include css3(opacity,1);

				}
			}
		}
	}

	.sect_visualtext {
		padding: 100px 0;
		background: #5d0508;
		text-align: center;
		>* {
			text-align: center;
			color: #fff;
		}

		h3 {
			display: inline-block;
			width: auto;
			position: relative;
			>img {
				display: inline-block;
				&.vtitle {
					position: absolute;
					top: -10px;
					left: -10px;
					z-index: 1;
				}
			}
		}

		h4 {
			padding: 40px 0;
			font: 54px/54px 'adinenuPro-black';
			letter-spacing: 3px;
			em {
				font-family: 'adinenuPro-regular';
			}
		}

		p {
			font: 400 20px/30px 'NotoSansKR';
		}
	}

	.navi_wrap{
		position: relative;
		display: block;
		height: 80px;
		max-width: 1920px;
		margin: 0 auto;
		background:#3d0205;
		.navi {
			overflow: hidden;
			width: 960px;
			margin: 0 auto;
			background:#3d0205;
			&.fixed {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				max-width: 960px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 10;
			}

			.inn_box {
				width: 25%;
				height: 80px;
				float: left;
				box-sizing: border-box;
				transition: all 0.2s;
				cursor: pointer;
				&:hover {
					.btn {
						
					}
				}
				&.on {
					.btn {
						color: #ffa951;
						font-weight: bold;
						border-bottom: 6px solid #ffa951;
					}
				}
				.btn {
					box-sizing: border-box;
					margin: 0 auto;
					text-align: center;
					width: 240px;
					height: 80px;
					font: 500 22px/78px 'NotoSansKR';
					color: #fff;
					
					transition: all 0.2s;
				}

			}
		}
	}

	.items_wrapper{
		position: relative;
		height: 1782px;
		background: #fff;
		.item_wrap{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
			transition: all 0.4s;
			&.on{
				opacity: 1;
				z-index: 2;
			}
			&.item1{
				background: url(/images/adidas/2021/event/originals/stylepick/0122/01/bg.jpg) center bottom no-repeat;
			}
			&.item2{
				background: url(/images/adidas/2021/event/originals/stylepick/0122/01/bg.jpg) center bottom no-repeat;
			}
			&.item3{
				background: url(/images/adidas/2021/event/originals/stylepick/0122/01/bg.jpg) center bottom no-repeat;
			}
			&.item4{
				background: url(/images/adidas/2021/event/originals/stylepick/0122/01/bg.jpg) center bottom no-repeat;
			}
			.coll_top{
				overflow: hidden;
				width: 1200px;
				margin: 140px auto 20px;
				>*{
					width: 50%;
				}
				.colltop_lt {
					float: left;
					>img{
						display: block;
					}
				}
				.colltop_rt {
					overflow: hidden;
					float: left;
					h4{
						padding: 15px 0 40px 50px;
						font: 800 40px/40px 'NotoSansKR';
						color: #000;
						letter-spacing: 2px;
					}
					p{
						height: 310px;
						padding-left: 50px;
						font: 600 20px/32px 'NotoSansKR';
						color: #000;
					}
					.video_wrap{
						float: right;
						cursor: pointer;
					}
				}
			}
		}
	}

	.collection{
		position: relative;
		.slider_content{
			overflow: hidden;
			position: relative;
			left: 50%;
			margin-left: -600px;
			ul{
				overflow: hidden;
				li{
					float: left;
					text-align: center;
					img{
						display: inline-block;
					}
				}
			}
		}

		.btnarrow_wrap{
			position: absolute;
			top: 29%;
			left: 50%;
			width: 1240px;
			height: 60px;
			margin-left: -620px;
			.btnarrow {
				position: absolute;
				top: 0px;
				left: 0;
				z-index: 4;
				&.next-button {
					right: 0;
					left: auto;
				}

				&.prev-button {
					left: 0;
				}
			}
		}
		
		.indicator{
			display: none;
			position: relative;
			left: 0;
			padding: 35px 0;
			z-index: 1;
			text-align: center;
			width: 100%;
			a{
				display: inline-block;
				margin:0 3px;
				width:13px;
				height:13px;
				background: #fff;
				opacity: 0.4;
				border-radius: 50px;
				box-sizing: border-box;
				text-indent: -9999px;
				&.on{
					background: #fff;
					opacity: 1;
				}
			}
		}

		.slider_number{
			position: relative;
			left: 0;
			padding: 35px 0;
			z-index: 1;
			text-align: center;
			width: 100%;
			p{
				font: 22px 'adihausDIN-Cond-medium';
				color: #fff;
				letter-spacing: 2px;
				text-align: center;
				span.crt_number{}
			}
		}

		.slider_bottom{
			text-align: center;
			padding-bottom: 130px;
			.button_area_v2{}
		}
	}

	// .sect_kakao{
	// 	height: 206px;
	// 	img{
	// 		display: block;
	// 		position: absolute;
	// 		top: 0;
	// 		left: 50%;
	// 		transform: translateX(-50%);
	// 		z-index: 1;
	// 	}
	// }
}
