@import "./front/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
#contents_wrap{padding: 0;}
.campaign_nano8{
    .visual_main{
        position: relative;
        height: 840px;
        background: url('/images/reebok/event/about/nano/190116/bg_top.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        .img{
            position: absolute;
            top:0;
            left: 50%;
            transform:translateX(-50%);
        }
        .txt{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -340px;
            margin-left: -505px;
            h1{
                display: inline-block;
                font: 82px/82px 'DINWebPro-Cond';
                color:#000;
                margin: 0 10px 25px 0;
                letter-spacing: 30px;
                span{
                    font: 82px/82px 'DINWebPro-CondBlack';
                }
            }
            >span{
                display: inline-block;
                font: 26px/33px 'DINWebPro-CondLight';
                color:#000;
                letter-spacing: 5px;
            }
            .btn{
                position: absolute;
                border:2.5px solid #000;
                width: 195px;
                a{
                    display: block;
                    color:#000;
                    font: 800 18px/55px 'NotoSansKR';
                    text-align: center;
                    letter-spacing: 1px;
                }
                &:hover{
                    background: rgba(171,35,40,1);
                    transition: all .5s;
                    a{
                        color:#fff;
                    }
                }
            }
        }
    }
    .visual_mid{
        position: relative;
        height: 1522px;
        .bg{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

        }
        .img{
            position: absolute;
            top:0;
            left: 50%;
            transform: translateX(-50%);
        }
        .txt1{
            position: absolute;
            top:50%;
            left: 50%;
            margin-top: -627px;
            margin-left: -436px;
            p{
                color:#fff;
                font: 800 23px/23px 'NotoSansKR';
                font-style: italic;
                margin:0 0 10px 10px;
                // @include css3(opacity,0);
                // @include css3(transition, all 1s ease-in);
                // @include css3(transition-delay, .4s);
                opacity: 0;
                transition: all 1s ease-in;
                transition-delay: .4s;
            }
            .border{
                position: relative;
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;
                width:0px;
                height: 0px;
                padding: 10px 0 0 10px;
                opacity: 0;
                span{
                    color:#fff;
                    font: 400 16px/22px 'NotoSansKR';
                    // @include css3(opacity,0);
                    // @include css3(transition, all 1s ease-in);
                    // @include css3(transition-delay, .7s);
                    opacity: 0;
                    transition: all 1s ease-in;
                    transition-delay: 1s;
                }
            }
        }

        .txt2{
            position: absolute;
            top:50%;
            left: 50%;
            margin-top: -232px;
            margin-left: -449px;
            p{
                color:#fff;
                font: 800 23px/23px 'NotoSansKR';
                font-style: italic;
                margin: 10px 0 10px 10px;
                // @include css3(opacity,0);
                // @include css3(transition, all 1s ease-in);
                // @include css3(transition-delay, .5s);
                opacity: 0;
                transition: all 1s ease-in;
                transition-delay: .5s;
            }
            .border{
                position: relative;
                border-top: 1px solid #fff;
                width:0;
                padding: 10px;
                opacity: 0;
                span{
                    color:#fff;
                    font: 400 16px/22px 'NotoSansKR';
                    // @include css3(opacity,0);
                    // @include css3(transition, all 1s ease-in);
                    // @include css3(transition-delay, .7s);
                    opacity: 0;
                    transition: all 1s ease-in;
                    transition-delay: 1s;
                }
            }
        }

        .txt3{
            position: absolute;
            top:50%;
            left: 50%;
            margin-top: -291px;
            margin-left: 274px;
            span{
                color:#fff;
                font: 400 16px/22px 'NotoSansKR';
                position: relative;
                left: 10px;
                top: 10px;
                // @include css3(opacity,0);
                // @include css3(transition, all 1s ease-in);
                // @include css3(transition-delay, 2s);
                opacity: 0;
                transition: all 1s ease-in;
                transition-delay: 1s;
            }
            .border{
                position: relative;
                border-bottom: 1px solid #fff;
                border-left: 1px solid #fff;
                width:0px;
                height: 0px;
                padding-top: 13px;
                opacity: 0;
                p{
                    color:#fff;
                    font: 800 23px/23px 'NotoSansKR';
                    font-style: italic;
                    margin:13px 0;
                    position: absolute;
                    bottom: 0;
                    left: 10px;
                    // @include css3(opacity,0);
                    // @include css3(transition, all 1s ease-in);
                    // @include css3(transition-delay, 5s);
                    opacity: 0;
                    transition: all 1s ease-in;
                    transition-delay: .5s;
                }
            }
        }


    }

    .slide_lineup{
        position: absolute;
        bottom:0;
        width: 100%;
        padding: 28px 0;
        text-align: center;
        h1{
            display: inline-block;
            font: 56px/56px 'DINWebPro-CondLight';
            color:#fff;
            margin: 0 10px 25px 0;
            letter-spacing: 30px;
            span{
                font: 56px/56px 'DINWebPro-CondBlack';
                color:#fff;
            }
        }
        .wrap{
            position: relative;
            text-align: center;
            .btm_logo{
                padding:50px 0;
                text-align: center;
            }
        }

        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:600px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            .arrow-prev{
                position: absolute;
                top:50%;
                left:50%;
                margin-top: -40px;
                margin-left: -496px;
                background-position: -125px -80px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            .arrow-next{
                position: absolute;
                top:50%;
                left:50%;
                margin-top: -40px;
                margin-left:488px;
                background-position: -125px -125px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 550px;
                li{
                    width: 962px;
                    position: relative;
                    float: left;
                    text-align: center;
                    // margin: 0 45px;
                    @include opacity(1);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                    img{
                        display: inline-block;
                        width:99%;
                    }
                    // &::after{
                    //     content: '';
                    //     position: absolute;
                    //     top: 0;
                    //     // left: 40px;
                    //     display: block;
                    //     width: 904px;
                    //     height: 681px;
                    //     background-color: #000;
                    //     @include opacity(0.5);
                    //     @include prefix-css3(transition ,opacity 0.7s ease-in 0.3s);
                    //     z-index: 1;
                    //     margin-left: 36px;
                    //     width: 832px;
                    //     height: 625px;
                    // }
                }
                li.active{
                    @include opacity(1);
                    @include prefix-css3(transition ,ease-in 0.3s);
                    &::after{
                        content: '';
                        display: none;
                    }
                }
            }
        }
        .indicator{
            text-align: center;
            padding: 0 0 30px 0;
            a{
                display: inline-block;
                width: 13px;
                height: 13px;
                border-radius: 10px;
                background: #ccc;
                margin: 0 2px;
                &.on{
                    background: #ab2328;
                }
            }
        }
    }



}
