@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
html,body{
	height:100%;
}
#nizza {
	// components
	.rel{
		position: relative;
	}
	.ct{
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
	}
	.gridIn{
			position: absolute;
			bottom:8%;
			left:50%;
			transform: translateX(-50%);
	}
	.unset{
		&:hover{
			transform: unset!important;
		}
	}
	.button_area_v2{
		display: inline-block;
		&:hover{
			div{
				a{
					color: #767677;
					span{
						background: #767677;
						em{
							background: #767677;
						}
					}

				}
			}
		}
		div{
			&.white{
				.bg{
					box-shadow: inset 0 0 0 1px #fff;
					-webkit-box-shadow: inset 0 0 0 1px #fff;
					@include css3(transition, all 0.5s);
				}
				a{
					background: #fff;
				}
			}
			.bg{
				box-shadow: inset 0 0 0 1px #000;
				-webkit-box-shadow: inset 0 0 0 1px #000;
				@include css3(transition, all 0.5s);
			}
			a{
				letter-spacing: 1px;
				padding:0 20px;
				background: #000;
			}
		}
	}

	//start
	.main__wrapper{
		height:860px;
		.main__wrapper__img{

		}
	}
	.aside__wrapper{
		height:235px;
		padding: 60px 0 90px 0;
		background:#ffe7dc;
		.aside__wrapper__txt{
			text-align:center;
			p{
				font: 500 23px/30px 'NotoSansKR';
				color:#000;
				margin:25px 0 0 0;
				text-align: center;
			}
			.button_area_v2{
				margin:30px 0 0 0;
			}
		}
	}
	.grid__wrapper{
		.grid__wrapper__topTxt{
			background:url('/images/adidas/2020/event/originals/nizza/2001_a_nizza_aside_DT.jpg') no-repeat;
			background-size: auto auto;
			background-position: top;
			padding: 39px 0;
			p{
				font: 400 21px/30px 'NotoSansKR';
				color:#fff;
				text-align: center;
			}
		}
		.grid__wrapper__cont{
			//섹션1
			&::after{
				display: block;
				content:'';
				clear:both;
			}
			.padd50{
				padding-bottom: 50%;
			}
			.padd100{
				padding-bottom: 100%;
			}
			.grid__obj{
				float: left;
				overflow: hidden;
				&::after{
					display: block;
					content:'';
					clear:both;
				}
				a{
					z-index:3;
					img{
					}
				}
				>video{
					width: 100%;
					height: 100%;
					object-fit: cover;
					position: absolute;
					&.ie{
						width:113%;
					}
				}
				>img{
					width:100%;
					&:hover{
						transform: scale(1.1);
						transition: all 7s;
					}
				}
				&:nth-child(1){
					width:25%;
				}
				&:nth-child(2){
					width:50%;
				}
				&:nth-child(3){
					width:25%;
				}
				&:nth-child(4){
					width:25%;
				}
				&:nth-child(5){
					width:50%;
				}
			}
				// 섹션2
				&:nth-child(3){
					>div{
						width:50%;
						float:left;
						.grid__obj{
							width:50%;
							&:nth-child(1){
							}
							&:nth-child(2){
								float: right;
							}
							&:nth-child(4){
							}
						}
						&:nth-child(2){
						}
					}				
				}
				// 섹션3
				&:nth-child(4){
					>div{
						width:50%;
						float:left;
						.grid__obj{
							width:100%;
							&:nth-child(2){
								width:50%;
							}
							&:nth-child(3){
								width:50%;
							}
						}
						&:nth-child(2){
							.grid__obj{
								width:50%;
								&:nth-child(2){
									width:50%;
									float:right;
								}
								&:nth-child(3){
									width:50%;
									float:right;
								}
							}
						}
					}
				}
				// 섹션5
				&:nth-child(5){
					.grid__obj{
						width:25%;
						float: left;
					}
				}
				// 섹션5
				&:nth-child(6){
					>div{
						width:50%;
						float: left;
						.grid__obj{
							width:50%;
							&:nth-child(2){
								float:right;
							}
							&:nth-child(3){
								float:left;
							}
						}
						&:nth-child(2){
							width:50%;
							.grid__obj{
								width:100%;
							}
						}
					}
				}
		}



	// 	.grid__wrapper__cont{
	// 		// 섹션1
	// 		&::after{
	// 			display: block;
	// 			content:'';
	// 			clear:both;
	// 		}
	// 		.grid__obj{
	// 			float: left;
	// 			overflow: hidden;
	// 			a{
	// 				z-index:3;
	// 				img{
	// 				}
	// 			}
	// 			>video{
	// 				width:100%;
	// 			}
	// 			>img{
	// 				width:100%;
	// 				&:hover{
	// 					transform: scale(1.1);
	// 					transition: all 7s;
	// 				}
	// 			}
	// 			&:nth-child(1){
	// 				width:25%;
	// 			}
	// 			&:nth-child(2){
	// 				width:50%;
	// 			}
	// 			&:nth-child(3){
	// 				width:25%;
	// 			}
	// 			&:nth-child(4){
	// 				width:25%;
	// 			}
	// 			&:nth-child(5){
	// 				width:50%;
	// 			}
	// 		}
	// 		// 섹션2
	// 		&:nth-child(3){
	// 			>div{
	// 				width:50%;
	// 				float:left;
	// 				.grid__obj{
	// 					width:50%;
	// 					&:nth-child(1){
	// 					}
	// 					&:nth-child(2){
	// 						float: right;
	// 					}
	// 					&:nth-child(4){
	// 					}
	// 				}
	// 				&:nth-child(2){
	// 				}
	// 			}				
	// 		}
	// 		// 섹션3
	// 		&:nth-child(4){
	// 			>div{
	// 				width:50%;
	// 				float:left;
	// 				.grid__obj{
	// 					width:50%;
	// 					&:nth-child(1){
	// 						width:100%;
	// 					}
	// 					&:nth-child(2){
	// 					}
	// 					&:nth-child(3){
	// 						float: right;
	// 					}
	// 				}
	// 				&:nth-child(2){
	// 					.grid__obj{
	// 						width:50%;
	// 						&:nth-child(1){
	// 							width:50%;
	// 						}
	// 						&:nth-child(2){
	// 							float: right;
	// 						}
	// 						&:nth-child(3){
	// 						}
	// 					}	
	// 				}
	// 			}				
	// 		}
	// 		// 섹션4
	// 		&:nth-child(5){
	// 			div{
	// 				width:50%;
	// 				float: left;
	// 				.grid__obj{
	// 					width:50%;
	// 					&:nth-child(2){
	// 						float: right;
	// 					}
	// 				}
	// 				&:nth-child(2){

	// 				}
	// 			}
	// 		}
	// 		// 섹션5
	// 		&:nth-child(6){
	// 			>div{
	// 				width:50%;
	// 				float: left;
	// 				.grid__obj{
	// 					width:50%;
	// 					&:nth-child(2){
	// 						float: right;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	}
	.prod__wrapper{
		padding: 75px 0 80px 0;
		p{
			text-align:center;
			font:400 21px/29px 'NotoSansKR';
			color:#000;
		}
		.prod__wrapper__img{
			width:1200px;
			margin: 0 auto;
			margin-top:40px;
			height: 400px;
			box-sizing: border-box;

			div{
				display: inline-block;
				margin: 0 5px 0 0;
				border: 1px solid #fff;
				&:hover{
					border: 1px solid #000;
					box-sizing: border-box;
				}
				&:last-child{
					margin:0;
				}
				a{
					img{
	
					}
				}
			}
		}
	}

}
