@charset "utf-8";
.boost_sp{background-image:url(http://image.adidas.co.kr/images/adidas/event/boost/boost_sprite.png);background-position:0 0;background-repeat:no-repeat;}
#boost_crew{overflow:hidden}
#boost_crew .leftmenu{width:140px;float:left}
#boost_crew .leftmenu li{position:relative;}
#boost_crew .leftmenu li.menu1{top:-1px;}
#boost_crew .leftmenu li.menu2{top:-2px;}
#boost_crew .leftmenu li.menu3{top:-3px;}
#boost_crew .leftmenu li.menu3 a{background-image:none;}
#boost_crew .leftmenu a{
	height:41px;
	padding-left:12px;
	display:block;
	line-height:41px;
	letter-spacing:-1px;
	border:1px solid #ddd;
	background-color:#f5f5f5;
	color:#777;
	font-weight:bold;
	background-position:114px -193px;
}
#boost_crew .leftmenu a.on{color:#333;background-position:114px -132px;}
#boost_crew .leftmenu ul{border-top:1px solid #ddd;}
#boost_crew .leftmenu ul.crew_depth2{border-top-width:0;}
#boost_crew .leftmenu ul.crew_depth2 li{}
#boost_crew .leftmenu ul.crew_depth2 a{border-top-width:0;border-color:#f0f0f0;background:#fafafa;font-weight:normal}
#boost_crew .leftmenu ul.crew_depth2 a.on{color:#d82323;}

#boost_crew .cont720{width:720px;float:right}

#boost_crew .cont720 .tit{overflow:hidden}
#boost_crew .cont720 .tit h5{height:13px;float:left;border-left:3px solid #505050;padding-left:10px;font:bold 15px/13px 'Dotum',dotum;letter-spacing:-.75px;color:#505050;}
#boost_crew .cont720 .tit h5 span{color:#d82323;}
#boost_crew .cont720 .loc{float:right;font-size:11px;color:#8c8c8c;}
#boost_crew .cont720 .loc .now{color:#333;}
#boost_crew .cont720 .table_data{}
#boost_crew .cont720 .table_data th{height:32px;text-align:center;background:#ddd;color:#555;letter-spacing:-.75px;border-right:1px solid #c0c0c0;border-top:2px solid #555;}
#boost_crew .cont720 .table_data th.last{border-right:1px solid #ddd}
#boost_crew .cont720 .table_data td{height:29px;border-left:1px solid #ddd;border-bottom:1px solid #ddd;color:#777;letter-spacing:-.75px;text-align:center;}
#boost_crew .cont720 .table_data td.last{border-right:1px solid #ddd}
#boost_crew .cont720 .table_data td.etc span{color:#aaa;}
#boost_crew .cont720 .table_data .top10 .rank{font-weight:bold}
#boost_crew .cont720 .table_data .top10 .name{font-weight:bold}
#boost_crew .cont720 .myteam td{color:#d82323;background:#fafafa;}
#boost_crew .cont720 .myteam td a{height:13px;padding-right:16px;color:#d82323;display:inline-block;background:url(http://image.adidas.co.kr/images/adidas/event/boost/bg_arrow_red.gif) right 0 no-repeat;font-weight:bold;}
#boost_crew .cont720 .team_edit td a{height:13px;padding-right:16px;display:inline-block;background:url(http://image.adidas.co.kr/images/adidas/event/boost/bg_arrow_gray.gif) right 0 no-repeat;font-weight:bold}
#boost_crew .cont720 .team_join td a{height:13px;padding-right:16px;display:inline-block;background:url(http://image.adidas.co.kr/images/adidas/event/boost/bg_arrow_w_gray.gif) right 0 no-repeat;font-weight:bold;color:#aaa;}


#boost_crew .cont720 .paging_r{height:auto;padding:20px 0 30px;border-top-width:0;text-align:center;background:#fff;}
#boost_crew .cont720 .warning{width:714px;padding:15px 0 12px;border:3px solid #ddd;}
#boost_crew .cont720 .warning dt{color:#8e8e8e;border-bottom:1px dashed #d5d5d6;padding:0 0 10px 15px;letter-spacing:-.75px;font-weight:bold;}
#boost_crew .cont720 .warning dd{padding:15px 15px 0;}
#boost_crew .cont720 .warning dd li{padding-bottom:3px;font:11px 'dotum',Dotum;color:#8e8e8e;letter-spacing:-.75px;}


#boost_crew .cont720 .crewbox{width:718px;height:89px;margin-bottom:30px;border:1px solid #ddd;}
#boost_crew .cont720 .crewbox_inner{width:645px;height:56px;padding:25px 0 0 65px;border:4px solid #fafafa;}
#boost_crew .cont720 .crewbox label{display:block;width:133px;height:15px;float:left;margin:9px 9px 0 0;background-position:right -510px;text-indent:-5000px;cursor:pointer;}
#boost_crew .cont720 .crewbox input{width:358px;height:27px;margin-right:9px;line-height:27px;padding-left:10px;float:left;border:1px solid #b3b3b3;color:#555;}
#boost_crew .cont720 .crewbox a{width:62px;height:31px;float:left;display:block;text-indent:-6000px;background-position:right -150px;}

#boost_crew .cont720 .add_row{overflow:hidden;margin-bottom:20px;}
#boost_crew .cont720 .add_row h6{width:202px;height:14px;float:left;background-position:right -605px;text-indent:-5000px;font:15px 'dotum',doutm;letter-spacing:-.75px;color:#777;font-weight:bold}
#boost_crew .cont720 .add_row h6 span{font-weight:normal}
#boost_crew .cont720 .add_row a{width:57px;height:15px;display:block;float:right;background-position:0 -280px;text-indent:-5000px}

#boost_crew .cont720 .btn_area{height:20px;padding:20px 0 30px;}
#boost_crew .cont720 .btn_area a{width:80px;height:20px;display:block;text-indent:-5000px;}
#boost_crew .cont720 .btn_area a.create_done{float:right;background-position:right 0;}
#boost_crew .cont720 .btn_area a.sms{width:90px;background-position:right -30px;float:left;}
#boost_crew .cont720 .btn_area a.modify{width:80px;background-position:right -60px;float:right;}
#boost_crew .cont720 .btn_area a.del{width:80px;margin-left:4px;background-position:right -90px;float:right;}
#boost_crew .cont720 .btn_area a.out{width:80px;background-position:right -120px;position:absolute;top:-45px;right:0;}

#boost_crew .cont720 .table_data .frd_name input{width:153px;height:21px;padding-left:5px;line-height:21px;font-size:11px;color:#555;}
#boost_crew .cont720 .table_data .frd_num input{width:259px;height:21px;padding-left:5px;line-height:21px;font-size:11px;color:#555;}

#boost_crew .crew_content_box{overflow:hidden}
#boost_crew .crew_content_box .tit{overflow:hidden;margin:10px 0;}
#boost_crew .crew_content_box .tit h5{float:left;text-indent:-5000px}
#boost_crew .crew_content_box .tit span{float:right;color:#555;font:12px 'Dotum';color:#555;}
#boost_crew .crew_content_box h6{height:23px;text-align:center;padding-top:8px;background:#555;color:#fff;font:bold 12px 'Dotum';letter-spacing:-1px;}
#boost_crew .crew_content_box h6 span{color:#def203;}
#boost_crew .crew_content_box .left_area{width:440px;clear:both;float:left}
#boost_crew .crew_content_box .right_area{width:440px;float:right}
#boost_crew .crew_content_box .left_area .btn1{display:block;width:440px;height:40px;background-position:right -330px;text-indent:-5000px;margin-bottom:10px;}
#boost_crew .crew_content_box .left_area p.desc{width:186px;height:12px;margin:0 auto;background-position:right -640px;text-indent:-5000px;}
#boost_crew .crew_content_box .right_area .btn2{display:block;width:440px;height:40px;background-position:right -390px;text-indent:-5000px;}

#boost_crew .crew_content_box table{margin-bottom:10px;}
#boost_crew .crew_content_box th{height:32px;color:#555;background:#ddd;text-align:center;border-left:1px solid #c0c0c0;color:#777;}
#boost_crew .crew_content_box th.last{border-right:1px solid #ddd;}
#boost_crew .crew_content_box td{height:29px;border-left:1px solid #ddd;border-bottom:1px solid #ddd;text-align:center;color:#777;}
#boost_crew .crew_content_box td.last{border-right:1px solid #ddd;}

#boost_crew .crew_content_box .area_body{width:424px;height:151px;padding:18px 0 0 14px;position:relative;border:1px solid #ddd;border-top-width:0;}
#boost_crew .crew_content_box .area_body .btn{position:absolute;left:0;bottom:0;}
#boost_crew .crew_content_box .area_body .btn a{
	width:204px;
	height:28px;
	padding:15px 0 0 15px;
	display:block;
	float:left;
	font:bold 12px 'gulim';
	color:#fff;
	background:#d84d4d url(http://image.adidas.co.kr/images/adidas/event/boost/bg_arrow_wht_red.gif) 192px 15px no-repeat;
	border-top:1px dotted #b64748;
}
#boost_crew .crew_content_box .area_body .btn a.last{width:203px;height:28px;float:left;border-left:1px dotted #fff;}

#boost_crew .crew_desc{
	height:30px;
	padding-top:18px;
	margin-top:30px;
	text-align:center;
	background:#f7f7f7;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	color:#888;
	font-weight:bold;
}