@charset "utf-8";
@import url('adidas.css');

#club {font:normal 11px 'arial';}

/* sub location  */
#club div.location {border-top:3px solid #e5e5e5;height:57px;padding:0 0 0 10px;}
#club div.location span {color:#86888c;margin-top:20px;font-family:'dotum','돋움';}
#club div.location span em {font-family:arial;}
#club div.location div.language {float:right;display:inline;margin:23px 8px 0 0;}
#club div.location div.language p {float:left;display:inline;margin-right:7px;}
#club div.location div.language ul {float:left;}
#club div.location div.language ul li {float:left;display:inline;margin-right:6px;}
#club #snb {float:left;border-top:2px solid #646464;padding-bottom:50px;}

#snb dl.club {border-left:1px solid #c4c4c4;border-right:1px solid #c4c4c4;border-bottom:1px solid #bcbcbc;margin-bottom:10px;}
#snb dl.club dt {border-bottom:1px solid #eeeff0;height:49px;}
#snb dl.club dt img {margin:15px 0 0 14px;}
#snb dl.club dt.last {border-bottom:none;}
#snb dl.club dd {border-top:1px solid #e1e1e1;border-bottom:1px solid #eeeff0;padding:9px 0 8px 15px;margin:-1px 0 0;background-color:#f9f9f9;}
#snb dl.club dd.last {border-bottom:none;}
#snb dl.club dd ul li {background:url(//image.adidas.co.kr/images/adidas/common/blt_left_list2.gif) no-repeat left 9px;color:#999;font-size:11px;line-height:20px;padding-left:7px;_padding-left:6px;letter-spacing:0;}
#snb dl.club dd ul li.on {background:url(//image.adidas.co.kr/images/adidas/common/blt_left_list2.gif) no-repeat left 9px;color:#ec0000;font-weight:bold;}
#snb dl.club dd ul li a {color:#999;}
#snb dl.club dd ul li.on a {color:#6a6a6a;font-weight:bold;}

#snb div.notice {border-top:1px solid #bcbcbc;border-left:1px solid #c4c4c4;border-right:1px solid #c4c4c4;border-bottom:1px solid #bcbcbc;}
#snb div.notice dl {margin:0;}
#snb div.notice dl dt {height:41px;background-color:#f9f9f9;border-bottom:1px solid #e6e6e6;}
#snb div.notice dl dt img.tit {float:left;display:inline;margin:13px 0 0 14px;}
#snb div.notice dl dt img.more {float:right;display:inline;margin:17px 15px 0 0;}
#snb div.notice dl dd {background:url(//image.adidas.co.kr/images/adidas/club/bg_grid.gif) repeat-x left bottom;height:52px;}
#snb div.notice dl dd p {font-size:11px;padding:12px 0 0 15px;letter-spacing:-1px;}
#snb div.notice dl dd.last {background:none;}

#club div.club_flasharea {float:right;width:700px;text-align:right;}
#club div.club_area {float:right;width:680px;padding:17px 0 35px;_height:1%; margin-right:10px;}
#club div.club_area h3 {clear:both;margin-bottom:10px;}
#club div.club_area h4 {clear:both;margin-bottom:15px;padding-top:5px;}
#club div.club_webzine {float:right;width:700px;}
#club p.copy {margin-bottom:20px;}
#club div.paging {margin:20px 0 0;}
#club div.button {margin:10px 10px 0 0;text-align:right;}
#club div.button2 {margin:15px 20px 0 0;text-align:right;}

table.benefit {width:100%;border-top:2px solid #979797;}
table.benefit tr th {background-color:#f2f2f2;border-bottom:1px solid #c3c3c3;border-right:1px solid #dbdbdb;padding:9px 0;text-align:center;}
table.benefit tr th.kind {background-color:#fff;border-bottom:1px solid #dbdbdb;border-right:1px solid #dbdbdb;padding:17px 0 16px 20px;text-align:left;}
table.benefit tr th.last, table.benefit tr td.last {border-right:none;}
table.benefit tr td {padding:10px 0 8px 10px;border-bottom:1px solid #dbdbdb;border-right:1px solid #dbdbdb;}
table.benefit tr td strong {font-family:arial,돋움;letter-spacing:0;}
table.benefit tr td ul.desc_list {margin:10px 0 0 4px;}
table.benefit tr td ul.desc_list li {background:url(//image.adidas.co.kr/images/adidas/club/blt_list_tbl.gif) no-repeat left 5px;padding-left:8px;line-height:14px;font-size:11px;}

ul.desc_list {margin:15px 0 0;}
ul.desc_list li {background:url(//image.adidas.co.kr/images/adidas/club/blt_list.gif) no-repeat left 8px;padding-left:10px;line-height:18px;font-size:12px;}

div.step {margin-bottom:28px;}
div.step dl {background:url(//image.adidas.co.kr/images/adidas/club/bg_grid.gif) repeat-x left bottom;padding:20px 0;_height:1%;}
div.step dl:after {content:"."; display:block; height:0; font-size:0; clear:both; visibility:hidden;}
*:first-child+html div.step dl {height:1%;}
div.step dl dt {float:left;}
div.step dl dd {float:left;color:#555;padding:0 0 0 20px;font-size:12px;}
div.step dl dd strong {color:#010101;margin-bottom:5px;}
div.step dl dd ul {margin:10px 0 0;}
div.step dl dd ul li {color:#777;letter-spacing:-0.4px;line-height:16px;}
div.lastspace {margin-bottom:0;}

div.campagin {position:relative;margin-top:40px;}
div.campagin a {display:block;width:40px;height:16px;position:absolute;text-indent:-5000px;background:url(//image.adidas.co.kr/images/adidas/club/bg_area.gif) repeat;}
div.campagin a.more1 {top:143px;left:66px;}
div.campagin a.more2 {top:112px;left:192px;}
div.campagin a.more3 {top:168px;left:337px;}
div.campagin a.more4 {top:123px;left:514px;}

div.adi_list {background:url(//image.adidas.co.kr/images/adidas/club/bg_th_bar.gif) no-repeat;}
div.adi_list table {width:100%;border-bottom:1px solid #979797;}
div.adi_list table tr th {background:url(//image.adidas.co.kr/images/adidas/common/bg_line.gif) no-repeat right 10px;height:31px;color:#fff;line-height:31px;text-align:center;font-family:arial;font-size:13px;letter-spacing:0;}
div.adi_list table tr th.last {background:none;}
div.adi_list table tr td {background:#fff url(//image.adidas.co.kr/images/adidas/club/bg_grid02.gif) repeat-x left top;color:#777;padding:10px 0 8px;text-align:center;font-size:12px;}
div.adi_list table tr td.view {background:none;padding:10px 0;}
div.adi_list table tr td.detail {background:none;padding:20px;text-align:left;line-height:18px;}
div.adi_list table tr td.sub {padding:10px 0 8px 10px;text-align:left;}
div.adi_list table tr td.sub a {color:#777;}
div.adi_list table tr td.sub span {background:url(//image.adidas.co.kr/images/adidas/club/blt_arrow.gif) no-repeat left 5px;padding-left:10px;}
div.adi_list table tr.over_color td {color:#333;background:#f2f2f2 url(//image.adidas.co.kr/images/adidas/club/bg_grid02.gif) repeat-x left top;}
div.adi_list table tr.over_color td.sub a {color:#333;}
div.adi_list table tr.out_color td {background:#fff url(//image.adidas.co.kr/images/adidas/club/bg_grid02.gif) repeat-x left top;}
div.adi_list table tr td.lastrow {padding-bottom:7px;}

div.this_month {margin:35px 0;_height:1%;}
div.this_month:after {content:"."; display:block; height:0; font-size:0; clear:both; visibility:hidden;}
*:first-child+html div.this_month {height:1%;}
div.this_month div.desc {float:left;}
div.this_month div.desc p {margin-bottom:25px;}
div.this_month div.desc ul {margin-bottom:15px;}
div.this_month div.desc ul li a {background:url(//image.adidas.co.kr/images/adidas/club/blt_list_arrow.gif) no-repeat 1px 4px;color:#888;padding-left:13px;line-height:20px;font-size:12px;}
div.this_month div.desc ul li a:hover {background:url(//image.adidas.co.kr/images/adidas/club/blt_list_arrow_on.gif) no-repeat 1px 4px;color:#333;font-weight:bold;letter-spacing:0;}
div.this_month div.pic {float:right;}

div.prev_month {height:20px;padding-bottom:20px;clear:both;}
div.prev_month div.combo11 {float:right;}
div.prev_month div.combo11 {width:145px;margin:0;}
div.prev_month div.combo11 ul {width:143px;}
div.prev_month div.combo11 span.tit {height:14px;padding:4px 0 0 6px;letter-spacing:-1px;}

div.webzine_list {position:relative;background:url(//image.adidas.co.kr/images/adidas/club/bg_grid.gif) repeat-x left bottom;padding:30px 0 31px;_height:1%;clear:both;}
div.webzine_list p.month {position:absolute;right:0;bottom:31px;}
div.webzine_list:after {content:"."; display:block; height:0; font-size:0; clear:both; visibility:hidden;}
*:first-child+html div.webzine_list {height:1%;}
div.webzine_list dl {clear:both;}
div.webzine_list dl dt {float:left;border:1px solid #c4c4c4;padding:3px;width:95px;height:95px;_overflow:hidden;}
div.webzine_list dl dd {float:left;margin:0 0 0 17px;}
div.webzine_list dl dd p {font-size:12px;color:#555;font-weight:bold;letter-spacing:-1px;margin:5px 0 8px;letter-spacing:0;}
div.webzine_list dl dd ul li {background:url(//image.adidas.co.kr/images/adidas/club/blt_arrow02.gif) no-repeat left 8px;color:#777;padding-left:10px;line-height:18px;}
div.webzine_list dl dd ul li a {color:#777;font-family:arial;}
div.webzine_list dl dd span {position:absolute;left:118px;top:118px;}
div.topline {border-top:1px solid #c6c6c6;}

div.webzine_view {margin-bottom:3px;}

div.select_btn {padding-left:5px;margin-bottom:10px;text-align:center;height:11px;_overflow:hidden;}
div.select_btn ul {display:inline;margin:0 auto;}
div.select_btn ul li {display:inline;width:10px;margin:0 1px 0 0;overflow-x:hidden;}

div.pic_list {margin-bottom:40px;_height:1%;}
div.pic_list:after {content:"."; display:block; height:0; font-size:0; clear:both; visibility:hidden;}
*:first-child+html div.pic_list {height:1%;}
div.pic_list dl {float:left;display:inline;width:120px;margin-right:15px;}
div.pic_list dl dt {width:120px;height:75px;position:relative;}
div.pic_list dl dt img {margin:1px;}
div.pic_list dl dt a {display:block;width:120px;height:75px;background:url(//image.adidas.co.kr/images/adidas/club/bg_border.gif) no-repeat left top;position:absolute;left:0;top:0;text-indent:-5000px;}
div.pic_list dl dt a:hover {background:url(//image.adidas.co.kr/images/adidas/club/bg_border_on.gif) no-repeat left top;}
div.pic_list dl dd {color:#999;text-align:center;padding-top:8px;}
div.pic_list dl dd a {color:#999;}
div.pic_list dl dd a:hover {color:#333;}
div.pic_list dl.on dt a {background:url(//image.adidas.co.kr/images/adidas/club/bg_border_on.gif) no-repeat left top;}
div.pic_list dl.on dd a {color:#333;}

div.infomation {width:660px;border-top:1px solid #c6c6c6;border-bottom:1px solid #c6c6c6;}

div.prev_next {width:660px;margin:20px 0 0;}
div.prev_next p {height:22px;padding:11px 0 0 27px;}
div.prev_next p a {color:#777;font-size:12px;}
div.prev_next p a:hover {color:#555;font-weight:bold;letter-spacing:0;}
div.prev_next p.prev {background:url(//image.adidas.co.kr/images/adidas/club/bg_prev_line.gif) no-repeat left top;}
div.prev_next p.next {background:url(//image.adidas.co.kr/images/adidas/club/bg_next_line.gif) no-repeat left top;margin-top:-1px;}

