@charset "utf-8";
/* 874_876 ZX START*/
div.event_dt_tab{height:30px;margin-bottom:4px;}
div.event_dt_tab li{float:left;margin-right:4px;}
div.event_dt_tab li a{display:block;width:294px;height:30px;text-indent:-5000px;}

div.event_dt_tab li.tab1 a{background:url(//image.adidas.co.kr/images/adidas/event/btn_event_zx_tab1.gif) 0 0 no-repeat;}
div.event_dt_tab li.tab2 a{background:url(//image.adidas.co.kr/images/adidas/event//btn_event_zx_tab2.gif) 0 0 no-repeat;}
div.event_dt_tab li.tab3 a{background:url(//image.adidas.co.kr/images/adidas/event//btn_event_zx_tab3.gif) 0 0 no-repeat;}

div.event_dt_tab li.tab1 a.on{background:url(//image.adidas.co.kr/images/adidas/event//btn_event_zx_tab1_on.gif) 0 0 no-repeat;}
div.event_dt_tab li.tab2 a.on{background:url(//image.adidas.co.kr/images/adidas/event//btn_event_zx_tab2_on.gif) 0 0 no-repeat;}
div.event_dt_tab li.tab3 a.on{background:url(//image.adidas.co.kr/images/adidas/event//btn_event_zx_tab3_on.gif) 0 0 no-repeat;}

div.event_dt_tab li.last{margin-right:0;}

div.event_contents_wrap{width:890px;height:423px;margin-bottom:5px;overflow:hidden;position:relative;}
div.event_contents1,div.event_contents2,div.event_contents3{position:absolute;top:0;left:0;}


div.arrow_left_event{position:absolute;top:180px;left:0;z-index:25;}
div.arrow_left_event a{display:block;width:26px;height:26px;background:url(//image.adidas.co.kr/images/adidas/event//btn_event_left.gif) 0 0 no-repeat;text-indent:-5000px;}
div.arrow_left_event a:hover{background:url(//image.adidas.co.kr/images/adidas/event/btn_event_left_on.gif) 0 0 no-repeat;}

div.arrow_right_event{position:absolute;top:180px;left:864px;z-index:25;}
div.arrow_right_event a{display:block;width:26px;height:26px;background:url(//image.adidas.co.kr/images/adidas/event/btn_event_right.gif) 0 0 no-repeat;text-indent:-5000px;}
div.arrow_right_event a:hover{background:url(//image.adidas.co.kr/images/adidas/event/btn_event_right_on.gif) 0 0 no-repeat;}

div.event_contents{width:2670px;height:423px;position:absolute;top:0;left:0;z-index:8;}

div.event_contents1{float:left;}
div.event_contents2{float:left;}
div.event_contents3{float:left;}

div.event_contents2 div.event_background{width:890px;height:423px;position:absolute;top:0;left:0;background:url(//image.adidas.co.kr/images/adidas/event/event_bg.jpg) 0 0 
no-repeat;z-index:20;}

div.event_contents2 div.prod_wrap{width:2670px;height:423px;position:absolute;top:0;left:0;z-index:23;}
div.prod_wrap div.prod_cont{width:890px;height:423px;float:left;position:relative;}
div.prod_wrap div.prod_cont div.prod{position:absolute;top:0;left:0;}

div.prod_desc1,div.prod_desc2,div.prod_desc3{width:277px;height:148px;position:absolute;top:45px;left:9px;background-color: transparent;}

div.event_contents3 div.list_wrap{width:890px;height:423px;position:relative;z-index:23;}
div.event_contents3 div.list_wrap div.image_list{position:absolute;top:0;left:1000px;}
/* 874_876 ZX END*/



/*F50 START*/
div.event_f50_1{width:890px;height:860px;position:relative;background:url(//image.adidas.co.kr/images/adidas/event/bg_f50_event1.jpg) 0 0 no-repeat;}
div.event_f50_1 div.f50_1_cont{width:436px;height:321px;position:absolute;left:408px;top:309px;}
div.f50_movie_wrap{width:389px;height:240px;margin:23px 0 6px 24px;}

div.f50_movie1,div.f50_movie2{width:389px;height:240px;}

div.f50_movie_tab{width:436px;height:54px;}
div.f50_movie_tab li{float:left;}
div.f50_movie_tab li a{display:block;text-indent:-5000px;}
div.f50_movie_tab li#tab1 a{width:219px;height:54px;background:url(//image.adidas.co.kr/images/adidas/event/tab_f50_video1_off.jpg) 0 0 no-repeat;}
div.f50_movie_tab li#tab1 a.on{background:url(//image.adidas.co.kr/images/adidas/event/tab_f50_video1.jpg) 0 0 no-repeat;}
div.f50_movie_tab li#tab2 a{width:217px;height:54px;background:url(//image.adidas.co.kr/images/adidas/event/tab_f50_video2_off.jpg) 0 0 no-repeat;}
div.f50_movie_tab li#tab2 a.on{background:url(//image.adidas.co.kr/images/adidas/event/tab_f50_video2.jpg) 0 0 no-repeat;}


div.event_f50_2{width:890px;height:480px;background:url(//image.adidas.co.kr/images/adidas/event/bg_f50_event2.jpg) 0 0 no-repeat;}
div.f50_slide_tab{width:810px;height:44px;padding:73px 0 0 43px;}
div.f50_slide_tab li{float:left;}
div.f50_slide_tab li a{display:block;width:270px;height:44px;text-indent:-5000px;}
div.f50_slide_tab li#tab_slide1 a{background:url(//image.adidas.co.kr/images/adidas/event/tab_f50_slide1_off.jpg) 0 bottom no-repeat;}
div.f50_slide_tab li#tab_slide2 a{background:url(//image.adidas.co.kr/images/adidas/event/tab_f50_slide2_off.jpg) 0 bottom no-repeat;}
div.f50_slide_tab li#tab_slide3 a{background:url(//image.adidas.co.kr/images/adidas/event/tab_f50_slide3_off.jpg) 0 bottom no-repeat;}
div.f50_slide_tab li#tab_slide1 a.on{background:url(//image.adidas.co.kr/images/adidas/event/tab_f50_slide1.jpg) 0 0 no-repeat;}
div.f50_slide_tab li#tab_slide2 a.on{background:url(//image.adidas.co.kr/images/adidas/event/tab_f50_slide2.jpg) 0 0 no-repeat;}
div.f50_slide_tab li#tab_slide3 a.on{background:url(//image.adidas.co.kr/images/adidas/event/tab_f50_slide3.jpg) 0 0 no-repeat;}

div.f50_slide_wrap{width:890px;height:327px;position:relative;overflow:hidden;}
div.f50_arrow_left{position:absolute;top:117px;left:49px;z-index:15;}
div.f50_arrow_left a{display:block;width:37px;height:73px;background:url(//image.adidas.co.kr/images/adidas/event/btn_f50_left.png) 0 0 no-repeat;text-indent:-5000px;}
div.f50_arrow_left a.off{background:url(//image.adidas.co.kr/images/adidas/event/btn_f50_left_off.png) 0 0 no-repeat;}
div.f50_arrow_right{position:absolute;top:117px;right:49px;z-index:15;}
div.f50_arrow_right a{display:block;width:37px;height:73px;background:url(//image.adidas.co.kr/images/adidas/event/btn_f50_right.png) 0 0 no-repeat;text-indent:-5000px;}
div.f50_arrow_right a.off{background:url(//image.adidas.co.kr/images/adidas/event/btn_f50_right_off.png) 0 0 no-repeat;}
div.f50_slide_wrap div.f50_slide_contents{width:2670px;height:327px;position:absolute;left:0;top:0;z-index:10;}
div.f50_slide_wrap div.f50_slide_contents div{width:890px;float:left;}

div.f50_map{width:890px;height:33px;padding-top:3px;}
div.f50_map a{float:left;display:block;width:444px;height:33px;text-indent:-5000px;}
/*F50 END*/