
a:focus{
    outline: none ;
}

.clearfix {
    zoom:1;
}

.clearfix::before{
    content: "";
    display: table;
    box-sizing: border-box;
    outline: 0;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
    box-sizing: border-box;
    outline: 0;
}

.nps-survey {
	border-top:1px dotted #c8cbcc;
	border-bottom:1px dotted #c8cbcc;
	padding:30px 0 27px;
	margin:14px 0;

}
.nps-survey-title {
	margin-bottom:12px;
    text-align: center;
    font:700 26px 'NotoSansKR';
    color:#000;
}

.nps-survey-title span{
    font:500 12px 'NotoSansKR';
    color:#0286cd;
    letter-spacing: -0.5px;
}

.nps-survey-description {
    text-align: center;
    font:400 12px 'NotoSansKR';
    color: #333333;
    text-align: center;
    letter-spacing: -0.5px;
}
.nps-rate-scale {
    overflow: hidden;
	margin:19px 0 0;
}
.nps-rate-scale .item {
	float:left;
	width:58px;
	position:relative;
}
.nps-rate-scale .item:first-child {
	width:40px;
}
.nps-rate-scale .item a {
	width:40px;
	height:40px;
	display:block;
	border:3px solid #f2f2f2;
	float:right;
	text-align:center;
	border-radius:50%;
	font:22px/36px 'adiNeueBold',Arial,Helvetica,Verdana,sans-serif;
	color:#0086cd;
    box-sizing: border-box;
    cursor: pointer;
}
.nps-rate-scale a:hover,.nps-rate-scale a:focus {
	text-decoration:none;
	background:#0086cd;
	color:#fff;
	border-color:#0086cd;
}
.nps-rate-scale .item:before {
	content:'';
	display:block;
	height:3px;
	width:18px;
	background:#f2f2f2;
	position:absolute;
	left:0;
	top:18px;
}
.nps-rate-scale .item:first-child:before {
	display:none;
}
.nps-rate-unlikely {
	color:#bfbfbf;
	float:left;
}
.nps-rate-likely {
	color:#bfbfbf;
	float:right;
}

.nps-rate {
    margin-top: 10px;
}

.nps-rate div{
    color:#999999;
}

.nps-survey-disclaimer {
	color:#bfbfbf;
	font:300 11px/15px 'NotoSansKR';
	margin:22px -0px 0;
}
.nps-survey .nps-survey-disclaimer a {
	color:#0286cd;
}
