@charset "utf-8";
@import url('//image.adidas.co.kr/css/adidas/order_r.css');
@import url('//image.adidas.co.kr/css/adidas/popup_r.css');
@import url('//image.adidas.co.kr/css/adidas/customer_r.css');
@import url('//image.adidas.co.kr/css/adidas/mypage_r.css');
@import url('//image.adidas.co.kr/css/adidas/cscenter_r.css');
@import url('//image.adidas.co.kr/css/adidas/search_r.css');
@import url('//image.adidas.co.kr/css/adidas/clear: both;_r.css');
@import url('//image.adidas.co.kr/css/adidas/event_r.css');
@import url('//image.adidas.co.kr/css/adidas/fonts.css');
@import url('//fonts.googleapis.com/earlyaccess/nanumgothic.css');
/*btn arrow*/
.arrow_icon{
    display: inline-block;
    background: url("http://image.adidas.co.kr/images/adidas/club/runbase/ico_16.png") 0 0 no-repeat;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    background-size: 100% 100%;
}
/* header */
#runbase #runbase_header{
    position: absolute;
    top: 0px;
    background: #000;
    width: 100%;
    z-index: 1;
}

#runbase #runbase_header.fixed{
    position: fixed;
    top:0;
    width:100%;
    z-index: 50;
}

#runbase #runbase_header .runbase_header_inner{
    border-top:1px solid #202020;
}

#runbase #runbase_header .logo{
    padding-top: 18px;
    float:left;
}

#runbase #runbase_header .runbase_gnb{
    float:right;
    margin-left: 43px;
}

#runbase #runbase_header .runbase_gnb>ul>li{
    float:left;
}

#runbase #runbase_header .runbase_gnb>ul>li>a{
    display: block;
    padding: 42px 25px 20px;
    text-align: center;
}

#runbase #runbase_header .runbase_gnb>ul>li>a.last{
    padding-right: 0px;
}

#runbase #runbase_header .runbase_gnb>ul>li.active a span{
    color: #fff;
}

#runbase #runbase_header .runbase_gnb>ul>li>a strong{
    display: block;
    font:15px 'adinenuPro-bold';
    color:#ee265c;
    text-align: center;
}

#runbase #runbase_header .runbase_gnb>ul>li>a span{
    font: 12px 'NotosansKRLight';
    color:#ddd;
}

/* container */
#runbase #runbase_container{}

#runbase #runbase_container.main{
    padding-top: 99px;
}

#runbase #runbase_container.map{
    padding-top: 99px;
}

#runbase #runbase_container.map .runbase_inner .title{
    background: rgba(0,0,0,0,0.5);
    border-top:1px solid rgba(233,233,233,0.11);
    border-bottom:1px solid rgba(233,233,233,0.11);
}

#runbase #runbase_container.map .runbase_inner .title h2{
    padding: 35px 0;
}

#runbase #runbase_container.map .runbase_inner .course{
    padding-top: 44px;
}

#runbase #runbase_container .runbase_main{
    background: #000;
}

#runbase #runbase_container .runbase-btn{
    height: 70px;
    background: #ee265c;
}

#runbase #runbase_container .runbase-btn span{
    font: 18px/70px 'NotoSansKRBold','Nanum Gothic';
}

#runbase #runbase_container .runbase_main .runbase_desc{
    text-align: center;
    font:16px 'NotosansKRLight', 'Nanum Gothic';
    color:#fff;
}

#runbase #runbase_container .runbase_inner .runbase_desc{
    text-align: center;
    font:16px 'NotosansKRLight', 'Nanum Gothic';
    color:#fff;
}

#runbase #runbase_container .runbase_main .main_visual{
    position: relative;
    height: 520px;
    overflow: hidden;
}

#runbase #runbase_container .runbase_main .main_visual .main_visual_bg{
    position: absolute;
    top:0;
    left:50%;
    margin-left: -960px;
}

#runbase #runbase_container .runbase_main .runbase_about .title{
    display: inline-block;
    padding-top: 70px;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
}

#runbase #runbase_container .runbase_main .runbase_about .title h3{
    display: inline-block;
    font:36px/36px 'adinenuPro-black';
    color:#fff;
    text-align: center;

}

#runbase #runbase_container .runbase_main .runbase_about .title p{
    text-align: center;
    padding: 20px 0 40px;
    font:36px/36px 'adinenuPro-black';
}

#runbase #runbase_container .runbase_main .runbase_about .title h3:after{
    content: '';
    display: block;
    width:100%;
    height:4px;
    background: #ee265c;
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox{
    background-size: 1920px 100%;
    background-repeat: no-repeat;
    background-position: top center;

}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about1{
    background-image:url("http://image.adidas.co.kr/images/adidas/club/runbase/about_info_box1_bg.jpg");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='/images/adidas/club/runbase/about_info_box1_bg.jpg',
        sizingMethod='scale');
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about2{
    background-image:url("http://image.adidas.co.kr/images/adidas/club/runbase/about_info_box2_bg.jpg");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='/images/adidas/club/runbase/about_info_box2_bg.jpg',
        sizingMethod='scale');
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about2.preOpen{
    background-image:url("http://image.adidas.co.kr/images/adidas/club/runbase/about_info_box2_bg_prevOpen.jpg");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='/images/adidas/club/runbase/about_info_box2_bg_prevOpen.jpg',
        sizingMethod='scale');
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about3{
    background-image:url("http://image.adidas.co.kr/images/adidas/club/runbase/about_info_box3_bg.jpg");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='/images/adidas/club/runbase/about_info_box3_bg.jpg',
        sizingMethod='scale');
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about4{
    background-image:url("http://image.adidas.co.kr/images/adidas/club/runbase/about_info_box4_bg.jpg");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='/images/adidas/club/runbase/about_info_box4_bg.jpg',
        sizingMethod='scale');
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about5{
    background-image:url("http://image.adidas.co.kr/images/adidas/club/runbase/about_info_box5_bg.jpg");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='/images/adidas/club/runbase/about_info_box5_bg.jpg',
        sizingMethod='scale');
}

#runbase #runbase_container .runbase_main .runbase_about .slider_wrap{
    position: relative;
    text-align: center;
}

#runbase #runbase_container .runbase_main .runbase_about .slider_wrap .arrow{
    position: absolute;
    left:0;
    top:50%;
    width: 100%;
    margin-top: -60px;
}

#runbase #runbase_container .runbase_main .runbase_about .slider_wrap .arrow>a{
    position: absolute;
    display: inline-block;
    width:28px;
    height:53px;
    background:url("http://image.adidas.co.kr/images/adidas/club/runbase/slide_arrow.png") no-repeat;
    background-position: 0 0;
    text-indent: -99999px;
}

#runbase #runbase_container .runbase_main .runbase_about .slider_wrap .arrow a.next-button{
    right:0;
    background-position: 100% 0;
}

#runbase #runbase_container .runbase_main .runbase_about .slider_wrap .indicator{
    display: block;
    padding: 30px 0;
    text-align: center;
}

#runbase #runbase_container .runbase_main .runbase_about .slider_wrap .indicator>a{
    display: inline-block;
    margin: 0 4px;
    width:13px;
    height:13px;
    background:#666;
    border-radius: 50px;
    -ms-border-radius: 50px;
}

#runbase #runbase_container .runbase_main .runbase_about .slider_wrap .indicator>a.on{
    background: #ee265c;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase_desc{
    padding-bottom: 25px;
    line-height: 25px;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase_desc span{
    position: relative;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase_desc span:after{
    position: absolute;
    bottom:0;
    left:0;
    content: '';
    display: inline-block;
    width: 100%;
    height:2px;
    background: #008675;
}

#runbase #runbase_container .runbase_schedule .selectbox-ctm{
    margin-bottom: 17px;
    margin-right: 397px;
    border:1px solid #008675;
    width: 160px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#runbase #runbase_container .runbase_schedule .selectbox-ctm .arrow{
    margin-top: -6px;
    width:14px;
    height:14px;
    background: url("http://image.adidas.co.kr/images/adidas/club/runbase/ico_arrow_down_green.png");
}

#runbase #runbase_container .runbase_schedule .selectbox-ctm a{
    background: none;
    color:#008675;
}

#runbase #runbase_container .runbase_schedule .box{
    margin-bottom: 12px;
    padding: 17px 0 17px 46px;
    border:1px dotted #008675;
    background: url("http://image.adidas.co.kr/images/adidas/club/runbase/about_schedule_box_bg.png");
    background:rgba(0,134,117,0.25);
}

#runbase #runbase_container .runbase_schedule .box:last-child{
    margin-bottom: 0;
}

#runbase #runbase_container .runbase_schedule .box .date{
    display: inline-block;
    float: left;
    text-align: center;
    width:44px;
}

#runbase #runbase_container .runbase_schedule .box .date>span{
    display: inline-block;
    width:44px;
    height:44px;
    background: #ee265c;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -ms-border-radius: 50px;
    text-align: center;
    font:24px/51px 'adihausDIN-Cond-medium';
    color:#fff;
}
#runbase #runbase_container .runbase_schedule .box .date p{
    padding-top: 6px;
    text-align: center;
    font:14px/14px 'adihaus';
    color:#fff;

}

#runbase #runbase_container .runbase_schedule .box .course{
    display: inline-block;
    float:left;
    margin-left: 36px;
}

#runbase #runbase_container .runbase_schedule .box .course ul li{
    position: relative;
    margin-bottom: 22px;
}

#runbase #runbase_container .runbase_schedule .box .course ul li .link{
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

#runbase #runbase_container .runbase_schedule .box .course ul li.mt15{
    padding: 15px 0 0 0;
}

#runbase #runbase_container .runbase_schedule .box .course ul li:last-child{
    margin-bottom: 0px;
}

#runbase #runbase_container .runbase_schedule .box .course ul li span{
    display: inline-block;
    text-align: center;
    width: 76px;
    height: 28px;
    border:1px solid #ee265c;
    background:#7b394f;
    color:#fff;
    font:14px/28px 'NotosansKRRegular';
    text-transform: uppercase;
    vertical-align: top;
}

#runbase #runbase_container .runbase_schedule .box .course ul li span.off{
    border:1px solid #008675;
    background:#2b5150;
}

#runbase #runbase_container .runbase_schedule .box .course ul li span.close{
    border:1px solid #777;
    background:rgba(119,119,119,0.3);
    color:#777;
}

#runbase #runbase_container .runbase_schedule .box .course ul li p{
    display: inline-block;
    padding: 0 0 0 16px;
    width: 495px;
    text-align: left;

}

#runbase #runbase_container .runbase_schedule .box .course ul li:hover p{
    background:rgba(0,129,113,0.25);
}

#runbase #runbase_container .runbase_schedule .box .course ul li:hover p{
    background:rgba(0,129,113,0.25);
}

#runbase #runbase_container .runbase_main .runbase_schedule .box .course ul li:hover p{
    background:rgba(0,129,113,0);
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about2{
    padding-bottom: 60px;
    background-size: 1920px auto;
}

#runbase #runbase_container .aboutbox.about2.preOpen .runbase_schedule .box{
    padding: 95px 0;
}

#runbase #runbase_container .aboutbox.about2.preOpen .runbase_schedule .runbase_desc{
    padding: 3px;
    font:20px/37px 'NotosansKRRegular','Nanum Gothic';
    color:#fff;
    text-align: center;
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about4{
    padding-bottom: 50px;
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about5{
    padding-bottom: 98px;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase-btn{
    margin: 40px auto 0;
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about2 .slider_wrap .arrow{
    margin-top: -56px;
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about3{
    padding-bottom: 25px;
}

/* sub page */
#runbase #runbase_container .runbase_inner{
    background-image:url("http://image.adidas.co.kr/images/adidas/club/runbase/map_course_bg.jpg");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='/images/adidas/club/runbase/map_course_bg.jpg',
        sizingMethod='scale');
    background-position: top center;
}

#runbase #runbase_container .runbase_inner.reserve{
    background-image:url("http://image.adidas.co.kr/images/adidas/club/runbase/res_bg.jpg");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='/images/adidas/club/runbase/res_bg.jpg',
        sizingMethod='scale');
    background-size:100% 100%;
}

#runbase #runbase_container .runbase_inner.reserve_program{
    background-image:url("http://image.adidas.co.kr/images/adidas/club/runbase/res_program_bg.jpg");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
        src='/images/adidas/club/runbase/res_program_bg.jpg',
        sizingMethod='scale');
    padding-bottom: 180px;
    background-size: 1920px 100%;
}

#runbase #runbase_container .runbase_inner .title{
    /*background: rgba(0,0,0,0.5);
    border-top:1px solid #332d35;
    border-bottom:1px solid #332d35;*/
}

#runbase #runbase_container .runbase_inner.reserve.reserve_program .title{
    border-bottom: 1px solid #3f3f3f;
}

#runbase #runbase_container .runbase_inner.reserve .title{
    padding: 44px 0;
    background: rgba(0,0,0,0);
    border:0px;
    text-align: center;
}

#runbase #runbase_container .runbase_inner .title p{
    text-align: center;
    font:16px/14px 'NotosansKRRegular';
    color:#fff;
}

#runbase #runbase_container .runbase_inner.reserve .title h2{
    padding: 33px 0 8px 0;
}

#runbase #runbase_container .runbase_inner.reserve .title .logo{
    float:left;
}

#runbase #runbase_container .runbase_inner.reserve .title .logo h2{
    position: relative;
    padding: 14px 0 22px 96px;
    text-align: left;
    background: url("http://image.adidas.co.kr/images/adidas/club/runbase/adiclub_sports_logo.png") no-repeat;
    background-position: left center;
}

#runbase #runbase_container .runbase_inner.reserve .title .logo h2 a{
    width: 100%;
    display: inline-block;
    height: 72px;
    top: 0;
    position: absolute;
    left: 0;
    z-index: 1;
}

#runbase #runbase_container .runbase_inner.reserve .title h2 p{
    position: absolute;
    left:96px;
    bottom: 5px;
    text-align: left;
}

#runbase #runbase_container .adiclub_sports_menu{
    padding-top: 14px;
    float: right;
}

#runbase #runbase_container .adiclub_sports_menu .selectbox-ctm .select-contents{
    background: none;
    overflow: visible;
    border: 0px;
    top: 42px;
    left: -1px;
    /* width: 223px; */
    border: 1px solid #444;
    /* margin: 1px; */
    max-height: auto;
    padding: 1px 0;
}

#runbase #runbase_container .adiclub_sports_menu .selectbox-ctm>.select-contents ul{
    background: rgba(32,4,11,0.9);
    text-align: center;
    overflow: hidden;
}

#runbase #runbase_container .adiclub_sports_menu .selectbox-ctm>.select-contents li{
    height: 37px;
    display: inline-block;
    width: 219px;
}

#runbase #runbase_container .adiclub_sports_menu .selectbox-ctm>.select-contents li a{
    height: 37px;
    width: 219px;
    font: 15px/37px 'adinenuPro-bold','NotosansKR';
    border-bottom: 1px solid rgba(0,0,0,0);
    color: #d8d8d8;
    display: inline-block;
}

#runbase #runbase_container .adiclub_sports_menu .selectbox-ctm>.select-contents li a span{
    font:15px 'NotosansKRRegular';
}

#runbase #runbase_container .adiclub_sports_menu .selectbox-ctm .arrow_icon{
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 20px;
    background: url('/images/adidas/club/runbase/ico_gray_16.png') 0 0 no-repeat;

}

#runbase #runbase_container .adiclub_sports_menu .selectbox-ctm .select-contents.option-list li a:hover{
    background: #d8d8d8;
    color: #000;
}

#runbase #runbase_container .adiclub_sports_menu .selectbox-ctm{
    width: 223px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border:1px solid #444;
}

#runbase #runbase_container .adiclub_sports_menu .selectbox-ctm>a{
    background: none;
    font:15px/48px 'adinenuPro-bold','NotosansKR';
    color:#d8d8d8;
}

#runbase #runbase_container .runbase_inner.reserve .user_information{
    padding: 15px 0;
    border-top:1px solid rgba(66,66,66,0.3);
    border-bottom:1px solid rgba(66,66,66,0.3);
    background: url("http://image.adidas.co.kr/images/adidas/club/runbase/res_title_bg.png");
}

#runbase #runbase_container .runbase_inner .title h2{
    text-align: center;
    padding: 33px 0 8px 0;
    font: 36px/36px 'adinenuPro-black';
    color:#fff;
}

#runbase #runbase_container .runbase_inner .course .k_course{
    padding: 0px 0 25px;
}

#runbase #runbase_container .runbase_inner .course .k_course ul{
    display: inline-block;
}

#runbase #runbase_container .runbase_inner .course .k_course ul li{
    position: relative;
    float:left;
    margin-right: 15px;
    width:60px;
    height: 57px;
}

#runbase #runbase_container .runbase_inner .course .k_course ul li:hover a{
    color:#fff;
}

#runbase #runbase_container .runbase_inner .course .k_course ul li:active a{
    color:#fff;
}

#runbase #runbase_container .runbase_inner .course .k_course ul li:hover span{
    width: 100%;
    height: 100%;
    background: #ed265d;
}

#runbase #runbase_container .runbase_inner .course .k_course ul li a{
    position: relative;
    display: inline-block;
    width:57px;
    height: 57px;
    border-radius: 50px;
    -ms-border-radius: 50px;
    -webkit-border-radius: 50px;
    font:20px/59px 'adinenuPro-black';
    color:#ed265d;
    border:1px solid rgba(237, 38, 93, .5);
    text-align: center;
    overflow: hidden;
    z-index: 10;
}

#runbase #runbase_container .runbase_inner .course .k_course ul li span{
    display: inline-block;
    width:0;
    height:0;
    border-radius: 50px;
    -ms-border-radius: 50px;
    -webkit-border-radius: 50px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transition: all 0.2s;
    -ms-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    z-index: 0;
}

#runbase #runbase_container .runbase_inner .course .k_course ul li.on a{
    background: #ed265d;
    border:1px solid #ed265d;
    color:#fff;
}

#runbase #runbase_container .runbase_inner .course .k_course .runbase-btn{
    float: right;
    height: 46px;
    background: #008171;
}

#runbase #runbase_container .runbase_inner .course .k_course .runbase-btn>span{
    font: 12px/46px 'NotoSansKRRegular','Nanum Gothic';
    margin-left: -15px !important;
}

#runbase #runbase_container .runbase_inner .course .k_course_content{
    position: relative;
    height:400px;
    width:950px;
    padding-bottom: 88px;
}

#runbase #runbase_container .runbase_inner .course .k_course_content ul li{
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
}

#runbase #runbase_container .runbase_inner .course .k_course_content ul li.on{
    opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
}

#runbase #runbase_container .runbase_inner .course .k_course_content ul li.ieold{
    display: block !important;
}

#runbase #runbase_container .runbase_inner.reserve .user_information ul>li{
    float: left;
    padding:0 30px;
    border-right: 0px;
}

#runbase #runbase_container .user_information.prelogin ul>li.btn{
    padding: 11px 0;
}

#runbase #runbase_container .user_information.prelogin ul>li.btn div a{
    width: 138px;
    height: 32px;
    background: #027dbf;
}

#runbase #runbase_container .user_information.prelogin ul>li.btn.sports_join div a{
    background: #000;
}

#runbase #runbase_container .user_information.prelogin ul>li.btn div a span{
    font-size: 13px;
    color:#fff;
    line-height: 32px;
}

#runbase #runbase_container .user_information.prelogin .arrow_icon{
    margin-left: 6px;
    position: relative;
    top: 2px;
}

#runbase #runbase_container .runbase_inner.reserve .user_information ul>li span{
    color:#ee265c;
}

#runbase #runbase_container .runbase_inner.reserve .user_information ul>li p{
    font:16px/26px 'NotosansKRLight';
    color:#fff;
    text-align: center;
}

#runbase #runbase_container .runbase_inner.reserve .user_information.prelogin ul>li p{
    font: 14px/53px 'NotosansKRLight';
}

#runbase #runbase_container .runbase_inner.reserve .user_information ul>li p.order{
    font-size:13px;
}

#runbase #runbase_container .runbase_inner.reserve .user_information ul>li.user p.user_id span{
    font:16px/26px 'adinenuPro-light';
}

#runbase #runbase_container .runbase_inner.reserve .user_information ul>li.user p{
    text-align: left;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

#runbase #runbase_container .runbase_inner.reserve .user_information ul>li.user p span{
    font:16px/26px 'NotosansKRBold';
}

#runbase #runbase_container .runbase_inner.reserve .user_information ul>li p span{
     font:22px 'adihaus-medium'
}

#runbase #runbase_container .runbase_inner.reserve .user_information ul>li div{
    position: relative;
    padding-right: 11px;
}

#runbase #runbase_container .runbase_inner.reserve .user_information ul>li div .link{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display: inline-block;
    z-index: 1;
}

#runbase #runbase_container .runbase_inner.reserve .user_information ul>li div.ie8{
    padding-right: 0px;
}

#runbase #runbase_container .runbase_inner.reserve .user_information ul>li.tit p{
    font-size: 25px;
    line-height: 56px;
}

#runbase #runbase_container .runbase_inner.reserve .user_information ul>li.tit{
    border-right: 1px solid #393134;
}

#runbase #runbase_container .runbase_inner.reserve .user_information ul>li.user{
    width:210px;
    padding-right: 60px;
    border-right: 1px solid #393134;
}

#runbase #runbase_container .runbase_inner.reserve .user_information ul>li.user div{
    padding-right: 0;
}

#runbase #runbase_container .runbase_inner.reserve .date .runbase_schedule{
    width:564px;
    float: left;
    display: inline-block;
}

#runbase #runbase_container .runbase_inner.reserve .date .runbase_schedule .runbase_desc{
    position: relative;
    font-size: 15px;
    width: 360px;
    padding: 8px 32px 8px 8px;
    margin-left: 8px;
}

#runbase #runbase_container .runbase_inner.reserve .date .runbase_schedule .runbase_desc:after{
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -8px;
    content: '';
    display: block;
    width:16px;
    height: 16px;
    background:url("http://image.adidas.co.kr/images/adidas/club/runbase/ico_16.png") no-repeat;
}

#runbase #runbase_container .runbase_schedule .select-contents{
    background: none;
    border: 1px solid #008675;
    overflow: visible;
    top: 42px;
    left: -1px;
    width: 160px;
    min-height: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing:border-box;

}

#runbase #runbase_container .runbase_schedule .select-contents ul{
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    border-top: 1px solid #008675;
}

#runbase #runbase_container .runbase_schedule .select-contents li{
    height: 38px;
    width: 100%;
}

#runbase #runbase_container .runbase_schedule .select-contents li a{
    /*width: 100%;*/
    color: #008675;
    height: 38px;
    line-height: 38px;
    border-bottom: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing:border-box;
    border: 2px solid rgba(0,0,0,0.8);
    font: 13px/30px 'adihaus-bold','NotoSansKRRegular','Nanum Gothic';
}

#runbase #runbase_container .runbase_schedule .select-contents li a:hover{
    background: #008675;
    color:#000;
}

#runbase #runbase_container .runbase_inner.reserve .date .runbase_schedule .box{
    padding: 18px 0 18px 18px;
}

#runbase #runbase_container .runbase_inner.reserve .date .runbase_schedule .box .course{
    margin-left: 10px;
    /*width: 460px;*/
}

#runbase #runbase_container .runbase_inner.reserve .date .runbase_schedule .box .course ul li span{
    margin-top: 8px;
    width: 65px;
    font-size: 13px;
    line-height: 18.5px;
    height: 19px;
}

#runbase #runbase_container .runbase_inner.reserve .date .runbase_schedule .box .date>span{
    width:40px;
    height: 40px;
}

#runbase #runbase_container .runbase_inner .adihausdin{
    font: 16px 'adihaus-medium';
}

#runbase #runbase_container .runbase_inner.reserve_program h3{
    padding: 50px 0 15px;
    font:22px 'NotosansKRRegular';
}

#runbase #runbase_container .runbase_inner.reserve_program .program_con{
    width:798px;
    padding-top: 30px;
}

#runbase #runbase_container .runbase_inner.reserve_program .program{
    border-top: 1px solid rgba(255,255,255,0.4);
}

#runbase #runbase_container .runbase_inner.reserve_program .program p{
    padding: 18px 0 24px;
    text-align: center;
}

#runbase #runbase_container .runbase_inner.reserve_program .program span.bar{
    display: inline-block;
    width: 1px;
    height: 14px;
    background: #fff;
}

#runbase #runbase_container .runbase_inner.reserve_program .program p span{
    margin: 0 6px;
}

#runbase #runbase_container .runbase_inner.reserve_program .program p span.txt{
    margin: 0px;
}

#runbase #runbase_container .runbase_inner.reserve_program .program p .adihausdin{
    font-size: 18px;
    color:#fff;
}

#runbase #runbase_container .runbase_inner.reserve_program .program p .runbase_desc{
    font-size:18px;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .time_select{
    padding-bottom: 24px;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .time_select .adihausdin{
    font: 17px 'adihaus-bold';
}

#runbase #runbase_container .runbase_inner.reserve_program .program .time_select .runbase_desc{
    font-family: 'NotosansKRBold';
}

#runbase #runbase_container .runbase_inner.reserve_program .program .time_select li{
    float:left;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .time_select.ie7 li a{
    width:176px;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .time_select li.last a{
    margin-right: 0px;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .time_select li a{
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin-right: 26px;
    margin-bottom: 26px;
    width:180px;
    text-align: center;
    height: 50px;
    line-height: 46px;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .time_select li a.done{
    color:#444343;
    background: #131313;
    border:2px solid #202020;
    pointer-events: none;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .time_select li a.able{
    border:2px solid #ee265c;
    color:#ee265c;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .time_select li a.able:hover{
    background: #ee265c;
    color:#fff;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .time_select li a.offline{
    border:2px solid #01876f;
    color:#01876f;
    pointer-events: none;
}

/*#runbase #runbase_container .runbase_inner.reserve_program .program .time_select li a.offline:hover{
    background: #01876f;
    color:#fff;
}*/

#runbase #runbase_container .runbase_inner.reserve_program .program .program_info{
    padding: 0 30px;
    border-top: 1px dotted #008675;
    border-bottom: 1px dotted #008675;
    background: url(/images/adidas/club/runbase/about_schedule_box_bg.png);
    background: rgba(0,134,117,0.25);
}

#runbase #runbase_container .runbase_inner.reserve_program .program .goback{
    text-align: right;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .goback .arrow_icon{
    position: relative;
    top: 1px;
    width:12px;
    height: 12px;
    background-size:100%;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .goback .txt{
    position: relative;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .goback .txt:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    left:0;
    bottom:-1px;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .goback a{
    color:#fff;
    font-size: 12px;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .program_info p{
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: left;
    font-size: 18px;
    line-height: 18px;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .program_info .tip{
    padding-top: 28px;
    font-size: 14px;
    line-height: 20px;
    border-top: 1px dotted rgba(238,38,92,0.2);
}

#runbase #runbase_container .runbase_inner.reserve_program .program .program_info table{
    width:100%;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .program_info table tr td{
    padding-bottom: 10px;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .program_info table tr.etc td .runbase_desc.tle{
    display: inline-block;
    width: auto;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .program_info table tr.etc td{
    padding-bottom:14px;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .program_info table tr.etc td .bar{
    vertical-align: top;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .program_info table tr.etc td .runbase_desc{
    display: inline-block;
    text-align: left;
    width: 78%;
    vertical-align: top;
    margin-top: -6px;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .program_info table tr.last td{
    padding-bottom: 26px;
}

#runbase #runbase_container .runbase_inner.reserve_program .program .program_info table tr td .bar{
    margin: 0 13px;
}



/* calendar */
#runbase #runbase_container .calendar{
    /*position: absolute;*/
    position: relative;
    float: right;
    width: 344px;
    margin-top: 19px;
}

#runbase #runbase_container .calendar .ym_wrap{
    position: relative;
    padding: 0 0 18px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #393134;
}

#runbase #runbase_container .calendar .ym_wrap div{
    display: inline-block;
    font: 17px 'adihaus';
    color:#fff;
    text-align: center;
}

#runbase #runbase_container .calendar .ym_wrap div span{
    font: 19px 'adihaus';
    color:#fff;
}

#runbase #runbase_container .calendar .ym_wrap .cal-btn{
    cursor: pointer;
    display: block;
    position: absolute;
}

#runbase #runbase_container .calendar .ym_wrap .cal-btn.cal-prev{
    left:0;
}

#runbase #runbase_container .calendar .ym_wrap .cal-btn.cal-next{
    right:0;
}

#runbase #runbase_container .calendar .days_wrap .box div{
    float: left;
    width: 14.28%;
    text-align: center;
    font: 17px/17px 'adihaus-medium';
    color:#fff;
}

#runbase #runbase_container .calendar .days_wrap .box.days{
    padding: 30px 0 10px;
}

#runbase #runbase_container .calendar .days_wrap .box.days div{
    font: 11px/11px 'adinenuPro-light';
}

#runbase #runbase_container .calendar .days_wrap .nums .box div{
    padding: 8.5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#runbase #runbase_container .calendar .days_wrap .nums .box div span{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -ms-border-radius: 50px;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 31px;
}

#runbase #runbase_container .calendar .days_wrap .nums .box div.check span{
    background: #ee265c;
}

#runbase #runbase_container .calendar .btn-wrapper .btn-ctm span{
    font-size: 13px;
}

#runbase #runbase_container .calendar .btn-wrapper .btn-ctm.runbasemain{
    background: #ee265c;
}

#runbase #runbase_container .calendar .btn-wrapper .btn-ctm.armain{
    background: #fff;
}

#runbase #runbase_container .calendar .btn-wrapper .btn-ctm.armain span{
    color:#000;
}

#runbase #runbase_container .calendar .btn-wrapper .btn-ctm.armain .ico{
    color:#000;
    /*background: url("http://image.adidas.co.kr/images/adidas/club/runbase/ico_arrow_black.png") 0 0 no-repeat;*/
    font-family: 'adiPictoRegular !important';
    speak: none;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

#runbase #runbase_container .calendar .btn-wrapper .btn-ctm.armain .ico:before{
    /*content: '\E600';*/
    content: "\E600";
}

#runbase #runbase_container .calendar .btn-wrapper .btn-ctm span .spt_bg{
    right: -26px !important;
}

/* popup */

.modal-popup-wrapper.runbase-popup .popup.runbase_pro_reserve .popup-header{
    border:0px;
    background: none;
}

.modal-popup-wrapper.runbase-popup .runbase_desc{
    font:24px/24px 'NotosansKRRegular';
    letter-spacing: -0.7px;
    text-align: center;
    color:#000;
}

.modal-popup-wrapper.runbase-popup .runbase_desc.join_alert{
    padding: 74px 0 80px;
}

.modal-popup-wrapper.runbase-popup .login_form .form_wrap{
    margin-bottom: 15px;
}

.modal-popup-wrapper.runbase-popup input{
    width:100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.modal-popup-wrapper.runbase-popup .login_form{
    width: 540px;
}

.modal-popup-wrapper.runbase-popup .login_form input{
    font: 14px 'NotosansKR';
    color: #aaa;
    width: 100%;
    height: 60px;
    padding-left: 10px;
    border: 1px solid #c8cbcc;
    font: 13px/60px 'NotoSansKRRegular','Nanum Gothic';
}

.modal-popup-wrapper.runbase-popup .login-main .input-check-ctm .ctm-box .spt_bg{
    background: url('/images/adidas/club/runbase/ico_check_11.png') 0 0 no-repeat;
}

.modal-popup-wrapper.runbase-popup .input-check-ctm .ctm-box{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    width:18px;
    height: 18px;
    font-size: 15px;
}

.modal-popup-wrapper.runbase-popup .input-check-ctm .ctm-box span{
    top: 4px;
    left: 3px;
    width: 11px;
    /*font-family: 'adiPictoRegular';*/
}

.modal-popup-wrapper.runbase-popup .input-check-ctm .ctm-box.check_icon span:after{
    /*font-family: 'adiPictoRegular';
    content: '\E612';*/
}

.modal-popup-wrapper.runbase-popup .id_checkbox{
    padding: 15px 0 30px;
}

.modal-popup-wrapper.runbase-popup .id_checkbox .input-check-ctm label{
    padding-left: 26px;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
}

.modal-popup-wrapper.runbase-popup .popup-contents .inner .runbase_desc{
    font-size: 20px;
}

.modal-popup-wrapper.runbase-popup .popup-contents{
    padding: 30px;
}

/*예약 신청 대기*/

.modal-popup-wrapper.runbase-popup .popup-contents.reserve_confirm dl{
    border-top: 1px solid #ebebeb;
}

.modal-popup-wrapper.runbase-popup .popup-contents.reserve_confirm dl.first{
    margin-top: 24px;
}

.modal-popup-wrapper.runbase-popup .popup-contents.reserve_confirm dl.first dd .runbase_desc{
    color:#027dbf;
}

.modal-popup-wrapper.runbase-popup .popup-contents.reserve_confirm dl dt{
    display: inline-block;
    padding: 24px 0;
    width: 85px;
}

.modal-popup-wrapper.runbase-popup .popup-contents.reserve_confirm dl dt .runbase_desc{
    font-size: 16px;
    font-family: 'NotosansKRBold';
    text-align: left;
}

.modal-popup-wrapper.runbase-popup .popup-contents.reserve_confirm dl dd{
    display: inline-block;
}

.modal-popup-wrapper.runbase-popup .popup-contents.reserve_confirm dl dd .runbase_desc{
    font-size: 16px;
    color:#555;
}

.modal-popup-wrapper.runbase-popup .popup-contents.reserve_confirm .reserve_hold{
    padding: 25px 0;
    border-bottom: 2px solid #000;
}

.modal-popup-wrapper.runbase-popup .popup-contents.reserve_confirm .reserve_hold ul li{
    padding-bottom: 10px;
}

.modal-popup-wrapper.runbase-popup .popup-contents.reserve_confirm .reserve_hold .runbase_desc{
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    font-family: 'NotosansKRLight';
}
/*예약 신청 대기 end*/

.modal-popup-wrapper.runbase-popup-type2 .runbase_desc{
    font: 16px 'NotosansKRRegular';
}

.modal-popup-wrapper.runbase-popup-type2 .popup-header{
    position: absolute;
    right:0;
}

.modal-popup-wrapper.runbase-popup .popup-contents .inner h2{
    text-align: center;
    color:#000;
    font:20px/25px 'NotosansKRBold';
    letter-spacing: -0.7px;
}


.modal-popup-wrapper.runbase-popup .reserve_information .table_wrap{
    background: #333;
}

.modal-popup-wrapper.runbase-popup .reserve_information .table_wrap table{
    width: 100%;
}

.modal-popup-wrapper.runbase-popup .reserve_information table tr th{
    text-align: center;
    color:#ee265c;
    font:18px/46px 'NotosansKRBold';
    background: #1f1f1f;
    border-bottom: 1px solid #fff;
}

.modal-popup-wrapper.runbase-popup .reserve_information table tr.first td{
    padding-top: 23px;
}

.modal-popup-wrapper.runbase-popup .reserve_information table tr td{
    position: relative;
    padding: 10px 17px;
    font: 16px 'NotosansKRLight';
    color:#aeaeae;
}

.modal-popup-wrapper.runbase-popup .reserve_information table tr td .inputbox{
    overflow: hidden;
}

.modal-popup-wrapper.runbase-popup .reserve_information table tr td .inputbox input{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    width: 100%;
    border:0;
    padding: 10px 15px;
}

.modal-popup-wrapper.runbase-popup .reserve_information table tr td .upload{
    position: absolute;
    top:10px;
    right: 15px;
}

.modal-popup-wrapper.runbase-popup .reserve_information table tr td .upload a{
    display: inline-block;
    width: 106px;
    background: #cecccc;
    height: 34px;
    text-align: center;
    font:14px/34px 'NotosansKRRegular';
    color:#000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
}

.modal-popup-wrapper.runbase-popup .reserve_information table tr.last td{
    padding-bottom: 23px;
}

.modal-popup-wrapper.runbase-popup .reserve_information table tr td.title{
    color:#fff;
    vertical-align: middle;
}

.modal-popup-wrapper.runbase-popup .reserve_information.coin td{
    text-align: center;
}

/*logoin popup*/
.modal-popup-wrapper.runbase-popup.runbase_login .btn-ctm{
    margin-top: 0px;
    height: 70px;
}

.modal-popup-wrapper.runbase-popup .btn-ctm span{
    font-size: 16px;
}

.modal-popup-wrapper.runbase-popup .login-main .login_form{
    width: 100%;
    padding: 0;
    border-right: 0px;
}

.modal-popup-wrapper.runbase-popup .login-main{
    margin: 0;
    padding: 30px 30px 40px 30px;
}

.modal-popup-wrapper.runbase-popup .login-main .login_form .form_box .chk_area .btn_find a{
    font-size: 15px;
    color:#027dbf;
}

.modal-popup-wrapper.runbase-popup .login-main div{
    float: none;
}

.modal-popup-wrapper.runbase-popup .login-main .login_form .form_box{
    margin-bottom: 0px;
}

.modal-popup-wrapper.runbase-popup .login-main .login_form .form_box .chk_area{
    margin-bottom: 30px;
}

.modal-popup-wrapper.runbase-popup .login-main .login_form .form_box .chk_area .input-check-ctm label{
    height: 17px;
    padding-left: 25px;
    color:#000;
    font-size: 15px;
    font-family: 'NotosansKR';
    line-height: 17px;
}

.modal-popup-wrapper.runbase-popup .btn-ctm{
    margin-top: 30px;
    height: 70px;
}

.modal-popup-wrapper.runbase-popup .popup-contents.reserve_cancel .btn_wrapper .btn-ctm{
    width: 100%;
}

.modal-popup-wrapper.runbase-popup .popup-contents .btn_wrapper .btn-ctm span{
    font-size: 16px;
}

.modal-popup-wrapper.runbase-popup .popup-contents .btn_wrapper .btn-ctm{
    display: inline-block;
    width: 258px;
    margin-right: 20px;
}

.modal-popup-wrapper.runbase-popup .popup-contents .btn_wrapper .btn-ctm.last{
    margin-right: 0px;
}

.modal-popup-wrapper.runbase-popup .h55.btn-ctm{
    height:55px;
}

.modal-popup-wrapper.runbase-popup .h55.btn-ctm span{
    line-height: 55px;
}

.modal-popup-wrapper.runbase-popup .popup.runbase_pro_reserve .btn-ctm{
    background: #ee265c;
}

.modal-popup-wrapper.runbase-popup .popup.runbase_pro_reserve .close{
    top: -70px;
    right: 16px;
}

.modal-popup-wrapper.runbase-popup .popup.runbase_pro_reserve .close span{
    width: 30px;
    height: 30px;
    background: url("http://image.adidas.co.kr/images/adidas/club/runbase/close_white.png") 0 0 no-repeat;
}


#footer{
    z-index: 19;
}
