@charset "utf-8";

/* header */
#runbase #runbase_header{
    background: #000;
}

#runbase #runbase_header .runbase_header_inner{
    padding-top: 20px;
    border-top:1px solid #202020;
}

#runbase #runbase_header .logo{
    float:left;
}

#runbase #runbase_header .runbase_gnb{
    float:left;
    margin-left: 43px;
}

#runbase #runbase_header .runbase_gnb>ul>li{
    float:left;
}

#runbase #runbase_header .runbase_gnb>ul>li>a{
    display: inline-block;
    padding: 42px 36px 20px;
    font:21px 'adinenuPro-black';
    color:#fff;
}

#runbase #runbase_header .runbase_gnb>ul>li .runbase_depth2{
    display: none;
}

/* container */
#runbase #runbase_container{}

#runbase #runbase_container .runbase-btn{
    height: 70px;
    background: #ee265c;
}

#runbase #runbase_container .runbase-btn span{
    font: 18px/70px 'NotoSansKRRegular','Nanum Gothic';
}

#runbase #runbase_container .runbase_main .runbase_desc{
    text-align: center;
    font:16px 'NotosansKRLight', 'Nanum Gothic';
    color:#fff;
}

#runbase #runbase_container .runbase_main .main_visual{
    position: relative;
    height: 520px;
    overflow: hidden;
}

#runbase #runbase_container .runbase_main .main_visual .main_visual_bg{
    position: absolute;
    top:0;
    left:50%;
    margin-left: -960px;
}

#runbase #runbase_container .runbase_main .runbase_about .title{
    display: inline-block;
    padding-top: 70px;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
}

#runbase #runbase_container .runbase_main .runbase_about .title h3{
    display: inline-block;
    font:36px/36px 'adinenuPro-black';
    color:#fff;
}

#runbase #runbase_container .runbase_main .runbase_about .title p{
    padding: 20px 0 40px;
    font:36px/36px 'adinenuPro-black';
}

#runbase #runbase_container .runbase_main .runbase_about .title h3:after{
    content: '';
    display: block;
    width:100%;
    height:4px;
    background: #ee265c;
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox{
    background-size: 1920px 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about1{
    background-image:url("/images/adidas/club/runbase/about_info_box1_bg.jpg")
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about2{
    background-image:url("/images/adidas/club/runbase/about_info_box2_bg.jpg")
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about3{
    background-image:url("/images/adidas/club/runbase/about_info_box3_bg.jpg")
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about4{
    background-image:url("/images/adidas/club/runbase/about_info_box4_bg.jpg")
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about5{
    background-image:url("/images/adidas/club/runbase/about_info_box5_bg.jpg")
}

#runbase #runbase_container .runbase_main .runbase_about .slider_wrap{
    position: relative;
    text-align: center;
}

#runbase #runbase_container .runbase_main .runbase_about .slider_wrap .arrow{
    position: absolute;
    top:50%;
    width: 100%;
    margin-top: -36px;
}

#runbase #runbase_container .runbase_main .runbase_about .slider_wrap .arrow>a{
    position: absolute;
    display: inline-block;
    width:28px;
    height:53px;
    background:url("/images/adidas/club/runbase/slide_arrow.png") no-repeat;
    background-position: 0 0;
    text-indent: -99999px;
}

#runbase #runbase_container .runbase_main .runbase_about .slider_wrap .arrow a.next-button{
    right:0;
    background-position: 100% 0;
}

#runbase #runbase_container .runbase_main .runbase_about .slider_wrap .indicator{
    display: block;
    padding: 30px 0;
    text-align: center;
}

#runbase #runbase_container .runbase_main .runbase_about .slider_wrap .indicator>a{
    display: inline-block;
    margin: 0 4px;
    width:13px;
    height:13px;
    background:#666;
    border-radius: 50px;
    -ms-border-radius: 50px;
}

#runbase #runbase_container .runbase_main .runbase_about .slider_wrap .indicator>a.on{
    background: #ee265c;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase_desc{
    padding-bottom: 25px;
    line-height: 25px;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase_desc span{
    position: relative;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase_desc span:after{
    position: absolute;
    bottom:0;
    left:0;
    content: '';
    display: inline-block;
    width: 100%;
    height:2px;
    background: #008675;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase_schedule{}

#runbase #runbase_container .runbase_main .runbase_about .runbase_schedule .box{
    margin-bottom: 12px;
    padding: 17px 0 17px 46px;
    border:1px dotted #008675;
    background: url("/images/adidas/club/runbase/about_schedule_box_bg.png");
    background:rgba(0,134,117,0.25);
}

#runbase #runbase_container .runbase_main .runbase_about .runbase_schedule .box:last-child{
    margin-bottom: 0;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase_schedule .box .date{
    display: inline-block;
    float: left;
    text-align: center;
    width:44px;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase_schedule .box .date>span{
    display: inline-block;
    width:44px;
    height:44px;
    background: #ee265c;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -ms-border-radius: 50px;
    text-align: center;
    font:24px/47px 'adihausDIN-Cond-medium';
    color:#fff;
}
#runbase #runbase_container .runbase_main .runbase_about .runbase_schedule .box .date p{
    padding-top: 6px;
    text-align: center;
    font:14px/14px 'adihaus';
    color:#fff;

}

#runbase #runbase_container .runbase_main .runbase_about .runbase_schedule .box .course{
    display: inline-block;
    float:left;
    margin-left: 36px;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase_schedule .box .course ul li{
    margin-bottom: 22px;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase_schedule .box .course ul li.mt15{
    padding: 15px 0 0 0;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase_schedule .box .course ul li:last-child{
    margin-bottom: 0px;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase_schedule .box .course ul li span{
    display: inline-block;
    text-align: center;
    width: 76px;
    height: 28px;
    border:2px solid #ee265c;
    background:#7b394f;
    color:#fff;
    font:14px/28px 'NotosansKRRegular';
    text-transform: uppercase;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase_schedule .box .course ul li span.off{
    border:2px solid #008675;
    background:#2b5150;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase_schedule .box .course ul li span.close{
    border:2px solid #777;
    background:rgba(119,119,119,0.3);
    color:#777;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase_schedule .box .course ul li p{
    display: inline;
    padding: 0 0 0 16px;
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about2{
    padding-bottom: 50px;
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about4{
    padding-bottom: 50px;
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about5{
    padding-bottom: 98px;
}

#runbase #runbase_container .runbase_main .runbase_about .runbase-btn{
    margin-top:40px;
}

#runbase #runbase_container .runbase_main .runbase_about .aboutbox.about2 .slider_wrap .arrow{
    margin-top: -56px;
}
