@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#superstar {
	position: relative;
	.button_area_v2{
		width:210px;
		&:hover{
			div{
				a{
					color: #999;
					>span{
						background:#999;
						>em{
							background:#999;
						}
					}

				}
			}
		}
		a{
			letter-spacing: 1px;
			height: 48px;
			font: 500 15px/48px 'NotoSansKR';
		}
	}
	// position: absolute;
	// bottom: 5%;
	// left: 50%;
	// transform: translateX(-50%);
	// font: 500 30px/30px 'adinenuPro-bold';
	// text-transform: uppercase;
	.main__wrapper{
		background:#f8993b;
		position: relative;
		height:770px;
		.main__wrapper__img{
			position: absolute;
			top: 50px;
			left: 50%;
			margin-left: -100px;
			img{
				// width: 88%;
				padding: 0 0 0 6%;
			}
		}
		.main__wrapper__txt{
			padding: 10px 0 65px 0;
			position: absolute;
			top: 240px;
			left: 50%;
			margin-left: -500px;
			>h1{
				font: 900 56px/56px 'NotoSansKR';
				color: #000;
				letter-spacing: 5px;
				text-shadow: 2px 2px 1px #ea5025;
			}
			>em{
				font: 900 20px/27px 'NotoSansKR';
				color: #000;
				letter-spacing: 1px;
				text-shadow: 2px 2px 1px #ea5025;
				margin:10px 0;
				display: inline-block;
			}
			>p{
				font: 700 16px/23px 'NotoSansKR';
				color: #000;
				letter-spacing: 1px;
			}
			.button_area_v2{
				margin: 40px 0 0 0;
				display: inline-block;
				vertical-align: middle;
				width:210px;
				// &:first-child{
				// 	margin:0 8px 0 0;
				// 	a{
				// 		height:55px;
				// 		line-height: 35px;
				// 		em{
				// 			line-height: 5px;
				// 		}
				// 	}
				// }
			}
		}
	}
	.banner__wrapper{
		position: relative;
		// height:60px;
		video,img{
			width:100%;
			min-width:1190px;
			// position: absolute;
			// top:0;
			// left:50%;
			// margin-left:-960px;
		}
	}
	.topSlider__wrapper{
		position: relative;
		// background:#f8993b;
		text-align: center;
		h1{
			font: 500 20px/27px 'NotoSansKR';
			color:#000;
			padding: 50px 0;
			text-align: center;
		}
		.slider01{
			.slick-list{
				width: 1200px;
    			margin: 0 auto;
				.slick-track{
					.slick-slide{
						margin:5px;
						&:last-child{
							// margin:0;
						}
						img{
							width:100%;
						}
					}
				}
			}
		}
		.slider_nav{
			.prev-button01,.next-button01{
				position: absolute;
				top:440px;
				left:50%;
			}
			.prev-button01{
				margin-left:-670px;
				img{
					transform: rotate(180deg);
				}
			}
			.next-button01{
				margin-left: 620px;
			}
		}
		.button_area_v2{
			margin:0 auto;
			padding:40px 5px 50px;
			display: inline-block;
		}
	}
	.video__wrapper{
		.video{
			position: relative;
			video{
				width:100%;
			}
			a{
				position: absolute;
				top:50%;
				left:50%;
				transform: translate(-50%,-50%);
			}
		}

		>img{
			width: 97%;
			padding: 60px 0 0 0;
			margin: 0 auto;
			display: block;
		}
		.button_area_v2{
			padding:50px 0;
			margin: 0 auto;
		}
	}
	.article__wrapper{
		.article__wrapper__inner{
			width:1060px;
			height:845px;
			min-width:1060px;
			min-height: 845px;
			margin: 0 auto;
			background:#a48e69;
			padding:35px 54px;
			text-align: center;
			.article__wrapper__img{
				text-align: center;
				>h1{
					font:48px/48px 'adinenuPro-black';
					color:#fff;
					text-align: center;
					letter-spacing: 4px;
					// padding:0 0 35px;
				}
			}
			.article__wrapper__txt{
				// margin:45px 0 0 0;
				&::after{
					display:block;
					content:'';
					clear:both;
				}
				>img.shoes{
					float:left;
				}
				.txt{
					float:left;
					// padding: 15px 0 0 40px;
					position: relative;
					top: 10px;
					left: 35px;
					h2{
						font:33px/33px 'adinenuPro-black';
						color:#fff;
						margin: 0 0 10px 0;
						letter-spacing: 1px;
						em{
							font:33px/33px 'adinenuPro-light';
							margin: 0 5px;
						}
					}
					p{
						font:400 18px/25px 'NotoSansKR';
						color:#fff;
						margin: 0 0 38px 0;
						white-space: nowrap;
					}
				}
			}
		}
	}
	.card__wrapper{
		position: relative;
		padding: 55px 0;
		.slider02{
			.slick-list{
				width:1200px;
				margin: 0 auto;
				.slick-track{
					.card__wrapper__inner__img{
						position: relative;
						margin: 0 16px;
						&:last-child{
							// margin:0;
						}
						img{
							width:100%;
						}
						
						.card__wrapper__inner__txt{
							position: absolute;
							bottom:0;
							left:20px;
							.button_area_v2{
								display: inline-block;
								margin: 50px 0 0 0;
								position: absolute;
								bottom: 20px;
								a{
									padding:0 30px;
									// height:48px;
									// line-height: 48px;
								}
							}
						}
					}
				}
			}
		}
		.slider_nav{
			.prev-button02,.next-button02{
				position: absolute;
				top:295px;
				left:50%;
			}
			.prev-button02{
				margin-left:-670px;
				img{
					transform: rotate(180deg);
				}
			}
			.next-button02{
				margin-left: 620px;
			}
		}
	}
	.state__wrapper{
		background:#dae7ee;
		padding:75px 0;
		.state__wrapper__inner{
			width:1250px;
			margin:0 auto;
			margin-bottom:85px;
			&::after{
				display: block;
				content:'';
				clear:both;
			}
			.state__wrapper__img{
				float:left;
				margin: 0 69px 0 0;
			}
			.state__wrapper__txt{
				float:left;
					h1{
						margin:23px 0 10px 0;
						font: 38px/38px 'adinenuPro-black';
						color: #000;
						letter-spacing: 1px;
					}
					p{
						font: 400 16px/25px 'NotoSansKR';
						color: #000;
						letter-spacing: 0px;
					}
					.button_area_v2{
						display: inline-block;
						margin: 25px 0 0 0;
						width:210px;
						a{
						}
					}
			}
			&:nth-child(2){
				margin-bottom:0;
				.state__wrapper__txt{
					margin: 30px 0 10px 0;
					.button_area_v2{
						margin-right: 0.5rem;
					}
				}
				.state__wrapper__img{
					margin: 0 0 0 69px;
				}
			}
		}
	}
	.aside__wrapper{
		position: relative;
		height:1050px;
		.aside__wrapper__img{
			position: absolute;
			top:0;
			left:50%;
			transform: translateX(-50%);
		}
	}
	.bottom__wrapper{
		text-align: center;
		padding:60px 0;
		p{
			font: 400 20px/36px 'NotoSansKR';
			color: #000;
			letter-spacing: 0px;
			text-align: center;
		}
		.button_area_v2{
			margin:40px 0 0 0;
			display: inline-block;
			width:150px;
			a{
				line-height:55px;
				height:55px;
			}
		}
	}
}
@media all and (max-width:1350px) {
	#superstar{
		.topSlider__wrapper{
			.slider_nav{
				.prev-button01{
					margin-left:-615px;
					img{
						transform: rotate(180deg);
					}
				}
				.next-button01{
					margin-left: 565px;
				}
			}
		}
		.card__wrapper{
			.slider_nav{
				.prev-button02{
					margin-left:-615px;
					img{
						transform: rotate(180deg);
					}
				}
				.next-button02{
					margin-left: 565px;
				}
			}
		}
	}
}
@media all and (max-width:1250px) {
	#superstar{
		.topSlider__wrapper{
			.slider_nav{
				.prev-button01{
					margin-left:-580px;
					img{
						transform: rotate(180deg);
					}
				}
				.next-button01{
					margin-left: 540px;
				}
			}
		}
		.card__wrapper{
			.slider_nav{
				.prev-button02{
					margin-left:-580px;
					img{
						transform: rotate(180deg);
					}
				}
				.next-button02{
					margin-left: 540px;
				}
			}
		}
	}
}