
<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-- endbuild -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
<script src="bower_components/angular-touch/angular-touch.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src='scripts/vendor/greensock/easing/EasePack.min.js'></script>
<script src='scripts/vendor/greensock/TweenMax.min.js'></script>
<script src='scripts/vendor/jquery.scrollTo.min.js'></script>
<script src="scripts/vendor/jquery.touchSwipe.min.js"></script>
<script src='scripts/vendor/preloadjs-0.4.1.min.js'></script>

<script src="scripts/app.js"></script>

<script src="scripts/services/addthis.js"></script>
<script src="scripts/services/subscribe.js"></script>
<script src="scripts/services/tracking.js"></script>
<script src="scripts/services/sliderapi.js"></script>

<script src="scripts/directives/utilities.js"></script>
<script src="scripts/directives/slider.js"></script>
<script src="scripts/directives/back-img.js"></script>
<script src="scripts/directives/youtube-player.js"></script>
<script src="scripts/directives/video-box.js"></script>
<script src="scripts/directives/subscribe.js"></script>
<script src="scripts/directives/intro.js"></script>

<script src="scripts/templates.js"></script>
<!-- endbuild -->
