<script type="text/javascript">
var hash = document.location.hash;
var prepareTagObj = {
    page_category: 'HOME',
    page_name: 'HOME',
    page_type: 'HOME'
};

var utag_data = {
    campaign_name: 'BMH',
    site_name: 'REEBOK',
    site_owner: 'BRAND',
    country: 'UK',
    date: '120714',
    environment: 'DEVELOPMENT',
    language: 'EN',
    page_name: prepareTagObj.page_name,
    page_category: prepareTagObj.page_category,
    page_type: prepareTagObj.page_type
};
</script>

<!-- <script type="text/javascript">
(function(a, b, c, d) {
    a = '//tags.tiqcdn.com/utag/adidas/reebokbrand/dev/utag.js';
    b = document;
    c = 'script';
    d = b.createElement(c);
    d.src = a;
    d.type = 'text/java' + c;
    d.async = true;
    a = b.getElementsByTagName(c)[0];
    a.parentNode.insertBefore(d, a);
})();
</script>

<script>
window.fbAsyncInit = function() {
    FB.init({
        appId: '768219729882643',
        xfbml: true,
        version: 'v2.2'
    });
};

(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
        return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script> -->