@import "./front/css/reebok/scss/about.scss";
html,body{
    height:100%;
}
#wrap{
    overflow: hidden;
    // min-width: 1460px;
    min-width: 1160px;
}
#contents_wrap{padding: 0;}

.campaign_zig{
    .btn{
        display: inline-block;
        &.sold{
            >div{
                a{
                    border: 1px solid #bbb;
                    background: #bbb;

                }
                &:before{
                    border-bottom: 1px solid #bbb;
                    border-left: 1px solid #bbb;

                }
                &::after{
                    border-right: 1px solid #bbb;
                    border-top: 1px solid #bbb;
                }
            }
        }
        >div{
            position: relative;
            &::before{
                border-bottom: 1px solid #000;
                border-left: 1px solid #000;
                bottom: -4px;
                height: 3px;
                left: 3px;
                width: calc(100%);
                content: "";
                display: block;
                position: absolute;
            }
            &::after{
                border-right: 1px solid #000;
                border-top: 1px solid #000;
                height: calc(100%);
                right: -4px;
                top: 3px;
                width: 3px;
                content: "";
                display: block;
                position: absolute;
            }
            a{
                width: auto;
                font: 500 14px/48px 'NotoSansKR';
                letter-spacing: 0;
                position: relative;
                display: block;
                padding: 0 20px;
                text-align: center;
                height: 50px;
                color: #fff;
                // background:transparent;
                background: #000;
                z-index: 2;
                border: 1px solid #000;
                letter-spacing: 0.7px;
                transition: .4s;
                .arrow{
                    display: inline-block;
                    width: 24px;
                    height: 11px;
                    margin-left: 10px;
                    background: url(/images/reebok/2019/event/interval_og/arrow_w.png) no-repeat;
                }
            }
        }
        &:hover{
            a{
                transform: translate(3px, 3px);
            }
        }
    }
   
    .main{
        position: relative;
        // margin-bottom: 15px;
        video{
            display: block;
            width: 100%;
        }
        
        .btn_area{
            position: absolute;
            top: 4%;
            left: 50%;
            transform: translateX(-70%);
            width: 36.9791%;
            padding-bottom: 21%;
            background: none;
            a.btn-play{
                position: absolute;
                width: 60px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        h2{
            position: absolute;
            top: 59%;
            left: 50%;
            transform: translate(-46%, -50%);
            width: 960px;
            z-index: 1;
            text-align: left;
        }
    }

    .section{
        position: relative;
        top:0px;
        z-index: 1;
        .video__bg{
            video{
                width:100%;
                margin-bottom: -1px;
            }
        }
        .img__bg{
            img{
                width:100%;
            }
        }
        .txt{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            // margin-left: -580px;
            width:1160px;
            z-index: 1;
            text-align: center;
        }
        @media screen and(max-width:1200px){
            h3{
                font: 900 30px/34px 'NotoSansKR' !important;
                span{
                    font: 900 30px/34px 'neueplak-wide' !important;
                }

            }
            p{
                font-size: 18px !important;
            }
        }
        h3{
            position: relative;
            text-align: center;
            font: 900 40px/50px 'NotoSansKR';
            color: #000;
            transition: all 0.5s;
            span{
                font: 800 44px/58px 'neueplak-wide';
                transition: all 0.5s;

                &.small{
                    font-size: 43px;
                }
            }
        }
        p{
            padding:9px 0 0 0;
            text-align: center;
            color:#000;
            font: 400 25px 'NotoSansKR';
            letter-spacing: -0.2px;
            &.small{
                font-size: 18px;
            }
        }
        .btn{
            margin:22px 0 0 0;
        }
    }

}
