@import "./front/css/adidas/scss/common/mixin.scss";
@import "./front/css/adidas/scss/common/common.scss";

a {
  outline: none;
}
button {
  outline: none;
}
.clearfix {
  clear: both;
  display: block;
  content: "";
}

#coreslide {
  min-width: 1280px;
  .section {
    position: relative;
  }
  .sect_main {
    > img {
      display: block;
      width: 100%;
    }
  }

  .sect_cont {
    text-align: center;
    > img {
      display: block;
      width: 100%;
    }
    .btn_default {
      margin-top: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      &.btn_01 {
        top: 26.8%;
      }
      &.btn_02 {
        top: 56.6%;
      }
      &.btn_03 {
        top: 86.6%;
      }
    }
    .cont_logo {
      position: absolute;
      top: 91%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      z-index: 2;
      > img {
        display: inline-block;
        width: 110px;
      }
    }
  }
}
