@import "./app/css/reebok/scss/about.scss";
#contents_wrap{
    padding: 0;
    background: #141414;
}
.campaign_covernat{
    .box1{
        position:relative;
        height: 750px;
        background:url('/images/reebok/event/about/covernat/main_banner.jpg') 100% 100% no-repeat;
        background-size: cover;
        .img{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -375px;
            margin-left: -581px;
        }
        .btn{
            position: absolute;
            bottom: 50%;
            left: 50%;
            margin-bottom: -105px;
            margin-left: -120px;
            z-index: 1;
            background: rgba(0, 0, 0, .9);
            a{
                display: inline-block;
                padding: 17px 87px;
                color:#fff;
                font: 18px 'NotoSansKR';
                font-weight: 400;
            }
            &:hover{
                background:#fff;
                @include prefix-css3(transition , all .5s ease-in 0.1s);
                a{
                    color:#000;
                }
            }
        }
    }
    .box2{
        .loaded{
            min-width:1920px;
        }
    }





    .slide_lineup{
        position: relative;
        width: 100%;
        padding-top: 70px;

        background:url('/images/reebok/event/about/covernat/bottom_bg.jpg') 100% 100% no-repeat fixed;
        background-size: cover;
        .wrap{
            position: relative;
            text-align: center;
            p{
                font:38px/38px 'NotoSansKR';
                font-weight:700;
                text-align: center;
                color:#fff;
            }
            .btn{
                display: inline-block;
                background: #000;
                border: 1px solid #ccc;
                text-align: center;
                margin: 30px 0 70px 0;
                a{
                    display: block;
                    padding: 17px 87px;
                    color:#fff;
                    font:18px 'NotoSansKR';
                  font-weight:500;
                }
                &:hover{
                    background:#fff;
                    @include prefix-css3(transition , all .5s ease-in 0.1s);
                    a{
                        color:#000;
                    }
                }
            }
        }

        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:640px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            .arrow-prev{
                position: absolute;
                top:50%;
                left:50%;
                margin-left: -488px;
                background-position: -125px -80px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            .arrow-next{
                position: absolute;
                top:50%;
                left:50%;
                margin-left:481px;
                background-position: -125px -125px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 640px;
                li{
                    width: 970px;
                    position: relative;
                    float: left;
                    text-align: center;

                    @include opacity(1);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                    img{
                        display: inline-block;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 40px;
                        display: block;
                        width: 890px;
                        height: 640px;
                        background-color: #fff;
                        @include opacity(0.7);
                        @include prefix-css3(transition ,opacity 0.7s ease-in 0.3s);
                        z-index: 1;
                    }
                }
                li.active{
                    @include opacity(1);
                    @include prefix-css3(transition ,ease-in 0.3s);
                    &::after{
                        content: '';
                        display: none;
                    }
                }
            }
        }
        .indicator{
            text-align: center;
            padding:25px 0 50px 0;
            a{
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #737373;
                margin: 0 2px;
                &.on{
                    background: #fefefe;
                }
            }
        }
    }
}




/* floatride end */
