@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

#wrap{
	min-width: 1190px;
	overflow: hidden;
}

#alphaedge_cp{
	position: relative;
	//common
	.button_area_v2{
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			width:140px;
			font: 700 14px/48px 'NotoSansKR';
			letter-spacing: 0;
		}
	}

	.main_visual{
		position: relative;
		height: 1002px;;
		&.on{
			.imgbg{
				// top:0;
				// @include css3(opacity,1);
			}
		}
		.imgbg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
			// @include css3(opacity,0);
			// @include css3(transition,all 0.8s);
		}
		.ct1190{
			text-align: center;
			padding: 796px 0 0 0;
			h2{
				margin:0 0 40px 0;
				text-align: center;
				font:600 30px/28px 'NotoSansKR';
				color:#000;
			}
		}
	}

	.statement{
		position: relative;
		padding: 52px 0 48px;
		p{
			text-align: center;
			color:#000;
			font: 300 28px/25px 'NotoSansKR';

			&.desc{
				padding:18px 0 0 0;
				font: 600 24px 'NotoSansKR';
			}
		}
		h3{
			text-align: center;
		}
	}
	
	.section{
		&:after{
			content: '';
			display: block;
			clear: both;
		}
		&.on{
			.box{
				img{
				transform: scale(1);
				@include css3(opacity,1);

				}
			}
		}
		.box{
			width:50%;
			display: inline-block;
			float: left;
			img{
				width:100%;
				transform: scale(0);
				@include css3(opacity,0);
				@include css3(transition,all 1s);
			}
		}
		&.sub{
			
			.box{
				position: relative;
				text-align: center;
				&.left{
					right: 2%;
					margin: 3% 0 0 0;
					text-align: right;
					img{
						width: 71%;
					}
				}
				&.right{
					left: 9%;
					margin: 1% 0 0 0;
					text-align: left;
				}
				img{
					width: 66%;
				@include css3(opacity,1);

					transform: scale(1);

				}
			}
		}
	}

	.middle_section{
		position: relative;
		margin: 55px 0 0 0;
		overflow: hidden;
		height:806px;
		background: #ecf5ec;
		&.on{
			.bg{
				img{
					&.shoe{
						top: -272px;
						
					}
				}
			}
			.inn{
				.tool{
					.desc{
						@include css3(opacity, 1);

					}
					p{
						span{
							em{
								opacity: 1 !important;
							}
						}
					}
					&.top{
						p{
							span{
								width:800px;
							}
						}
					}
					&.bottom{
						p{
							span{
								width:630px;
							}
						}
					}
				}
			}
		}
		.bg{
			position: relative;
			height:806px;
			img{
				position: absolute;
				left: 50%;
				@include css3(transition, all 10s);
				&.shoe{
					top: -272px;
					margin-left: 9px;
					
				}
				&.top{
					top: -200px;
					margin-left: -760px;
					animation-duration: 15s;
					animation-name: middletop;
					animation-iteration-count: infinite;
				}
				&.bottom{
					bottom: -250px;
					margin-left: -1060px;
					animation-duration: 15s;
					animation-name: middlebottom;
					animation-iteration-count: infinite;
				}
			}
		}
		.inn{
			position: absolute;
			top: 100px;
			left: 50%;
			z-index: 1;
			margin-left: -474px;

			p{
				color:#000;
				&.title{
					padding: 10px 0 35px 0;
					font:700 26px 'NotoSansKR';
				}
				&.desc{
					padding: 0 0 18px 0;
					font:400 18px/27px 'NotoSansKR';
				}
				strong{
					font:900 18px/27px 'NotoSansKR';

				}
			}

			.tool{
				&.top{
					margin: 60px 0 0 0;
					p.desc{
						transition-delay: 0.5s;

					}
				}
				&.bottom{
					margin: 100px 0 0 0;
					p.desc{
						transition-delay: 2s;
						span{
							transition-delay: 2.5s;
							em{
								transition-delay: 4s;

							}
						}
					}
					
				}
				p.desc{
					padding: 0 0 5px 0;;
					position: relative;
					font:400 20px/27px 'NotoSansKR';
					@include css3(opacity, 0);
					@include css3(transition, all 0.8s);

					strong{
						font:900 20px/27px 'NotoSansKR';
					}
					span{
						position: absolute;
						bottom:0;
						left:0;
						width:100%;
						height:2px;
						background: #000;
						width:0px;
						@include css3(transition, all 1.5s);
						transition-delay: 1s;

						em{
							position: absolute;
							top: -4px;
							right: 0;
							display: inline-block;
							width:12px;
							height:12px;
							background: #000;
							border-radius: 50px;
							@include css3(opacity, 0);
							@include css3(transition, all 0.2s);
							transition-delay: 2.5s;

						}
					}
				}
			}
		}
	}
	@keyframes middletop {
		0% {
			top: -198px;
			margin-left: -860px;
		}
		50% {
			top: -178px;
			margin-left: -960px;
		}
		100%{
			top: -198px;
			margin-left: -860px;
		}
	}
	@keyframes middlebottom {
		0% {
			bottom: -250px;
			margin-left: -1060px;
		}
		50% {
			bottom: -280px;
			margin-left: -960px;
		}
		100%{
			bottom: -250px;
			margin-left: -1060px;
		}
	}
	.desc_wrap{
		position: relative;
		margin: 90px 0 0 0;
		text-align: center;
		overflow: hidden;
		&::after{
			content: '';
			display: inline-block;
			clear: both;
		}
		.box{
			position: relative;
			width:33.33%;
			display: inline-block;
			float: left;
			text-align: center;

			img{
				width: 70%;
			}
			.title{
				padding: 44px 0 25px 0;
				strong{
					display: block;
					color:#000;
					font:22px 'adinenuPro-black';

				}
				text-align: center;
				font:20px 'adinenuPro-bold';
				color:#b8d2aa;
				letter-spacing: 0.9px;
			}
			p{
				text-align: center;
				font:400 17px/25px 'NotoSansKR';
				color:#000;

			}
		}
	}

	.video_wrap{
		position: relative;
		margin:85px 0 0 0;
		img{
			width:100%;
		}
	}

	.logo_section{
		padding: 128px 0 134px;
		text-align: center;
	}
}
