@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#campaign_miadidas{
	position: relative;
	min-width:1190px;
	overflow: hidden;
	.main{
		position: relative;
		height: 650px;
		&.on{
			.inn{
				.img{
					@include css3(opacity,1);

					&.img1{
						left:0px;
					}
					&.img2{
						left:451px;
					}
					&.img3{
						left:931px;
					}
					&.img4{
						left:1412px;
					}
				}
			}
		}
		.inn{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
			.img{
				position: absolute;
				left:2000px;
				float: left;
				@include css3(opacity,0);
				@include css3(transition, all 0.8s);
				&.img2{
					transition-delay: 0.1s
				}
				&.img3{
					transition-delay: 0.2s
				}
				&.img4{
					transition-delay: 0.3s
				}
			}
		}
		.ct1190{
			padding: 70px 0 0 0;
			p{
				text-align: center;
				color:#fff;
				font: 67px 'adinenuPro-black';
				&.desc{
					font: 20px 'NotoSansKR';
				}
			}
		}
	}
	.content{
		text-align: center;
		&.on{
			.coupon{
				img{
					@include css3(opacity,1);
				}
				.inn{
					@include css3(opacity,1);

				}
			}
		}
		.title{
			position: relative;
			margin: 60px 0 0 0;
			display: inline-block;


			p{
				position: relative;
				text-align: center;
				font:50px 'adinenuPro-black';
				text-transform: uppercase;
				color:#2b2b2b;
				z-index: 2;
			}
			span{
				position: absolute;
			    background: #c1fbff;
			    display: inline-block;
			    width: 100%;
			    height: 17px;
			    bottom: 17px;
			    left: 0;
			}
		}
		p.desc{
			font:600 26px 'NotoSansKR';
			color:#2b2b2b;
			text-align: center;

			span{
				font:26px 'adinenuPro-bold';
				color:#2b2b2b;
			}
		}
		.coupon{
			position: relative;
			text-align: center;
			margin: 35px auto 0;
			img{
				@include css3(opacity,0);
				@include css3(transition,all 0.5s);

			}
			.inn{
				display: inline-block;
			    position: absolute;
			    z-index: 1;
			    top: 194px;
			    left: 446px;
			    background: #2b2b2b;
			    width: 290px;
			    z-index: 2;
			    text-align: center;
				@include css3(opacity,0);
				@include css3(transition,all 0.5s);
				transition-delay: 0.5s;
				span{
					font:400 20px/47px 'NotoSansKR';
					color:#fff;
					&.num{
						font: 20px 'adihaus-bold';
					}

				}

			}
		}
		.btn_wrap{
			position: relative;
			margin: 60px 0 60px 0;
			width: 770px;
			display: inline-block;
			border:3px solid #000;
			text-align: center;
			a{
				position: absolute;
				top:0;left:0;
				width: 100%;
				height: 100%;
				z-index: 4;
			}
			span{
				font:600 26px/105px 'NotoSansKR';
				color:#000;
			}
			em{
				display: inline-block;
				margin-left: 20px;
				width: 48px;
				height: 13px;
				background: url('/images/adidas/event/customise/miadidas/icon_arrow.png') no-repeat;
				background-size: 100% 100%;
			}

		}
	}
	.bottom{
		position: relative;
		height: 274px;
		a{
			position: absolute;
		    top: 92px;
		    right: 50%;
		    margin-right: -390px;
		    display: inline-block;
		    width: 192px;
		    height: 40px;
		}
		img{
			position: absolute;
			top:0;
			left:50%;
			margin-left:-960px;
		}
	}
}
