@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1250px;
	overflow: hidden;
}
#outdoor_cp {
	position: relative;

	.button_area_v2{
		&:hover{
			div{
				.bg{
					box-shadow: inset 0 0 0 1px #000;
    				-webkit-box-shadow: inset 0 0 0 1px #000;
					@include css3(transition, all 0.5s);
				}
				a{
					color: #fff;
				    background: #000;
					@include css3(transition, all 0.5s);

					span.arrow{
						background: #fff;
						@include css3(transition, all 0.5s);
						em{
							background: #fff;
							@include css3(transition, all 0.5s);
						}
					}

				}
			}
		}
		a{
			letter-spacing: 1px;
			span.arrow{
				margin-left: 15px;
			}
		}
		width: 140px;
	}

	.main{
		position: relative;
		height: 900px;
		z-index: 3;
		.bg_wrap{
			position: absolute;
			left:50%;
			top:0;
			margin-left: -960px;
			img{
				position: absolute;
				top:0;
				left:0;
				@include css3(opacity,0);
				@include css3(transition, all 0.5s);
				&.on{
					@include css3(opacity,1);

				}
			}
		}
		.indicator{
			position: absolute;
			bottom:30px;
			width: 100%;
			text-align: center;

			span{
				display: inline-block;
				border-radius: 50px;
				margin: 0 4px;
				width: 14px;
				height: 14px;
				border: 2px solid #fff;
				box-sizing: border-box;
				cursor: pointer;
				&.on{
					background: #fff;
				}
			}
		}
		.inn_wrap{
			width: 1190px;
			margin: 0 auto;
			position: relative;
			z-index: 2;
			padding: 226px 0 0 0;
			@media screen and (max-width: 1190px){
				width: 950px;
			}
			.logo{
				position: absolute;
				top:355px;
				right: 0;
			}
			.txt{
				.button_area_v2{
					margin: 40px 0 0 0;
				}
			}
		}
	}

	.prd_wrapper{
		position: relative;
		z-index: 2;
		height: 2550px;
		overflow: hidden;
		@media screen and (max-width: 1190px){
			height:2400px;
		}
		.statement{
			position: relative;
			padding-bottom: 285px;
			z-index: 2;
			p{
				text-align: center;
				font:300 16px 'NotoSansKR';
				color:#fff;
				&.title{
					padding: 290px 0 28px;
				}
			}
		}
		.prd_bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
			img{
				@include css3(transition, all 30s);
				&.on{
				    transform: scale(1.2);
				}
			}
		}
		.inn_wrap{
			width: 1250px;
			height: 1300px;
			margin: 0 auto;
			position: relative;
			@media screen and (max-width: 1190px){
				width: 950px;
				height: 1090px;
				.box{
					width: 310px !important;
					.info{
					    height: 600px !important;
						img{
							width: 100%;
						}
					}
				}

			}
			&:after{
				content: '';
				display: inline-block;
				clear: both;
			}
			.box{
				float: left;
				margin-right: 10px;
				width: 410px;
				.top{
					img{
						width: 100%;
					}
				}
				.info{
					position: relative;
					background: url(http://image.adidas.co.kr//images/adidas/2019/event/outdoor/cut_bg.jpg) no-repeat;
					background-size: 100% 100%;
					height: 650px;
					img{
						position: absolute;
						top:50px;
						left:20px;
						@include css3(opacity,0);
						@include css3(transition, all 0.5s);
						&.on{
							left:0;
							@include css3(opacity,1);
						}
					}
					.button_area_v2{
						position: absolute;
						left:50%;
						margin-left: -70px;
						bottom:44px;
						&:hover{
							div{
								.bg{
									box-shadow: inset 0 0 0 1px #fff;
									-webkit-box-shadow: inset 0 0 0 1px #fff;
									@include css3(transition, all 0.5s);
								}
								a{
									color: #000;
									background: #fff;
									@include css3(transition, all 0.5s);

									span.arrow{
										background: #000;
										@include css3(transition, all 0.5s);
										em{
											background: #000;
											@include css3(transition, all 0.5s);
										}
									}

								}
							}
						}
					}
				}
				&.box2{
					.info{
						img{
							transition-delay: 0.4s;
						}
					}
				}
				&.box3{
					.info{
						img{
							transition-delay: 0.6s;
						}
					}
				}
			}
		}
	}

	.bottom_wrap{
		position: relative;
		width: 1250px;
		margin: 50px auto;
		@media screen and (max-width: 1190px){
			margin: 50px auto 0;
			width: 950px;
			.box{
			    width: 470px !important;
				background-size: cover !important;
				background-position: center;
			}
		}
		.box{
			display: inline-block;
			width: 620px;
			height: 400px;
			float: left;
			text-align: center;


			&.men{
				background: url('http://image.adidas.co.kr//images/adidas/2019/event/outdoor/men.jpg') no-repeat;
				background-size: 100% 100%;
				margin-right: 10px;
				    background-position: center;
			}
			&.women{
				background: url('http://image.adidas.co.kr//images/adidas/2019/event/outdoor/women.jpg') no-repeat;
				background-size: 100% 100%;
				    background-position: center;
			}
			.button_area_v2{
				padding: 310px 0 0 0;
				display: inline-block;
				width: 240px;
				a{
					text-transform: uppercase;
					span.arrow{
					    margin-left: 20px;
					}
				}
			}
		}
	}
}
