@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
.campaign_always{
    .bt_buy{
        display: block;
        height: 60px;
        width: 275px;
        border: 2px solid #000;
        color:#000;
        text-align: center;
        transition: .6s;
        font :500 18px/60px 'NotoSansKR';
        span{
            font :500 15px/60px 'NotoSansKR';
        }
        &:hover{
            background-color: #000;
            color:#fff;
            span{
                color:#fff;
            }
        }
    }
    .visual_video{
        position: relative;
        background: #fff;
        height:676px !important;
        .bg{
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -1017px;
            width: 1980px;
            img{
                display: block;
            }
        }

        .video_bg{
            width: 100%;
            .ie &{
                video{
                    width:100%;
                    min-width: 1900px;
                    height: 643px;
                }
            }
        }

        .masthead{
            text-align: center;
            top:50%;
            p{
                margin-bottom: 40px;
                font:400 18px/22px 'NotoSansKR';
            }
            a{
                position: relative;
                display: inline-block;
                width: 60px;
                height: 60px;
                border: 6px solid #fff;
                background: rgba(0, 0, 0, 0.5);
                box-sizing: border-box;
                margin-left: 10px;
                &.btn-play-video{
                    font: 18px/60px 'NotoSansKR';
                    margin: 0 4px;
                    padding-right: 25px;
                    .ico-video{
                        position: absolute;
                        top: 17px;
                        right: 35px;
                        display: inline-block;
                        width: 25px;
                        height: 25px;
                        background: url('http://image.reebok.co.kr/images/reebok/event/about/always/ico-video.png') 0 0 no-repeat;
                    }
                }
                &.btn-buy{
                    font: 18px/60px 'NotoSansKR';
                    margin: 0 4px;
                }
            }
        }
    }

    .prd_lineup{
        overflow: hidden;
        background: #ebebeb; /* Old browsers */
        background: -moz-linear-gradient(top, #ebebeb 0%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ebebeb 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ebebeb 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        .inner{
            width: 1190px;
            margin:0 auto;
            padding: 50px 0;
            text-align: center;
            h2{
                font: 56px/56px 'ReefontCondensed';
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #000;
                text-align: center;
                margin-bottom: 20px;
            }
            ul.prd_box{
                overflow: hidden;
                li{
                    float: left;
                    width: 25%;
                    text-align: center;
                    img{
                        display: inline-block;
                    }
                    h3{
                        font: 28px/28px 'ReefontCondensed';
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: #000;
                        text-align: center;
                        margin: 0 0 10px;
                    }
                    a{

                    }
                }
            }
        }
    }

    .slide_lineup{
        position: relative;
        width: 100%;
        height: 1019px;
        background: url('/images/reebok/event/about/Critic_collaboration/slide_bg.jpg')0 0 no-repeat;
        background-size: cover;
        padding-top: 50px;
        h2{
            font:55px/55px 'DINWebPro-CondBold';
            text-align: center;
            color:#3f403a;
            text-transform: uppercase;
            .bt_buy{
                margin: 20px auto;
            }
        }
        h4{
            font:16px/16px 'NotoSansKR';
            text-align: center;
            color:#000;
            margin: 5px 0 30px;
            a{
                color: #cc133f;
            }
        }
        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:590px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            margin-top: 50px;
            .arrow-prev{
                position: absolute;
                top:50%;
                left:50%;
                margin-left: -505px;
                background-position: -125px -80px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            .arrow-next{
                position: absolute;
                top:50%;
                left:50%;
                margin-left:495px;
                background-position: -125px -125px;
                z-index: 2;
                width: 22px;
                height: 42px;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 590px;
                li{
                    width: 972px;
                    position: relative;
                    float: left;
                    text-align: center;
                    @include opacity(1);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                    img{
                        display: inline-block;
                    }
                    &::after{
                        content: '';
                        width: 99%;
                        height: 590px;
                        background-color: #000;
                        @include opacity(0.7);
                        @include prefix-css3(transition ,opacity 0.3s ease-in 0.1s);
                        position: absolute;
                        top: 0;
                        left: 50%;
                        margin-left: -49.5%;
                    }

                }
                li.active{
                    @include opacity(1);
                    &::after{
                        content: '';
                        width: 99%;
                        height: 590px;
                        background-color: none;
                        @include opacity(0);
                        position: absolute;
                        top: 0;
                        left: 50%;
                        margin-left: -49.5%;
                    }
                }
            }
        }
        .indicator{
            text-align: center;
            margin-top: 50px;
            a{
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #d2d2d2;
                margin: 0 2px;
                &.on{
                    background: #be282a;
                }
            }
        }
    }

    .slide_prd{
        overflow: hidden;
        position: relative;
        margin-top: 100px;
        .bg{
            position: absolute;
            top:0;
            left: 50%;
            margin-left: -990px;
        }
        .images-slider{
            margin: 0 auto;
            img{}
        }
        .prev-button{
            position: absolute;
            top:50%;
            left:50%;
            margin-left: -505px;
            margin-top: -26px;
            background-position: -125px -80px;
            z-index: 2;
            width: 26px;
            height: 26px;
        }
        .next-button{
            position: absolute;
            top:50%;
            left:50%;
            margin-left:495px;
            margin-top: -26px;
            background-position: -125px -125px;
            z-index: 2;
            width: 26px;
            height: 26px;
        }
        .indicator{
            text-align: center;
            margin-top: 50px;
            a{
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #d2d2d2;
                margin: 0 2px;
                &.on{
                    background: #be282a;
                }
            }
        }
    }

    .slide_gal{
        overflow: hidden;
        position: relative;
        h2{
            font:55px/55px 'DINWebPro-CondBold';
            text-align: center;
            color:#3f403a;
            text-transform: uppercase;
            margin-top: 100px;
            margin-bottom: 20px;
        }
        h4{
            display: none;
            font:16px/20px 'dinpro';
            text-align: center;
            color:#000;
            margin: 5px 0 30px;
            a{
                color: #cc133f;
            }
        }
        .images-slider{
            margin:0 auto;
            img{}
        }
        .indicator{
            text-align: center;
            margin-top: 50px;
            a{
                display: inline-block;
                width: 40px;
                height: 6px;
                background: #d2d2d2;
                margin: 0 2px;
                &.on{
                    background: #be282a;
                }
            }
        }
    }

    .bn_bot{
        overflow: hidden;
        margin-top: 100px;
        position: relative;
        .bg{
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -990px;
            width: 1980px;
            height: 434px;
            img{
                display: inline-block;
            }
        }
        .inner{
            width: 1190px;
        }
        .bn_box{
            float: right;
            width: 600px;
            height: 434px;
            color: #000;
            text-align: center;
            h2{
                font:52px/52px 'DINWebPro-Cond';
                text-align: center;
                margin:170px 0 20px;
            }
            p{
                display: none;
                font:18px/26px 'NotoSansKR';
                text-align: center;
                margin: 50px 0 40px;
            }
            .button-anim{
                margin: 0 auto;
                width: 200px;
                a{
                    width: 200px;
                    pdding: 25px 0;
                    font:18px/18px 'NotoSansKR';
                    color: #000;
                    letter-spacing: normal;
                }
            }
        }
    }

    .prod_map{
        position: relative;
        height: 2943px;
        background:url('/images/reebok/event/about/Critic_collaboration/model_bg.jpg') no-repeat;
        overflow: hidden;
        h4{
            font:56px/71px 'QStencil';
            text-align: center;
            color: #fff;
            margin-top: 90px;
            margin-bottom: 30px;
            span{
                font:15px/16px 'NotoSansKRRegular';
            }
            .bt_buy{
                margin: 40px auto 70px;
            }
        }
        .tit_model{
            position: relative;
            overflow: hidden;
            height: 1250px;
        }

        .model{
            position: relative;
            overflow: hidden;
            height: 810px;
        }


        .cut{
            position: absolute;
            z-index: 5;
            left: 50%;
            margin-left: -455px;
            &.model02{
                margin-left: 0;
                top: 70px;
            }
            &.model03{
                top: 70px;
            }
            .point{
                width: 26px;
                height: 26px;
                position: absolute;
                .bg{
                    width: 100%;
                    height: 100%;
                    background: #000;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                span{
                    width: 100%;
                    height: 20px;
                    display: block;
                    text-align: center;
                    font:16px/20px 'DINWebPro-CondBold';
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    margin-top: -10px;
                    left: 0;
                    z-index: 2;
                }
                .bg_active{
                    width: 26px;
                    height: 26px;
                    border:2px solid #fff;
                    z-index: 1;
                    opacity: 0;
                    filter:alpha(opacity=0);
                    -ms-filter:alpha(opacity=0);
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
        .info{
            position: absolute;
            z-index: 10;
            left: 50%;
            margin-left: -750px;
            .bt_area{
                width: 354px;
                height: 96px;
                padding-top: 15px;
                margin: -30px 0 0 -71px;
                background: url('/images/reebok/event/about/Critic_collaboration/bt_bg.png') no-repeat;
                .bt_buy{
                    margin: 0 auto;
                }
            }
            .left{
                margin-left: 360px;
                position: absolute;
                top: 140px;
                &.model_list{
                    li{
                        padding-bottom: 75px;
                    }
                }
            }

            .right{
                margin-left: 900px;
                position: absolute;
                top: 100px;
                &.model_list{
                    li{
                        padding-bottom: 75px;
                    }
                }
            }


            li{
                width: 310px;
                height: 30px;
                padding: 5px 0 105px 25px;
                position: relative;
                .txt{
                    padding-left: 5px;
                    position: relative;
                    font: 18px/20px 'DINWebPro-CondBold','Nanum Gothic';
                    color: #000;
                    z-index: 10;
                    span{
                        font:700 26px/36px 'NotoSansKR','Nanum Gothic';
                    }
                        .num{
                            position: absolute;
                            top: -6px;
                            left: -80px;
                            width: 70px;
                            height: 60px;
                            background: url('/images/reebok/event/about/Critic_collaboration/num_bg.png')0 0 no-repeat;
                            span{
                                position: absolute;
                                width: 26px;
                                height: 26px;
                                top: 15px;
                                left: 20px;
                                font: 16px/29px 'DINWebPro-CondBold';
                                text-align: center;
                                color: #000;
                                border: 2px solid #000;
                            }
                    }
                }
                .link{
                    padding-right: 17px;
                    display: block;
                    position: absolute;
                    top: 7px;
                    right: 5px;
                    color: #999999;
                    font: 13px/13px 'NotoSansKR','Nanum Gothic';
                    z-index: 10;
                    .disable{
                        background:none;
                        color: #999999;
                    }
                }
                .no_prod{
                    color: #707070;
                }
                .line{
                    position: absolute;
                    top: 62px;
                    left: 0;
                    width: 277px;
                    height: 7px;
                    background: url('/images/reebok/event/about/Critic_collaboration/list_bg.png')0 0 no-repeat;
                    opacity: 0;
                    filter: alpha(opacity=0);
                    -ms-filter: alpha(opacity=0);
                }
            }
        }
    }

    .mail_box{
        margin-top: 100px;
        position: relative;
        .inner{
            width: 890px;
            overflow: hidden
        }
        .mail_box_img{
            float: left;
            width: 370px;
            img{
                display: block;
            }
        }
        .mail_box_form{
            float: left;
            width: 450px;
            margin-left: 70px;
            h2{
                font:700 48px/48px 'DINWebPro-Cond';
                color: #000;
                margin: 80px 0 10px;
            }
            p{
                font:16px/16px 'NotoSansKR';
                color: #000;
                margin-bottom: 35px;
                letter-spacing: -0.03rem;
                em{
                    font:500 18px/18px 'DINWebPro-Cond';
                    color: #000;
                }
            }
            table{
                width: 100%;
                tr{
                    td{
                        height: 44px;
                        &.td-void{
                            height: 30px;
                        }
                    }
                }
            }
            .input-ctm{
                width: 100%;
                height: 100%;
                position: relative;
                display: block;
                padding-left: 20px;
                color: #000;
                font: 400 14px/44px 'NotoSansKR','Nanum Gothic';
                background: #fff;
                z-index: 4;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }
        }
        .btn-signup{
            display: inline-block;
            width: 95px;
            height: 40px;
            background: url('http://image.reebok.co.kr/images/reebok/event/about/always/btn_mail.jpg') 100% 100% no-repeat;
            transition: .6s;
            &:hover{
                background: url('http://image.reebok.co.kr/images/reebok/event/about/always/btn_mail_on.jpg') 100% 100% no-repeat;
            }
        }
    }

    .event_area{
        position: relative;
        height: 1127px;
        img{
            position: absolute;
            left: 50%;
            margin-left: -952px;
        }
    }
}
/* Always Camapign end */
.campaign-btn {
    width: 200px;
}
