@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1250px;
	overflow: hidden;
}
#outdoor_cp {
	position: relative;

	.button_area_v2{
		display: inline-block;
		// width: 145px;
		&:hover{
			div{
				.bg{
					box-shadow: inset 0 0 0 1px #000;
    				-webkit-box-shadow: inset 0 0 0 1px #000;
					@include css3(transition, all 0.5s);
				}
				a{
					color: #fff;
				    background: #000;
					@include css3(transition, all 0.5s);

					span.arrow{
						background: #fff;
						@include css3(transition, all 0.5s);
						em{
							background: #fff;
							@include css3(transition, all 0.5s);
						}
					}

				}
			}
		}
		a{
			padding:0 20px;
			font: 600 15px/49px 'NotoSansKR';
			letter-spacing: 1px;
			span.arrow{
				margin-left: 15px;
			}
		}
		// width: 140px;
	}

	.main{
		position: relative;
		height: 860px;
		z-index: 3;
		.bg_wrap{
			position: absolute;
			left:50%;
			top:0;
			margin-left: -960px;
			img{
				position: absolute;
				top:0;
				left:0;
				@include css3(opacity,1);
				@include css3(transition, all 0.5s);
				&.on{
					@include css3(opacity,1);

				}
			}
		}
		.inn_wrap{
			width: 1190px;
			margin: 0 auto;
			position: relative;
			z-index: 2;
			padding: 292px 0 0 50px;
			.txt{
				h2{
					padding:15px 0 25px 0;
					font:600 26px 'NotoSansKR';
					color:#000;
				}
				p{
					font:500 18px/26px 'NotoSansKR';
					color:#000;
				}
				.button_area_v2{
					
					margin: 40px 0 0 0;
					a{
						padding:0 20px;
					}
				}
			}
		}
	}

	.statement{
		position: relative;
		height:350px;
		text-align: center;
		.imgbg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.content{
			position: relative;
			text-align: center;

			z-index: 2;
		}
		h3{
			padding:78px 0 35px 0;
			font:600 36px/45px 'NotoSansKR';
			color:#fff;
			text-align: center;
			letter-spacing: 6px;
		}
		.desc{
			text-align: center;
			
			p{
				text-align: center;
				display: inline-block;
				font:300 18px/28px 'NotoSansKR';
				color:#fff;
				vertical-align: middle;
			}
		}
		.button_area_v2{
			margin:40px 0 0 0;
		}

	}

	.navi{
		position: relative;
		overflow: hidden;
		&.fixed{
			position: fixed;
			top:0;
			left:0;
			width:100%;
			z-index: 10;
		}
		.inn_box{
			width: 50%;
			height: 250px;
			float: left;
			box-sizing: border-box;
			border:10px solid transparent;
			transition: all 0.2s;

			&:hover{
				

				.btn{
					opacity: 1;

				}
			}
			&.on{
				border:10px solid #e5ac14;;
				.btn{
					opacity: 1;

				}
				&.left{
					background: url('/images/adidas/2019/event/outdoor/1002_shelter/btn_left_bg_on.jpg') no-repeat;
					background-position: center;
				}
				&.right{
					background: url('/images/adidas/2019/event/outdoor/1002_shelter/btn_right_bg_on.jpg') no-repeat;
					background-position: center;
				}
			}
			&.left{
				background: url('/images/adidas/2019/event/outdoor/1002_shelter/btn_left_bg.jpg') no-repeat;
				background-position: center;
			}
			&.right{
				background: url('/images/adidas/2019/event/outdoor/1002_shelter/btn_right_bg.jpg') no-repeat;
				background-position: center;
			}
			.btn{
				box-sizing: border-box;
				margin:145px auto 0;
				text-align: center;
				width:440px;
				height: 65px;
				font:500 22px/62px 'NotoSansKR';
				background: rgba(0,0,0,0.4);
				color:#fff;
				border:1px solid #b39823;
				letter-spacing: 3px;
				opacity: 0.5;
				transition: all 0.2s;
				
			}
			
		}
	}

	.items_wrapper{
		position: relative;
		height: 6978px;
		background: #000;
		.item_wrap{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
			transition: all 0.4s;
			&.on{
				opacity: 1;
				z-index: 2;
			}
			&.item2{

			}
			.coll_top{
				position: relative;
				height: 1708px;
				
				.title{
					padding-top: 640px;
				}
				.imgbg{
					position: absolute;
					top:0;
					left:50%;
					margin-left: -960px;
				}
				.txt_area{
					position: absolute;
					top:1477px;
					left: 50%;
					width:290px;
					height:200px;
					>*{
						color:#fff;
					}
					span{
						font:18px 'adinenuPro-light';
						letter-spacing: 1px;
					}
					p{
						font:300 20px 'NotoSansKR','adinenuPro-light';
						
					}
					.price{
						font:400 19px 'adinenuPro-light','NotoSansKR';
						letter-spacing: 1px;
						span{
							font: 22px 'adinenuPro-regular';

						}
	
					}
					.button_area_v2{
						margin:25px 0 0 0;
					}
				}
			}
			
		}
	}

	.collection{
		position: relative;
		height:1890px;
		.imgbg{
			position: absolute;
			top:0;
			left:50%;
			margin-left:-960px;
		}
		.title{
			position: relative;
			padding: 700px 0 30px 0;
			z-index: 1;
			h4{
				padding:0 0 30px 0;
				font:900 33px 'NotoSansKR';
				color:#fff;
				text-align: center;
				letter-spacing: 7px;
			}
			p{
				padding:0 0 30px 0;
				font: 300 18px/28px 'NotoSansKR';
				color:#fff;
				text-align: center;
				letter-spacing: 1px;

			}
		}
		.slider_content{
			// padding:30px 0 0 0;
			overflow: visible !important;
			position: relative;
			left: 50%;
			margin-left: -458px;
			ul{
				overflow: hidden;
				// left: 50%;
				position: relative;
				// margin-left: -1349px;
				li{
					float: left;
					margin:0 60px;
				}
			}
		}
		.btnarrow_wrap{
			position: absolute;
			top: 50%;
			left: 0;
			width: 950px;
			height: 50px;;
			// margin-left: -445px;
		}
		.btnarrow{
			position: absolute;
			top:0px;
			left:0;
			z-index: 4;
			&.next-button{
				right: 3px;

				left: initial;
				left:auto;
			}
			&.prev-button{
				left: -11px;
			}
		}
		.indicator{
			position: absolute;
			left: 0;
			padding: 30px 0 0 0;
			z-index: 1;
			text-align: center;
			/* width: 100%; */
			width: 920px;
			a{
				display: inline-block;
				margin:0 3px;
				width:13px;
				height:13px;
				border:2px solid #fff;
				border-radius: 50px;
				box-sizing: border-box;
				text-indent: -9999px;
				&.on{
					background: #fff;
				}
			}
		}
		.slider_bottom{
			position: relative;
			padding:73px 0 0 0;
			text-align: center;
			p{
				font: 500 28px 'NotoSansKR';
				color: #fff;
				text-align: center;
				letter-spacing: 2.5px;
				text-transform: uppercase;
				span{
					text-transform: uppercase;
					font: 30px 'adinenuPro-bold';
				}
			}
			.button_area_v2{
				margin:32px 0 0 0;
			}
		}
	}

	.collection_s{
		position: relative;
		height: 690px;
		.imgbg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.inn{
			position: relative;
			margin:0 auto;
			width: 1200px;
			.s_slider_wrap{
				position: relative;
				display: inline-block;

			}
			.s_slider{
				display: inline-block;
			}
			.indicator{
				width: 100%;
				position: relative;
				margin:23px 0 0 0;
				z-index: 1;
				text-align: center;
				a{
					display: inline-block;
					margin: 0 3px;
					width: 13px;
					height: 13px;
					border: 2px solid #fff;
					border-radius: 50px;
					box-sizing: border-box;
					// text-indent: -9999px;
					&.on{
						background: #fff;
					}
				}
			}
			.txt_area{
				position: absolute;
				top:430px;
				left: 50%;
				width:290px;
				height:200px;
				>*{
					color:#fff;
				}
				span{
					font:18px 'adinenuPro-light';
					letter-spacing: 1px;
				}
				p{
					font:300 20px 'NotoSansKR','adinenuPro-light';

				}
				.price{
					font:400 19px 'adinenuPro-light','NotoSansKR';
					letter-spacing: 1px;
					span{
						font: 22px 'adinenuPro-regular';

					}

				}
				.button_area_v2{
					margin:25px 0 0 0;
				}
			}
		}
	}

	.video_wrap{
		position: relative;
		height:800px;
		&.right{
			.txt{
				p{
					text-align: right !important;
				}
			}
		}
		.video_bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.txt{
			position: relative;
			width:960px;
			padding:388px 0 0 0;
			margin:0 auto;
			z-index: 1;
			p{
				color:#fff;
				font: 400 18px 'NotoSansKR';
				letter-spacing: -0.1px;

				&.bold{
					padding:0 0 10px 0;
					font: 500 30px 'NotoSansKR';
				}
			}
		}
	}

}
