@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#test{
	position: relative;
	overflow: hidden;

	.button_area_v2{
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		&.coming{
			&:hover{
				a{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
					-webkit-transition: all .5s;
					transition: all .5s;
					opacity: .9;
				}
				.bg{
					&::after{
						-webkit-transform: translate(3px,3px);
						transform: translate(3px,3px);
					}
				}
			}
			a{
				cursor: default;
			}
		}
		a{
			font: 700 14px/48px 'NotoSansKR';
			letter-spacing: 0;
			padding: 0 20px;
			letter-spacing: 1px;
		}
	}
	.test_list{
		width:100%;
	}
	.test_fl_all{
		position:relative;
		  width:100%;
		   background:url('/images/adidas/2020/event/testtest/test_img1.jpg')Center Center no-repeat;
			height:600px;
			.txt{
				position:absolute;left:300px;top:185px;
				span{
					display:block;
				}
				h2{
					font-size:2.8rem;
					 color:#fff; 
					 margin:10px 0 15px 0; 
					 line-height:2.8rem; 
					 letter-spacing:10px;
				}
				p{
					margin-bottom:38px;
				}
				a{
					position:relative; 
					display:inline-block; 
					background:#fff; 
					padding:17px 54px 17px 18px;
				}
					a:before{
						content:''; 
						display:block; 
						position:absolute;right:-4px;bottom:-4px; 
						width:140px; height:48px; 
						border:1px solid #fff;
					}
					em{
						color:#111; 
						font-size:1rem; 
						font-weight:bold; 
						position:relative;
					}
					em:before{
						content:''; 
						display:block; 
						position:absolute;right:-35px;top:1px; 
						width:24px; height:12px; 
						background:url('/images/adidas/2020/event/testtest/arrow.png')center center no-repeat;
					}
			}
		}
				
	.test_fr_all{
		.img{position:absolute;right:180px;top:43px;}
	}
}


.cf{content:''; clear:both; display:table;}