@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#kids_wnd {
	position: relative;

	.button_area_v2{
		&:hover{
			div{
				.bg{
					box-shadow: inset 0 0 0 1px #000;
    				-webkit-box-shadow: inset 0 0 0 1px #000;
					@include css3(transition, all 0.5s);
				}
				a{
					color: #fff;
				    background: #000;
					@include css3(transition, all 0.5s);

					span{
						background: #fff;
						@include css3(transition, all 0.5s);
						em{
							background: #fff;
							@include css3(transition, all 0.5s);
						}
					}

				}
			}
		}
		a{
			letter-spacing: 1px;
		}
	}

	.main{
		position: relative;
		height: 800px;
		&.on{
			.inn{
				>*{
					&::before{
						height:0;
					}
				}
			}
		}
		>.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.inn{
			position: relative;
			padding: 280px 0 0 120px;
			width: 1200px;
			margin: 0 auto;
			z-index: 1;
			transition: all 0.5s;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			@media screen and(max-width: 1190px){
				width: 950px;
			}
			>*{
				&::before{
					display: inline-block;
					content: '';
					position: relative;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 32px;

					transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
				}
			}
			h2{
				overflow: hidden;
				height: 32px;
				font:800 32px/32px 'NotoSansKR';
				color:#000;
				letter-spacing: 1.8px;
			}
			p{
				overflow: hidden;
				height: 32px;
				padding: 10px 0 0 0;
				font:500 28px/28px 'NotoSansKR';
				color:#000;
				&::before{
					transition-delay: 0.2s;
				}
			}
			.button_area_v2{
				margin: 30px 0 0 0;
				width: 150px;
				a{
					height: 46px;
					line-height: 46px;
				}
				&::before{
					transition-delay: 0.4s;
				}
			}
		}
	}

	.statement{
		overflow: visible;
		position: relative;
		padding: 100px 0;
		text-align: left;
		>img{
			position: absolute;
			top: -120px;
			left: 50%;
			margin-left: -480px;
		}
		.inn{
			width: 1200px;
			margin: 0 auto;
			p{
				padding-left: 630px;
				text-align: left;
				font:500 20px 'NotoSansKR';
				color:#000;
				em{
					font: 22px 'adinenuPro-regular';
					letter-spacing: 1px;
				}
			}
		}		
	}

	.sect_prds{
		position: relative;
		height: 1716px;
		&.on{
			>div{
				@include css3(opacity,1);

			}
		}
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.grid-slide{
			position: absolute;
			width: 447px;
			height: 416px;
			left: 50%;
			img{
				position: absolute;
				top: 0;
				left: 0;
				@include css3(opacity,0);
				@include css3(transition, all 0.5s);
				&.on{
					@include css3(opacity,1);
				}
			}
			.navi{
				position: absolute;
				left:50%;
				bottom: -25px;
				margin-left: -21px;
				z-index: 2;
				span{
					display: inline-block;
					margin-right:8px;
					width: 13px;height:13px;
					background: #9ea194;
					border-radius: 50px;
					&.on{
						background: #000;
					}
				}
			}
		}
		.prds_01{
			top: 85px;
			margin-left: -375px;
		}
		.prds_02{
			position: absolute;
			top: 658px;
			left: 50%;
			margin-left: -56px;
		}
		.prds_03{
			top: 1217px;
			margin-left: -375px;
		}
	}

	.sect_bot{
		position: relative;
		height: 823px;
		>.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.b_box{
			position: absolute;
			top: 36%;
			left: 50%;
			margin-left: -260px;
			z-index: 3;
			h2{
				font:600 32px/32px 'NotoSansKR';
				color:#000;
				letter-spacing: 1.8px;
			}
			h3{
				padding: 10px 0 0 0;
				font:400 28px/28px 'NotoSansKR';
				color:#000;
				padding-bottom: 20px;
			}
			p{
				text-align: left;
				font:500 20px/28px 'NotoSansKR';
				color:#000;
				padding-bottom: 30px;
				em{
					font: 22px 'adinenuPro-regular';
					letter-spacing: 1px;
				}
			}
			.button_area_v2{
				display: inline-block;
				a{
					padding: 0 20px;
				}
			}
		}
	}
}
