@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';
*{padding:0;margin:0;}
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
.ZNE_born_ready{
	background-color:white;
	position:relative;
	overflow: hidden;

	.box1{
		position: relative;
		height: 996px;
		// .img{
		// 	position: absolute;
		// 	top:0;
		// 	left: 50%;
		// 	margin-left: -960px;
		//
		// 	img{
		// 	}
		// }
		.video{
			position: absolute;
			top:0;
			left: 50%;
			margin-left: -960px;
			img{
			}
		}
		.txt{
			position: absolute;
			bottom: 50%;
			right: 50%;
			margin-bottom: -310px;
			margin-right: -586px;
			text-align: right;
			h1{
				font: 88px 'adihausDIN-Cond-bold';
				color: #eee548;
				text-align: right;
				line-height: 1;
				letter-spacing: 4px;
			}
				.wrapper{
					margin:25px 0 45px 0;
					text-align: right;
					p{
						text-align: right;
		    			font: 700 22px 'NotoSansKR';
						color:#fff;
					}
					span{
						font: 500 13px 'NotoSansKR';
						color:#efe34f;
						background:rgba(000,000,000,0.5);

					}
				}

			.wrap{
				text-align: right;
				margin: 0 0 15px 0;
				.btn1{
					display: inline-block;
					background:#000;
					a{
						display: block;
						padding:13px 15px;
						color:#fff;
						font:12px 'NotoSansKR';
						img{
							margin-left: 15px;
						}
					}
				}
			}
			.btn2{
				display: inline-block;
				background:#000;
				a{
					display: block;
					padding:13px 15px;
					color:#fff;
					font:12px 'NotoSansKR';
					img{
						margin-left: 15px;
					}
				}
			}
		}
	}

	.box2{
		position: relative;
		height: 960px;
		&.active{
			.section_visual{
				img{
					@include css3(transition, all 1s ease-in 0.3s);
					@include opacity(1);
				}
			}
		}
		.img{
			position: absolute;
			top:50%;
			right: 50%;
			margin-top: -480px;
			margin-right: -960px;
		}
		.section_visual{
			position: absolute;
			top:50%;
			right: 50%;
			margin-top: -370px;
		    margin-right: -975px;

			// video{
			// 	width:92%;
			// }
			img{
				display: none;
				&.naeun1{
					position: absolute;
					top: 50%;
					right: 50%;
					margin-top: 100px;
					margin-right: 376px;
					&.on{
						display: block;
					}
				}
				&.naeun2{
					position: absolute;
					top: 50%;
					right: 50%;
					margin-top: 47px;
				    margin-right: 439px;
					&.on{
						display: block;
					}
				}
				&.naeun3{
					position: absolute;
					top: 50%;
					right: 50%;
					margin-top: 36px;
				    margin-right: 449px;
					&.on{
						display: block;
					}
				}
				&.heungmin1{
					position: absolute;
					top: 50%;
					right: 50%;
					margin-top: 82px;
				    margin-right: 373px;
					&.on{
						display: block;
					}
				}
				&.heungmin2{
					position: absolute;
					top: 50%;
					right: 50%;
					margin-top: 47px;
				    margin-right: 439px;
					&.on{
						display: block;
					}
				}
				&.heungmin3{
					position: absolute;
					top: 50%;
					right: 50%;
					margin-top: 36px;
				    margin-right: 399px;
					&.on{
						display: block;
					}
				}
				&.johw1{
					position: absolute;
					top: 50%;
					right: 50%;
					margin-top: 38px;
				    margin-right: 379px;
					&.on{
						display: block;
					}
				}
				&.johw2{
					position: absolute;
					top: 50%;
					right: 50%;
					margin-top: 40px;
				    margin-right: 319px;
					&.on{
						display: block;
					}
				}
				&.johw3{
					position: absolute;
					top: 50%;
					right: 50%;
					margin-top: 33px;
				    margin-right: 439px;
					&.on{
						display: block;
					}
				}
				&.blping1{
					position: absolute;
					top: 50%;
					right: 50%;
					margin-top: 38px;
				    margin-right: 442px;
					&.on{
						display: block;
					}
				}
				&.blping2{
					position: absolute;
					top: 50%;
					right: 50%;
					margin-top: 49px;
				    margin-right: 452px;
					&.on{
						display: block;
					}
				}

			}
		}
		.txt{
			position: absolute;
			top:50%;
			left: 50%;
			margin-top: -166px;
			margin-left: -555px;
			text-align: left;
			h1{
				font:700 55px 'NotoSansKR';
				color:#eee548;
				text-align: left;
				line-height: 1;
				margin-bottom:25px;
			}
			p{
				color:#fff;
				font:600 15px 'NotoSansKR';
				margin-bottom:40px;
			}
			.btn{
				display: inline-block;
				background:#000;
				a{
					display: block;
					padding:13px 15px;
					color:#fff;
					font:12px 'NotoSansKR';
					img{
						margin-left: 15px;
					}
				}
			}
		}
	}

	.box3{
		.container{
			&.active{
				.products_collection{
					@include css3(transition, all .7s ease-in 0.3s);
					@include opacity(1);
					bottom:0px;
				}
			}
			.products_collection{
				width: 100%;
				height: 680px;
				// height: 1135px;
				position: relative;
				@include opacity(0);
				bottom: -30px;
				p{
					text-align: center;
					font: 500 22px/20px 'NotoSansKR';
					color: #006ab4;
					margin:70px;
					line-height: 25px;
				}

				.wide-slider-wrapper{
					position: relative;
					margin: 80px 0 0 0;
					width: 100%;
					height:564px;
					left: inherit;
					margin-left:inherit;
					z-index: 1;
					overflow: hidden;
					.arrow{
						position: absolute;
						top:50%;
						left:50%;
						width: 33px;
						height: 60px;
						z-index: 2;
						&.arrow-prev{
							margin-left: -575px;
						    margin-top: -90px;
							background: url('/images/adidas/event/zne/ZNE_born_ready/prev.png')0 0 no-repeat;
						}
						&.arrow-next{
							margin-left: 565px;
						    margin-top: -90px;
							background: url('/images/adidas/event/zne/ZNE_born_ready/next.png')0 0 no-repeat;
						}
					}


					ul{
						position: absolute;
						top:0;
						width: 100%;
						height: 702px;
						li{
							width: 996px;
							margin:0 75px;
							position: relative;
							float: left;
							@include opacity(0.4);
							@include css3(transition, opacity 0.4s ease-in 0.3s);
						}
						li.active{
							@include opacity(1);
						}
					}
				}


				.slider-btn{
					position: absolute;
					padding: 30px 0;
					text-align: center;
					bottom: 85px;
					left: 50%;
					margin-left: -499.5px;
					a{
						display: inline-block;
						padding-top: 2px;
						text-align: center;
						margin: 0 77px;
						color: #000;
						font:700 16px 'NotoSansKR';
						text-transform: uppercase;
						&.on{
							// font:700 22px 'NotoSansKR';
							border-bottom: 1px solid #fff;
							padding-bottom: 10px;
							color:#fff;
						}
					}
				}

			}

			.contents{
				position: relative;
				height: 2688px;

				.item{
					position: absolute;
					top:0;
					left: 50%;
					margin-left: -960px;
				    width: 1920px;
					text-align: center;
					opacity:0;
					transition: all 1s;
				    transition-delay: .5s;
					&.on{
						opacity:1;
						z-index: 99;
					}
					.wrap{
						.tab1, .tab2{
							position: relative;
							float: left;
							width:50%;
							overflow: hidden;
						}
						.tab1{
							.txt{
								position: absolute;
								position: absolute;
								top: 50%;
								left: 50%;
								margin-top: -149px;
								margin-left: -55px;
								h1{
									font:600 55px 'NotoSansKR';
									color:#efe34f;
									line-height: 60px;
									text-align: left;
									text-indent: -40px;
								}
								.indent{
									font:600 55px 'NotoSansKR';
									color:#efe34f;
									line-height: 60px;
									text-align: left;
									text-indent: -40px;
								}
								p{
									font:600 15px 'NotoSansKR';
									color:#fff;
									margin: 30px 0 60px 0;
								}
								.btn{
									display: inline-block;
									background:#000;
									a{
										display: block;
										padding:13px 15px;
										color:#fff;
										font:12px 'NotoSansKR';
										img{
											margin-left: 15px;
										}
									}
								}
							}
							>img{
								width:100%;
							}
							&:hover img{
								transform: scale(1.05);
								transition:all 2s ease-out;
							}
						}
						.tab2{
							overflow: hidden;
							video{
								// transform: scale(1.05);
								// transition:all 2s ease-out;
								width: 100%;
								height: 100%;
							}
						}
					}

					.wrap2{
						width: 100%;
						overflow: hidden;
						.tab3, .tab4{
							position: relative;
							float: left;
							width:50%;
							overflow: hidden;
						}
						.tab3{
							.scale{
								width: 50%;
								float: left;
								overflow: hidden;
								img{
									width:100%;
								}
								&:hover img{
									transform: scale(1.05);
									transition:all 2s ease-out;
								}
							}
							.none_scale{
								width: 50%;
								float: left;
								img{
									width: 100%;
								}
							}
						}
						.tab4{
							.txt{
								position: absolute;
								top: 50%;
								left: 50%;
								margin-top: -281px;
								margin-left: -277px;
								text-align: center;
								h1{
									font:700 35px 'NotoSansKR';
									color:#efe34f;
									margin-bottom: 30px;
								}
								.btn{
									display: inline-block;
									background:#000;
									a{
										display: block;
										padding:13px 15px;
										color:#fff;
										font:12px 'NotoSansKR';
										img{
											margin-left: 15px;
										}
									}
								}
							}
							.scale100{
								float: left;
								overflow: hidden;
								width: 100%;
								img{
									width:100%;
								}
								&:hover img{
									transform: scale(1.05);
									transition:all 2s ease-out;
								}
							}
							.scale{
								overflow: hidden;
								width: 50%;
								float: left;
								img{
									width:100%;
								}
								&:hover img{
									transform: scale(1.05);
									transition:all 2s ease-out;
								}
							}
							.none_scale{
								width: 50%;
								float: left;
								img{
									width:100%;
								}
							}
						}

					}
					.tab5{
						position: relative;
						clear: both;
						width: 100%;
						img{
							width:100%;
						}
						.txt{
							position: absolute;
						    top: 50%;
						    left: 50%;
						    margin-top: -95px;
						    margin-left: -217px;
						    font: 700 50px 'NotoSansKR';
							p{
								line-height: 70px;
								text-align: center;
								color: #016db8;
							}

						}
					}
				}
				.karim{
					background:#016db8;
				}

				.garbine{
					background:#85d9c9;
					.wrap{
						.tab1, .tab2{
							&.tab1{
								.txt{
									h1{
										color:#ff4b47;
									}
									.indent{
										color:#ff4b47;
									}
									p{
										color:#fff;
									}
								}
								&:hover img{
									transform: none;
									transition:none;
								}
							}
						}
					}
					.wrap2{
						background: #fe4c3e;
						.tab3, .tab4{
							&.tab4{
								.txt{
									h1{
										color:#85d9c9;
									}
								}
							}
						}
					}
					.tab5{
						.txt{
							p{
								color: #ff4b47;
							}
						}
					}
				}

				.julie{
					.wrap{
						.tab1, .tab2{
							&.tab1{
								.txt{
									h1{
										color:#f0e845;
									}
									.indent{
										color:#f0e845;
									}
									p{
										color:#fff;
									}
								}
							}
						}
					}
					.wrap2{
						.tab3, .tab4{
							&.tab4{
								.txt{
									h1{
										color:#f0e845;
									}
								}
							}
						}
					}
					.tab5{
						.txt{
							p{
								color: #f0e845;
							}
						}
					}
				}
				.deandre{
					.wrap{
						.tab1, .tab2{
							&.tab1{
								.txt{
									h1{
										color:#0168b7;
									}
									.indent{
										color:#0168b7;
									}
									p{
										color:#fff;
									}
								}
								&:hover img{
									transform: none;
									transition:none;
								}
							}
						}
					}
					.wrap2{
						.tab3, .tab4{
							&.tab4{
								.txt{
									h1{
										color:#ff4a39;
									}
								}
							}
						}

					}
					.tab5{
						.txt{
							p{
								color: #0168b7;
							}
						}
					}
				}
			}
		}
	}
}
