@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';

#container_r{
	z-index: 21;
}
#originals_pod{
	position: relative;
	min-width: 1190px;
	overflow: hidden;
	.model{
		.model_top{
			width: 100%;
			height: 90px;
			background: #000;
			padding-left: 100px;
		}
		.model_mid{
			position: relative;
			width: 100%;
			padding: 40px 95px 110px;
			background: url('/images/adidas/event/originals/pod/180808/bg_model_sect.jpg') 0 0 no-repeat;
			background-size: 100% 100%;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			.model_sect{
				overflow: hidden; //none
				position: relative;
				margin-bottom: 100px;
				&:last-child{
					margin-bottom: 0;
				}
				img{
					width: 100%;
				}
				.ms_box{
					position: relative;
					float: left; //none
					width: 50%;
					.ms_text{
						width: 474px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						text-align: center;
						h3{
							font:600 34px/51px 'adihaus-bold';
							color: #fff;
							text-align: center;
						}
						p{
							font:600 20px 'NotoSansKR';
							color: #fff;
							text-align: center;
						}
						a.buy{
							display: inline-block;
							margin-top: 30px;
							height: 50px;
							width: 180px;
							text-align: center;
							border:1px solid #fff;
							font:600 18px/51px 'NotoSansKR';
							color:#fff;
							text-transform: uppercase;

						}
					}
				}
			}
		}
		.model_bot{
			.visual_video{
				position: relative;
				cursor: pointer;
				&:hover{
					.masthead{
						.play{
							cursor: pointer;
							background: none;
							border:3px solid #fff;
							&:after{
								background-position: 100% 0;
							}
						}
					}
				}
				.bg{
					text-align: center;
					img{
						width: 100%;
					}
				}
				.masthead{
					position: absolute;
					top:50%;
					left:50%;
					.play{
						position: relative;
						display: inline-block;
						width:105px;
						height: 105px;
						margin-left: -52px;
						margin-top: -52px;
						border:3px solid #c1c0c3;
						border-radius: 100px;
						background: rgba(0, 0, 0, 0.3);
						@include css3(transition , all 0.5s);
						&:after{
							position: absolute;
							top:38px;
							left:43px;
							content: "";
							width:25px;
							height:31px;
						    display: block;
							background: url("http://image.adidas.co.kr/images/adidas/event/crazy/btn_arrow_w.png");
							background-position: 0 0;
							@include css3(transition , all 0.5s);
						}
					}
				}
			}
		}
	}
	.main{
		position: relative;
		height: 826px;
		overflow: hidden;
		&.video{
			.video_bg{
				@include css3(opacity,1);

			}

			.content{
				.video_close{
					// @include css3(opacity,1);
					@include css3(opacity,0);

				}
				.video_wrap{
					// @include css3(opacity,1);
					@include css3(opacity,0);


				}
				.main_shoe{
					top:840px
				}
				.card_wrap{
					&.type1{
						top:900px;
					}
					&.type2{
						top:900px;
					}
					&.type3{
						top:900px;
					}
				}
			}
		}
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		h2{
			position: relative;
			top:50px;
			text-align: center;
		}
		.video_bg{
			position: absolute;
			width: 100%;
			// left:50%;
			// margin-left: -960px;
			top:0;
			background: rgba(0,0,0,0.6);
			z-index: 10;
			height: 826px;
			@include css3(opacity,0);
			@include css3(transition, all 0.6s);
			transition-delay: 0.8s;



		}
		.content{
			z-index: 11;
			.video_close{
				position: absolute;
				top:48px;
				left: 50%;
				margin-left: 258px;
				@include css3(opacity,0);
				@include css3(transition, opacity 0.6s);
				transition-delay: 0.8s;

				img{
					width: 25px;
				}
			}
			.video_wrap{
				position: absolute;
			    top: 49px;
			    left: 50%;
			    margin-left: -240px;
				@include css3(opacity,0);


				div{
					video{

					}
				}
			}
			.main_shoe{
				position: absolute;
			    top: 343px;
			    left: 50%;
			    margin-left: -212px;
				@include css3(transition, all 0.6s);

			}
			.card_wrap{
				position: absolute;
				left:50%;
				&.type1{
					top: 382px;
				    margin-left: -621px;
					@include css3(transition, all 0.6s);
					transition-delay: 0.2s;

					&:hover{
						div{
							.card{
								&.card1{
									left: -10px;
									top: 0px;
								}
								&.card2{
									left: 150px;
									top:40px;
								}
								&.card3{
									left: 10px;
								    top: -100px;
								}
							}
						}
					}
					div{
						.card{
							&.card1{
								left: 50px;
							    top: 0px;
							}
							&.card2{
								left: 120px;
							    top: 30px;
							}
							&.card3{
								left: -10px;
							    top: -3px;
							}
						}
					}
					.title{
						top: 288px;
						left: 252px;
						transform: rotate(-37deg);
					}
				}
				&.type2{
					margin-left: -470px;
				    top: 33px;
					@include css3(transition, all 0.6s);
					transition-delay: 0.4s;


					&:hover{
						div{
							.card{
								&.card1{
									left: -10px;
									top: 0px;
								}
								&.card2{
									left: 150px;
									top:40px;
								}
								&.card3{
									left: -15px;
									top: -50px;
								}
								&.card4{
									left: 80px;
									top: -50px;
								}
							}
						}
					}
					div{
						.card{
							&.card1{
								left: 50px;
								top: 0px;
							}
							&.card2{
								left: 120px;
								top: 30px;
							}
							&.card3{
								left: -10px;
								top: -3px;
							}
							&.card4{
								left: 10px;
								top: -3px;
							}
						}
					}
					.title{
						top: 92px;
					    left: 208px;
					    transform: rotate(-80deg);
					}
				}
				&.type3{
					top: 177px;
				    margin-left: 211px;
					@include css3(transition, all 0.6s);
					transition-delay: 0.6s;


					&:hover{
						div{
							.card{
								&.card1{
									left: 21px;
								    top: 0;
								}
								&.card2{
									left: 124px;
								    top: 116px;
								}
								&.card3{
									left: -15px;
									top: -50px;
								}
								&.card4{
									left: 146px;
								    top: 5px;
								}
							}
						}
					}
					div{
						.card{
							&.card1{
								left: 46px;
							    top: 0;
							}
							&.card2{
								left: 120px;
							    top: 70px;
							}
							&.card3{
								left: 100px;
						       top: -45px;

							}
							&.card4{
								left: 165px;
							    top: 44px;
							}
						}
					}
					.title{
						top: 475px;
					    left: 82px;
					    transform: rotate(38deg);
					}
				}
				.card_wrap_inn{
					position: relative;
					.card{
						position: absolute;
						top:0;
						left:0;
						@include css3(transition, all 0.2s);
					}
				}
				.title{
					position: absolute;
					width: 335px;
					font: 16px 'adihaus';
					text-transform: uppercase;
					color:#fff;
					letter-spacing: 1.8px;
					span{

						display: inline-block;
					    background: #fdbade;
					    width: 2px;
					    height: 12px;
					}
					strong{
						font: 16px 'adihaus-bold';

					}

				}
			}
		}
	}
	// slider
	.slider_wrap{
		padding: 50px 0 0 0;
		width: 100%;
		background:#000;
		overflow: hidden;

		.slider_inn{
			margin:0 auto;
			position: relative;
			width:1260px;
			text-align: center;

			ul.slider{
				position: relative;
				li{
					position: relative;
					width: 1260px;
					float:left;
					margin-right: 30px;
					text-align: center;
					&.on{
						.box{
							.inn_box{
								img{
									top:79px;
									@include css3(opacity,1);

								}
							}
						}
					}
					.bg{
						position: absolute;
					    left: 0;
					    top: 0;
 						height: 494px;
					    overflow: hidden;
					    width: 100%;
						img{
							width: 100%;
						}
					}
					.box{
						position: relative;

						.inn_box{
							position: relative;
						    padding-bottom: 90px;
							z-index: 1;
							text-align: center;
							.shoe{
								// width: 500px;
							}
							.txt{
								padding: 50px 0 0 0;
								text-align: center;
								strong{
									text-align: center;
									font:40px/40px 'adinenuPro-black';
									color:#fff;
									text-transform: uppercase;
								}
								p{
									display: block;
									text-align: center;

									padding-top: 15px;
									font:500 20px/25px 'NotoSansKR';
									color:#fff;
								}
							}
							img{
								position: relative;
								top: 150px;
								@include css3(opacity,0);
								@include css3(transition, all 0.6s);
								transition-delay: 0.3s;
							}
							a.buy{
								display: inline-block;
								margin-top: 30px;
								height: 50px;
								width: 180px;
								text-align: center;
								border:1px solid #fff;
								font:600 18px/51px 'NotoSansKR';
								color:#fff;
								text-transform: uppercase;

							}
						}
					}


				}
			}
			ul.slider:after{
				content: '';
				display: block;
				width: 0; height: 0;
				clear:both;
			}
			.btn{
				position: absolute;
			    top: 222px;
			    width: 100%;
			    text-align: center;
			    z-index: 2;
				a{
					position: relative;
					display: inline-block;
					width:50px;
					height: 50px;
					position: absolute;
					overflow: hidden;
					background: #000;
					img{
						position: absolute;
						top:50%;
						left:50%;
						transform: translate(-50%,-50%);
					}
				}
				.next{
				 	right: 35px;
					img{
						animation: arrownext 2s infinite;
						-webkit-animation: arrownext 2s infinite;
					}
				}
				.prev{
					left: 35px;
					img{
					    animation: arrowprev 2s infinite;
					    -webkit-animation: arrowprev 2s infinite;
					}
				}

			}
		}

	}
	.statement{
		padding: 10px 0 0;
		background: #000;
		text-align: center;
		color:#fff;
		font:500 19px/28px 'NotoSansKR';
		text-transform: uppercase;
	}
	.bottom{
		position: relative;
		padding: 20px 0 70px;
		background: #000;
		.ct1190{
			text-align: center;
			>*{text-align: center;}
		}
	}
	.modal_popup{
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		visibility: hidden;
		overflow: hidden;
		z-index: 900;
		@include css3(opacity,0);
		@include css3(transition, all 0.3s);
		&.on{
			visibility: visible;
			@include css3(opacity,1);
			.overlay{
				margin: 0 auto;
				position: absolute;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.8);
			}
		}
		.close{
			position: absolute;
		    top: 50%;
		    left: 50%;
		    margin-top: -324px;
		    margin-left: 342px;
		    z-index: 10;
			img{
				width: 25px;
			}
		}
		.overlay{
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.5);
			// transform-origin: 20% 40%;
			@include css3(transition, all 0.5s);

		}
		.modal_popup_content{
			position: absolute;
			top:50%;
			left:50%;
			@include css3(transform, translate(-50%,-50%));
			.img{
				width: 650px;
				img{
					width: 100%;
				}
			}
		}
	}
	.products_collection{
		width: 100%;
		padding: 60px 0 215px 0;
		position: relative;
		background: url(/images/adidas/event/originals/pod/180808/collections_bg.jpg) no-repeat;
		background-size: 100% 100%;
		&.on{
			.video_wrap {
				.video{
					.bg{
						top:0;
						@include css3(opacity,1);
					}
					>img{
						top:105px;

						@include css3(opacity,1);
					}
				}
				.deco{
					top:2px;
					@include css3(opacity,1);
				}
			}
		}
		.title{
			padding: 0 0 48px 0;
			text-align: center;
			.pod{
				position: relative;
				display: inline-block;
				margin: 0 0 22px 0;
				p{
					position: relative;
					z-index: 1;
					font: 50px/48px 'adihaus-medium';
					color:#fff;
					text-align: center;
					letter-spacing: 9px;
				}
				span{
					position: absolute;
					bottom:0;
					left:0;
					width: 100%;
					height: 17px;
					background: #0f1519;
				}
			}
			p{
				font:400 18px 'NotoSansKR';
				color:#fff;
				text-align: center;
				text-transform: uppercase;
			}
		}
		.wide-slider-wrapper{
			position: relative;
			width: 100%;
			height:585px;
			left: inherit;
			margin-left:inherit;
			z-index: 1;
			overflow: hidden;
			.btn{
				position: absolute;
			    top: 293px;
				left:50%;
			    text-align: center;
			    z-index: 2;
				a{
					position: relative;
					display: inline-block;
					width:45px;
					height: 45px;
					position: absolute;
					overflow: hidden;
					background: #000;
					img{
						position: absolute;
						top:50%;
						left:50%;
						transform: translate(-50%,-50%);
					}
				}
				.next{
				    left: 469px;
					img{
						animation: arrownext 2s infinite;
						-webkit-animation: arrownext 2s infinite;
					}
				}
				.prev{
					left: -500px;
					img{
					    animation: arrowprev 2s infinite;
					    -webkit-animation: arrowprev 2s infinite;
					}
				}

			}
			ul{
				position: absolute;
				top:0;
				width: 100%;
				height: 702px;
				li{
					// width: 1063px;
					margin:0 40px;
					position: relative;
					float: left;
					@include opacity(1);
					@include css3(transition, opacity 0.4s ease-in 0.3s);
					&:after{
						position: absolute;
						top:0;
						left:0;
						content: '';
						width: 100%;
						height: 100%;;
						background: rgba(0,0,0,0.5);
						@include css3(transition, all 0.4s ease-in 0.3s);
					}
				}
				li.active{
					&:after{
						background: rgba(0,0,0,0);
					}
					// @include opacity(1);
				}
			}
		}
		.slider-btn{
			width: 100%;
			position: relative;
			padding: 30px 0 120px;
			text-align: center;
			a{
				display: inline-block;
				width: 14px;
				height: 14px;
				border-radius: 80px;
				text-align: center;
				margin: 0 4px;
				text-transform: uppercase;
				background: rgba(108,108,108,0.5);
				&.on{
					background: rgba(255,255,255,1);
				}
			}
		}
		.video_wrap{
			position: relative;
			.video{
				position: relative;
				width: 876px;
				margin: 0 auto;
				text-align: right;

				>img{
					position: relative;
					top:130px;
					margin-right: 65px;
					@include css3(opacity,0);
					@include css3(transition, all 0.8s);
					transition-delay: 1.4s;
				}
				.bg{
					position: absolute;
					top:20px;
					left:0;
					@include css3(opacity,0);
					@include css3(transition, all 0.8s);
					transition-delay: 1s;
				}
			}
			.deco{
				position: absolute;
			    top: 20px;
			    left: 50%;
			    margin-left: 352px;
				@include css3(opacity,0);
				@include css3(transition, all 0.8s);
				transition-delay: 1.6s;
			}
		}
	}
}

@keyframes arrowprev{
	0%{
		left: 200%;
	}
	100%{
		left: 50%;
	}
}
@keyframes arrownext{
	0%{
		left: -100%;
	}
	100%{
		left: 50%;
	}
}
/* End of originals_pod */
