@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';


#originals_superstar{
	position: relative;
	min-width: 1190px;
	overflow: hidden;
	.main_visual{
		position: relative;
		margin: 55px 0 0px 0;
		height: 860px;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -765px;
		}
		.inn{
			position: relative;
			padding: 157px 0 0 0;
			.video_play{
				position: absolute;
				left:50%;
				top:377px;
				margin-left: -50px;
				cursor: pointer;
			}
			h2{
				padding: 40px 0 0 0;
				font:60px/63px 'adinenuPro-black';
				text-transform: uppercase;
				color:#fff;
			}
			p{
				font:400 22px 'NotoSansKR';
				color:#fff;

			}
			.btn_wrap{
			    width: 235px;
			    padding: 30px 0 0 0;
				.btn{
					display: inline-block;
					margin: 0 6px 10px 0;
					&:hover{
						a{
							span{
								margin-left: 25px;

							}
						}
					}
					a{
						display: block;
						width: 300px;
						text-align: center;
						font:600 18px/60px 'NotoSansKR';
						color:#000;
						border:1px solid #fff;
						background: #fff;

						span{
							display: inline-block;
						    background: url(http://image.adidas.co.kr/images/adidas/event/originals/originals_superstar/180723/arrow_black.png) no-repeat;
						    background-size: 100% auto;
						    width: 38px;
						    height: 12px;
						    margin-left: 15px;
							@include css3(transition, all 0.2s);
						}
					}
				}
			}
		}
	}
	.section{
		position: relative;
		width: 1190px;
		margin: 0 auto;
		&.on{
			.img_row{
				.img_wrap{
					&.right{
						.img{
							width: 626px;
						}
					}
					.img{
						width: 368px;
						img{
							left:0;
							@include css3(opacity,1);
						}
					}
				}
				.center{
					.img{
						left:0;
						@include css3(opacity, 1);
					}
				}
			}

		}
		&.section2{
			margin-top: 210px;
			.bg{
				top:0;
			}
			.txt{
				position: absolute;
			    top: 127px;
			    left: 50%;
			    margin-left: 87px;
				border: 3px solid #fff;
				box-sizing: border-box;
				p{
					background: rgba(255,255,255,0.4);
					padding: 30px 20px;
				}
			}
			&:after{
				content: '';
				display: block;
				clear: both;
			}
			&.on{
				.img_row{
					.img_wrap{
						&.bottom{
							.img{
								width: 403px;
							}
						}
						.img{
							width: 289px;
						}
					}
				}
			}
			>.img{
				position: relative;
				padding: 90px 0 0 0;
				float: left;
			}
			.img_row{
				padding: 45px 0 0 0;
				float: right;
				width: 403px;
				.img_wrap{
					float: none;
					height: 278px;
					&.bottom{
						.img{
							transition-delay: 0.8s;
							height: 278px;
							img{
								transition-delay: 1.2s;

							}
						}
					}
					.img{
						width: 0px;
						height: 275px;
						background: #ede1e1;
					}
				}
			}
		}
		&.section4{
			margin-top: 60px;
			.bg{
				top:0;
			}
			&.on{
				.img_row{
					padding: 70px 0 0 0;
					.img_wrap{
						&.right{
							width: 400px;
						}
						.img{
							width: 400px;
						}
					}
				}
			}
			.img_row{
				.img_wrap{
					&.right{
						margin-left: 10px;
						float: left;
						height: 600px;
						.img{
							background: #791048;
						}
					}
					.img{
						height: 600px;
						background: #000;
					}
				}

			}
		}
		>.bg{
			position: absolute;
			top:250px;
			left:50%;
			margin-left: -960px;
		}
		.img_row{
			display: block;
			&:after{
				content: '';
				display: block;
				clear: both;
			}
			.center{
				.bg{
					position: absolute;
					left:50%;
					margin-left: -317px;
				}
				.img{
					position: relative;
					left:50px;
				    padding: 66px 0 0 0;
				    text-align: center;
				    margin-left: -173px;
					@include css3(opacity, 0);
					@include css3(transition, all 0.6s);
					transition-delay: 2.5s;
				}
			}
			.img_wrap{
				position: relative;
				padding: 0 0 50px 0;
				overflow: hidden;
				float: left;

				&.right{
					float: right;
					width: 626px;
					height: 438px;
					.img{
						transition-delay: 0.8s;
						img{
							transition-delay: 1.2s;
						}
					}
				}

				.img{
					position: relative;
					display: inline-block;
					width: 0px;
					height: 518px;
					background: #9d0155;
					overflow: hidden;
					@include css3(transition, width 0.5s);
					img{
						position: absolute;
						left:-100%;
						@include css3(opacity,0);
						@include css3(transition, all 0.6s);
						transition-delay: 0.5s;
					}
					.play{
						position: absolute;
					    bottom: 87px;
					    right: 85px;
						cursor: pointer;
						img{
							left:inherit;
						}
					}
				}
			}
		}

		.txt{
			position: relative;
			display: block;
			p{
				padding: 86px 0 56px;
				text-align: center;
				font:500 16px 'NotoSansKR';
				color:#000;
			}
		}
	}
	.video{
		position: relative;
		margin-top: 90px;
		margin-bottom: 90px;
		&:after{
			content: '';
			display: block;
			clear: both;
		}
		&.on{
			p{
				left: 0;
				@include css3(opacity,1);

			}
		}
		p{
			position: relative;
			left:-50px;
			float: left;
			padding: 235px 0 0 0;
			font: 19px/19px 'adinenuPro-black';
			text-transform: uppercase;
			color: #000;
			letter-spacing: 6px;
			@include css3(opacity,0);
			@include css3(transition, all 0.8s);
			transition-delay: 0.5s;
		}
		.img{
			float: right;
		}
	}
	.section3{
		position: relative;
		height: 400px;
		img{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
	}
	.more{
		position: relative;
		padding: 150px 0 0 0;
		text-align: center;
		strong{
			display: block;
			padding: 0 0 8px 0;
			font:600 20px/22px 'NotoSansKR';
			color:#000;
		}
		.main_more{
			padding: 0 0 20px 0;
			font:400 18px/20px 'NotoSansKR';
			color:#000;
		}
		.bar{
			height: 55px;
			text-align: center;
		}
		span{
			display: inline-block;
		    width: 2px;
		    height: 52px;
		    background: #000;
			animation: 1.5s arrow;
  			animation-iteration-count: infinite;

		}
		.arrow{
			position: relative;
		    top: -9px;
		    left: 3px;
		    text-align: center;
			&:after{
				position: relative;
    			left: -1px;
				content: '';
				display: inline-block;
				width: 2px;
				height: 8px;
				@include css3(transform,rotate(50deg));
				background: #000;
			}
			&:before{
				content: '';
				display: inline-block;
				width: 2px;
				height: 8px;
				background: #000;
				position: relative;
				left: -5px;
				@include css3(transform,rotate(-50deg));
			}

		}
		p{
			text-align: center;
			font: 19px/19px 'adinenuPro-black';
			text-transform: uppercase;
			color:#000;
		}
	}
	.products_collection{
		margin: 80px 0 95px 0;
		width: 100%;
	    padding: 70px 0 88px 0;
	    position: relative;
	    background: url(http://image.adidas.co.kr//images/adidas/event/originals/originals_superstar/coll_bg.jpg) no-repeat;
	    background-size: 100% 100%;
		&.main_collection{
			background: url(/images/adidas/event/originals/originals_superstar/180723/main_coll_bg.jpg) no-repeat;

		}
        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:585px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
			.arrow{
				position: absolute;
				top:50%;
				left:50%;
				width: 70px;
				height: 10px;
				z-index: 2;
				&.arrow-prev{
	                margin-left: -414px;
	                background: url('http://image.adidas.co.kr//images/adidas/event/originals/originals_superstar/arrow_icon_prev.png')0 0 no-repeat;
	            }
				&.arrow-next{
					margin-left: 363px;
					background: url('http://image.adidas.co.kr//images/adidas/event/originals/originals_superstar/arrow_icon_next.png')0 0 no-repeat;
				}
			}


            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 702px;
                li{
                    // width: 1063px;
                    margin:0 70px;
                    position: relative;
                    float: left;
                    @include opacity(1);
					@include css3(transition, opacity 0.4s ease-in 0.3s);
					&:after{
						position: absolute;
						top:0;
						left:0;
						content: '';
						width: 100%;
						height: 100%;;
						background: rgba(0,0,0,0.5);
						@include css3(transition, all 0.4s ease-in 0.3s);
					}
                }
                li.active{
					&:after{
						background: rgba(0,0,0,0);
					}
                    // @include opacity(1);
                }
            }
        }


        .slider-btn{
            width: 100%;
            position: relative;
            padding: 30px 0;
            text-align: center;
            a{
                display: inline-block;
				width: 17px;
				height: 17px;
				border-radius: 50px;
                text-align: center;
                margin: 0 4px;
				text-transform: uppercase;
				background: rgba(255,255,255,0.5);
                &.on{
					background: rgba(255,255,255,1);
                }
            }
        }

	}
}
@keyframes arrow{
	0%{
		height: 0;
	}
	100%{
		height: 52px;
	}
}
/* End of nizza originals_superstar */
