@charset "euc-kr";

h1,h2,h3,h4,h5,h6{font-size:12px;text-align:left;margin:0;padding:0;}
li{font-size:12px;line-height:1.5em;}
.blind{display:block;left:0;overflow:hidden;position:absolute;top:-5000px;}
.clr{clear:both;}

/*adi_combo*/
div.adi_combo{height:20px;position:relative;margin:0 5px;float:left;font-size:11px;line-height:22px;background:url(/images/alliance/sub/bg_selectbox.gif) 0 0 no-repeat;cursor:pointer;z-index:50;} 
div.adi_combo strong{float:left;padding-left:10px;color:#8f8f8f;display:block;font-weight:normal;}
div.adi_combo a.combo_open{float:right;}
div.adi_combo ul{position:absolute;top:20px;left:0;display:none;padding:3px 0;background:#fff;border:1px solid #ccc;border-top:none;}
div.adi_combo ul li {clear:left;text-align:left;font-size:11px;}
div.adi_combo ul li a{padding-left:10px;color:#86888c;display:block;height:20px;line-height:20px;}
div.adi_combo ul li a:hover{background:#b2b4bf;color:#000;}

div#adiWrapper{margin-top:18px;background:url(/images/alliance/sub/bg_main.gif) 0 0 repeat;border-bottom:1px solid #d5d5d5;}
div#adiBody{width:100%;padding:20px 0 30px 0;background:url(/images/alliance/sub/bg_body_top.gif) 0 0 repeat-x;}
div#adiBodyMain{width:100%;margin-top:18px;padding:20px 0 30px 0;background:#515151 url(/images/alliance/common/bg_bodyMain.gif) 0 0 repeat-x;border-bottom:1px solid #d5d5d5;_padding-bottom:10px;}

div.adi_container {width:890px;overflow:hidden;margin:0 auto;}
div.adi_containerMain {width:890px;position:relative;overflow:hidden;margin:0 auto;}
div.adi_containerMain:after{content:""; display:block;clear:both;}
/*header*/
div.adi_header {height:55px;background:url(/images/alliance/common/bg_gnb.gif) 0 0 no-repeat;}
div.adi_header h1{width:191px;height:55px;float:left;display:inline;margin-left:4px;padding-left:3px;}
div.adi_header h1 a{display:block;width:172px;height:55px;background:url(/images/alliance/common/bg_logo.gif) 15px 11px no-repeat;text-indent:-5000px;}

div.adi_header ul.adi_gnb li{z-index:100;}
div.adi_header ul.adi_gnb li dl{float:left;}
div.adi_header ul.adi_gnb li dl dd li{clear:both;}
div.adi_header ul.adi_gnb li div{position:absolute;top:55px;left:0;display:none;padding-top:13px;z-index:1000;}
div.adi_header ul.adi_gnb li div dl {width:95px;margin-left:20px;display:inline;}
div.adi_header ul.adi_gnb li div dt{padding:0 0 10px 5px;}
div.adi_header ul.adi_gnb li div dd{padding:7px 0 0 5px;}
div.adi_header ul.adi_gnb li div dd li {line-height:16px;font-size:11px;letter-spacing:-1px;}
div.adi_header ul.adi_gnb li div dd li a{padding-left:7px;background:url(/images/alliance/common/bg_dot_list2.gif) 0 5px no-repeat;color:#888;}
div.adi_header ul.adi_gnb li div dd li a:hover{color:#ddd;background:url(/images/alliance/common/bg_dot_list3.gif) 0 5px no-repeat;}
div.adi_header ul.adi_gnb li div dd li a.original_h:hover{color:#017ac5;background:url(/images/alliance/common/bg_dot_list4.gif) 0 5px no-repeat;}
div.adi_header ul.adi_gnb li div dd.category_nav li a:hover{color:#ddd;}
div.adi_header ul.adi_gnb li div.category_nav dt{border-bottom:1px solid #1f1f1f;}
div.adi_header ul.adi_gnb li div.category_nav dd{border-top:1px solid #3a3a3a;}
div.adi_header ul.adi_gnb li div.category_nav{width:259px;height:110px;border:1px solid #222;background:url(/images/alliance/common/bg_cate_nav.gif) 0 0 repeat-x;}
div.adi_header ul.adi_gnb li.men{width:93px;height:55px;position:relative;}
div.adi_header ul.adi_gnb li.women{width:92px;height:55px;position:relative;}
div.adi_header ul.adi_gnb li.kids{width:92px;height:55px;position:relative;}
div.adi_header ul.adi_gnb li.sport{width:122px;height:55px;position:relative;}
div.adi_header ul.adi_gnb li.sport div{width:365px;height:195px;border:1px solid #000;background:#222;}
div.adi_header ul.adi_gnb li.sport div dt{border-bottom:1px solid #181818;}
div.adi_header ul.adi_gnb li.sport div dd{border-top:1px solid #313131;}
div.adi_header ul.adi_gnb li.original{width:122px;height:55px;position:relative;}
div.adi_header ul.adi_gnb li.original div{width:365px;height:110px;border:1px solid #0051a2;position:absolute;top:55px;left:-244px;background:url(/images/alliance/common/bg_origin_nav.gif) 0 0 repeat;}
div.adi_header ul.adi_gnb li.original div.original_nav dt {border-bottom:1px solid #0253a4;}
div.adi_header ul.adi_gnb li.original div.original_nav dd {border-top:1px solid #438ad2;}
div.adi_header ul.adi_gnb li.original div.original_nav dd li a{color:#7fb7ef;}
div.adi_header ul.adi_gnb li.original div.original_nav dd li a:hover{color:#fff;}
div.adi_header ul.adi_gnb li.new{width:85px;height:55px;position:relative;}
div.adi_header ul.adi_gnb li.best{width:85px;height:55px;position:relative;}
/*gnb*/

/*main visual*/
div.adi_visual{height:445px;padding-top:5px;border-bottom:3px solid #000;}
div.adi_visual div.visual_list{position:absolute;top:79px;right:19px;}
div.adi_visual div.visual_list ul li {width:10px;height:10px;margin-right:5px;cursor:pointer;text-indent:-5000px;background:url(/images/alliance/common/bg_visual_tab.gif) 0 0 no-repeat;}
div.adi_visual div.visual_list ul li.last{margin-right:0;}
div.adi_visual div.visual_list ul li.on {background:url(/images/alliance/common/bg_visual_tab2.gif) 0 0 no-repeat;}

/*main banner*/
div.adi_banner{width:852px;height:155px;padding:27px 19px 0 19px;background:url(/images/alliance/common/bg_contents.gif) 0 0 repeat;}
div.adi_banner li{width:284px;height:155px;}

/*trend*/
div.adi_bestprod{padding:0 17px;background:url(/images/alliance/common/bg_contents.gif) 0 0 repeat;}
div.adi_bestprod_inner{width:856px;height:154px;background:url(/images/alliance/common/bg_bestprod.gif) 0 0 no-repeat;}
div.adi_bestprod_inner div.bestprod_tit{margin:40px 0 0 31px;float:left;display:inline;}
div.adi_bestprod_inner div.bestprod_tit h2{margin-bottom:11px;}
div.adi_bestprod_inner div.bestprod_list{width:651px;height:136px;position:relative;float:right;padding:18px 0 0 18px;}
div.adi_bestprod_inner div.bestprod_list ul{display:none;}
div.adi_bestprod_inner div.bestprod_list li {width:94px;height:94px;position:relative;float:left;padding:10px;margin-right:8px;border:1px solid #ccc;font-size:0;background:#fff;}
div.adi_bestprod_inner div.bestprod_list li.last{margin-right:0;}
div.adi_bestprod_inner div.bestprod_list a.arrow_left{position:absolute;top:70px;left:0;display:block;width:8px;height:12px;background:url(/images/alliance/common/arrow_left.gif) 0 0 no-repeat;}
div.adi_bestprod_inner div.bestprod_list a.arrow_left:hover{background:url(/images/alliance/common/arrow_left_h.gif) 0 0 no-repeat;}
div.adi_bestprod_inner div.bestprod_list a.arrow_right{position:absolute;top:70px;right:17px;display:block;width:8px;height:12px;background:url(/images/alliance/common/arrow_right.gif) 0 0 no-repeat;}
div.adi_bestprod_inner div.bestprod_list a.arrow_right:hover{background:url(/images/alliance/common/arrow_right_h.gif) 0 0 no-repeat;}

div.adi_bestprod_inner div.bestprod_list li span{display:block;float:left;padding:5px;color:#fff;background:#000;text-align:center;}
div.adi_bestprod_inner div.bestprod_list li.best_desc1,
div.adi_bestprod_inner div.bestprod_list li.best_desc2,
div.adi_bestprod_inner div.bestprod_list li.best_desc3,
div.adi_bestprod_inner div.bestprod_list li.best_desc4,
div.adi_bestprod_inner div.bestprod_list li.best_desc5{width:500px;height:30px;position:absolute;top:-18px;left:18px;border:0;font-size:11px;clear:both;margin:0;display:none;background:none;padding:0;}
div.adi_bestprod_inner div.bestprod_list li.best_desc2{left:142px;}
div.adi_bestprod_inner div.bestprod_list li.best_desc3{left:266px;}
div.adi_bestprod_inner div.bestprod_list li.best_desc4{left:6px;}
div.adi_bestprod_inner div.bestprod_list li.best_desc5{left:130px;}
div.adi_bestprod_inner div.bestprod_list li.best_desc4 span{float:right;}
div.adi_bestprod_inner div.bestprod_list li.best_desc5 span{float:right;}



/*sitemap*/
div.adi_map{background:url(/images/alliance/common/bg_contents.gif) 0 0 repeat;}
div.adi_map_cont{_height:auto !important; _height:251px;padding:27px 0 59px 19px;}
div.adi_map_cont div{overflow:hidden;}
div.adi_map_cont div dl.last dd{padding-bottom:0;}
div.adi_map_cont div dt{display:inline;float:left;}
div.adi_map_cont div.adi_map_cont1{margin-bottom:22px;}
div.adi_map_cont div.adi_map_cont2{margin-bottom:22px;}
div.adi_map_cont div.adi_map_cont1 dl{_height:60px;}
div.adi_map_cont div.adi_map_cont3 dl{_height:30px;}
div.adi_map_cont div.adi_map_cont2 dl{_height:160px;}

div.adi_map_cont dl.map_men{padding-right:10px;}
div.adi_map_cont dl.map_kids{padding-right:10px;}

div.adi_map_cont dl.map_men dt{width:98px;}
div.adi_map_cont dl.map_women dt{width:115px;}
div.adi_map_cont dl.map_kids dt{width:101px;}
div.adi_map_cont dl.map_etc dt{width:96px;}

div.adi_map dl{float:left;}

div.adi_map dd{width:100px;float:left;}
div.adi_map dd li {padding-left:7px;clear:left;font-size:11px;letter-spacing:-1px;background:url(/images/alliance/common/bg_dot_list1.gif) 0 5px no-repeat;line-height:14px;}
div.adi_map dd li a:link{color:#999;}
div.adi_map dd li a:visited{color:#999;}
div.adi_map dd li a:hover{color:#999;}
div.adi_map dd li a:active{color:#999;}

/*adivice*/
div.adi_advice{width:808px;padding:28px 63px 28px 19px;height:56px;background:url(/images/alliance/common/bg_contents.gif) 0 0 repeat;}
div.adi_advice li{padding-right:44px;}
div.adi_advice li.last{padding-right:0;}

/*adi_bottom*/
div.adi_bottom {height:33px;border-top:2px solid #1e1e1e;background:#1e1e1e;}
div.adi_bottom h1{float:left;margin:6px 0 0 20px;display:inline;}

/*loc*/
div.adi_loc{height:30px;padding:9px 0 0 10px;}
div.adi_loc span{float:left;color:#797b80;font-size:11px;padding-top:4px;}

/*nav*/
div.adi_nav {width:168px;_width:170px;float:left;background:#f7f7f7;}
div.adi_nav ul li a.adi_dep1{display:block;width:168px;_width:170px;height:35px;background:url(/images/alliance/sub/bg_aside_list.gif) 0 0 repeat-x;}
div.adi_nav ul li a.adi_dep_total{display:block;width:168px;_width:170px;height:36px;background:url(/images/alliance/sub/bg_aside_list2.gif) 0 0 repeat-x;}
div.adi_nav ul li.last a.adi_dep1{display:block;width:168px;_width:170px;height:34px;background:url(/images/alliance/sub/bg_aside_list3.gif) 0 0 repeat-x;}
div.adi_nav ul li a.adi_dep1 span,li a.adi_dep_total span{display:block;float:left;padding:11px 0 0 19px;color:#ddd;font-weight:bold;}
div.adi_nav ul li a.adi_dep1 p{display:inline;width:20px;height:20px;float:right;margin:8px 10px 0 0;}
div.adi_nav ul li a.adi_dep1 p.adi_asideOpen{background:url(/images/alliance/sub/icon_aside_open.gif) 0 0 no-repeat;}
div.adi_nav ul li a.adi_dep1 p.adi_asideClose{background:url(/images/alliance/sub/icon_aside_close.gif) 0 0 no-repeat;}

div.adi_nav ul li div.adi_dep2{width:168px;_width:170px;background:#fff;}
div.adi_nav ul li div.adi_dep2 p {width:150px;_width:152px;height:31px;padding-left:18px;line-height:33px;letter-spacing:-1px;border-bottom:1px solid #ccc;}
div.adi_nav ul li div.adi_dep2 p a{color:#444;}
div.adi_nav ul li div.adi_dep2 dt{width:150px;_width:152px;height:31px;padding-left:18px;line-height:31px;background:#ddd;color:#444;font-weight:bold;border-bottom:1px solid #ccc;}
div.adi_nav ul li div.adi_dep2 dd{overflow:hidden;}
div.adi_nav ul li div.adi_dep2 dd li{width:168px;_width:170px;clear:both;height:26px;background:url(/images/alliance/sub/bg_gridx.gif) 0 bottom repeat-x;letter-spacing:-1px;}
div.adi_nav ul li div.adi_dep2 dd li.last{height:25px;background:none;border-bottom:1px solid #ccc}
div.adi_nav ul li div.adi_dep2 dd li a{display:block;width:141px;_width:143px;height:25px;padding-left:27px;background:url(/images/alliance/sub/bg_dot_off.gif) 18px 11px no-repeat;line-height:27px;}
div.adi_nav ul li div.adi_dep2 dd li a span{color:#999;letter-spacing:0;}

/*contents*/
div.adi_contentWrap{width:888px;overflow:hidden;background:#f7f7f7;*zoom:1;border:1px solid #ccc;border-top:none;}
div.adi_contentWrap:after{content:"";clear:both;display:block;}
div.adi_contents{width:719px;_width:717px;overflow:hidden;float:left;border-left:1px solid #ccc;}
div.adi_list_top{padding-left:19px;height:44px;border-top:1px solid #d0d0d0;color:#757575;line-height:44px;background:#ececec;}
div.adi_list_top strong{color:#ed0000;}
div.adi_list_top em{font-style:normal;color:#666;font-weight:bold;}

div.adi_list_tab{height:37px;background:url(/images/alliance/sub/btn_tab_prodlist.gif) 0 0 no-repeat;}
div.adi_list_tab div.adi_combo{float:right;margin:8px 6px 0 0;display:inline;}
div.adi_list_tab li a.adi_tab_li{display:block;width:117px;height:35px;text-indent:-5000px;margin:1px 1px 0 0;background:url(/images/alliance/sub/btn_tab_prodlist.gif) 0 0 no-repeat;}
div.adi_list_tab li a#adi_best_1{background-position:0 -38px;}
div.adi_list_tab li a#adi_best_2{background-position:0 -1px;}
div.adi_list_tab li a#adi_new_1{background-position:-118px -38px;}
div.adi_list_tab li a#adi_new_2{background-position:-118px -1px;}
div.adi_list_tab li a#adi_expen_1{background-position:-236px -38px;}
div.adi_list_tab li a#adi_expen_2{background-position:-236px -1px;}
div.adi_list_tab li a#adi_chp_1{background-position:-354px -38px;}
div.adi_list_tab li a#adi_chp_2{background-position:-354px -1px;}

div.adi_prodlist{width:719px;overflow:hidden;background:#fff;}
div.adi_prodlist ul{height:284px;border-bottom:1px solid #ccc;padding:0 20px;}
div.adi_prodlist ul li {width:160px;padding-top:20px;margin-right:13px;}
div.adi_prodlist ul li p.prod_img{width:160px;height:160px;}
div.adi_prodlist ul li p.prod_info{height:33px;border-bottom:1px solid #ccc;position:relative;}
div.adi_prodlist ul li p.prod_info span.adi_logo{display:block;width:23px;height:22px;text-indent:-5000px;background:url(/images/alliance/sub/bg_logo_prod1.gif) 0 0 no-repeat;position:absolute;left:0;bottom:5px;}
div.adi_prodlist ul li p.prod_info a.adi_viewlager{position:absolute;right:0;bottom:3px;}
div.adi_prodlist ul li p.prod_tit{height:20px;padding:10px 0;font-size:11px;line-height:1.1em;}
div.adi_prodlist ul li p.prod_tit a{color:#1999e4;}
div.adi_prodlist ul li.sport p.prod_tit a{color:#000;}
div.adi_prodlist ul li.sport p.prod_info span.adi_logo{width:30px;background:url(/images/alliance/sub/bg_logo_prod2.gif) 0 0 no-repeat;}
div.adi_prodlist ul li p.prod_price{font-weight:Arial;font-size:11px;} 
div.adi_prodlist ul li p.prod_price span.adi_price_line{color:#666;padding-right:5px;text-decoration:line-through;}
div.adi_prodlist ul li p.prod_price span.adi_price_sale{color:#ed0000;}
div.adi_prodlist ul li.last {margin-right:0}

div.adi_paging{height:31px;padding-top:18px;text-align:center;background:#fff;}
div.adi_paging a{display:inline-block;width:13px;height:11px;border:1px solid #d7d7d7;text-align:center;line-height:11px;font-family:verdana;font-size:10px;color:#afafaf:}
div.adi_paging a.on,div.adi_paging a:hover{width:15px;height:13px;border:0;color:#fff;background:#393839;}
div.adi_paging a.adi_pg_prev{width:10px;height:10px;border:0;background:url(/images/alliance/sub/paging_left.gif) 2px 3px no-repeat;font-size:0;vertical-align:middle;}
div.adi_paging a.adi_pg_next{width:10px;height:10px;border:0;background:url(/images/alliance/sub/paging_right.gif) 2px 3px no-repeat;font-size:0;vertical-align:middle;}
div.adi_paging a.adi_pg_prev:hover{width:10px;height:10px;border:0;background:url(/images/alliance/sub/paging_left.gif) 2px 3px no-repeat;}
div.adi_paging a.adi_pg_next:hover{width:10px;height:10px;border:0;background:url(/images/alliance/sub/paging_right.gif) 2px 3px no-repeat;}

div.adi_sbanner{width:880px;border:1px solid #bcbcbc;padding:4px;margin:5px 0 10px 0;background:#fff;}

div.adi_sprodlist{width:888px;overflow:hidden;background:#fff;border:1px solid #bcbcbc;}
div.adi_sprodlist ul{height:304px;border-bottom:1px solid #e2e2e2;}
div.adi_sprodlist ul.last{border-bottom:0;}
div.adi_sprodlist ul li {width:160px;padding:30px 31px 22px 30px;position:relative;border-right:1px solid #e2e2e2;}
div.adi_sprodlist ul li.last {padding-right:32px;border-right:0;}
div.adi_sprodlist ul li p.prod_img{width:160px;height:160px;}
div.adi_sprodlist ul li p.prod_info{height:33px;border-bottom:1px solid #ccc;position:relative;}
div.adi_sprodlist ul li p.prod_info span.adi_logo{display:block;width:23px;height:22px;text-indent:-5000px;background:url(/images/alliance/sub/bg_logo_prod1.gif) 0 0 no-repeat;position:absolute;left:0;bottom:5px;}
div.adi_sprodlist ul li p.prod_info a.adi_viewlager{position:absolute;right:0;bottom:3px;}
div.adi_sprodlist ul li p.prod_tit{height:20px;padding:10px 0;font-size:11px;line-height:1.1em;}
div.adi_sprodlist ul li p.prod_tit a{color:#1999e4;}
div.adi_sprodlist ul li.sport p.prod_tit a{color:#000;}
div.adi_sprodlist ul li.sport p.prod_info span.adi_logo{width:30px;background:url(/images/alliance/sub/bg_logo_prod2.gif) 0 0 no-repeat;}
div.adi_sprodlist ul li p.prod_price{font-weight:Arial;font-size:11px;} 
div.adi_sprodlist ul li p.prod_price span.adi_price_line{color:#666;padding-right:5px;text-decoration:line-through;}
div.adi_sprodlist ul li p.prod_price span.adi_price_sale{color:#ed0000;}
div.adi_sprodlist ul li span.adi_rank{position:absolute;top:10px;left:10px;width:27px;height:27px;background:url(/images/alliance/sub/bg_rank.gif) 0 0 no-repeat;font-weight:bold;font-family:verdana;letter-spacing:-1px;font-size:10px;line-height:27px;color:#fff;text-align:center;}
div.adi_sprodlist ul li span.adi_rank_top{position:absolute;top:10px;left:10px;width:27px;height:27px;background:url(/images/alliance/sub/bg_rank_top.gif) 0 0 no-repeat;font-weight:bold;font-family:verdana;letter-spacing:-1px;font-size:10px;line-height:27px;color:#fff;text-align:center;}

/*smart_view1*/
div.smart_view1{display:none;position:fixed;top:50%;left:50%;margin:-204px 0 0 -214px;width:408px;height:428px;background:#31aaf7;border:1px solid #0086e7;z-index:5000;}
div.smart_view1 div.header{height:33px}
div.smart_view1 div.header h1{margin:10px 0 0 10px;float:left;display:inline;}
div.smart_view1 div.header a{float:right;margin:12px 12px 0 0;}
div.smart_view1 div.smart_content{width:402px;height:392px;margin-left:3px;}

div.smart_view1 div.smart_content div.smart_left{float:left;width:340px;height:392px;background:#fff;}
div.smart_view1 div.smart_content div.smart_left p.smart_img{padding-left:10px;margin-bottom:15px;}
div.smart_view1 div.smart_content div.smart_left p.smart_tit{margin-bottom:12px;padding-left:11px;color:#0096ff;}
div.smart_view1 div.smart_content div.smart_left p.smart_price{padding-left:11px;}
div.smart_view1 div.smart_content div.smart_left p.smart_price span{color:#000;}
div.smart_view1 div.smart_content div.smart_left p.smart_price span.sale{color:#ed0000;}
div.smart_view1 div.smart_content div.smart_left p.smart_price span.line_through{color:#000;padding-right:5px;text-decoration:line-through;}

div.smart_view1 div.smart_content div.smart_right{width:52px;height:382px;float:right;padding:10px 0 0 9px;background:#efebef;border-left:1px solid #e7e3e7;}
div.smart_view1 div.smart_content div.smart_right li{width:42px;height:42px;margin-bottom:4px;}
div.smart_view1 div.smart_content div.smart_right li a{width:40px;height:40px;border:1px solid #e2e2e2;cursor:pointer;display:block;}
div.smart_view1 div.smart_content div.smart_right li a:hover{border:1px solid #34a8f7;}


/*smart_view2*/
div.smart_view2{display:none;position:fixed;top:50%;left:50%;margin:-204px 0 0 -214px;width:408px;height:428px;background:#393839;border:1px solid #222;z-index:5000;}
div.smart_view2 div.header{height:33px}
div.smart_view2 div.header h1{margin:10px 0 0 10px;float:left;display:inline;}
div.smart_view2 div.header a{float:right;margin:12px 12px 0 0;}
div.smart_view2 div.smart_content{width:402px;height:392px;margin-left:3px;}

div.smart_view2 div.smart_content div.smart_left{float:left;width:340px;height:392px;background:#fff;}
div.smart_view2 div.smart_content div.smart_left p.smart_img{padding-left:10px;margin-bottom:15px;}
div.smart_view2 div.smart_content div.smart_left p.smart_tit{margin-bottom:12px;padding-left:11px;color:#000;}
div.smart_view2 div.smart_content div.smart_left p.smart_price{padding-left:11px;}
div.smart_view2 div.smart_content div.smart_left p.smart_price span{color:#000;}
div.smart_view2 div.smart_content div.smart_left p.smart_price span.sale{color:#ed0000;}
div.smart_view2 div.smart_content div.smart_left p.smart_price span.line_through{color:#000;padding-right:5px;text-decoration:line-through;}

div.smart_view2 div.smart_content div.smart_right{width:52px;height:382px;float:right;padding:10px 0 0 9px;background:#efebef;border-left:1px solid #e7e3e7;}
div.smart_view2 div.smart_content div.smart_right li{width:42px;height:42px;margin-bottom:4px;}
div.smart_view2 div.smart_content div.smart_right li a{width:40px;height:40px;border:1px solid #e2e2e2;cursor:pointer;display:block;}
div.smart_view2 div.smart_content div.smart_right li a:hover{border:1px solid #333;}

div.smart_view2,div.smart_view1{
 _position: absolute; 
 _top: expression(280+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px'); 
 _left: expression(50+((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'%');
 }
