@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

#football{
	position: relative;

	//common
	.button_area_v2{
		margin-top: 18px;
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			width:140px;
			font: 700 14px/50px 'NotoSansKR';
			letter-spacing: 1px;
		}
	}

	//main
	.visual_main{
		position: relative;
		height: 960px;
		.img{
			position: absolute;
			top:0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	//tabs
	.tabs{
		position: relative;
		padding:30px 0 50px 0;
		.head{
			margin-bottom: 20px;
			h1{
				text-align: center;
 				font:30px/30px 'adihaus-bold';
				color:#000;
			}
		}
		.wrap{
			background: #ebedee;
			width:50%;
			margin: 0 auto;
			text-align: center;
			span{
				display: inline-block;
				padding:20px 30px;
				font:16px/16px 'adihausDIN-bold';
				color:#000;
				cursor:pointer;
			}
		}
	}

	//contents
	.contents{
		.cont{
			position: relative;
			display: none;
			&.on{
				display: block;
			}
			.masthead{
				position: relative;
				height: 800px;
				&.masthead_x{
					.txt{
						transform: translate(-160%,-130%);
					}
				}
				&.masthead_predator{
					.txt{
						transform: translate(-105%,-130%);
					}
				}
				&.masthead_nemeziz{
					.txt{
						transform: translate(-107%,-130%);
					}
				}
				&.masthead_copa{
					.txt{
						transform: translate(-160%,-130%);
					}

				}
				.video{
					position:absolute;
					top:0;
					left:50%;
					transform: translateX(-50%);
				}
				.txt{
					position:absolute;
					top:50%;
					left:50%;
					h1{
						font:38px/38px 'adinenuPro-bold';
						color:#fff;
						letter-spacing: 1px;
					}
					p{
						font: 500 16px/16px 'NotoSansKR';
						color:#fff;
						letter-spacing: 1px;
					    margin: 10px 0 20px 0;
					}
				}
			}
			.head{
				position: relative;
				height: 800px;
				&.head_x{
					.txt{
						transform: translate(40%, -35%);
					}
				}
				&.head_predator{
					.txt{
						transform: translate(40%, -35%);
					}
				}
				&.head_nemeziz{
					.txt{
						transform: translate(40%, -35%);
					}
				}
				&.head_copa{
					.txt{
						transform: translate(40%, -35%);
					}
				}
				.video{
					position:absolute;
					top:0;
					left:50%;
					transform: translateX(-50%);
				}
				.txt{
					position:absolute;
					top:50%;
					left:50%;
					p{
						font: 700 40px/50px 'NotoSansKR';
						color:#fff;
						letter-spacing: 1px;
					}
				}
				&.head_predator{
					.img{
						position:absolute;
						top:0;
						left:50%;
						transform: translateX(-50%);
					}
				}
			}
			.body{
				position: relative;
				height: 800px;
				&.body_x{
					.txt{
						transform: translate(-135%, -95%);
					}
				}
				&.body_predator{
					.txt{
						transform: translate(-140%, -95%);
					}
				}
				&.body_nemeziz{
					.txt{
						transform: translate(-150%, -95%);
					}
				}
				&.body_copa{
					.txt{
						transform: translate(-135%, -95%);
					}
				}

				.img{
					position:absolute;
					top:0;
					left:50%;
					transform: translateX(-50%);
				}
				.txt{
					position:absolute;
					top:50%;
					left:50%;
					p{
						font: 400 20px/30px 'NotoSansKR';
						color:#fff;
						letter-spacing: 1px;
					}
				}
			}
			.imageGrid{
				position: relative;
				height: 860px;
				.video{
					position:absolute;
					top:0;
					left:50%;
					transform: translateX(-50%);
				}
			}
		}
		.windows{
			width:985px;
			margin:0 auto;
			margin-bottom: 150px;
			>h1{
				font:32px/32px 'adinenuPro-bold';
				color:#000;
				letter-spacing: 1px;
				margin: 60px 0 45px 0;
				text-align: center;
			}
			.wrap{
				.squre{
					position: relative;
					display: inline-block;
					margin: 10px;
					.img{
						img{
							width:100%;
						}
					}
					.txt{
						position:absolute;
						bottom:25px;
						left:50%;
						transform: translateX(-50%);
						text-align: center;
						h1{
							font: 700 24px/30px 'NotoSansKR';
							color:#fff;
							letter-spacing: 1px;
						}
					}
				}
			}
		}
	}

}
