@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';


#xghost{
	position:relative;

	button{
		outline:none;
	}

	//common
	.button_area_v2{
		margin-top: 18px;
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			width:140px;
			font: 700 14px/50px 'NotoSansKR';
			letter-spacing: 1px;
		}
	}

	.inner{
		max-width: 1070px;
		margin: 0 auto;
		position: relative;
		box-sizing: border-box;	
	}

	.clearfix{
		clear:both;
		content:'';
		display:block;
	}

	.con1__main{
		position:relative;
		>img{
			display:block;
			width:100%;
			text-align:center;
		}
		.main_txt{
			position:absolute;left:0;top:53%;
			transform:translateY(-59%);
			width:100%;
			strong{
				display:block;
				padding:20px 0 10px 0;
			}
			p{
				font:500 20px/20px 'NotoSansKR';
				color:#fff;
				letter-spacing:2px;
				padding-bottom:15px;
			}
		}
	}//con1__main end


	.con2__video{
		position:relative;
		>img{
			display:block;
			width:100%;
		}

		.video_btn{
			position:absolute;left:50%;top:50%;
			transform:translate(-50%, -50%);
			button{
				background:url('/images/adidas/2020/event/football/xghost/btn.png')no-repeat;
				width:57px;
				height:63px;	
				border:0;
			}
		}	
	}

	.con3__txt{
		.txt_box{
			padding:71px 0;
			background:#111;
			text-align:center;
			p{
				text-align:center;
				font:500 20px/28px 'NotoSansKR';
				color:#fff;
				letter-spacing:2px;
				padding-bottom:25px;
				span{
					display:block;
				}
			}
			img{
				display:block;
				margin:0 auto;
			}
		}
	}
	
	.con4__ghosted{
		img{
			width:100%;
			display:block;
		}
	}

	.con5__player{
		.player_box{
			position:relative;
			background:url('/images/adidas/2020/event/football/xghost/con5_bg.jpg')center no-repeat;
			padding:50px;			
			background-size:cover;
			.player_list{
				width:100%;
				overflow:hidden;
				.player_le{
					float:left;
					width:50%;
					position:relative;
					text-align:center;
				}
				.player_ra{
					float:left;
					width:50%;
					position:relative;
					text-align:center;
				}
				.video_btn{
					position:absolute;left:50%;top:45%;
					transform:translate(-50%, -50%);
					button{
						background:url('/images/adidas/2020/event/football/xghost/btn.png')no-repeat;
						width:57px;
						height:63px;	
						border:0;
					}
				}				
				h3{
					text-align:center;
					color:#fff;
					font:600 26px/28px 'NotoSansKR';
					color:#fff;
					letter-spacing:2px;		
					padding-top:15px;			
				}						
			}
		}
	}
	.con6__shoes{
		.con6_box{
			position:relative;
			background:url('/images/adidas/2020/event/football/xghost/con6_bg.jpg')center no-repeat;
			background-size:cover;
			.con6_list{
				width:100%;
				overflow:hidden;
				padding:120px 0;
				.con6_le{
					float:left;
				}
				.con6_ra{
					margin-left:6.60747663551%;
					float:left;
				}
				.con6_le2{
					float:right;
					padding:100px 0 100px 0;
				}
				.con6_ra2{
					float:left;
					margin-left:1.5%;
					padding:100px 0 100px 0;
				}				
				.con6_all_img{
					width:59.81308411215%;
					img{
						display:block;
					}
				}
				.con6_all_txt{
					width:33.57943925234%;
					h3{
						text-align:left;
						font:600 26px/38px 'NotoSansKR';
						color:#fff;
						letter-spacing:0;		
						padding:135px 0 20px 0;						
					}
					p{
						text-align:left;
						font:600 20px/30px 'NotoSansKR';
						color:#fff;
						letter-spacing:0;		
						span{
							display:block;
						}
					}
				}
			}	
		}
	}
	.con7__inflight{
		.infl_box{
			background:#efebed;
			overflow: hidden;
			height: 590px;			
		}
		.infl_list{
			position: relative;
			// width: 1500px;
			margin: 0 auto;
			overflow: hidden;
			height: 590px;
			video{
				width: 100%;
				margin: 0 auto;
				bordeR: 0;
				padding-top:25px;
				// position: absolute;
				// left: -85px;
			}	

		// .infl_list{
		// 	position: relative;
		// 	video{
		// 		width: 100%;
		// 		margin: 0 auto;
		// 		bordeR: 0;
		// 		outline:none;
		// 	}

			// .infl_list{
			// 	position: relative;
			// 	width: 1500px;
			// 	margin: 0 auto;
			// 	overflow: hidden;
			// 	height: 590px;
			// 	video{
			// 		width: 1600px;
			// 		margin: 0 auto;
			// 		bordeR: 0;
			// 		position: absolute;
			// 		left: -10px;
			// 	}			

			.infl_txt{
				position:absolute;left:30%;top:50%;
				transform:translate(-50%,-50%);
				h3{
					font: 58px/38px 'adihausDIN-Cond-bold';
					color:#111;
					letter-spacing: 4px;
				}

				p{
					text-align:left;
					font:600 22px/34px 'NotoSansKR';
					color:#111;
					letter-spacing:2px;		
					padding:25px 0 5px 0;
					span{
						display:block;
					}					
				}
			}
		}
	}

	.con8__colletion{
		padding:70px 0 95px 0;
		h4{
			text-align:center;
			font:600 28px/38px 'NotoSansKR';
			color:#111;
			letter-spacing:3px;
			padding-bottom:30px;
		}
		ul{
			overflow: hidden;
			width:100%;
			padding-bottom:10px;
			li{
				float:left;
				width:33%;
				text-align:center;
			}
		}
	}
}
