@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
html,body{
	height:100%;
	
}
#footer{
    z-index: 19;
}
button{
	outline:none;
}

.button_area_v2{
	display: inline-block;
	&:hover{
		div{
			.bg{
				box-shadow: inset 0 0 0 1px #000;
				-webkit-box-shadow: inset 0 0 0 1px #000;
				@include css3(transition, all 0.5s);
			}
			a{
				color: #767677;
				span{
					background: #767677;
					em{
						background: #767677;
					}
				}

			}
		}
	}
	a{
		letter-spacing: 1px;
		padding:0 20px;
		border: 1px solid #000;
		white-space: nowrap;
	}
	.bg{
		box-shadow: inset 0 0 0 1px #000;
		-webkit-box-shadow: inset 0 0 0 1px #000;
	}
}

.cf{
	clear:both;
	content:'';
	display:block;
}

.overlay_mask{
	display: none;
	position:absolute;
	left:0;top:0;right:0;bottom:0;
	background:rgba(0,0,0,0.4);
	width:100%;
	height:100%;
	z-index:5;
}

#adipost{

	.adipost_head{
		overflow: hidden;
		width: calc(960px + 30px);
		padding:80px 0;
		margin: 0 auto;
		.adipost_head_le{
			float:left;
			padding-left:55px;
		}
		.adipost_head_ra{
			float:left;
			padding-left:8%;
			h1{
				font:900 45px/45px 'adinenuPro-black';
				color:#111;
				letter-spacing:normal;
				padding:15px 0 0 0;
			}
			p{
				font: 300 20px/36px 'NotoSansKR';
				color:#111;
				letter-spacing:normal;
				padding-bottom:20px;
			}
		}
	}

	.adipost_body{
		width: calc(960px + 30px);
		margin: 0 auto;
		position: relative;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		#adipost_list{
		overflow:hidden;
		margin-bottom:100px;
		li{
			float:left;
			vertical-align:top;
			width: 300px;
			padding: 15px;
			a{
				display:block;
				.image{
					img{
						width:100%;
					}
				}	
			}
		}	
	}
	}
	
	.slider_popup_wrap{
		position:fixed; left:50%;top:50%;
		transform:translate(-50%, -50%);
		background:#fff; 
		width:890px; height:540px;
		z-index:10;
		display:none;
		overflow:hidden;
		
		.slider_popup{
			float: left;
			position:relative;
			width:540px;
			video{
				display: block;
			}
		}
		.slick-list{
			width: 540px;
			.slick-slide{
				overflow: hidden;
			}
		}
		.slick-dots {
			padding:15px 0 0 0;
			text-align: center;
			position:absolute;
			left:50%; 
			bottom:20px;
			transform: translateX(-50%);
			li{
				display: inline-block;
				margin-right: 6px;
				button{
					width: 9px;
					height: 9px;
					border-radius: 50%;
					border:1px solid #111;
					background:none;
					padding: 0;
					text-indent: -9999px;
				}
				&.slick-active {
					button {
						background: #111;
					}
				}
			}
		}	

		.slick-arrow{
			font-size:0;
			border:0;
		}

		.slick-prev{
			position:absolute;
			left: 20px;
			top: 50%;
			background: url('/images/adidas/2020/event/adipost/post_left.png')center center no-repeat;
			width: 30px;
			height: 30px;
			z-index:9;
		}			

		.slick-next{
			position:absolute;
			right: 20px;
			top: 50%;
			background: url('/images/adidas/2020/event/adipost/post_right.png')center center no-repeat;
			width: 30px;
			height: 30px;
			margin-left:100px;
			z-index:9;
		}	
		.slider_txt{
			position: relative;
			float: left;
			width: 350px;
			height: 100%;
			.inner{	
				position:absolute;
				left:35px;
				top:50%;
				width:350px;
				transform: translateY(-50%);
				p {
					font: 300 18px/30px 'NotoSansKR';
					color: #111;
					letter-spacing: normal;

					span {
						display: block;
					}
				}

				strong {
					display: block;
					font: 700 15px/30px 'NotoSansKR';
					color: #111;
					padding: 15px 0 45px 0;
					letter-spacing: normal;
					text-transform: uppercase;
				}
			}
		}
		
		&.slide08{
			.slider_txt{
				strong{
					text-transform: none;
				}
			}
		}
	}

}


