@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#mutator {
	position: relative;
	overflow: hidden;

	.button_area_v2{				
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			width:140px;
			font: 700 14px/50px 'NotoSansKR';
			letter-spacing: 1px;
		}
	}
	
	.top_video{
		position: relative;
		width: 1920px;
		height: 803px;
		background-color: #000;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		#top_video{			
			height: 803px;			
		}
		.txt_area{
			z-index: 5;
			position: absolute;
			top:315px;
			left:50%;
			margin-left: -595px;
			h3{
				font:700 48px/36px 'NotoSansKR';
				color:#fff;
				span{
					font:54px/36px 'adinenuPro-bold';
					color:#fff;
				}
			}
			p{
				font:400 18px/45px 'NotoSansKR';
				color:#fff;
			}
			.button_area_v2{
							width: 140px;
							margin-top: 25px;   						
						}
		}
	}

	.statement{
		position: relative;
		height: 800px;
		background-color: #000;
		text-align: center;
		.bg{
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -960px;
		}
		.txt_box{
			position: absolute;
			top:258px;
			left:50%;
			transform: translateX(-50%);
			z-index: 5;
			h4{
			text-align: center;
			color:#fff;
			font:700 48px/36px 'NotoSansKR';
			letter-spacing: 2px;
			}
			p{
				text-align: center;
				color:#fff;
				font:400 18px/28px 'NotoSansKR';
				margin-top: 35px;
				letter-spacing: 2px;
			}
		}		
	}

	.mid_video{
		position: relative;
		width: 1920px;
		height: 1080px;
		background-color: #000;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		#mid_video{			
			height: 1080px;			
		}		
	}

	.cont_area1{
		position: relative;		
		height: 860px;
		background-color: #000;
		.bg{
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);		
		}
		.txt_area{
			z-index: 5;
			position: absolute;
			top:395px;
			left:50%;
			margin-left: -595px;
			h3{
				font:700 38px/36px 'NotoSansKR';
				color:#fff;				
			}
			p{
				font:400 18px/55px 'NotoSansKR';
				color:#fff;
			}			
		}
	}
	
	.cont_area2{
		position: relative;		
		height: 860px;
		background-color: #000;
		.bg{
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);		
		}
		.txt_area{
			z-index: 5;
			position: absolute;
			top:395px;
			left:50%;
			margin-left: 148px;
			h3{
				font:700 38px/36px 'NotoSansKR';
				color:#fff;		
				text-align: right;		
			}
			p{
				font:400 18px/55px 'NotoSansKR';
				color:#fff;
				text-align: right;		
			}			
		}
	}

	.list_area1{
		position: relative;		
		background-color: #fff;	
		ul{
			margin: 5% auto;
			text-align: center;
			li{
				position: relative;
				width: 30%;				
				display: inline-block;				
				.bg{
					position: absolute;
					top:0;
					left: 0;
					>img{
						width: 100%;
					}
				}
				.txt{					    
						text-align: center;
						margin: 40% auto 0;
						transform: translate(0%, -35%);
					p{
						text-align: center;
						font:700 20px/25px 'NotoSansKR';
						color:#fff;
						span{
							font:24px/24px 'adinenuPro-bold';
							color: #fff;
							text-align: center;
							letter-spacing: 3px;
							white-space: nowrap;
						}
					}					
				}

			}			
		}
	}

	.bot_video{
		position: relative;
		width: 1920px;
		height: 859px;
		background-color: #000;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		#bot_video{			
			height: 859px;			
		}		
	}

	.list_area2{
		position: relative;		
		background-color: #fff;		
		ul{
			margin: 5% auto;
			text-align: center;
			li{
				position: relative;
				width: 30%;				
				display: inline-block;				
				.bg{
					position: absolute;
					top:0;
					left: 0;
					>img{
						width: 100%;
					}
				}
				.button_area_v2{
					width: 140px;										
					margin: 37% auto 0;
					a{
						height: 45px;
						line-height: 45px;
					}
				}

			}			
		}
	}
	@media all and (max-width:1540px){
		.list_area1{
			ul{
				li{
					.txt{
						margin: 36% auto 0;
					}
				}
			}
		}
		.list_area2{
			ul{
				li{
					.button_area_v2{								
					transform: translateY(-15%);			
				}
				}
			}
		}
	}
}
