@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#yakids {
	position: relative;
	.button_area_v2{
		&:hover{
			div{
				.bg{
					box-shadow: inset 0 0 0 1px #000;
    				-webkit-box-shadow: inset 0 0 0 1px #000;
					@include css3(transition, all 0.5s);
				}
				a{
					color: #767677;
				    background: #000;
					span{
						background: #767677;
						em{
							background: #767677;
						}
					}

				}
			}
		}
		a{
			letter-spacing: 1px;
			padding:0 20px;
		}
	}
	font:54px/54px 'adinenuPro-regular';
	text-align: center;

	.rel{
		position: relative;
	}
	.main__wrapper{
		height:796px;
		.main__wrapper__img{
			position: absolute;
			top:0;
			left:50%;
			transform: translateX(-50%);
		}
		.main__wrapper__txt{
			position: absolute;
			top:255px;
			left:50%;
			transform: translateX(-215%);
			h1{
				font:700 40px/40px 'NotoSansKR';
				color:#000;
			}
			p{
				font:500 27px/35px 'NotoSansKR';
				color:#000;
				margin: 15px 0 0 0;
			}
			.button_area_v2{
				margin: 35px 0 0 0;
				display: inline-block;
			}
		}
	}
	.aside__wrapper{
		height:285px;
		.aside__wrapper__img{
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-48%,-50%);
			z-index:0;
		}
		.aside__wrapper__txt{
			position: relative;
			z-index:1;
			p{
				font:500 27px/35px 'NotoSansKR';
				color:#000;
				text-align: center;
				padding:90px 0;
				em{
					font:900 27px/35px 'NotoSansKR';

				}
			}
		}
	}
	.section__container{
		background:url('/images/adidas/2019/event/kids/yakids/1912_a_yakids_bg_DT.jpg') no-repeat;
		height:3181px;
		background-position: top;
		background-size: auto;
		.section__wrapper{
			width:1199px;
			margin: 0 auto;
			padding:160px 0 0 0;
			&:nth-child(2){
				.section__wrapper__colorbox{
					background:#dbe5f2;

					.section__wrapper__main{
						transform: translateX(-48%);
						.section__wrapper__txt{
							padding: 100px 50px 0 0;
							h1{
								em{
									color:#3e61b9;
								}
							}
						}
					}
				}
				.section__wrapper__sub{
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: 85px;
					margin-left: -630px;
					width: 675px;
					z-index: 2;
					.txt_btn{
						display: inline-block;
						position: relative;
						top: -68px;
						left: 25px;
						.button_area_v2{
							display: inline-block;
							margin: 0 20px 0 0;
						}
						.txt{
							display: inline-block;
							text-align: left;
							position: relative;
							top:15px;
							span{
								font:18px 'adinenuPro-light';
								color:#000;
							}
							p{
								font:700 18px/22px 'NotoSansKR';
								color:#000;
								text-align: right;
	
							}
						}
					}
					.slide{
						display: inline-block;
						#sliders{
							margin:0 auto;
						}
						.indicator{
							text-align: center;
							margin:15px 0 0 0;
							a{
								width:15px;
								height:15px;
								display: inline-block;
								background: #aaa4a1;
								border-radius: 50%;
								&.on{
									background: #000;
								}
							}
						}
					}
				}
			}
			.section__wrapper__colorbox{
				width:1139px;
				height:685px;
				background:#ffe3e5;
				.section__wrapper__main{
					position: absolute;
					top:-45px;
					left:50%;
					transform: translateX(-50%);
					min-width: 1050px;
					&::after{
						display: block;
						content:'';
						clear:both;
					}
					.section__wrapper__img{
						float: left;
					}
					.section__wrapper__txt{
						// display: inline-block;
						float: left;
						padding:100px 0 0 50px;
						h1{
							font:700 32px/40px 'NotoSansKR';
							color:#000;
							em{
								font:700 32px/40px 'NotoSansKR';
								color:#ec5960;
							}
						}
						span{
							font:700 18px/18px 'NotoSansKR';
							color:#000;
							margin: 15px 0;
							display: inline-block;
						}
						p{
							font:400 18px/25px 'NotoSansKR';
							color:#000;
						}
					}
				}

			}
			.section__wrapper__sub{
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: 85px;
				margin-left: -20px;
				width: 675px;
				z-index: 2;
				.txt_btn{
					display: inline-block;
					position: relative;
					top: -68px;
					left: -20px;
					.button_area_v2{
						display: inline-block;
						margin: 0 20px 0 0;
					}
					.txt{
						display: inline-block;
						text-align: right;
						position: relative;
						top:15px;
						span{
							font:18px 'adinenuPro-light';
							color:#000;
						}
						p{
							font:700 18px/22px 'NotoSansKR';
							color:#000;
							text-align: right;
						}
					}
				}
				.slide{
					display: inline-block;
					#sliders{
						margin:0 auto;
					}
					.indicator{
						text-align: center;
						margin:15px 0 0 0;
						a{
							width:15px;
							height:15px;
							display: inline-block;
							background: #aaa4a1;
							border-radius: 50%;
							&.on{
								background: #000;
							}
						}
					}
				}
			}
		}
		.btm_slide{
			padding: 220px 0 0 0;
			.slider{
				overflow: hidden;
				width: 1080px;
				margin: 0 auto;
				.slick-slide{
					width: 340px;
					margin:0 15px;
					.txt{
						margin:30px 0 0 0;
						h2{
							font:700 28px/28px 'NotoSansKR';
							color: #000;
							text-align: center;
						}
						p{
							font:400 18px/50px 'NotoSansKR';
							color: #000;
							text-align: center;
						}
					}
				}
			}
			.prev-button{
				position: absolute;
				top:50%;
				left:50%;
				margin-top: 43px;
				margin-left: -600px;
			}
			.next-button{
				position: absolute;
				top:50%;
				left:50%;
				margin-top: 43px;
				margin-left: 575px;
				img{
					transform: rotate(180deg);
				}
			}
		}
	}
	.btm__wrapper{
		height:640px;
		.btm__wrapper__img{
			position: absolute;
			top: 48px;
			left:50%;
			transform: translateX(-50%);
		}
		.btm__wrapper__txt{
			position: absolute;
			top: 202px;
			left: 50%;
			transform: translateX(-179%);
			text-align: center;
			h1{
				font:700 32px/40px 'NotoSansKR';
				color:#000;
				text-align: center;
			}
			p{
				font:400 26px/26px 'NotoSansKR';
				color:#000;
				margin:15px 0 0 0;
				text-align: center;				
			}
			.button_area_v2{
				display: inline-block;
				margin:40px 0 0 0;
			}
		}
	}
}
