@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

//common
#footer{
	z-index: 0;
}
#musinsa{
	section{position: relative;};
	background: #2d864c;
	.btn_default{
		margin-top: 0;
		a{
			background: none;
			padding: 0 30px;
			margin: 0;
		}
	}
	@for $i from 1 through 5 {
		.bg0#{$i} {
			background: url('/images/adidas/2021/event/musinsa/bg0#{$i}.jpg') no-repeat;
			background-position: top;
			background-size: auto 100%;
		}
	}
	.bg05{
		padding: 147px 0;
	}
	.topBanner{
		// height: 1331px;
		.topBanner__figure{
			// @include center(0,auto,50%,$ctX);
			img{
				width: 100%;
			}
		}
		.txt{
			@include center(auto, auto, 50%, $ctX);
			bottom: 5.5%;
			text-align: center;
			white-space: nowrap;
			p{
				font: 900 74px/74px $noto;
				color: #ffffff;
				text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
				margin-bottom: 50px;
				text-align: center;
			}
			img{
				width: 95%;
			}
			@media screen and (max-width: 1570px) {
				bottom: 4.8%;
				p{
					font: 900 65px/65px $noto;
					color: #ffffff;
					text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
					margin-bottom: 25px;
				}
			}
		}
	}
	.state{
		text-align: center;
		p,span{
			display: block;
			text-align: center;
			color: #ffffff;
		}
		p{
			font: 900 50px/76px $noto;
			color: #ffffff;
			letter-spacing: 1px;
		}
		span{
			font: 500 35px/60px $noto;
			margin: 30px 0 60px 0;
		}

		&.bg01{
			padding: 167px 0;
		}
		&.bg02{
			padding: 181px 0;
		}
		&.bg03{
			padding: 182px 0;
		}
		&.bg04{
			padding: 139px 0;
		}
	}
	.grid__container{
		img{
			width: 100%;
		}
		// @include after();
		// .item{
		// 	float: left;
		// 	img{
		// 		width: 100%;
		// 	}
		// }
	}
	.bottoms{
		p,img{
			display: block;
			text-align: center;
		}
		p{
			font: 900 74px/74px $noto;
			color: #ffffff;
			text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
		}
		img{
			margin: 0 auto;
			margin-top: 45px;
		}
	}
}
