@import "./front/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
#contents_wrap{padding: 0;}

.campaign_aztrek{
        background:#f6f5f3;    
    .btn{
        display: inline-block;
        border: 1px solid #000;
        &:hover{
            a{
                transition: all .5s ease-in;
            }
            img{
                -webkit-animation: effect 1s infinite; /* Safari 4.0 - 8.0 */
                animation: effect 1s infinite;
                animation-timing-function: ease-out;
            }
        }  
        a{
            display: block;
            font: 700 14px/46px 'NotoSansKR';
            padding:0 20px;
            text-align: left;
            color:#000;
            img{
                padding-left:10px;
            }
        }
    }
    .main{
        position: relative;
        height: 1090px;
        &.on{
            .bg,.head{
                img{
                    opacity: 1;
                }
            }
            .txt{
                opacity: 1;
            }
        }
        .bg{
            position: absolute;
            top:0;
            left:50%;
            transform: translateX(-50%);
            z-index: 0;
            img{
                opacity: 0;
                transition: all 1s;
                transition-delay: .3s;
            }
        }
        .head{
            position: absolute;
            top:50%;
            left:50%;
            margin-top: -407px;
            margin-left: -631px;
            z-index: 1;
            img{
                opacity: 0;
                transition: all 1s;
                transition-delay: 1.3s;
            }
        }
        .txt{
            position: absolute;
            bottom: 503px;
            left: 50%;
            z-index: 2;
            margin-left: -902px;
            opacity: 0;
            transition: all 1s;
            transition-delay: .8s;
            p{
                font: 20px/20px 'dinpro black';
                color: #000;
                letter-spacing: 5px;
            }
        }
    }

    .look{
        position: relative;
        height: 1001px;
        background:#f6f5f3;
        margin: 49px 0 0;
        &.on{
            .thumbs,.look_main, .bgLogo, .bgDeco{
                img{
                    opacity: 1;
                }
            }
            .txt{
                opacity: 1;
            }
        }
        .thumbs{
            position: absolute;
            top: 80px;
            left: 50%;
            margin-left: -880px;
            img{
                opacity: 0;
                transition: all 1s;
                transition-delay: 1.2s;
            }
        }
        .look_main{
            position: absolute;
            top: 80px;
            left: 50%;
            margin-left: -488px;
            img{
                opacity: 0;
                transition: all 1s;
                transition-delay: .7s;
            }
        }
        .bgLogo{
            position: absolute;
            top:80px;
            left:50%;
            margin-left:365px;
            img{
                opacity: 0;
                transition: all 1s;
                transition-delay: .3s;
            }
        }
        .bgDeco{
            position: absolute;
            top: 55px;
            left: 50%;
            margin-left: 121px;
            img{
                opacity: 0;
                transition: all 1s;
                transition-delay: 1.4s;
            }
        }
        .txt{
            width:1160px;
            margin:0 auto;
            text-align: right;
            z-index: 2;
            position: relative;
            opacity: 0;
            transition: all 1s;
            transition-delay: 1.8s;
            >.wrap{
                display: inline-block;
                padding-top:300px;
                padding-right: 20px;
                h1{
                    font: 700 60px/95px 'NotoSansKR';
                    color:#000;
                    text-align: left;
                    letter-spacing: 12px;
                }
                .btn{
                    display: inline-block;
                    margin-top: 25px;
                    &:hover{
                        img{
                            -webkit-animation: effect 1s infinite; /* Safari 4.0 - 8.0 */
                            animation: effect 1s infinite;
                            animation-timing-function: ease-out;
                        }
                        a{
                            transition: all .5s ease-in;
                        }
                    }
                    .wrap{
                        display: inline-block;
                        border: 1px solid #000;  
                        a{
                            display: block;
                            font: 700 14px/46px 'NotoSansKR';
                            padding:0 20px;
                            text-align: left;
                            color:#000;
                            img{
                                padding-left:10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .visual_video{
        position: relative;
        height: 1113px;
        background:#f6f5f3;
        opacity: 0;
        transition: all 1s;
        transition-delay: .3s;
        &.on{
            opacity: 1;
        }
        .wrap{
            width:1220px;
            margin: 0 auto;
            &::after{
                display: block;
                content:'';
                clear:both;
            }
            .img{
                position: relative;
                .inns{
                    position: relative;
                    img{
                    }
                    a{
                        position: absolute;
                        left: 50%;
                        margin-left: -228px;
                        top: 50%;
                        margin-top: -75px;
                        border:0;
                        &::after{
                            border:0;
                        }
                        img{
                            width:88%;
                            &:hover{
                                -webkit-animation: effect 1s infinite; /* Safari 4.0 - 8.0 */
                                animation: effect 1s infinite;
                                animation-timing-function: ease-out;
                            }
                        }
                    }
                }
            }
        }
        @keyframes effect {
            0% {
                transform: rotate(0deg)
            }
            50% {
                transform: rotate(3deg)
            }
            100% {
                transform: rotate(-3deg)
            }
        }
        @keyframes mymove {
            to {opacity: 0;}
            from {opacity: 1;}
        }
        .deco{
            position: absolute;
            top:0;
            img{
                display: block;
                padding:23px 0;
                opacity: 0;
                -webkit-animation: mymove 2s infinite; /* Safari 4.0 - 8.0 */
                animation: mymove 2s infinite;
                animation-timing-function: steps(0.9,end);
                &:first-child{
                    animation-delay: 1.3s;
                }
                &:nth-child(2){
                    animation-delay: 1.6s;
                }
                &:nth-child(3){
                    animation-delay: 1.9s;
                }
                &:nth-child(4){
                    animation-delay: 2.2s;
                }
                &:nth-child(5){
                    animation-delay: 2.5s;
                }
                &:nth-child(6){
                    animation-delay: 2.8s;
                }
                &:nth-child(7){
                    animation-delay: 3.1s;
                }
                &:nth-child(8){
                    animation-delay: 3.4s;
                }
                &:last-child{
                    animation-delay: 3.7s;
                }
            }
            &.deco1{
                left:50%;
                margin-left:-1113px;
                // width:430px;
            }
            &.deco2{
                right:50%;
                margin-right:-1063px;
                // width:370px;
                img{
                    display: block;
                    padding:23px 0;
                    opacity: 0;
                    -webkit-animation: mymove 2s infinite; /* Safari 4.0 - 8.0 */
                    animation: mymove 2s infinite;
                    animation-timing-function: steps(0.9,end);
                    &:first-child{
                        animation-delay: .3s;
                    }
                    &:nth-child(2){
                        animation-delay: .6s;
                    }
                    &:nth-child(3){
                        animation-delay: .9s;
                    }
                    &:nth-child(4){
                        animation-delay: 1.2s;
                    }
                    &:nth-child(5){
                        animation-delay: 1.5s;
                    }
                    &:nth-child(6){
                        animation-delay: 1.8s;
                    }
                    &:nth-child(7){
                        animation-delay: 2.1s;
                    }
                    &:nth-child(8){
                        animation-delay: 2.4s;
                    }
                    &:last-child{
                        animation-delay: 2.7s;
                    }
                }
            }
        }

    }
    
    .aside{
        position: relative;
        height: 311px;
        padding-top: 68px;
        &.on{
            .txt,.img{
                opacity: 1;
            }
        }
        .txt{
            width:1160px;
            padding: 0 0 0 100px;
            z-index: 1;
            position: relative;
            margin: 0 auto;
            opacity: 0;
            transition: all 1s;
            transition-delay: .8s;
            p{
                font: 400 16px/25px 'NotoSansKR';
                color:#000;
                letter-spacing: 1px;
            }
            .btn{
                margin-top:20px;
            }
        }
        .img{
            position: absolute;
            top:0;
            left:50%;
            transform: translateX(-50%);
            z-index: 0;
            opacity: 0;
            transition: all 1s;
            transition-delay: .3s;
            img{
            }
        }
    }


    .modelcut{
        position: relative;
        height: 1382px;
        &.on{
            >img{
                opacity:1;
            }
            .model, .layer{
                img{
                    opacity: 1;
                }
            }
        }
        >img{
            position: absolute;
            top:60px;
            left:50%;
            z-index: 2;
            margin-left:250px;
            opacity: 0;
            transition: all 1s;
            transition-delay: 3.2s;
        }
        .model{
            img{
                position: absolute;
                top:0;
                left:50%;
                z-index: 2;
                opacity: 0;
                transition: all 1s;
                &:first-child{
                    margin-left:-1045px;
                    transition-delay: 1.7s;
                }
                &:nth-child(2){
                    margin-left:-345px;
                    transition-delay: 2.2s;
                }
                &:last-child{
                    margin-left:355px;
                    transition-delay: 2.7s;
                }
            }

        }
        .layer{
            img{
                position: absolute;
                left:50%;
                opacity: 0;
                transition: all 1s;
                &:first-child{
                    top:150px;
                    margin-left:-970px;
                    z-index:1;
                    transition-delay: .3s;
                }
                &:nth-child(2){
                    top:130px;
                    margin-left:-437px;
                    transition-delay: .7s;
                }
                &:last-child{
                    top:75px;
                    margin-left:305px;
                    transition-delay: 1.2s;
                }
            }
        }
    }


    .btm{
        position: relative;
        height: 1021px;
        &.on{
            .img1, .img2, .btn{
                opacity:1;
            }
        }
        .img1{
            position:absolute;
            top:81px;
            left:50%;
            margin-left:-610px;
            z-index: 2;
            opacity: 0;
            transition: all 1s;
            transition-delay: .9s;
            img{

            }
        }
        .img2{
            position:absolute;
            top:53px;
            left:50%;
            margin-left:-215px;
            opacity: 0;
            transition: all 1s;
            transition-delay: .3s;
            img{
                
            }
        }

        .btn{
            position: absolute;
            bottom: 265px;
            left:50%;
            margin-left:-470px;
            opacity: 0;
            transition: all 1s;
            transition-delay: 1.5s;
            a{

            }
        }
    }

}
