@import "./front/css/reebok/scss/about.scss";

#wrap {
  overflow: hidden;
  min-width: 1190px;
}

#contents_wrap {
  padding: 0;
}

.campaign_bt21 {
  position: relative;
  h3{
    margin:94px 0;
    text-align: center;
    img{
      display: inline-block;
    }
  }
  .characters-box-wrap{
    margin:0 auto;
    width:1024px;
    overflow: hidden;
    &:after{
      content:'';
      display: inline-block;
      clear: both;
    }
    .character-box{
      /* float: left; */
      display: inline-block;
      width: 253px;
      margin-bottom: 70px;
      text-align: center;
      opacity: 0;
      transform: rotate(20deg);
      transition: all 0.2s;
      &.show{
        transform: rotate(0deg);
        opacity: 1;
      }
    } 
  }
  .copyright{
    position: relative;
    margin-bottom: 60px;;
    text-align: center;
    img{}
  }
}
