@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#ivypark {
	position: relative;

	.button_area_v2{
		&:hover{
			div{
				.bg{
					box-shadow: inset 0 0 0 1px #000;
    				-webkit-box-shadow: inset 0 0 0 1px #000;
					@include css3(transition, all 0.5s);
				}
				a{
					color: #fff;
				    background: #000;
					@include css3(transition, all 0.5s);

					span{
						background: #fff;
						@include css3(transition, all 0.5s);
						em{
							background: #fff;
							@include css3(transition, all 0.5s);
						}
					}

				}
			}
		}
		a{
			letter-spacing: 1px;
		}
	}

	.main{
		position: relative;
		&.on{
			.inn{
				>*{
					&::before{
						height:0;
					}
				}
			}
		}
		>.cpn_bg{
			width: 100%;
			text-align: center;
			img{
				width: 100%;
				display: block;
			}
		}
	}

	.menu_sort{
		padding: 100px 0;
		text-align: center;
		ul{
			overflow: hidden;
			display: inline-block;
			li{
				padding: 0 15px;
				float: left;
				font: 14px/14px "adihaus";
				letter-spacing: 1px;
				color: #000;
				text-transform: uppercase;
				text-align: center;
			}
		}
	}

	.sect_prds{
		
		ul{
			overflow: hidden;
			width: calc(1215px + 30px);
			margin: 0 auto;
			li.item{
				float: left;
				margin: 0 15px 50px;
				width: 385px;
				color: #000;
				text-align: center;
				a{
					display: block;
					>* {
						display: block;
						text-align: center;
					}
					img {
						width: 100%;
					}

					span {
						padding-top: 20px;
						font: 12px/12px "adihaus";
						color: #aaaaac;
					}

					h3 {
						padding: 12px 0;
						font: 15px/15px "NotoSansKR";
						color: #000;
					}

					p {
						padding-bottom: 20px;
						font: 14px/14px "adihaus";
						color: #4c4c4c;

						em {
							font: 14px/14px "NotoSansKR";
						}
					}
				}
			}
		}
	}

	.cont_wrap{
		padding: 100px 0 0;
		.cont_img{
			position: relative;
			>.cpn_bg{
				width: 100%;
				text-align: center;
				img {
					width: 100%;
					display: block;
				}
			}
		}

		.cont_state{
			position: relative;
			padding: 100px 0;
			h3{
				font: 600 47px/47px "adihaus-bold";
				color: #000;
				text-transform: uppercase;
				text-align: center;
			}
			p{
				padding-top: 25px;
				font: 20px "NotoSansKR";
				color: #000;
				text-align: center;
			}
		}

		.cont_slider{
			position: relative;
			.sliderlook{
				overflow: hidden;
				width: 92%;
				// min-width: 1280px;
				// width: 1715px;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				// margin-left: -857.5px;
				z-index: 2;
				.slick-slide{
					text-align: center;
					img{
						width: 98%;
						// width: 565px;
						display: inline-block;
					}
				}
			}
			.slider_nav{
				position: absolute;
				top: 50%;
				width: 100%;
				margin-top: -18px;
				z-index: 3;
				a{
					position: absolute;
					&.prev-button{
						left: 4%;
					}
					&.next-button{
						right: 4%;
					}
				}
			}
		}
	}
}
