@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
.ie{
    .visual_video{
        .video_bg{
            video{
                min-width: 1920px !important;
            }
        }
    }
}
#wrap{
    min-width: 950px;
    overflow: hidden;
    @media screen and(max-width: 950px){
        .products_collection{
            .wide-slider-wrapper{
                .arrow-prev{
                    margin-left: 0;
                    left:0;
                }
                .arrow-next{
                    margin-left: 0;
                    right:0;
                    left:inherit;

                }
            }
        }
    }
}
.campaign_complete{
    .inner{
        text-align: center;
    }
    .visual_video{
        height: 820px;
        .bgflower{
            z-index: 2;
        }
        .neon{
            position: absolute;
                top: 134px;
                left: 50%;
                margin-left: -561px;
        }
        .slider_wrap{
            position: relative;
            text-align: center;
            @include prefix-css3(opacity,0);
            @include prefix-css3(transition, 0.5s);
            &.on{
                @include prefix-css3(opacity,1);

            }
            #sliders{
                display: inline-block;
                margin: 70px 0 0 520px;
            }
        }
        .indicator{
            position: absolute;
            bottom: 64px;
            left: 50%;
            width: 522px;
            z-index: 2;
            text-align: center;
            display: inline-block;
            a{
                display: inline-block;
                margin: 0 3px;
                width: 12px;height: 12px;
                background: #f7dbe0;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                text-indent: -9999px;
                &.on{
                    background: #ff7f89;
                }
            }
        }
        .txt{
            position: absolute;
            left:50%;
            top:114px;
            margin-left: -463px;
            z-index: 2;
            >*{
                text-align: center;
            }
            p{
                font:300 22px/22px 'NotoSansKR';
                color:#fff;
                letter-spacing: 5px;
                &.eng{
                    padding: 134px 0 235px 0;
                    font:24px 'DINWebPro-CondMedium';
                    letter-spacing: 0;
                }
            }
            .video_wrap{
                div{
                    position: relative;
                    float: left;
                    margin: 0 4px;
                    cursor: pointer;
                    &:hover{
                        span{
                            background: #ff7f89;
                        }
                    }
                    span{
                        position: absolute;
                        top: 107px;
                        left:0;
                        width: 100%;
                        height: 3px;
                        transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                    }
                    p{
                        padding: 7px 0 0 0;
                        text-align: center;
                        font-size: 14px;
                        letter-spacing: 0;
                    }
                }
                &:after{
                    content: '';display: block;clear: both;
                }
            }
        }
    }
    .eventContent{
        &.on{
            &.products_content_all{
                .labels{
                    opacity: 1 !important;
                    -webkit-opacity: 1 !important;
                }
            }
            &.products_content_gallery{
                .detail_imgs{
                    top:378px !important;
                    opacity: 1 !important;
                    -webkit-opacity: 1 !important;
                }
            }
            &.products_collection{
                .wide-slider-wrapper{
                    top:0 !important;
                    opacity: 1 !important;
                    -webkit-opacity: 1 !important;
                }
            }
        }
    }
    .btn{
        display: inline-block;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 210px;
        border:2px solid #fff;
        font:500 18px/58px 'NotoSansKR';
        color:#fff;
        // background: #bddce8;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        text-align: center;
        &:hover{
            background: rgba(255,255,255,0.1);
        }
    }

    .label{
        // position: absolute;
        // top:337px;
        display: inline-block;
        background: rgba(255,255,255,.7);
        border: 1px solid #ff7f89;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        &:hover{
            background: #ff7f89;
            span{
                color:#fff;
            }
        }
        &.on{
            background: #ff7f89;
            span{
                color:#fff;
            }
        }
        span{
            display: inline-block;
            padding: 7px 12px;
            font: 600 14px/14px 'NotoSansKR';
            color:#ff7f89;
        }
        &.num1{ left:30px; }
        &.num2{
            top: 498px;
            left:177px;
        }
        &.num3{ left: 432px; }
        &.num4{
            top: 498px;
            left:462px;
        }
        &.num5{ top: 498px; left: 635px; }
        &.num6{ left: 635px; left:883px;}
    }
    .products_all{
        position: relative;
        height: 2721px;
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left:-990px;
        }
        .gall_1_bg{
            position: absolute;
            top: 1344px;
            left: 50%;
            width: 1089px;
            margin-left: -566px;
            height: 444px;
            background: #ffb4bc;
        }
        .gall_2_bg{
            position: absolute;
            top: 2076px;
            left: 50%;
            width: 1089px;
            margin-left: -526px;
            height: 444px;
            background: #ffb4bc;
        }
        .content{
            position: relative;
            width: 1140px;
            margin: 0 auto;
            text-align: center;
            h4{
                font: 52px/50px 'DINWebPro-CondBold';
                text-align: center;
                color: #fff;
                padding: 80px 0 0;
                position: relative;
                text-transform: uppercase;
                span{
                    font: 52px/50px 'DINWebPro-CondLight';

                }
            }
            .btn{
                margin: 20px 0 25px;
            }
            .products_content_all{
                position: relative;
                padding: 50px 86px;
                background: #fff;
                .img{
                    position: relative;
                    text-align: center;
                    .labels{
                        opacity: 0;
                        -webkit-opacity: 0;
                        transition: all 0.4s;
                        -webkit-transition: all 0.4s;
                        transition-delay: 1s;
                        -webkit-transition-delay: 1s;
                        .label{
                            position: absolute;
                            top:337px;
                            background: rgba(255,255,255,.7);
                            border: 1px solid #ff7f89;
                            transition: all 0.5s;
                            -webkit-transition: all 0.5s;
                            &:hover{
                                background: #ff7f89;
                                span{
                                    color:#fff;
                                }
                            }
                            &.on{
                                background: #ff7f89;
                                span{
                                    color:#fff;
                                }
                            }
                            span{
                                display: inline-block;
                                padding: 7px 12px;
                                font: 600 14px/14px 'NotoSansKR';
                                color:#ff7f89;
                            }
                            &.num1{ left:30px; }
                            &.num2{
                                top: 498px;
                                left:177px;
                            }
                            &.num3{ left: 432px; }
                            &.num4{
                                top: 498px;
                                left:462px;
                            }
                            &.num5{ top: 498px; left: 635px; }
                            &.num6{ left: 635px; left:883px;}
                        }
                    }
                }
                .details{
                    position: relative;
                    padding: 30px 0 0 0;
                    height: 137px;
                    ul{
                        li{
                            position: relative;
                            width: 480px;
                            display: block;
                            margin-bottom: 20px;
                            a{
                                position: absolute;
                                top:0;left:0;
                                width: 100%;
                                height: 45px;
                                display: block;
                            }
                            &.absolute{
                                top: -156px;
                                left: 500px;
                            }
                            &.on{
                                .label{
                                    background: #ff7f89;
                                    color:#fff;
                                }
                                .txt{
                                    border-bottom: 1px dotted #a8676d;

                                }
                            }
                            span{
                                display: inline-block;
                                padding: 7px 12px;
                                font: 600 14px/14px 'NotoSansKR';
                                color: #ff7f89;
                                background: rgba(255,255,255,0.7);
                                border: 1px solid #ff7f89;
                                transition: all 0.5s;
                                -webkit-transition: all 0.5s;
                            }
                            .txt{
                                display: inline-block;
                                margin-left: 12px;
                                border-bottom: 1px dotted #fff;

                                p{
                                    display: inline-block;
                                    padding-right: 60px;
                                    font: 600 14px/14px 'NotoSansKR';
                                    color:#8c383f;
                                    &.buy{
                                        padding-right: 0;
                                    }

                                }
                                span{
                                    padding: 7px 12px 7px 0;
                                    border:0;
                                    font: 16px 'DINWebPro-CondBold';
                                    color:#a8676d;
                                }
                            }
                        }
                    }
                }
            }

            .products_content_gallery{
                position: relative;
                width: 1140px;
                margin: 89px 0 0 0;
                &.left{
                    .img{
                        margin-left: 616px;
                        .labels{
                            .label{
                                &.num1{
                                    top: 517px;
                                    left: 78px;
                                }
                                &.num2{
                                    top: 577px;
                                    left: 170px;
                                }
                                &.num3{
                                    top: 461px;
                                    left: 405px;
                                }
                            }
                        }
                    }
                    .details{
                        left:92px !important;
                    }
                    .detail_imgs{
                        left: 235px !important;
                    }
                }
                .img{
                    position: relative;
                    margin-left: 44px;
                    .labels{
                        .label{
                            position: absolute;
                            top: 390px;
                            &.num1{
                                top: 485px;
                                left: 20px;
                            }
                            &.num2{
                                top: 486px;
                                left: 155px;
                            }
                            &.num3{
                                top: 390px;
                                left: 378px;
                            }
                        }
                    }
                }
                .details{
                    position: absolute;
                    display: inline-block;
                    top:180px;
                    left:567px;
                    ul{
                        li{
                            position: relative;
                            a{
                                display: block;
                                position: absolute;
                                left:0;top:0;
                                height: 45px;
                                width: 100%;
                            }
                            margin-bottom: 20px;
                            &.on{
                                .label{
                                    background: #ff7f89;
                                    span{
                                        color:#fff;
                                    }

                                }
                                .txt{
                                    border-bottom: 1px dotted #a8676d;

                                }
                            }
                            .txt{
                                display: inline-block;
                                margin-left: 12px;
                                border-bottom: 1px dotted transparent;

                                span{
                                    display: inline-block;
                                    padding: 7px 12px 7px 0;
                                    border: 0;
                                    font: 16px 'DINWebPro-CondBold';
                                    color: #a8676d;
                                }
                                p{
                                    display: inline-block;
                                    padding-right: 60px;
                                    font: 600 14px/14px 'NotoSansKR';
                                    color: #8c383f;
                                    &.buy{
                                        padding-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .detail_imgs{
                    position: absolute;
                    left: 687px;
                    top: 390px;
                    opacity: 0;
                    -webkit-opacity: 0;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    transition-delay: 1s;

                    img{
                        position: absolute;
                        left: 0;
                        top:0;
                        opacity: 0;
                        -webkit-opacity: 0;
                        transition: all 0.5s;
                        -webkit-transition: all 0.5s;
                        &.on{
                            opacity: 1;
                            -webkit-opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .products_collection{
        width: 100%;
        height: 953px;
        position: relative;
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left:-990px;
        }
        h4{
            font: 52px/50px 'DINWebPro-CondBold';
            text-align: center;
            color: #fff;
            padding: 80px 0 0;
            position: relative;
            text-transform: uppercase;
            span{
                text-transform: uppercase;
                font:52px/50px 'DINWebPro-CondLight';
            }
        }
        .wide-slider-wrapper{
            position: relative;
            top:100px;
            margin-top: 50px;
            width: 100%;
            height:640px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            background: none;
            @include prefix-css3(opacity, 0);

            @include prefix-css3(transition ,all 0.4s ease-in 0.3s);

            .arrow{
                position: absolute;
                top:50%;
                left:50%;
                width: 26px;
                height: 26px;
                z-index: 2;
                // background: url('http://image.reebok.co.kr/images/reebok/event/about/clubc/170921/arrow_btn_black.png');
            }
            .arrow-prev{
                margin-left: -506px;
                background: url('/images/reebok/event/about/complete/180329/btn-prev.png') 0 0 no-repeat;

                // background-position: 0 0;
            }
            .arrow-next{
                margin-left: 506px;
                background: url('/images/reebok/event/about/complete/180329/btn-next.png') 0 0 no-repeat;
                // background-position: 100% 0;

            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 550px;
                li{
                    width: 1024px;
                    position: relative;
                    float: left;
                    @include opacity(0.4);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                    text-align: center;
                    &.thumbAdd{
                        .thumb{
                            top: 40px;

                            img{
                                @include opacity(1);
                            }
                        }
                    }
                    img{
                        display: inline-block;
                    }

                    .thumb{
                        position: absolute;
                        top: 50px;
                        height: 200px;
                        right: 107px;
                        @include prefix-css3(transition ,all 0.3s ease-in 0.6s);

                        &.left{
                            right: 552px;
                        }
                        img{
                            @include prefix-css3(transition ,opacity 0.3s ease-in 0.6s);
                            @include opacity(0);
                        }
                    }
                }
                li.active{
                    @include opacity(1);
                }
            }
        }
        .slider-btn{
            width: 100%;
            position: relative;
            padding: 36px 0;
            text-align: center;
            a{
                display: inline-block;
                width: 12px;
                height: 10px;
                padding-top: 2px;
                text-align: center;
                margin-right: 5px;
                background: rgba(255,255,255,0.4);
                border-radius: 50px;
                -webkit-border-radius: 50px;
                color: #fff;
                &.on{
                    background: #ff7f89;
                }
            }
        }
    }

}
/* campaign_clubc_90_v2 end */
