@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
.campaign_spartan_race{

    .main{
        position: relative;
        .bg{
            img{
                position: absolute;
                top:0;
                left:50%;
                margin-left: -990px;
            }
        }
        .content{
            position: relative;
            width: 889px;
            height: 650px;
            margin:0 auto;
            .txt{
                position: absolute;
                top:175px;
                left: 0;
            }
            .bt_box{
                a.men_bt{
                    position: absolute;
                    top:380px;
                    left: 0;
                    width: 230px;
                    height: 60px;
                    text-align: center;
                    background:url('http://image.reebok.co.kr/images/reebok/event/about/spartan_race/bt01.png?v=2') no-repeat;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    @include prefix-css3(transition,all 0.4s);

                    &:hover{
                        background:url('http://image.reebok.co.kr/images/reebok/event/about/spartan_race/bt01_ov.png?v=2') no-repeat;
                    }
                }
                a.women_bt{
                    position: absolute;
                    top:450px;
                    left: 0;
                    width: 230px;
                    height: 60px;
                    text-align: center;
                    background:url('http://image.reebok.co.kr/images/reebok/event/about/spartan_race/bt02.png?v=2') no-repeat;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    @include prefix-css3(transition,all 0.4s);

                    &:hover{
                        background:url('http://image.reebok.co.kr/images/reebok/event/about/spartan_race/bt02_ov.png?v=2') no-repeat;
                    }
                }
            }
        }
    }

    .box01{
        position: relative;
        height: 497px;
        img{
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -990px;
        }
    }

    .box02{
        position: relative;
        height: 375px;
        .bg{
            img{
                position: absolute;
                top:0;
                left:50%;
                margin-left: -990px;
            }
        }
        .bt_box{
            a.men_bt{
                position: absolute;
                top:220px;
                left: 50%;
                margin-left: -240px;
                width: 230px;
                height: 60px;
                text-align: center;
                background:url('http://image.reebok.co.kr/images/reebok/event/about/spartan_race/bt03.png?v=2') no-repeat;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                @include prefix-css3(transition,all 0.4s);

                &:hover{
                    background:url('http://image.reebok.co.kr/images/reebok/event/about/spartan_race/bt03_ov.png?v=2') no-repeat;
                }
            }
            a.women_bt{
                position: absolute;
                top:220px;
                left: 50%;
                margin-left: 0;
                width: 230px;
                height: 60px;
                text-align: center;
                background:url('http://image.reebok.co.kr/images/reebok/event/about/spartan_race/bt04.png?v=2') no-repeat;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                @include prefix-css3(transition,all 0.4s);

                &:hover{
                    background:url('http://image.reebok.co.kr/images/reebok/event/about/spartan_race/bt04_ov.png?v=2') no-repeat;
                }
            }
        }

    }

    .box03{
        position: relative;
        height: 455px;
        margin:30px 0;
        img{
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -615px;
        }
    }

}
/* spartan_race end */
