<div class="iframe-wrapper">
    <iframe data-youtube-player id="video-dialog-yplayer" data-video-name="{{videoName}}" ng-src="{{getIframeSrc(videoId, 1)}}" frameborder="0" allowfullscreen></iframe>
    <!-- <section class="module nopadding video-share">
        <div class="container">
            <div class="row">
                <div class="hidden-xs col-sm-4 col-sm-offset-4">
                    <div class="bg-black text-center padding5 addthis_toolbox">
                        <a href="#" class="addthis_button_facebook">
                            <span class="icon icon-35 icon-svg-facebook-c"></span>
                        </a>
                        <a href="#" class="addthis_button_twitter" title="Twitter">
                            <span class="icon icon-35 icon-svg-twitter-c"></span>
                        </a>
                        <a href="#" class="addthis_button_google_plusone_share">
                            <span class="icon icon-35 icon-svg-google-plus-c"></span>
                        </a>
                        <a href="#" class="addthis_button_email">
                            <span class="icon icon-35 icon-svg-email-c"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
</div>