@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';
#container_r{
	overflow: hidden;
	min-width: 1190px;	
}
/* zne_170918 */
#zne_171222{
	width: 100%;
	position: relative;
	overflow: hidden;
	min-width: 1190px;
	.eventScroll{
		opacity: 0;
		transition: all 0.5s;
		&.effect{
			opacity: 1;
		}
	}
	.button{
		display: inline-block;
		width: 280px;
		@media (max-width: 1190px){
			margin-bottom: 10px;
		}
		&:hover{
			a{
				background: rgba(0,0,0,1) !important;
				span{
					color:#fff !important;
				}
			}
		}
		a{
			height: 60px;
			span{
				font: 500 17px/60px 'NotoSansKR';

				strong{
					font: 17px 'adinenuPro-bold';
				}
			}
		}
	}
	.main{
		position: relative;
		top:-100px;
		height: 900px;
		overflow: hidden;
		.bg{
			position: absolute;
			left: 50%;
			margin-left: -960px;
			video{
				// width: 100%;
			}
		}
		.inn{
			text-align: center;
		    padding: 700px 0 0 0;
		    margin-left: 620px;
			@media (max-width: 1190px){
				padding: 650px 0 0 0;
			}
			.button{
				margin-right: 30px;
				a{
					background: rgba(0,0,0,0.8);
				}
			}
		}
	}

	.content{
		.title{
			padding: 110px 0 100px 0;
			p{
				text-transform: uppercase;
				color:#000;
				letter-spacing: -0.5px;
				text-align: center;
				font: 600 28px 'NotoSansKR';
				&.eng{
					font:58px/58px 'adinenuPro-black';
				}
			}
		}
		.box{
			position: relative;
			text-align: center;
			&.box1{
				height: 800px;
				text-align: center;
				.txt{
    				margin: 180px 0 0 -206px;
					p{
						&.title{
							padding: 0 0 15px 0;
						}
					}
					.button{
						margin: 35px 0 0 0;
					}
				}
			}
			&.box2{
				margin-top: 70px;
				height: 715px;
				.video{
					margin-left: 400px;

					video{
    					margin-top: 46px;
					}
				}
				.inn{
				    top: 151px;
					height: 662px;
					.txt{
						position: absolute;
						top:0;
						z-index: 2;
						.line{
							margin-left: 40px;
						}
						p{
							&.eng{
								padding: 60px 0 0 0;
								margin-left: 135px;
							}
							&.tle{

							}
						}
					}
				}
			}
			&.box3{
				.video{
					margin-right: 600px;
					width: 620px;
					height: 620px;
					padding: 46px 0 0 0;
					.img{
						left:-40px;
					}
				}
				.inn{
					padding: 100px 0 0 140px;
					text-align: center;
					.txt{
						p{
							padding-left: 150px;
							&.eng{
								padding-top: 30px;
								padding-left: 200px;
							}
							&.tle{
								padding: 0 0 12px 150px;
							}
						}
					}

				}
			}
			&.box4{
				.video{
					width: 700px;
					height: 700px;
				}
				.img{
					top:15% !important;
				}
			}
			&.box5{
			    margin-top: 70px;
				.video{
				    margin-right: 820px;
					width: 820px;
					padding: 80px 0 0 0;
					.img{
						left: 167px;
						top: 37px;
					}
				}
				.inn{
			        padding: 144px 0 0 200px;
				}
			}
			.bg{
				position: absolute;
				left:50%;
				margin-left: -960px;
			}
			.txt{
				position: relative;
				display: inline-block;
				p{
					color:#000;
					font:19px/25px 'NotoSansKR';
					letter-spacing: -0.5px;
					strong{
						padding: 0 0 20px 0;
					    font: 44px/46px 'adinenuPro-black';
						text-transform: uppercase;

					}
				}
			}
			.video{
				position: relative;
				display: inline-block;
				width: 734px;
				height: 524px;
				video{
					position: relative;
					z-index: 1;
					width: 100%;
				}
				.img{
					position: absolute;
					top:0;
					left:50%;

				}
			}
			.inn{
				position: absolute;
			    width: 1190px;
			    margin: 0 auto;
			    left: 50%;
			    margin-left: -545px;
			    top: 0;
				z-index: 1;
				.txt{
					.line{
						display: inline-block;
						width: 450px;
						height: 4px;
						background: #000;
					}
					p{
						text-transform: uppercase;
						font:400 17px/19px 'NotoSansKR';
						&.tle{
							padding: 0 0 12px 0;
							font:600 30px 'NotoSansKR';
						}
						&.eng{
							font:100px/100px 'adihausDIN-Cond-bold';
						}
					}
				}
			}
		}
		.bottom{
			position: relative;
			height: 720px;
			margin: 100px 0 0 0;
			&:after{
				position: absolute;
				top:0;
				left:50%;
				content: '';
				display: block;
				width: 4px;
				height: 100px;
				background: #fff;
			}
			.bg{
				position: absolute;
				left:50%;
				margin-left: -960px;
			}
			.txt{
				width: 100%;
				position: absolute;
				top:50%;
				left:50%;
				transform: translate(-50%,-50%);
				z-index: 1;
				text-align: center;
				p{
					text-align: center;
					color:#fff;
					font:300 24px 'NotoSansKR';
					letter-spacing: -0.7px;
					&.tle{
						padding: 0 0 35px 0;
						font:100px/87px 'adihausDIN-Cond-bold';
					}
				}
				.button{
					margin: 32px 0 0 0;
					a{
						background: #d3d3d3;
						span{
							color:#000;
							span{
								display:inline-block;
							    width: 14px;
							    height: 14px;
							    background: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_black_14x14.png');

							}
						}
					}
				}
			}
		}
	}

}
