@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

#wrap{
	min-width: 1190px;
	overflow: hidden;
}
.miadidas_contents{
	position: relative;
	height: 800px;
	a{
		position: absolute;
		z-index: 2;
		top:520px;
		left:50%;
		width: 214px;
		height: 52px;
		display: inline-block;
		margin-left: -107px;
	}
	.bg{
		position: absolute;
		top:0;
		left:50%;
		margin-left: -960px;
	}
}
