@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';


/* ultra_boost */
.ecomzone{
	overflow: hidden;
	background: #fff;
	.inner_wrap{
		width: 1080px;
		margin: 0 auto;
		overflow: hidden;
		ul.tabs {
			width: 100%;
            list-style: none;
        }
        ul.tabs li {
			position: relative;
			width: 33%;
            background: none;
			font:500 25px/25px 'adinenuPro-black';
            color: #aaa;
            display: inline-block;
            padding: 20px 0 0;
            cursor: pointer;
			text-align: center;
			box-sizing: border-box;
			span{
				display: none;
				position: absolute;
				top: 55px;
				left: 50%;
				margin-left: -8px;
				text-align: center;
			}
        }
        ul.tabs li.on {
            color: #222;
			span{
				display: block;
			}
        }
        .tab-content {
            display: none;
        }
        .tab-content.on {
            display: inherit;
        }
		.img{
			position: absolute;
			overflow: hidden;
			>div{
				position: relative;
				.mm{
					position: absolute;
				}
			}
		}
		.main_banner{
			overflow: hidden;
			margin: 50px 0;
			.inner{
				position: relative;
				img{
					width: 100%;
				}
				.main_txt{
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: -42px;
					margin-left: -198px;
					h1{
						font: 64px/64px 'adinenuPro-bold';
						color: #fff;
						text-align: center;
					}
					p{
						font: 21px/21px 'NotoSansKR';
						color: #fff;
						text-align: center;
					}
				}
			}
		}
		.prd_wrap{

			.prds{
				overflow: hidden;
				position: relative;
				width: 100%;
				height: auto;
				margin-bottom: 20px;
				padding: 0 100px;
				text-align: center;
				transition: 0.6s ease-in;
				box-sizing: border-box;
				&.on{
					padding: 0;
					z-index: 10;
				}
				ul{
					padding-left: 0.5%;
					li{
						position: relative;
						float:left;
						margin: 0 1%;
						text-align: center;
						width:31%;
						background: #fff;
						transition: 0.6s ease-in;
						cursor: pointer;
						.prd_img{
							img{width: 100%;}
						}
						.prd_txt{
							padding: 10px;
							.prd_name{
								font: 500 18px/18px 'NotoSansKR';
								color : #222;
								text-align: center;
							}
							.prd_price{
								padding-top: 8px;
								font: 18px/18px 'NotoSansKR';
								color : #444;
								text-align: center;
								span{
									font-weight: bold;
								}
							}
							.prd_discount{
								padding-top: 8px;
								font: 18px/18px 'NotoSansKR';
								color : red;
								text-align: center;
								em{
									text-decoration:line-through;
									color:#444;
								}
								span{
									padding-left: 10px;
								}
							}
						}
					}
				}
			}
		}
		.banner_bot{
			overflow: hidden;
			width: 100%;
			p{
				font: 20px/20px 'NotoSansKR';
				color: #666;
				text-align: center;
			}
			.banner_bot_box{
				overflow: hidden;
				margin: 15px 0 0;
				padding: 25px 0;
				background: #444;
				color : #fff;
				text-align: center;
				img{

				}
				p{
					padding: 20px 0 10px;
					font: 24px/24px 'adinenuPro-bold', 'NotoSansKR';
					color : #fff;
					text-align: center;
				}
				span{
					display: block;
					font: 22px/22px 'adinenuPro-bold';
					text-align: center;
				}
			}
		}
	}
}
