@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#chaos {
	position: relative;



	.main{
		position: relative;
		height: 1025px;
		background-color: #000;
		>.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
	}
	.video{
		position: relative;
		height: 675px;
		background-color: #000;
		#video{
			position: absolute;
			height: 675px;
			top: 0;
			left: 50%;
			margin-left: -600px;
		}
	}
	.count{
		position: relative;
		height: 1742px;
		background-color: #000;
		.counter{
			.num{
				width: 100px;
				height: 120px;
				text-align: center;
				color:#1dff00;
				font:120px 'adihausDIN-Cond-bold';
				z-index: 99;
			}
			.num1{
				position: absolute;
				top:1110px;
				left:50%;
				margin-left: -500px;
			}
			.num2{
				position: absolute;
				top:1110px;
				left:50%;
				margin-left: -200px;
			}
			.num3{
				position: absolute;
				top:1110px;
				left:50%;
				margin-left: 100px;
			}
			.num4{
				position: absolute;
				top:1110px;
				left:50%;
				margin-left: 400px;
			}
		}
		>.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
	}
	.bottom{
		position: relative;
		height: 1270px;
		background-color: #000;
		>.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
	}
}
