@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

#wrap{
	min-width: 1190px;
	overflow: hidden;
}

#homeofclassic_cp{
	position: relative;
	background:#fff;
	// common
	.button_area_v2{
		display: inline-block;
		// padding-left: 15px;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			width: initial;
			font: 700 15px/50px 'NotoSansKR';
			letter-spacing: .5px;
			padding: 0px 21px;
			height: 50px;
			strong{
				margin-right: 8px;
				font:17px 'adinenuPro-bold';
			}
		}
	}

	.main_visual{
		position: relative;
		background: #d1c5b7;

		// height:937px;
		video{
			width:100%;
		}
		img{
			position: relative;
			top: -1px;
			width:100%;
		}
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
	}

	.statement{
		padding:65px 0;
		background: #d1c5b7;
		text-align: center;

		h2{
			padding:0 0 8px 0;
			text-align: center;
			font:31px/30px 'adinenuPro-bold';
			text-transform: uppercase;
			color:#fff;
			letter-spacing: 2px;
		}
		p{
			font:300 18px/29px 'NotoSansKR';
			text-align: center;
			color:#fff;
		}
		.button_area_v2{
			margin: 30px 0 0 0;
		}
	}

	.image-grid .col > div{
		perspective: inherit !important;
	}
	.image-grids .fix{
		perspective: inherit !important;
	}

	.collection{
		position: relative;
		&.on{
			.tle{
				bottom:22px;
				@include css3(opacity,1);

			}
		}
		// opacity: 0;
		// -webkit-opacity: 0;
		// transition: all 1.5s;
		// -webkit-transition: all 1.5s;
		position: relative;
		background: #d1c5b7;
		.content_inner{
			text-align: center;
			vertical-align: middle;
			.wrap{
				position: relative;
				height: 100%;
				.button_area_v2{
					position: absolute;
					top:50%;
					left:50%;
					transform: translate(-50%,-50%);
				}
			}
			.desc{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 100%;
				text-align: center;
				h3{
					padding: 0 0 8px 0;
					text-align: center;
					font: 31px/30px 'adinenuPro-bold';
					text-transform: uppercase;
					color: #fff;
					letter-spacing: 2px;
				}
				p{
					font: 300 18px/29px 'NotoSansKR';
					text-align: center;
					color: #fff;
				}
				.button_area_v2{
					margin: 30px 0 0 0;
				}
			}
		}
		.tle{
			position: absolute;
			bottom: 0px;
			left:22px;
			font: 22px 'adinenuPro-bold';
			color:#fff;
			text-transform: uppercase;
			letter-spacing: 0.7px;
			@include css3(opacity,0);
			@include css3(transition,all 0.5s);
			span{
				position: absolute;
				bottom: 4px;
				left:0;
				display: inline-block;
				width:100%;
				height: 1px;
				background: #fff;
			}
		}
	}


}