@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding:0;}
.campaign_2l{
    .visual_video{
        background: #fff;
        .bg{
            @include opacity(0);
            @include prefix-css3(transition,opacity 1.3s);

            &.active{
                @include opacity(1);
            }
        }

        .video_bg{
            width: 100%;
            .ie &{
                video{
                    width:100%;
                    min-width: 1900px;
                    height: 650px;
                }
            }
        }

        .masthead{

            @include opacity(0);
            @include prefix-css3(transition,opacity 0.6s ease 1.5s);

            &.active{
                @include opacity(1);
                h2{
                    width: 375px;
                    height: 271px;
                    background: url("http://image.reebok.co.kr/images/reebok/event/about/nada/text-video.png") no-repeat !important;
                    margin:0 auto 25px;
                    text-indent:-5555px;
                }
                .desc_eng{
                    color:#fff;
                }
            }
        }
    }

    .about_passion{
        .box{
            width: 100%;
            position: relative;
            padding: 120px 0 75px 0;
            background: #202020;
            background: url("http://image.reebok.co.kr/images/reebok/event/about/2l/bg.jpg") no-repeat;
            background-size: 100% 100%;
            height: auto;


            h3{
                padding-bottom: 30px;
                color: #FFF;
                font:90px/80px 'QStencil';
                span{

                }
            }

            .desc{
                top: 190px;
                color: #bababa;
                text-align: left;
                font:19px/27px 'NotoSansKRRegular','Nanum Gothic';
            }

            .inner-buybtn{
                display: inline-block;
                margin:30px 0 0 0;
                padding:0 75px;
                vertical-align: middle;
                font:22px/60px 'NotoSansKRRegular','Nanum Gothic';
                border:1px solid #fff;
                color:#fff;
            }


            .slider_wrap{
                position: relative;
                margin-left: -20px;
                margin-top: 60px;
                height: 700px;
                .slider_innder{
                    width: 870px;
                    .img{
                        float: left;
                        position: absolute;
                        top:0;
                        left:-33px;
                        z-index: 20;
                        width: 502px;
                    }
                    ul.slider{
                        position: relative;
                        width: 300px;
                        height: 700px;
                        float: right;
                        z-index:20;
                        li{
                            // width: 844px;
                            height: 700px;
                            position: absolute;
                            top:0;
                            right:37px;
                            display: none;

                            .info{
                                float: left;
                                margin-top: 178px;
                                // margin-left: 35px;
                                width: 320px;
                                .info_img{
                                    margin-bottom: 35px;
                                    text-align: center;
                                }
                                .info_tit{
                                    position: absolute;
                                    top:393px;
                                    p{
                                        width: 320px;
                                        font:22px/60px 'NotoSansKRRegular','Nanum Gothic';
                                        color:#fff;
                                        border-bottom: 2px solid #fff;
                                        margin-bottom: 20px;
                                        span{
                                            background: #000;
                                            width: 29px;
                                            height: 29px;
                                            display: inline-block;
                                            font:17px/33px 'DINWebPro-CondBold','Nanum Gothic';
                                            text-align: center;
                                            text-transform: uppercase;

                                        }
                                    }
                                    .sub_tit{
                                        font:14.5px/18px 'NotoSansKRRegular','Nanum Gothic';
                                        color:#bcbcbc;
                                        letter-spacing: -0.5px;
                                    }
                                    a{
                                        display: block;
                                        padding-top: 15px;
                                        font:14px/18px 'NotoSansKRRegular','Nanum Gothic';
                                        color:#6f6f6f;
                                    }
                                    .buy{
                                        display: block;
                                        padding-top: 15px;
                                        font:14px/18px 'NotoSansKRRegular','Nanum Gothic';
                                        color:#fe584a;

                                        em{
                                            display: inline-block;
                                            margin-left:9px;
                                            width: 16px;
                                            height:16px;
                                            vertical-align: middle;
                                            background: url('http://image.reebok.co.kr/images/reebok/event/about/2l/icons.png') 0 -1px no-repeat;
                                        }
                                    }
                                }
                            }
                        }

                    }
                    .num{
                        position: relative;
                        z-index: 21;
                        a{
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            line-height: 30px;
                            background: #000;
                            color:#fff;
                            font:17px/33px 'DINWebPro-CondBold','Nanum Gothic';
                            @include opacity(0.8);

                            &.num1{
                                position: absolute;
                                top:155px;
                                left:130px;
                            }
                            &.num2{
                                position: absolute;
                                top:447px;
                                left:324px;
                            }
                            &.num3{
                                position: absolute;
                                top:218px;
                                left:566px;
                            }
                            &.num4{
                                position: absolute;
                                top:443px;
                                left:766px;
                            }
                            &.num5{
                                position: absolute;
                                top:224px;
                                left:270px;
                            }
                            &.num6{
                                position: absolute;
                                top:379px;
                                left:-18px;
                            }
                            &.num7{
                                position: absolute;
                                top:233px;
                                left:757px;
                            }
                            &.num8{
                                position: absolute;
                                top:511px;
                                left:786px;
                            }
                            &.num9{
                                position: absolute;
                                top:179px;
                                left:101px;
                            }
                            &.num10{
                                position: absolute;
                                top:274px;
                                left:223px;
                            }
                            &.num11{
                                position: absolute;
                                top:451px;
                                left:283px;
                            }
                            &.no_active{
                                @include opacity(0.3);
                                cursor: default;
                                pointer-events: none;
                            }

                        }
                        a.on{
                            background: #b91c23;
                            @include opacity(0.8);
                        }

                    }
                }
                .slider_bg{
                    position: absolute;
                    z-index: 10;
                    top:41px;
                    left:49px;
                    width: 822px;
                    height: 680px;
                    background: #fff;
                    @include opacity (0.1);
                }
                &.type2{
                    display: block;
                    .slider_bg{
                        left:0;
                    }
                    .slider_innder{
                        .img{
                            left:430px;
                        }
                        .slider{
                            float:left;
                            li{
                                right:-79px;
                            }
                        }
                    }
                }
                &.type3{
                    display: block;
                    .slider_bg{
                        // left:0;
                    }
                    .slider_innder{
                        .img{
                            // left:430px;
                        }
                        .slider{
                            float:right;
                            li{
                                // right:-67px;
                            }
                        }
                    }
                }
                &.type4{
                    display: block;
                    .slider_bg{
                        left:0;
                    }
                    .slider_innder{
                        .img{
                            left:430px;
                        }
                        .slider{
                            float:left;
                            li{
                                right:-79px;
                            }
                            li:first-child{
                                .info{
                                    margin-top: 118px;
                                }
                            }
                        }
                    }
                }
            }

            .textbg_bg1{
                position:absolute;
                top:238px;
                right:-39%;
                font:166px 'DINWebPro-CondMedium';
                color:#fff;
                @include opacity (0.1);
            }
            .textbg_bg2{
                position:absolute;
                top:863px;
                left:-58%;
                font:196px 'DINWebPro-CondMedium';
                color:#fff;
                @include opacity (0.1);
            }
            .textbg_bg3{
                position:absolute;
                top:3226px;
                left:-47%;
                font:196px 'DINWebPro-CondMedium';
                color:#fff;
                @include opacity (0.1);
            }
            .bg_ban1{
                position: absolute;
                top:0;
                right:-57%;
            }
            .bg_ban2{
                position: absolute;
                top:371px;
                left:-57%;
            }
            .bg_ban3{
                position: absolute;
                top:1051px;
                right:-50%;
            }
            .bg_ban4{
                position: absolute;
                top:1612px;
                left:-57%;
                z-index: 1;
            }
            .bg_ban4_bg{
                position: absolute;
                width: 324px;
                height: 422px;
                top:1632px;
                left:-55%;
                background: #b81c25;

                mix-blend-mode:overlay;
                @include opacity(0.5);
                opacity: 0.5;
                -ms-filter:alpha(opacity=0.3);
            }


            .bg_ban5{
                position: absolute;
                top:2357px;
                right:-57%;
                z-index: 1;
            }
            .bg_ban5_bg{
                position: absolute;
                width: 360px;
                height: 473px;
                top:2337px;
                right:-57%;
                background: #1e70b0;

                mix-blend-mode:overlay;
                @include opacity(0.5);
                opacity: 0.5;
                -ms-filter:alpha(opacity=0.3);
            }
        }


    }

    .banner_area{
        position: relative;
        height: 484px;
        .bg{
            position: absolute;
            top:0;
            left:50%;
            margin-left: -990px;
        }
        .inner{
            padding-top: 50px;
            text-align: center;
        }

    }
}
/* 2l Campaign end */
