@import "./app/css/adidas/scss/common/mixin.scss";
@import "./app/css/adidas/scss/common/common.scss";

html.no_scroll {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}


#climachill{
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
  min-width: 1024px;
  .button {
    position: relative;
    display: block;
    height: 53px;
    border: 1px solid #fff;
    background: #000;
    span {
      position: relative;
      z-index: 1;
      display: block;
      height: 53px;
      font:300 14px/53px 'NotoSansKR','Nanum Gothic';
      text-align: center;
      color: #fff;
      text-transform: uppercase;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      z-index: 0;
      background: #fff;
      transition: height 0.3s;
      -webkit-transition: height 0.3s;
    }

    &:hover span {
      color: #000;
      font:500 14px/53px 'NotoSansKR','Nanum Gothic';
    }
    &:hover::after{
        content: '';
        height: 100%;
        transition: height 0.3s;
        -webkit-transition: height 0.3s;
    }

    &:hover .spt_bg{
        background: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_black_14x14.png');
    }

    .spt_bg{
        display:inline-block;
        width: 14px;
        height: 14px;
        background: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_white_14x14.png');
        top: 2px;
        margin-left: 5px;
    }

  }
}

#climachill{
    .visual{
        position: relative;
        overflow: hidden;
        height: 600px;
        img{
            position: absolute;
            left: 50%;
            top:0;
            margin-left: -952px;
        }
    }
    .cont1{
        position: relative;
        overflow: hidden;
        width: 950px;
        margin: 0 auto;
        .txt_box1{
            padding-top: 60px;
            text-align: left;
            h3{
                font:82px 'adihausDIN-Cond-bold';
                color:#000;
            }
            p{
                font:400 24px/36px 'NotoSansKR';
                color:#000;
            }
        }
        .txt_box2{
            padding: 60px 0;
            .left{
                float: left;
            }
            .right{
                float: right;
                text-align: left;
                position: relative;
                margin-right: 30px;
                h4{
                    font:26px/30px 'adihaus-bold';
                    color: #000;
                }
                p{
                    padding: 20px 0 0;
                    font:400 20px/32px 'NotoSansKR';
                    color: #000;
                }
                img{
                    position: absolute;
                    width: 446px;
                    height: 87px;
                    bottom: -140px;
                    left: -30px;
                }
            }
        }
        .txt_box3{
            text-align: left;
            h4{
                font:26px/30px 'adihaus-bold';
                color: #000;
            }
            p{
                padding: 20px 0;
                font:400 20px/32px 'NotoSansKR';
                color: #000;
            }
        }
    }

    .cont2{
        position: relative;
        overflow: hidden;
        .img_box1{
            position: relative;
            overflow: hidden;
            height: 799px;
            margin-bottom: 75px;
            img{
                position: absolute;
                left: 50%;
                top:0;
                margin-left: -952px;
            }

        }
        .txt_box1{
            width: 950px;
            margin: 30px auto;
            text-align: left;
            h4{
                font:26px/30px 'adihaus-bold';
                color: #000;
            }
            p{
                padding: 20px 0;
                font:400 20px/32px 'NotoSansKR';
                color: #000;
            }
        }
        .img_box2{
            position: relative;
            overflow: hidden;
            height: 541px;
            img{
                position: absolute;
                left: 50%;
                top:0;
                margin-left: -475px;
            }
        }

        .txt_box2{
            width: 950px;
            margin: 30px auto 50px;
    		text-align: left;
    		position: relative;
    		h3{
    			font: 25px/40px 'adihaus';
    			color: #000;
    			letter-spacing: -0.7px;
    			position: relative;
    			&::after{
    				content: '';
    			    width: 177px;;
    			    height: 1px;
    			    display: block;
    			    position: absolute;
    			    bottom: 3px;
    			    left: 0;
    			    background-color: #000;
    			}
    		}
    		ul{
    			padding-top: 20px;
    			li{
    				font:400 18px/33px 'NotoSansKR';
    				color:#000;
    			}
    		}
    	}

        .txt_box3{
            width: 950px;
            margin: 30px auto;
    		text-align: left;
    		position: relative;
    		h3{
    			font: 25px/40px 'adihaus';
    			color: #000;
    			letter-spacing: -0.7px;
    			position: relative;
    			&::after{
    				content: '';
    			    width: 200px;;
    			    height: 1px;
    			    display: block;
    			    position: absolute;
    			    bottom: 3px;
    			    left: 0;
    			    background-color: #000;
    			}
    		}
    		ul{
    			padding-top: 20px;
    			li{
    				font:400 18px/30px 'NotoSansKR';
    				color:#000;
    			}
    		}
    	}
        a.btn-ctm{
            width: 459px;
            height: 74px;
            margin: 20px auto;
            border: 2px solid #000;
            span{
                font: 500 16px/74px 'NotoSansKR','Nanum Gothic';
            }

        }
    }
    .bottom{
		position: relative;
		overflow: hidden;
        h3{
            font:48px 'adinenuPro-black';
            text-align: center;
            color:#000;
            margin: 80px 0 50px;
        }
        .banner_area {
    		margin: 0 auto 100px;
            width: 1200px;
    		ul{
    			overflow: hidden;
    			li{
    				float: left;
    				width: 22.5%;
    				height: 425px;
    				position: relative;
    				background-color: #f6f6ea;
    				overflow: hidden;
    				margin: 0 1%;
    				transition: all 1s;
    				-webkit-transition: all 1s;

    				&:hover{
    					background-color: #000;
    				}
    				img{
    					width: 100%;
    					transition: transform 4s,opacity 1s;
    					-webkit-transition: -webkit-transform 4s,-webkit-opacity 1s;

    					&:hover{
    						transform: scale(1.1);
    					    -webkit-transform: scale(1.1);
    						opacity: 0.8;
    					}
    				}
    				h3{
    					display: block;
    					width: 100%;
    					position: absolute;
    					bottom: 120px;
    					font: 25px/26px "adinenuPro-black";
    					background: none;
    					color: #fff;
    					text-transform: uppercase;
    					text-align: center;
    					z-index: 5;
    				}
                    p{
                        display: block;
    					width: 100%;
    					position: absolute;
    					bottom: 95px;
    					font:400 16px/22px "NotoSansKR";
    					background: none;
    					color: #fff;
    					letter-spacing: -0.8px;
    					text-align: center;
    					z-index: 4;
                    }
    				a{
    					width: 140px;
    					background-color: rgba(255, 255, 255, 0.8);
    				    position: absolute;
    				    bottom: 6%;
    				    left: 50%;
    				    margin-left: -70px;
    				    padding: 0 10px 0 0;
    					transition: all 0.5s;
    				    -webkit-transition: all 0.5s;
    					z-index: 3;
    					span{
    						color:#000;
    						&.spt_bg{
    							width: 14px;
    							background: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_black_14x14.png');
    							transition: none;
    							-webkit-transition: none;
    						}
    					}
    					&:hover{
    						background-color: rgba(0, 0, 0, 1.0);
    						span{
    							color:#fff;
    							&.spt_bg{
    							background: url('http://image.adidas.co.kr/images/adidas/common/icon_btn_white_14x14.png');
    							}
    						}
    					}
    				}
    			}
    		}
    	}
	}

}
