@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

//common
#footer{
	z-index: 0;
}
#membersweek{
	section{position: relative;};
	h2,h3,h4, p, span, em{
		color: #000000;
	}
	.btn_default{
		margin-top: 0;
	}
	@for $i from 1 through 2 {
		.bg0#{$i} {
			background: url("/images/adidas/2021/event/stansmith/bg01.jpg") no-repeat;
			// background: url('/images/adidas/2021/event/outerjacket/bg0#{$i}.jpg') no-repeat;
			background-position: top;
			background-size: 100% auto;
		}
	}
	// &.on{
	// 	.item{
	// 		@include css3(opacity,1);
	// 		top: 0;
	// 		@for $i from 2 through 7 {
	// 			&:nth-child(#{$i}){
	// 				@include css3(transition-delay,#{$i*0.15+s});
	// 			}
	// 		}
	// 	}
	// }
	@include after();
	.visual__container{
		.visual__figure{
			// @include center(0, auto, 50%, $ctX);
			img{
				width: 100%;
			}
		}
	}
	.visual-desc__container{
		text-align: center;
		padding: 80px 0 40px 0;
		h2,p{
			text-align: center;
		}
		h2{
			font: 65px/65px 'adihaus-bold';
			text-align: center;
		}
		p{
			font: 500 25px/32px $noto;
			margin: 20px 0 50px 0;
		}
	}
	.exclusive__container{
		height: 1303px;
		img{
			@include center(0, auto, 50%, $ctX);
		}
		.btn_default{
			&:nth-child(2){
				@include center(73%, auto, 50%, $ctY);
				margin-left: -523px;
			}
			&:nth-child(3){
				@include center(47%, auto, 50%, $ctY);
				margin-left: -7px;
			}
			&:nth-child(4){
				@include center(79%, auto, 50%, $ctY);
				margin-left: 262px;
			}
		}
	}
	.experience__container{
		padding: 40px 0 100px;
		text-align: center;
		white-space: nowrap;
		h3{
			font: 65px/70px 'adihaus-bold';
			margin: 30px 0 10px 0;
			text-align: center;
		}
		.experience__wrapper{
			width: 90%;
			margin: 0 auto;
			>img,>div{
				display: inline-block;
				vertical-align: middle;
			}
			>img{
				width: 60%;
			}
			>div{
				position: relative;
				top: 50px;
				width: auto;
				white-space: nowrap;
				text-align: center;
				margin-left: 40px;
				span,em,p{
					text-align: center;
					display: block;
				}
				span{
					font: 40px/40px 'adihaus-bold';
					em{
						display: inline-block;
						font: 700 40px/40px $noto;
					}
				}
				p{
					font: 700 30px/34px $noto;
					margin: 80px 0 90px 0;
					letter-spacing: 1px;
				}
				.btn_default{}
				@media screen and (max-width: 1500px) {
					span, em{
						font-size: 35px;
					}
					p{
						font-size: 25px;
						margin: 50px 0 70px 0;
					}
				}
			}
		}
	}
	.luckydraw__container{
		background: #000000;
		h4, h5, p, em{
			color: #fff;
			text-align: center;
		}
		>img{
			width: 100%;
			&:last-child{
				padding-bottom: 160px;
			}
		}
		.luckydraw__wrapper{
			width: 1010px;
			margin: 0 auto;
			padding: 70px 0;
			@include after();
			>h5{
				font: 65px/65px 'adihaus-bold';
				margin-bottom: 70px;
			}
			>div{
				position: relative;
				float: left;
				width: 44%;
				margin: 0 30px;
				text-align: center;
				>img{
					width: 100%;
				}
				.gifs{
					@include center(5%, auto, 50%, $ctX);
					width: 79%;
					img{
						width: 100%;
					}
				}
				h4{
					font: 38px/39px 'adihaus-bold';
					margin-top: 30px;
				}
				p{
					font: 25px/30px $noto;
					margin: 30px 0 20px 0;
					em{
						font: 25px/30px 'adihaus-bold';
					}
				}
			}
		}
	}
	.bottom__container{
		background: #88c9c3;
		padding: 80px 0 100px 0;
		span,em,p{
			display: block;
			text-align: center;
		}
		span{
			font: 700 50px/50px $noto;
		}
		em{
			font: 900 100px/100px $noto;
			margin: 20px 0 10px 0;
		}
		p{
			font: 700 41px/41px $noto;
		}
	}
}
