@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
.campaign_gigihadid{
    .visual_video{
        background: #000;
        .bg{
            @include opacity(0);
            @include prefix-css3(transition,opacity 1.3s);

            &.active{
                @include opacity(1);
            }
        }
        .masthead{
            h2{
            width: 315px;
            height: 271px;
            background: url('http://image.reebok.co.kr/images/reebok/event/about/gigi_hadid/text-video.png?v=0110');
            margin: 0 auto 25px;
            text-indent: -5555px;
            }
            .desc_eng{
                color:#fff;
            }
            .desc_eng2{
                font:23px/50px 'DINWebPro-CondMedium';
                color:#fff;
                margin:0;
            }
        }

        .video_bg{
            width: 100%;
            .ie &{
                video{
                    width:100%;
                    min-width: 1900px;
                    height: 650px;
                }
            }
        }
    }

    .about_passion{

        .box1{
            width: 100%;
            position: relative;
            padding-top: 120px;
            background: #252525;
            height: 901px;
            .inner{
                width: 889px;
                height: 100%;
            }

            h3{
                position: relative;
                margin-left:-47px;
                z-index: 2;
                color: #fff;
                font:90px/80px 'QStencil';
            }

            .desc{
                position: absolute;
                top: 303px;
                right: -170px;
                font:19px/27px 'NotoSansKRRegular','Nanum Gothic';
                color: #bbb;
                z-index: 1;
                letter-spacing: -1px;
                text-transform: uppercase;
            }

            .btn{
                position: absolute;
                bottom:339px;
                right: -35px;
                a{
                    box-sizing:border-box;
                    padding: 0 39px;
                    display: inline-block;
                    font:22px/60px 'NotoSansKRRegular','Nanum Gothic';
                    border:2px solid #d3d3d3;
                    color:#fff;
                }
            }

            .bg{
                position: absolute;
                top: 0;
                right: 50%;
                z-index: 0;
                margin-right: -960px;
            }

            .textbg{
                position: absolute;
                top: 513px;
                right: -461px;
                font:214px/167px 'DINWebPro-CondMedium';
                color: #353535;
                z-index: 0;
                letter-spacing: 0.5px;
                text-align: right;
            }

            .slider-wrapper{
                position: absolute;
                top: 210px;
                left: -168px;

                .slider-control{
                    margin-bottom: 25px;
                    margin-left: 154px;
                }

                .images-slider{
                    width: 817px;
                    height: 548px;
                    overflow: hidden;
                }
            }
        }
        // box1 end
        .txt_perspect{
            opacity: 0.2;
                position: absolute;
                top:0;
                left:0;
            }
        .box2{
            height: 900px;
            position: relative;

            .poster{
                position: absolute;
                top: 0;

                &.poster1{
                    left: 50%;
                    margin-left: -951px;
                }

                &.poster2{
                    right:50%;
                    margin-right: -980px;
                }
            }

            .who_is{
                width: 370px;
                height: 730px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -365px 0 0 -185px;
                background: #fff;

                .tit{
                    padding-top: 60px;
                    p{
                        font:28px/36px 'NotoSansKRLight','Nanum Gothic';
                        text-align: center;
                        color: #000;

                        strong{
                            font:54px/60px 'NotoSansKRBold','Nanum Gothic';
                            .ie7 & , .ie8 &{
                                font-weight: bold;
                            }
                        }
                    }

                    &:after{
                        display: block;
                        width: 30px;
                        height: 1px;
                        background: #000;
                        margin: 30px auto;
                        @extend .pseudo;
                    }

                    .ie7 & , .ie8 &{
                        margin-bottom: 40px;
                    }
                }

                .desc{
                    padding: 0 35px;
                    p{
                        margin-bottom: 15px;
                        letter-spacing:-0.75px;
                        color: #666;
                        font:15px/28px 'NotoSansKRRegular','Nanum Gothic';

                        .ie7 & , .ie8 &{
                            font-size:14px;
                            letter-spacing:-1px;
                        }
                    }
                }
            }
        }
        // box2 end
    }
    // about_passion end

    .products_collection{
        width: 100%;
        position: relative;
        background: #323232;

        .bg{
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -980px;
        }

        h4{
            position: relative;
            padding: 90px 0 45px;
            z-index: 1;
            font:55px/55px 'DINWebPro-Cond';
            text-align: center;
            color: #fff;
        }
        .wide-slider-wrapper{
            position: relative;
            width: 1920000px;
            height: 550px;
            left:50%;
            margin-left:-960px;
            z-index: 1;
            overflow: hidden;
            background: #000;

            .arrow-prev, .arrow-next{
                width: 22px;
                height: 42px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -420px;
                background-position: -125px -80px;
                z-index: 2;
            }

            .arrow-next{
                margin-left: 420px;
                background-position: -125px -125px;
            }

            ul{
                position: absolute;
                top: 0;
                // left: 0;
                // width: 100%;
                height: 550px;

                li{
                    // width: 765px;
                    // width: 100%;
                    position: relative;
                    float: left;
                    overflow: hidden;
                    @include opacity(0.4);
                    @include prefix-css3(transition,opacity 0.3s);

                    &.active{
                        @include opacity(1);
                    }

                }
            }
        }

        .prodlist_wrap{
            position: relative;
            height: 385px;
            background: #ebeaee;
            overflow: inherit;
            z-index: 2;
            border-bottom-width: 0;

            .arrow{
                width: 42px;
                height: 21px;
                position: absolute;
                left: 50%;
                top: -21px;
                margin-left: -21px;
                background-position: -140px 0;
            }

            .prodlist_box{
                width: 892px;
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -446px;
                display: none;
                // @include prefix-css3(transition,opacity 0.5s);

            }
            // .prodlist_box.active{
            // 	opacity: 1;
            // 	display: block;
            // }

            .slider-btn{
                width: 100%;
                position: absolute;
                left: 0;
                bottom: -50px;
                text-align: center;

                a{
                    margin: 0 4px;
                }
            }
        }
    }

    .banner_area{
        position: relative;
        height: 502px;
        .bg{
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -990px;
        }

        .bnn{
            width: 890px;
            padding-top: 75px;
            margin: 0 auto;
        }

        .button-anim{
            margin: 70px auto 0;
        }
    }
}
