@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#sleek_cp{
	position: relative;
	background: #fff;

	//common
	.button_area_v2{
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			width:148px;
			font: 700 14px/48px 'NotoSansKR';
			letter-spacing: 0;
		}
	}

	.main_visual{
		position: relative;
		height:870px;
		&.on{
			.ct1190{
				.imgs_wrap{
					img{
						top:0;
						@include css3(opacity,1);
						&.img1{
							top:65px;
						}
						&.img2{
							top:142px;
						}
						&.img3{
							top:270px;
							
						}
					}
				}
			}

		}
		.main_bg{
			position: absolute;
			top:0;
			left: 50%;
			margin-left: -960px;
		}
		.ct1190{
			position: relative;
			z-index: 1;
			h2{
				padding:340px 0 0 0;
			}
			p{
				padding:15px 0 28px;
				font:500 18px 'NotoSansKR';
				color:#000;
			}
			.imgs_wrap{

				img{
					position: absolute;
					top:65px;
					right:0;
					@include css3(opacity,0);
					@include css3(transition, all 0.5s);
					&.img1{
						right:75px;
						
					}
					&.img2{
						top:142px;
						right:537px;
						transition-delay: 0.2s;
					}
					&.img3{
						top:270px;
						right:-169px;
						transition-delay: 0.4s;
					}
				}
				
			}
		}

	}

	.statement_wrap{
		position: relative;
		height:230px;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.ct1190{
			padding:88px 0 0 0;
			p{
				font: 500 21px/29px 'NotoSansKR';
				color:#000;
				text-align:center;
			}
		}
	}

	.shoes_cuts_wrap{
		position: relative;
		height: 698px;
		background: #b8b8bf;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.ct1190{
			p{
				position: relative;
				padding:556px 0 0 0;
				color:#000;
				font: 500 18px/22px 'NotoSansKR';
				text-align:center;
				span{
					padding:0 5px;
					margin-left: 5px;
					display: inline-block;
					background: #000;
					font: 400 18px/22px 'NotoSansKR';
					color:#fff;
				}
			}
			img{
				position: absolute;
				top:0;
				left:50%;
				margin-left: -960px;
				@include css3(opacity,0);
				@include css3(transition,all 1s ease-in);
				&.on{
					@include css3(opacity,1);
				}
			}
		}
	}

	.collection_wrap{
		position: relative;
		padding-bottom: 73.4%;
		background: #000;
		&:after{
			content: '';
			display: inline-block;
			clear: both;
		}
		&.on{
			.sec{
				@include css3(opacity,1);

			}
		}
		&.bottom{
			padding-bottom: 24.5%;
			&.on{
				.sec{
					@include css3(opacity,1);

				}
			}
			.sec{
				&.sec6{
					transition-delay: 0.1s;
				}
				&.sec7{
					transition-delay: 0.3s;
				}
				&.sec8{
					transition-delay: 0.5s;
				}

			}

		}
		.sec{
			width:25%;
			float: left;

			@include css3(opacity,0);
			@include css3(transition, all 0.3s ease-in);
			&.col2{
				width:50%;
			}
			&.abs{
				position: absolute;
				bottom:0;
				left:0;
			}
			&.abs2{
				position: absolute;
				bottom:0;
				left:25%;
			}
			.grid{
				padding:0;
				margin:0;
				position: relative;
				overflow: hidden;
				img{
					width: 100%;
				}
			}
			&.sec2{
				transition-delay: 0.4s;
			}
			&.sec3{
				transition-delay: 0.6s;
			}
			&.sec4{
				transition-delay: 0.8s;
			}
			&.sec5{
				transition-delay: 0.2s;
			}
		}
	}

}
