@import "./front/css/reebok/scss/about.scss";

/* common */
#wrap{
    overflow: hidden;
    min-width: 1190px;
}
html,body{
	height:100%;
}

a{
	outline:none;
}

button{
	outline:none;
}

map{
	outline:none;
	border:0;
}

#contents_wrap{padding: 0;}

.button_area_v2 {
	>div {
		position: relative;
		display: inline-block;
		&:hover{
			a{
				color: #767677;
				background: #000;
				span{
					&.arrow{
						background: #767677;
						em{
							background: #767677;
						}
					}

				}
			}
		}
		.bg {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translate(3px,3px);
			-webkit-transform: translate(3px,3px);
			box-shadow: inset 0 0 0 1px #000;
			-webkit-box-shadow: inset 0 0 0 1px #000;
		}
		a {
			position: relative;
			display: block;
			text-align: center;
			height: 50px;
			font: 500 15px/49px 'NotoSansKR';
			color: #fff;
			background: #000;
			z-index: 2;
			padding:0 20px;
			span {
				&.arrow {
					position: relative;
					top: -1px;
					display: inline-block;
					margin-left: 20px;
					width: 25px;
					height: 2px;
					background: #fff;
					vertical-align: middle;
					em {
						position: absolute;
						right: 0;
						width: 8px;
						height: 3px;
						background: #fff;
						transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						&.top {
							top: -3px;
						}
						&.bottom {
							bottom: -3px;
							transform: rotate(-45deg);
							-webkit-transform: rotate(-45deg);
						}
					}
				}
			}
		}
		&.white {
			&:hover{
				a{
					color: #767677;
					background: #fff;
					span {
						&.arrow {
							background: #767677;
							em {
								background: #767677;
							}
						}
					}
				}
			}
			.bg {
				box-shadow: inset 0 0 0 1px #fff;
				-webkit-box-shadow: inset 0 0 0 1px #fff;
			}
			a {
				color: #000;
				background: #fff;
				span {
					&.arrow {
						background: #000;
						em {
							background: #000;
							
						}
					}
				}
			}
		}
	}

}

.clearfix{
	clear:both;
	content:'';
	display:block;
}

#oioi{
	width: 100%;
	min-width: 1190px;
	overflow: hidden;
	.section{
		position: relative;
		>img{
			display: block;
			width: 100%;
		}
		
	}
	.cont1_main{
		.cont1_txt{
			position:absolute;
			left:50%;
			top:43%;
			transform:translate(-50%,-50%);
			width:100%;
			text-align:center;
			margin-left:53.5%;
			h1{
				>img{
					width:29.3%;
					// width:73.7%;
				}
			}
			strong{
				display:block;
				text-align:left;
				padding:26px 0 50px 0;
				>img{
					width:37.7%;
				}
			}
			p{
				>img{
					width:45%;
				}
				padding-bottom:50px;
			}
		}
	}
	.cont2_slider{
		position:relative;
		.slider01_list{
			position:absolute;
			left:55%;
			top:30%;
			transform:translate(-50%,-50%);
			width:99.4%;
			text-align:center;
			.slider01_box{
				border: 8px solid #fff;
				width: 41.25%;
				box-sizing: border-box;
				padding: 40px 40px 30px 40px;
				// max-width: 780px;
				text-align:center;
				.slider01{
					// max-width:680px;
					overflow: hidden;
					// width:43%;
					width:100%;
					text-align:center;
					img{
						width:100%;
					}
				}
			}
		}
		.slider02_list{
			position:absolute;
			left:102%;
			top:0;
			transform:translateX(-50%);
			width:99.1%;
			padding-top: 9.8%;
			.slider02_box{
				border: 8px solid #fff;
				// width: 48%;
				box-sizing: border-box;
				width: 56%;
				padding: 40px 140px 30px 0;
				.slider02{
					max-width:832px;
					// width:43%;
					width:100%;
					margin-left:-40px;
					img{
						width:100%;
					}
				}
			}
			.button_area_v2{
				margin:70px 0 0 0;
			}
		}		
		.slick-arrow{
			font-size:0;
			border:0;
		}
		  .slick-prev{
			position:absolute;
			left: 2.5%;
			top: 45.5%;
			background: url('/images/reebok/2021/event/oioi/prev.png')no-repeat 50%;
			background-size:auto;
			width: 17px;
			height: 31px;
			z-index:1;
			outline:none;
		}					
		  .slick-next{
			position:absolute;
			right: 2.5%;
			top: 45.5%;
			background: url('/images/reebok/2021/event/oioi/next.png')no-repeat 50%;
			background-size:auto;
			width: 17px;
			height: 31px;
			z-index:1;
			outline:none;
		}			
		.slick-dots {
			padding:24px 0 0 0;
			text-align: center;
		}			
		.slick-dots li {
			display: inline-block;
			margin-right: 8px;
		}
		.slick-dots li button {
			width: 13px;
			height: 13px;
			background:none;
			border-radius:50%;
			border:1px solid #fff;
			padding: 0;
			text-indent: -9999px;
		}			
	
		.slick-dots li.slick-active button {
			background:#fff;
		}			
		.cont2_people{
			position:absolute;
			left:50%;
			top:73.5%;
			transform:translate(-50%,-50%);
			overflow: hidden;
			width:90%;
			ul{
				width:100%;
				max-width:1700px;
				margin:0 auto;				
				li{
					float:left;
					>img{
						width:100%;
					}
					margin-left:5.29411764706%;
				}
				.peo1{
					width:30.58823529412%;
					margin-left:0;
				}
				.peo2{
					width:25.47058823529%;
				}
				.peo3{
					width:33.35294117647%;
				}								
			}
		}
	}
	.cont4_video{
		position: relative;
		background: url('/images/reebok/2021/event/oioi/cont4_img1.jpg')no-repeat;
		background-size:cover;
		.video_list_box{
			padding:128px 110px 0 110px;
			text-align: center;
			.video_wrap{
				max-width: 1700px;
				width:100%;
				box-sizing:border-box;
				position: relative;
				text-align:center;
				margin:0 auto;
				video{
					width:100%;
					position:relative;
				}			
				.video_btn{
					position:absolute;left:50%;top:50%;
					transform:translate(-50%, -50%);
					z-index:5;
						>a{
							display:block;
							img{
								width:100%;
							}
						}
				}								
			}	
			.video_txt{
				text-align:center;
				width:100%;
				padding:70px 0 95px 0;
				h3{
					font: 400 22px/45px 'NotoSansKR';
					text-align:center;
					color: #fff;		
					letter-spacing:2px;		
					vertical-align:top;		
				}
				.button_area_v2{
					margin:25px 0 0 0;
					text-align:center;
				}
			}				
		}
	
	}
}