@import "./app/css/reebok/scss/about.scss";
.campaign_bridge .visual_video .bg video{
    width: 100%;
}
.campaign_bridge .visual_video .iebg{
    display: none;
}
.ie7 .campaign_wrap.campaign_bridge  .visual_video .masthead, .ie8 .campaign_wrap.campaign_bridge  .visual_video .masthead, .ie9 .campaign_wrap.campaign_bridge  .visual_video .masthead{
    width: 1190px;
    margin: 0 auto;
    left:auto;
    position: relative;
    top:500px;
    text-align: center;
}
.ie7 .campaign_wrap.campaign_bridge .visual_video .iebg, .ie8 .campaign_wrap.campaign_bridge .visual_video .iebg{
    display: block;
}
.ie7 .campaign_wrap.campaign_bridge .visual_video .masthead p, .ie8 .campaign_wrap.campaign_bridge .visual_video .masthead p{
    display: none;
}
#contents_wrap{padding: 0;}
.campaign_bridge{
    >div{
        &.dn{
            display: none;
        }
    }
    .vm_box{
        position: absolute;
        bottom: 50px;
        left: 50%;
        margin-left: -100px;
        text-align: center;
        a.btn-buy{
            display: inline-block;
            width: 200px;
            height: 60px;
            border: 2px solid #fff;
            background: none;
            font: 700 18px/50px 'NotoSansKR';
            color: #fff;
            box-sizing: border-box;
            text-align: center;
            transition: 0.8s;
            letter-spacing: 5px;
            &:hover{
                background: rgba(255,255,255,.2);
            }
        }
    }
    .visual_main{
        position: relative;
        background: #fff;
        height:990px;
        background: url('/images/reebok/event/about/bridge/181226/visual_bg.jpg') 100% 100% no-repeat;
        background-size: cover;
        .main{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-48%);
            img{
                display: block;
                opacity: 0;
            }
        }
        .img{
            position: absolute;
            top:80px;
            left: 50%;
            transform: translateX(-50%);
            img{}
        }
        .vm_box{
            bottom:42px;
        }
    }
    .visual_video{
        position: relative;
        background: #cdcecb;
        height:880px !important;
        .outer{
            background: #6e3f1e;
            width:1500px;
            height: 780px;
            z-index: 0;
            margin: 50px auto;
            .bg{
                position: absolute;
                top: 50%;
                left: 50%;
                transform:translate(-50%,-50%);
                margin-left:0;
                img{
                    display: block;
                }
            }
            .logo_in{
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform:translate(-50%,-50%);
                margin-left:initial;
            }
        }

        .video_bg{
            width: 1300px;
            height: 650px;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translate(-50%,-50%);
            video{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 0;
                transform: translate(-50%,-50%);
            }

        }
        .ie &{
            .video_bg{
                width:1300px;
                height: 650px;
                video{
                    width: 100%;
                    height: 650px;
                }
            }
        }

        .masthead{
            text-align: center;
            top:50%;
            h2{
                margin-bottom: 5px;
            }
            p{
                margin-bottom: 40px;
                font:400 18px/22px 'NotoSansKR';
            }
            img{
                display: block;
                margin: 0 auto 60px;
            }
            a.play-video{
                position: relative;
                display: inline-block;
                width: 72px;
                height: 72px;
                border: 6px solid #fff;
                display: none;
                &:after {
                    border-top: 13px solid transparent;
                    border-bottom: 13px solid transparent;
                    border-left: 15px solid #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -13px 0 0 -5px;
                }
            }
            a.btn-buy{
                position: relative;
                display: inline-block;
                width: 200px;
                height: 50px;
                font: 18px/50px 'NotoSansKR';
                color: #fff;
                border: 1px solid #fff;
                text-align: center;
            }
        }
    }
    .slide_lineup{
        position: relative;
        width: 100%;
        height: 1211px;
        background:#cdcecb;
        .img{
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(0%,20%);
        }
        .wide-slider-wrapper{
            position: relative;
            width: 100%;
            height:750px;
            left: inherit;
            margin-left:inherit;
            z-index: 1;
            overflow: hidden;
            .arrow-prev{
                position: absolute;
                top:50%;
                left:50%;
                margin-left: -340px;
                z-index: 2;
                width: 30px;
                height: 46px;
            }
            .arrow-next{
                position: absolute;
                top:50%;
                left:50%;
                margin-left:285px;
                z-index: 2;
                width: 30px;
                height: 46px;
            }
            ul{
                position: absolute;
                top:0;
                width: 100%;
                height: 750px;
                li{
                    width: 628px;
                    // padding: 0 80px;
                    position: relative;
                    float: left;
                    text-align: center;
                    @include opacity(0.4);
                    @include prefix-css3(transition ,opacity 0.4s ease-in 0.3s);
                    // &:after{
                    //     content: '';
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     right: 0;
                    //     bottom: 0;
                    //     z-index: 5;
                    //     opacity: .4;
                    // }
                    img{
                        display: inline-block;
                    }
                }
                li.active{
                    @include opacity(1);
                }
            }
        }
        .indicator{
            text-align: center;
            margin: 30px 0 70px;
            a{
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: none;
                border: 3px solid #6e3f1e;
                margin: 0 2px;
                &.on{
                    background: #6e3f1e;
                }
            }
        }
        .btm{
            position: relative;
            width: 1350px;
            margin: 0 auto;
            text-align: center;
            .wrap{
                display: inline-block;
                position: relative;
                left: -165px;
                img{

                }
                .deco{
                    position: absolute;
                    bottom: -20px;
                    left: -240px;
                    width: 0;
                    transition: all 1s;
                    height: 50px;
                    background: #ad9f96;
                }
                p{
                    position: relative;
                    font: 60px/60px 'DINWebPro-CondBlack';
                    color: #6e3f1e;
                    letter-spacing: 11px;
                    margin-top: 15px;
                }
            }
            .vm_box{
                text-align: center;
                display: inline-block;
                position: relative;
                left: 150px;
                top: -20px;
                a.btn-buy{
                    border: 2px solid #6e3f1e;
                    color: #6e3f1e;
                    &:hover{
                        background: rgba(255,255,255,.3);
                    }
                }
            }
        }
        @media screen and (max-width: 1100px) {
              .btm {
                  .vm_box{
                      left: 0px;
                  }
              }
          }
        .ie &{
            .btm{
                .wrap{
                    .deco{
                        bottom:-5px;
                    }
                }
            }

        }
    }
}
/* dmx Camapign end */
.campaign-btn {
    width: 200px;
}
