@import "./front/css/reebok/scss/about.scss";
html,body{
    height:100%;
}
#wrap{
    overflow: hidden;
    // min-width: 1460px;
    min-width: 1190px;
}
#contents_wrap{padding: 0;}

.campaign_zig{
    .btn{
        display: inline-block;
        &.sold{
            >div{
                a{
                    border: 1px solid #bbb;
                    background: #bbb;

                }
                &:before{
                    border-bottom: 1px solid #bbb;
                    border-left: 1px solid #bbb;

                }
                &::after{
                    border-right: 1px solid #bbb;
                    border-top: 1px solid #bbb;
                }
            }
        }
        >div{
            position: relative;
            &::before{
                border-bottom: 1px solid #000;
                border-left: 1px solid #000;
                bottom: -4px;
                height: 3px;
                left: 3px;
                width: calc(100%);
                content: "";
                display: block;
                position: absolute;
            }
            &::after{
                border-right: 1px solid #000;
                border-top: 1px solid #000;
                height: calc(100%);
                right: -4px;
                top: 3px;
                width: 3px;
                content: "";
                display: block;
                position: absolute;
            }
            a{
                width: auto;
                font: 500 14px/48px 'NotoSansKR';
                letter-spacing: 0;
                position: relative;
                display: block;
                padding: 0 20px;
                text-align: center;
                height: 50px;
                color: #fff;
                // background:transparent;
                background: #000;
                z-index: 2;
                border: 1px solid #000;
                letter-spacing: 0.7px;
                transition: .4s;
                .arrow{
                    display: inline-block;
                    width: 24px;
                    height: 11px;
                    margin-left: 10px;
                    background: url(/images/reebok/2019/event/interval_og/arrow_w.png) no-repeat;
                }
            }
        }
        &:hover{
            a{
                transform: translate(3px, 3px);
            }
        }
    }
   
    .main{
        position: relative;
        video{
            display: block;
            width: 100%;
        }
        
        .btn_area{
            position: absolute;
            top: 4%;
            left: 50%;
            transform: translateX(-70%);
            width: 36.9791%;
            padding-bottom: 21%;
            background: none;
            a.btn-play{
                position: absolute;
                width: 60px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        h2{
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translateX(-90%);
            font: 400 42px/42px 'neueplak-wide';
            color: #000; 
            padding-bottom: 15px;
        }
    }

    .section{
        padding-bottom: 70px;
        .sect_box{
            width: 1160px;
            margin: 0 auto;
            &.sect_1{
                video{
                    margin-left: -150px;
                }
                .cont_txt{
                    padding-top: 170px;
                    padding-left: 40px;
                }
            }
            &.sect_2{
                .cont_img{
                    margin-right: -150px;
                }
                .cont_txt{
                    padding-top: 150px;
                    padding-left: 30px;
                }
            }
            >*{
                float: left;
                display: inline-block;
            }
            .cont_txt{
                width: 580px;
                height: 504px;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                h2{
                    font: 400 42px/42px 'neueplak-wide';
                    color: #000; 
                    padding-bottom: 25px;
                }
                p{
                    font: 400 18px 'NotoSansKR';
                    color: #000; 
                }
            }
        }
    }

}
