@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
html,body{
	height:100%;
	
}
#footer{
    z-index: 19;
}
button{
	outline:none;
}

.button_area_v2{
	display: inline-block;
	&:hover{
		div{
			.bg{
				box-shadow: inset 0 0 0 1px #000;
				-webkit-box-shadow: inset 0 0 0 1px #000;
				@include css3(transition, all 0.5s);
			}
			a{
				color: #767677;
				span{
					background: #767677;
					em{
						background: #767677;
					}
				}

			}
		}
	}
	a{
		letter-spacing: 1px;
		padding:0 20px;
		border: 1px solid #000;
		white-space: nowrap;
	}
	.bg{
		box-shadow: inset 0 0 0 1px #000;
		-webkit-box-shadow: inset 0 0 0 1px #000;
	}
}

.cf{
	clear:both;
	content:'';
	display:block;
}

.inner{
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}
.inner2{
	max-width: 1640px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}

#supernova{
	.main_vs{
		.main_vs_box{
			position:relative;
			img{
				display:block;
				width:100%;
			}
			.main_txt{
				position:absolute;left:50%;top:50%;
				transform:translate(20%, -65%);
				text-align:right;
				h1{
					
				}				
				
				p{
					text-align:right;
					font:700 24px/32px 'NotoSansKR';
					color:#df6874;
					padding:29px 0 25px 0;
					letter-spacing:1px;
					span{
						display:block;
					}
				}
			}
		}
	}//main_vs
	.nova_shoes{
		padding:75px 0 95px 0;
		.txt{
			padding-bottom:75px;
			p{
				font:400 22px/32px 'NotoSansKR';
				text-align:center;
				color:#111;
				letter-spacing:0;
				span{
					display:block;
				}
			}
		}
		.shoes_list{
			ul{
				text-align:center;
				overflow:hidden;				
				li{
					float:left;
					vertical-align:top;
					width:30.48780487805%;
					margin-left:4.26829268293%;
					&:first-child{
						margin-lefT:0;
					}
					img{
						width:100%;
					}
					h2{
						text-align:center;
						font:700 32px/34px 'NotoSansKR';
						color:#343434;
						padding:39px 0 15px 0;
					}
					p{
						text-align:center;
						font:500 20px/28px 'NotoSansKR';
						color:#181717;
						span{
							display:block;
						}
					}
				}
			}
		}
	}//nova_shoes
	.nova_shoes_cloud{
		background:#f6f5fa;
		text-align:center;
		video{
			width:100%;
			display:block;
		}
	}
	.nova_img_list{
		text-align:center;
		ul{
			overflow:hidden;
			li{
				float:left;
				vertical-align:top;
				line-height:0;
				img{
					width:100%;
				}

				&.img1{
					width:26.04166666667%;
				}
				&.img2{
					width:23.95833333333%;
				}			
				&.img3{
					width:27.60416666667%;
				}									
				&.img4{
					width:22.39583333333%;
				}		
				.video{
					position:relative;
					.bg{
						text-align:center;
					}
					.video_btn{
						position:absolute;left:50%;top:50%;
						transform:translate(-50%, -50%);
						button{
							background:url('/images/adidas/2020/event/rdy/0626/play_btn.png')no-repeat;
							width:58px;
							height:63px;	
							border:0;
						}
					}
				}							
			}
		}
		.start_bg_bar{
			margin-top:-1px;
			img{
				display:block;
			}
		}
	}//nova_img_list
	.nova_bottom{
		.nova_box{
			position:relative;
			text-align:center;
			img{
				display:block;
				width:100%;
			}
		}
		.txt{
			position:absolute;left:50%;top:50%;
			transform:translate(-50%, -50%);
			text-align:center;
			h1{

			}
			p{
				text-align:center;
				font:700 24px/32px 'NotoSansKR';
				color:#df6874;
				padding:29px 0 25px 0;
				letter-spacing:1px;
				span{
					display:block;
				}
			}
		}
	}
}//#supernova