@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#outerjacket {
	position: relative;

	.button_area_v2{
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			width:148px;
			font: 700 14px/48px 'NotoSansKR';
			letter-spacing: 0;
		}
	}
	main{
		.visuals{
			img{
				width: 100%;
			}
		}
		.articles{
			text-align: center;
			padding: 70px 0;
			.title{
				font: 400 48px/55px 'NotoSansKR';
				color: #000;
				text-align: center;
				em{
					font: 700 48px/48px 'NotoSansKR';
				}
			}
			.articles__body{
				margin: 35px 0;
				text-align: center;
				p{
					font: 300 20px/27px 'NotoSansKR';
					color: #000;
					text-align: center;
				}
				span{
					font: 700 24px/24px 'NotoSansKR';
					color: #000;
					margin: 25px 0 0 0;
					display: inline-block;
				}
			}
			.button_area_v2{
				// margin: 0 0 60px 0;
			}
		}
		.main-head{
			text-align: center;
			position: relative;
			>img{
				&:nth-of-type(1) {
					width: 100%;
				}
				&:nth-of-type(2) {
					width: 70%;
					margin: 0 auto;
				}
			}
			.txt{
				position: relative;
				height: 154px;
				img{
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
				}

			}
			.main-head__text{
				margin: 65px 0;
				text-align: center;
				p{
					font: 40px/40px 'adinenuPro-black';
					color: #000;
					text-align: center;
				}
				>span{
					font: 20px/20px 'NotoSansKR';
					color: #000;
					text-align: center;
					display: block;
					margin: 15px 0 30px 0;
				}
				
			}
		}
		.carousel__container{
			background: url('/images/adidas/2020/event/outerjacket/0907/woman_bg.jpg') no-repeat;
			background-position: top;
			background-size: 100% 100%;
			&:nth-of-type(7){
				background: url('/images/adidas/2020/event/outerjacket/0907/man_bg.jpg') no-repeat;
				background-position: top;
				background-size: 100% 100%;
				.carousel__wrapper{
					.carousel{
						span.number{
							color: #8d96af;
						}
					}
				}
			}
			.carousel__wrapper{
			// width: 1190px;
				width: 70%;
				margin: 0 auto;
				padding: 65px 0 50px 0;
				&::after{
					display: block;
					clear: both;
					content:'';
				}
				.carousel{
					float: left;
					width: 22%;
					margin: 0 auto;
					position: relative;
					text-align: center;
					>p{
						font: 32px/32px 'adinenuPro-black';
						color: #000;
						text-align: center;
					}
					span.number{
						font:25px 'adihausDIN-Cond-bold';
						color: #c5a1a1;
						background: #fff;
						padding:7px 14px 2px 14px;
						display: inline-block;
					}
					.slider{
						.item{
							img{
								width: 100%;
								margin: 0 auto;
							}
						}
					}
					.prev-button, .next-button{
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}
					.prev-button{
						left: -20%;
					}
					.next-button{
						left: 110%;
						transform: translateY(-50%) rotate(180deg);
					}
					&.down{
						margin: 5rem 0 0 0;
					}
					&:nth-of-type(2){
						left: 16%;
					}
					&:nth-of-type(3){
						float: right;
					}
				}
			}
		}
		.main-foot{
			img{
				width: 100%;
			}
		}
		.bottom-articles{
			text-align: center;
			padding: 60px 0 65px 0;
			p{
				font: 300 20px/27px 'NotoSansKR';
				color: #000;
				text-align: center;
			}
			span{
				font: 700 24px/24px 'NotoSansKR';
				color: #000;
				text-align: center;
				display: block;
				margin: 25px 0 30px 0;
			}
		}
		.bottoms{
			img{
				width: 100%;
			}
		}
	}

}
