@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';

#wrap{
	overflow: hidden;
	min-width: 1190px;
}

#runstatement{
	position: relative;
	background: #fff;
	//common
	.top_bann,.btm_bann{
		position: relative;
		height: 196px;
		&.btm{
			height: 200px;
		}
		img{
			position: absolute;
			top:0;
			left:50%;
			transform: translateX(-50%);
		}
	}
	.contents{
		position: relative;
		padding: 70px 0 0 0;
		.box{
			position: relative;
			margin: 0 0 20px 0;
			>div{
				position: absolute;
				top:0;
				left:50%;
				transform: translateX(-50%);
			}
			.button_area_v2{
				display: inline-block;
				position: absolute;
				top:50%;
				left:50%;
				&:hover{
					a{
						-webkit-transform: translate(3px,3px);
						transform: translate(3px,3px);
						-webkit-transition: all .5s;
						transition: all .5s;
						opacity: .9;
					}
					.bg{
						&::after{
							-webkit-transform: translate(0px,0px);
							transform: translate(0px,0px);
						}
					}
				}
				a{
					padding:0 20px;
					font: 500 14px/48px 'NotoSansKR';
					letter-spacing: 0.7px;
				}
			}
		}
	}
	.aco{
		position: relative;
		.menu{
			position: relative;
			display: block;
		}
		.conts{
			transition: all 1s ease-in;
			position: relative;
			// background:skyblue;
		}
		.btn{
			
		}
	}







}
