@import "./front/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
#contents_wrap{
    background: #fff;
}

.btn{
	display: inline-block;
	>div{
		position: relative;
		&::before{
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
            bottom: -4px;
            height: 3px;
            left: 2px;
            width: calc(100% + 1px);
            content: "";
            display: block;
            position: absolute;
		}
		&::after{
            border-right: 1px solid #fff;
            border-top: 1px solid #fff;
            height: calc(100% + 1px);
            right: -4px;
            top: 2px;
            width: 3px;
            content: "";
            display: block;
            position: absolute;
        }
		a{
			width: 170px;
			font: 500 14px/44px 'NotoSansKR';
			letter-spacing: 0;
			position: relative;
			display: block;
			text-align: center;
			height: 46px;
			color: #fff;
			background:transparent;
			z-index: 2;
			border: 1px solid #fff;
			.arrow{
				margin-left: 40px;
				vertical-align: middle;
			}
		}
	}
}

.campaign_bf_01{

    >div{
        .bg_wrap{
            position: absolute;
            top:0;
            left: 50%;
            width: 1920px;
            transform:translateX(-50%);
        }
    }

    .visual_main{
        position: relative;
        height: 720px;
        &.on{
            .txt_wrap{
                h2{opacity: 1; padding-left: 0;}
                h3{opacity: 1; padding-left: 0;}
                p{opacity: 1; padding-left: 0;}
                .btn{opacity: 1; margin-left: 0;}
            }
        }
        .txt_wrap{
            // outline: 1px solid #fff;
            width: 1080px;
            
            position: absolute;
            top: 240px;
            left: 50%;
            transform: translateX(-50%);
            text-transform: uppercase;
            text-align: left;
            h2{
                padding-bottom: 10px;        
                font: 900 100px/100px 'NotoSansKR';
                color:#fff;

                opacity: 0;
                transition: all .6s;
            }            
            h3{        
                font: 700 60px/60px 'neueplak-ext';
                color:#36ff00;
                text-transform: uppercase;

                opacity: 0;
                transition: all .6s;
            }            
            p{
                padding: 35px 0 60px;
                font: 600 25px/25px 'neueplak-ext';
                color:#fff;
                letter-spacing: 2px;
               
                opacity: 0;
                transition: all .6s;
                transition-delay: 0.4s;
            }
            .btn{
                opacity: 0;
                transition: all .6s;
                transition-delay: 0.8s;
                >div{
                    position: relative;
                    &::before{
                        border-bottom: 1px solid #fff;
                        border-left: 1px solid #fff;
                    }
                    &::after{
                        border-right: 1px solid #fff;
                        border-top: 1px solid #fff;
                    }
                    a{
                        background: #fff;
                        color: #000;
                        .arrow{
                            margin-left: 24px;
                        }
                    }
                }
            }
        }
    }

    .sect_bnn{
        position: relative;
        height: 168px;
    }

    .section_cont{
        position: relative;
        height: 1574px;
        padding: 110px 0 0;
        box-sizing: border-box;
        text-align: center;
        .inner{
            width: 1330px;
            margin: 0 auto;
            box-sizing: border-box;
            >h3{
                font: 900 42px/42px 'NotoSansKR';
                color:#000;
                text-align: center;
                letter-spacing: 3px;
            }
            >p{
                padding-top: 25px;
                font: 400 20px/20px 'neueplak-ext', 'NotoSansKR';
                color:#a9a9a9;
                letter-spacing: 1px;
                text-align: center;
            }
            #sect_week{
                margin-top: 80px;
                overflow: hidden;
                li{
                    position: relative;
                    margin: 0 20px;
                    float: left;
                    width: 150px;
                    height: 338px;
                    text-align: center;
                    &:first-child{
                        
                    }
                    &.on{
                        a{
                            display: inline-block;
                            position: absolute;
                            top: 0; left: 0; right: 0; bottom: 0;
                            z-index: 10;
                        }
                        .days_date{
                            font-weight: 600;
                            color:#000;
                        }
                        .days_tit{
                            font-weight: 600;
                            color:#000;
                        }
                        .today{
                            background: #000;
                        }
                        &::after{
                            background: url('/images/reebok/2019/event/blackfriday/LC/days_img_buy.png') left top no-repeat;
                        }
                    }
                    &.coming{
                        &::after{
                            background: url('/images/reebok/2019/event/blackfriday/LC/days_img_coming.png') left top no-repeat;                            
                        }
                    }
                    >a{
                        display: none;
                    }
                    >img{
                        display: block;
                        width: 100%;
                    }
                    .days_date{
                        padding: 25px 0 15px;
                        font: 400 22px/22px 'neueplak-ext';
                        color:#a9a9a9;
                        text-align: center;
                    }
                    .days_tit{
                        font: 400 22px/26px 'NotoSansKR';
                        color:#a9a9a9;
                        text-align: center;
                    }
                    .today{
                        display: inline-block;
                        margin-bottom: 10px;
                        width: 150px;
                        height: 2px;
                        background: transparent;
                    }
                    &::after{
                        display: inline-block;
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: url('/images/reebok/2019/event/blackfriday/LC/days_img_close.png') left top no-repeat;
                        z-index: 5;
                    }
                }
            }
        }
        .slider_wrap{
			margin: 120px auto 0;
			width: 920px;
			text-align: center;
            position: relative;
            .slide_title{
                display: none;
                padding: 85px 0;
                p{
                    font: 600 22px/22px 'neueplak-ext';
                    color:#000;
                    text-align: center;
                    padding-bottom: 20px;
                }
                h3{
                    font: 900 38px/38px 'NotoSansKR';
                    color:#000;
                    text-align: center;
                    letter-spacing: 2px;
                }
            }
			#sliderSale{
				overflow: visible !important;
				ul{
					li{
						text-align: center;
						img{
	
						}
					}
				}
			}
			.slide_nav{
				padding-top: 40px;
				overflow: hidden;
				>*{
					float: left;
				}
				.prev-button{
					position: absolute;
					top: 51%;
					left: 50%;
					margin-left: -469px;
				}
				.next-button{
					position: absolute;
					top: 51%;
					left: 50%;
					margin-left: 447px;
				}
			}
        }
        .slide_line{
            position: relative;
            width: 100%;
            padding: 20px 0;
            text-align: center;
            span{
                display: inline-block;
                width: 100px;
                height: 2px;
                background: #000;
            }
        }
        .indicator{
            overflow: hidden;
            position: relative;
            width: 100%;
            padding: 40px 0 0;
            text-align: center;
            a{
                float: left;
                display: inline-block;
                width:340px;
                font: 22px/30px 'NotoSansKR';
                color:#ababab;
                text-align: center;
                em{
                    font: 500 24px/30px 'neueplak-ext', 'NotoSansKR';
                }
                &.on{
                    font-weight: 900;
                    color: #000;
                    em{
                        font-weight: 700 ;
                    }
                }
            }
        }
        .slide_price{
            position: relative;
            width: 100%;
            text-align: center;
            p{
                display: inline-block;
                font:700 18px/18px 'neueplak-ext';
                color:#000;
                text-align: center;
                em{
                    font-family: 'NotoSansKR';
                    font-weight: bold;
                    font-size: 0.8em;
                    line-height: 18px;
                    padding-left: 2px;
                }
                &.price_1{
                    color: #aaa;
                    text-decoration: line-through;
                    margin-right: 15px;
                }
                &.price_2{
                    font-size: 24px;
                    color: #aa2128;
                }
            }
        }
        .btn{
            margin: 30px auto;
            width: 140px;
            >div{
                &::before{
                    border-color: #000;
                }
                &::after{
                    border-color: #000;
                }
                a{
                    width: 138px;
                    background: #000;
                    border-color: #000;
                    color: #fff;
                    .arrow{
                        margin-left: 24px;
                    }
                }
            }
        }
    }

    .section_join{
        position: relative;
        height: 165px;
        background: #fff;
        padding: 0 0 75px;
        .inner{
            overflow: hidden;
            border: 1px solid #000;
            margin: 0 auto;
            width: 1080px;
            padding: 50px 100px;
            >*{
                float: left;
            }
            h4{
                width: 930px;
                font: 400 24px/32px 'NotoSansKR';
                color:#000;
            }
            .btn{
                margin-top: 7px;
                width: 140px;
                >div{
                    &::before{
                        border-color: #000;
                    }
                    &::after{
                        border-color: #000;
                    }
                    a{
                        width: 138px;
                        background: #000;
                        border-color: #000;
                        color: #fff;
                        .arrow{
                            margin-left: 24px;
                        }
                    }
                }
            }
        }
    }

    .section_coupon{
        position: relative;
        height: 470px;
    }

    .section_benefit{
        position: relative;
        height: 936px;
    }

    .section_bottom{
        position: relative;
        height: 416px;
    }
}

.modal-popup-wrapper{
    &.bf-coupon-popup{
        .overlay{
            display: block;
        }
        .popup{
            margin-top: -500px;
            height: auto;
            // overflow-y: scroll;
            .popup-header{
                display: none;
            }
            .popup-contents{
                padding: 0;
                height: auto;
                .close{
                    display: inline-block;
                    width: 41px; height: 41px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 10;
                    background: url('/images/reebok/2019/event/blackfriday/LC/btn_close.jpg');
                }
            }
        }
    }
}
