@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1250px;
	overflow: hidden;
}

.button_area_v2{
	display: inline-block;
	&:hover{
		div{
			a{
				background:#dbdbdb;
			}
		}

	}
	a{
		padding:0 20px;
		letter-spacing: 1px;
		transition: all 0.5s;
		span.arrow{
			margin-left: 15px;
		}
	}
}

#zx_cp {
	position: relative;
	.main_visual{
		position: relative;
		height:800px;
		overflow: hidden;
		.bgimg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.ct950{
			position: relative;
			h2{
				padding:245px 0 40px 0;
			}
			p{
				padding: 0 0 320px 0;
				font:500 20px/25px 'NotoSansKR';
				text-align: center;
				color:#fff;
				letter-spacing: 5px;

			}
			.button_area_v2{
				margin: 0 9px;
			}
		}
	}

	.cps_section{
		position: relative;
		.bgimg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.title{
			position: relative;
			padding:120px 0;
			text-align: center;
			z-index: 1;
			strong{
				display: block;
				padding:0 0 10px 0;
				color:#fff;
				font: 600 50px 'NotoSansKR';
				text-align: center;
			}
			p{
				color:#fff;
				font: 300 22px 'NotoSansKR';
				text-align: center;
				letter-spacing: 1px;
			}
			.button_area_v2{
				display: inline-block;
				padding:35px 0 0 0;
			}
		}
		.inn{
			width:1200px;
			margin:0 auto;
			position: relative;
			&:after{
				content: '';
				display: block;
				clear: both;
				height: 0;
			}
			.txt-box{
				width:480px;
				display: inline-block;
				float: left;
				padding:415px 0 0 0;
				p{
					font: 300 18px 'NotoSansKR';
					text-align: center;
					color:#fff;
					span{
						letter-spacing: -2px;
					}
				}
				&.right{
					float: right;
				}
			}
			.btn{
				display: block;
				padding:535px 0 0 0;
				text-align: center;
			}
		}
	}

	.bottom_coll{
		img{
			width:100%;
		}
	}

}
