@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1280px;
	overflow: hidden;
}
#ivypark {
	position: relative;

	.button_area_v2{
		&:hover{
			div{
				.bg{
					box-shadow: inset 0 0 0 1px #000;
    				-webkit-box-shadow: inset 0 0 0 1px #000;
					@include css3(transition, all 0.5s);
				}
				a{
					color: #fff;
				    background: #000;
					@include css3(transition, all 0.5s);

					span{
						background: #fff;
						@include css3(transition, all 0.5s);
						em{
							background: #fff;
							@include css3(transition, all 0.5s);
						}
					}

				}
			}
		}
		a{
			letter-spacing: 1px;
		}
	}

	.section{
		position: relative;
		&.sect_main{
			>img{
				display: block;
				width: 100%;
			}
			.main_title{
				position: absolute;
				top: 50%;
				left: 50%;
				width: 400px;
				transform: translate(-50%, -50%);
				text-align: center;
				z-index: 3;
				>img{
					display: inline-block;
				}
				h3{
					padding-top: 10px;
					font: 46px/46px 'adinenuPro-bold';
					color: #fff;
					text-align: center;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}
		}
		&.sect_regist{
			padding: 50px 0;
			background: #fff;
			.regist_inner{
				margin: 0 auto;
				max-width: 1500px;
				min-width: 1280px;
				padding: 40px 0;
				text-align: center;
				background: #d8ede4;
				>div{
					display: inline-block;
					width: 600px;
					// background: steelblue;
					h3 {
						// display: inline-block;
						font: 400 18px/18px 'NotoSansKR';
						color: #000;
						text-align: right;
						padding-right: 15px;
					}

					.button_area_v2 {
						display: inline-block;
						margin-left: 40px;

						a {
							padding: 0 20px;

							span.arrow {
								margin-left: 80px;
							}
						}
					}
				}
			}
		}
	}
}
