@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}

#superstar {
	position: relative;
	background: #f4ece8;
	.button_area_v2{
		display: inline-block;
		&.soon{
			padding-top:25px;						
			div {
				.bg {
					box-shadow: inset 0 0 0 1px #ccc;
					-webkit-box-shadow: inset 0 0 0 1px #ccc;
				}

				a {
					outline:none;
					cursor: default;
					color: #fff;
					background: #ccc;
					@include css3(transition, all 0.5s);

					span {
						background: #fff;
						@include css3(transition, all 0.5s);

						em {
							background: #fff;
							@include css3(transition, all 0.5s);
						}
					}

				}
			}
		}		
		&:hover{
			div{
				a{
					color: #767677;
					span{
						background: #767677;
						em{
							background: #767677;
						}
					}

				}
			}
		}
		div{
			&.white{
				.bg{
					box-shadow: inset 0 0 0 1px #fff;
					-webkit-box-shadow: inset 0 0 0 1px #fff;
					@include css3(transition, all 0.5s);
				}
				a{
					background: #fff;
				}
			}
			.bg{
				box-shadow: inset 0 0 0 1px #000;
				-webkit-box-shadow: inset 0 0 0 1px #000;
				@include css3(transition, all 0.5s);
			}
			a{
				letter-spacing: 1px;
				padding:0 20px;
				background: #000;
			}
		}
	}

	.state{
		position: relative;
		padding: 45px 0;
		background: #fef7f3;
		text-align: center;
		p{
			font: 500 20px/32px 'NotoSansKR';
			color: #000;
			text-align: center;
			span{
				display:block;
				padding:5px 0;
			}
		}
		.button_area_v2{
			margin-top: 25px;
			display: inline-block;
			a{
				padding: 0 20px;
			}
		}
	}

	.team_cont{
		position: relative;
		padding: 70px 0 120px;
		.txt_area{
			width: calc(1200px - 30px);
			margin: 0 auto;
			h3 {
				font: 500 30px/30px 'adinenuPro-bold';
				color: #000;
				text-transform: uppercase;
				text-align:center;
			}

			>p {
				padding: 15px 0 45px;
				font: 500 20px/20px 'NotoSansKR';
				color: #000;
				text-align:center;
			}
		}
		ul{
			overflow: hidden;
			width: 1200px;
			margin: 0 auto;
			li{
				float: left;
				margin: 0 15px;
				padding-bottom: 3px;
				outline:none;
				img{
					display: block;
					width: 100%;
				}
				h3{
					padding: 25px 5px 0;
					font: 700 20px/20px 'NotoSansKR';
					color: #000;
				}
				h4{
					padding: 10px 5px 0;
					font: 500 16px/22px 'NotoSansKR';
					color: #000;
				}
				>p{
					padding: 20px 5px 30px;
					font: 400 14px/24px 'NotoSansKR';
					color: #000;
					box-sizing: border-box;
				}
				.button_area_v2{
					display: inline-block;
					margin-left: 5px;
					a{
						padding: 0 20px;
						text-transform: uppercase;
					}
				}
				&:last-child{
					p{
						padding: 20px 5px 28px;
					}
				}
			}
		}
		// .slider_nav {
		// 	display:none;
		// 	width: 1430px;
		// 	position: absolute;
		// 	top: 38%;
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// 	margin-top: -12px;

		// 	.prev-button {
		// 		padding: 10px;
		// 		float: left;
		// 	}

		// 	.next-button {
		// 		padding: 10px;
		// 		float: right;
		// 	}
		// }
	}
	
	.contents{
		.vid_cont{
			position: relative;
			background:#fef7f3;
			&.bgc2n {
				background: #fef7f3;
				padding:80px 0;
			}
			&.bgc3n {
				background:#f4ede7;
				padding:80px 0 130px 0;
			}	
			
			*.super_bot{
				>img{
					display:block;
					width:100%;
				}
			}		
			.inn{
				overflow: hidden;
				width: 74.4791%;
				margin: 0 auto;
				.cont_mb_box {
					float: left;
					width: 50%;

					&.cont_mb_main {
						img {
							display: block;
							width: 100%;
						}
					}

					&.cont_mb_sub {
						box-sizing: border-box;
						-webkit-box-sizing: border-box;
						&.pl{
							padding-left: 20px;
						}
						&.pr{
							padding-right: 20px;
						}
						.mb_video {
							display: block;
							width: 100%;
							img{
								display: block;
								width: 100%;
							}
						}

						.cont_mb_txt {
							margin-top: 10px;
							p {
								font: 400 18px/28px 'NotoSansKR';
								color: #000;
								word-break: keep-all;

								em {
									font: 500 18px/28px 'adihaus-medium';
								}

								strong {
									font-weight: 700;
								}
							}

							.button_area_v2 {
								margin-top: 10px;
								display: inline-block;

								a {
									padding: 0 20px;
								}
							}

							>span {
								display: block;
								margin-top: 20px;
								font: 400 15px/15px 'NotoSansKR';
								color: #000;
							}
						}
					}
				}
			}			
			
			>img{
				display: block;
				width: 100%;
			}
			video {
				display: block;
				width: 100%;
			}
			.buy_box{
				position: absolute;
				top: 0;
				left: 50%;
				width: 36.4583%;
				z-index: 3;
				p{
					font: 400 18px/28px 'NotoSansKR';
					color: #000;
					word-break: keep-all;
					em{
						font: 500 18px/28px 'adihaus-medium';
					}
					strong {
						font-weight: 700;
					}
				}
				.button_area_v2 {
					margin-top: 30px;
					display: inline-block;
					a {
						padding: 0 20px;
					}
				}
				>span{
					display: block;
					margin-top: 20px;
					font: 400 15px/15px 'NotoSansKR';
					color: #000;
				}
			}
		}
		.cont_curated{
			position: relative;
			background: #fef7f3;
			text-align: center;
			padding: 80px 0;
			.inn{
				display: inline-block;
				text-align: center;
				>img{
					display: inline-block;
					margin-bottom: 30px;
				}
				h4{
					font: 700 30px/35px 'NotoSansKR';
					color: #000;
					text-align: center;
				}
				p{
					padding-top: 10px;
					font: 400 20px/28px 'NotoSansKR';
					color: #000;
					word-break: keep-all;
					text-align: center;
				}
				.button_area_v2{
					margin-top: 30px;
					display: inline-block;
					a {
						padding: 0 20px;
					}
				}
			}
		}

	}

	.vid_bottom{
		position: relative;
		video {
			display: block;
			width: 100%;
		}
	}
}

@media screen and (max-width:1600px) {
	.contents {
		.vid_cont {
			&.vid_cont1 {
				margin-bottom: 100px !important;
			}
			&.vid_cont2 {
				margin-bottom: 80px !important;
			}
		}
	}
}
