@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#outerjacket {
	position: relative;

	.button_area_v2{
		display: inline-block;
		&:hover{
			a{
				-webkit-transform: translate(3px,3px);
				transform: translate(3px,3px);
				-webkit-transition: all .5s;
				transition: all .5s;
				opacity: .9;
			}
			.bg{
				&::after{
					-webkit-transform: translate(0px,0px);
					transform: translate(0px,0px);
				}
			}
		}
		a{
			width:148px;
			font: 700 14px/48px 'NotoSansKR';
			letter-spacing: 0;
		}
	}

	.main{
		position: relative;
		height: 834px;		
		background-color: #89a9af;
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -1000px;
		}
		.txt{
			position: absolute;
			top:400px;
			left:50%;
			margin-left: -568px;			
			z-index: 99;
		}
	}

	.txt_area{
		text-align: center;
		padding: 80px 0;
		h3{
			font:900 44px/58px 'NotoSansKR';
			color:#000;
			letter-spacing: 18px;
			text-align: center;
		}
		p.sub{
			margin-top: 28px;
			font: 400 22px/33px 'NotoSansKR';
			color: #000;
			text-align: center;
			letter-spacing: 2px;
		}
		.button_area_v2{
			margin-top: 30px;
		}
	}

	.cont01{
		position: relative;
		height: 1360px;		
		background-color: #89a9af;
		.bg_area{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -1000px;
		}
		.cont01_img1{
			position: absolute;
			top:44px;
			left:50%;
			margin-left: -665px;			
			z-index: 99;
		}
		.cont01_img2{
			position: absolute;
			top:207px;
			left:50%;
			margin-left: -58px;			
			z-index: 99;
		}
		.cont01_img3{
			position: absolute;
			top:905px;
			left:50%;
			margin-left: -168px;			
			z-index: 99;
		}
		.txt_box1{
			position: absolute;
			width: 498px;
			height: 128px;
			border: 1px solid #fff;
			background-color: rgba(255,255,255,0.5);
			padding: 30px 70px 20px;
			top: 705px;
			left: 50%;
			margin-left: -23px;
			z-index: 999;
			p{
				font: 500 18px/28px 'NotoSansKR';
				color:#000;
				font-style: italic;
				text-align: left;
			}
			span{
				float: right;
				margin-top: 10px;
				display: block;
				background-color: #000;
				font: 400 15px/22px 'NotoSansKR';
				color: #fff;
				padding: 0px 10px;
			}
		}
		.txt_box2{
			    position: absolute;
				top: 960px;
				left: 50%;
				margin-left: -587px;
				z-index: 999;
			p{
				font: 700 20px/28px 'NotoSansKR';
				color:#000;
				text-align: right;
			}
			.button_area_v2{
				margin-top: 20px;
				float: right;
			}
		}
	}

	.cont02{
		position: relative;
		height: 1360px;		
		background-color: #89a9af;
		.bg_area{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -1000px;
		}
		.cont02_img1{
			position: absolute;
			top:207px;
			left:50%;
			margin-left: -665px;			
			z-index: 99;
		}
		.cont02_img2{
			position: absolute;
			top:45px;
			left:50%;
			margin-left: 72px;			
			z-index: 99;
		}
		.cont02_img3{
			position: absolute;
			top:900px;
			left:50%;
			margin-left: -458px;			
			z-index: 99;
		}
		.txt_box1{
			position: absolute;
			width: 405px;
			height: 128px;
			border: 1px solid #fff;
			background-color: rgba(255,255,255,0.5);
			padding: 30px 105px 13px;
			top: 705px;
			left: 50%;
			margin-left: -619px;
			z-index: 999;
			p{
				font: 500 18px/28px 'NotoSansKR';
				color:#000;
				font-style: italic;
				text-align: left;
			}
			span{
				float: right;
				margin-top: 10px;
				display: block;
				background-color: #000;
				font: 400 15px/22px 'NotoSansKR';
				color: #fff;
				padding: 0px 10px;
			}
		}
		.txt_box2{
			    position: absolute;
				top: 945px;
				left: 50%;
				margin-left: 180px;
				z-index: 999;
			p{
				font: 700 20px/28px 'NotoSansKR';
				color:#000;
				text-align: left;
			}
			.button_area_v2{
				margin-top: 20px;
				float: left;
			}
		}
	}
	.bottom__container{
		position: relative;
		height: 408px;		
		background-color: #424e4d;
		.bg_area{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -1000px;
		}
		.bottom_txt_area{
		position: absolute;
		top:125px;
		left:50%;
		margin-left: -211px;
		z-index: 99;
		text-align: center;
		h4{
			font:700 27px/32px 'NotoSansKR';
			color:#fff;
			letter-spacing: 5px;
			text-align: center;
			text-shadow: 2px 1px 7px #444;
		}
		p.sub{
			margin-top: 10px;
			font: 400 20px/28px 'NotoSansKR';
			color: #fff;
			text-align: center;
			letter-spacing: 2px;
			text-shadow: 2px 1px 7px #444;
		}
		.button_area_v2{
			margin-top: 15px;
		}
	}
	}
}
