@charset "utf-8";
.spt_bg_crazy{background:#fff url('/images/adidas/event/sprite_130820.png?v=151028') 0 0 no-repeat;text-indent:-5000px;display:block}
#crazyfriday{overflow:hidden;padding:34px 0 65px;background:#fff url(/images/adidas/event/bg_crazyfriday_130703.jpg) 50% 0 no-repeat;}
#crazyfriday h3{width:901px;height:174px;margin:0 auto 30px;}
#crazyfriday h4{width:499px;height:96px;margin:0 auto 38px;background-position:0 -190px;}
#crazyfriday .timer{width:627px;height:115px;margin:0 auto 25px;position:relative}
#crazyfriday .timer p{width:79px;height:14px;margin:98px 20px 0 0;background-position:right -290px;position:absolute;bottom:0;left:-89px;}
#crazyfriday .timer .timer_box{width:627px;height:112px;float:left;background-position:0 -320px;}
#crazyfriday .timer .timer_box div div{width:82px;height:112px;float:left}
#crazyfriday .timer .timer_box div div.n0{background-position:0 -780px;}
#crazyfriday .timer .timer_box div div.n1{background-position:-85px -780px;}
#crazyfriday .timer .timer_box div div.n2{background-position:-170px -780px;}
#crazyfriday .timer .timer_box div div.n3{background-position:-255px -780px;}
#crazyfriday .timer .timer_box div div.n4{background-position:-340px -780px;}
#crazyfriday .timer .timer_box div div.n5{background-position:-425px -780px;}
#crazyfriday .timer .timer_box div div.n6{background-position:-510px -780px;}
#crazyfriday .timer .timer_box div div.n7{background-position:-595px -780px;}
#crazyfriday .timer .timer_box div div.n8{background-position:-680px -780px;}
#crazyfriday .timer .timer_box div div.n9{background-position:-765px -780px;}
#crazyfriday .timer .timer_box div div.tens_place{margin-right:7px;}
#crazyfriday .timer .timer_box div div.unit_place{margin-right:56px;}
#crazyfriday .timer .timer_box div.minute div.unit_place{margin-right:58px;}
#crazyfriday .timer .timer_box div.second div.unit_place{margin-right:0}
#crazyfriday .desc1{width:374px;height:15px;margin:0 auto 75px;background-position:0 -450px;}
#crazyfriday h5{width:647px;height:88px;background-position:0 -490px;margin-bottom:45px;}
#crazyfriday .crazy_prod_list ul{height:478px;margin-bottom:10px;}
#crazyfriday .crazy_prod_list li{width:308px;height:478px;float:left;position:relative;border:1px solid #dbdbdb;margin-right:10px}
#crazyfriday .crazy_prod_list li.last{margin-right:0}
#crazyfriday .crazy_prod_list li .img{padding:35px 0 0;text-align:center;}
#crazyfriday .crazy_prod_list li .img a{width:220px;height:220px;position:relative;margin:0 auto;display:block;}
#crazyfriday .crazy_prod_list li .origin_price{height:30px;padding:22px 15px 0;position:relative;border-bottom:1px dotted #e0e0e1;color:#555;font:11px 'dotum';}
#crazyfriday .crazy_prod_list li .origin_price span.line_through{color:#777;text-decoration:line-through;margin-right:5px}
#crazyfriday .crazy_prod_list li .origin_price span.sale{color:#ea1d02;font-weight:bold}
#crazyfriday .crazy_prod_list li .origin_price span.pr{color:#333;}
#crazyfriday .crazy_prod_list li .tit{height:50px;padding:15px 15px 0;}
#crazyfriday .crazy_prod_list li .tit a{color:#222;font:bold 15px/22px 'Nanum Gothic',Nanum Gothic,'Dotum',dotum;}
#crazyfriday .crazy_prod_list li .tit span{color:#222;font:bold 15px/22px 'Nanum Gothic',Nanum Gothic,'Dotum',dotum;}
#crazyfriday .crazy_prod_list li .crazy_price{overflow:hidden;padding:0 15px;margin-bottom:5px;}

#crazyfriday .crazy_prod_list li .crazy_price em{float:left;font:bold 40px 'helvetica',Helvetica;}
#crazyfriday .crazy_prod_list li .crazy_price span{float:left;font-weight:bold;margin:25px 0 0 3px;}
#crazyfriday .crazy_prod_list li .crazy_price span.lb{width:93px;height:17px;margin:22px 15px 0 0;}

#crazyfriday .crazy_prod_list li.now .crazy_price em{color:#ea1d02;}
#crazyfriday .crazy_prod_list li.now .crazy_price span.lb{background-position:right -230px;}

#crazyfriday .crazy_prod_list li.soldout .crazy_price em{color:#aaa;}
#crazyfriday .crazy_prod_list li.soldout .crazy_price span.lb{background-position:right -260px;}

#crazyfriday .crazy_prod_list li.end .crazy_price em{color:#aaa;}
#crazyfriday .crazy_prod_list li.end .crazy_price span.lb{background-position:right -260px;}

#crazyfriday .crazy_prod_list li .btn{clear:both;padding:0 15px;}
#crazyfriday .crazy_prod_list li .btn .bt{width:278px;height:41px;}
#crazyfriday .crazy_prod_list li.now .btn .bt{background-position:0 -660px;}
#crazyfriday .crazy_prod_list li.soldout .btn .bt{background-position:0 -710px;}
#crazyfriday .crazy_prod_list li.end .btn .bt{background-position:0 -610px;}

#crazyfriday .crazy_prod_list li.ss  p.logo{
	width: 24px;
	height: 23px;
	position: absolute;
	top: 267px;
	right: 15px;
	background-position: -100px 0;
	text-indent: -5000px;
}
#crazyfriday .crazy_prod_list li.sp p.logo{
	width: 30px;
	height: 20px;
	background-position: -100px -30px;
	position: absolute;
	top: 267px;
	right: 15px;
	text-indent: -5000px;
}
#crazyfriday .crazy_prod_list li.neo p.logo{
	width: 50px;
    height: 7px;
    background-position: -150px -300px;
    text-indent: -5000px;
    position: absolute;
    top: 280px;
    right: 9px;
}
#crazyfriday .crazy_prod_list li p.status{width:73px;height:23px;position:absolute;top:15px;right:15px;z-index:10;}
#crazyfriday .crazy_prod_list li.now p.status{background-position:right -390px;}
#crazyfriday .crazy_prod_list li.end p.status{background-position:right -330px;}
#crazyfriday .crazy_prod_list li.soldout p.status{background-position:right -360px;}

#crazyfriday.type141224{padding-top:55px;}
#crazyfriday.type141224 .spt_bg_crazy{background-image:url(/images/adidas/event/sprite_141224.png);background-color:transparent;}
#crazyfriday.type141224 h3{width:678px;height:133px;margin-bottom:30px;}
#crazyfriday.type141224 h4{width:446px;margin-bottom:55px;}
#crazyfriday.type141224 .timer{width:800px;height:115px;margin:0 auto 25px -355px;position:relative;left:50%;}
#crazyfriday.type141224 .timer .timer_box{width:800px;height:112px;float:left;background-position:0 -320px;}
#crazyfriday.type141224 .timer .timer_box .day .tens_place{margin-right:60px;}
#crazyfriday.type141224 .timer .timer_box .hour .unit_place{margin-right:60px;}
#crazyfriday.type141224 .timer .timer_box .minute .unit_place{margin-right:60px;}

#crazyfriday.type151028{padding-top: 30px;background-image:url(/images/adidas/event/bg_crazyfriday_151028.jpg);}
#crazyfriday.type151028 .spt_bg_crazy{background-image:url(/images/adidas/event/crazy_sprite_151028.png);background-color:transparent;}
#crazyfriday.type151028 h3{width:612px;height:199px;}
#crazyfriday.type151028 h4{width:476px;height:72px;margin-bottom: 30px;background-position: 0 -215px;}
#crazyfriday.type151028 .desc1{width: 411px;height: 34px;background-position: 0 -440px;}
#crazyfriday.type151028 .timer p{bottom: 5px;}
#crazyfriday.type151028 .timer .timer_box{background-position: 0 -300px;}
#crazyfriday.type151028 h5{width: 481px;height: 88px;background-position: 0 -510px;}

#crazyfriday.type151028 .timer .timer_box div div.n0{background-position:0 -775px;}
#crazyfriday.type151028 .timer .timer_box div div.n1{background-position:-85px -775px;}
#crazyfriday.type151028 .timer .timer_box div div.n2{background-position:-170px -775px;}
#crazyfriday.type151028 .timer .timer_box div div.n3{background-position:-255px -775px;}
#crazyfriday.type151028 .timer .timer_box div div.n4{background-position:-340px -775px;}
#crazyfriday.type151028 .timer .timer_box div div.n5{background-position:-425px -775px;}
#crazyfriday.type151028 .timer .timer_box div div.n6{background-position:-510px -775px;}
#crazyfriday.type151028 .timer .timer_box div div.n7{background-position:-595px -775px;}
#crazyfriday.type151028 .timer .timer_box div div.n8{background-position:-680px -775px;}
#crazyfriday.type151028 .timer .timer_box div div.n9{background-position:-765px -775px;}