#contents_r {margin:0;padding:0;width:auto;}
.dn{display:none;}
.section_ar1 {padding:0;min-width:1120px;background:#1b1b1b url(//image.adidas.co.kr/images/adidas/club/bg_section_ar1.gif) no-repeat 50% top;font-family:'adihausregular','NotoSansKR';font-weight: 500;}
.section_ar1 .contain {margin:0 auto;padding:0;width:950px;height:740px;background:url(/images/adidas/club/bg_section_ar1_contain.png) no-repeat right 50%;}
.section_ar1 .contain .title {margin:0;padding:160px 0 0 0;color:#fff;font:68px/68px 'adinenuPro-black';text-transform: uppercase;}
.section_ar1 .contain .tags {margin:0;padding:0;color:#ee265c;font:32px/38px 'adinenuPro-light';text-transform: uppercase;}
.section_ar1 .contain .tags span.kor{/*display: block;*/ padding-left: 6px; font:28px/38px 'NotoSansKR';}
.section_ar1 .contain .tags i{font:32px/38px 'adinenuPro-light';}
.section_ar1 .contain p {vertical-align:top;margin:-3px 0 45px 0;padding:0;color:#bbb;font:16px/24px 'adihausregular','NotoSansKR';font-weight:500;}
.section_ar1 .contain .btn_viewevents {margin-top:40px;}

.section_ar2 {padding:0;background:#1b1b1b;font-family:'adihausregular','NotoSansKR';font-weight: 500;}
.section_ar2 .contain {position:relative;margin:0 auto;padding:0;width:auto;}
.section_ar2 .contain .title {position:absolute;left:50%;top:134px;margin:0 0 0 -475px;padding:0;width:950px;vertical-align: top;color:#fff;font:60px/60px 'adinenuPro-black';text-transform: uppercase;transition:top 250ms ease-in;}
.section_ar2 .contain .swiper-slide img {width:100%;}
@media (max-width: 1137px) {.section_ar2 {padding:0;min-width:1120px;}.section_ar2 .contain .title {top:70px;font:45px/45px 'adinenuPro-black';}}
.section_ar3 {padding:0;min-width:1120px;background:#1b1b1b;font-family:'adihausregular','NotoSansKR';font-weight: 500;}
.section_ar3 .contain {position:relative;margin:0 auto;padding:0 0 95px 0;width:950px;}
.section_ar3 .contain .title {margin:0;padding:135px 0 15px 0;color:#fff;font:60px/60px 'adinenuPro-black';text-transform: uppercase;}
.section_ar3 .contain p {vertical-align:top;margin:-3px 0 45px 0;padding:0;color:#bbb;font:16px/24px 'adihausregular','NotoSansKR';font-weight:500;}
.section_ar3 .contain .box_infor_ruuners1 {margin-bottom:240px;}
.section_ar3 .contain .box_infor_ruuners2 {position:absolute;right:0;top:135px;width:400px;height:495px;}
.section_ar3 .contain .box_infor_ruuners2 .title {margin:280px 0 20px 0;padding:0;color:#fff;font:24px/24px 'adinenuPro-black';text-transform: uppercase;}
.section_ar3 .contain .box_infor_ruuners2 p {font:300 16px/23px 'NotoSansKR';color:#bbb;}
.section_ar3 .contain .box_infor_ruuners2 .ar3_item1 {height:495px;background:url(//image.adidas.co.kr/images/adidas/club/img_section_ar3_1.png) no-repeat 50% 0;}
.section_ar3 .contain .box_infor_ruuners2 .ar3_item2 {height:495px;background:url(//image.adidas.co.kr/images/adidas/club/img_section_ar3_2.png) no-repeat 50% 0;}
.section_ar3 .contain .box_infor_ruuners2 .ar3_item3 {height:495px;background:url(//image.adidas.co.kr/images/adidas/club/img_section_ar3_3.png) no-repeat 50% 0;}
.section_ar3 .contain .box_infor_ruuners2 .ar3_item4 {height:495px;background:url(//image.adidas.co.kr/images/adidas/club/img_section_ar3_4.png) no-repeat 50% 0;}
.section_ar3 .contain .box_infor_ruuners2 .ar3_item5 {height:495px;background:url(//image.adidas.co.kr/images/adidas/club/img_section_ar3_5.png) no-repeat 50% 0;}
.section_ar3 .contain .box_infor_ruuners2 .swiper-button-next, .section_ar3 .contain .box_infor_ruuners2 .swiper-button-prev {top:auto;bottom:0px;}
.section_ar3 .contain .box_infor_ruuners2 .swiper-button-next, .section_ar3 .contain .box_infor_ruuners2 .swiper-container-rtl .swiper-button-prev {left:55px;}
.section_ar3 .contain .box_infor_ruuners2 .swiper-button-prev, .section_ar3 .contain .box_infor_ruuners2 .swiper-container-rtl .swiper-button-next {left:0px;}
.section_ar3 .contain .box_infor_ruuners2 .swiper-pagination {left:-99999999px;}
.section_ar3 .contain .box_infor_ruuners3 .text-type1 {margin:0 0 20px 0;color:#fff;font:300 16px/16px 'NotoSansKR';}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 {margin-bottom:30px;overflow:hidden;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table {margin-bottom:-1px;width:100%;border-top:2px solid #666;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table caption {display:none;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table th {padding:17px 0;color:#b3b3b3;text-align:center;font:300 16px/16px 'NotoSansKR';}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table th:first-child{text-align-last: left; padding-left: 50px;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table th:last-child{text-align-last: left;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td {padding:8px 0;height:59px;color:#fff;text-align:center;font:300 14px/14px 'NotoSansKR';}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td.line {height: 0; padding: 0; text-align: right;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td.line .td_line{display: inline-block; width: 80%; height: 2px; background: #666;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td.level {width:170px;color:#ee265c;font:18px/18px 'adinenuPro-bold';text-transform: uppercase; text-align: left;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td.numevt {font: 500 16px 'adihausDIN-Cond-medium';}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td.lacetag {font: 500 16px 'adihausDIN-Cond-medium'; color: #008675; text-align: right;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td.plus {font: 500 16px 'adihausDIN-Cond-medium'; color: #008675;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td.benefit {width:400px; font: 400 14px 'adinenuPro-light', 'NotoSansKR'; color: #aaa;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td ul {padding:4px 0;}
.section_ar3 .contain .box_infor_ruuners3 .table_type1 table td .list_type1 li {background: none; padding-left: 0;}
.section_ar3 .contain .box_infor_ruuners3 h3 {padding-bottom: 10px;}
.section_ar3 .contain .box_infor_ruuners3 .list_type1 li {font-size: 14px;}
.section_ar3 .contain .head {margin:0;padding:160px 0 0 0;color:#fff;font:70px/70px 'adinenuPro-black';text-transform: uppercase;}

.section_ar4 {padding:0;min-width:1120px;background:#000 url(/images/adidas/club/bg_section_ar4.jpg) no-repeat 50% top;font-family:'adihausregular','NotoSansKR';font-weight: 500;}
.section_ar4 .contain {position:relative;margin:0 auto;padding:0 0 95px 0;width:950px;min-height:957px;}
.section_ar4 .contain .title {margin:0;padding:120px 0 18px 0;color:#fff;font:60px/60px 'adinenuPro-black';text-transform: uppercase;}
.section_ar4 .contain .box_event_list {margin-bottom:27px;}
.section_ar4 .contain .box_event_list .box_event {position:relative;margin:0 0 13px 0;padding:10px 0;min-height:82px;border:1px solid #345558;background:rgba(0,129,113,.25);}
.section_ar4 .contain .box_event_list .box_event p {position:relative;margin:24px 0;padding:0 100px 0 210px;font:500 16px/27px 'adihausregular','NotoSansKR';color:#fff;}
.section_ar4 .contain .box_event_list .box_event p .state_offline {display:block;position:absolute;left:125px;top:0;margin:0;padding:0;width:71px;height:24px;text-align:center;line-height:22px;color:#fff;border:2px solid #008675;background:rgba(0,134,117,0.3);}
.section_ar4 .contain .box_event_list .box_event p .state_online {display:block;position:absolute;left:125px;top:0;margin:0;padding:0;width:71px;height:24px;text-align:center;line-height:22px;color:#fff;border:2px solid #ee265c;background:rgba(238,38,92,0.3);}
.section_ar4 .contain .box_event_list .box_event p .state_close {display:block;position:absolute;left:125px;top:0;margin:0;padding:0;width:71px;height:24px;text-align:center;line-height:22px;color:#777777;border:2px solid #777777;background:rgba(119,119,119,0.3);}
.section_ar4 .contain .box_event_list .box_event p.date {position:absolute;left:45px;top:19px;margin:0;padding:0;text-align:center;font:14px/14px 'adinenuPro';text-transform: uppercase;}
.section_ar4 .contain .box_event_list .box_event p.date span {display:block;margin:0 0 7px 0;padding:0;width:45px;height:45px;text-align:center;border-radius: 100%;background:#ee265c;font:22px/41px 'adinenuPro';text-transform: uppercase;}
.section_ar4 .contain .box_buttons {padding-bottom:120px;}

.section_ar5 {display: none; padding:0;min-width:1120px;background:#1b1b1b;font-family:'adihausregular','NotoSansKR';font-weight: 500;}
.section_ar5 .contain {position:relative;margin:0 auto;padding:0;width:950px;min-height:855px;}
.section_ar5 .contain .title {position:absolute;left:0;top:140px;margin:0;padding:0;color:#fff;font:60px/60px 'adinenuPro-black';text-transform: uppercase;}
.section_ar5 .contain .box_list {margin:0 0 0 420px;padding:140px 0 0 0;width:530px;}
.section_ar5 .contain .box_list .swiper-pagination {left:-999999999px;}
.section_ar5 .contain .box_list .swiper-slide {height:710px;}
.section_ar5 .contain .box_list .swiper-button-next, .section_ar5 .contain .box_list .swiper-button-prev {margin:0;bottom:auto;top:0;}
.section_ar5 .contain .box_list .swiper-button-prev, .section_ar5 .contain .box_list .swiper-container-rtl .swiper-button-next {left:440px;}
.section_ar5 .contain .box_list .swiper-slide .box_photo {margin-bottom:35px;}
.section_ar5 .contain .box_list .swiper-slide h4 {margin-bottom:11px;color:#fff;font:500 24px/24px 'adihausregular','NotoSansKR';text-transform: uppercase;}
.section_ar5 .contain .box_list .swiper-slide h4 .position {display:block;margin:14px 0 7px 0;font:18px/18px 'adinenuPro-black';}
.section_ar5 .contain .box_list .swiper-slide h4 .instagram_id {color:#3d6c94;font:18px/18px 'adinenuPro-black';}
.section_ar5 .contain .box_list .swiper-slide p {margin-bottom:25px;color:#bbb;font:500 14px/22px 'adihausregular','NotoSansKR';word-break:keep-all}

.section_ar6 {padding:0;min-width:1120px;background:#1b1b1b;font-family:'adihausregular','NotoSansKR';font-weight: 500;border-top:1px solid #5b5b5b;}
.section_ar6 .contain {position:relative;margin:0 auto;padding:0;width:950px; text-align: center;}
.section_ar6 .contain .title {margin:0;padding:135px 0 0 0;color:#fff;font:60px/60px 'adinenuPro-black';text-transform: uppercase; text-align: center;}
.section_ar6 .contain .tags {margin:0 0 0 0;padding:0;color:#ee265c;font:60px/60px 'adinenuPro-light';text-transform: uppercase;}
.section_ar6 .inner {height:auto;background:#fff;}
.section_ar6 .box_buttons {margin:0;padding:30px 0 130px;}
.section_ar6 .box_inner {display: inline-block;}
.section_ar6 .box_inner .text1 {margin-top:10px;color: #bbb;font:400 22px/22px 'adinenuPro-light','NotoSansKR';}
.section_ar6 .box_inner .text1 span {font:500 24px/22px 'adihaus'; letter-spacing: 2px;}
.section_ar6 .box_inner .text2 {color: #bbb;font:500 16px/20px 'adihausregular','NotoSansKR';}
.section_ar6 .ar6_slide_wrap {position: relative;width: 949px;margin: 65px auto;}
.section_ar6 .ar6_slide_wrap .navigator {}
.section_ar6 .ar6_slide_wrap .navigator .nav-arrow {overflow: hidden;width: 29px;height: 29px;position: absolute;top: 222px; z-index: 1001;}
.section_ar6 .ar6_slide_wrap .navigator .nav-arrow.prev-button {left: 0;}
.section_ar6 .ar6_slide_wrap .navigator .nav-arrow.next-button {right: 0;}
.section_ar6 .ar6_slide_wrap .indicator {position: absolute;bottom: -20px;width: 949px;height: 5px;text-align: center;}
.section_ar6 .ar6_slide_wrap .indicator a {display: inline-block;width: 35px;height: 4px;border: 0;outline: 0;background: #444;font-size: 0;line-height: 0;margin: 0 2px;cursor: pointer;}
.section_ar6 .ar6_slide_wrap .indicator a.on {background: #fff;}

.section_ar7{padding:0;min-width:1120px;background:#1b1b1b;font-family:'adihaus','NotoSansKR';font-weight: 500;border-top:1px solid #5b5b5b;}
.section_ar7 .contain {position:relative;margin:0 auto;padding:0;width:950px;height:700px;background:url(/images/adidas/club/bg_section_ar7.png) no-repeat right 50%;}
.section_ar7 .contain .title {position: relative; margin:0 0 25px 0;padding:185px 0 0 80px;color:#fff;font:40px/72px 'adinenuPro-black';text-transform: uppercase;}
.section_ar7 .contain .title .tit_logo{position: absolute; left: 0; display: inline-block; width: 65px; height: 65px; background: url(/images/adidas/club/runninglogo.png) no-repeat top left;}
.section_ar7 .contain .text_type1 {margin:0 0 20px 0;padding:0;color:#fff;font:500 24px/24px 'adinenuPro-bold','NotoSansKR';font-weight:normal;letter-spacing: 1px;}
.section_ar7 .contain .list_type1 {margin-bottom:30px;}
.section_ar7 .contain .list_type1 li {margin-bottom:10px;font:500 16px/24px 'adihaus','NotoSansKR';background-position:left 17px;}
.section_ar7 .contain .list_type1 p {font: 300 16px/28px 'adihaus','NotoSansKR'; color:#fff;}
.section_ar7 .contain .btn_link_type1 a {background: #13898d; min-width: 340px;}

.section_ar8 {display: none; padding:0;min-width:1120px;background:#393a3c url(//image.adidas.co.kr/images/adidas/club/bg_section_ar8.jpg) no-repeat 50% top;font-family:'adihausregular','NotoSansKR';font-weight: 500;}
.section_ar8 .contain {position:relative;margin:0 auto;padding:0;width:950px;height:310px;}
.section_ar8 .contain .title {margin:0;padding:82px 0 0 0;text-align:left;color:#fff;font:40px/40px 'adinenuPro-black';text-transform: uppercase;}
.section_ar8 .contain .text_type1 {margin:0 0 30px 0;padding:0;color:#fff;font:16px/24px 'adihausregular','NotoSansKR';font-weight:500;}
.section_ar8 .contain .text_type1 strong {color:#04e3c4;font-weight:normal;}

.section_ar9 {padding:0;min-width:1120px;background:#1b1b1b;font-family:'adihausregular','NotoSansKR';font-weight: 500;border-top: 1px solid #5b5b5b;}
.section_ar9 .contain {position:relative;margin:0 auto;padding:0 0 95px 0;width:950px;}
.section_ar9 .contain .title {margin:0;padding:80px 0 40px 0;text-align:center;color:#fff;font:40px/40px 'adinenuPro-black';text-transform: uppercase;}
.section_ar9 .contain .box_snsbuttons {margin:0 auto;width:340px;overflow:hidden; text-align: center;}
.section_ar9 .contain .box_snsbuttons span {display: inline-block; /*display:block;float:left;*/}
.section_ar9 .contain .box_snsbuttons span a {display:block;width:170px;height:90px;overflow:hidden;text-indent:-999px;}
.section_ar9 .contain .box_snsbuttons .btn_facebook {background:#3b5a97 url(//image.adidas.co.kr/images/adidas/club/img_sns_facebook.png) no-repeat 50%;}
.section_ar9 .contain .box_snsbuttons .btn_instagram {background:#313131 url(//image.adidas.co.kr/images/adidas/club/img_sns_instagram.png) no-repeat 50%;}

.section_ar10 {padding:0;min-width:1120px;background:#1b1b1b;font-family:'adihausregular','NotoSansKR';font-weight: 500;border-top:1px solid #5b5b5b;}
.section_ar10 .contain {position:relative;margin:0 auto;padding:0 0 95px 0;width:950px;}
.section_ar10 .contain .title {margin:0;padding:80px 0 40px 0;text-align:center;color:#fff;font:40px/40px 'adinenuPro-black';text-transform: uppercase;}
.section_ar10 .li-dot{width:760px;margin:50px auto 0;}
.section_ar10 .li-dot li{margin-bottom: 7px;color: #bababa;}
.section_ar10 .li-dot li .bul{background: #bababa;}
.section_ar10 .li-dot li a{color: #ee2365;text-decoration: underline;}


.list_type1 li {padding:0 0 5px 10px;text-align:left;background:url(//image.adidas.co.kr/images/adidas/club/btn_type2.png) no-repeat left 12px;line-height:19px;}
.list_type1 li:nth-child(5) {line-height:22px;}
.text_type1 {margin:0;padding:0;}
.btn_link_type1 {display:inline-block;}
.btn_link_type1 a {display:inline-block;padding:0;min-width:310px;text-align:center;height:47px;font:500 18px/45px 'NotoSansKR';text-transform: uppercase;color:#fff;background:#ee265c;transition:background-color 250ms ease-in;}
.btn_link_type1 a span.icon_button {display:inline-block;margin:0 0 -1px 10px;width:16px;height:16px;background:url(//image.adidas.co.kr/images/adidas/club/btn_type1.png) no-repeat 50%;}
.btn_link_type1 a:hover {background:#5b5b5b;}
.btn_link_type1 .font {font:18px/18px 'adinenuPro-bold';}
.btn_link_type2 {display:inline-block;}
.btn_link_type2 a {display:inline-block;padding:0;min-width:205px;text-align:center;height:43px;font:500 14px/40px 'NotoSansKR';text-transform: uppercase;color:#000;background:#04e3c6;transition:background-color 250ms ease-in;}
.btn_link_type2 a:hover {background:#5b5b5b;}
.btn_link_type2 a img {margin-top:-2px;vertical-align:middle;}
.btn_link_type3 {display:inline-block;}
.btn_link_type3 a {display:inline-block;padding:0;min-width:205px;text-align:center;height:43px;font:500 14px/40px 'NotoSansKR';text-transform: uppercase;color:#000;background:#fff;transition:background-color 250ms ease-in;}
.btn_link_type3 a:hover {background:#5b5b5b;}
.btn_link_type4 {display:inline-block;}
.btn_link_type4 a {display:inline-block;padding:0;min-width:285px;text-align:center;height:47px;font:500 18px/47px 'NotoSansKR';text-transform: uppercase;color:#fff;background:#3d6c94;transition:background-color 250ms ease-in;}
.btn_link_type4 a:hover {background:#5b5b5b;}
.btn_viewevents {display:block;width:380px;}
.btn_viewevents a {display:block;position:relative;margin:0;padding:0;width:auto;height:98px;text-indent:25px;font:18px/98px 'adinenuPro-bold';color:#fff;border:1px solid #4d4d4d;background:url(//image.adidas.co.kr/images/adidas/club/btn_viewevent.png) no-repeat 50%;transition:border 250ms ease-in;}
.btn_viewevents a span.icon_button {display:block;position:absolute;right:27px;top:40px;margin:0;width:43px;height:16px;background:url(//image.adidas.co.kr/images/adidas/club/btn_type1.png) no-repeat 50%;}
.btn_viewevents a:hover {border:1px solid #fff;}


.notice dt {margin:0 0 5px 0;font:300 14px/14px 'NotoSansKR';color:#b3b3b3;}
.notice dd {padding:2px 0 2px 10px;font:300 14px/22px 'NotoSansKR';color:#b3b3b3;background:url(//image.adidas.co.kr/images/adidas/club/btn_type3.png) no-repeat left 8px;}

.box_buttons {text-align:center;}


.swiper-button-next, .swiper-container-rtl .swiper-button-prev {background:url(//image.adidas.co.kr/images/adidas/club/img_roll_right.png) no-repeat 50%;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {background:url(//image.adidas.co.kr/images/adidas/club/img_roll_left.png) no-repeat 50%;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom:60px;}
.swiper-pagination-bullet {width:8px;height:8px;border:1px solid #fff;background:none;opacity:1;}
.swiper-pagination-bullet-active {background:#fff;}


/* ï¿½ï¿½ï¿½Ì¾ï¿½ ï¿½Ë¾ï¿½ */
.layer_programguide1 {position:fixed;left:50%;top:50%;z-index:999;margin:-343px 0 0 -475px;width:948px;border:1px solid #5c5c5c;background:#000;}
.layer_programguide1 .contain {padding:60px;}
.layer_programguide1 h3.title {padding:160px 0 15px 0;text-align:center;font-size:16px;color:#bbb;background:url(//image.adidas.co.kr/images/adidas/club/img_title_programguide1.png) no-repeat 50% top;}
.layer_programguide1 .box_description {margin-bottom:20px;padding:15px;height:222px;overflow:hidden;overflow-y:scroll;font:300 14px/22px 'NotoSansKR';background:#1b1b1b;border:1px solid #5c5c5c;}
.layer_programguide1 .box_agreement {margin-bottom:30px;text-align:right;}
.layer_programguide1 .box_agreement label {display:inline-block;position:relative;padding:0 0 0 30px;overflow:hidden;line-height:25px;font-size:16px;color:#fff;background:url(//image.adidas.co.kr/images/adidas/club/img_checkbox.png) no-repeat left top;}
.layer_programguide1 .box_agreement label.checked {background:url(//image.adidas.co.kr/images/adidas/club/img_checkbox_checked.png) no-repeat left top;}
.layer_programguide1 .box_agreement label input[type='checkbox'] {position:absolute;left:-9999999999px;top:0;}
.layer_programguide1 .box_btn {text-align:center;}
.layer_programguide1 .btn_close_layer {display:block;position:absolute;right:17px;top:19px;background:#ee255c url(//image.adidas.co.kr/images/adidas/club/btn_closelayer.png) no-repeat 50%;}
.layer_programguide1 .btn_close_layer button {display:block;width:32px;height:32px;overflow:hidden;text-indent:-9999px;background:none;border:none;cursor:pointer;}

/* ï¿½Ë·ï¿½ */
.layer_alert1 {display:none;position:fixed;left:50%;top:50%;z-index:999;margin:-210px 0 0 -300px;width:600px;background:#fff;}
.layer_alert1 .contain {padding:50px 30px;}
.layer_alert1 p {padding:130px 0 60px 0;text-align:center;color:#000;font:300 24px/30px 'NotoSansKR';background:url(//image.adidas.co.kr/images/adidas/club/img_alert1.png) no-repeat 50% top;}
.layer_alert1 .box_btn {text-align:center;}
.layer_alert1 .btn_link_type5 {display:inline-block;}
.layer_alert1 .btn_link_type5 a {display:inline-block;padding:0;min-width:266px;text-align:center;height:55px;font:300 18px/55px 'NotoSansKR';text-transform: uppercase;color:#fff;letter-spacing:-0.025em;background:#027dbf;}
.layer_alert1 .btn_link_type5 a span.icon_button {display:inline-block;margin:0 0 -1px 10px;width:16px;height:16px;background:url(//image.adidas.co.kr/images/adidas/club/btn_type1.png) no-repeat 50%;}
.layer_alert1 .btn_close_layer {display:block;position:absolute;right:17px;top:19px;background:url(//image.adidas.co.kr/images/adidas/club/btn_closealert.png) no-repeat 50%;}
.layer_alert1 .btn_close_layer button {display:block;width:24px;height:24px;overflow:hidden;text-indent:-9999px;background:none;border:none;cursor:pointer;}
