#worldcup{background:#020224 url(http://image.adidas.co.kr/images/adidas/event/worldcup/bg_bottom.jpg) 50% bottom no-repeat;}
#worldcup .box_wrap{overflow:hidden;}
#worldcup .fl_l{float:left;}
#worldcup .fl_r{float:left;}
#worldcup a.tab_link{width:950px;height:80px;display:block;margin:0 auto 5px;background:#28284e;}
#worldcup a.tab_link .txt{float:left;margin:20px 0 0 20px;}
#worldcup a.tab_link .lnk{width:80px;height:60px;padding-top:20px;float:right;text-align:center;background:#141427;}
#worldcup .wld_vsl{width:950px;margin:0 auto;position:relative;overflow:hidden;}
#worldcup .wld_vsl .txt {
	width:100%;
	position:absolute;
	top:190px;	
	left:0;
	z-index:5;
	font-family:'adinenu-bold';
}
#worldcup .wld_vsl .txt h4{
	color:#fff;
	text-align:center;
	font-size:100px;
	font-weight:normal;
	line-height:100px;
}
#worldcup .wld_vsl .txt p{
	color:#fcea1a;
	text-align:center;
	font-size:30px;
	line-height:30px;
}

#worldcup .box_sec{width:950px;margin:0 auto 15px;overflow:hidden;}
#worldcup .box_sec1 .box1,#worldcup .box_sec3 .box1{margin-right:5px;}
#worldcup .box_sec1 .box2{margin-bottom:5px;}
#worldcup .box_sec1 .box3{margin-right:5px;}

#worldcup .wrd_slider .slider_visual{width:655px;height:300px;margin-bottom:5px;overflow:hidden;position:relative;}
#worldcup .wrd_slider .slider_visual ul{position:absolute;width:5000px;}
#worldcup .wrd_slider .slider_visual ul li{float:left;}
#worldcup .wrd_slider .slider_btn{position:relative;}
#worldcup .wrd_slider .slider_btn ul{height:160px;}
#worldcup .wrd_slider .slider_btn li{float:left;margin-right:5px;}
#worldcup .wrd_slider .slider_btn li.last{margin-right:0;}
#worldcup .wrd_slider .slider_btn .box{width:150px;height:150px;border:5px solid #fff;position:absolute;top:0;left:0;z-index:10;}
#worldcup #wrd_slider1{margin-right:5px;}

#worldcup .box_sec3{margin-bottom:0;}
#worldcup .lnk_animate{width:290px;height:465px;position:relative;overflow:hidden;}
#worldcup .lnk_animate .bg{position:absolute;top:150px;left:0;z-index:5;}
#worldcup .lnk_animate a{display:block;width:290px;height:465px;position:relative;z-index:8;}
#worldcup .lnk_animate a:hover{width:280px;height:455px;}
#worldcup .box_sec1 .lnk_animate a{background:url('http://image.adidas.co.kr/images/adidas/event/worldcup/txt_box_1_1.png') 20px 280px no-repeat;}
#worldcup .box_sec1 .lnk_animate a:hover{background-position:15px 275px;border:5px solid #f67d32;}
#worldcup .box_sec2 .lnk_animate a{background:url('http://image.adidas.co.kr/images/adidas/event/worldcup/txt_box_2_1.png') 20px 280px no-repeat;}
#worldcup .box_sec2 .lnk_animate a:hover{background-position:15px 275px;border:5px solid #a2da31;}
#worldcup .box_sec3 .lnk_animate a{background:url('http://image.adidas.co.kr/images/adidas/event/worldcup/txt_box_3_1.png') 20px 280px no-repeat;}
#worldcup .box_sec3 .lnk_animate a:hover{background-position:15px 275px;border:5px solid #d31521;}
#worldcup .box_sec4 .lnk_animate a{background:url('http://image.adidas.co.kr/images/adidas/event/worldcup/txt_box_4_1.png') 20px 280px no-repeat;}
#worldcup .box_sec4 .lnk_animate a:hover{background-position:15px 275px;border:5px solid #5304a4;}

#worldcup .box_sec5 .lnk_animate a{background:url('http://image.adidas.co.kr/images/adidas/event/worldcup/txt_box_5_1.png') 20px 280px no-repeat;}
#worldcup .box_sec5 .lnk_animate a:hover{background-position:15px 275px;border:5px solid #009ddb;}



#worldcup .wrd_left_time{padding:60px 0;}
#worldcup .wrd_left_time .inner{width:950px;margin:0 auto;}
#worldcup .wrd_left_time h5{color:#fff;font:bold 24px 'Nanum Gothic',Nanum Gothic,'Dotum',dotum;text-align:center;}
#worldcup .wrd_left_time h5 span{font:32px 'adinenu-bold';}
#worldcup .wrd_left_time .time{color:#fcea1a;text-align:center;}
#worldcup .wrd_left_time .time span{padding-left:110px;background:url(http://image.adidas.co.kr/images/adidas/event/worldcup/bg_dday.png) 0 15px no-repeat;display:inline-block;font:120px/100px 'adinenu-bold';}

#worldcup .wrd_footer{height:60px;background:#fff;}
#worldcup .wrd_footer .wrd_footer_inner{width:950px;margin:0 auto;height:60px;overflow:hidden;} 
#worldcup .wrd_footer h6{float:left;padding-top:9px;font:36px 'adinenu-bold';color:#333;}
#worldcup .wrd_footer dl{float:right;margin-top:21px;font:bold 14px Arial,Helvetica,sans-serif;}
#worldcup .wrd_footer dt{padding:2px 0;margin-right:5px;float:left;color:#333;text-transform:uppercase;}
#worldcup .wrd_footer dd{float:left;}

#worldcup .wrd_footer ul li{float:left;padding:2px 5px;background:url(http://image.adidas.co.kr/images/adidas/event/worldcup/bg_line.gif) right 0 repeat-y;}
#worldcup .wrd_footer ul li.last{background:none;padding-right:0;}
#worldcup .wrd_footer ul li a{color:#999;text-transform:uppercase;}