@import './app/css/adidas/scss/common/mixin.scss';
@import './app/css/adidas/scss/common/common.scss';


#falcon{
	position: relative;

	/***공통***/
	/*일반 버튼*/
	.btn{
		text-align: center;
		a{
			display: inline-block;
			padding: 0 30px;
			// width: 190px;
			text-align: center;
			font:500 16px/50px 'NotoSansKR';
			color:#fff;
			background: #cb961f;
			@include css3(transition, all 0.3s);

			&:hover{
				background: #b6861a;
				transition: all .5s ease-out;
			}
			span{
				display: inline-block;
			    margin-left: 15px;
				width: 30px;height: 12px;
				background: url('/images/adidas/event/falcon/181206/icons_arrow.png') no-repeat;
				background-size: 100% 100%;
			}
		}
	}



	/*그리드 스케일*/
	.grids{
		&:hover{
			img{
				transform: scale(1.08);
				transition: all 5s ease-out;
			}
		}
		/*그리드안에 재생이미지와 내용*/
		.vid{
			a{
				display: inline-block;
				width:101px;
				height: 101px;
				background: url('/images/adidas/event/falcon/181206/play.png') no-repeat;
				background-size: 100% 100%;
				margin-bottom: 27px;
			}
			p{
				font: 700 32px/32px 'adinenuPro-black';
				color:#fff;
				text-align: center;
				color:#fff;
			}
		}
		/*그리드안에 내용*/
		.txt{
			width:100%;
			p{
				font: 700 1.1vw/1.1vw 'NotoSansKR';
				color:#fff;
				line-height: 2vw;
				text-align: center;
				margin-bottom: 20px;
				// letter-spacing: -0.7px;
			}
			span{
				font: 700 1.4vw 'adinenuPro-bold';
				color:#fff;
				display: block;
				text-align: center;
			}
		}
		/*그리드안에 버튼*/
		.btn_in{
			position: absolute;
			bottom:0;
			left: 0;
			width:100%;
			background: #d09a20;
			height: 50px;
			&:hover{
				background: #b6861a;
				transition: all .5s ease-out;
			}
			.in{
				position: relative;
				a{
					display: inline-block;
					width: 100%;
					height: 50px;
					font: 500 16px/16px 'NotoSansKR';
					color: #fff;
					line-height: 45px;
					padding-left: 30px;
				}
				span{
					position: absolute;
					top:17.5px;
					right:30px;
					display: inline-block;
					width: 30px;
					height: 12px;
					background: url('/images/adidas/event/falcon/181206/icons_arrow.png') no-repeat;
					background-size: 100% 100%;
				}
			}
		}
	}


	/***코딩 시작***/
	.main{
		position: relative;
		height: 1084px;
		&.on{
			.content{
				h2{
					left:0;
					@include css3(opacity,1);

				}
				p{
					left:0;
					@include css3(opacity,1);

				}
				.btn{
					left:0;
					@include css3(opacity,1);
				}
			}
		}
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		.content{
			position: relative;
			padding: 396px 0 0 0;
			width: 1190px;
			margin: 0 auto;
			z-index: 2;
			h2{
				position: relative;
				left:-50px;
				padding: 0 0 22px 0;
				text-align: center;
				@include css3(opacity,0);
				@include css3(transition, all 0.5s);
			}
			p{
				position: relative;
				left:-50px;
				padding: 0 0 25px 0;
				text-align: center;
				font:500 18px/18px 'NotoSansKR';
				color:#fff;
				@include css3(opacity,0);
				@include css3(transition, all 0.5s);
				transition-delay: 0.8s;

				&.tle{
					padding: 0 0 30px 0;
					font:600 70px/70px 'NotoSansKR';
					transition-delay: 0.4s;
				}
			}
			.btn{
				position: relative;
				@include css3(opacity,0);
				@include css3(transition, all 1s);
				transition-delay: 1.2s;
			}
		}
	}



	.box1{
		position: relative;
		padding: 70px 0 80px 0;
		&.on{
			p{
				@include css3(opacity,1);
				bottom: 0;
				transition: all .5s ease-out;
			}
			span{
				@include css3(opacity,1);
				bottom: 0;
				transition: all .5s ease-out;
				transition-delay: .2s;
			}
			.btn{
				@include css3(opacity,1);
				bottom: 0;
				transition: all .5s ease-out;
				transition-delay: .6s;
			}
		}
		p{
			font: 700 28px/38px 'NotoSansKR';
			color:#000;
			text-align: center;
			@include css3(opacity,0);
			position: relative;
			bottom:-10px;
		}
		.desc{
			font: 400 28px/28px 'NotoSansKR';
			color:#000;
			display: block;
			text-align: center;
			margin:30px;
			@include css3(opacity,0);
			position: relative;
			bottom:-10px;
		}
		.btn{
			position: relative;
			bottom:-10px;
			@include css3(opacity,0);
		}
	}



	/*그리드 시작*/
	.box2{
		position: relative;
		overflow: hidden;
		width:100%;
		margin: 0 auto;
		&.on{
			.outer{
				@include css3(opacity,1);
				@include css3(transition, all 0.5s);
				bottom: 0;
				// transition-delay: .5s;
			}
		}
		.outer{
			position: relative;
			@include css3(opacity,0);
			@include css3(transition, all 0.5s);
			bottom:-10px;
			.col1{
				overflow: hidden;
				position: relative;
				width:100.1%;
				.wrap{
					width:50%;
					float: left;
					.inner{
						width:50%;
						overflow: hidden;
						float: left;
						&.grid4{
							width:50%;
							overflow: hidden;
						}
						&.grid5{
							width:50%;
							overflow: hidden;
						}
					}
					.inner2{
						width:100%;
						overflow: hidden;
						float: left;
						.grid17{
							width:50%;
							float: left;
							.txt{
								position: absolute;
								top:50%;
								left: 50%;
    							transform: translate(-50%,-50%);
							}
						}
						.grid18{
							width:50%;
							float: left;
							.txt{
								position: absolute;
								top:50%;
								left: 50%;
    							transform: translate(-50%,-50%);
							}
						}
					}
					.grids{
						overflow: hidden;
						position: relative;
						&.fr{
							float: right;
						}
						img{
							width:100%;
						}
						&.grid1{
							width:50%;
							float: left;
							overflow: hidden;
							.txt{
								position: absolute;
								top:50%;
								left: 50%;
    							transform: translate(-50%,-50%);
							}
						}
						&.grid2{
							width:50%;
							float: left;
							overflow: hidden;
						}
						&.grid3{
							width:100%;
							overflow: hidden;
							.vid{
								position: absolute;
								top:50%;
								left: 50%;
								margin-top: -80px;
								margin-left: -158.805px;
								text-align: center;
							}
						}
						&.grid4{
							/*4,5그리드 위쪽 inner에서 사이즈 조절*/
							.vid{
								position: absolute;
								top:50%;
								left: 50%;
								margin-top: -80px;
								margin-left: -106.26px;
								text-align: center;
							}
						}
						&.grid6{
							width:50%;
							float: left;
							overflow: hidden;
							.txt{
								position: absolute;
								top:50%;
								left: 50%;
    							transform: translate(-50%,-50%);
							}
						}
						&.grid10{
							width:100%;
							.txt{
								position: absolute;
								top:50%;
								left: 50%;
    							transform: translate(-72%,-50%);
							}
						}
						&.grid11{
							width:50%;
							.txt{
								position: absolute;
								top:50%;
								left: 50%;
    							transform: translate(-50%,-50%);
							}
						}
						&.grid12{
							width:50%;
							.txt{
								position: absolute;
								top:50%;
								left: 50%;
    							transform: translate(-50%,-50%);
							}
						}
						&.grid13{
							width:50%;
							.txt{
								position: absolute;
								top:50%;
								left: 50%;
    							transform: translate(-50%,-50%);
							}
						}
						&.grid14{
							width:50%;
							.txt{
								position: absolute;
								top:50%;
								left: 50%;
    							transform: translate(-50%,-50%);
							}
						}
						&.grid15{
							width:50%;
							.txt{
								position: absolute;
								top:50%;
								left: 50%;
    							transform: translate(-50%,-50%);
							}
						}
						&.grid16{
							width:50%;
							.txt{
								position: absolute;
								top:50%;
								left: 50%;
    							transform: translate(-50%,-50%);
							}
						}
					}
				}
			}
			.col2{
				overflow: hidden;
				position: relative;
				width:100%;
				.wrap{
					.grids{
						position: relative;
						float: left;
						overflow: hidden;
						img{
							width:100%;
						}
						&.grid7{
							width:25%;
							.vid{
								position: absolute;
								top:50%;
								left: 50%;
								margin-top: -80px;
								margin-left: -106.26px;
								text-align: center;

							}
						}
						&.grid8{
							width:50%;
							.txt{
								position: absolute;
							    top: 50%;
							    right: 0;
							    margin-top: -83px;
							    margin-left: 150px;
								width:initial;
								.inner{
									padding-right: 60px;
								}
							}
						}
						&.grid9{
							width:25%;
						}
					}
				}
			}

		}
	}
	/*그리드 끝*/

	.bottom{
		position: relative;
		p{
			padding: 100px 0 0 0;
			color:#000;
			text-align: center;
			font:600 32px/33px 'NotoSansKR';
			&.hash{
				padding: 10px 0 100px 0;
				font:400 32px 'NotoSansKR';

			}
		}
		.prds_box{
			overflow: hidden;
			width: 960px;
			margin: 0 auto 80px;
			li{
				float: left;
				padding: 10px 5px;
				a{
					display: inline-block;
					transition: 0.4s ease-out;
    				-webkit-transition: 0.4s ease-out;
					img{
						display: block;
					}
					&:hover{
						box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
					}
				}
			}
		}
	}

	.collection{
		position: relative;
		height: 202px;
		text-align: center;
		&.on{
			p{
				left:0;
				@include css3(opacity,1);

			}
			.btn{
				@include css3(opacity,1);
			}
		}
		.bg{
			position: absolute;
			top:0;
			left:50%;
			margin-left: -960px;
		}
		p{
			display: inline-block;
			position: relative;
			left:-50px;
			text-align: center;
			font: 500 42px/202px 'adinenuPro-bold';
			text-transform: uppercase;
			color:#000;
			@include css3(opacity,0);
			@include css3(transition, all 0.5s);


		}
		.btn{
			position: relative;
		    top: -8px;
			display: inline-block;
			margin-left: 25px;
			@include css3(opacity,0);
			@include css3(transition, all 0.5s);
			transition-delay: 0.3s;
			a{
				padding: 0 40px;
				background: #000;
				&:hover{
					background: #fff;
					color:#000;
					transition: all .5s ease-out;
					span{
						background: url('/images/adidas/event/falcon/181206/icons_arrow_b.png') no-repeat;
					}
				}
			}
		}
	}
}
