@import "./app/css/reebok/scss/about.scss";
#contents_wrap{padding: 0;}
.ie{
    .visual_video{
        .video_bg{
            video{
                min-width: 1920px !important;
            }
        }
    }
}
#wrap{
    min-width: 950px;
    overflow: hidden;
    @media screen and(max-width: 950px){
        .products_collection{
            .wide-slider-wrapper{
                .arrow-prev{
                    margin-left: 0;
                    left:0;
                }
                .arrow-next{
                    margin-left: 0;
                    right:0;
                    left:inherit;

                }
            }
        }
    }
}
.campaign_ariana{
    
    .main{
        position: relative;
        height: 650px;
        .bg{
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -990px;
        }
    }
    
}
/* campaign_ariana end */
