@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
html,body{
	height:100%;
}
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
a{
	outline:none;
}
button{
	outline:none;
}
.clearfix{
	clear:both;
	display:block;
	content:'';
}

.inner{
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;	
}

.button_area_v2{
	display: inline-block;
	// width: 145px;
	&:hover{
		div{
			.bg{
				box-shadow: inset 0 0 0 1px #000;
				-webkit-box-shadow: inset 0 0 0 1px #000;
				@include css3(transition, all 0.5s);
			}
			a{
				color: #fff;
				background: #000;
				@include css3(transition, all 0.5s);

				span.arrow{
					background: #fff;
					@include css3(transition, all 0.5s);
					em{
						background: #fff;
						@include css3(transition, all 0.5s);
					}
				}

			}
		}
	}
	a{
		padding:0 20px;
		font: 600 15px/49px 'NotoSansKR';
		letter-spacing: 1px;
		span.arrow{
			margin-left: 15px;
		}
	}
}

@mixin cont_txt {
	font:300 18px/28px 'NotoSansKR';
	letter-spacing:0;				
	text-align:left;				
	color:#f2f534;				
}

#golf{
	.main{
		.video_01{
			position:relative;
			>img{
				width:100%;
				position:relative;
			}
			.video_btn{
				position:absolute;
				left:50%;
				top:50%;
				transform:translate(-50%,-50%);
				button{
					background:url('/images/adidas/2021/event/golf/play_btn.png');
					background-size:100%;
					width:108px;
					height:120px;
					border:0;
				}
			}				
		}
		.main_txt{
			padding:60px 0;
			text-align:center;
			color:#111;
			h1{
				font:900 62px/62px 'NotoSansKR';
				letter-spacing:0;
				text-align:center;
				>span{
					font:900 45px/40px 'NotoSansKR';
				}
			}
			p{
				font:500 28px/40px 'NotoSansKR';
				letter-spacing:0;				
				text-align:center;
				padding:15px 0 30px 0;
			}
		}
	}
	.all_cont{
		&.active{
			opacity:1;
			margin-top:0;
			.cont1_wrap{
				.cont1_contents{
					opacity:1;
					margin-top:0;
				}
				.cont2_contents{
					opacity:1;
					margin-top:0;
				}				
			}
			.cont2_wrap{
				.cont1_contents{
					opacity:1;
					margin-top:0;
				}
				.cont2_contents{
					opacity:1;
					margin-top:0;
				}				
			}		
			.cont3_wrap{
				h2{
					opacity:1;
					margin-top:0;
				}				
			}					
		}
		.all_cont_wrap{
			position:relative;
			>img{
				width:100%;
				display:block;
			}
			.cont1_contents{
				position:absolute;
				left:24%;
				top:67.5%;			
				transform:translate(-50%,-50%);
				opacity:0;
				transition:all 0.6s;
				width:33.5%;
				img{
					width:100%;
				}
				h2{
					padding:0 0 60px 0;
					width:100%;
				}
				p{
					margin-left:20px;
					width:100%;
					transition-delay:0.5s;
					>img{
						width:66.5%;
					}
				}
			}
			.cont2_contents{
				position:absolute;
				right:-42%;
				top:90%;			
				transform:translate(-50%,-50%);
				opacity:0;
				margin-top:40px;
				transition:all 0.5s;	
				transition-delay:0.2s;
				width:33.5%;					
			}
		}
	}
	.cont3_wrap{
		position:relative;
		.cont3_contents{
			position:absolute;
			left:12%;
			top:12%;			
			transform:translate(-50%,-50%);
			opacity:1;
			margin-top:40px;
			transition:all 0.5s;	
			transition-delay:0.1s;
			width:15.4%;					
			img{
				width:100%;
			}
			p{
				width:100%;
				padding:15px 0 0 0;
				>img{
					width:146.5%;
				}
			}
		}		

		.cont4_contents{
			position:absolute;
			right:-11%;
			top:19%;			
			transform:translate(-50%,-50%);
			// opacity:1;
			width:24.7%;	
			img{
				width:100%;
			}
			h2{
				opacity:0;
				margin-top:60px;
				transition:all 0.5s;	
				transition-duration:0.7s;
				transition-delay:0.2s;				
				>img{
					width:80%;
				}
			}
			p{
				padding:40px 0 0 0;
				@include cont_txt;
			}
		}		

		.cont5_contents{
			position:absolute;
			right:27.5%;
			top:58%;			
			transform:translate(-50%,-50%);
			// opacity:1;
			width:20.7%;	
			img{
				width:100%;
			}
			h2{
				opacity:0;
				margin-top:60px;
				transition:all 0.5s;	
				transition-duration:1.2s;
				transition-delay:0.3s;				
			}
			p{
				padding:40px 0 0 0;
				@include cont_txt;
			}
		}	

		.cont6_contents{
			position:absolute;
			right:12.5%;
			top:82%;			
			transform:translate(-50%,-50%);
			// opacity:1;
			width:24.7%;	
			
			img{
				width:45%;
			}
			h2{
				opacity:0;
				margin-top:60px;
				transition:all 0.5s;	
				transition-duration:1.6s;
				transition-delay:0.4s;				
				text-align:right;
				>img{
					width:37%;
				}
			}
			p{
				padding:40px 0 0 0;
				@include cont_txt;
				text-align:right;
			}
		}					
	}

	.tab_wraps{
		background:url('/images/adidas/2021/event/golf/tab_bg.jpg');	
		background-size:100% 100%;
		background-repeat:no-repeat;
		.tab_btn{
			padding:50px 0 0 0;
			ul{
				background:#749499;
				max-width:1200px;
				margin:0 auto;
				text-align:center;
				overflow: hidden;
	
				li{
					vertical-align:top;
					text-align:center;
					width:33.3333333333%;
					position:relative;
					float:left;
					// display:inline-block;
					a{
						display:block;
						background:#749499;
						p{
							font:900 43px/55px 'adihausDIN-Cond-bold';	
							color:#fff;
							height:90px;
							line-height:75px;		
							text-align:center;
							text-transform:uppercase;
							letter-spacing:1px;
							position:relative;
							border-bottom:3px solid #f2f534;
							box-sizing:border-box;
							&:before{
								content:'';
								display:block;
								position:absolute;
								left:50%;
								bottom:10px;
								width:23px;
								height:15px;
								background:url('/images/adidas/2021/event/golf/arrow.png');
								background-repeat:no-repeat;
								margin-left: -11.5px;
							}						
							&.on{
								color:#f2f534;
								border:3px solid #f2f534;
								border-bottom:#749499;
								box-sizing:border-box;
								&:before{
									content:'';
									display:block;
									position:absolute;
									left:50%;
									bottom:10px;
									width:23px;
									height:15px;
									background:url('/images/adidas/2021/event/golf/arrow_2.png');
									background-repeat:no-repeat;
									margin-left: -11.5px;
								}															
							}
						}
						&:hover{
							p{
								color:#f2f534;
								&:before{
									content:'';
									display:block;
									position:absolute;
									left:50%;
									bottom:10px;
									width:23px;
									height:15px;
									background:url('/images/adidas/2021/event/golf/arrow_2.png');
									background-repeat:no-repeat;
									margin-left: -11.5px;
								}								
							}
						}
					}
				}
	
				:nth-child(2){
					background:#5e6e74;
					a{
						background:#5e6e74;
						p{
							&.on{
								&:before{
									
								}
							}
						}
					}
				}
			}
		}
		.tab_con{
			position:relative;
			padding:0 0 40px 0;
			height:310px;
			.tab__content{
				// opacity:0;
				// padding-top:0;
				// position:absolute;left:50%;top:0;
				// transform:translateX(-50%);
				// z-index:0;			
				// padding-top:0;
				width:100%;
				z-index:0;
				display:none;
				div{
					position: relative;
					>img{
						border:3px solid #f2f534;
						border-top:0;
						box-sizing:border-box;
						display:block;		
						width:100%;							
						position:relative;
						&:before{
							content:'';
							display:block;
							position:absolute;
							left:0;
							bottom:0;
							width:99%;
							height:20px;
							background:#111;
						}						
					}
	
				}
				&.current{
					// opacity:1;
					transition:all 2s;
					z-index:1;
					display:block;
					img{
						// width:100%;
						// border:2px solid #f2f534;
						
					}				
				}
	
			}		
			
		}	
	
		.tab_txt{
			text-align:center;
			color:#111;
			padding:10px 0 70px 0;
			
			h3{
				font:900 40px/40px 'NotoSansKR';
				letter-spacing:0;
				text-align:center;			
			}
			.button_area_v2{
				margin:35px 0 0 0 ;
			}
		}		
	}	
}