@import './front/css/adidas/scss/common/mixin.scss';
@import './front/css/adidas/scss/common/common.scss';
#wrap{
	min-width: 1190px;
	overflow: hidden;
}
#superstar {
	position: relative;
	background: #f4ece8;
	.button_area_v2{
		&:hover{
			div{
				.bg{
					box-shadow: inset 0 0 0 1px #000;
    				-webkit-box-shadow: inset 0 0 0 1px #000;
					@include css3(transition, all 0.5s);
				}
				a{
					color: #fff;
				    background: #000;
					@include css3(transition, all 0.5s);

					span{
						background: #fff;
						@include css3(transition, all 0.5s);
						em{
							background: #fff;
							@include css3(transition, all 0.5s);
						}
					}

				}
			}
		}
		a{
			letter-spacing: 1px;
		}
	}

	.main{
		position: relative;
		video{
			display: block;
			width: 100%;
		}
		a.play-video{
			display: inline-block;
			position: absolute;
			bottom: 5%;
			left: 50%;
			transform: translateX(-50%);
			font: 500 16px/16px 'NotoSansKR';
			color: #fff;
			text-decoration: underline;
			z-index: 3;
		}
	}

	.state{
		position: relative;
		padding: 100px 0;
		background: #f4ece8;
		text-align: center;
		p{
			font: 500 20px/32px 'NotoSansKR';
			color: #000;
			text-align: center;
		}
		.button_area_v2{
			margin-top: 40px;
			display: inline-block;
			a{
				padding: 0 20px;
			}
		}
	}

	.contents{
		.vid_cont{
			position: relative;
			&.vid_cont1{
				margin-bottom: 30px;
			}
			video {
				display: block;
				width: 100%;
			}
			.buy_box{
				position: absolute;
				top: 0;
				left: 50%;
				width: 36.4583%;
				z-index: 3;
				p{
					font: 500 18px/28px 'NotoSansKR';
					color: #000;
					word-break: keep-all;
				}
				.button_area_v2 {
					margin-top: 30px;
					display: inline-block;
					a {
						padding: 0 20px;
					}
				}
			}
		}
		.team_cont{
			padding: 70px 0 120px;
			.txt_area{
				width: calc(1200px - 30px);
				margin: 0 auto;
				h3 {
					font: 500 30px/30px 'adinenuPro-bold';
					color: #000;
					text-transform: uppercase;
				}

				>p {
					padding: 15px 0 45px;
					font: 500 20px/20px 'NotoSansKR';
					color: #000;
				}
			}
			ul{
				overflow: hidden;
				width: 1200px;
				margin: 0 auto;
				li{
					float: left;
					margin: 0 15px;
					a{
						display: block;
						cursor: default;
						img{
							display: block;
							width: 100%;
						}
						>p{
							padding: 20px 5px;
							font: 500 16px/26px 'NotoSansKR';
							color: #000;
						}
					}
				}
			}
		}
	}

	.vid_bottom{
		position: relative;
		video {
			display: block;
			width: 100%;
		}
	}
}
