@import "./front/css/reebok/scss/about.scss";
#wrap{
    overflow: hidden;
    min-width: 980px;
}
.ie{
    .sect_count{
        display: none;
    }
}
#contents_wrap{
    background: #fff;
}

.btn{
	display: inline-block;
	>div{
		position: relative;
		&::before{
            border-bottom: 1px solid #fff;
            border-left: 1px solid #fff;
            bottom: -4px;
            height: 3px;
            left: 3px;
            width: calc(100%);
            content: "";
            display: block;
            position: absolute;
		}
		&::after{
            border-right: 1px solid #fff;
            border-top: 1px solid #fff;
            height: calc(100% + 1px);
            right: -4px;
            top: 2px;
            width: 3px;
            content: "";
            display: block;
            position: absolute;
        }
		a{
			width: 170px;
			font: 700 14px/44px 'NotoSansKR';
			letter-spacing: 0;
			position: relative;
			display: block;
			text-align: center;
			height: 46px;
			color: #000;
			background:#fff;
			z-index: 2;
			border: 1px solid #fff;
			.arrow{
				margin-left: 40px;
                vertical-align: middle;
                color: #000;
			}
		}
	}
}

.campaign_bf{

    >div{
        .bg_wrap{
            position: absolute;
            top:0;
            left: 50%;
            width: 1920px;
            transform:translateX(-50%);
        }
    }

    .visual_main{
        position: relative;
        height: 720px;
    }

    .sect_count{
        position: relative;
        height: 478px;
        .count_wrap{
            position: absolute;
            width: 100%;
            #countdown{
                margin: 220px auto 0;
                width: 1000px;
                ul{
                    overflow: hidden;
                    li{
                        float: left;
                        width: 25%;
                        h3{
                            font: 700 100px/100px 'neueplak-ext';
                            color: #000;
                            text-align: center;
                            padding-bottom: 10px;
                        }
                        p{
                            font: 300 35px/35px 'neueplak-wide';
                            color: #000;
                            text-transform: uppercase;
                            text-align: center;
                        }
                    }
                }
                h2{
                    font: 700 100px/100px 'neueplak-ext';
                    color: #000;
                    text-align: center;
                }
            }
        }
    }

    .section_state{
        position: relative;
        height: 550px;
        &.on{
            .txt_wrap{
                h2{opacity: 1; padding-left: 0;}
                h3{opacity: 1; padding-left: 0;}
                p{opacity: 1; padding-left: 0;}
                .btn{opacity: 1; margin-left: 0;}
            }
        }
        .txt_wrap{
            // outline: 1px solid #fff;
            width: 1280px;
           
            position: absolute;
            top: 40%;
            left: 50%;
            transform:translate(-50%, -50%);
            text-transform: uppercase;
            text-align: center;
            h3{        
                font: 900 50px/60px 'NotoSansKR';
                color:#fff;
                text-transform: uppercase;
                text-align: center;

                opacity: 0;
                transition: all .6s;
            }     
            p{
                padding: 25px 0;
                font: 24px 'NotoSansKR';
                color:#fff;
                text-align: center;
               
                opacity: 0;
                transition: all .6s;
                transition-delay: 0.4s;
            }
            .btn{
                opacity: 0;
                transition: all .6s;
                transition-delay: 0.6s;
                >div{
                    position: relative;
                    &::before{
                        border-color: #000;
                    }
                    &::after{
                        border-color: #000;
                    }
                    a{
                        background: #000;
                        border-color: #000;
                        color: #fff;
                    }
                }
            }
        }
    }

    .section_cont{
        position: relative;
        height: 2016px;
    }

    .section_join{
        position: relative;
        height: 887px;
        video{
            display: block;
            width: 100%;
        }
        &.on{
            .txt_wrap{
                h2{opacity: 1; padding-left: 0;}
                h3{opacity: 1; padding-left: 0;}
                p{opacity: 1; padding-left: 0;}
                .btn{opacity: 1; margin-left: 0;}
            }
        }
        .txt_wrap{
            // outline: 1px solid #fff;
            width: 1280px;
           
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%, -50%);
            text-transform: uppercase;
            text-align: left;
            h3{        
                font: 900 50px/60px 'NotoSansKR';
                color:#fff;
                text-transform: uppercase;

                opacity: 0;
                transition: all .6s;
            }     
            p{
                padding: 25px 0 50px;
                font: 18px 'NotoSansKR';
                color:#fff;
               
                opacity: 0;
                transition: all .6s;
                transition-delay: 0.4s;
            }
            .btn{
                opacity: 0;
                transition: all .6s;
                transition-delay: 0.6s;
            }
        }
    }

    .section_bottom{
        position: relative;
        height: 302px;
    }
}
