@import "./front/css/reebok/scss/about.scss";

/* common */
#wrap {
	min-width: 1190px;
	overflow: hidden;
}

html,
body {
	height: 100%;
}

.holiday_2020_01_wrap {
	position: relative;
	overflow: hidden;
}

.ct100 {
	height: 100%;
	position: relative;

	img {
		width: 100%;
	}
}

.ct {
	position: relative;
	height: 1160px;
}

.box {
	&:nth-child(2) .ct {
		height: 820px;
	}

	&:nth-child(3) .ct {
		height: 907px;
	}

	&:nth-child(4) .ct {
		height: 935px;
	}
}

.symmetry {
	position: absolute;
	left: 50%;
	margin-left: -960px;

	img {
		display: block;
	}
}

.box .ct .txt {
	position: absolute;
	top: 455px;
	left: 64%;
	transform: translateX(-50%);
	white-space: nowrap;

	h1 {
		font: 900 70px/84px 'neueplak-ext';
		color: #fff;
	}

	span {
		font: 900 26px/32px 'neueplak-ext';
		color: #fff;
	}

	p {
		font: 700 21px/26px 'NotoSansKR';
		color: #fff;
		margin: 30px 0 0 0;
	}

	.btn {
		margin: 38px 0 0 0;
	}
}

.btn {
	display: inline-block;

	>div {
		position: relative;

		&::before {
			border-bottom: 1px solid #fff;
			border-left: 1px solid #fff;
			bottom: -4px;
			height: 3px;
			left: 3px;
			width: calc(100%);
			content: "";
			display: block;
			position: absolute;
		}

		&::after {
			border-right: 1px solid #fff;
			border-top: 1px solid #fff;
			height: calc(100%);
			right: -4px;
			top: 3px;
			width: 3px;
			content: "";
			display: block;
			position: absolute;
		}

		a {
			width: auto;
			font: 500 14px/48px 'NotoSansKR';
			letter-spacing: 0;
			position: relative;
			display: block;
			padding: 0 20px;
			text-align: center;
			height: 50px;
			color: #000;
			background: #fff;
			z-index: 2;
			border: 1px solid #fff;
			letter-spacing: 0.7px;
			transition: 0.4s;

			.arrow {
				display: inline-block;
				width: 24px;
				height: 11px;
				margin-left: 25px;
				background: url(/images/reebok/2019/event/interval_og/arrow.png) no-repeat;
			}
		}
	}
}